[2020-05-09 10:47] camilamacedo86 commented on #686
It was requested here a well: https://github.com/kubernetes-sigs/kubebuilder/issues/1446

[2020-05-09 10:48] camilamacedo86 commented on #1446
/assing @camilamacedo86
/close

[2020-05-09 10:48] #1446 closed

[2020-05-09 10:48] feloy commented on #1509
Thanks @camilamacedo86 for your feedback. I close the ticket

[2020-05-09 10:48] #1509 closed

[2020-05-09 10:48] camilamacedo86 commented on #1446
/assign @camilamacedo86

[2020-05-09 11:06] camilamacedo86 commented on #909
Hi folks,

I understand that intentionally we use a specific dep version which was tested. However, if users would like they are able to customize the Makefile in their project as their wish and in this way change the version used by default. ( See the comment made above as well https://github.com/kubernetes-sigs/kubebuilder/issues/909#issuecomment-527559888 )However, it is up to the user to ensur

[2020-05-09 11:06] #909 closed

[2020-05-09 11:16] camilamacedo86 commented on #1225
Kubebuilder uses the controller-runtime so it is something that would need to be implemented/provided there and then, will be available to kubebuilder when it is using the release version with the solution.  Also, as @yeya24  point out shows that we have a PR already for that there.

@yeya24 @gaocegege could you please follow up this PR and raise this need in kubernetes-sigs/controller-runtime ?

[2020-05-09 11:16] #1225 closed

[2020-05-09 11:20] camilamacedo86 commented on #1357
/assign @camilamacedo86

[2020-05-09 11:23] camilamacedo86 commented on #1357
HI @mengqiy,

It was done  here: https://github.com/kubernetes-sigs/kubebuilder/pull/1432
Also, in order to give more visibility, the book/docs have a link for the contribution guidelines a well done in https://github.com/kubernetes-sigs/kubebuilder/pull/1494.

So. I understand that your request made here is done. I am closing this one, however, please feel free to re-open and/or open another and

[2020-05-09 11:23] #1357 closed

[2020-05-09 11:35] camilamacedo86 commented on #1429
IHMO is better we try to keep the things as simple as possible but we need to allow users to customize it as they wish. Also, if someone has too much concern could indeed not allow doing the download and instead, use what is available in the machine already.

We have also the RFE:https://github.com/kubernetes-sigs/kubebuilder/issues/1351

So, I think we could close this one. WDYT? Feel free to kee

[2020-05-09 16:58] bijugs commented on #1002
@Skarlso , If you have ``controller-gen`` file under ``$GOBIN`` delete it and try ``create api`` again. If your ``$GOBIN`` is not set it defaults to ``$GOPATH/bin``. Hope this helps.

[2020-05-09 19:15] champak opened #1512 "Use of client-go vs controller-runtime APIs for rbac objects"
Hi folks,
I am interested in manipulating RBAC rules from within a kubebuilder controller. The client go APIs for rbac looked convenient. I could not tell for sure if the controller-runtime has support for manipulating rbac objects like rules/bindindings with the <>.Create <>.Delete etc. APIs that can be used for core objects like Pods. Does it ? Else is using client-go within kubebuilder a reason

[2020-05-10 05:19] Skarlso commented on #1002
Turns out I had to build the project and use that binary me self. So now it works. 😊

[2020-05-10 06:33] tamalsaha opened #1513 "Kubebuilder validation markers are documented multiple times"
Kubebuilder book defines the same marker multiple times. https://book.kubebuilder.io/reference/markers/crd-validation.html

Is that by mistake? If yes, can you please fix this? It is very confusing to a new user of these markers.

/kind bug

[2020-05-10 10:58] #1429 closed

[2020-05-11 01:35] gaocegege commented on #1225
SGTM. Thanks for your reply.

[2020-05-11 15:42] chenwng commented on #1381
@camilamacedo86 Thanks for your answer. You are right about idempotent. But I actually checked the resource before creating new one. The problem here is about the cache. The cache is not always up to date. I found following faq in the controller runtime repo, which describes the exact issue I was facing and provides some useful suggestions.

I put the link here, in case anyone has the same doubt i

[2020-05-12 01:25] aryann commented on #1466
I am also running into this problem.

@chenyg0911 could you share with me the command you used to downgrade your Kubernetes APIs?

I've included my go.mod and the errors I'm getting running `make install`.

[code]

[code]

[2020-05-12 01:44] aryann commented on #1466
Oops... I didn't read the error message well enough and didn't realize that the problem is with the server version of Kubernetes, not the linked Go libraries.

I restarted my `minikube` using:

[code]

as a workaround.

[2020-05-12 16:24] ifilonenko opened #1514 "Webhook Defaulter does not throw error"
[code]

There is no way to catch errors that occur from mutations that you wish to apply. Example, say you wish to grab information from the ownerReferences and apply some kind of default mutation. As a result of the return type, there is no way to catch a `k8sClient()` error

kubebuilder version: v0.6.0 (master)

/kind bug

[2020-05-12 18:42] camilamacedo86 commented on #1279
/assing @camilamacedo86

[2020-05-12 18:43] camilamacedo86 commented on #1279
/assign @camilamacedo86

[2020-05-12 19:19] champak commented on #1512
Turned out the controller runtime client is not too limiting. Also considered core k8s rbac module which I think has better APIs but consuming core k8s packages is still painful. Closing.

[2020-05-12 19:19] #1512 closed

[2020-05-12 20:24] #1438 closed

[2020-05-13 08:25] Adirio commented on #1279
I listed them to remember we need to do it but I don't have enough knowledge of the inner workins of how the documentation is generated to really know if those files are being used somewhere or they aren't.

[2020-05-13 08:56] camilamacedo86 commented on #1279
HI @Adirio,

Sorry, shows that have some misunderstand. Following some comments inline order to clarify.
- The first item of the list is duplicated of #1251. So, IMO should not be here
- The second list of the item is `/docs/book/src/migration/testdata` which shows quite safe be removed at this point. See:  https://github.com/kubernetes-sigs/kubebuilder/pull/1499
- IMO: I should not migrate to the

[2020-05-13 10:30] Adirio commented on #1279
Yeah, I understood you correctly. What I mean is, if we have the migration guide (v1->v2) we keep the corresponding testdata folder, if we remove that guide we remove the folder.

[2020-05-13 14:48] camilamacedo86 commented on #1279
added all detailed reasons why in POV is quite safe to delete the example of a V1 project that is just used in the migration guide from V1 to V2 in the PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1499#issuecomment-628038450

[2020-05-14 18:18] camilamacedo86 commented on #932
Hi @DirectXMan12,

I have been thinking about it. Personally, I do not believe that it could be addressed in the plugins phase 2 because who is asking it are the end-users who are looking for to use the Kubebuilder tool to scaffold the projects in this layout. Then, the plugins are useful for who is looking for this project as a lib to create their tools extending it such as SDK.

Also, I think th

[2020-05-14 18:31] camilamacedo86 commented on #1268
Hi @jaypipes,

The items:

Were addressed by command tool. You can use `kb edit multigroup=true` and then it will allow yu scaffold the APIs in this format. See: https://book.kubebuilder.io/migration/multi-group.html?highlight=multi#single-group-to-multi-group

Regards:

Then it relates to #932 as well as said.

@DirectXMan12,

Note that this change was made from V1 to V2 with the purpose to make

[2020-05-14 21:14] bharathi-tenneti opened #1517 "Bind log configuration flags by default in main.go"
Description:
Update the `main.go` scaffold code to configure log options from command line flags via [`zap.BindFlags()`](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/log/zap/zap.go#L219)
Example:
[code]
This way, the log options can be configured at runtime via flags in the manager’s deployment manifest e.g:
[code]
/kind feature

[2020-05-15 00:26] camilamacedo86 commented on #1384
Hi @Adirio,

I have thought more about this issue and I am not sure if we should do that. See that by default the common practice is to add comments as `// mycomment` with space. Also, note that it has the marker `# ` as well, so this change would not be consistent.

also, could you add please add the link for we are able to check this Go convection?

[2020-05-15 00:30] camilamacedo86 commented on #1513
Hi @tamalsaha,

Could you please give an example of what marker is defined duplicated? See that, for example, the marker `kubebuilder:validation:MaxItems` is not equals `kubebuilder:validation:MaxLength` and the idea here is to allow users to check all options.

[2020-05-15 00:31] gclawes commented on #1231
/remove-lifecycle rotten

[2020-05-15 01:48] hasbro17 commented on #1513
Pretty much the entire block of markers is duplicated after `//+optional` from what I can see.
Might be something with the marker generation script.

[2020-05-15 01:49] hasbro17 commented on #1513
/kind documentation

[2020-05-15 02:11] hasbro17 opened #1518 "Add envtest example for CronJob controller"
As I was reading the docs for envtest I see the following:

I assume `more documentation` probably meant the following sub-section that was added later on which covers the setup and configuration of envtest but references no example test for users to look at.
https://book.kubebuilder.io/reference/testing/envtest.html

While the Azure Databricks Operator example seems sufficient I was wondering if

[2020-05-15 02:18] hasbro17 commented on #1518
/remove-kind feature

[2020-05-15 02:19] hasbro17 commented on #1518
/cc @mengqiy

[2020-05-15 08:59] camilamacedo86 opened #1519 "Add in the contribution guide purpose of versions"
Currently, we have:
- the PROJECT version (v1,v2,v3)
- the release CLI version (1.0.0, 2.0.0)
- and now we will have the plugin's version (dir V2 and 2.0.0)

This task is for we clarify its purpose and how to work with them. This section should address the answer for questions such as:  When should I as a contributor bump a new plugin version or not?  When should I as contributor create a v3 plugi

[2020-05-15 08:59] camilamacedo86 commented on #1519
/kind documentation

[2020-05-15 09:01] camilamacedo86 commented on #1519
Hi @DirectXMan12 @mengqiy @estroz,

wdyt? Have you inputs that you think would be valuable to be added on it.

[2020-05-15 19:58] camilamacedo86 commented on #1513
I see what you mean 👍 . Note that first, all options are (on field) then it has (on type).
However, I agree that it is something that requires attention.

[2020-05-15 22:20] DirectXMan12 commented on #932
Plugins phase 2 will most likely involve out-of-tree plugins.  That means that we could have an example plugin for "scaffold under pkg".

I'm not following, can you clarify here?  Under what we've brainstormed for phase 2, this should be fairly trivial -- receive the world object, rewrite all `.go` path keys to have the extra `pkg` (except `/main.go`, which goes, under `cmd`), and then fix up the

[2020-05-15 22:22] DirectXMan12 commented on #1268
let's centralize on #932 for those discussions.

[2020-05-15 22:22] #1268 closed

[2020-05-17 09:54] camilamacedo86 commented on #932
Hi @DirectXMan12,

So, your idea is that the user could choose, I mean have an option in the KB commands to choose the plugin option to do scaffold as A or B or C. Am I right? Then, I agree that if other tools extending it also would still able to work with the N available options.

[2020-05-18 07:12] gabbifish commented on #1518
I’ve been working on docs for a generalized approach to envtest in the context of writing tests for the CronJob example :) Planning on opening a PR for it tomorrow morning, and I’ll reference it here. (It will be my first kubebuilder project PR so I will especially appreciate feedback/guidance on it).

[2020-05-19 02:39] caneGuy opened #1522 "can we add more detailed example in metrics doc?"
After following https://book.kubebuilder.io/reference/metrics.html?highlight=metr#metrics i can not see the registered metrics on prometheus UI. Some suggestion:
1.  add a ServiceMonitor yaml example?
2.  add a complete example for additional metrics?
3. the picture in the doc only show original metrics of prometheus.IIUC, all the metrics can also be seen if we do not deploy a servicemonitor

[2020-05-19 02:40] caneGuy commented on #1522
@camilamacedo86 thanks!

[2020-05-19 03:09] caneGuy commented on #1253
Would also like to point out that the check for the operator metrics given in the comments does not show any of the actual operator metrics, just other metrics from that namespace. No idea if the actual operator metrics do show up in that check, but I had just been checking the prometheus targets that the operator target was up and did not have any errors.

this is also my question

[2020-05-19 11:02] camilamacedo86 commented on #1522
HI @caneGuy,

It is not clear for me if you are looking for improvements in the docs based on your experience following it or help to achieve your goal and use the Prometheus Operator to export the metrics. Could you please let us know?

Also, if you are looking for help with, could you please to provide the following info:

Also, did you installed the Prometheus Operator? If yes, did you follow y

[2020-05-19 13:13] bharathi-tenneti commented on #1517
/cc @hasbro17 @mengqiy

[2020-05-20 00:21] estroz commented on #1496
You have a typo in your marker:
[code]

This will append a `Role` to `role.yaml`.

[2020-05-20 14:25] camilamacedo86 commented on #1496
HI @estroz,

You are right. the data in the issue has a typo issue. However, fix the typo did not fix the issue. This scenario is reproducible with the testdata in the lube project. See:

<img width="1318" alt="Screenshot 2020-05-20 at 15 22 34" src="https://user-images.githubusercontent.com/7708031/82457904-ec23a480-9aad-11ea-9fae-1b165815d826.png">

Steps:
- Go there in the testdata and change t

[2020-05-20 15:07] estroz commented on #1496
Ah then this is a feature request for controller-gen not a bug in kubebuilder.

[2020-05-20 22:30] estroz commented on #1378
/lifecycle frozen

[2020-05-20 23:32] camilamacedo86 commented on #1496
I am not sure if it is not a bug in the controller-gen. As described in the issue:

[2020-05-21 20:41] estroz commented on #1519
Summary from kubebuilder/controller-runtime/controller-tools biweekly meeting today:
* Configuration (`PROJECT` file) version was used to inform on scaffolding version up to and including `version: "2"`. Now configuration version only informs on the configuration spec.
	* Only changes to this spec will merit a configuration version bump.
* Plugin version, ex. the semver in key `go.kubebuilder.io/v

[2020-05-22 00:22] camilamacedo86 commented on #1519
Missing just add that until we support v2 projects and have v2 code in the project then, new major bump plugins versions ( breaking changes ) cannot affect the V2 projects.

I will get this one and try to come up with simplified info in the Contribution Guide and then, we can discuss the open questions in the pr if required. I will need your collab with to check and help me shape that :-)

/assign

[2020-05-24 17:47] #1074 closed

[2020-05-26 02:31] cheng1li commented on #1112
In my env, this happens when I run two controller instances ( one runs in a pod by `make deploy`, and the other is run by `make run`).

[2020-05-26 22:00] camilamacedo86 opened #1525 "controller-gen is unable to work with addons projects."
## Bug

When addon projects, such as follows are scaffolded, the go mod is updated with the latest version/commit of module [kubernetes-sigs
/kubebuilder-declarative-pattern](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern). The module has not been working with releases/tags and kb is not scaffolding a specific version and then, after the commit/version `v0.0.0-20200512162422-ce

[2020-05-26 22:00] camilamacedo86 commented on #1525
/bug

c/c @DirectXMan12 @mengqiy @estroz @hasbro17 @joelanford

[2020-05-26 22:00] camilamacedo86 commented on #1525
/assign @camilamacedo86

[2020-05-26 22:06] camilamacedo86 commented on #1525
I am pushing the PR with the fix.

[2020-05-26 22:28] camilamacedo86 opened #1526 "Plugins are not supporting multi-project version"
**What did you do?**
Implement a MAJOR plugin version with breaking checkings supported ONLY for V3 Project layouts. See: https://github.com/kubernetes-sigs/kubebuilder/pull/1498

**What did you expect to see?**

- When I run the KB commands for V2 PROJECT version the upper plugin versions which is supported by V2 projects be used.
- When I run the KB commands for V3 PROJECT version the upper plug

[2020-05-26 22:28] camilamacedo86 commented on #1526
c/c @estroz

[2020-05-26 23:55] camilamacedo86 commented on #1525
I checked that stuck behaviour:

- It was related to my local Go cache env. After cleaning it worked.

However, it will break the CI. Any change in the repo will change the go.mod scaffolded by default and also can result in a breaking change.

[2020-05-27 20:22] champak opened #1529 "Using conversion-gen with multi-versioning"
Hi folks,
I have been wondering if there is an effective means for using conversion-gen to generate the conversions for the "rote conversions" as described at https://book.kubebuilder.io/multiversion-tutorial/conversion.html . It is of course possible to write up all conversions copying over most of the unchanged src spec to the dest but can get tedious (leading to typos !) with large CRDs with st

[2020-05-27 22:38] DirectXMan12 commented on #686
The remaining things to do here are to rev the release process and maybe add a little helper to the kb binary to download different deps.  We already release a standalone copy of the deps, so we just need to to tweak the main process.

[2020-05-27 22:38] DirectXMan12 commented on #686
/good-first-issue

[2020-05-27 22:39] DirectXMan12 commented on #686
For what I'd look for in the download deps: list from GCS bucket's XML response, convert to version when possible, falling back to straight names in case we change the format, download to location specified in the `KUBEBUILDER_ASSETS` env variable, potentially with a separate folder per version.

[2020-05-27 22:40] DirectXMan12 commented on #686
don't do this automatically -- have a separate command.  Do warn on `kb init` if we can't find them.  Also, I'd probably say we should still ship a combined bundle too, just to make things easy, but I could be convinced otherwise.

[2020-05-28 22:04] champak opened #1531 "CRD embedded ObjectMeta preservation during version conversion"
I ran into an issue with converting CRDs between versions with kubebuilder 2.2.0. This CRD has embedded native types in the spec like services, pods etc. First I got complaints about  "preserveUnknownFields" : spec.conversion.strategy: Invalid value: "Webhook": must be None if spec.preserveUnknownFields is true. I got around that with setting "preserveUnknownFields" to false in the webhook patch t

[2020-05-29 17:33] #1500 closed

[2020-05-29 18:37] #1474 closed

[2020-05-29 19:32] luisdavim commented on #400
Is there an example how to use https://github.com/kubernetes-sigs/controller-runtime/pull/787 ?

[2020-05-29 19:32] luisdavim commented on #400
/remove-lifecycle rotten

[2020-05-29 23:53] camilamacedo86 opened #1534 "unable to have the same plugin with different versions"
The error `two plugins have the same name` is faced when we try to have more than 1 version of the same plugin implemented in the project. Exemplo: `go.kubebuilder.io/v2.0.0` and `go.kubebuilder.io/v2.0.0`

PS.: Related to [Extensible CLI and Scaffolding Plugins](https://github.com/kubernetes-sigs/kubebuilder/blob/master/designs/extensible-cli-and-scaffolding-plugins-phase-1.md)

/kind bug

[2020-05-29 23:54] camilamacedo86 commented on #1534
/assign @camilamacedo86

c/c @estroz

[2020-05-30 01:53] camilamacedo86 commented on #1526
/assign @camilamacedo86

[2020-05-30 02:34] camilamacedo86 commented on #1519
Hi @estroz @joelanford,

I forget to put a hold in the doc and it gets merged after a few reviews. We can do a follow up as well as always.

I will re-open the issue at for you are both are able to check and let us know if you think that still something that needs to be addressed here.

/reopen

[2020-05-30 19:11] #1534 closed

[2020-05-31 13:00] camilamacedo86 commented on #1526
/kind bug

HI, @estroz I updated the issue description because I notice that it was not clear enough. I hope that the scenario is better clarified.

[2020-06-01 09:07] zehuaiWANG commented on #1501
@camilamacedo86 hi~ I have the same problem，is that any solution？

[2020-06-01 21:36] camilamacedo86 opened #1543 "make addon be an plugin"
We probably want to follow up with the addon folks to see what's going on there, and eventually turn this into a proper plugin with plugins stage two
From: https://github.com/kubernetes-sigs/kubebuilder/pull/1527#issuecomment-637103722

[2020-06-01 21:37] camilamacedo86 commented on #1543
c/c @DirectXMan12
/kind feature

[2020-06-01 22:30] DirectXMan12 commented on #932
@camilamacedo86 while I'm not exactly certain what the final shape of plugins part 2 would be, I'd expect you'd end up having the "move everything to `pkg` and `cmd`" plugin be the last one, so other things scaffold as normal and then that plugin move things around.  That's how people would get to chose, and other scaffolding and plugins would still be able to work with both options.

[2020-06-01 22:40] #1503 closed

[2020-06-01 22:40] #1525 closed

[2020-06-01 22:50] camilamacedo86 commented on #1526
According to the PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1542/files @estroz decided to move in the opposite direction and do not allow multi-project support. It means that this scenario:

// - go.kubebuilder.io/v2.0.0 which is supported by V2 and V3
// - go.kubebuilder.io/v3.0.0 which is supported by V3

Would raise an error. But the plugin design would still allow :

// - go.kubeb

[2020-06-01 22:50] #1526 closed

[2020-06-01 23:23] DirectXMan12 commented on #1491
... are people actually running the scaffolder itself directly on a mainframe?  (genuine question)

[2020-06-02 00:33] camilamacedo86 commented on #1491
Hi @DirectXMan12,

I know that the IBM folks have been asking it as a requirement for SDK. See: https://github.com/operator-framework/operator-sdk/search?q=s390x&type=Issues

My guess is that their cloud services are using this architecture. See: https://www.ibm.com/uk-en/marketplace/cloud-private-on-z-and-linuxone also see https://www.ibm.com/blogs/systems/red-hat-openshift-now-available-ibm-z-li

[2020-06-02 02:45] zehuaiWANG opened #1544 "The CustomResourceDefinition "cronjobs.batch.tutorial.kubebuilder.io" is invalid"
I followed the tutorial but the cronjob install failed. I clone the master code, but it seems to not work. Could anyone tell me what to do next?  Thanks a lot.
[code]

/kind bug

[2020-06-02 02:48] zehuaiWANG commented on #1544
/assign @camilamacedo86 Could you help me to have a look with this? Thanks a lot.

[2020-06-02 03:30] Miss-you opened #1545 "[kubebuilder-book] Need kubebuilder-book Chinese version"
hi, Kubebuilder is an SDK framework for building Kubernetes APIs based on CRDs, allowing users to quickly develop and build APIs, Controllers and Admission Webhooks from scratch using Kubebuilder.

I used it to develop the Ingress controller some time ago and benefited a lot from it. The only regrets are that there is less documentation for Chinese people and the kubebuilder-book is in English.

S

[2020-06-02 03:58] zehuaiWANG commented on #1545
It would be great to have a translation. Thank you for your contribution.

[2020-06-02 04:38] zehuaiWANG commented on #1544
If I use kubernentes 1.16, it won't happen. I guess it's a problem after kubernetes 1.18.

[2020-06-02 09:48] camilamacedo86 commented on #1544
Hi @zehuaiWANG,

The `/kubebuilder/docs/book/src/cronjob-tutorial/testdata/project` is outdated. I have been working on a PR to update that.  See: https://github.com/kubernetes-sigs/kubebuilder/pull/1492

[2020-06-02 09:49] camilamacedo86 commented on #1544
/assing @camilamacedo86

[2020-06-02 09:49] camilamacedo86 commented on #1544
/assign @camilamacedo86

[2020-06-04 13:20] jannickfahlbusch commented on #601
It seems like the option to specify the name of the ServiceAccount from https://github.com/kubernetes-sigs/controller-tools/pull/147 disappeared with https://github.com/kubernetes-sigs/controller-tools/commit/80c3f33947eae2256dd464e544eabfff4884e21b.

Is there currently a way to specify the name of the ServiceAccount?

[2020-06-05 00:43] estroz commented on #1318
/lifecycle frozen

[2020-06-05 00:48] estroz commented on #1405
Meta: since Windows has a linux subsystem and Unix-like terminal support (cygwin), I wonder:
1. If the combination of these two Windows features makes kubebuilder work without any changes.
1. Even if 1 is true, do many Windows users use Powershell or some other cmd that doesn't work with how kubebuilder is currently configured.

If you have an opinion on this, please comment.

[2020-06-05 00:57] estroz commented on #1491
Travis can build against s390 so this is possible. We release `operator-sdk` for this arch in this manner. I will say that trying to support not-often-used architectures can be a pain. Perhaps it would be best to link docs on how to compile for a specific arch instead of supporting more than amd, arm, and darwin.

[2020-06-05 13:27] huangyajie-Git commented on #570
Im having the same issue ~My version is 1.0.8 , I also install the Go , Do you have some solutions?

[2020-06-06 00:33] #1237 closed

[2020-06-08 02:45] tengqm opened #1555 "[book] KUBEBUILDER_ASSETS env var not used anywhere"
The current kubebuilder book, in its [quick start](https://book.kubebuilder.io/quick-start.html) section, mentions that an environment variable `KUBEBUILDER_ASSETS` should be set to something when installing `kubebuilder`. However, this environment is not used anywhere in the code base (including Go and scripts). Is it something we forgot to remove?

[2020-06-08 13:42] dpaclt commented on #1463
Were you able to fix this error ?

[2020-06-08 20:20] hasbro17 commented on #1336
Closing this issue since after the SDK integrates Kubebuilder CLI, we're dropping support for test-framework in favor of envtest as the recommended way to write integration tests.

(Not sure I have permissions to close the issue though)

/close

[2020-06-08 20:20] #1336 closed

[2020-06-10 09:54] camilamacedo86 commented on #885
/remove-lifecycle stale.

[2020-06-10 09:54] camilamacedo86 commented on #885
/remove-lifecycle stale

[2020-06-11 00:03] DirectXMan12 commented on #1491
my concerns are largely around testing, reproduction, etc.

:+1: this sounds reasonable to me.

[2020-06-11 00:09] DirectXMan12 commented on #1356
This seems largely fixed, but it's listed as "for core types".  We prob want to clarify that a bit.

[2020-06-11 01:04] camilamacedo86 commented on #1491
/kind documentation

A user would need to fork the project and built the image using the arch type wished. If someone would like to contribute with this doc see [here](https://sdk.operatorframework.io/docs/contribution-guidelines/developer-guide/#how-the-operator-sdk-binaries-are-built) the SDK which described how to add a new binary build and test it. It might help you see the required steps to d

[2020-06-11 01:04] camilamacedo86 commented on #1491
/kind feature cancel
/help wanted

[2020-06-11 13:23] AloofJr opened #1557 "Solving failure: No versions of k8s.io/klog met constraints:"
kubebuilder init --domain k8s.io

dep ensure -v

Solving failure: No versions of k8s.io/klog met constraints: v2.1.0: Could not introduce k8s.io/klog@v2.1.0, as its subpackage k8s.io/klog/v2 is missing. (Package is required by k8s.io/gengo@master.) 2.1.0: Could not introduce k8s.io/klog@2.1.0, as its subpackage k8s.io/klog/v2 is missing. (Package is required by k8s.io/gengo@master.) v2.0.0: Could

[2020-06-12 07:05] Kapoorakul opened #1558 "Kubebuilder create api errors *Guestbook does not implement runtime.Object"
I am following the quickstart guide, but I am not able to create the api types. I might have broken something on my machine which I am failing to debug.

I went through some old issues, but still lost. Any pointers and debugging help is appreciated.

[code]

Scaffolding after failure:
[code]

Kubebuilder create api did not scaffold the DeepCopy() methods. I am not sure why.
I tried by re-installin

[2020-06-12 16:12] Kapoorakul commented on #1558
Clean installation of the pre-requisite resolved the issue.

[2020-06-12 16:12] #1558 closed

[2020-06-12 16:17] camilamacedo86 commented on #1435
/remove-lifecycle stale

[2020-06-12 19:11] howardjohn commented on #1152
One downside for informers is the dynamic client will store things as Unstructured, so when we do List() calls we need to do conversions, which has a large cost. With generated clients the cache stores the object already marshaled which is much more efficient as it happens only once. The alternative,as far as I can tell, is implementing a cache outside of the informer which is error prone

[2020-06-13 03:10] DirectXMan12 commented on #1555
it's used by controller-runtime's envtest: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/envtest/server.go#L37

[2020-06-13 03:10] #1555 closed

[2020-06-13 04:01] tengqm commented on #1555
Thanks for the info.

[2020-06-13 11:46] jlandowner opened #1559 "Docs: Invalid URL to Kubernetes reference docs in Using Finalizers"
Finalizer reference url is invalid and I got  404

Invalid URL:
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#finalizers

Correct URL:
https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#finalizers

Page to update:
https://book.kubebuilder.io/reference/using-finalizers.html

/kind bug
/kind document

[2020-06-14 08:41] #1559 closed

[2020-06-15 21:56] rbtcollins opened #1562 "enh: go get of kubebuilder by tag doesn't work"
[code]

Alternative spellings fail in various related ways:

[code]

I would expect kubebuilder to be go gettable, as that allows version-locking the kubebuilder version that is being used in go.mod/go.sum, with all the ensuing benefits that one would expect. Instead we have folk with curlsh scripts pulling down release builds versioned by hand...

Documentation on this is fairly comprehensive, bu

[2020-06-16 04:23] nikhita commented on #1557
xref https://github.com/kubernetes/klog/issues/161#issuecomment-644522782

cc @DirectXMan12

[2020-06-16 22:41] DirectXMan12 commented on #1557
what version of kubebuilder are you using?  We haven't supported `dep` in quite some time...

[2020-06-17 11:45] AloofJr commented on #1557
kubebuilder_2.3.1_darwin_amd64.tar.gz

[2020-06-17 21:16] DirectXMan12 commented on #1557
just to be clear, is the `dep ensure -v` output from kubebuilder, or from you?  That version of kubebuilder should default to go modules instead.

[2020-06-18 03:15] AloofJr commented on #1557
`dep ensure -v` output from me，but it after `dep ensure` output from kubebuilder， I run `dep ensure -v`  manually to see more detail.

there are steps

[code]
then

[code]

then i run `dep ensure -v` manually

[code]

[2020-06-18 03:26] AloofJr commented on #1557
oh sorry!  i find the problem, it's because i had two version kubebuilder , and the default version is  KubeBuilderVersion:"1.0.8" ,  when change the version to the newest 2.3.1  ,  it run with go module

[2020-06-19 02:39] shenlanse commented on #1152
I want to write one comandLine tool  and do some read/write operator on custom resource. I think `controller-runtime client` is not sufficent. As far as i know(maybe wrong), `controller-runtime client`  will start list-watch background and cache all objects of resource what i do get/list, also APIReader only support `read` operation.

@DirectXMan12 @camilamacedo86  How can I implement commandLine

[2020-06-19 21:16] #1382 closed

[2020-06-20 00:42] #1473 closed

[2020-06-20 06:36] axsaucedo commented on #364
@StianOvrevage could you link to what unresolved issue you are referring to? Thanks!

[2020-06-20 09:33] camilamacedo86 commented on #1519
/assing @estroz

[2020-06-20 09:34] camilamacedo86 commented on #1519
/assign @estroz
Since has been working on in it.

[2020-06-22 08:46] camilamacedo86 commented on #686
Hi @DirectXMan12,

Shows that KB has bin shipping the bins of `apiserver`,  `kubectl` and `etcd` in the [build](https://github.com/kubernetes-sigs/kubebuilder/blob/master/build/thirdparty) because they are required for the envtest.

So, I understand that for remove the bins from the kb build and no longer Shipp them with it we need:
- Remove from the [build](https://github.com/kubernetes-sigs/kube

[2020-06-22 20:29] #1557 closed

[2020-06-23 16:19] joelanford opened #1573 "Kustomize support for config/samples"
**What do you want to happen?**
When I run `kubebuilder create api`, a sample CR gets created in `config/samples`. I'm wondering if there is any appetite for `config/samples` to be a valid kustomize directory, such that one could run `kustomize build config/samples` to get kubectl-appliable yaml.

If we were to add such a feature, I think we would add a scaffold that supports updates via a marker

[2020-06-23 16:58] estroz commented on #1544
This is likely related to https://github.com/kubernetes-sigs/controller-tools/issues/444.

[2020-06-24 07:09] camilamacedo86 commented on #1544
Hi @estroz,

See that the user is trying to check the example code in the repo:

[root@test ~/kubebuilder/docs/book/src/cronjob-tutorial/testdata/project]# kubectl version --short

The project  `cronjob-tutorial/testdata/project` which is used to do the doc is scaffold project. However, it is NOT updated when we run the golden script. It is very outdated. So, we need to updated the scaffolded proj

[2020-06-24 17:51] #1216 closed

[2020-06-25 00:33] vsxen commented on #1545
add example project code?
https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/cronjob-tutorial/

[2020-06-25 12:53] harpratap commented on #1270
@droot Does that method work only for core group? I'm trying to create a controller for an istio CRD and I get errors.
[code]
After removing all API related code -
[code]

[2020-06-26 00:22] woohhan opened #1574 "Provide helper function for conditions"
Kubernetes seems to have chosen Conditions as the standard instead of Phase.
<https://github.com/kubernetes/kubernetes/issues/50798>

 Operator SDK provides functions for Condition. It's also useful if Kubebuilder provides these features.
<https://github.com/operator-framework/operator-sdk/blob/master/pkg/status/conditions.go>

/kind feature

[2020-06-26 11:54] camilamacedo86 commented on #1270
Hi @harpratap,

This issue is close, could you please raise a new one with your questions and specific scenario?
Also, please provide the version of kb used and etc.

[2020-06-27 09:44] #1383 closed

[2020-06-27 11:32] harpratap opened #1575 "Cannot create controller for non-core APIs/CRDs"
I want to create just a controller for a CRD that already exists, so followed the advice given here - https://github.com/kubernetes-sigs/kubebuilder/issues/1270 it works for core types like svc and pods but fails when you try on a custom type.

I expect the controller to run without any errors just like it did for the core types.

[code]
After removing all API related code -
[code]

What versions

[2020-06-27 12:13] Joldnine opened #1576 "`kubebuilder version` returns unknown value"
`$ kubebuilder version` returns
`Version: version.Version{KubeBuilderVersion:"unknown", KubernetesVendor:"unknown", GitCommit:"$Format:%H$", BuildDate:"1970-01-01T00:00:00Z", GoOs:"unknown", GoArch:"unknown"}`

* go version
go version go1.14.4 darwin/amd64
* Kubernetes & kubectl versions (just run `kubectl version` against your API server)
Client Version: version.Info{Major:"1", Minor:"15", GitVer

[2020-06-28 16:32] camilamacedo86 commented on #1575
It shows the same as https://github.com/kubernetes-sigs/kubebuilder/issues/786 (duplicated).
The project requires fo 1.13. Also, see:

[code]

[2020-06-29 05:18] harpratap commented on #1575
@camilamacedo86 I see. After switching to go 1.13.12 and setting GO111MODULE=on it seems to be trying to fetch the api package.
`Error: go [list -e -json -compiled=true -test=false -export=false -deps=true -find=false -tags ignore_autogenerated -- ./...]: exit status 1: go: finding istio.io/api latest
build istio.io: cannot load istio.io/api/v1alpha3: module istio.io/api@latest found (v0.0.0-20200

[2020-06-29 10:11] camilamacedo86 commented on #1575
Hi @harpratap,

The `istio.io/api/v1alpha3` shows are related to your implementation. Following some comments inline which I hope that helps you with.

- It might be a project using the V1 version that is no longer supported which means that this project needs to be upgraded to work with the latest version of the tool. Check the versions in the PROJECT file config and see:  https://book.kubebuilde

[2020-06-29 12:10] camilamacedo86 commented on #1575
I am closing this since the main question of your issue is solved with  https://github.com/kubernetes-sigs/kubebuilder/issues/1575#issuecomment-650790093 and we already started the second wave of questions which I believe that is sorted out with https://github.com/kubernetes-sigs/kubebuilder/issues/1575#issuecomment-651038192.

However, please feel free to raise new issues as well. Let's try to ke

[2020-06-29 12:10] #1575 closed

[2020-06-29 21:31] champak commented on #1531
This issue is tracked at https://github.com/kubernetes-sigs/controller-tools/issues/448; closing for kubebuilder

[2020-06-29 21:31] #1531 closed

[2020-06-29 22:28] champak opened #1578 "Using a "client" in webhook interface handlers"
I am wondering what is a good way to access the "client" in the context of the scaffolded webhook interfaces. One option is to fetch and add a client object in the generated SetupWebhookWithManager(). Instead, is it possible to access the client from the  ValidateCreate(),  ValidateUpdate() apis ? Something on the lines of the below would have been convenient:

func (r *someobj) ValidateCreate() e

[2020-06-30 00:24] #1246 closed

[2020-06-30 01:08] camilamacedo86 commented on #1501
documented already; https://github.com/kubernetes-sigs/kubebuilder/pull/776/files

[2020-06-30 01:08] #1501 closed

[2020-06-30 01:15] camilamacedo86 commented on #1576
I am unable to reproduce;

[code]

Could you please try to check with go 1.13? the project does not support 1.14 yet.

[2020-06-30 06:54] shenlanse commented on #1152
@DirectXMan12 @camilamacedo86 Any suggestion? Thanks.

[2020-07-01 10:11] franpog859 commented on #1210
Could you link the issue here?

[2020-07-01 11:42] Joldnine commented on #1576
Hi, after switching go version to 1.13.12. The issue persists..
[code]

[2020-07-01 15:22] camilamacedo86 commented on #1576
Hi @Joldnine,

How did you install the tool? Are you using a binary or master? Also, if. is via the master could you please let us know if it is inside of the GOPATH and with the path $GOPATH/sigs.k8s.io/kubebuilder?

[2020-07-01 19:37] #1342 closed

[2020-07-02 17:58] vincepri opened #1581 "Remove the word "dummy" from our codebase"
- https://github.com/kubernetes-sigs/kubebuilder/blob/38343942a397a02559bfdd46f3d31257d1561f98/pkg/cli/cli.go#L277

/wg naming

[2020-07-02 18:00] vincepri opened #1582 "Remove the word "master" from our codebase"
- https://github.com/kubernetes-sigs/kubebuilder/blob/38343942a397a02559bfdd46f3d31257d1561f98/docs/book/src/reference/kind.md "with 1 master"
- https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/getting_started/installation_and_setup.md

[2020-07-02 18:00] vincepri opened #1583 "Change default branch to "main""
Once the community agrees on the naming, we need to change our default development branch to `main`, and check that any tools or references to it are changed as well.

This includes the container image tag used in development.

/kind cleanup
/wg naming

[2020-07-02 18:01] vincepri opened #1584 "Remove the word "whitelist" from our codebase"
- https://github.com/kubernetes-sigs/kubebuilder/blob/38343942a397a02559bfdd46f3d31257d1561f98/pkg/cli/cli.go#L279
- https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/reference/admission-webhook.md "pod image whitelisting"

/wg naming
/kind cleanup

[2020-07-02 18:02] vincepri opened #1585 "Remove the word "sanity" from our codebase"
- https://github.com/kubernetes-sigs/kubebuilder/blob/38343942a397a02559bfdd46f3d31257d1561f98/test/e2e/v2/e2e_suite.go#L272
- https://github.com/kubernetes-sigs/kubebuilder/blob/38343942a397a02559bfdd46f3d31257d1561f98/test/e2e/v2/e2e_suite.go#L281
- https://github.com/kubernetes-sigs/kubebuilder/blob/38343942a397a02559bfdd46f3d31257d1561f98/test/e2e/v3/e2e_suite.go#L272
- https://github.com/kube

[2020-07-03 09:30] tengqm commented on #1576
Looks to me this has something to do with the facilities ([goreleaser](https://goreleaser.com/quick-start/)) used for generating release artifacts.
If you check the code, the `KubeBuilderVersion` is defaulted to "unknown" and never assigned a value in the code base.
The binary gets a version value through the `-X sigs.k8s.io/kubebuilder/cmd/version.kubeBuilderVersion=2.3.1` kind of `go build` flag

[2020-07-05 05:57] #1239 closed

[2020-07-05 16:37] natalefalco opened #1586 "The Getting started guide missing a prepocessor annotation"
# In the documentation there is an example that probably misses an annotation

I expected the snippet to work, but the DeepCopyObject is not created so the `make run` exits with this error
[code]

It can be replicated by following the gettting started guide including the optional part

- go version go1.14 linux/amd64
- kubebuilder version:
  - KubeBuilderVersion:"2.3.1",
  - KubernetesVendor:"1.16

[2020-07-06 08:54] kishoregv commented on #1578
Similar issue here, you might find answer here https://github.com/kubernetes-sigs/kubebuilder/issues/1216

[2020-07-06 15:10] bharathi-tenneti commented on #1517
Can we have some inputs on this issue?

[2020-07-06 19:17] champak commented on #1578
@kishoregv thanks that does seem to be the same issue. I do not see whether the alternate suggested approach to using the client via the apis in pkg/admission/webhook worked out. It was unclear how that would be used in the context of the handler api functions. Adding a client object in SetupWebhookWithManager() does work.

[2020-07-06 20:11] gclawes commented on #1231
Is it possible to revisit this?

[2020-07-07 08:55] #1586 closed

[2020-07-09 09:47] keithnull commented on #1544
So how to solve this issue? I encountered exactly the same problem when learning kubebuilder. 😟

[2020-07-09 11:11] varunpal7 opened #1591 "Create s390x binaries for kubebuilder"
Parent task :[966](https://github.com/kubernetes-sigs/kubebuilder/issues/966)

[2020-07-09 12:22] varunpal7 commented on #1591
Following a similar approach to the PR here - https://github.com/kubernetes-sigs/kubebuilder/pull/979.
Made changes in my fork - https://github.com/varunpal7/kubebuilder w.r.t s390x.

Cloned the fork in my machine having s390x architecture.

Ran the steps from the following link on `how to build kubebuilder locally`- https://github.com/kubernetes-sigs/kubebuilder/blob/master/CONTRIBUTING.md.

But

[2020-07-09 13:06] pigletfly opened #1592 "Is there a compatible matrix?"
Should we add a compatible matrix to readme or kubebuilder book?

[2020-07-09 13:38] zehuaiWANG commented on #1544
@keithnull if you use the minikube, you can change the version of kubernetes to 1.16, and it will not happen.

[2020-07-09 19:45] madhurnawandar commented on #1529
faced similar issue.  writing that logic is too much error-prone. Appreciate any help

[2020-07-09 21:26] jgustie commented on #1529
This was the approach we took recently, it amounted to:

1. In each spoke version packages, we added the `+k8s:conversion-gen` directive pointing to the hub version package (it must be in `docs.go`); we also added a `var localSchemeBuilder = &SchemeBuilder.SchemeBuilder` in `groupversion_info.go` so the auto-generated code would compile.
2. Update the make file to run `conversion-gen` on the spoke

[2020-07-10 02:35] keithnull commented on #1544
@zehuaiWANG  Thanks, but it's just a work-around. Any way to solve this problem in 1.18?

[2020-07-10 02:44] zehuaiWANG commented on #1544
@keithnull I haven't found a good way to solve this problem in kubernetes 1.18, this seems to be caused by a field validation introduced by kubernetes 1.18.
maybe @camilamacedo86 will know more details, you can ask her for help.

[2020-07-10 08:42] camilamacedo86 commented on #1544
Hi @keithnull,

The project cronjob-tutorial/testdata/project has not been updated with the changes made in the tool. We need to update this project. You can check we have projects in the estate which are updated and verified for each PR.

However, regards the k8s version its has changes we would need to check the error to better assist you. See https://github.com/kubernetes-sigs/kubebuilder/issue

[2020-07-10 12:34] rayanebel opened #1593 "weird logging stacktrace when using built-in error logger"
Hi,

I'm trying to create my first operator using kubebuilder and I have a a weird stack trace which appear when I'm trying to use the built-in error logger.

Here you can find the reconcile function:

[code]

and when I test the error case I have the following stacktrace from zapr.go in output:

[code]

I'm not sure if it's normal to have this kind of stack trace after my error message. Do I miss

[2020-07-10 18:16] errordeveloper commented on #920
/remove-lifecycle stale

[2020-07-10 18:16] errordeveloper commented on #920
/lifecycle frozen

[2020-07-10 19:32] kensipe commented on #400
@mengqiy I just wrote up what we are doing for our webhook development workflow.  perhaps it helps:  https://kudo.dev/blog/blog-2020-07-10-webhook-development.html

[2020-07-11 00:11] #1356 closed

[2020-07-11 17:35] camilamacedo86 commented on #933
/re-open

[2020-07-11 17:35] camilamacedo86 commented on #933
/reopen

[2020-07-11 17:36] camilamacedo86 commented on #933
/remove-lifecycle rotten

[2020-07-11 17:40] camilamacedo86 commented on #1593
Shows that you did not apply the CR of the CRD and then, run `kubectl apply -f /config/samples/yourcr.yaml`.
Also, see that:
- The project officially supports the go version 1.13 and not 1.14. I'd suggest you use 1.13.
- Your reconcile implementation should be something such as to avoid panic when the CR is not applied/found:

Example where the Kind is Memcached:

[code]

Looking for you ok to clo

[2020-07-11 17:41] camilamacedo86 commented on #1593
/assign @camilamacedo86

[2020-07-11 17:45] camilamacedo86 commented on #1592
IMO the recommendation would be to use the versions that are provided by the tool in the scaffold since these are the versions which are tested and check. You might find out that has scenarios where would possible to upgraded your downgraded some dep, however, is very hard we know what should or not work in each scenario to provide a range of possibilities/compatibilities. So, for example, if you

[2020-07-11 17:53] camilamacedo86 commented on #1585
@vincent-pli done, to small for we keep an issue open for that, so I decide to do asap 👍
/assign @camilamacedo86

[2020-07-11 17:56] camilamacedo86 commented on #1584
Not get this one. Why we need remove from the docs as well? What name you suggest for ` fs.ParseErrorsWhitelist`?

[2020-07-11 17:57] camilamacedo86 commented on #1583
We will not longer use the master branch?

[2020-07-11 17:58] camilamacedo86 commented on #1574
Hi @woohhan,

It shows done now in https://github.com/kubernetes/kubernetes/pull/92717. So, could we not close this one?

[2020-07-11 18:00] camilamacedo86 commented on #1576
Hi @Joldnine,

Is the information provided so far enough? Can we close this one?
If not, please let us know how did you install kubebuilder.

[2020-07-14 00:21] #1373 closed

[2020-07-14 03:51] pigletfly commented on #1592
What I means here is which go and k8s version goes well with kubebuilder version.Or kubebuilder doesn't care the version of go and k8s?

[2020-07-14 05:04] woohhan commented on #1574
Thanks for the reply, I will close the issue.

[2020-07-14 05:04] #1574 closed

[2020-07-14 07:15] varunpal7 commented on #1591
Trying to build locally but getting the following error:

[code]

Can someone please help ?

[2020-07-14 10:53] camilamacedo86 commented on #1592
Hi @pigletfly,

Related to the versions supported see the **Prerequisites** section in the [quick-start](https://book.kubebuilder.io/quick-start.html):

Currently, the go version supported with the latest version release and master is 1.13. You should not use it with 1.12 since you will face the issue and it might work with 1.14 but it is not tested and in this way not officially supported besides

[2020-07-14 11:07] pigletfly commented on #1592
thanks for your elaboration. /close

[2020-07-14 11:07] pigletfly commented on #1592
/close

[2020-07-14 11:07] #1592 closed

[2020-07-14 11:13] camilamacedo86 commented on #1592
/assign @camilamacedo86

[2020-07-14 18:15] #1585 closed

[2020-07-14 18:16] vincepri commented on #1583
Yes, it's not something we can do immediately. I've filed this issue in multiple repositories to track the work

cc @justaugustus

[2020-07-14 18:17] vincepri commented on #1584
Allowlist/Denylist is the combination that has been chosen within the naming workgroup

/cc @justaugustus

[2020-07-14 23:41] #1472 closed

[2020-07-14 23:42] estroz commented on #1576
Yes I believe this is intended behavior

/close

[2020-07-14 23:42] #1576 closed

[2020-07-16 16:57] DirectXMan12 commented on #301
kubernetes-sigs/controller-tools#427 addresses this, at least partially -- types implementing the JSON marshaller/unmarshaller interface will get generated as `type: any` for the base, and further validation can be applied (or not applied) with markers.  I *think* that should largely address the usecase here

[2020-07-19 12:30] camilamacedo86 opened #1598 "kubebuilder brew formula is installing go version 1.14 which is not supported by the project"
See;
[code]

[2020-07-19 12:52] camilamacedo86 opened #1599 "unable to run the tests scaffold for the projects without the kb bin in /usr/local/kubebuilder/bin"
The following error is faced when the KB is installed from master or its bin be added in another place when the tests are executed via the makefile targets:

[code]

Root cause explained in: https://github.com/kubernetes-sigs/kubebuilder/issues/686#issuecomment-647376924

[2020-07-19 13:29] camilamacedo86 commented on #1599
/assign @camilamacedo86

[2020-07-19 13:37] camilamacedo86 commented on #686
Hi @DirectXMan12,

The pr kubernetes-sigs/kubebuilder#1600 changes the setup for  V3. However, I understand that for we are able to remove the k8s bins from the kubebuilder binary(releases) we would need to do the same for v2 which is a breaking change. Am I right? So, the change in the scripts used to do the KB release can be done just when no longer support V2 and it is removed.

c/c @joelanford

[2020-07-20 03:13] fduyangchao commented on #1157
same issue, may i know the solution?

[2020-07-20 22:04] camilamacedo86 commented on #1068
/remove-lifecycle stale

[2020-07-21 11:59] jpkrohling commented on #1404
Wanted to show my support for this issue. As one of the developers behind the Jaeger and OpenTelemetry Operators, we are stuck with the Operator SDK 0.18.x until a guidance is provided for this issue here.

[2020-07-21 14:58] davidkarlsen opened #1602 "Provide /healthz probe out of the box"
Have healthprobe scaffolding/code generated.
I was using operator-sdk, and since 0.19 they have changed the scaffolding to use kubebuilder. When using operator-sdk I got a /healthz endpoint ootb, I'd like to achieve the same with the new kubebuilder based setup.

no

no

/kind feature

[2020-07-21 15:25] davidkarlsen commented on #1602
nvm, I found the `HealthProbeBindAddress` option.
Maybe it could be documented in the kubebuilder book though.

[2020-07-21 15:25] #1602 closed

[2020-07-21 18:56] joelanford commented on #1404
There is a messy workaround for this though, right?

Something like:
[code]

Does that break something? Maybe it precludes a "core" group AND APIs under subdomain groups?

[2020-07-22 10:22] jpkrohling commented on #1404
I ended up doing something similar: I generated it with `--domain=jaegertracing.io` and the API as `--group=core`. I then proceeded to replace all `core.jaegertracing.io` entries with `jaegertracing.io`. This seems to be working, but not sure it will cause me problems later on.

[2020-07-22 15:18] LAnastasiia opened #1604 "v2 option not working when initializing project for a custom controller over built-in resources"
Hi,
I was trying to implement an admission controller over built-in resources by [this](https://book.kubebuilder.io/reference/webhook-for-core-types.html) example but could not initialize the project for that in version kubebuilder v2.

Here are the commands I ran and their outputs:
`kubebuilder init --domain my.domain`
`kubebuilder create api --group "core" --kind "Pod" --version "v2"`
[code]
[co

[2020-07-22 18:51] champak opened #1605 "CRD listers with lister-gen"
I was looking for generated listers with kubebuilder version 2.2.0 and do not see the CRD lister apis. I think in an earlier version I had seen the tag +genclient trigger generation of the lister apis. Is there a new tag to use ? I could not locate one in the list and do not see a reference in the docs.  The basic List apis are simple but would rather use the generated versions than manually creat

[2020-07-22 18:54] champak commented on #1578
Did not find a better way. Closing.

[2020-07-22 18:54] #1578 closed

[2020-07-22 20:15] bvwells opened #1606 "Add comments for exported methods in generated controllers"
It would be great to have the exported methods in the generate controllers documented.

i.e.
[code]

Would be happy to submit a PR.

/kind feature

[2020-07-23 09:32] hzliangbin opened #1607 "confusing about build config in netlify.toml"
Hi, I noticed that kubebuilder-book use netlify to preview PR request.
I have a question about build config in netlify.toml.
According to [docs](https://docs.netlify.com/configure-builds/file-based-configuration/#sample-file), publish dir is relative to the base directory if one has been set. So it would be docs/book/docs/book/book as netlify.toml presents.  In fact it should be docs/book/book.

I

[2020-07-23 18:31] camilamacedo86 commented on #1599
/re-open

[2020-07-23 18:31] camilamacedo86 commented on #1599
/reopen

[2020-07-23 21:36] vincepri commented on #1231
We could add a new generator to `controller-tools` that given some paths to api folder, it generates OpenAPI spec files using the content that's today under `openAPIV3Schema`

[2020-07-25 06:03] JohnStarich commented on #301
I'm new to kubebuilder - so we might able to chalk this up to inexperience - but pulling in the commit for https://github.com/kubernetes-sigs/controller-tools/pull/427 doesn't seem to work for me. At least not entirely. The CRDs do generate with `type: Any`, but I can't figure out how to apply a string or integer to that kind of field:
[code]
Also, for some reason the last two fields generated `nu

[2020-07-25 06:20] JohnStarich commented on #301
The `// +kubebuilder:validation:Type=` marker feels like an intuitive place to either enable `Type=any` or disable type validation with an empty value `Type=` (omits `type:`).

Disabling type validation for the field (by removing `type: _`) allows the field to be set to anything, so an escape hatch of disabling that field's validation would work well for me.

[2020-07-27 11:34] pigletfly opened #1613 "Make namespace configurable"
/kind feature

Now we are using system namespace for CRD deployment in scaffolds, I think it's better to make it configurable.Because the default `system` namespace may not exists, and also we may want to put different CRDs in different namespaces.

[2020-07-27 11:35] #1140 closed

[2020-07-27 11:44] camilamacedo86 commented on #1613
Hi @pigletfly,

Shows that when you run the make targets for the project it will scaffold a new namespace which is the "projectName"+"-system" and apply all manifest on it. So, the namespace will always exist since it is created as well.

Also, check that for v3 we will be able to configure the project name. See https://github.com/kubernetes-sigs/kubebuilder/pull/1609.

However, users are able abl

[2020-07-27 20:44] #1251 closed

[2020-07-28 00:33] camilamacedo86 commented on #1251
/reopen
/remove-lifecycle rotten

[2020-07-28 05:52] BlueShells opened #1614 "can't resolve tutorial.kubebuilder.io"
Hi I am trying to follow the https://book.kubebuilder.io/cronjob-tutorial/controller-implementation.html
to create a cronjob operator

but when I try to add the controller part , the import part failed , because of this line

`batch "tutorial.kubebuilder.io/project/api/v1"`

more detail :

`cannot find module providing package tutorial.kubebuilder.io/project/api/v1: unrecognized import path "tutor

[2020-07-28 06:09] BlueShells commented on #1614
this seems to be caused by this

`cat go.mod
module tutorial.kubebuilder.io/project

go 1.13

require (
	github.com/go-logr/logr v0.1.0
	github.com/onsi/ginkgo v1.11.0
	github.com/onsi/gomega v1.8.1
	github.com/robfig/cron v1.2.0
	k8s.io/api v0.17.2
	k8s.io/apimachinery v0.17.2
	k8s.io/client-go v0.17.2
	sigs.k8s.io/controller-runtime v0.5.0
)`

the module must be tutorial.kubebuilder.io/project,

[2020-07-29 07:17] lut777 opened #1616 "why not add MaxConcurrentReconciles as an option when initialize the controller?"
I found that the controller defines MaxConcurrentReconciles, and provides the ability to start multiple goroutines to run Reconcile.
But I couldn't find any place in the scaffolding to configure this parameter.
So, why not provide such a configuration point in the scaffolding?
how about adding a controller.Options in Reconciler.SetupWithManager with the builder.WithOptions? I tried and verified th

[2020-07-29 13:40] jsarkar opened #1617 "Having issue while creation a project with kubebuilder 2.3.1"
/kind bug

[2020-07-29 13:41] #1617 closed

[2020-07-29 13:46] jsarkar opened #1618 "Having issue while creation a project with kubebuilder 2.3.1"
I am trying use the latest release of kubebuilder (2.3.1) and initialize a project by running
kubebuilder init --domain my.domain

kubebuilder init --domain my.domain
Writing scaffold for you to edit...
Get controller runtime:
$ go get sigs.k8s.io/controller-runtime@v0.5.0
Update go.mod:
$ go mod tidy
Running make:
$ make
go: creating new go.mod: module tmp
go: finding sigs.k8s.io v0.2.5
go: findi

[2020-07-29 22:33] camilamacedo86 commented on #1618
/assign @camilamacedo86

[2020-07-29 23:16] camilamacedo86 commented on #1618
Hi @jsarkar,

As we spoke in the slack I am unable to reproduce the issue using the version informed. So, could you please:
a) could you let us know if you are using it inside or outside of your $GOPATH?

**Note** If you are not familiarised with Go, I'd recommend you perform the steps inside of your $GOPATH in order to keep the simplicity. for further information see  the notes in https://book.ku

[2020-07-29 23:20] camilamacedo86 commented on #1618
Also, it really shows a Go setup issue. See: https://forum.golangbridge.org/t/cgo-build-error-help-me/16077/3

[2020-07-30 07:11] BlueShells opened #1619 "Having issue when try to run 'make install' in version 2.3.1"
Hi , I try to follow the https://book.kubebuilder.io/cronjob-tutorial/running.html to create the cronjob operator

but , when I try to install the operator by running command "make install" ,I got following error :

[code]

I have to put my project under /usr/local/go/src/cronjob ?

my project path is :
`/Users/jeremyzhang/go-workspace/src/cronjob`

here is my env:
`export GOPATH=/Users/jeremyzhan

[2020-07-30 07:24] #1614 closed

[2020-07-30 10:18] Colstuwjx opened #1620 "License comments would leave two lines blanks if not specify author"
I would see two line blanks if I create scaffold by `kubebuilder init --domain tutorial.kubebuilder.io` without `--owner xxx`, see the code snippet below:

[code]

Yes, so we could see two lines blanks in the file head.

Should we have a default owner? or just prompt user to fillout this option?

/kind bug

[2020-07-30 13:06] jsarkar commented on #1618
@camilamacedo86
I have tested inside and outside GOPATH. However the below snippet shows , I am trying initialize kubebuilder inside GOPATH

[code]
Here is my `goenv` o/p

[code]
I have tested my GO installtion also

[code]

My laptop is not arm nither I am trying cross-compile CGO. So really not sure what to follow the issue link you have refered.

[2020-07-30 16:52] estroz commented on #1487
/remove-lifecycle stale

[2020-07-30 17:01] vincepri commented on #686
To give links to the references pointed out in today's community meeting, we have a custom `fetch_ext_bins.sh` script that runs on `make test` and sets everything up properly https://github.com/kubernetes-sigs/cluster-api/blob/95fe9e2c2c48cb7c765e40fe97861f22765441ff/scripts/fetch_ext_bins.sh

The Makefile makes sure to set everything up https://github.com/kubernetes-sigs/cluster-api/blob/95fe9e2c

[2020-07-30 19:51] camilamacedo86 opened #1621 "docs: Controller-test doc page is render blank"
See:

<img width="1266" alt="Screenshot 2020-07-30 at 20 51 15" src="https://user-images.githubusercontent.com/7708031/88967972-78202c80-d2a6-11ea-9bbd-e7e5a0f6c4fb.png">

Note: it maybe or not can be related to the changes made in : https://github.com/kubernetes-sigs/kubebuilder/pull/1521

[2020-07-30 19:52] camilamacedo86 commented on #1621
c/c @pwittrock

[2020-07-30 21:14] DirectXMan12 opened #1622 "The book should document declarative defaulting"
We should document declarative defaulting better in the book, since it's been supported for quite a few versions now.  We'll need to warn about Kubernetes versions with a note like we do here: https://github.com/kubernetes-sigs/kubebuilder/blame/master/docs/book/src/multiversion-tutorial/tutorial.md#L26, but we should reccomend this over using mutating webhooks when possible.

/kind feature

[2020-07-30 21:16] DirectXMan12 commented on #1622
/good-first-issue

(this entails moving the current "defaulting webhook" documentation to a standalone tutorial and editing the page where we go over types and validation markers to talk about defaulting markers too)

[2020-07-31 09:38] camilamacedo86 commented on #1621
More infio : https://github.com/kubernetes-sigs/kubebuilder/pull/1579#issuecomment-667032383

[2020-08-01 00:59] jsarkar commented on #1618
I have noticed some how my default CGO config is enabled (CGO_ENABLED="1"). I have disabled and now I am able to  initialize the project. I am good here and will close the issue

[2020-08-01 00:59] #1618 closed

[2020-08-01 09:11] camilamacedo86 commented on #1618
Hi @jsarkar,
Really thank you for share and let us know

[2020-08-02 13:49] camilamacedo86 commented on #1599
An possible solution is to setup the bins as:

[code]

[2020-08-04 15:38] kvaps commented on #1558
I having the same issue. Clean install does  not help since I'm building via Dockerfile:
https://github.com/kvaps/dnsmasq-controller/blob/master/Dockerfile

[2020-08-04 16:09] kvaps commented on #1558
I found the solution, to solve that make sure that following comment is specified correctly for your struct
[code]

In my case I had empty line and other comments between

[2020-08-06 12:52] Miss-you commented on #1545
Hi. My translation is a little slow due to time constraints.
However, our community 'Cloud Native CN', has organized some people to start translating the kubebuilder-handbook.
https://cloudnative.to/kubebuilder/

[2020-08-06 14:05] dionysius commented on #1351
Can we address that please?

While we're at it, can we also add `etcd`, `kube-apiserver` and `kubectl` to that list?

[code]

[2020-08-06 14:12] gaodan-fang opened #1627 "Internal Error while trying to run the CronJob example"
/triage support
Hey i am a newbee to kube operators and i keep getting this erros while running the controller locally through `make run ENABLE_WEBHOOKS=false`
My go version: `go version go1.14.5 darwin/amd64`
My kubenets version: `Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0"`
[code]
Appreciate if anyone could help

[2020-08-07 08:32] Colstuwjx commented on #1466
I don't think it's a good idea to do this workaround. We're using the latest kubebuilder version, and it even need lower version kubernetes release!

Should we update the tutorial code and fix this issue?

[2020-08-08 07:46] estroz commented on #1544
Seems to be fixed by https://github.com/kubernetes-sigs/controller-tools/pull/440

[2020-08-09 15:26] nimrodf1 commented on #916
Doesn't the request meed the requirements [listed ](https://github.com/kubernetes/community/blob/master/contributors/guide/help-wanted.md)?
I want to +1 this request. Would have been useful for me too.

[2020-08-10 06:17] Colstuwjx opened #1630 "Inconsistent sample code for cronJob tutorial"
Hi team,

I'm learning how to use kubebuilder with the tutorial, and I've seen the [SetupWithManager](https://book.kubebuilder.io/cronjob-tutorial/controller-implementation.html#setup)  func inside the book is:

[code]

But the sadly truth is that it didn't work, and would build fail. What's more, I've searched the sourcecode in our repo, and it's different to the book! See the following code snip

[2020-08-10 06:57] Colstuwjx commented on #1630
@camilamacedo86 @DirectXMan12 I've checkout the repo on my laptop, after I typed `cd docs/book; bash ./install-and-build.sh`, I found it generates a `book` dir under the `docs/book` directory. See the following output:

[code]

It seems same to the source code! But our [website](https://book.kubebuilder.io/cronjob-tutorial/controller-implementation.html#setup) did NOT!

Do we need to update netlif

[2020-08-11 04:53] robherley opened #1633 "Incorrect CRD generated after adding webhook/ca injection patches to kustomize"
When adding the patches for webhooks/cert manager, the subresources field for the CRD is empty and missing the status field.

**Steps to reproduce:**
[code]

* go version
v1.14.5
* kubebuilder version (`kubebuilder version`) and scaffolding version (check your `PROJECT` file)
kubebuilder: v2.3.1 and scaffolding: v2
* controller-runtime version (check your `go.mod` file)
v0.5.0
* Kubernetes & kubec

[2020-08-11 08:11] ifilonenko commented on #1514
/remove-lifecycle stale

[2020-08-11 12:21] donmstewart opened #1634 "Negative Defaults Values Not Supported"
**What broke?**

Schema generation

**What did you expect to happen?  What do you think went wrong?**

For int/int32/int64 have the ability to set negative default values using tags

[code]

Unfortunately it errors out with the following:-

` Invalid value: "string":  in body must be of type integer: "string"`

Removing the default and the code generates as an integer.

Tried using `kubebuilder:va

[2020-08-11 21:26] estroz commented on #1065
v1 CRDs and webhooks generated by default in `controller-gen`, respectively: https://github.com/kubernetes-sigs/controller-tools/pull/468, https://github.com/kubernetes-sigs/controller-tools/pull/469

[2020-08-12 05:35] varshaprasad96 commented on #1627
I'm facing a similar error too while following the multi-version API example as given in kubebuilder book, with `client-go` version being `0.17.2`.

The error seems to be similar:
[code]

For reference:
go version: `go version go1.13.8 darwin/amd64`
kubernetes version: `"v1.16.7"`

Would be helpful to know a fix or workaround for this error.

[2020-08-12 15:36] harpratap opened #1637 "Deploying manager pod as non-root"
I tried deploying the manager on our K8s platform that doesn't allow root by default but ran into following issues even though there's nothing really in the manager that requires root
I see the following two errors -
1. `Error: container has runAsNonRoot and image will run as root`
2. `Error: container has runAsNonRoot and image has non-numeric user (nonroot), cannot verify user is non-root`

We u

[2020-08-12 17:28] camilamacedo86 commented on #1637
Really thank you for raising it.

If you are right about the root cause (item 1). So, it means that if kube-rbac-proxy also be with `FROM gcr.io/distroless/static:nonroot` and `USER nonroot:nonroot` one of the issues raised would be solved?

Wdyt about clone the kube-rbac-proxy project and build an image with these changes to test your operator project with a  kube-rbac-proxy image that is `nonroo

[2020-08-13 16:31] varshaprasad96 commented on #1627
Not sure of the exact cause, but this error did not resurface after using the KB binary built from master.

[2020-08-13 18:38] gaodan-fang commented on #1627
@varshaprasad96 that sounds great, i will test it

[2020-08-14 09:04] #1621 closed

[2020-08-14 15:16] camilamacedo86 commented on #1517
It would be to apply the changes made in https://github.com/kubernetes-sigs/controller-runtime/pull/915 and  https://github.com/kubernetes-sigs/controller-runtime/issues/1035

[2020-08-14 21:16] #1279 closed

[2020-08-15 18:00] camilamacedo86 commented on #1634
I did not try to test it yet, however, see in the [kubebuilder docs](https://catalog.redhat.com/software/containers/openshift4/ose-helm-operator) that the marker shows be:

[code]

Which is NOT equals that markers used by you:

[code]

So, could you please check the Kubebuilder docs and try to follow up it? Also, if the problem still could you please check it with the master branch which will use

[2020-08-15 18:04] camilamacedo86 commented on #1633
Hi @robherley,

Could you please check it with the master branch and the v3-alpha plugin?

E.g:

Let's see it is not solved with the latest version and plugin. Also, if not could you please clarify what is the value scaffolded as you did and what is the value expected by you?

[2020-08-15 18:19] camilamacedo86 commented on #1616
Hi @lut777,

You have the ability to configure the  `MaxConcurrentReconciles ` in the `main.go` where the [Manager](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/manager#Manager) is defined, such as:

[code]

In this way, I am closing this one as solved. However, feel free to re-open if you see that it still required.

/assign @camilamacedo86
/close

[2020-08-15 18:19] #1616 closed

[2020-08-15 18:26] camilamacedo86 commented on #1613
/asign @camilamacedo86

HI @pigletfly,

As described above with #1609 (valid just for v3+) allow users to configure the project name. The namespace is created via the default configuration and workflow by default always then the scenario `default system namespace may not exists` shows that not valid.

Feel free to test it with the master branch by using the v3+ plugin such as:

E.g:

However,  use

[2020-08-15 18:26] #1613 closed

[2020-08-15 18:26] camilamacedo86 commented on #1613
/assign @camilamacedo86

[2020-08-15 18:32] camilamacedo86 commented on #1604
Hi @LAnastasiia,

It will face issues because the controllers will import try to import the type  but it does not exist since you :

[code]

Regards to allow work with core types where the group should be "empty instead". See: https://github.com/kubernetes-sigs/kubebuilder/issues/1404 .

So, I am closing this as solved since it is the expected behaviour and to allow core types we have #1404 alread

[2020-08-15 18:32] #1604 closed

[2020-08-15 18:36] camilamacedo86 commented on #1606
Hi @bvwells,

Please,  feel free to push a PR with against master. Note that we can just update/change the v3+ plugin which means that your changes in the scaffold should be performed just in : https://github.com/kubernetes-sigs/kubebuilder/tree/master/pkg/plugin/v3

[2020-08-15 18:42] camilamacedo86 commented on #1619
Hi @BlueShells,

When you create the project, if you are working with it outside of the GOPATH you need to provide the --repo. The repo will be used to gen the go modules.  See the information in : https://book.kubebuilder.io/quick-start.html#not-in-gopath as the link for the Go doc.

Shows that when you run the makefile target the controller-tools is unable to generate the code because the go mod

[2020-08-15 18:42] #1619 closed

[2020-08-15 18:45] camilamacedo86 commented on #301
Hi @ecordell,

As described above shows that the markers were not properly set as well. See in the [kubebuilder docs](https://catalog.redhat.com/software/containers/openshift4/ose-helm-operator) that the marker shows be such as:

[code]

So, could you please check it with the master branch with the v3 plugin which will use an upper version of the controller-tools and let us know if this issue can

[2020-08-16 15:53] robherley commented on #1633
Here's the steps I followed for the master branch (3c4eb4f9):

[code]

That yaml has the correct spec.subresources.status for the CustomResourceDefinition:

[code]

But if I uncomment the patches for the webhooks in `config/crd/kustomization`:
[code]

And regenerate the manifests:
[code]

It's missing the status subresource:
[code]

I've attached `before_patch.yaml` and `after_patch.yaml`: [genera

[2020-08-17 04:12] harpratap commented on #1637
After changing the base image to `nonroot` and using `nonroot` in kube-rbac-proxy the first error message does go away

The pod.spec.securityContext.runAsUser API exists as far back as [1.12.x](https://v1-14.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/#podsecuritycontext-v1-core) from what I can see

Personally I just found it a little confusing that the manager base image spe

[2020-08-17 10:38] camilamacedo86 commented on #1637
Hi @harpratap,

Could you please push the PR for kube-rbac-proxy and ping me on it? It is definitely something that we need to do.

The container cannot have root access because it would be a strong security failure since containers are just processes and then, it means that would be easily possible have root access to the host.

Also, I understand that when we do not define the user the cluster i

[2020-08-17 13:08] camilamacedo86 commented on #1522
/remove-lifecycle stale

[2020-08-17 13:10] camilamacedo86 commented on #1522
/close
since it achieves the time without having no reply provide further info for we know how we can address it.

[2020-08-17 13:10] #1522 closed

[2020-08-17 18:54] camilamacedo86 opened #1639 "Make the edit command be an plugin as well"
KB has the command edit and would be nice it be a plugin and be extending as well. Like init and create api.

[2020-08-17 18:54] camilamacedo86 commented on #1639
c/c @estroz

[2020-08-17 19:02] camilamacedo86 opened #1640 "would be nice the edit multi-group:true fixes the layout of the project and move the pre-existing api's"
Currently, when we use the command edit --multigroup=true it will update the Dockerfile and the PROJECT file and then the new API's will be scaffolded in a diff layout where the group is use in the path.

However, if the project has API's scaffolded already users requires to move them and create the path with the group name manually. I think would be nice if the command could do all process instea

[2020-08-17 19:02] camilamacedo86 commented on #1640
c/c @estroz

[2020-08-18 09:47] harpratap commented on #1637
@camilamacedo86 Makes sense.
Found the correct UID:GID to be used from [here](https://github.com/GoogleContainerTools/distroless/blob/master/base/base.bzl#L7)

The change on kube-rbac-proxy is here - https://github.com/brancz/kube-rbac-proxy/pull/85
And I guess similar change should be made on kubebuilder manager too so we can get rid of having to change the security context?

[2020-08-18 12:02] camilamacedo86 commented on #1637
Hi @harpratap,

Thank you for your reply. See that we should not add the fixed ID. If you look we are using the variable already:

[code]

Also, for further information check https://github.com/GoogleContainerTools/distroless/issues/235#issuecomment-503746132

In this way, what we need to close this task:

We need to collab to the brancz/kube-rbac-proxy in order to this project provide an image th

[2020-08-18 22:02] hasbro17 commented on #1378
So to refresh, the main requirements of plugins phase 2 is to have a true plugin architecture that supports:
1. Plugins as separate binaries that can be discovered by the Kubebuilder CLI binary via user specified plugin filepaths.
2. Plugins that can be written in any language.

The existing [experimental plugin interface](https://github.com/kubernetes-sigs/kubebuilder/tree/master/plugins) outline

[2020-08-19 06:29] harpratap commented on #1637
@camilamacedo86 Thanks for your changes!

Regarding `securityContext.runAsNonRoot` it automatically defaults to `true` in case the podSecurityPolicy defines `MustRunAsNonRoot` as mentioned [here](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#users-and-groups)

So if we are defining `securityContext.runAsUser`, `runAsNonRoot` is redundant

[2020-08-19 10:45] camilamacedo86 commented on #1496
/remove-lifecycle stale

[2020-08-20 14:16] eddycharly opened #1646 "Working with custom marshalling ?"
Is there a way to workaround types with custom marshalling ?

Those types typically don’t have json tags and therefore generate type Any in the open api schema.

See this for example https://github.com/tektoncd/pipeline/blob/8df31f7358c381e4fc97b6cb51b90897dd8115cd/pkg/apis/pipeline/v1beta1/param_types.go#L86-L93

/triage support

[2020-08-20 15:22] eddycharly commented on #1646
Why not just add `x-kubernetes-preserve-unknown-fields: true` on the node and omit the offending field ?

[2020-08-20 21:23] donmstewart commented on #1634
Thanks for the follow up it's appreciated. I tried correcting the error you pointed out and alas still no go.

[2020-08-23 18:56] sonaysevik opened #1650 "Kubebuilder init error on Windows"
Hello,

I am working on Windows, trying to run kubebuilder and build my first Kubernetes operator. I took the following steps so far:

- Downloaded Kubebuilder from github repo
- Ran `go build -o kubebuilder.exe ./cmd/`
- Then  in the directory that I want to create operator ->`go mod init kubetest `
-  ` PATH_TO_KUBEBUILDER/kubebuilder.exe  init --domain example.com `

And after some other logs,

[2020-08-24 12:30] majinghe opened #1651 "Chinese version for Kubebuilder docs are available and want to be merged."
Hi team
Cloud Native Community in China already translated the Kubebuilder docs into Chinese, now Chinese version is available on https://cloudnative.to/kubebuilder/. Community wants to confirm is it possible to merge the Chinese docs into the Kubebuilder main repo? Thanks

[2020-08-25 10:28] jpkrohling opened #1652 "'make deploy' fails with 'config/webhook/manifests.yaml: no such file or directory'"
When running `make deploy` following the webhooks part of the tutorial, I get this:

[code]

Steps to reproduce:
1. `kubebuilder init --domain tutorial.kubebuilder.io --repo github.com/jpkroehling/cronjob`
1. `kubebuilder create api --group batch --version v1 --kind CronJob`
1. `make manifests`
1. `kustomize build config/default` (called as part of `make deploy`)

Now, change `config/crd/kustomiza

[2020-08-25 11:48] jpkrohling commented on #1652
Sorry, it was a PEBKAC issue. I missed one step:

[code]

[2020-08-25 11:48] #1652 closed

[2020-08-26 19:38] krol3 commented on #1622
/assign

[2020-08-27 08:37] #581 closed

[2020-08-27 15:08] lukasfrank commented on #1627
I was facing a similar issue:
[code]

For me it worked to use the ``k8s server`` version ``v1.16.12``

[2020-08-27 15:40] joelanford opened #1654 "Include <resource>/finalizers permission in default scaffold"
When deploying operators to clusters that have the [`OwnerReferencesPermissionEnforcement` admission controller](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#ownerreferencespermissionenforcement) enabled, I want my operator to work without having to figure out why I get an error like this:

`"deployments.apps \"memcached-sample\" is forbidden: cannot set blockOwne

[2020-08-27 22:39] CharlyF commented on #1486
👋  I am in a similar situation where I was using a `tolerance` parameter as a float but that is not working anymore: https://github.com/kubernetes-sigs/controller-tools/issues/245

I am ok with using a resource.Quantity, but I would like to be able to specify something like:
[code]
 for the `resource.Quantity`.

/remove-lifecycle stale

[2020-08-28 10:44] rajasaur opened #1655 "Document kustomize version to be used with Kubebuilder"
The CRDs generated by kustomize for Status Subresource handling seems to be dropped off in Kustomize 3.8.0 and beyond. After adding the `// +kubebuilder:subresource:status` marker which generates the
[code]
section in the config/crd/bases folder, running a `kustomize build config/crd` doesnt seem to update the final CRD with the status subresource. This causes any updates on the Status resource to

[2020-08-28 12:37] rajasaur commented on #1633
This might be related: https://github.com/kubernetes-sigs/kubebuilder/issues/1655

[2020-08-29 18:54] mingliangguo commented on #1466
I ran into the exact same issue with the latest tutorial. And I also saw some discussions about the same issue in https://github.com/kubernetes-sigs/controller-tools/issues/444

Does it mean this will not be fixed in kubebuilder until the issue is fixed in controller-tools?

[2020-08-30 22:01] camilamacedo86 commented on #1543
/remove-lifecycle stale

[2020-08-31 22:28] camilamacedo86 commented on #1476
/remove-lifecycle stale

[2020-09-01 14:35] camilamacedo86 commented on #1637
HI @harpratap,

Really thank you for your collaboration and patient with.  See that I could finish this one: https://github.com/brancz/kube-rbac-proxy/pull/86 and I added the comments for we address your suggestion here in Kube as well. See; https://github.com/kubernetes-sigs/kubebuilder/pull/1635.

It is great and you had an excellent spot on this one.

[2020-09-01 19:47] camilamacedo86 opened #1657 "upgrade to use the latest version of kustomize"
## WHAT
- Upgrade to use the latest version of kustomize
- The latest version is 3.8.2 currently.
- Sheck if the kb workflow will be impacted by kubernetes-sigs/kustomize#2742. (See if the namespace will still be created or not). If not, it is required to investigate if it means a breaking change required in the kb scaffold project or if it should be addressed in the kustomize.

NOTE: The change s

[2020-09-02 12:39] harpratap commented on #1637
@camilamacedo86 Thanks so much!

[2020-09-02 22:57] codeblooded opened #1659 "Missing book reference docs for creating custom events"
I was looking at creating events for my custom resource, but I did not see docs on this topic in the v2 book. I see a page from the old book that was deleted in #692. Would we want to add some reference docs for the new book, or has advice changed on using events?

/kind documentation

[2020-09-04 07:27] liuming-dev opened #1660 "Some fields of `kubebuilder version` output are missing or unknown"
**kubebuilder (installed by brew)**

[code]

**kubebuilder(downloaded from [kubebuilder_2.3.1_darwin_amd64.tar.gz](https://github.com/kubernetes-sigs/kubebuilder/releases/download/v2.3.1/kubebuilder_2.3.1_darwin_amd64.tar.gz))**

[code]

Some fields of `kubebuilder version` output missing or are unknown, are there some mistakes when building？

/kind bug

[2020-09-07 09:12] Shashankft9 commented on #1169
I am facing this issue currently, whats the resolution?
[code]
[code]

[2020-09-07 14:18] georgettica commented on #1599
if these files are required, integrating into `brew` is also helpful

[2020-09-07 14:23] camilamacedo86 commented on #1599
Hi @georgettica,

If you run brew install kubebuilder it will install the binaries because they are shipped with Kubebuilder currently. The goal here is in the long term we do not need to ship them.

It was solved for v3+. See: https://github.com/kubernetes-sigs/kubebuilder/pull/1626

So, when we are able to removed the support for v2 and removed it from the projects as was done for v1 it will be

[2020-09-07 14:23] #1599 closed

[2020-09-07 14:27] camilamacedo86 commented on #1508
/remove-lifecycle rotten

[2020-09-07 14:38] georgettica commented on #1599
@camilamacedo86 I installed kubebuilder and they were not installed

[2020-09-07 18:06] varshaprasad96 opened #1663 "Conversion webhook scaffolding (v3-alpha plugin)"
Currently, Kubebuilder supports scaffolding for validating/defaulting Webhooks. While using `--kubebuilder create webhook` when defaulting or validating option is specified, the project scaffolds  `$kind_webhook.go`, which contains the necessary method signatures directing the user to implement them. Whereas when `--conversion` option is specified, the cli only prints out a message stating necessa

[2020-09-08 07:48] antonincms opened #1665 "Bug in multigroup suite_test generation"
**What broke (please include exact error messages if you can):**
When generating a basic multigroup project, the generated `suite_test.go` is wrong and does not register CRD correctly during integration tests.

**Step to reproduce:**
- bootstrap the project with `kubebuilder init --domain "example.io"`
- modifying the PROJECT file to add `multigroup: true`
- creating an API with `kubebuilder creat

[2020-09-08 09:04] MartinForReal opened #1666 "cert-manager related configuration should be migrated to cert-manager.io/v1"
add support for cert-manager v1.0+

related: #1667

/kind feature

[2020-09-09 04:52] gabbifish commented on #1518
Entrypoint docs for envtest, in the context of the cronjob tutorial, were put into the production kubebuilder book with PR https://github.com/kubernetes-sigs/kubebuilder/pull/1579. I think we can consider this issue closed :)

[2020-09-09 10:05] camilamacedo86 commented on #1665
/assign @camilamacedo86

[2020-09-09 10:07] camilamacedo86 commented on #1660
Did you not clone it before from master? Shows that you have a kubebuilder bin locally that was built via `make install`.

[2020-09-09 10:15] camilamacedo86 commented on #1650
Hi @sonaysevik,

The project is officially supported just on Linux and Mac OS X.  However, shows that all problems regard the win SO would be solved if we add as pre-requirement use the https://www.cygwin.com/ to work with. Could you please help us by verifying it?

Also, we have some issues raised to make it works with Win. Then, please let knows it if worked and your help/contribution to it woul

[2020-09-09 10:16] camilamacedo86 commented on #1405
More one : Golden script for Windows #1126. Btw, shows that add as a pre-requirement the usage of  https://www.cygwin.com/  on win could help us to achieve this goal.

[2020-09-09 10:35] camilamacedo86 commented on #1593
Hi @rayanebel,

I am closing this one since shows that the above information solves your scenario.  However, please feel free to raise new issues or re-open this one if you need.

[2020-09-09 10:35] camilamacedo86 commented on #1593
/close

[2020-09-09 10:35] #1593 closed

[2020-09-09 10:38] camilamacedo86 commented on #1607
Hi @hzliangbin,

I am unable to face any issue to check the preview of the PR's pushed against the master or the production docs. So, what problem with Kubebuilder and its docs preview you are facing that you require help with?

[2020-09-09 10:41] liuming-dev commented on #1660
Thanks for reply, but I did not build it via `make install`,  you can try this from the release asserts https://github.com/kubernetes-sigs/kubebuilder/releases/download/v2.3.1/kubebuilder_2.3.1_darwin_amd64.tar.gz

[2020-09-09 10:45] camilamacedo86 commented on #1646
Hi @eddycharly.

Shows that your problem was regards the versions used.  We have tasks and PR to working in the upgrade of the versions to use v1. The problem faced by you is not faced in all currently support clusters versions too but it will be addressed soon in v3+.

See PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1644 and the issue  #933.

Closing this one as a duplicate of  #933.

[2020-09-09 10:45] camilamacedo86 commented on #1646
/close

[2020-09-09 10:45] #1646 closed

[2020-09-09 10:48] camilamacedo86 commented on #1605
Hi @champak,

Sorry, but your question is not clear to me. Could you please provide the following info?

[code]

[2020-09-09 10:50] camilamacedo86 commented on #1605
/triage needs-information

[2020-09-09 10:52] camilamacedo86 commented on #1651
Hi @lhb008,

I think it shows great. Unfortunately, I believe that none of its owners/admins knows Chinese and would be really hard for our keep maintained many languages.it will need to rely on the community contributions. So, IMO we need clarifies that the English docs are mainly maintained just in case it gets outdated. At least, Chinese users will be able to have the thought/light to try to ch

[2020-09-09 10:53] camilamacedo86 commented on #1651
/kind documentation
kind feature

[2020-09-09 10:53] camilamacedo86 commented on #1651
/kind feature

[2020-09-09 10:54] camilamacedo86 commented on #1651
/triage support cancel

[2020-09-09 12:02] camilamacedo86 commented on #716
This doc is available in prod. See: https://book.kubebuilder.io/cronjob-tutorial/writing-tests.html
Closing this one.
/close

[2020-09-09 12:02] #716 closed

[2020-09-09 23:07] DirectXMan12 commented on #1651
@camilamacedo86 I talked to some folks, I think we have official language docs reviewers for the Kubernetes project.  We should be able to have them do reviews/basic checks of the docs, and then merge.  I'll file a bug in the SIG docs repo and see about getting stuff reviewed.

@lhb008 can you open a PR with the book contents?  We might want to create a separate branch and subdomain for them

[2020-09-09 23:55] DirectXMan12 commented on #916
yes, it meets the requirements -- "frozen" means don't bug us about issues going stale.  However, we're still waiting on a proposal of *how* to accomplish this (some sort of design/prototype/whatever)

[2020-09-09 23:57] DirectXMan12 commented on #1630
Oh!  A while ago we switched to using a staging branch for the published version of the book.  https://master.book.kubebuilder.io/ has the "nightly" content.  The book is actually built off of the book-v2 branch, which is supposed to be updated on each release.

It may be out of date, though.

[2020-09-10 00:06] DirectXMan12 commented on #301
@JohnStarich can you share an example for your type -- this worked for me on the latest release:

[code]

[code]

[2020-09-10 00:07] DirectXMan12 commented on #301
(closing for now, feel free to keep commenting)

[2020-09-10 00:07] #301 closed

[2020-09-10 00:16] DirectXMan12 commented on #1378
Go's plugin package is a bit of a mess, and basically not useful unless the plugins are built alongside the main process.

The only thing I'm hesitant about for the go-plugin library is that it seems like it's built for long-running plugins and not short-lived plugins, but if it works well for that case, that seems fine.  The alternative is just passing JSON/proto back and forth across stdin/stdou

[2020-09-10 00:23] DirectXMan12 commented on #1404
FYI, I think this is largely just waiting for someone to implement.

/good-first-issue

[2020-09-10 16:01] YiannisGkoufas opened #1672 "Webhook configuration to allow namespaceSelector"
On the documentation about Webhook's on core types (like pods) https://book.kubebuilder.io/cronjob-tutorial/running-webhook.html t is mentioned that we should use namespaceSelector.

However if I am not wrong it's not part of the API according to this  https://book.kubebuilder.io/reference/markers/webhook.html

I am aware that we can always add it on the yaml afterwards but still it would be nice

[2020-09-10 16:49] gabbifish commented on #1630
Hi @Colstuwjx! @DirectXMan12 is right, the current version of the book in the `book-v2` branch (what you see on http://kubebuilder.io/) is slightly outdated.

What do folks think about having automated cherry-picks of typo/docs bugfix PRs from the staging branch to the production branch, so we can more efficiently propagate minor fixes like this to production?

We could use the new PR label scheme

[2020-09-10 20:17] #1468 closed

[2020-09-11 01:23] camilamacedo86 commented on #1405
/remove-lifecycle stale

[2020-09-11 17:23] theishshah commented on #1665
/assign @theishshah

[2020-09-11 17:37] theishshah commented on #1660
I believe this is an issue with the binary uploaded to Brew not with the version command itself. Have you looked at opening a ticket with Brew itself?

[2020-09-11 17:56] camilamacedo86 commented on #1660
Hi @liuming-dev,

I found the formula it is here; https://github.com/Homebrew/homebrew-core/blob/master/Formula/kubebuilder.rb . See that it is not using the binary. in this way, the issue is on it as described by @theishshah. we could change the formula to use the binary instead of git chec out the tag. Would you like to contribute with this fix there?

[2020-09-11 21:06] DirectXMan12 commented on #1543
/lifecycle frozen

[2020-09-11 21:23] DirectXMan12 commented on #1351
/remove-lifecycle rotten

I think we mentioned this during the most recent meeting

[2020-09-11 21:30] DirectXMan12 commented on #1562
Yeah, so the issue was that kubebuilder wasn't intended to be a library originally -- it was just a tool.  The rules for fetching go modules don't really admit the admit the existence of tools.  For tools that aren't meant to be imported, bumping the major version without changing the import path is fine.  That being said, since we now have folks trying to import parts, we should fix this.

Re "Fi

[2020-09-11 21:45] DirectXMan12 commented on #1630
@gabbifish if you can get that working reliably, I'm all for it :-).  That wounds wonderful.

[2020-09-11 23:14] rytswd opened #1674 "Book theme not loading correctly for newly accessed users"
When there is no browser localStorage holding the theme information, the theme gets set incorrectly, and makes theme updates later impossible.

You can reproduce the error by removing the localStorage from the browser, or use incognito mode.

[code]

After this error, the theme selection would not work, and the sidebar control also stops functioning (though responsive view is handled correctly at

[2020-09-13 10:01] prafull01 commented on #1404
/assign

[2020-09-13 15:37] sourcedelica commented on #1351
Re: the comment from @dionysius - you can now point the `KUBEBUILDER_ASSETS` environment variable to `<kubebuilder_install>/bin`.  For example:
[code]

[2020-09-13 19:17] pwittrock opened #1678 "Create apiserver-runtime repo for apiserver-builder-alpha subproject"
@DirectXMan12 @camilamacedo86 @gabbifish

# Background

The [apiserver-builder-alpha](https://github.com/kubernetes-sigs/apiserver-builder-alpha) project pre-dates kubebuilder and was an early prototype for kubebuilder.  Its implementation relied heavily on code generation to mirror the samples, rather than using interfaces and libraries.  apiserver-builder-alpha provided a solution for building r

[2020-09-13 23:08] hasbro17 commented on #1513
/lifecycle frozen

[2020-09-14 03:40] yue9944882 commented on #1678
thanks @pwittrock! btw for now one issue on the code-generation approach is that the original kubernetes code-generator framework -- gengo -- is getting [extremely slow](https://github.com/kubernetes/gengo/issues/177) when running under go mod --- which is now a standard approach for dep management. apiserver-builder will run more than 5 standalone code-generators from different repos by spawning

[2020-09-14 09:18] gabbifish commented on #1634
Hi @donmstewart! I haven't tried to reproduce this issue yet either, but just to make sure I know what behavior you're running into, are you still seeing
[code]
even after you've modified your annotation to use:
[code]

Can you also try
[code]
and let me know if that works?

[2020-09-14 11:48] camilamacedo86 commented on #1435
It shows solved with the target `make test-e2e-local`.

Closing this one.

/close

[2020-09-14 11:48] #1435 closed

[2020-09-14 11:49] camilamacedo86 commented on #1513
/remove-lifecycle rotten

[2020-09-14 12:14] camilamacedo86 opened #1680 "Cronjob implementation in the tutorial not works"
The following error is faced when we try to run the make tests with.
[code]

[2020-09-14 17:22] rmb938 commented on #1657
That kustomize change makes it so namespaces no longer use the name prefix...

So when  I go and `kustomize build` the files kubebuilder generates the namespace no longer has the prefix.

[2020-09-15 05:27] gabbifish commented on #1518
/close

[2020-09-15 05:27] #1518 closed

[2020-09-15 05:28] gabbifish commented on #1680
/assign @gabbifish

[2020-09-15 09:39] liuming-dev commented on #1660
Sorry, @camilamacedo86 , I'm not familiar with brew formula.

[2020-09-15 13:24] #1665 closed

[2020-09-15 20:27] DirectXMan12 commented on #1678
I think any code generation required for the new repo can probably be handled by controller-tools anyway (which is way faster), but the generation for the new repo is fairly minimal.

overall :+1:

[2020-09-16 08:42] rytswd commented on #1674
This looks to be fixed in the master branch, and we only need the new release to pick up the latest to book-v2 branch. Closing as there is no further action needed.

[2020-09-16 08:42] #1674 closed

[2020-09-16 09:23] #1680 closed

[2020-09-16 15:56] pwittrock commented on #1678
Ack.  The code generation is a lot faster for the apiserver-runtime AFAICT.  Right now only the DeepCopy and OpenAPI need to be generated, and both of those could be addressed by introducing proper protosupport.  Generating the go types from the proto would be very rapid.

[2020-09-17 02:17] zzxwill commented on #1466
Hit the same issue.

[2020-09-17 06:53] wangweihong commented on #1593
hi, @camilamacedo86.. I found not matter what error reconcile returns, it always log such a stack trace. I am confused if it is panic problem, or just a normal case.
[code]
[code]

[2020-09-18 00:03] #1436 closed

[2020-09-18 08:12] gabbifish commented on #1627
Hello! I'm using kubernetes version `v1.17.0` and haven't been able to reproduce this issue on that version. Have you been able to successfully run `make install & make run`? Has upgrading your kubernetes version helped you?

[2020-09-18 10:45] camilamacedo86 commented on #1519
/remove-lifecycle stale

It still required. we need to fix the context after its changes definitions.
Also, it shows a need for a milestone v3.0.0

[2020-09-18 15:15] camilamacedo86 commented on #1657
Confirmed that:

see: https://github.com/kubernetes-sigs/kustomize/issues/3005

[2020-09-18 18:24] matthchr opened #1684 "reapplying CRD yaml with conversion webhook enabled causes unexpected CRD resourceVersion update"
## What broke
`kubectl apply -f` of a Kubebuilder generated CRD with conversion webhook enabled causes `resourceVersion` of CRD to be updated (which triggers watches to expire, which triggers re-list + reconciliation of all CRs of that CRD type).

## What did I expect to happen?
`resourceVersion` shouldn't be changed.

The reason `resourceVersion` was changed is because of [this section](https://g

[2020-09-19 01:56] steveQuadros opened #1685 "Question on external CRDs document and best practices for testing"
I was checking out [this doc on external types](https://github.com/kubernetes-sigs/kubebuilder/commits/master/docs/using_an_external_type.md) following from https://github.com/kubernetes-sigs/kubebuilder/issues/369 which lead me to https://github.com/kubernetes-sigs/kubebuilder/pull/752
There is also an [issue that mentions this exists](https://github.com/kubernetes-sigs/kubebuilder/issues/538#iss

[2020-09-19 12:00] hzliangbin commented on #1607
@camilamacedo86 thanks for your reply. I managed to  make it work now. but the config is a little different. not a big deal.

[2020-09-19 12:00] #1607 closed

[2020-09-19 14:41] #1475 closed

[2020-09-19 18:20] prafull01 commented on #1654
/assign

[2020-09-21 09:38] mjovanovic0 commented on #1634
Hi,

i stumbled upon same issue.

[code]

will both produce:
[code]

While:

[code]

will produce:
[code]

[2020-09-21 11:53] camilamacedo86 commented on #1634
It shows a bug in the https://github.com/kubernetes-sigs/controller-tools.

[2020-09-21 12:53] mjovanovic0 commented on #1634
Just tested and same issue with v0.4.0. `-1` or `"-1"` both got generated as string literals.

Zero and positive numbers are correct.

[2020-09-21 14:38] camilamacedo86 commented on #1634
So, we only need to upgrade the controller-gen which will get in place with https://github.com/kubernetes-sigs/kubebuilder/pull/1644.

[2020-09-21 17:43] camilamacedo86 commented on #1573
/remove-lifecycle stale

[2020-09-21 21:28] prafull01 commented on #1640
@camilamacedo86 If no one is working on it, I would be happy to pick it up.

[2020-09-21 23:52] camilamacedo86 commented on #1640
Hi @prafull01,

Your help is more than welcome 👍 it is great . Please, feel free to help and work on in any issue that pleases you.

[2020-09-22 00:10] camilamacedo86 opened #1689 "Single nomenclature for apis directory in order to keep it simple for us and users (v3 only)"
#### Describe the problem you need a feature to resolve.

Currently, the projects are scaffold with the path `api` by default. However, if we allow multigroup support the name of the path will be `apis/`. Note that in this directory, we can have the implementation of 1..N APIs. In POV:

- change the name of the directory for these scenarios do not bring value for users or maintainers. Actually, IH

[2020-09-22 00:13] camilamacedo86 commented on #1640
Hi @prafull01,

I think would be easier if we could to do first: https://github.com/kubernetes-sigs/kubebuilder/issues/1689. WDYT?

[2020-09-22 00:25] DirectXMan12 commented on #1634
We fixed this bug in controller-tools recently: https://github.com/kubernetes-sigs/controller-tools/commit/359a54087719ebc15a9e2d082a73686c2df3bbf4

It's not in a release yet

[2020-09-22 01:45] prafull01 commented on #1689
/assign

[2020-09-22 02:04] prafull01 commented on #1640
/assign

[2020-09-22 10:32] camilamacedo86 commented on #1640
Another ticked that is related and could make easier we keep the current behaviour for v2 and new behaviour for v3 only would be the issue https://github.com/kubernetes-sigs/kubebuilder/issues/1639 to make the edit to be a plugin as well. See that we have a plugin to [create the api](https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugin/v3/api.go), other to [init the project](https

[2020-09-22 10:41] prafull01 commented on #1640
Sounds perfect.

[2020-09-22 11:42] prafull01 commented on #1639
/assign

[2020-09-23 23:12] noquarteer commented on #618
For further reading, using KubeBuilder v2 I managed to use predicates for not reconcile after updating as shown below.

[2020-09-23 23:23] noquarteer commented on #892
I was able to get SetControllerReference works, using it within an anonymous function as a parameter for the CreateOrUpdate method.

[code]
Also, my controller Owns the Service Kind in this case:

[code]

[2020-09-24 11:03] cargaona opened #1693 "Make dry-run to get manifests.yaml"
Hi! During last weeks I've been developing an operator and noticed that there is no clear way to obtain the manifests for the resources we generate.

So I edited the makefile to get a "make dry-run" command which writes all the manifests for deploying the Operator in a "dry-run" folder.

[code]
I think it can help making things faster.

/kind feature

[2020-09-24 11:44] camilamacedo86 commented on #1693
Hi @noquarteer,

Thank you for share. I am not sure if I got your motivation. So, I'd like to share that usually the steps are as describe in the [quick-start](https://book.kubebuilder.io/quick-start.html) which means that when we run `make deploy IMG=<some-registry>/<project-name>:tag` all manifests will be applied on the Cluster.

So, could you please help me understand better why you need to mo

[2020-09-24 12:26] noquarteer commented on #1693
Hi Camila!
Make deploy works great. But it applies everything to the cluster and I don't get the yaml files being applied. What I want by adding this dry-run is to get the yaml files that are going to be applied to the cluster instead of applying them. Something like helm --dry-run does.

Since i'm working on a operator that will be deployed in various clusters, I can distribute this manifest file

[2020-09-24 12:37] camilamacedo86 commented on #1693
Regards the distribution I'd like to recommend you check the [OLM](https://github.com/operator-framework/operator-lifecycle-manager). You can integrate your projects with OLM and provide them in a catalogue whcih can be internal or public. See https://operatorhub.io/ to have a better idea.

[SDK](https://github.com/operator-framework/operator-sdk) 1.0+ can help you integrate your kubebuilder proje

[2020-09-24 13:56] noquarteer commented on #1693
Sounds good to me. I will submit a PR soon for makefile-helpers.
Thanks for your help!

[2020-09-24 18:25] DirectXMan12 commented on #1684
Yeah, I think that comment predated 1.13, possibly.  the fix sounds good, plus it'll be more correct with SSA (since we don't want to own that field anyway).

[2020-09-24 19:28] DirectXMan12 opened #1694 "snapshot/release cloudbuild config is b0rked"
The cloudbuild configs in build/cloudbuild.yaml & build/cloudbuild_snapshot.yaml are b0rked -- they use Go 1.12 to build, and we've long since required Go 1.13.  We should fix them up.

While we're at it, they seem to still be using go-releaser, which I think we wanted to switch off of.  We should start populating kubernetes-sigs/kubebuilder-release-tools with common releasing infrastructure, and

[2020-09-24 19:38] vincepri commented on #1694
Does this affect the ability for us to release new kubebuilder-tools for testenv? Or is this separate?

[2020-09-24 20:20] DirectXMan12 commented on #1694
separate -- we've got 4 cloudbuild triggers currently:

- (tools-releases:build/cloudbuild_tools.yaml) on **push** to `release-tools` --> build darwin/amd64 envtest bundle --> upload to GCR
- (tools-releases:build/cloudbuild_tools.yaml) on **push** to `release-tools` --> build linux/amd64 envtest bundle --> upload to GCR
- (master:build/cloudbuild.yaml)  on **tag** to `master` --> build linux/amd6

[2020-09-24 20:21] DirectXMan12 commented on #1694
the ones that are broken are the last two, although the tag one hasn't manifested since we haven't done a release in a while

[2020-09-24 20:36] vincepri commented on #1694
got it, thanks for the info 🤔, have to take a deeper look

[2020-09-25 12:59] #1654 closed

[2020-09-25 14:15] #1404 closed

[2020-09-25 18:57] DirectXMan12 commented on #601
That's because controller-gen is no longer responsible for generating the bindings -- it just generates the role itself.

[2020-09-30 01:34] githubbot-eric opened #1700 "Customize the listwatcher to select CRDs with specific label"
I think this might not be a case suitable for CRD + Controller but we are using it. We have huge number of CRDs created, and all of them can be ignored after reconciled to a status we can say it is completed.

During the controller restart, it needs to load all CRDs and populate the local cache, this is extremely slow (>5mins) as the total number of CRDs is very huge.

We want to put a label like

[2020-09-30 12:55] atomerz commented on #1544
I started out with building the project by following the instructions on the tutorial and I got the error. Then I tried cloning the project and still see the same error.

[2020-09-30 18:08] vincepri commented on #1582
/lifecycle frozen

[2020-09-30 18:08] vincepri commented on #1581
/lifecycle frozen

[2020-10-01 12:42] camilamacedo86 opened #1701 "Error to create webhook when has no resource for it"
**Problem**

[code]

[2020-10-01 12:53] camilamacedo86 commented on #1701
/assign @camilamacedo86

[2020-10-01 23:08] rashmigottipati commented on #1378
Based on the investigation on plugin libraries such as the built-in Go's plugin package and Hashicorp’s go-plugin library, we have come to the conclusion that it is more suitable to write our own custom typed plugin library.

The built-in plugin library seems to be a non-starter as it is more suitable for in-tree plugins rather than out-of-tree plugins and it doesn’t offer cross language support.

[2020-10-02 09:23] VoltBit commented on #1210
https://github.com/Homebrew/homebrew-core/issues/44175

[2020-10-02 15:47] mirogta commented on #1583
See https://www.techrepublic.com/article/github-to-replace-master-with-main-starting-in-october-what-developers-need-to-know/

[2020-10-03 17:51] Jiajing-Hu opened #1706 "Controllers on Core reosources"
Hello, Kubebuilder Contributors
i meet a question while use kubebuilder , Is it possible to create a controller on core resources ?
I followed the v2 version of the guide, but did not find relevant information.

i NOTECED that this issue is mentioned in [Controllers for Core Resources
](https://book-v1.book.kubebuilder.io/beyond_basics/controllers_for_core_resources.html)

but there are no more de

[2020-10-03 23:41] camilamacedo86 commented on #1706
Hi @Jiajing-Hu,

With the master version of the Kubebuilder tool and the v3+ plugin is possible to do it after the PR https://github.com/kubernetes-sigs/kubebuilder/pull/1679.

Could you please test it with `kubebuilder init --plugins=go.kubebuilder.io/v3-alpha`?
Also, after that WDYT about contribute with a doc explaining it? We could add a new link in https://book.kubebuilder.io/reference/refere

[2020-10-04 23:43] ymmt2005 opened #1707 "Scaffolding for webhook tests"
controller-runtime/pkg/envtest has [built-in support for webhook test](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/envtest#WebhookInstallOptions).
It would be great if kubebuilder can generate a test runner under `api/` directory because it already can scaffold webhooks.

I have a good example of such a test runner.
https://github.com/cybozu-go/coil/blob/master/v2/api/v2/suite_test.go

/

[2020-10-05 05:27] Adirio commented on #1405
@estroz Ideally we shouldn't need to introduce the CygWin development dependency just to port two Makefiles.

[2020-10-05 05:42] Adirio commented on #1384
/remove-lifecycle stale

@camilamacedo86 You can see in https://github.com/golang/go/issues/37974 how they are even including support in go doc to not document directives (which are machine-readable comments that don't start by a whitespace).

[2020-10-05 05:43] Adirio commented on #1309
/lifecycle frozen

[2020-10-05 06:31] prafull01 commented on #1707
/assign

[2020-10-05 20:01] #1402 closed

[2020-10-05 20:54] camilamacedo86 commented on #1706
I am closing this one since shows solved. Hoover fell free to ping if you need to.

[2020-10-05 20:54] #1706 closed

[2020-10-06 12:02] Shaked commented on #1366
Hey @Adirio @champak

I couldn't find it anywhere else. Is it actually possible to reduce the controller's permissions?

I'd like to make sure the controller can only access a specific namespace, without the need to have any cluster permissions.

When I tried to change the ClusterRole and ClusterRoleBinding to Role and RoleBinding, it kept complaining that the ServiceAccount has no permissions to

[2020-10-06 15:36] camilamacedo86 commented on #712
done in : https://github.com/kubernetes-sigs/kubebuilder/pull/1704

[2020-10-06 15:36] #712 closed

[2020-10-07 04:33] yaa110 commented on #1466
Same issue with k8s 1.19.

I think the issue should be reopened.

[2020-10-07 14:57] #1678 closed

[2020-10-07 15:03] agarwalpradeep123 commented on #1700
I also have a usecase of watching pods running on a node and not watch all the pods in the cluster.
This will significantly improve both memory and cpu requirements.

How can this be achieved?

[2020-10-07 15:24] Jiajing-Hu commented on #1706
sorry for late response.

[code]
do not work

but, I found it work with
kubebuilder create api --group "core" --kind "Pod" --version "v1" .

anyway, thanks for your help .

[2020-10-08 13:29] camilamacedo86 commented on #885
/remove-lifecycle rotten

[2020-10-09 07:36] bsctl commented on #1637
@camilamacedo86 Thanks for working on this. Waiting for update to a rootless image.

[2020-10-09 15:09] StevenACoffman commented on #885
Given that kubernetes-sigs/controller-runtime#767 is merged, what more is remaining on this?

Is it just this?
* **`--zap-time-encoding`**: time formating in logs, valid values are "iso8601", "ISO8601", "millis" (milliseconds since epoch), "nanos" (nanoseconds since epoch), "epoch" (seconds since epoch).
  `sigs.k8s.io/controller-runtime/pkg/log/zap.Encoder`
* **`--zap-sample`**: allows to disable

[2020-10-09 16:28] miguelsorianod opened #1717 "Controllers in a multigroup project belong to the 'controllers' package"
Hi,

I'm using operator-sdk v1.0.1, which, if I've understood correctly makes use of Kubebuilder for some of its commands.

I'm working on migrating an operator-sdk based project to operator-sdk 1.x version.

I've created the new project with the `multigroup: true` setting in the `PROJECT` file. Once that is done I generate the controller with `operator-sdk create api ...`, which after looking at

[2020-10-09 20:05] christopherhein opened #1719 "Once you move main.go scaffolding can't find it to add webhook configs"
When trying to scaffold a new webhook if the `main.go` has moved it will fail to create anything even just the webhook file and ignoring updating of the `main.go`.

[code]

I'm able to do the `create` command for new APIs and it will still succeed when the `main.go` is moved even though it errors. I'd expect that I can at least create the `{resource}_webhook.go` file at least.

What versions of so

[2020-10-11 15:48] camilamacedo86 commented on #1719
Hi @christopherhein,

The tool will scaffold data in the main.go so if you change the layout by moving the main.go it will no longer work. See that the `create api` also face the same;

**Example**

- Steps to mock

[code]

- Error:

[code]

also, for both, it shows the expected behaviour. in this way, could you clarify why in your opinion it would be a bug?

[2020-10-11 15:52] camilamacedo86 commented on #1717
Hi @miguelsorianod,

thank you for raise it. Could you please let us know if you will be working on to solve this scenario? if yes, could you please assign the issue to your self? Also, since it does not cause issues wdyt about we classify it as an RFE?

[2020-10-11 15:55] camilamacedo86 commented on #1701
PR to fix is; https://github.com/kubernetes-sigs/kubebuilder/pull/1708

[2020-10-11 16:24] camilamacedo86 commented on #1700
Hi @githubbot-eric and @pagarwal-tibco,

The idea of operators is that you write solutions which are idempotent which means that will always result in the same expected result.

Note that the reconcile is NOT re-trigged ONLY by the watches. By default, the reconciliation will be called for the CR's each every 10 hours.  See the Options Struct which is used to create the Manager: https://pkg.go.dev

[2020-10-11 16:30] camilamacedo86 commented on #1694
Hi @vincepri and @DirectXMan12,

Might valid consider using Go 1.15. See that controller-runtime is already updated and we have an open to do it here as well. see; https://github.com/kubernetes-sigs/kubebuilder/pull/1716

[2020-10-11 16:30] camilamacedo86 commented on #1693
it is done closing this one.

[2020-10-11 16:30] #1693 closed

[2020-10-11 19:39] camilamacedo86 commented on #1685
HI @steveQuadros,

By running the command `create api` is generate the Custom Resource (CR) in the [config/samples](https://github.com/kubernetes-sigs/kubebuilder/tree/master/testdata/project-v3/config/samples) and Custom Resource Definition (CRD) in [config/crds/bases](https://github.com/kubernetes-sigs/kubebuilder/tree/master/testdata/project-v3/config/crd/bases) for the Kind provided. This comm

[2020-10-11 22:33] christopherhein commented on #1719
Hey @camilamacedo86, sorry about that I should have been more clear.

The error messaging is fine, the interaction is different which is confusing. If you’ve moved the `main.go` and you use `create api` it will still create the other scaffolding besides updating the `main.go` where as when you use `create webhook` it will look like it wrote the scaffolded file into `api/{kind}/{version}/{resource}

[2020-10-11 23:10] camilamacedo86 commented on #1719
Hi @christopherhein,

It happens because the tool goes until face the issue in both cases. The tool has no rollback in failures case. IHMO the correct approach would ensure in the tool that the required files are when should be in the validate func of the plugin which means that the error would be raised before to do any scaffold.

[2020-10-11 23:43] christopherhein commented on #1719
I think that would be acceptable if you were able to turn off updating `main.go` with a flag or a config in `PROJECT`

[2020-10-12 05:05] pagarwal-tibco commented on #1700
Hi camilamacedo86,

My concern is more about limiting the number of kubernetes resources needs to cached/watched and processed. My use case is of having daemon-set watching pods on current node, hence I am looking for a solution like having a fieldSelector for the resources being watched/cached and reconciled.

I see that kubernetes client-go library provides similar functionality with `func NewLi

[2020-10-12 10:19] camilamacedo86 commented on #1591
/remove-lifecycle stale

[2020-10-12 10:24] camilamacedo86 commented on #1591
Hi @varunpal7,

Sorry for teh delay. It shows that go version in the build files. See the pr: https://github.com/kubernetes-sigs/kubebuilder/pull/704/files

It should be https://github.com/kubernetes-sigs/kubebuilder/blob/master/go.mod#L3. Also, this issue shows a duplication of : https://github.com/kubernetes-sigs/kubebuilder/issues/1694.

[2020-10-12 10:32] camilamacedo86 commented on #1591
regards Hi @varunpal7,

Sorry for the delay. It shows an error with the go version required to build files. `ERROR: build step 4 "gcr.io/kubebuilder/goreleaser_with_go_1.12.5:0.0.1" failed: exit status 1`

It should be https://github.com/kubernetes-sigs/kubebuilder/blob/master/go.mod#L3. Also, all shows that this error will be addressed in the issue; https://github.com/kubernetes-sigs/kubebuilder/

[2020-10-12 10:32] #1591 closed

[2020-10-12 11:31] camilamacedo86 commented on #1700
Hi @pagarwal-tibco,

The Kubebuilder is only a CLI tool which helps users by scaffolding the files. The [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime) is the project which implements the controller implementation and the watches feature. See that you can use Predicates to filter.

[code]

See the doc https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/controller and

[2020-10-12 11:52] camilamacedo86 commented on #1700
Hi @pagarwal-tibco,

I saw that you cut and paste your previous comment in the controller-runtime issue. however, see that in the previous comment here was added examples over how you can solve this problem using the Predicates or by doing an implementation of EnqueueRequestsFromMapFunc if you wish. Could you please let us know why the Predicates do not solve your problem?

[2020-10-12 14:06] camilamacedo86 commented on #1719
Hi @christopherhein,

Regards ` if you were able to turn off updating main.go with a flag or a config in PROJECT`, it would be an RFE. Could you please raise an issue for that and what is the problem that it would solve and why you think that is important?

[2020-10-12 18:47] vincepri commented on #1584
/lifecycle frozen

[2020-10-13 04:26] pagarwal-tibco commented on #1700
Hi @camilamacedo86,

As far as I understand, predicates will help in filtering out resource which we don't want to be processed by reconciler. But those resource will still be cached, right?

I would like them to be filtered completely(not have them in cache) and make it very lightweight

[2020-10-13 06:08] githubbot-eric commented on #1700
Thanks for your reply!

Same case with @pagarwal-tibco

We have huge number of CRDS which make the controller take extremely long time (always fail before we adjust the timeout) to startup.
What we really want to achieve is we don't even want the controller to build local caches for the CRDs if status is completed, this is why I'm asking if kube-builder has the option to customize the listwatcher

[2020-10-13 07:22] #1701 closed

[2020-10-13 07:51] pantianying commented on #1157
why close? same issue, may i know the solution?

[2020-10-13 19:50] alekc opened #1722 ""Race condition" on deletion of owned object"
/triage support

Hi all, I am observing some weird issue in a situation when a child object is deleted.

To give a bit of context:

As per doc my controller uses following pattern to watch for changes on created configmaps
[code]
then, in my reconcile loop I have
[code]
if the count of `configMaps.Items` is 0, then I create a new ConfigMap

This pattern works well for the general creation, restart

[2020-10-13 22:56] #1491 closed

[2020-10-13 22:58] DirectXMan12 commented on #1694
:+1:

[2020-10-13 23:28] DirectXMan12 opened #1723 "We should have an FAQ / common issues book section"
There's all sorts of weird k8s API server issues (and a few KB-specific ones :wink:) that folks can run into, and we should document them somewhere.

Off the top of my head:

- Weird issues when a v1beta1 CRD is already installed in the cluster (invisibly set `preserveUnknownFields`, refusal to chance certain fields, etc)

/kind docs

[2020-10-13 23:28] DirectXMan12 commented on #1723
/help

[2020-10-14 11:15] camilamacedo86 commented on #885
Hi @StevenACoffman,

We need to address the comment https://github.com/kubernetes-sigs/kubebuilder/issues/885#issuecomment-597872422 in https://github.com/kubernetes-sigs/controller-runtime/blob/0e1344145ac34e036199f4d5abc8c71b59b7d7e5/pkg/log/zap/zap.go#L237 and the flags that you raise as well.

Would you like to help with this one?

[2020-10-15 00:10] christopherhein commented on #1719
Absolutely, I will get something started.

[2020-10-15 00:15] christopherhein opened #1724 "Ability to turn off mutating `main.go` when adding apis/webhooks"
It would be nice to be able to set in the `PROJECT` that you didn't want the scaffolding to update `main.go` this would allow scaffolding to work for projects that move their scheme/controller initialization to another directory like `cmd/`. Today this still works properly if you are using it to `create api` but when you use `create webhook` it will fail and none of the files are created properly.

[2020-10-15 00:15] christopherhein commented on #1719
/close

[2020-10-15 01:05] camilamacedo86 commented on #1719
Hi @christopherhein,

I think we can use this one to address the validation check to ensure that the main.go is in the root dir which is a very tiny change.
if nobody gets that, I will try to push it soon.

[2020-10-15 06:14] prafull01 commented on #1719
/assign

[2020-10-17 09:44] camilamacedo86 opened #1727 "The manifest config/default/webhookcainjection_patch.yaml ought to be scaffold in the webhook plugin"
#### What did you do?

Init a project with kubebuider init

#### What did you expect to see?

Only manifest which are part of the init domain of responsibility be scaffolded.

#### What did you see instead? Under which circumstances?

The file `config/default/webhookcainjection_patch.yaml` be scaffold as well.

#### Describe the problem you would like to resolve

- I am an operator dev would like

[2020-10-17 09:57] camilamacedo86 commented on #1727
c/c @estroz

[2020-10-17 13:35] camilamacedo86 commented on #1598
It is outdated. since the master version was updated to use 1.15.
Then, it will probably be solved with the next release.

[2020-10-17 13:35] #1598 closed

[2020-10-19 09:33] miguelsorianod commented on #1717
Hi @camilamacedo86,

I'll work on this yes.
No issue with classifying this as an RFE :+1:

[2020-10-19 09:33] miguelsorianod commented on #1717
/assign

[2020-10-19 10:57] camilamacedo86 commented on #1068
/remove-lifecycle stale

[2020-10-19 11:16] prafull01 commented on #1727
@camilamacedo86 I can pick this up, if no one is working on it..

[2020-10-19 11:38] camilamacedo86 commented on #1727
Hi @prafull01,

Feel free to get any issue that is not assigned to anybody as this one.
Really thank you for your contribution and help on that.

[2020-10-19 11:52] prafull01 commented on #1727
/assign

[2020-10-19 15:42] camilamacedo86 commented on #1665
The solution of this issues was made in the PRs: https://github.com/kubernetes-sigs/kubebuilder/pull/1673 and  https://github.com/kubernetes-sigs/kubebuilder/pull/1682

[2020-10-19 18:52] miguelsorianod commented on #1717
Hi @camilamacedo86,

I've submitted a PR https://github.com/kubernetes-sigs/kubebuilder/pull/1729 with the changes.

Let me know what you think about them.

Thank you.

[2020-10-19 18:55] camilamacedo86 commented on #1717
I would classify that as RFE instead of a bug. Otherwise, I am totally all in for that 👍
Really thank you for your contribution.

[2020-10-19 19:51] camilamacedo86 opened #1730 "Add support to run in local mode using gcp, azure, etc auth providers."
**What do you want to happen?**

Add the following in the main.go:

https://github.com/operator-framework/operator-sdk/blob/4054b5f044bbb87e452428f5df6a5be747c552b8/cmd/operator-sdk/main.go#L18-L20

If we confirm that users are unable to run projects locally (make run) in some clusters such as Azure, GCP, OIDC, etc.

**Is there currently another issue associated with this?**
Motivated by discussio

[2020-10-19 21:11] ddlees commented on #1466
@mingliangguo @zzxwill @yaa110 You can create a kustomize patch to get around this pretty trivially. That said, the controller-tools project merged a fix for this with [#480](https://github.com/kubernetes-sigs/controller-tools/pull/480); however, it is not in a release at this point in time.

Workaround:

*config/crd/patches/k8s_list_map_keys.yaml*

[code]

*config/crd/kustomization.yaml*

[code]

[2020-10-20 04:29] prafull01 commented on #1730
/assign

[2020-10-20 09:26] #1719 closed

[2020-10-20 09:36] camilamacedo86 commented on #1730
The user in operator-framework/operator-sdk#4059 confirmed that the project is working in the GKE when we run locally.
So, before we do it we need to be sure that users are unable to run the projects in the cluster such as Azure, GCP, OIDC, etc. We need to be check if it is really required first at all.

[2020-10-20 11:27] camilamacedo86 commented on #1724
Hi @christopherhein,

Thank you for raise that.

It shows related to the issue https://github.com/kubernetes-sigs/kubebuilder/issues/932. See the comment https://github.com/kubernetes-sigs/kubebuilder/issues/932#issuecomment-637159602. In this way, it shows blocked until we are able to have the plugin phase 2 implemented to know how better we could address this scenario.

[2020-10-20 12:48] camilamacedo86 commented on #1722
Shows that in the [doc](https://book.kubebuilder.io/cronjob-tutorial/controller-implementation.html) the motivation of the example is to `Watch` a resource which is not managed by the controller. Is that your case scenario as well?

However, note that one of the attributes that can be informed is `IsController` to the watches:

[code]

More info: https://pkg.go.dev/sigs.k8s.io/controller-runtime/p

[2020-10-20 12:50] camilamacedo86 commented on #1723
Following a few examples to help who will work on in this task:
- controller-runtime; https://github.com/kubernetes-sigs/controller-runtime/blob/master/FAQ.md
- sdk: https://sdk.operatorframework.io/docs/faqs/faqs/

[2020-10-20 17:34] #1684 closed

[2020-10-20 18:27] camilamacedo86 commented on #1727
As discussed in the bug triage meeting, it should be addressed only for v3+.

[2020-10-20 18:57] DirectXMan12 commented on #1685
We get asked this question quite a bit -- we should have a short tutorial or a cookbook/short-recipes section that describes this, among other things, and explains how external types related to local types (they're mostly the same).

/help

[2020-10-20 19:00] varshaprasad96 commented on #1663
/assign @varshaprasad96

[2020-10-20 19:08] camilamacedo86 commented on #1689
In the bug triage meeting, it was discussed. The api has the purpose to make intuitive the project is not multigroup. So, it was decided that it would not be accepted.

[2020-10-20 19:08] #1689 closed

[2020-10-20 19:08] camilamacedo86 commented on #1640
Closing this one.

[2020-10-20 19:32] camilamacedo86 commented on #1724
We discussed it in the bug triage meeting and then, was really decide that we might wait for the plugin phase 2 as well.

[2020-10-20 19:43] camilamacedo86 commented on #1700
HI @githubbot-eric and  @pagarwal-tibco,

The predicates can help you to not trigger the reconcile when the CR as described in https://github.com/kubernetes-sigs/kubebuilder/issues/1700#issuecomment-707063707. However, shows that you are really looking for is the kubernetes-sigs/controller-runtime#244.

PS.: It might help you out as well, the SDK has a specific implementation for another reason to

[2020-10-20 19:43] #1700 closed

[2020-10-20 19:59] camilamacedo86 commented on #1299
The issue shows that was closed as well in the controller-tools. So, we can close this one.
However, if someone faces the same feel free to raise an issue against https://github.com/kubernetes-sigs/controller-tools/pull/437#issuecomment-681178740 and working on that. Your help will be very welcome

[2020-10-20 19:59] #1299 closed

[2020-10-20 23:11] ellistarn opened #1732 "Change default path from /usr/local/kubebuilder/bin/ to something that doesn't require SUDO"
It would be great if kubebuilder didn't require sudo to install (on most machines). /usr/local is typically a restricted area of the filesystem. Additionally, it doesn't automatically wire up commonly added PATH locations, so it must be individually added.

This may not be the best approach, but many tools use GOBIN which works very well for me.

I haven't found it

Nope

/kind feature
/kind docum

[2020-10-21 02:18] christopherhein commented on #1724
Sounds good, thanks @camilamacedo86 !

[2020-10-21 11:17] camilamacedo86 commented on #1732
The default value is set up in the controller-runtime, however, the PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1711 will address that since the bins will be download per project.

[2020-10-21 12:39] prafull01 opened #1733 "Improvements in suite_test.go files generated by kubebuilder (v3+ only)"
From the discussion happened on the [1710 [comment]](https://github.com/kubernetes-sigs/kubebuilder/pull/1710#discussion_r508885222) ,the following improvements should happen on the suite_test.go files generated by kubebuilder:

1. Instead of mutating same error every time, use the form `foo, err := Func()`
2. Remove `Done` from the BeforeSuite as we are not running the BeforeSuite asynchronously.

[2020-10-21 13:22] camilamacedo86 commented on #1733
Just to register, these suggestions came from the community and were made in the review of #1710 (https://github.com/kubernetes-sigs/kubebuilder/pull/1710/files#r508884888 and https://github.com/kubernetes-sigs/kubebuilder/pull/1710/files#r508885222 ).

So, shows that make more sense to address the suggestions in a follow up of  #1710  in both suite_test.go files. (for webhooks controllers) and on

[2020-10-21 16:55] ellistarn commented on #1732
I'm not sure what you mean by bins will be downloaded per project. Do you mean gobin?

[2020-10-21 20:02] camilamacedo86 opened #1734 "webhook config directory scaffolded via webhook plugin instead of init one"
**What do you want to happen?**

The [webhook directory](https://github.com/kubernetes-sigs/kubebuilder/tree/master/testdata/project-v3-addon/config/webhook) be scaffold only/if/when I use the webhook plugin via the command `kb create webhook`

**Is there currently another issue associated with this?**

Yes, see:  #1727. It has the same motivations.

**Eng. Notes**
- See that the scaffolds are don

[2020-10-21 20:02] camilamacedo86 commented on #1734
c/c @estroz @prafull01

[2020-10-21 20:18] #1727 closed

[2020-10-21 22:19] camilamacedo86 commented on #1655
Hi @rajasaur,

The project scaffolded the supported version, see;

https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/Makefile#L89-L102

However, users are able to customize that as they wish. But it is important they know that issues might be faced when the default/supported versions are changed. In this way, it shows NOT to be a bug.

We could address that in the pre-

[2020-10-21 22:52] camilamacedo86 commented on #1633
Hi @robherley,

Are you using the kustomize version defined in the Makefile or other version?

[2020-10-21 23:03] camilamacedo86 commented on #1651
HI @lhb008,

I'd like to know if you would like to help us to achieve it? WDYT? Please, feel free to ping me if you need any help.

[2020-10-22 07:07] lhb008 commented on #1651
@camilamacedo86  Sorry to reply this so late. It is great for us community(China Cloud Native Community). I will open a PR for Chinese docs.

[2020-10-22 07:14] lhb008 commented on #1651
I have opened a PR https://github.com/kubernetes-sigs/kubebuilder/pull/1736.  Our community has already created a new branch `zh` to store the chinese docs. For the continuous update in the future, we can find a right way to do this, for example, if there is new feature for kubebuilder, you can tell our community, we will translate this into chinese, anyway, our community will focus on this always

[2020-10-22 09:32] lhb008 commented on #1651
Hi  @camilamacedo86 . What do you think about to create a new branch to store chinese docs, then i can open the PR with the corresponding chinese docs branch?

[2020-10-22 11:24] camilamacedo86 commented on #1651
Hi @lhb008,

Currently, we have:

- [book-v2](https://github.com/kubernetes-sigs/kubebuilder/tree/book-v2): book.kubebuilder.io -- current docs
- [book-v1](https://github.com/kubernetes-sigs/kubebuilder/tree/book-v1): book-v1.book.kubebuilder.io -- legacy docs
- master: master.book.kubebuilder.io -- "nightly" docs

In SDK, we had a proposal for that see: https://github.com/operator-framework/opera

[2020-10-22 11:46] lianghao208 opened #1737 "Is that a better way to watch pod without calling Reconcile() too many times?"
I hava over 3000 pods in my cluster, and I need to watch Pods status by calling SetupWithManager() function like this:
[code]
everytime I start this controller, it starts to **list** every single Pods. It calls Reconcile() function as many times as the number of Pods, which takes a long time.
Is that a way to **list** all Pod resource  by calling Reconcile() at the begining just once? And of cours

[2020-10-22 11:56] camilamacedo86 commented on #1737
Hi @lianghao208,

The goal of the Watch feature is observer the resources on the Cluster and then, call/trigger the reconcile if any event for them be raised. I mean, when the resource is created/updated/deleted/edited.

The code shared shows that you are Watching all Pods which are managed by the controller of the resource `ClusterOverview`. So, do you need to trigger the reconcile when any pod w

[2020-10-22 12:06] lianghao208 commented on #1737
Thanks for the reply! I actually need to watch all the Pods in my controller, but when the controller starts, it has to list all the pods by calling Reconcile() first (one pod at a time), then observer the changes. I am ok with the observing part, but is that a better way to list all the pods at the beginning of the controller without calling Reconcile() too many times?

[2020-10-22 12:46] camilamacedo86 commented on #1737
Hi @lianghao208,

I am not sure if I could understand what you are looking for. if you watch the Pods then the reconcile will be trigged for each resource of this Kind when an event is raised.  I mean, when the Pod(s) is created/updated/deleted/edited.

The `r.client.List()` to get all Pods in the reconcile do NOT re-trigger the reconcile. It will just return a list for it.

[2020-10-22 13:00] lianghao208 commented on #1737
Hi @camilamacedo86,
Thanks, the thing is I can`t control the trigger of reconcile

when the controller starts, it will trigger the reconcile even if there is no created/updated/deleted/edited event of the resources. Because the controller needs to get the initial state of the resources first. I can`t disable it.

[2020-10-22 13:42] camilamacedo86 commented on #1737
Hi @lianghao208,

We are not up to tell you how better you can address your needs because it is up to the requirements of your solution. However, the first operation in the Reconcile usually would be to check if has or not a CR for that, if not it will stop. See: https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/memcached-operator/controllers/memcached_controller.go#L50-L6

[2020-10-22 13:50] robherley commented on #1633
Hi @camilamacedo86, I just ran my tests again with the latest commit on master (36124ae) and used the kustomize version specified in the Makefile (`v3.5.4`) and it generates the correct output. I'll close this issue and I can take a look at #1657. Thanks!

[2020-10-22 13:50] #1633 closed

[2020-10-22 14:05] camilamacedo86 commented on #1657
Another scenario that required be checked/fixed with the upgrade is: https://github.com/kubernetes-sigs/kubebuilder/issues/1633

[2020-10-22 14:24] lianghao208 commented on #1737
Hi @camilamacedo86 ,
Have you met a situation like this? Let`s say you have over 3000 pods running in your cluster, your operator job is to count the number of pods in each namespace and record the result in the Status feild of your CR. So you have to watch every single pod in the cluster. And the manager code would be like this:
[code]
by the time the operator starts, for every single pod and nam

[2020-10-22 19:50] camilamacedo86 commented on #1737
Hi @lianghao208 ,

Would be acceptable in your requirement check the information after X time? If yes, you can not watch the Pods and then do such as:

- fetch the CR :  https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/memcached-operator/controllers/memcached_controller.go#L50-L68
- Get the pods
- update the CR
- and then, reconcile again after X time. E.g `return ctrl.Re

[2020-10-23 01:59] lhb008 commented on #1651
Hi @camilamacedo86 . Actually,  our [chinese translation](https://cloudnative.to/kubebuilder/) is based `master` branch. A new branch `book-v2-zh` will be ok for chinese docs, if possible, could you please help to create the new `book-v2-zh` branch first, then i will create the chinese docs PR for this new branch. In the future, if english docs changes(pushed changes to `master` branch), Our commu

[2020-10-23 12:53] camilamacedo86 opened #1739 "Add test to ensure the the logs are outputted with zap in the manager"
**What do you want to happen?**
It is a follow up of https://github.com/kubernetes-sigs/kubebuilder/pull/1721. Would be nice to add a test to ensure that the logs are outputted with zap as described in https://github.com/kubernetes-sigs/kubebuilder/pull/1721#issuecomment-714301930

**Notes**
- The change was done only for v3+ so the test should only cover the projects built with v3-alpha plugin.

[2020-10-23 13:13] camilamacedo86 commented on #885
- To address the comment #885 (comment) the issue https://github.com/kubernetes-sigs/controller-runtime/issues/1226 was raised.
- To address the option to disable the logs controller-runtime has one issue already: https://github.com/kubernetes-sigs/controller-runtime/issues/1035
- regards to encoding time shows that it was addressed here; https://github.com/kubernetes-sigs/controller-runtime/pull/

[2020-10-23 13:13] #885 closed

[2020-10-23 13:35] #1737 closed

[2020-10-23 16:13] #1655 closed

[2020-10-23 21:59] Laurianti opened #1740 "Deploying on the cluster a custom controller for an existing resource (ReplicaSet)"
Hello, I created a controller for an existing resource (ReplicaSet), implementing my own logic.
With "make run" it works perfectly.

I followed this steps to run it on the cluster:
make docker-build docker-push IMG=localhost.localdomain:5000/test-1:tag
make deploy IMG=localhost.localdomain:5000/test-1:tag

And all works perfectly.

But what I wrote inside my controller doesn't seem to happen.
Am I

[2020-10-26 09:40] errordeveloper commented on #1074
/reopen
/remove-lifecycle rotten

[2020-10-26 09:43] errordeveloper commented on #1074
I think the underlying API should really support singleton CRDs, seems like it would be sensible to have two modes - cluster-wide and per-namespace, but having something in kubebuilder would be a great start!

[2020-10-26 10:15] #1730 closed

[2020-10-26 10:29] camilamacedo86 commented on #1740
Hi @Laurianti,

You did not provide detailed info to help you with. However, are you applying the CR(samples) for your API? You need to apply in the cluster the CR's to trigger the reconcile with `kubectl apply -f config/samples/`. More info: https://book.kubebuilder.io/quick-start.html

Are you trying to trigger the reconcile for an existent resource that is not created by the controller? If yes,

[2020-10-26 10:40] FedericoLaurianti-ScaiConsulting commented on #1740
Hi @camilamacedo86,

I haven't created a (CR)Custom Resource.

I executed this command:

kubebuilder create api --group apps --kind ReplicaSet --version v1

I pressed "n" for Create Resource [y/n] and "y" for Create Controller [y/n]

I want only a controller for the existing "ReplicaSet" resource.

And I want to deploy it on the kubernetes cluster.

What are the steps I have to do only this?

Than

[2020-10-26 10:40] Laurianti commented on #1740
Hi @camilamacedo86,

I haven't created a (CR)Custom Resource.

I executed this command:

kubebuilder create api --group apps --kind ReplicaSet --version v1

I pressed "n" for Create Resource [y/n] and "y" for Create Controller [y/n]

I want only a controller for the existing "ReplicaSet" resource.

And I want to deploy it on the kubernetes cluster.

What are the steps I have to do only this?

Than

[2020-10-26 11:10] camilamacedo86 commented on #400
Shows that the PR https://github.com/kubernetes-sigs/kubebuilder/pull/1710 also would solve that. @mengqiy, @alexeldeib, @luisdavim could you please give help on the review if this PR and let us know if it can close this issue as well? if not , what should be done here in your POV?

[2020-10-26 11:33] prafull01 commented on #1717
The PR with this RFE has been merged to master. We can close this one.
/close

[2020-10-26 11:38] #1717 closed

[2020-10-26 11:43] camilamacedo86 commented on #1650
Closing this one as sorted out. However, please feel free to contribute to the project and/or raise new issues as well if you need.

[2020-10-26 11:43] #1650 closed

[2020-10-26 11:46] camilamacedo86 commented on #1529
Shows that it was sorted out, so I am closing this one. however, please feel free to raise new issues and/or contributing to the project as well, for example, by raising a PR with a doc for that.

[2020-10-26 11:46] #1529 closed

[2020-10-26 11:47] camilamacedo86 commented on #1605
Hi @champak,

I am closing this one because it is for while open without the required info be provided. However, if you still facing problems with feel free to raise a new issue with all details for we are able to help you with.

Really thank you.

[2020-10-26 11:47] #1605 closed

[2020-10-26 11:53] camilamacedo86 commented on #1544
The issue still:

[code]

As @estroz described it shows to be related to kubernetes-sigs/controller-tools#444 and after we get merged the changes in the PR https://github.com/kubernetes-sigs/kubebuilder/pull/1644 and update the examples in the `docs/book/src/` it might be solved.

[2020-10-26 12:07] camilamacedo86 commented on #1627
Hi @gaodan-fang,

I am unable to reproduce your issue as well. However, see that the code of the projects used in the docs was very outdated and we update them in the PR:  https://github.com/kubernetes-sigs/kubebuilder/pull/1632. However, see that we still with issues in these projects that needs be fixed. I'd like to suggest to you follow up https://github.com/kubernetes-sigs/kubebuilder/issues/1

[2020-10-26 12:07] #1627 closed

[2020-10-26 12:12] camilamacedo86 commented on #1486
Hi @CharlyF and  @sophieliu15,

What is the controller-tools version used by you? The projects have been scaffolded with `v0.3.0`. Could you please let us know if you still facing issues with this version? If yes, could you please describe the steps detailed with an snippet code for we are able to reproduce?

[2020-10-26 12:15] camilamacedo86 opened #1743 "Add prow infra to run the tests in the CI with k8s 1.18"
This issue is for we track the need to add in the prow infra tests with 1.18 k8s version. See that it is configured in https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml

[2020-10-26 18:19] prafull01 commented on #1743
/assign

[2020-10-27 00:30] estroz commented on #1739
Why do we need to test the output format of an external package for correctness here? This should be done in controller-runtime.

[2020-10-27 10:19] Adirio commented on #1401
/reopen
/remove-lifecycle rotten

[2020-10-27 10:20] Adirio commented on #1401
/lifecycle frozen

[2020-10-27 10:21] Adirio commented on #1406
/reopen
/lifecycle frozen

[2020-10-27 10:21] Adirio commented on #1409
/reopen
/lifecycle frozen

[2020-10-27 10:22] Adirio commented on #1408
/reopen
/lifecycle frozen

[2020-10-27 10:22] Adirio commented on #1407
/reopen
/lifecycle frozen

[2020-10-27 13:40] #1606 closed

[2020-10-27 18:46] estroz opened #1746 "deps: bump to controller-runtime v0.7.0"
This issue tracks the v0.7.0 controller-runtime bump, which has breaking changes. Also bumps deps to k8s
v1.19.

- [x] Bump kubebuilder-declarative-pattern
	- https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/127, blocking
	- #1804
- [x] Bump controller-runtime to an alpha release
	- #1804
- [ ] Bump controller-runtime to the stable release

/kind feature

[2020-10-27 18:46] estroz commented on #1746
/assign

[2020-10-27 19:55] #1639 closed

[2020-10-27 20:02] camilamacedo86 commented on #1746
@estroz IMO we might need to wait for the stable release to be able to bump the dep.

[2020-10-27 22:01] estroz commented on #1746
From https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/127#discussion_r513057434 (applies here too):

Also we are currently pinning to unreleased code with [`sigs.k8s.io/kubebuilder-declarative-pattern`](https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugin/v3/api.go#L44), so I don't see why we can't do something similar for controller-runtime, but with a tagg

[2020-10-27 22:02] estroz commented on #1746
@pwittrock @DirectXMan12 @droot how do you feel about pinning to commits/alpha|beta releases in master in general?

[2020-10-28 01:57] #1707 closed

[2020-10-28 03:49] prafull01 commented on #1733
/assign

[2020-10-28 05:47] prafull01 opened #1747 "Validate the kubebuilder edit command for the project layout"
Scenario1: When I am trying to run edit command without any inputs with no api created, throws following error
[code]
Scenario2: The same command I ran after creating one api and moving the scaffolding to multi group. The kb edit command without any inputs moved the project scaffolding to single group.
[code]

Add a validation if the project is already on the same scaffolding and if yes, then don'

[2020-10-28 05:47] prafull01 commented on #1747
/assign

[2020-10-28 17:19] kushthedude opened #1750 "Envtest scaffold fails to run"
Running make test on suite_test.go fails with error
[code]

The test should pass but it timed out

Scaffold suite_test and run using `make test` will fail with the above error

* go version `go1.15.2 darwin/amd64`
* kubebuilder version (`kubebuilder version`) and scaffolding version (check your `PROJECT` file): ```sh
Version: version.Version{KubeBuilderVersion:"2.3.1", KubernetesVendor:"1.16.4", G

[2020-10-28 17:21] kushthedude commented on #1750
After further getting into, `testEnv.start()` fails with error
[code]

[2020-10-28 17:30] AKarbas commented on #1487
If I may,
/remove-lifecycle stale

[2020-10-28 17:46] kushthedude commented on #1750
Had some version mismtached

[2020-10-28 17:46] #1750 closed

[2020-10-28 18:11] estroz commented on #1746
I'll also mention that v0.6.3 has a logging bug in it (fixed by https://github.com/kubernetes-sigs/controller-runtime/pull/972) which breaks kubebuilder e2e tests (see [this comment](https://github.com/kubernetes-sigs/kubebuilder/pull/1644#issuecomment-716887694)). Not sure why the tests passed on #1721.

We can either bump to v0.7.0 or get a patch release v0.6.4 going, then bump here. I suggest g

[2020-10-29 04:38] christopherhein commented on #722
/assign

[2020-10-29 06:01] christopherhein commented on #722
We've gotten the initial implementation done in https://github.com/kubernetes-sigs/controller-runtime/pull/891 using https://github.com/kubernetes-sigs/controller-runtime/issues/895 to track the progress. Do you think we're ready to do an initial implementation Kubebuilder @DirectXMan12 ? The changes as I see could be something like…

When you `kubebuilder init` you could pass `--component-config`

[2020-10-29 10:17] camilamacedo86 opened #1752 "Migrate to travis-ci.com"
Our current CI on travis-ci.org will be EOL on December 31, 2020.

travis-ci.com will still have free builds for open source projects but we need to migrate.

More info:

- [the newsletter](https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom)
- [migration docs](https://docs.travis-ci.com/user/migrate/open-source-repository-migration)

[2020-10-29 10:18] camilamacedo86 commented on #1752
Hi @alexeldeib @mengqiy @pwittrock @droot

I have no permission to do that. But it is something that we need to do.

[2020-10-29 10:31] nfyxhan opened #1753 "printcolumn can't print when use --watch"
I defined a crd named `example` use kubebuilder, and set it has a printcollumn `column` with
[code]

i use `kubectl get example` it return like that has no `age`
[code]
and i use `kubectl get example -w` it return like that has no `column`
[code]

* go version: 1.13
* kubebuilder version: 2.3.1
  scaffolding version: 2
* controller-runtime version: v0.5.0
* controller-tools version:
* Kubernetes &

[2020-10-29 10:37] camilamacedo86 commented on #1746
Hi @estroz,

Following some comments.

This project is used only for the addon and it does not work with release tags

The tests in the PR https://github.com/kubernetes-sigs/kubebuilder/pull/1644 is not passing, however, I do not think so that it is the root cause. See that it only not works in your PR. So, I am not sure about it. I think we need re-check its implementation. Did you try to bump th

[2020-10-29 14:29] prafull01 commented on #1747
This happens because kb edit command sets the default value as false. However when editing the scaffolding already on same type, throws error. However this error should be catch in the validation itself and proper message should be shown to user

[2020-10-29 16:35] jmrodri opened #1755 "CLI: it would be helpful to skip PROJECT reads for extra commands"
It would be helpful to skip `PROJECT` file reads for extra commands. `kubebuilder version` will throw an error if an errant `PROJECT` file exists. I do not expect this for `version` or other extra commands.

For example,

[code]

I expected the `version` and extra commands to ignore the `PROJECT` file/directory.
[code]

To reproduce:

[code]

This also affects the `operator-sdk` because we use the

[2020-10-29 17:22] estroz commented on #1746
Interesting, I didn't notice that repo hasn't been tagged.

Once I pinned controller-runtime to a version containing [this change](https://github.com/kubernetes-sigs/controller-runtime/pull/972) that I created locally, e2e tests passed. If you look at the log output for an operator build with `kubebuilder` master with a `go/v3-alpha` project, you never see [`"Successfully Reconciled"`](https://git

[2020-10-29 18:28] camilamacedo86 commented on #1746
HI @estroz,

So, I think it is all fine. +1 to do the bump. I agree that if we bump only go/v3-alpha also would be ok to do the release after that.
Could we just have an issue tracked to the milestone 3.0.0 for we remember and try to bump the stable version before its release?

[2020-10-29 18:43] estroz commented on #1746
Awesome. I would go even further to say that any `-alpha` plugin can get an alpha dependency version, but cannot be stabilized until a stable dependency version is released and the dependency bumped to that version.

[2020-10-29 19:57] prafull01 commented on #1747
The current implementation also fails if we try to edit a project which is already on the same type. Current, failure happens in the PostScaffolding of the kb edit command.

[code]

This change will give more clear message to the user that he is already on the same type of the project layout.

/kind bug

[2020-10-30 06:14] #1620 closed

[2020-10-30 12:34] camilamacedo86 commented on #932
Adding the label `triage/blocked` since it is the same status of the #1724 discussed in the bug triage meeting.

[2020-10-30 15:32] camilamacedo86 opened #1761 "liveness/readiness probe scaffolded by default"
**What do you want to happen?**
I would like to see liveness/readiness probe for operators scaffolded by default

**Is there currently another issue associated with this?**

https://github.com/operator-framework/operator-sdk/issues/4102

PS.: also, it cames as requested in a survey

/kind feature

[2020-10-30 15:50] camilamacedo86 opened #1762 "Address common questions/needs regards to not create/use the ns scaffolded by the tool"
**What do you want to happen?**

This issue was raised for we find the best way to address the common questions and requests:

- How to deploy the operator in another NS? How to not let the tool create a new ns for my operator?
- I'd like to run `make deploy` and get the project deployed in a specific namespaced informed instead of creating a new one.
- I'd like the tool to help me to use a pre-ex

[2020-10-30 20:35] christopherhein commented on #722
Looks like #1746 should be done first which is involved in updating to the latest CR build.

[2020-10-30 23:49] #1476 closed

[2020-11-01 13:27] camilamacedo86 commented on #1761
See that the manager has the options :

[code]
More info: https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.6.3/pkg/manager#Manager

[2020-11-01 19:30] camilamacedo86 commented on #1508
It was done in the PR https://github.com/kubernetes-sigs/kubebuilder/pull/1714. In this way, I am closing this one. However, @estroz feel free to re-open if you think that it still required.

[2020-11-01 19:30] #1508 closed

[2020-11-02 07:56] Adirio commented on #1755
The CLI is fine if no project configuration file exists (`PROJECT` is just a name, lets not use that term) as there are some subcommands (like `kubebuilder init`) which obviously don't expect a configuration file to exist previously. In the initalize method we are checking if the file exists or doens't exist and proceed appropiately. But when reading the file, other errors may happen and we need t

[2020-11-02 11:11] camilamacedo86 opened #1767 "Make manifests is not working when only the controller is scaffolded by the create api"
**What broke**

After creating a project and scaffold just the controller the make manifests target will fail :

- `kubebuilder int` or `kubebuilder init --plugins=go/v3-alpha`
- $ kubebuilder create api --group ship --version v1beta1 --kind Frigate

[code]

What did you expect to happen?  What do you think went wrong?

The controller-gen is falling with the files scaffolded in this scenario:

[co

[2020-11-02 11:15] prafull01 commented on #1767
Just checked this one myself.
/assign

[2020-11-02 13:13] camilamacedo86 commented on #1755
Hi @Adirio,

The problem raises here is that to run the extra commands the CLI it is checking if the PROJECT file is created or not and then, in this case, the check should not be made. Also, we might have plugins which not requires the PROJECT file so it should not be required by default.

Example of the scenario;

- We have the `command version` as an extra command.
[code]

- Then, we consume th

[2020-11-02 13:30] Adirio commented on #1755
@camilamacedo86 the error comes from the `makedir PROJECT`. We already support commands with no project configuration file (for example, `kubebuilder init` is one of them). What we currently do is check if the file exists, then load and read thwe configured version. If reading the file gives a "file not exist" error we just consider it as not-configured yet and proceed. The problem is that reading

[2020-11-02 14:24] Adirio opened #1772 "[Discussion] V3 breaking changes"
Now that we are working on `v3`, it may be time to go ahead and do some of this changes that we can't do on an stable version (such as `v2`). This issue is meant to be a discussion to see which of them shows enough interest by the developers/community in order to implement them.

1. Split CRD and controller scaffolding into two different subcommands. In `v1` and `v2`, `kubebuilder create api` crte

[2020-11-02 14:28] camilamacedo86 commented on #1755
Hi @Adirio,

I close my previous comment to not make it confusing. I checked with @jmrodri the scenario. Following the steps to reproduce:

[code]

It is considered the directory PROJECT as a file. We need only looking for a file with this name.

[2020-11-02 19:20] Adirio commented on #1755
It uses the project file to try to guess the project version and the plugin layout, which gets saved in that file. But I do agree that we may be able to move that check after we know that it is needed by the subcommand. Some validation from the CLI would need to be dropped though, like having plugins for the proper version as we won't be able to know the version of the project without reading the

[2020-11-03 00:10] camilamacedo86 commented on #1772
/needs-triage

[2020-11-03 00:11] camilamacedo86 commented on #1772
/needs triage

[2020-11-03 00:13] camilamacedo86 commented on #1772
/needs-triage

[2020-11-03 00:14] camilamacedo86 commented on #1772
/triage needs-triage

[2020-11-03 00:16] camilamacedo86 commented on #1772
/needs-triage

[2020-11-03 00:32] camilamacedo86 commented on #1762
/needs-triage

[2020-11-03 08:22] raonadeem opened #1774 "Kubebuilder init fails for crypto/tls"
I'm trying to initialize the Kubebuilder project with the following commands and getting the errors;

**kubebuilder init --domain example.com --license apache2 --owner "The Kubernetes authors"**

Following are my package versions;

- go version go1.15.3 linux/amd64

- Version: version.Version{KubeBuilderVersion:"2.3.1", KubernetesVendor:"1.16.4", GitCommit:"8b53abeb4280186e494b726edf8f54ca7aa64a49

[2020-11-03 10:44] camilamacedo86 commented on #1732
HI @ellistarn,

To change the default path we raised an issue in the controller-runtime to address it. See: https://github.com/kubernetes-sigs/controller-runtime/issues/1234.

However, for v3+ plugin on the master, you can see that test target will download the bins in the project. Then, see that we ave been working on in a better solution in the PR:  https://github.com/kubernetes-sigs/kubebuilder

[2020-11-03 10:51] camilamacedo86 commented on #1659
Hi @codeblooded,

Could you please add the link for the page/file in   #692 which has the information that you are looking for? Could you please clarify better what info the docs are missing? What do you mean with `creating events for my custom resource`?

[2020-11-03 10:53] camilamacedo86 commented on #1651
Hi @lhb008,

The branch is created. Please feel free to push your changes against it. See https://github.com/kubernetes-sigs/kubebuilder/tree/book-v2-zh

[2020-11-03 11:01] camilamacedo86 commented on #1318
See that we have an issue to track a FAQ: https://github.com/kubernetes-sigs/kubebuilder/issues/1723

[2020-11-03 11:07] camilamacedo86 commented on #920
The tests docs were improved. See:  https://book.kubebuilder.io/cronjob-tutorial/writing-tests.html
So, shows that we need re-check this one to see what still missing described and then, add the info.

[2020-11-03 11:21] camilamacedo86 commented on #1545
Hi @Miss-you,

It is great 🥇 . @lhb008 is working on that in the issue https://github.com/kubernetes-sigs/kubebuilder/issues/1651.
See that we create a branch to push these changes. https://github.com/kubernetes-sigs/kubebuilder/tree/book-v2-zh.
Feel free to contribute with it as well and push PR's against to this branch.

I hope that is fine we close this one since we have the  https://github.com

[2020-11-03 11:21] #1545 closed

[2020-11-03 11:27] camilamacedo86 commented on #400
I hope that it fine we close this one since the #1710 was merged. However, please feel free to re-open this one or raise a new issue but if it is the case, could you please provide a detailed description of what still expected to achieve this goal?

[2020-11-03 11:27] #400 closed

[2020-11-03 11:32] camilamacedo86 commented on #916
HI @DirectXMan12,

Should not it be better addressed in the controller-tools? WDYT about we raise it there and close this one?

[2020-11-03 11:33] camilamacedo86 commented on #933
/remove-lifecycle stale

[2020-11-03 11:36] camilamacedo86 commented on #1026
I raised it a while. Now, it changes a little. However, my idea here is that we could have a plugin to generate the code. I will be working on in an EP.

[2020-11-03 11:41] camilamacedo86 commented on #1309
HI @Adirio,

the open issues mean needs/tasks that we need to work on. IMO we have in place all lint checks that we need to. So, could you please clarify what in you POV is missing to get done for we close this one?

[2020-11-03 11:49] Adirio commented on #1309
Technically, we haven't added all linting checks, so we can't say it is really closed. Is it really a problem to leave it open and frozen?

[2020-11-03 11:59] camilamacedo86 commented on #1514
HI @ifilonenko,

Sorry, but it is not clear for me the goal of this task. Could you please provide the following information?

Also, if it is a bug could you plea help us and check if it is not something that is already fixed on the master branch with the plugin `go/v3-alpha`? For you check it, you can create a new project with `kubebuilder init --plugins=go/v3-alpha` and do the steps required to

[2020-11-03 12:01] camilamacedo86 commented on #1517
It shows a follow up of : https://github.com/kubernetes-sigs/kubebuilder/pull/1721

@georgettica would you like to help on this one? WDYT?

[2020-11-03 12:08] camilamacedo86 commented on #1634
Adding to the milestone next. It will be solved when we bump the new version of kubernetes-sigs/controller-tools@359a540

[2020-11-03 12:20] camilamacedo86 commented on #1739
HI @estroz,
The idea here is only to ensure that the controller-runtime/manager is setup with the zap properly and not ensure that it works as expected. However, you are right it might be too much for e2e. So, I am closing this one.

[2020-11-03 12:20] #1739 closed

[2020-11-03 12:25] ifilonenko commented on #1514
The goal is to have the Default() method throw an error so that I can return nil when no error and return errors when they appear, like in the validator

[2020-11-03 12:44] camilamacedo86 commented on #1486
We need here check if this scenario is not already solved with the version which is scaffolded currently and/or in the controller-tools. Also, see that we have an issue already that will be solved with the upgrade of controller-tools: https://github.com/kubernetes-sigs/kubebuilder/issues/1634

[2020-11-03 12:55] EnriqueL8 opened #1778 "Status not set correctly on Cron Job tests example"
I am trying to test a resource by creating a sub resource with a set status, as done [here](https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/cronjob-tutorial/testdata/project/controllers/cronjob_controller_test.go#L170 ). Yet when I query the job as such"
[code]
I get no status field:
[code]

I expected the Status field to be populated with `Active: 2`. Can I not retrieve t

[2020-11-03 12:59] camilamacedo86 commented on #1309
HI @Adirio,

Has no problem to leave open any task that has actions that should get done. In this case, would we really like to add all possible lint checks? I do not think so. And then, over the lints checks which follow that were not added in the project has anyone here that you think that should be added?

IMO I do see a reason to add none of the following lint checks and then, in this way, for

[2020-11-03 13:16] Adirio commented on #1309
I don't see the need to add them right now but we may want want to add some more in the future. This issue just kept track of which were added and in which PR. But if you want we can close this issue.

[2020-11-03 13:16] #1309 closed

[2020-11-03 14:41] prafull01 commented on #1514
Hi @ifilonenko

This can not be done on the kubebuilder side as kubebuilder only implements the method defined in the interface of controller-runtime.
Please see the defaulting interface here in the controller-runtime: https://github.com/kubernetes-sigs/controller-runtime/blob/9975e296899a4843fe69e9d1675fee10957ab694/pkg/webhook/admission/defaulter.go#L28

[2020-11-03 15:06] camilamacedo86 commented on #1514
Hi @ifilonenko,

As @prafull01 described above, could you please raise this RFE in the [controller-runtime]( https://github.com/kubernetes-sigs/controller-runtime)? Also, I'd like to suggest you add the use case where it is required to illustrate better what kind of problem it would address.

In this way, I hope that it fine we close this one. However, please feel free to ping us if you think that

[2020-11-03 15:06] #1514 closed

[2020-11-03 15:16] camilamacedo86 commented on #1778
Hi @EnriqueL8,

Are you using the project in the docs `https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/cronjob-tutorial/testdata` and it is not working as expected or it is about your specific test? If it is about your specific test, are you using the client to update the object after the change? I'd like to recommend you get the object, perform the change and then use the

[2020-11-03 15:21] camilamacedo86 commented on #1496
I agree with you @estroz.
This issue was raised in the controller-gen:  https://github.com/kubernetes-sigs/controller-tools/issues/513

[2020-11-03 15:21] #1496 closed

[2020-11-03 15:27] EnriqueL8 commented on #1778
Hi @camilamacedo86,

Thanks for the quick answer!

Yes, I am using https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/cronjob-tutorial/testdata/project/testdata/project. I have pushed my changes to a branch: https://github.com/EnriqueL8/kubebuilder/tree/test_status if you want to take a look.

I tried to update the object as you suggested, but also didn't get the status infor

[2020-11-03 15:34] EnriqueL8 commented on #1778
Update: I check the controller code and it never looks for the `status.active` field. It just says the job is active if not in the states complete|failed|true. So the tests will still pass, and never look at the status field set.
[code]
Is this an antipattern to set the status of resources in order to test behaviour of controllers? For example, let's say I have a controller that creates a Pod and

[2020-11-03 15:38] camilamacedo86 commented on #1774
Hi @raonadeem,

The version  `2.3.1` requires the go version 1.13. Also, it might be related to your local configuration as well.  So, if you would like to use go version 1.15 I'd like to recommend you use the master branch instead of the released version. In this way, could you please;

- See if downgrade the go version to 1.13 solve your problem OR use the master branch instead of it.

And then,

[2020-11-03 15:44] codeblooded commented on #1659
@camilamacedo86 Sure, I meant creating Kubernetes event resources from a reconciler. In the old book, this page addressed the issue. In the new book, this page is missing:

https://github.com/kubernetes-sigs/kubebuilder/blob/52ba0c36d023f5cc53646307cbe5a500c171d3b4/docs/book/beyond_basics/creating_events.md

[2020-11-03 15:52] camilamacedo86 commented on #1406
Hi @Adirio,

What is expected here? Only add in the readme [here](https://github.com/kubernetes-sigs/kubebuilder#supportability) that users might be able to try out it in a win SO with  https://www.cygwin.com/ ?

[2020-11-03 16:27] ellistarn commented on #1732
Just so I'm tracking this correctly. After PR #1711, the binaries will be provided in GOBIN?

[2020-11-03 16:49] camilamacedo86 commented on #1732
HI @ellistarn,

The  #1711 proposes a solution where the env test binaries are downloaded in the `bin/` directory when is the `KUBEBUILDER_ASSETS` is not set which means when the binaries are not found in the default path which is defined in  [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/envtest/server.go#L57).

In this way, IMO we need to change the de

[2020-11-03 16:52] ellistarn commented on #1732
Yeah makes sense thank you. When does the download to /bin happen? Is it on testenv setup, or on project creation? I'm not super excited about checking the binaries in to /bin or adding /bin to my gitignore, so I definitely prefer the GOBIN solution. I'll take a look at what it might take to do this.

[2020-11-03 16:55] camilamacedo86 commented on #1732
Hi @ellistarn,

Users still not needing care about it at all. All complexities are abstracted by the tool.

It happens when the Makefile target test is called

It is done by default already. The projects that are scaffolded by the tool has a .gitigore which is set up to ignore all that by default should not be commited.

[2020-11-03 16:58] camilamacedo86 commented on #1659
Thank you for share. Would you like to collab with it? IMO it would fit well in the references section, wdyt?

[2020-11-03 17:05] ellistarn commented on #1732
Yeah I understand it's already scaffolded. As a Kubebuilder user, one of the first things I did was remove a bunch of what I thought of as "kubebuilder cruft" from my project. These were things I thought were unnecessary or messy or confusing. For example I completely rewrote the makefile to rely on http://github.com/google/ko for a more streamlined build/deploy story. I also manage my dependencie

[2020-11-03 17:07] ellistarn commented on #1732
In the case here, I'm quite excited by having kubebuilder vend its test binaries via GOBIN because that's how all my tools vend their binaries to my CI system

[code]
[code]
This simple command installs my entire CI workflow onto a fresh VM.

Presently, I need to do a hack for kubebuilder
[code]

[2020-11-03 17:28] camilamacedo86 commented on #1732
Hi @ellistarn,

To solve your problem so far, note that you can set the  env var `KUBEBUILDER_ASSETS` with the path that you would like to have the bins in your suite_test.go:

[code]

See the example; https://github.com/operator-framework/operator-sdk/blob/6e5f58b07e26658bbcf34b9d467b91622b43e0c0/testdata/go/memcached-operator/controllers/suite_test.go

[2020-11-03 17:51] Adirio commented on #1406
No, you are actually able to build kubebuilder with Windows without cygwin, you do need to install make to run the makefile though. `make` is pre-installed in most systems but not in Windows. It is just one of the pieces needed to achieve full windows compatibility, Makefiles (both the kubebuilder one and the scaffolded one) still need to be tweaked as there are still some Unix-only commands.

[2020-11-03 18:08] codeblooded commented on #1659
@camilamacedo86 Sure. I'd love to collaborate, and I agree about the references section. 🙂

[2020-11-03 18:17] camilamacedo86 commented on #1659
This sound great 🥇 Please, feel free to ping me if you need help with and/or to review your PR.
I am assigning this issue to you so.

[2020-11-03 20:12] #1767 closed

[2020-11-03 21:06] #1519 closed

[2020-11-04 07:19] Adirio opened #1781 "Remaining v1 related comment"
#1763 missed the following line:

https://github.com/kubernetes-sigs/kubebuilder/blob/f04d92cfbe86fa2930c3582a7267d1dfceb3f66d/pkg/model/config/config.go#L92

/kind cleanup

[2020-11-04 07:19] Adirio commented on #1781
/assign @camilamacedo86

[2020-11-04 11:32] raonadeem commented on #1774
Hi @camilamacedo86 ,

The issue is resolved if I initialize the go mod;

But, I'm working in GOPATH and don't know why it needs go mod init.

Following are my go env;

[2020-11-04 11:51] camilamacedo86 commented on #1774
So, you are creating the project outside of the GOPATH. Am right?
If yes, you need to use the --repo flag to describe the module. See: https://book.kubebuilder.io/quick-start.html#not-in-gopath

[2020-11-04 12:04] raonadeem commented on #1774
I'm In GOPATH as here;

And getting the same error as above.

[2020-11-04 14:44] #1733 closed

[2020-11-04 16:33] georgettica commented on #1517
I can and I will,
so the issue as I see it @bharathi-tenneti is that you want a slightly more configurable template..

as of v3 and my PR, you can get these configurations but the only difference is that the debug level is forced through the code and not the config.

do you think moving all of the configs outside of the `main.go` is the better way to go? I have no clear agenda related to that.

if

[2020-11-04 17:46] hectorj2f opened #1785 "Update kube-rbac-proxy to v0.8.0 release"
Per brancz/kube-rbac-proxy#99 (comment) has been pushed to quay.io/brancz/kube-rbac-proxy:v0.8.0. What is the process to update the gcr.io/kubebuilder/kube-rbac-proxy? Is this hand tagged and pushed by a maintainer?

Could you push it or retag it ? Thanks.

/kind bug

[2020-11-04 18:47] camilamacedo86 commented on #1774
Hi @raonadeem,

It shows to be related to the go version used. See that for 2.3.1 it requires to go 1.13.
In this way, shows fine we close this one. However, please feel free to ping us to re-open this one if you need.

[2020-11-04 18:48] #1774 closed

[2020-11-04 18:49] camilamacedo86 commented on #1722
Hi @alekc,

I hope that the above info clarifies your question. Since it is without interaction for I a while shows that you could figure out already. So, I am closing this one but feel free to ping us if you think that it needs to be re-opened as to raise new issues if you need.

[2020-11-04 18:49] #1722 closed

[2020-11-04 19:23] camilamacedo86 commented on #1584
Hi @vincepri,

In this case, we cannot rename it. It is from the lib/dep. See: https://github.com/spf13/pflag/blob/master/flag.go#L128
I raise the request in the dep project see; https://github.com/spf13/pflag/issues/294
Closing this one.

[2020-11-04 20:11] camilamacedo86 commented on #1778
it was discussed in the slack; https://kubernetes.slack.com/archives/CAR30FCJZ/p1604503804366000
As agreed we will close this one. However, please feel free to raise a new issue with questions if you need.

[2020-11-04 20:11] #1778 closed

[2020-11-04 20:13] camilamacedo86 commented on #1785
Hi @hectorj2f,

It has been done manually. @DirectXMan12 @vincepri @droot could you please give a hand with this one?

[2020-11-05 07:30] dgkanatsios commented on #1544
Any workaround till latest controller-tools is merged? Thanks :)

[2020-11-05 09:14] Adirio opened #1791 "Improve go modules fulfillment"
- [x] Kubebuilder uses semantic versioning
- [x] Kubebuilder has a v2 or higher
- [x] Kubebuilder versions are listed on [pkg.go.dev](https://pkg.go.dev/mod/sigs.k8s.io/kubebuilder?tab=versions)

# Description
Although kubebuilder follows semantic versioning as required by go modules, only versions with major version 0 or 1 are actually obtainable by version with go modules. This can be seen in th

[2020-11-05 09:15] hectorj2f commented on #1785
Thanks @camilamacedo86.

[2020-11-05 09:15] Adirio commented on #1791
/cc @droot @mengqiy @DirectXMan12 @camilamacedo86 @estroz

[2020-11-05 10:17] camilamacedo86 commented on #1634
Hi @donmstewart,

To solve this problem in your project so far you can upgrade the controller-gen version used by it to 0.4.0. However, note that it has breaking changes since for 0.4.0 the controller-tool generates CRD version to v1 by default (#468) and add admissionregisteration/v1 support for webhook (#469):

- Update your makefile by replacing `go get sigs.k8s.io/controller-tools/cmd/controll

[2020-11-05 10:58] #1781 closed

[2020-11-05 14:00] #1064 closed

[2020-11-05 16:02] #1463 closed

[2020-11-05 17:54] EnriqueL8 commented on #1778
Solution!

Use: `k8sClient.Status().Update(&pod)`

[2020-11-05 19:14] #1743 closed

[2020-11-05 21:15] #1581 closed

[2020-11-05 21:32] camilamacedo86 commented on #1486
Hi @CharlyF and @sophieliu15,

Regards your scenario:  https://github.com/kubernetes-sigs/kubebuilder/issues/1486#issuecomment-682226229

I checked it with master branch and the plugin go/v2 which uses the controller-gen 0.3.0 and also with the go/v3-alpha that uses now 0.4.0 and in both scenarios it worked:

**Type definition**
[code]

Then, CRD:

[code]

Regards https://github.com/kubernetes-sig

[2020-11-05 21:32] #1486 closed

[2020-11-05 23:01] prafull01 commented on #1761
/assign

[2020-11-06 16:42] #1747 closed

[2020-11-06 17:28] KnicKnic commented on #1074
I would like to leave 3 pieces of feedback. @erictune  it would be great for you to include them in your example

1. Enable the CRD at the cluster scope `spec.scope: Cluster` in which namespace does not matter.
2. Pattern is a regexp, you need to specify start and end tokens. `^default$"
3. You should make name field required, to indicate people cant use generateName
    1. Not sure if this is nee

[2020-11-06 17:48] camilamacedo86 commented on #1772
IMO:

**Over split the command create api**

- Pros:  keep concepts such as cohesion and single responsibility in the commands/plugins (maintainability)
- Cons: GKV would be required in both which means that the user would need to inform them twice

So, shows for me that we might be prevailing keep it ease to maintaining instead of user experience. In this way, I am afraid that I am more inclined

[2020-11-06 18:27] estroz commented on #1772
1. The most common use case by far (anecdotal evidence only) is creating both a controller and resource. I do sometimes see one or the other (or neither) being created to support external types, so having the choice of either or neither mode is still useful. Having a command for each mode confounds the currently straightforward workflow. Therefore I vote to leave the `create api` command as-is.
1.

[2020-11-06 19:15] estroz commented on #1544
@dgkanatsios yes, see https://github.com/operator-framework/operator-sdk/issues/3235#issuecomment-719722685

[2020-11-06 20:27] camilamacedo86 commented on #1772
Hi @estroz,

+1000 for your suggestions  🥇
- > We might also want to add the resource to resources in the config with an external: <boolean> qualifier.

and

I just would like to clarifies that I do not think that we should add that to the `create api` command because we are not creating an api. IHMO it would be a new plugin/subcommand such as `add api`. Then, in this way, I think a less verbose f

[2020-11-06 21:58] Adirio commented on #1772
We should probably define the API from a design point of view, chosing what are commands, what are arguments and what are flags, and from the arguments and flags, which are required, which have a default value, and which will ask the user for input if he didnt specify it.

[2020-11-07 11:58] Adirio opened #1798 "Change module to v3 (can be done only when we will cut the 3.0.0-alpha release)"
- [ ] Update module name in `go.mod` to `sigs.k8s.io/kubebuilder/v3`
- [ ] Update the build command in `generate_testdata.sh` to `go build -o ./bin/kubebuilder sigs.k8s.io/kubebuilder/v3/cmd`
- [ ] Update imports to v3: `sigs.k8s.io/kubebuilder/v2` -> `sigs.k8s.io/kubebuilder/v3`
- [ ] Update `-ldflags` paths to v3 in `common.sh` and `build/.goreleaser.yml`

Equivalent v2 PR: #1792

[2020-11-07 12:00] Adirio commented on #1798
@camilamacedo86 could you add this to the `v3.0.0` milestone?

[2020-11-07 23:52] camilamacedo86 commented on #1791
I think it is totally fine we leave the previous versions as it is. See that kb has not been provided as lib before the plugins be offered.

[2020-11-07 23:53] #1562 closed

[2020-11-08 14:48] daenney opened #1800 "Build proper PDF and EPUB versions of the book"
The kubebuilder book is only available in online form at https://book.kubebuilder.io/. This makes it hard to consume the documentation in any other way than online, via a laptop or mobile device. Though it's possible to use the print function to get to a PDF with all the content, a lot of things in the generated PDF are broken:

* All the links don't work, they only retain the styling, not the lin

[2020-11-09 10:58] hectorj2f commented on #1785
@DirectXMan12 @vincepri @droot Is there any way I could help with the release process/tagging for this new kube-rbac-proxy release 🙏🏻  ?

[2020-11-09 11:21] camilamacedo86 commented on #1785
Hi @hectorj2f,

In the `Kubebuilder, Controller Runtime, and Controller Tools` meeting latest week we spoke about it. The current images built and pushed manually to gcr.io/kubebuilder/kube-rbac-proxy . And then, the author of https://github.com/brancz/kube-rbac-proxy has the intention to donate the project to k8s org, however, until it be done we need to automate it from the repo  https://github.

[2020-11-09 16:00] camilamacedo86 commented on #1026
We have a PR with its proposal now. See: https://github.com/kubernetes-sigs/kubebuilder/pull/1803
In this way, I am closing this one and we can let the discussion to get done in the PR.

[2020-11-09 16:00] #1026 closed

[2020-11-09 20:12] prafull01 opened #1805 "Add the controller-gen markers in types.go if the --plural is specified"
This is a follow up of the following PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1802

Controller-gen markers for apis should be added if the specific plural is provided by the user. Lets consider the following scenario:
[code]

PROJECT file:
[code]
CRD file:
[code]

It should add marker ([here](https://github.com/kubernetes-sigs/controller-tools/blob/6fa696de4772fb44595d25355946254885

[2020-11-09 21:44] camilamacedo86 commented on #1805
Hi @Adirio and @prafull01,

Could not it be addressed in the #1802 as well?

[2020-11-09 23:14] Adirio commented on #1805
I think that this is more a bug that should be addressed while the other is an added feature

[2020-11-10 02:55] estroz commented on #1752
The queue for travis.org linux/amd64 builds is huge, preventing jobs from being run for about an hour each. This should definitely happen sooner than later.

[2020-11-10 03:59] camilamacedo86 opened #1808 "IGNORE"
IGNORE

[2020-11-10 04:41] camilamacedo86 commented on #1752
Hi @estroz,

@Adirio has ben working on to push a change for we migrate from Travis to GA. If we are not be able to merge it soon we will do the migration.

[2020-11-10 08:04] kqzh opened #1810 "Scheme conflict with runtime.Encode"
/kind bug

go version 1.15
kubebuilder version: 2.3.1
controller-runtime version: v.0.6.3
kubernetes version: v1.18.9

hi, I'm worried about a strange problem. When I make run my code, it successfully entered in my crd's reconcile, can do something like get or update cr with client.Client , however, when I use the func runtime.Encode In "k8s.io/apimachinery/pkg/runtime" package, it cause the error

[2020-11-10 09:30] #1810 closed

[2020-11-10 12:33] #1808 closed

[2020-11-11 00:06] anwarchk commented on #1750
@kushthedude How did you resolve this ?

[2020-11-11 02:55] kushthedude commented on #1750
We had version mismatch of controller-gen in makefile and few CRDs need to
be regenerated

On Wed, 11 Nov, 2020, 05:36 Anwar C, <notifications@github.com> wrote:

[2020-11-11 07:45] Adirio commented on #1401
@estroz [suggested some commands](https://github.com/kubernetes-sigs/kubebuilder/pull/1773#discussion_r520910104) to fetch this data and I would like to expand on them:

- `kubeBuilderVersion`: `git describe --tags --dirty --broken`
- `kubernetesVendorVersion`: I'm not sure if this is currently relevant.
- `goos`: `go env GOOS`
- `goarch`: `go env GOARCH`
- `gitCommit`: `git rev-parse HEAD`
- `bui

[2020-11-11 13:13] camilamacedo86 commented on #1785
We need to the same that is done in https://github.com/brancz/kube-rbac-proxy/blob/master/.github/workflows/build.yml#L35-L42 to push the image to quay, however, to push the image to gcr.io/kubebuilder/kube-rbac-proxy

[2020-11-11 21:18] wfernandes opened #1816 "zap.LoggerTo in generated suite_test.go doesn't exist in controller-runtime"
**What broke (please include exact error messages if you can)**
When I ran `kubebuilder create api` and generated resources and controller code, it created a file `controllers/suite_test.go`. Inside this file, there are the following lines of generated code.
[code]
In the latest version of controller-runtime (v0.7.0-alpha.6), there is no `LoggerTo` in the zap pkg: https://github.com/kubernetes-sig

[2020-11-12 00:01] camilamacedo86 commented on #1816
Hi @wfernandes,

The version which is scaffolded by KubeBuilderVersion:"2.3.1" is not using the `v0.7.0-alpha.6`. The only v3-alpha plugin uses that. See the doc: https://book.kubebuilder.io/quick-start.html#versions-and-supportability

<img width="912" alt="Screen Shot 2020-11-11 at 21 00 22" src="https://user-images.githubusercontent.com/7708031/98878126-1745ea00-247a-11eb-84fc-5742556a14d7.png"

[2020-11-12 00:01] #1816 closed

[2020-11-12 08:22] alok87 opened #1819 "Question: How to use klog as the logging library?"
How to use klog library for the controller?
Please share an example.. if it is possible or not.

/triage support

[2020-11-12 18:57] #1752 closed

[2020-11-12 21:02] #1401 closed

[2020-11-13 11:44] max-rocket-internet opened #1820 "Structured logging in JSON should be the default"
It's not 2013 so let's log in JSON by default 🚀

It looks like `controller-runtime.controller` logs partly in JSON anyway? For example I see this when my controller starts:

[code]

Currently in `main.go` there is `ctrl.SetLogger(zap.New(zap.UseDevMode(true)))`, I think we just need to change this to use a JSON encoder? How would that look? Does anyone have an example for people with existing proj

[2020-11-13 22:14] christopherhein opened #1821 "Investigate using edit command to turn on and off ComponentConfig"
As of https://github.com/kubernetes-sigs/kubebuilder/pull/1790 we are adding the ability to scaffold a project where the config is loaded from a file, it would be nice if we could use the `kubebuilder edit` command to switch that on and off.

This issue is to track if it's possible and if not why.

Existing conversation - https://github.com/kubernetes-sigs/kubebuilder/pull/1790#discussion_r5182705

[2020-11-16 07:22] zhouxinyu commented on #1544
Do we have any solution about this issue? My CRD contains a field of PodTemplateSpec also can't be installed into a 1.18 k8s cluster.

[2020-11-16 09:32] #1740 closed

[2020-11-16 14:39] justinsb commented on #1820
My 2c: let's switch to use klogr by default - we are a k8s project.

We can then decide whether klogr should use json by default :-)

[2020-11-16 14:40] justinsb commented on #1819
I do this by replacing the line `ctrl.SetLogger(zap.New(zap.UseDevMode(true)))` in main.go with `ctrl.SetLogger(klogr.New())`; the import is `"k8s.io/klog/klogr"`

[2020-11-16 15:02] camilamacedo86 commented on #1819
I understand that it is sorted out as described above. So, I am closing this one. However, please feel free to ping us if you think that it should be re-opened.

[2020-11-16 15:02] #1819 closed

[2020-11-16 15:10] camilamacedo86 commented on #1821
My idea over it would be:

`kubebuilder edit --component-config=[true/false]` which will:

- Update the PROJECT file componentConfig for true/false
- Replace the default manager scaffold in the main. See: https://github.com/kubernetes-sigs/kubebuilder/pull/1790/files#diff-6d104501fc7dc73bb67118a31ea122a23d55af27d443c7b96029054238978a36R233-R252. Also, if the user customize its implementation will

[2020-11-16 15:32] camilamacedo86 commented on #1820
Kubebuilder tool scaffold the controller-runtime logger. For the future versions/plugin, the logger impl will be changed. See; https://github.com/kubernetes-sigs/kubebuilder/commit/4eee159c9873718a4016ea0b264b7ff1218836c2

Controller-runtime does not use `klog`. See: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/log/zap/zap.go#L42.

However, users are able to customize and

[2020-11-16 17:27] estroz commented on #1544
@zhouxinyu see https://github.com/kubernetes-sigs/kubebuilder/issues/1544#issuecomment-723253109

[2020-11-16 19:35] ryandawsonuk commented on #1152
FWIW I’ve tried to capture all the details of migrating from a ClientSet to controller-runtime client in this article[Watch any CRD](https://hackernoon.com/platforms-on-k8s-with-golang-watch-any-crd-0v2o3z1q)

[2020-11-16 21:03] nataliaGilbertson opened #1824 "inaccurate kubebuilder:validation error message"
Example:
In api/v1/customresource_types.go
[code]

Submit custom resource like this: `kubectl create -f ./my-resource.yaml`
[code]
Returns `The CustomResource "test-x8l24f" is invalid: spec.replicas: Invalid value: 1: spec.replicas in body should be greater than or equal to 1`

and
[code]
Returns `The CustomResource "test-x8l24f" is invalid: spec.replicas: Invalid value: 500: spec.replicas in body

[2020-11-16 23:01] camilamacedo86 commented on #1634
It will be closed with : https://github.com/kubernetes-sigs/kubebuilder/pull/1644

[2020-11-16 23:48] camilamacedo86 opened #1826 "Project file with all user input data"
**Description**

Ensure that we are storing all input data in the PROJECT file.

**Motivation**
I am maintainer like to ensure that we have stored all input data used to scaffold the projects by the user so that I could propose a subcommand/plugin to help users migrate from a plugin version X to X+1 since would be possible scaffold the project from the scratch. Also, it might be helpful in many sc

[2020-11-16 23:52] camilamacedo86 commented on #1826
PR related : https://github.com/kubernetes-sigs/kubebuilder/pull/1696

[2020-11-16 23:56] camilamacedo86 opened #1827 "Bump controller-tools 0.4.1"
Bump controller-tools: https://github.com/kubernetes-sigs/controller-tools/releases/tag/v0.4.1
See that here; https://github.com/kubernetes-sigs/kubebuilder/pull/1644/files#diff-e33c8c9eef8145c9616af064f8df83cdc5a36371b5884f39e279fc1dc87535a7R41 we will bump a commit.

[2020-11-17 06:44] #933 closed

[2020-11-17 06:44] #1065 closed

[2020-11-17 06:44] #1734 closed

[2020-11-17 06:44] #1827 closed

[2020-11-17 09:46] donmstewart commented on #1634
@camilamacedo86 Thanks for the detailed notes, I will certainly give this a try.

[2020-11-17 10:04] camilamacedo86 commented on #1634
Closing this one. It is solved for v3-alpha plugin.

[2020-11-17 10:04] #1634 closed

[2020-11-17 12:33] camilamacedo86 opened #1829 "Update the migration doc with the latest changes for v3+ plugin"
**What do you want to happen?**

Before we make the plugin v3+ stable we need update the doc : https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/migration/migration_guide_v2tov3.md#migrating-your-projects-to-use-v3-plugins

Is there currently another issue associated with this?

See that we have some changes which require to be addressed:
-  https://github.com/kubernetes-sig

[2020-11-17 15:20] camilamacedo86 commented on #1351
/remove-lifecycle rotten

[2020-11-17 15:41] camilamacedo86 commented on #1630
Hi @gabbifish,

I will move on this for v3-alpha for we remember to update the samples used in docs before we release an stable version. However,  wdyt about we raise a new issue as RFE specifically to track this idea over the docs cherry-pick?

[2020-11-17 15:49] camilamacedo86 commented on #1805
Hi @prafull01,

As spoke in the comment https://github.com/kubernetes-sigs/kubebuilder/pull/1802#pullrequestreview-532330034 shows that we have a bug related to pluralize. I am not sure if we should add this option  `--plural=Fernandezes` at all. Shows that what is required is to fix the scenarios where it has not been done as expected.

[2020-11-17 16:01] prafull01 commented on #1805
Hi @camilamacedo86

This option is already present in the webhook api creation of the kubebuilder, however the name of this option is `--resource` there.

For example, this command generates the following markers (please check the Plurals Frigatees):
[code]

IMHO If we are providing this option for webhook, then we should provide same option for api creation as well or not provide at all for both.

[2020-11-17 16:42] Adirio commented on #1805
IMHO, markers should be added if required to fix `Plural` as it is not currently working. We didn't notice because it is not available to cli users to modify, and therefore, we don't have tests for this. Adding the flag is a separate topic.

[2020-11-17 17:14] max-rocket-internet commented on #1820
@justinsb

k8s has already started to move to structured logging, starting in 1.19 😉
https://kubernetes.io/blog/2020/09/04/kubernetes-1-19-introducing-structured-logs/

@camilamacedo86

I don't want to use klog, I just think `kubebuilder init && kubebuilder create api ...` should create a project that logs in JSON by default. And also tell me how that would look so I can update my existing control

[2020-11-17 17:43] camilamacedo86 opened #1832 "Make project version == 3 instead of 3-alpha (only for the stable release)"
**What do you want to happen?**
update master branch for we have project version equals 3 instead of 3-alpha for the next release

/kind feature

c/c @joelanford @DirectXMan12 @estroz

[2020-11-17 18:05] christopherhein commented on #1824
If you want to see other places this type of error has occurred and has been resolved https://github.com/kubernetes/kubernetes/issues/91114

[2020-11-17 18:18] gabbifish commented on #1753
This is a known upstream Kubernetes apiserver error/feature request, and may be fixed by using a later version of Kubernetes (1.13.0 is quite old!) If you still run into problems, please file an upstream issue on kubernetes/kubernetes.

[2020-11-17 18:18] #1753 closed

[2020-11-17 18:23] gabbifish commented on #1660
#1814 should fix this issue, and if this issue still persists, please contact the maintainer of the kubebuilder homebrew formula (which is maintained independent of this repository).

[2020-11-17 18:23] #1660 closed

[2020-11-17 18:31] gabbifish commented on #1513
These duplicated markers are actually not duplicated, but correspond to markers used for types vs fields. We can amend the documentation to deduplicate the appearance of markers and specify that a marker can be used on types and fields.

[2020-11-17 18:32] gabbifish commented on #1824
Thanks for catching this! These error messages are from the Kubernetes apiserver--this issue would be better filed under kubernetes/kubernetes. We'll close this issue for now given that kubernetes/kubernetes is a better home for it.

[2020-11-17 18:32] #1824 closed

[2020-11-17 18:46] erictune commented on #1065
As the OP, I'm not sure this original issue is closed yet.

Users may be running a wide range of clusters.  From what I gather, 1.14, 1.15, 1.16, 1.17, 1.18 and 1.19 are all moderately widespread at present.  How should a KubeBuilder user produce an release that runs on that range of cluster version?

[2020-11-17 18:57] Adirio opened #1833 "Update the kubernetes-sigs/kubeduilder-release-tools action"
The next release from the github actions solves an issue where pushes and force-pushes hide the title and description checks. Update the workflow to use this release.

[2020-11-17 19:02] estroz commented on #1231
This feature request is specific to `controller-gen` and not necessarily something kubebuilder needs to know about until it is implemented there. I suggest this is closed here and re-opened in [controller-tools](https://github.com/kubernetes-sigs/controller-tools/issues/).

/close

[2020-11-17 19:02] #1231 closed

[2020-11-17 19:08] Adirio commented on #1833
/assign

[2020-11-17 19:13] estroz commented on #1065
@erictune given the list of 3 things you wanted out of kubebuilder, the only one that doesn't appear to be resolved is

Is that correct? Was there something else that needs doing?

To that effect: you can target the v1.14-v1.19 cluster range if you use v1beta1 CRDs/webhooks:

[code]

For v1.14 clusters, you need to remove `crd:preserveUnknownFields=false` from your Makefile.

[2020-11-17 19:17] camilamacedo86 commented on #1832
We discussed it in the bug triage meeting and then we agreed in:
- We will do first releases such as 3.0.0-alpha and then it should be done for we are able to release 3.0.0 stable
- Also, for the 3.0.0 stable, we need to make the v3-alpha plugin as stable.

[2020-11-17 19:19] camilamacedo86 opened #1834 "make v3-alpha plugin as stable (only for the stable release)"
**What do you want to happen?**

To release 3.0.0 stable we need to make the v3+ plugin be stable as well.

/kind feature

[2020-11-17 19:52] camilamacedo86 opened #1835 "Update the testdata directories used in the docs with v3+ plugin (can be finished/done only when we will cut the 3.0.0 release)"
**What do you want to happen?**

We need to update the samples used in the docs with the v3+ plugin:

- [kubebuilder/docs/book/src/cronjob-tutorial/testdata/project/](https://github.com/kubernetes-sigs/kubebuilder/tree/master/docs/book/src/cronjob-tutorial/testdata/project)
- [kubebuilder/docs/book/src/multiversion-tutorial/](https://github.com/kubernetes-sigs/kubebuilder/tree/master/docs/book/src

[2020-11-17 20:07] estroz commented on #1517
Those flags aren't actually needed since [`Development: true`](https://github.com/kubernetes-sigs/kubebuilder/pull/1721/files#diff-6d104501fc7dc73bb67118a31ea122a23d55af27d443c7b96029054238978a36R233) is set by default. If anyone thinks scaffolding flags in `manager.yaml` is better and has a reasonable argument for doing so over the current default setup, please comment and we can re-consider this

[2020-11-17 20:07] #1517 closed

[2020-11-17 20:10] camilamacedo86 commented on #1517
+1 to close this one. However, if more community members think that would be better we scaffold the flags instead than, please feel free to raise an issue with this as RFE for we are able to address.

[2020-11-17 20:13] camilamacedo86 opened #1836 "mechanism to cherry-pick docs changes"
**What do you want to happen?**

Create a mechanism to cherry-pick docs changes

 **Is there currently another issue associated with this?**

This RFE is related to the comment: https://github.com/kubernetes-sigs/kubebuilder/issues/1630#issuecomment-690491725

/kind feature

[2020-11-17 20:15] camilamacedo86 commented on #1630
Hi @gabbifish,

As we spoke about it and agreed on the RFE for the docs is tracked in: https://github.com/kubernetes-sigs/kubebuilder/issues/1836.
Also, we added a new issue to update the samples in the docs with the v3+ plugin and solve the issues. See: https://github.com/kubernetes-sigs/kubebuilder/issues/1835

Since the problem that was raised here is sorted out I am closing this one.