[2019-08-13 19:37] DirectXMan12 commented on #937
I'm not sure what you mean here

can you clarify what you mean here as well?

[2019-08-13 19:37] DirectXMan12 commented on #937
/kind feature

[2019-08-13 19:42] DirectXMan12 commented on #936
/priority important-soon

We need to go over the rules in `clientcmd` again -- it appears to have changed a decent amount since I last looked at it.

[2019-08-13 19:43] DirectXMan12 commented on #936
I've re-filed this against controller-runtime, which is the correct location.

[2019-08-13 19:43] #936 closed

[2019-08-13 19:49] DirectXMan12 commented on #931
Oh, you look like you're running KubeBuilder v1.  What does `kubebuilder version` say?

[2019-08-13 20:10] DirectXMan12 commented on #932
/priority important-longterm

[2019-08-13 23:12] DirectXMan12 commented on #925
we'll be conservative for the moment and not introduce buildkit, but I want to think about that in the future.

[2019-08-13 23:39] DirectXMan12 commented on #925
I think for moment, we'll just add a note to change the dockerfile.  We can explore more options in the future.  It's the lowest friction path for the moment.

re: the makefile, that's an easy fix, and I'll get that in shortly

[2019-08-14 00:51] sbose78 commented on #829
What's the workaround to get this working?

[2019-08-14 01:26] gaogaoSpark commented on #937
Sorry, I misunderstood it.

[2019-08-14 01:26] #937 closed

[2019-08-14 01:38] khchan123 commented on #919
This issue could be closed after #929 merged to `master`.

[2019-08-14 01:38] #919 closed

[2019-08-14 02:34] DirectXMan12 commented on #829
upgrade your version of kubebuilder to one that includes #904

[2019-08-14 04:36] Aisuko commented on #931
I was followed the install step like below

[code]

The kubebuilder version below:
[code]

[2019-08-14 14:15] chuckha opened #941 "Book has incorrect kubebuilder // +marker"
/kind bug

https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/reference/generating-crd.md#status

This should be

`// +kubebuilder:subresource:status` as opposed to `// +kubebuilder:status:subresource`

[2019-08-14 14:56] johanneswuerbach commented on #920
Is there any documentation on controller testing to be found somewhere? Is the recommended testing strategy in v1 largely different from v2?

We would love to get started writing a new CRD with v2, but are currently struggling on finding more details around controller testing.

[2019-08-14 16:33] joshiomkarj commented on #739
The directory structure that is generated by
kubebuilder create api --group webapp --version v1 --kind Guestbook
is
api/v1/guestbook_types.go

This breaks the code-generator because code-generator expects the directory api/webapp/v1/guestbook_types.go

I'm using code-generator to generate typed and versioned clients, listers and informers along with the controller generated by kubebuilder.

So cou

[2019-08-14 19:11] mcristina422 commented on #909
I've run into issues where different collaborators end up with different versions. Having a `--version` flag would at least help us detect this. Additionally the `go get` in the makefile is modifying the go.mod and that isn't desirable.

But in the meantime I think my team will just build a docker container for controller-gen and run it with volume mounts to generate the manifests

[code]

[code]

[2019-08-14 20:03] vincepri commented on #932
/cc

[2019-08-14 21:47] DirectXMan12 commented on #931
where did you get those instructions?  Those look like the old verion install instructions

[2019-08-14 23:41] sbose78 commented on #829
The latest release was 26 days ago. The above commit was 15 days ago :(

[2019-08-15 01:24] DirectXMan12 commented on #712
currently getting by with GH actions (but that broke a couple of days ago), but we're still interested in this.

/remove-lifecycle stale
/lifecycle frozen

[2019-08-15 01:28] DirectXMan12 commented on #739
It's a design decision.  We talk about it a bit in https://github.com/kubernetes-sigs/kubebuilder/blob/master/designs/simplified-scaffolding.md.

We're likely to eventually introduce multi-group support, however, which would most likely enable your usecase.

We don't technically support code-generator, but FWIW, I'd consider that a bug against code-generator.  It has enough information with the st

[2019-08-15 02:37] Aisuko commented on #931
I found the legacy documentation `Using Kubebuilder v1? Check the legacy documentation` on the https://book-v1.book.kubebuilder.io/getting_started/installation_and_setup.html. Oh, I need to install `kubebuilder version 2.0.0-beta.0.x` and follow the latest instructions, thank you sir.❤️

[2019-08-15 20:04] DirectXMan12 commented on #906
fix posted for above issue
closing this out.

[2019-08-15 20:04] #906 closed

[2019-08-15 21:04] caarlos0 opened #944 "API deprecations on 1.16"
Some things were deprecated on [1.16](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16)... I'm adapting my operator to stop using those deprecated things, but I stumble across and issue with Ingresses.

On YAMLs, I would just do this:

[code]

But how can I do that in code?

I tried changing the imports, e.g.:

[code]

But dep fails to resolve that. I couldn't find any examples on gi

[2019-08-15 22:33] DirectXMan12 commented on #944
dep's probably failing to resolve that because either a) you've got a different version of k8s.io/api pinned, or b) something with a transitive dependency *needs* the older versions.

Which version of KubeBuilder are you using?  Which controller-runtime?

[2019-08-15 22:57] DirectXMan12 commented on #829
we're doing a release today, so that should help.  Alternatively, kubebuilder is buildable from source with `go build ./cmd/` if you ever need to pick up the latest changes.

[2019-08-15 22:59] DirectXMan12 commented on #909
we've got an open issue for the version flag, and a way to implement it, so it should come eventually (it's kubernetes-sigs/controller-tools#259)

[2019-08-15 23:06] DirectXMan12 commented on #920
It's on my list of things to write down, but we're still gathering a bit more information.  We found that the existing v1 tests were a) confusing to many, and b) didn't actually follow some of our recommendations (checking the exact reconcile sequence discourages re-queuing, for instance), so we decided to re-evaluate a bit.

In the mean time, the controller tests in controller-runtime can offer s

[2019-08-15 23:08] #941 closed

[2019-08-16 01:08] caarlos0 commented on #944
Thanks for the quick response!

controller-runtime v0.1.1
kubebuilder 1.0.8

[2019-08-16 05:11] ljdelight commented on #878
Uhmmm perhaps. I don't mean to waste your time, and I would love to say "why yes, that's what I meant, you read my mind!", but I must admit that I don't understand the context of your message since I'm not especially skilled at go, k8s, kubebuilder.

As a quick rehash, a nice-to-have is a scaffolding-provided variable for the generated Kind so that this `owner.Kind != "CronJob"` can be replaced wi

[2019-08-16 07:29] joshiomkarj commented on #739
@DirectXMan12 Thanks for the update. I have filed an issue on code-generator to get their perspective on this problem.

[2019-08-16 08:12] fanux opened #947 "ERRO[0000] VirtulMachine.infra.sealyun.com "virtulmachine-test" not foundunable"
[code]

But my CRD name is:  `virtulmachines.infra.sealyun.com` not `VirtulMachine.infra.sealyun.com`  , How can I specifie CRD name?

[2019-08-16 08:14] fanux commented on #947
[code]
my yaml:
[code]
source file:
[code]

[2019-08-16 17:41] droot commented on #947
[code]
Code looks fine to me. Can you ensure you ran the `Go` program after creating the `virtulmachines-test` ?

Also, Can you share the output for `kubectl get crds virtulmachines.infra.sealyun.com -o yaml` ?

[2019-08-18 01:56] fanux commented on #947
@droot
[code]
[code]

I don't know why controller Reconcile work fine but I new a client in an other project main failed.  CRD name changed: `VirtulMachine.infra.sealyun.com` not `virtulmachines.infra.sealyun.com`

[2019-08-19 11:28] paroxp commented on #923
I assume this won't be as part of the initial stable kubebuilder release? :(

[2019-08-19 19:58] DirectXMan12 commented on #923
automated scaffolding for multi-group repos will most likely be part of v2.1.0.  That being said, we've gone to a lot of effort to ensure that the underlying tooling and libraries work with pretty much any directory layout, so you should still be able to use the corresponding controller-runtime and controller-tools v0.2.0 releases to support a multi-group setup.

[2019-08-19 20:07] DirectXMan12 commented on #944
So, we're in a bit of a weird spot with controller-runtime and 1.16 ATM.  controller-runtime v1.16 is almost guaranteed not work.  However, forcing controller-runtime `v0.2.0-rc.0` should probably work with 1.16

[2019-08-19 20:18] DirectXMan12 commented on #878
No worries -- just trying to understand the usecase.

Ah!  Ok.  So, what I was suggesting was that the line

[code]

could maybe be replaced by

[code]

However, I wasn't really certain that was clearer, especially since your Go type name will always be your Kind, so if you have to type `ServerGVK` (or , you already "know" that your kind is `Server`, assuming familiarity with the subject matter, w

[2019-08-21 08:07] camilamacedo86 opened #954 "Allow group names with `-`"
## Currently:

[code]

## RFE
However, the controller allows it. The change is just in the regex ^[a-z]+$.

[2019-08-21 18:14] janetkuo commented on #454
/reopen
/remove-lifecycle rotten

[2019-08-21 19:26] adinunzio84 commented on #909
Could adding a `tools.go` file to the hack directory solve the issue of different people ending up with different versions? (It would pin the dependency to the `go.mod` file).
Not sure if it's still a best practice to do this: golang/go#25922 (see "What did you do" section).

[2019-08-21 20:20] janetkuo commented on #454
Agree that controller manager shouldn't use default service account. Any workload will by default also inherit their permissions. These permissions should be intentionally assigned, not assigned through omission.

[2019-08-21 20:27] janetkuo commented on #454
One question that I have is how to customize namespace and name prefix of the service account  subject in a `ClusterRoleBinding`:

https://github.com/kubernetes-sigs/kubebuilder/blob/eabb3ddfca48c19521cd98f37bd31d4400913792/pkg/scaffold/v2/mgrrolebinding.go#L49-L52

`kustomize` doesn't seem to support that.

[2019-08-22 01:05] sarjeet2013 opened #955 "kubebuilder init failed on creating a new project"
➜  estest curl -sL https://go.kubebuilder.io/dl/2.0.0-rc.0/${os}/${arch} | tar -xz -C /tmp/
➜  estest sudo mv /tmp/kubebuilder_2.0.0-rc.0_${os}_${arch} /usr/local/kubebuilder
➜  estest export PATH=$PATH:/usr/local/kubebuilder/bin

➜  estest kubebuilder init --domain test.com
go mod tidy
go: finding sigs.k8s.io/controller-runtime v0.2.0-rc.0
go: sigs.k8s.io/controller-runtime@v0.2.0-rc.0: unknown r

[2019-08-22 01:05] sarjeet2013 commented on #955
➜  estest kubebuilder version
Version: version.Version{KubeBuilderVersion:"2.0.0-rc.0", KubernetesVendor:"1.14.1", GitCommit:"45cbf7174d58867d97a100e52971b7e6a2fc9131", BuildDate:"2019-08-16T00:25:53Z", GoOs:"unknown", GoArch:"unknown"}

[2019-08-22 12:04] joshiomkarj opened #956 "kubebuilder create api --help shows incorrect path than the one created"
/kind bug

Running the command,
`kubebuilder create api --help` shows, in the examples the directory path `api/ship/v1beta1/frigate_types.go`, however the generated path is `api/v1beta1/frigate_types.go`.
Running the command `kubebuilder --help` shows the correct path.

[2019-08-22 12:09] joshiomkarj commented on #956
The [PR](https://github.com/kubernetes-sigs/kubebuilder/pull/957) is open on this.

[2019-08-22 13:34] chainlink commented on #927
Thanks all!

[2019-08-22 15:55] DavidLangworthy opened #958 "Trouble with cronjob tutorial"
I am running into a couple of issues working through the cronjob tutorial.  First, when I get to the step that calls "make run" the deployment fails looking for a tls cert that is not there.

I thought this might be because cert manager was not installed, so I went ahead and installed that.  It looks okay and deploying the webhook works fine, but deploying the test CRD errors out.

The errors are

[2019-08-22 16:06] ScottBerman opened #959 "Autoscaling CR pods with HPA is extremely confusing and not explained anywhere"
The Kubebuilder documentation simply states that the HPA will be able to autoscale your custom resource.  How to do so is not documented anywhere and is a really confusing process. @DirectXMan12

/kind documentation

[2019-08-22 17:42] DirectXMan12 commented on #955
works fine for me.  Are you using a module proxy or something?

[2019-08-22 17:59] DirectXMan12 commented on #958
/kind documentation

this happened when we introduced webhooks to the tutorial.  We might need to be either give instructions for generating certs, or for skipping webhooks.

[2019-08-22 18:00] DirectXMan12 commented on #958
cc @mengqiy

[2019-08-22 18:01] DirectXMan12 commented on #958
or maybe just add a flag to not run the webhooks in the short term, and figure out a better story for certs and stuff in the long term

[2019-08-22 18:07] DirectXMan12 commented on #959
additional context:

- it's not clear when and what needs to go in the various fields (status & spec replicas, label selector)
- it's not clear how to populate the string form of the label selector (`AsLabelSelector().String()`)
- it's not at all clear *why* these various bit need to be in place

[2019-08-22 18:07] droot opened #960 "KubeBuilder needs a logo"
I think it's high time that we should have a KubeBuilder logo.

/cc @DirectXMan12

/kind feature

[2019-08-22 18:26] DavidLangworthy commented on #958
I really would like to run the webhook.  Could you give me a sketch or a pointer how to get this set up properly?

[2019-08-22 18:40] joshiomkarj commented on #956
The PR is merged. This issue can be closed.

[2019-08-22 18:40] #956 closed

[2019-08-22 18:43] displague opened #962 "Marker to disable validation"
It should be possible to add a marker comment to a field to disable validation, resulting in an empty `spec` in the resultant CRD.

I have a type that includes either a `apps.DeploymentSpec` property or a `batch.JobSpec` property.  In older kubebuilder emitted CRD files, the `spec` for this field was simple, only `type: object`.  In kubebuilder2 the CRD explodes in file size as the complete deploy

[2019-08-22 18:52] #958 closed

[2019-08-23 03:09] fanux commented on #947
How to specified the CRD name in client?

[2019-08-23 05:28] mkumatag opened #966 "Publish packages for multi-arch"
This issue to publish kubebuilder binaries for all the possible architectures like arm, ppc, s390x etc..

/kind feature

[2019-08-23 05:37] halfcrazy commented on #562
ref https://github.com/Homebrew/homebrew-core/pull/40186

[2019-08-23 16:11] ScottBerman commented on #959
I wrote a walkthrough if anyone ends up here wondering how to do this: https://medium.com/@thescott111/autoscaling-kubernetes-custom-resource-using-the-hpa-957d00bb7993

[2019-08-24 22:00] kron4eg commented on #909
Here's what I did to fix this.

[code]

[code]

hack/tools.go help go mods to pin controller-tools to specific version, and `go run` automatically run whatever version is in go.mod. This is to ensure we take controller-tools under control (pun intended).

[code]

This part:

[code]

is removed entirely.

P.S.
One last nice to have

[code]

This ensures no surprises during the build.

[2019-08-26 18:32] michal-hudy commented on #932
Can two locations be considered? Root for `api` and separate root for `controllers` and `webhooks`. In our projects, we like to have core implementation that shouldn't be imported by any other project in the `internal` package and things like `api` in `pkg`. So for us, it would be convenient to have the ability to configure it.

[2019-08-27 15:49] cliveseldon opened #969 "Document alternatives to cert-manager"
Its unclear the steps to create self-signed certs for the webhook server. One project our operator (built using kubebuilder v2) would be included in is kubeflow which [has moved away from cert-manager](https://github.com/kubeflow/kubeflow/issues/3079).

Having docs helping one to use alternatives and examples would be useful.

If someone could explain the simple steps to use self-signed certificat

[2019-08-28 21:14] DirectXMan12 commented on #889
closing in favor of kubernetes-sigs/controller-runtime#554

[2019-08-28 21:14] #889 closed

[2019-08-28 21:14] DirectXMan12 commented on #889
(it's in the wrong repo)

[2019-08-28 21:16] DirectXMan12 commented on #884
https://github.com/kubernetes-sigs/controller-runtime/pull/553

[2019-08-28 21:16] #884 closed

[2019-08-29 07:02] Adirio commented on #601
The required characteristic (being able to specify file names) was already added to [kubernetes-sigs/controller-tools](https://github.com/kubernetes-sigs/controller-tools) in kubernetes-sigs/controller-tools#147, so using multiple `ClusterRole`s and `ClusterRoleBinding`s should be doable.

[2019-08-29 14:48] champak opened #971 "PersistentVolume operations with kubebuilder"
Hi folks, I have run into issues listing/accessing PersistentVolumes/PersistentVolumeClaims via the client.List api. I was expecting something on the lines of:
getmyPVs := &corev1.PersistentVolumeList{}
err := <ref to client.Client>.List(context, getmyPVs, <namespace>)

would get the list of PVs but does not seem to work. I am guessing others must have used PV/PVCs with kubebuilder apis but did no

[2019-08-29 15:09] champak commented on #971
I found that listing PersistentVolumeClaims (as opposed to PersistentVolumes) in the same manner as above worked OK. Perhaps the issue is not with kubebuilder but rather the type of PV/PVCs that I am using. In any case would love to hear how PV/PVCs have worked for others with kubebuilder.

[2019-08-29 18:57] quick-question opened #972 ":book: Add expand-all for hidden codeblocks"
/kind bug

**Expected behavior:**
All pieces of necessary code in the kubebuilder book are obvious when following the tutorial.

**Actual behavior:**
Many necessary blocks of code are collapsed in an easy-to-miss way, even appearing to be comments.

**Reproduction steps:**
Go to: https://book.kubebuilder.io/cronjob-tutorial/controller-implementation.html
Look at the expandable segments labelled "/

[2019-08-29 19:45] stevemcquaid commented on #562
/close https://github.com/Homebrew/homebrew-core/commit/92e6941e3d51e501977995f7ae2c835cd647fc97

[2019-08-30 19:25] mcristina422 commented on #971
I ran into a similar problem and was confused util I remembered that PVs are cluster scoped.

[Persistent Volumes](https://kubernetes.io/docs/concepts/storage/persistent-volumes/) are not namespaced while Persistent Volume Claims are. So make sure you are not setting a namespace in your request

[code]

[2019-08-30 20:42] afirth commented on #960
Here's my 10 minute crack
![kubebuilder](https://user-images.githubusercontent.com/1820656/64050134-6b1b2a80-cb77-11e9-9b15-e0b834c84b7f.png)
[SVG gist](https://gist.github.com/afirth/4e2dcb652959f357b4bec623161395f4)

[2019-08-31 00:49] eytan-avisror opened #974 "Question: Reconciling on v1.Event objects"
I've been trying to follow the docs on this one, but guess I am doing something wrong - appreciate any suggestions.

My current reconciler triggers on watch events of my custom resource `MyResource`.

[code]

I would also like to trigger a reconcile of `MyResource` on specific v1.Events (e.g. a watch on "Events" with field selector).

The event object is not owned by the `MyResource` controller, a

[2019-08-31 05:10] eytan-avisror commented on #974
Was able to do this using `Watches()`, looks like it was not working because my cluster had a wrong version of the CRD and it was throwing a panic.

[2019-08-31 05:10] #974 closed

[2019-09-01 06:22] daneharrigan commented on #921
@DirectXMan12 I'm having a hard time following your suggestion to comment in the source. Which source, the cronjob-tutorial or kubebuilder?

[2019-09-02 07:31] mhausenblas commented on #748
/remove-lifecycle stale

[2019-09-02 14:25] camilamacedo86 commented on #954
PR: https://github.com/kubernetes-sigs/kubebuilder/pull/977

[2019-09-02 16:01] camilamacedo86 opened #978 "$ make test is not working"
If we run `make test` in the master branch we face issues which is not the expected behaviour.

[2019-09-03 14:13] DirectXMan12 commented on #966
/help

PRs welcome.  You'll have to update our cloudbuild configs to do the various builds, plus make sure that `kube-apiserver` and such build properly for the vraious platforms.

I suspect this won't just be one contributor doing this, so folks should fee free to chime in if they have expertise on a binary.

I'll keep a checklist here of what's got a PR already:

- [x] arm64 #979
- [x] ppc64le #

[2019-09-03 14:19] DirectXMan12 commented on #947
The resource name is pulled from discovery.  Can you post the *exact* error message that you're seeing?  Seeing the exact error might tell us where it's coming from (there are a couple from client-go that look similar, but come from different places).

[2019-09-03 14:22] DirectXMan12 commented on #958
if you want to run with webhooks on a remote cluster, you'll have to launch the hook actually on the remote cluster, so that the API server can access the webhook (or figure out some way of setting up a tunnel to your local env, like telepresence.io)

You can find instructions for launching the controller/hook on the cluster in the book @ https://book.kubebuilder.io/cronjob-tutorial/running-webhoo

[2019-09-03 14:24] DirectXMan12 commented on #962
Unfortunately, references aren't supported by the kube extensions API server (which is responsible for serving CRs), and external references are unlikely to ever be supported (internal references may be eventually, though).

/priority backlong
/help

[2019-09-03 14:24] DirectXMan12 commented on #962
(this seems reasonable, though)

[2019-09-03 14:28] DirectXMan12 commented on #454
We scaffold out with the assumption that your controller is running in its own namespace, so using the default SA is fine.

I believe it does, since that should be getting turned into `name: default, namespace: <project>-system`.  I think that may be one of the things we had to tell kustomize about, but I don't remember off the top of my head.  cc @mengqiy

[2019-09-03 14:33] DirectXMan12 commented on #909
The only reason I'm hesitant about that is that it adds a hard requirement on CT and it's deps to the project as build deps, which I'm not sure is something we want to do.

[2019-09-03 14:33] DirectXMan12 commented on #909
at least not as long as we still have non-multi-version-compatible deps coming out of kubernetes.

[2019-09-03 14:54] displague commented on #962
I was able to work-around the initial problem (CRD file size) by removing the documentation (rather than the validation) for this resource.

This was done using cli arguments.  https://github.com/crossplaneio/crossplane/pull/702/files#diff-b67911656ef5d18c4ae36cb6741b7965R99

Similar to this issue, "It should be possible to add a marker comment to a _field_ to _set the maxDescLen_".

If it was pos

[2019-09-03 15:42] adinunzio84 commented on #909
If you have `//+build tools` in the `tools.go` file, IIUC, it won't be a build dependency (though it will be listed in go.mod and go.sum). Go just uses the go.mod file as a "guide" on dependencies but will only compile and link the code that's used (again, IIUC). That way it's not totally necessary for strict forwards and backwards compatibility for controller-tools, since it would be set in the g

[2019-09-03 17:25] DirectXMan12 commented on #962
longterm, we'd like to make it not an issue (you shouldn't have to choose whether or not your API docs show field documentation), which is why I'm hesitant to set maxDescLen at an object-level

[2019-09-03 17:26] DirectXMan12 commented on #978
can you clarify what the issue is, here?

[2019-09-03 17:27] DirectXMan12 commented on #978
are you talking about in a generate project?

[2019-09-03 17:32] DirectXMan12 commented on #909
The problem is that, basically, you want to install controller-tools in a way that means there aren't issues if its dependencies conflict in an incompatible way with controller-runtime's or the projects, for whatever reason.  This is technically possible now, since you can just run `go get sigs.k8s.io/controller-tools/cmd/controller-gen` outside a project, and get the binary installed.

Adding a d

[2019-09-03 17:34] DirectXMan12 commented on #742
Sorry, triaging too fast.  If it's cause by having `GO111MODULE` on vs off, it's probably a bug with goimports removing or adding things because it can't find something

[2019-09-03 17:37] DirectXMan12 commented on #650
We've got a section for migration in the docs now.  I don't foresee scaffolding changes being automatic, so closing for now.

[2019-09-03 17:37] #650 closed

[2019-09-03 17:38] DirectXMan12 commented on #585
we're working on a plugin system (see #943), so stay tuned.

[2019-09-03 17:40] DirectXMan12 commented on #921
"comment in the source" --> there's a comment in the schema generator that talks about disallowed types (right above the code that works with them), so we'll want to fix that up.

[2019-09-03 17:41] camilamacedo86 commented on #978
Hi @DirectXMan12,

If we clone the project then we run the `make test` command as described in the doc of the repo it will not work as follows.

[code]

[2019-09-03 17:50] DirectXMan12 commented on #971
@champak if you don't have any options, the following should just work:

[code]

(basically what you listed), unless you don't have permissions to fetch cluster-scoped objects with whatever you're using to connect to the cluster

[2019-09-03 17:53] DirectXMan12 commented on #972
The idea is that they're not *super* important to the overall flow of the tutorial (they're mostly implementation details) -- you can mostly figure out what they do by name alone, and go read the details later.  Otherwise, they interrupted the overall "this is how you build a controller" flow a bit, I thought.

Did you have more detailed thoughts on the matter?  I'm definitely open to changing thi

[2019-09-03 18:04] DirectXMan12 commented on #978
That's odd, it's not finding a directory.  Do you have a clean checkout and `GO111MODULE=on` set?

Can you `ls -l /Users/camilamacedo/go/src/sigs.k8s.io/kubebuilder/testdata/gopath`?  Do you have a clean checkout?

I just ran tests against HEAD and it worked fine.

[2019-09-03 18:05] DirectXMan12 commented on #615
/lifecycle frozen

[2019-09-03 18:06] DirectXMan12 commented on #300
/lifecycle frozen

[2019-09-03 18:06] DirectXMan12 commented on #300
we still need help for this.  we'll want CI too

[2019-09-03 18:06] DirectXMan12 commented on #669
closing with no response

[2019-09-03 18:06] #669 closed

[2019-09-03 18:07] DirectXMan12 commented on #722
/ifecycle frozen

[2019-09-03 18:08] DirectXMan12 commented on #725
/lifecycle frozen

[2019-09-03 18:09] DirectXMan12 commented on #426
we talk about this a bit in the new book, and have reference docs (https://book.kubebuilder.io/reference/markers/rbac.html) so closing for now.  Can always improve later

[2019-09-03 18:09] #426 closed

[2019-09-03 18:17] DirectXMan12 commented on #969
So, I'm happy to accept a documentation PR saying what certs to put where if you've generated them yourself.  That's fine.

/help

I (probably) won't accept other options for generating certs.  That gets to be a pain to maintain.  The expectation is that if you don't know what you're doing (or if you do, and like cert-manager, since it's an awesome project), you can use cert-manager.  If you don't

[2019-09-03 18:46] DirectXMan12 commented on #725
closing in favor of kubernetes-sigs/controller-runtime#456

[2019-09-03 18:46] #725 closed

[2019-09-03 18:49] champak commented on #971
@mcristina422  & @DirectXMan12  Thanks for the pointers ! I had been passing in a namespace to the List API and like Michael pointed out, PVs do not have a namespace association. Getting rid of it worked for me.

[2019-09-03 18:49] #971 closed

[2019-09-03 19:23] DirectXMan12 commented on #962
See also https://github.com/kubernetes/kubernetes/issues/82292

[2019-09-04 13:26] champak opened #980 "Multiple Reconcile() invocations on single object creation"
Hi folks,
I am experimenting with an operator that creates Pods via the client .Create() api (based on processing YAML on a CRD) and listens on Pod resources. I am getting more than 1 Reconcile() invocation for a single pod instantiation. Based on examples I used the Owns api to "subscribe" to CRUD updates on the PODs that are generated

[code]

Also I had used the .SetControllerReference() for as

[2019-09-05 13:13] quick-question commented on #972
I can see where you're coming from. I guess it depends on how you expect users to interact with the book. If the idea is that they should clone the sample project and dissect it by following along with the book, then it hiding those code blocks is intuitive. But if the intention is that they should follow along by replicating the sample project piece-by-piece, then I feel that having the code "hid

[2019-09-06 19:00] camilamacedo86 commented on #978
Hi @DirectXMan12,

I found the issue.

I am using the same GitHub which is `$GO_PATH/src/github.com/kubernetes-sigs/kubebuilder` and the project is looking for the data in `$GO_PATH/src/sigs.k8s.io/kubebuilder/`

After I use the path `$GO_PATH/src/sigs.k8s.io/kubebuilder/` all worked fine. Instead of use the relative path from the dir of the project it has a fixed full path in the code/scripts. Se

[2019-09-06 19:20] camilamacedo86 commented on #978
https://github.com/kubernetes-sigs/kubebuilder/pull/981

[2019-09-06 19:20] #978 closed

[2019-09-06 22:10] functicons opened #982 "Is there a way to include License header in generated YAML files?"
Is there a way to include License header in generated YAML files (e.g., `config/rbac/role.yaml`)? I know for Go files, it automatically includes the license header from `hack/boilerplate.go.txt`. I tried adding a `hack/boilerplate.yaml.txt`, but it didn't work.

/kind feature

[2019-09-08 01:20] #643 closed

[2019-09-08 14:35] olttwa commented on #969
Hello @DirectXMan12 @cliveseldon 👋
I'm a first time contributor to k8s-sigs.

Please confirm if my solution satisfies the requirements:

In section [1.9. Running and deploying the controller](https://book.kubebuilder.io/cronjob-tutorial/running.html), add a sub-section: `1.9.3 Installing self-managed certs`
It will provide documentation/guidelines for:
  - Where to put certs data (ca.crt, tls.crt

[2019-09-09 14:32] DirectXMan12 commented on #969
There shouldn't be any code changes needed (item 3) -- that stuff gets done automatically by CR.  It should be mostly just item 1 -- where to put the cert data (the cert names you've listed, plus where to put the CA in the webhooks, etc).

[2019-09-09 14:35] #914 closed

[2019-09-09 14:35] DirectXMan12 commented on #982
/priority backlog

not yet -- that code is currently specific to the deepcopy-gen code.  We could potentially standardize and extend this.

[2019-09-09 14:38] DirectXMan12 commented on #616
/lifecycle frozen

[2019-09-09 14:39] DirectXMan12 commented on #617
/lifecycle frozen

[2019-09-09 14:44] DirectXMan12 commented on #978
Did you have `GO111MODULE=on`?  You should make sure you do in order to get the correct build behavior.

[2019-09-09 14:47] DirectXMan12 commented on #980
Are you sure it's actually for a single instantiation?  Many things in kubernetes could be touching a pod -- it's likely that you're seeing the effects of your own pod creation, the scheduler, and the kubelet in rapid succession.

Can you confirm that they're all the same?  For instance, if you just run against `pkg/envtest.Environment` in CR, which only sets up an API server, do you see the same

[2019-09-09 14:56] DirectXMan12 commented on #972
I think that kinda depends on where a person is coming from.  The motivation for the tutorial was kinda two common questions:

1. "What're the steps from start to end to build a controller?  I've got my own logic to fill in, I just need the 'skeleton' step-by-step"
2. "How does that translate to a real controller?  I'll followed the skeleton, but it doesn't do anything!"

We used to just have ques

[2019-09-09 20:05] quick-question commented on #972
Thanks for the thoughtful responses. I can see where you're coming from and I think that adding a collapse/expand all is a reasonable middle-ground for both groups of users.

[2019-09-09 20:38] champak commented on #980
@DirectXMan12 thanks for the input. The updates that show up all seem to be the result of a  single Pod instantiation. I know for sure there was a single Pod instantiation but like you mentioned there are probably updates from the k8s infra that I do not have visibility into. I was wondering whether I need to cache the prior "Spec" and diff with what shows up in order to filter updates I do not ca

[2019-09-10 03:10] briantopping commented on #920
"Is there anything that was specifically unclear?"

Before finding this issue, I searched for projects using `v2`, over 50 in all. I found only one that was doing testing at https://github.com/govargo/sample-controller-kubebuilder. The code there is not nearly as advanced as the code you shared in the previous link.

What I'd like to see is a narrative on the use of `EventRecorder` as in https://g

[2019-09-10 19:55] briantopping commented on #920
Also, I think it might be helpful to get people started with in-process vs. full container configuration, even if it's just links to where people might find that stuff. I had figured this stuff out a few months ago when I was first working on it and had forgotten it by now, wondering why apiserver was accepting objects and they weren't showing up in the cluster I was watching. Well duh, it's a dif

[2019-09-10 20:29] camilamacedo86 commented on #883
PR for it: https://github.com/kubernetes-sigs/kubebuilder/pull/983

[2019-09-10 20:43] DirectXMan12 commented on #980
Not really.  You can check the API server logs to see this, to a certain extent, or use the audit logs.

Yeah, a "pod instantiation" isn't really a single thing in kubernetes -- it's a whole cluster of updates.

It's not entirely clear what you're looking to accomplish here.  At best, you'll get different behavior on controller startup vs updates, which is generally a recipe for bugs.  Can you cla

[2019-09-10 20:44] DirectXMan12 commented on #980
(P.S. I'm closing this for bookkeeping purposes, but feel free to continue replying)

[2019-09-10 20:44] #980 closed

[2019-09-10 21:06] DirectXMan12 commented on #972
/help

Not going to mark this good-first-issue because arcane CSS sorcery is involved, but if anyone's familiar with CSS, feel free to pick this up.

Otherwise, we'll try and get to it soon

[2019-09-11 10:22] camilamacedo86 opened #984 "[QuickStart] - Missing information - Unable to follow all steps"
/kind bug

Following the steps in https://book.kubebuilder.io/quick-start.html#create-a-project it is missing tell to the user:

- create the project dir and going inside of it before run the init command
- If should answer y, y when the API is created
- provide an example over what should/could be added in the spec and status since is unable to continue without adding something there and say to r

[2019-09-11 10:27] camilamacedo86 opened #985 "Make install is returning the error "/bin/sh: kustomize: command not found""
Following the error

[code]

Project test is: https://github.com/camilamacedo86/memcached-kubebuilder

[2019-09-11 10:55] camilamacedo86 opened #986 "Add schema in the Reconciler Objects by default"
## WHAT:
Add schema in the Reconciler Objects by default

## WHY:
Be able to use the `ctrl.SetControllerReference(m, ser, r.Scheme)` to add the owner of the secondary objects built in the project.

## Example:

main.go
[code]

*_controller.go

[code]

[2019-09-11 10:57] camilamacedo86 opened #987 "Command make could create/update the specs in the CR example"
WHAT: Update the CR files
WHEN: The make command is executed after the specs and status be added in the *_type.go

[2019-09-11 11:05] camilamacedo86 opened #988 ".gitignore added in the scaffold project"
WHAT: Add .gitignore in the scaffold project
WHY: ignore by default built files and make the lifer easier for its user. e.g bin

[2019-09-11 11:21] camilamacedo86 opened #989 "unable to create the namespace where please me by default"
The manager.yaml is created with the ` namespace: system` by default. I as a user, I would like to define where the operator will be applied in the cluster.

Suggestion:
- remove the ` namespace: system`
- let it be applied in the current namespace or where in the namespace defined in the kubectl command. E.g `kubectl apply -f config/manager/manager.yaml -n memcached-kubebuilder`

[2019-09-11 13:22] champak commented on #980
Thanks for the pointers. I am specifying types K8 resources such as Pods and Services inside a custom resource definition and then instantiating the applicable resources via .Create(context, resource-def). This is so that most of the attributes to be specified for the application can be located under the custom resource definition. I set reference for the operator with the .SetControllerReference(

[2019-09-11 16:29] camilamacedo86 opened #991 "Unable to use the install commands because "kustomization" files are not working"
## What did you do?
Following the quick started and try to use the make install

## what did you expect?
the main files are applied in the cluster with success ( manager, sample, crd, rbca )

##  what did you face?
issues because of the kustomization files

[2019-09-11 23:18] skonto opened #993 "go mod tidy messes up deps when calling init in an existing project"
When initializing a project `go mod tidy` should be optional.
In my case I get:
[code]
Probably due to this: https://github.com/kubernetes/kubernetes/issues/79384
but even using the trick here https://github.com/networkservicemesh/networkservicemesh/pull/1519 this does not work. Not sure what k8s deps controller runtime brings in btw.
From what I checked in project v1 you could avoid deps ensure h

[2019-09-12 21:52] champak opened #994 "Pattern for adding Controller Watch Functions"
Hi, I am interested in adding watches on a few resource types e.g Pods. I found pointers to the APIs to use at https://book-v1.book.kubebuilder.io/beyond_basics/controller_watches.html. I am trying to add these APIs to the generated main() which was already armed with the (<controller>.<reconciler>{Client, Log, Scheme}).SetupWithManager() invocation among other things. I was expecting some APIs ar

[2019-09-13 18:20] champak commented on #994
Adding a controller for watching Pods in the "main()" init path worked to some degree. I had something on the lines of:
// Instaniate manager (from scaffolding)
// instantiate my reconciler off controller.() (from scaffolding)
// SetupWithManager.. (from scaffolding)
// instantiate a controller for pods with controller.New()
// Add a watch on the Pods
// mgr.Start(..SetupSignalHandler()) (from sca

[2019-09-15 04:32] oke-py opened #995 "`kubebuilder version` don't display version when installed via homebrew"
### Problem

[code]

### Expected Behavior

[code]

/kind bug

[2019-09-16 03:05] fanux commented on #947
[code]

[2019-09-16 07:35] fanux commented on #947
Everything is ok when I useing client-go:
[code]

[2019-09-16 08:52] meixiezichuan commented on #834
I got the same issue when I found "SetupWithManager"  function was called twice in my main.go. Check your code and make sure "SetupWithManager"  was called only once.

[2019-09-16 20:33] DirectXMan12 commented on #834
/triage support

[2019-09-16 20:36] DirectXMan12 commented on #947
Is `ERRO[0003] VirtulMachine.infra.sealyun.com "virtulmachine-sample" not found` the entirety of the error message?  You don't have line information, or file information, or logger name, or anything like that?

[2019-09-16 20:38] DirectXMan12 commented on #995
This needs to be taken up with the homebrew package maintainers, not us.  We don't maintain the homebrew distribution of KubeBuilder.

[2019-09-16 20:38] #995 closed

[2019-09-16 20:39] DirectXMan12 commented on #995
(FWIW, it's probably because the the link time flags aren't being set by goreleaser)

[2019-09-16 20:39] DirectXMan12 commented on #711
/lifecycle frozen

[2019-09-16 20:46] DirectXMan12 commented on #994
First, I'd reccomend following the current iteration of the book, not the v1 book.

Secondly, generally, in controller-runtime (the runtime library that KubeBuilder projects use to manage things), watches generally don't live on their own -- they're part of a controller.

The high-level interface for that is [Builder](https://godoc.org/sigs.k8s.io/controller-runtime#Builder), and the next lower-le

[2019-09-16 20:46] #994 closed

[2019-09-16 20:46] DirectXMan12 commented on #994
/triage support

[2019-09-16 20:55] DirectXMan12 commented on #991
@camilamacedo86 can you please paste the *exact* errors that you get?

For instance, if I run `make generate install` in testdata/project-v2, everything is fine.  Do you have kustomize installed as per the [Installation Instructions](https://book.kubebuilder.io/quick-start.html#installation)?

[code]

[2019-09-16 20:55] DirectXMan12 commented on #991
/triage support

[2019-09-16 21:02] DirectXMan12 commented on #993
IIRC, we no longer make it optional because all operations effectively require doing similar actions anyway.

Is this new?  Does it only happen if you depend on `k8s.io/kubernetes` directly (that should almost never be a thing that you do)

[2019-09-16 21:08] DirectXMan12 commented on #980
Yep, what your seeing is more-or-less expected behavior, afaict

[2019-09-16 21:09] DirectXMan12 commented on #989
if you actually install with `make install` (or by using kustomize), the kustomization sets a name prefix which installs elsewhere.  You should be able to update the kustomization file to change to install where you want.

[2019-09-16 21:09] #989 closed

[2019-09-16 21:10] DirectXMan12 commented on #988
/good-first-issue
/priority backlog

Although not everyone is using Git, those that aren't are probably in the minority, and this could be fairly useful.

[2019-09-16 21:23] DirectXMan12 commented on #987
I'm not entirely clear what you're asking for here, can you provide an an example of what you want?

[2019-09-16 21:24] DirectXMan12 commented on #986
/good-first-issue
/priority backlog

this is a good idea

[2019-09-16 21:24] DirectXMan12 commented on #985
right, you'll have to install kustomize, as per the [installation instructions](https://book.kubebuilder.io/quick-start.html#installation)

[2019-09-16 21:24] #985 closed

[2019-09-16 21:26] DirectXMan12 commented on #984
These steps are provided more explicitly in the tutorial, especially the bits about `config/samples` and spec and status.  The quickstart should maybe be renamed or reworded a bit, but example edits shouldn't go there.

[2019-09-16 21:27] DirectXMan12 commented on #782
/lifecycle frozen

[2019-09-16 21:37] mengqiy commented on #434
Closed by #760

[2019-09-16 21:37] #434 closed

[2019-09-16 22:33] mengqiy commented on #748
The 2 issues are fixed in v2.

It only mount and read the secret from the same namespace.

No longer self-registering the webhook config.

[2019-09-16 22:33] #748 closed

[2019-09-16 22:52] mengqiy commented on #454
This is supported in the latest `kustomize`.

The change should be straightforward:
- scaffold a new service account
- change the roleBindings to use the new service account

[2019-09-16 23:24] oke-py commented on #995
thanks

[2019-09-17 00:09] DirectXMan12 opened #997 "Bare `go mod init` will pull the wrong deps"
We recommend running a bare `go mod init` if your project doesn't have an easily-discoverable module path.  When this happens, we won't scaffold out a pinned go modules file, which means `go mod tidy` will try to pull the latest of everything.  Since the k8s deps don't do proper versioning, this means we get all sorts of issues with deps.

We should probably at least recommend people also run `go

[2019-09-17 00:09] DirectXMan12 commented on #997
/priority critical-urgent

[2019-09-17 00:54] fanux commented on #947
Full client error message is:
[code]
line 39:
![image](https://user-images.githubusercontent.com/8912557/65002925-a4e68200-d928-11e9-85cc-594e8ebf2555.png)

[2019-09-17 01:15] DirectXMan12 commented on #947
aaah, sorry, I completely missed something before, and seeing the full line number info drove it home.  In the provided example, you're using the manger's client, which operates off the caches, but you haven't started the manager, so there's nothing in the cache.  I think we have a footgun where we don't wait for cache sync if the manager hasn't even been started yet, that's probably your issue.

[2019-09-17 01:15] #947 closed

[2019-09-17 01:15] DirectXMan12 commented on #947
(closing for bookkeeping, but we can re-open if the above doesn't help)

[2019-09-17 02:28] fanux commented on #947
I got it, but some times we don't want to run a long live process. For example query CRD in CNI command or create a command line to create CRD(like: `kubectl plugin create vm -c2 -m1`)
so
[code]
does not meet our needs...

[2019-09-17 13:02] camilamacedo86 commented on #991
Hi @DirectXMan12,

You are correct, after install kustomize it worked.  Closing it tks.

[2019-09-17 13:02] #991 closed

[2019-09-17 14:54] camilamacedo86 commented on #987
Hi @DirectXMan12,

Thank you for your reply. I checked that it is already working on this way which is great. Really tks. Sorry for raise it. We can ignore this one.

[2019-09-17 14:54] #987 closed

[2019-09-17 15:47] skonto commented on #37
@andrewrynhard scenario is valid otherwise you need to reconstruct state from the env to compare with the object in cache. Legitimate argument but may needs a lot of work depending on the operator.

[2019-09-17 16:01] champak commented on #994
Thanks for the pointers! Two related aspects that I am still looking for info on are:
- Is it possible to "own" more than one of the core resource type ? e.g. Would the infra support .Owns(&corev1.Pods{}) and .Owns(&corev1.Service{}) with the same instance of a controller or is the pattern to have separate ones for each "own"-ed resource type

- I am doing a diff on the spec of the Pod resources

[2019-09-17 19:41] DirectXMan12 commented on #994
Yep!  A given resource can "own" any number of other resources.  For instance, a "Website" CRD might "own" deployments (for running the webserver) and services (for exposing the webserver).

You might be able to use the "semantic deep equal" machinery in apimachinery: https://github.com/kubernetes/apimachinery/blob/master/pkg/conversion/deep_equal.go

An example is here: https://github.com/kuberne

[2019-09-17 19:44] DirectXMan12 commented on #947
If you don't want to read from the cache, use a "live" client by calling `client.New` instead of `mgr.GetClient`.  Then, you don't have to have anything running in the background maintaining the cache.  If you do want to read from a cache, you need something maintaining the cache.  You probably want a live client in CLIs anyways.

[2019-09-17 19:44] DirectXMan12 commented on #790
/lifecycle frozen

[2019-09-17 19:59] DirectXMan12 opened #1000 "Document testenv environment variables"
We should have reference for how to make use of the various options to testenv, either in the book, in the godoc, or both.

Especially the environment variable to attach control plane output, that one's super useful.

Ref #920

/kind documentation

[2019-09-17 19:59] DirectXMan12 commented on #1000
/good-first-issue

[2019-09-17 20:00] DirectXMan12 commented on #920
split that last one out into its own doc item

[2019-09-17 20:00] DirectXMan12 commented on #920
also merged a PR to add at least a note about that example to the book, but going to keep this open to track other stuff

[2019-09-17 21:33] DirectXMan12 commented on #955
closing due to no response

[2019-09-17 21:33] #955 closed

[2019-09-17 21:42] DirectXMan12 commented on #562
closing as per the above

[2019-09-17 21:42] #562 closed

[2019-09-18 00:34] fanux commented on #947
I got it, tks a lot.

[2019-09-18 01:01] fanux commented on #947
I am using `client := mgr.GetAPIReader()` problem solved.
I suggest that add a readwrite client in controller manager.
`apiReader, err := client.New(config, client.Options{Scheme: options.Scheme, Mapper: mapper})`
Some times we needs that (without cache, not long live process).
[code]
If you agree with me, I will PR those codes.

[2019-09-18 07:54] chx commented on #300
Re https://github.com/kubernetes-sigs/kubebuilder/issues/300#issuecomment-467586524 about WSL, Microsoft gave up on trying to translating syscalls and WSL2 is a very lightweight VM so now truly all Linux programs will work. Just sayin'.

[2019-09-18 08:51] alexeldeib commented on #300
I think it’s reasonable to tell windows users to run e2e tests agains kind, and set envtest to use existing cluster?

I regularly work on windows and linux and use kubebuilder fine with this approach on both. Some random characters in help text but that’s my biggest complaint.

Rest of testing can probably be done in Go?

[2019-09-18 09:27] dholbach opened #1001 "Release past v2.0.0"
Quite a few [nice improvements landed since v2.0.0](https://github.com/kubernetes-sigs/kubebuilder/compare/v2.0.0...master) and it'd be great to get them out there in a release.

[2019-09-18 17:14] derailed opened #1002 "kubebuilder v2 create fail with Go 1.13"
/kind bug

I am getting the following errors while trying to generate a new crd scaffold.

[code]

## Versions

[code]

## Repro steps

1. Installed kubebuilder, kustomize per these [instructions](https://book.kubebuilder.io/quick-start.html)
2. Init a new project

[code]
3. Create an API

[code]

## Results

kubebuilder create api fails with the following errors.

[code]

[2019-09-18 17:26] derailed commented on #1002
Found the problem, my bad!
Had a stale controller-gen in my GOBIN from a previous kubebuilder install.
All generation looks good now.

[2019-09-18 17:26] #1002 closed

[2019-09-18 20:13] DirectXMan12 commented on #686
/lifecycle frozen

/help

[2019-09-18 20:15] DirectXMan12 commented on #947
You generally don't need to be using a manager (and shouldn't be) unless you're managing long-running processes, so it doesn't make much sense, IMO, to have that.

[2019-09-18 20:19] DirectXMan12 commented on #1001
cc @droot @mengqiy

[2019-09-18 22:21] champak commented on #994
Thanks for the tips ! I noticed one curious thing with created services and pods. When I delete the CRD the services seem to get auto cleaned up without any action from the reconcile logic ! Pods were not cleaned up and I added some cleanup for them. I am guessing the kube builder infra is maintaining references to the created core resources  (I had explicitly invoked SetControllerReference() ..)

[2019-09-18 23:24] DirectXMan12 commented on #994
KubeBuilder doesn't automatically maintain references -- you have to explicitly call `SetControllerReference`.  Whenever you do so, the standard Kubernetes garbage collector will clean up after you -- kubebuilder isn't involved.

[2019-09-19 00:33] fanux commented on #947
Yes, I agree with you. But I think add a apiClient is reasonable. For if we need write status to apiserver (not through cache)...

[2019-09-19 00:59] fanux commented on #947
[code]
as you can see, options = setOptionsDefaults(options)  this is private function, so client.New is complex.

[2019-09-19 01:54] mengqiy opened #1003 "Golden files test is broken"
kubebuilder has a test to ensure the files under `/testdata` always reflects what is generated. Test will fail if `/testdata` is out of date.
But it seems to be broken now. See: https://github.com/kubernetes-sigs/kubebuilder/pull/983#pullrequestreview-290262845

/kind bug

[2019-09-19 02:01] DirectXMan12 commented on #1003
/priority critical-urgent

[2019-09-19 08:19] shenlanse commented on #37
I really want access old object. Sometimes, reconcile is a really time-consuming operation. And I only need reconcile on some specific field update. If i can't get old object, i will not distinguish that and have to reconcile on all update event. But the reconcile in my scenario  is really time-consuming.

[2019-09-19 09:44] mariantalla commented on #1000
I should be able to add that one, is it ok if I pick it up? Or is there work on it somewhere? 👀

[2019-09-19 10:15] camilamacedo86 commented on #984
Hi @DirectXMan12,

In POV, users will start to follow the Quick Start just to check how it works instead of reading and follows the big tutorial. Small changes could make these steps already described easier to be understanding as avoid initial mistakes.

[2019-09-19 15:38] sohankunkerkar commented on #986
/assign @sohankunkerkar

[2019-09-19 18:21] mengqiy commented on #1003
It seems golden file test doesn't cover v2 scaffolding and it's brittle.
The test requires explicitly specifying which files should be covered. And then check if they match.
If a file is not specified or the `/testdata` directory has more files than what are generated, the test can't catch it.

IMO the test should be generating the scaffolding using the new kubebuilder and diff it against the gold

[2019-09-19 18:29] DirectXMan12 commented on #947
writes *never* go through the cache anyway.

What you're looking for is

[code]

There's an example in the godocs for the client: https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client#New

[2019-09-19 18:30] DirectXMan12 commented on #947
things like mappers are automatically defaulted

[2019-09-20 00:37] negz opened #1004 "Configurable scaffolding behaviour"
/kind feature

Recently a discussion about desired testing practices began in https://github.com/kubernetes-sigs/kubebuilder/pull/952. It was pointed out that kubebuilder is [inherently opinionated](https://github.com/kubernetes-sigs/kubebuilder/blob/master/DESIGN.md#kubebuilder), and that these opinions extend to testing patterns. This is a reasonable approach; kubebuilder cannot be all things to

[2019-09-20 01:04] fanux commented on #947
Greate, I will close the PR

[2019-09-20 15:34] rajasaur commented on #1002
Thanks, had the same problem.

[2019-09-20 19:56] DirectXMan12 commented on #716
/lifecycle frozen

[2019-09-20 20:01] DirectXMan12 commented on #1004
we're working on a plugin system to address some stuff like this.  It currently takes "the universe" of the scaffolding and gets to output it's own version of "the universe", so it should address this situation.

For instance, you could just have the crossplane plugin that drops the controller (or scaffolds out something with your own types) and sets up your testing setup.

[2019-09-20 20:01] DirectXMan12 commented on #1004
The initial pieces *just* went in -- see the plans and discussion in #943

[2019-09-20 20:02] DirectXMan12 commented on #1003
SGTM

[2019-09-20 20:03] DirectXMan12 commented on #1000
yeah, go ahead.  You'll want to edit the reference section on testing in the KB book (check docs/book/src/testing.md), and possibly double-check the godoc for pkg/envtest in controller-runtime.

[2019-09-20 20:04] DirectXMan12 commented on #1000
/assign @mariantalla

[2019-09-20 20:05] DirectXMan12 commented on #37
You can accomplish the "I only want to enqueue if a specific field changes" via a predicate (https://godoc.org/sigs.k8s.io/controller-runtime/pkg/predicate).  Be careful when doing so, however.

[2019-09-20 21:30] champak commented on #994
@DirectXMan12 Thanks again ! For anyone checking out the thread the garbage collection on maintained references worked fine.  I tried looking for api-server logs to see if there were traces of the garbage collection logic and did not find any but that could have been due to the logging level.

[2019-09-21 07:40] stealthybox commented on #722
/wg component-standard

[2019-09-21 07:45] stealthybox commented on #722
Related https://github.com/kubernetes-sigs/controller-runtime/issues/518

[2019-09-21 09:14] cliveseldon opened #1006 "Webhook Patch Template K8s Version Incorrect"
The patch for a webhook adds a comment:

https://github.com/kubernetes-sigs/kubebuilder/blob/cd0b10ff1a7966ce3d449ae9fbb8d7029259bc31/pkg/scaffold/v2/crd/enablewebhook_patch.go#L54-L56

But I see `preserveUnknownFields` only in k8s version >=1.15

Running this patch on earlier clusters gives an error.

[code]

/kind bug

[2019-09-21 09:35] camilamacedo86 opened #1007 "Error in the scaffold files when the group has "-""
/kind bug

Error in the scaffold files when the group has "-". following the error ( the pkg needs to be created without "-") Following the error.

[code]

[2019-09-21 18:57] camilamacedo86 commented on #984
Hi @DirectXMan12,

I did a PR with the small changes that I believe which will be very helpful to me and for other new users. I hope that you like it: https://github.com/kubernetes-sigs/kubebuilder/pull/1008.

Thank you for your attention.

[2019-09-23 18:03] camilamacedo86 commented on #988
/assign @camilamacedo86

[2019-09-23 21:46] droot commented on #1007
Go doesn't allow `-` in the package alias, so in this case `webapp-testv1` is incorrect syntax wise. So, one way to fix this would be to sanitize the import alias and substitute the `-` (or other non-allowed chars) with an underscore `_`. For ex. `webapp_testv1` will fix the issue in this case.

I am marking this as a good-first-issue because it can be a good starting point for someone looking to

[2019-09-23 22:31] functicons opened #1010 "Question: how do I enforce only certain properties are updatable in webhooks?"
I am following the [example](https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/cronjob-tutorial/testdata/project/api/v1/cronjob_webhook.go) to implement validation webook for update. I want to enforce that only certain properties are updatable, so I need to compare the `old` with the `new`, but why is the `old` of type `runtime.Object`? How do I convert it to `CronJob` so th

[2019-09-24 00:07] mengqiy commented on #1010
The reason is that `ValidateUpdate` is part of the `Validator` interface, which we use to do auto wiring.
To have a deterministic `Validator` interface, we choose to use `runtime.Object` as the argument for `Old`.

[2019-09-24 00:09] mengqiy commented on #1010
It should be OK for you to do a type assertion.

[2019-09-24 00:23] #997 closed

[2019-09-24 00:37] mengqiy commented on #1006
Thanks for bring this up!
The patch itself doesn't have the `preserveUnknownFields` field.
It seems this bug is caused by an unexpected defaulting kicks in somehow. My guess there is an undesired roundtrip.
Ref: https://github.com/kubernetes/apiextensions-apiserver/blob/release-1.15/pkg/apis/apiextensions/v1beta1/defaults.go#L72-L74

I need to dig it further.

[2019-09-24 00:43] mengqiy commented on #1006
@cliveseldon What is your kustomize version?

[2019-09-24 07:52] cliveseldon commented on #1006
Yes, sorry I think the issue is https://github.com/kubernetes-sigs/controller-tools/issues/279

[2019-09-24 08:34] Ghostbaby opened #1012 "Certificate spec.commonName too long"
[code]
/kind bug

[2019-09-24 08:36] camilamacedo86 commented on #1007
Hi @droot,

IMHO the solution here is simple it is just missing replace "-" for "" just and only in the scaffold file where the pkg is created.

[2019-09-24 08:44] camilamacedo86 opened #1013 "RFE: Show a friendly msg when the user try to use kubebuilder and the export export GO111MODULE=on was not executed before"
/kind feature

WHAT: "Show an error msg with the solution instead of just throw the error"
WHEN: "the user try to use kubebuilder and the export  `export GO111MODULE=on` was not executed before"

[2019-09-24 12:09] dlespiau commented on #954
It seems this issue should be closed now that #977 is merged.

[2019-09-24 13:23] dlespiau commented on #954
Thank you!

[2019-09-24 13:37] camilamacedo86 commented on #954
/assign @camilamacedo86

[2019-09-24 13:37] #954 closed

[2019-09-24 15:02] champak opened #1015 "Timer based reconciliation"
Hi folks, Does kubebuilder have any APIs for implementing a timer based entry of the reconcile loop (in addition to the resource watch based triggers..). I do follow that reconcile is "level" based as opposed to event driven and perhaps timer driven polling is out of scope, but have been wondering whether in some scenarios it would be more efficient to reconcile based on a timed poll rather than o

[2019-09-24 16:15] dlespiau commented on #921
Can this be closed now that both PRs are merged?

[2019-09-24 17:23] dlespiau opened #1019 "Kind validation is a bit too strict"
There are some circumstances where the the CamelCase check is a bit too strict. For instance, the [`AWSCluster` kind](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/PROJECT#L10) doesn't work today:

[code]

Acronyms should be handled by the checker, this looks like a valid kind to me.

/kind bug

[2019-09-24 17:27] #921 closed

[2019-09-24 20:47] dennisme opened #1021 "Update kube-rbac-proxy to v0.4.1 release"
Per https://github.com/brancz/kube-rbac-proxy/issues/26#issuecomment-534159471 has been pushed to `quay.io/brancz/kube-rbac-proxy:v0.4.1`. What is the process to update the `gcr.io/kubebuilder/kube-rbac-proxy`? Is this hand tagged and pushed by a maintainer?

https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/scaffold/v2/metricsauth/kustomize_auth_proxy_patch.go#L55

I am looking to up

[2019-09-24 23:13] functicons commented on #1010
Thanks, that worked!

https://stackoverflow.com/questions/58070974/how-do-i-convert-runtime-object-to-specific-type

[2019-09-24 23:13] #1010 closed

[2019-09-25 03:40] sb1975 opened #1022 "error running kubebuilder init --domain my.domain"
run `controller-gen object:headerFile=./hack/boilerplate.go.txt paths=./... -w` to see all available markers, or `controller-gen object:headerFile=./hack/boilerplate.go.txt paths=./... -h` for usage
Makefile:51: recipe for target 'generate' failed
make: *** [generate] Error 1
2019/09/24 22:23:03 exit status 2

Resolution Found :
root@ubuntu:~# mkdir -p $GOPATH/src/mydomain.com/mygroup && cd $_
roo

[2019-09-25 06:51] functicons opened #1023 "MountVolume.SetUp failed for volume "cert" : secret "webhook-server-cert" not found"
I added validating and mutating webooks for my operator, now I'm seeing

[code]

in the events of my controller-manager pod as below. I think the problem is that in the kustomize-generated YAML files, we create the controller-manager deployment before we create the certificate which then creates the secret. But seems the pod can function correctly after a while, so I'm not sure if this is an issue

[2019-09-25 08:46] chenzhiwei opened #1024 "How to define types that unknow"
/kind bug

Usually in a CR, the Spec structure is fixed values, such as:

[code]

But in some cases, the CR structure is unknown, such as:

[code]

The `object` can be:

[code]

or:

[code]

Can someone tell how to write the API types?

[2019-09-25 09:58] camilamacedo86 opened #1025 "Nomenclature adopts are not always representing the same"
/bug

In the user point of view, have the one nomenclature to represent more than one thing is very confusing and an issue.

For example: Note that in the makefile and docs we can find the operator project called a controller which make the things be NOT very intuitive since it has a Controller actually.  E.g `IMG=<some-registry>/controller`

IMHO: the above should be for example `IMG=<some-regist

[2019-09-25 10:10] camilamacedo86 opened #1026 "Add generation command for the features instead of scaffold all"
/kind feature

**User Story:** As I user, I'd not like to have in the project YAML files of optional features which maybe never will be used by myself.

**Why**
- Very hard to understand what actually the make commands are applying by default and are doing
- It makes very hard to understand what is or should or not be used
- Make the learning curve bigger than could be to start to use it
- Very ha

[2019-09-25 10:18] camilamacedo86 opened #1027 "Adds namespace to all resources is not replacing all"
/kind bug

## What

The following in the `config/default/kustomization.yaml` is not replacing all namespaces with.

[code]

[2019-09-25 10:24] camilamacedo86 opened #1028 "improve GitHub templates in order to gather the required information"
/kind feature

WHAT: Improve GitHub templates
WHERE: in this repo
WHEN: open issues/rfes users

WHY:
- A standard make easier to understand and address the needs
- As a user, I'd like to know what info I should provide
- Avoid issues be opened without the common and minimal info required

Suggestion
- Add PR template
- Add questions in the templates

[2019-09-25 10:34] cliveseldon commented on #1006
I think this was added by our internal code to get around https://github.com/kubernetes-sigs/controller-tools/issues/279 so am closing unless you think there is still something that needs to be changed in kubebuilder.

[2019-09-25 10:34] #1006 closed

[2019-09-25 10:36] camilamacedo86 opened #1029 "Sample is missing namespace"
/kind bug

WHAT: Unable to apply samples because of namespace
WHEN: we follow the quick start and exec "kubectl apply -f config/samples/"
WHY: Sample has not the namespace created for the project

Suggestion
Add namespace.

[2019-09-25 12:31] camilamacedo86 commented on #887
/assign @camilamacedo86

[2019-09-25 16:50] erictune opened #1031 "Docs improvements for noobs"
Make quick start friendly for someone new to Go.  They may be using Go for the first time to write an operator.

In https://kubebuilder.io/quick-start.html:
- [x] Explain that go language is required to use as the language for KubeBuilder.
- [x] Suggest min golang version to have installed.
- [ ] suggest making a directory for the project under `$GOPATH/src` such as `$GOPATH/src/kb-quickstart`
- [

[2019-09-25 17:17] alexeldeib commented on #1024
Is the ask how to write a one or two layer nested object, or an arbitrarily deep recursively nested object? I dunno about the second, but use a `map[string]structType{}` for the first? e.g. https://github.com/alexeldeib/incendiary-iguana/blob/fd1fd03fabe2863817059094721ada8359f8aad0/api/v1alpha1/secretbundle_types.go#L19

[2019-09-25 17:42] erictune opened #1032 "Add uninstall Makefile rule"
Some people may want to uninstall a CRD after trying out an idea.

Is this just `kustomize build config/crd | kubectl delete -f`.
Or is this too dangerous to make easy?

[2019-09-25 18:01] erictune opened #1033 "Doc improvements: explain some quickstart steps better."
in https://kubebuilder.io/quick-start.html#test-it-out-locally
- [ ] explain that you want to press `y` for `Create Resource [y/n]` and `Create Controller [y/n]`.
- [ ] consider re-titleing section from _Test it out locally_ to _Test it out_. This is a confusing heading because it gives you the option to test with "KIND" or with a remote cluster.  When you use a remote cluster, it is not really lo

[2019-09-25 19:36] erictune opened #1034 "Docs: Make the QuickStart a little more detailed with a Greeter example."
The Quickstart is kind of unsatisfactory because:
-  it does not show the user that there are pre-generated API and Controller files.  Conveying that KB does this for you is important to show the user why they want to use KB, and to give an initial taste of how Controllers and CRDs work together.
- it does not "do something", so the user does not get a sense of satisfaction at the end of the Quick

[2019-09-26 02:22] sb1975 commented on #1034
I agree, its a default assumption that everyone knows and then starts to work on kubebuilder but sufficient details are missing to get started..

[2019-09-26 02:24] sb1975 opened #1036 "kubebuilder init --domain my.domain error"
run `controller-gen object:headerFile=./hack/boilerplate.go.txt paths=./... -w` to see all available markers, or `controller-gen object:headerFile=./hack/boilerplate.go.txt paths=./... -h` for usage
Makefile:51: recipe for target 'generate' failed
make: *** [generate] Error 1
2019/09/26 02:22:05 exit status 2
/kind bug

[2019-09-26 02:38] #1036 closed

[2019-09-26 08:37] #516 closed

[2019-09-26 14:27] nrvnrvn opened #1037 "Support numbers in group names"
## Currently:
[code]

## Why
Allow users create group names like `k8s.example.com`

/kind feature

[2019-09-26 20:39] DirectXMan12 commented on #903
# PRs

- CRD v1 support (partial): https://github.com/kubernetes-sigs/controller-tools/pull/321
- Defaulting support: https://github.com/kubernetes-sigs/controller-tools/pull/321

[2019-09-26 20:48] DirectXMan12 commented on #1024
`map[string]interface{}` should do the trick

[2019-09-26 20:48] DirectXMan12 commented on #1024
but might have issues

[2019-09-26 20:49] DirectXMan12 commented on #1033
/good-first-issue

[2019-09-26 20:49] DirectXMan12 commented on #1032
/good-first-issue

[2019-09-26 20:50] DirectXMan12 commented on #1032
No, that shouldn't be too dangerous

[2019-09-26 20:50] DirectXMan12 commented on #1032
I seems like a reasonable thing to have

[2019-09-26 20:50] DirectXMan12 commented on #1031
/good-first-issue

[2019-09-26 20:50] DirectXMan12 commented on #1031
/kind documentation

[2019-09-26 20:50] DirectXMan12 commented on #1033
/kind documentation

[2019-09-26 20:54] DirectXMan12 commented on #1034
Yeah, we probably need something between "remind you of the steps" and "here's a full real-world example".  We had another comment to that effect recently, but I can't seem to find it now.

Your suggestion seems reasonable here, because it doesn't significantly interrupt the flow of the "here's the general steps".

[2019-09-26 20:54] DirectXMan12 commented on #1034
/help

[2019-09-26 20:54] DirectXMan12 commented on #1034
/kind documentation

[2019-09-26 21:00] DirectXMan12 commented on #1037
we'll need to match whatever kubernetes allows.  I think the answer for that is DNS subdomain, so we should switch to that.

/help

just verify that constraint in the kubernetes docs, and then plumb it through KB

[2019-09-26 21:08] DirectXMan12 commented on #1029
huh?

[code]

[2019-09-26 21:08] DirectXMan12 commented on #1029
can you be more specific as to your kubectl version and the error you got?

[2019-09-26 21:09] DirectXMan12 commented on #1028
I don't want the issue or PR template to be too heavy, because people tend to ignore them and not fill them out anyway, and then I have to fix up the issues.  However, we could add something akin to what we have in controller-runtime

[2019-09-26 21:11] champak opened #1039 "Add to the generated suite_test"
The generated suite_test.go is very sparse. Could it not have generated code for instantiating the applicable Reconciler and creating and deleting and CRD instances ? If code generation logistics are too hairy a few comments on useful test patterns would be useful too. Thanks.

/kind feature

[2019-09-26 21:11] DirectXMan12 commented on #1027
can you be more specific about what's not working?

cc @mengqiy

[2019-09-26 21:12] DirectXMan12 commented on #1026
This is a long-standing issue.  We'd appreciate a comprehensive design around it.  cc @mengqiy for review

[2019-09-26 21:14] DirectXMan12 commented on #1039
we were holding off on this till we figure out how and what we want to scaffold.  We used to scaffold stuff, and people never touched it/got confused by it

closing in favor of #920  -- please weigh in there

[2019-09-26 21:14] #1039 closed

[2019-09-26 21:18] DirectXMan12 commented on #1025
Let's not use the term operator, because not all sets of controllers are operators

Otherwise, this seems like a good suggestion

/help

specifically, this is for things like the makefile

[2019-09-26 21:20] DirectXMan12 commented on #988
already exists: https://github.com/kubernetes-sigs/kubebuilder/blob/4f7807c6d611b4f99521379eb52ad98d1fe02d0e/pkg/scaffold/project.go#L127

[2019-09-26 21:20] #988 closed

[2019-09-26 21:22] DirectXMan12 commented on #1023
in general, things in kubernetes are designed to work w/o ordering, so it's fine that it fails for a bit while cert-manager is creating the certificates -- as long as it comes up eventually :-)

[2019-09-26 21:22] #1023 closed

[2019-09-26 21:24] DirectXMan12 commented on #1021
yeah, it's currently hand-tagged, because we were waiting for a "trusted" source -- there was some talk about sig-auth adopting the project, but we wanted something under kubernetes control in the meantime.

cc @mengqiy

[2019-09-26 21:25] DirectXMan12 commented on #1019
yeah, we should be matching whatever kube specifies here, I think

/help

[2019-09-26 21:29] DirectXMan12 commented on #994
garbage collection is done by a GC controller.  You'll prob need to look at the controller-manager logs

[2019-09-26 21:31] DirectXMan12 commented on #1034
alternatively, we could split out and have an middle "quick start"

cc https://github.com/kubernetes-sigs/kubebuilder/issues/1021

[2019-09-26 21:32] camilamacedo86 commented on #1027
Sorry, for don't be so specific but many of them still with system and are not subscribed for the namespace where the project will be deployed. Is this the expected behaviour? Should not all be subscribed?

[2019-09-26 21:32] DirectXMan12 commented on #984
thanks!  I've left some feedback, but the general ideas are good.  We've also got some more suggestions over @ #1034 which line up with a lot of what you were saying :-).  I think we might want an intermediate section, or collapsible bits.

[2019-09-26 21:33] camilamacedo86 commented on #1028
I understand and I agree. I just think that would be great some standard in order to try to avoid miss info here.

[2019-09-26 21:37] DirectXMan12 commented on #1012
err... this is tough.  That's the shortest reasonable CN that we can issue without accidentally gitting the "service: google, namespace: com" issue.

@munnerz suggestions here?

Among other things (this is a bit of a bandaid), since we're aiming to scaffold in a namespace, we don't also have to name prefix (that's what a namespace is for) cc @mengqiy @droot

[2019-09-26 21:38] DirectXMan12 commented on #1007
Or just make an `ImportSafe` helper, but yeah, I think @camilamacedo86 has the right idea here

[2019-09-26 21:40] camilamacedo86 commented on #984
/assign @camilamacedo86

Hi @DirectXMan12,

Tks for your review and time. I will address your comments and try to address what was requested in the  #1034  as well 👍

[2019-09-26 21:41] camilamacedo86 commented on #1034
/assign @camilamacedo86

[2019-09-26 21:46] camilamacedo86 opened #1040 "Use the controller util validation for group names instead of a regex."
/kind feature

WHAT: Use the https://godoc.org/k8s.io/apimachinery/pkg/util/validation#IsDNS1123Subdomain to check if the group informed is valid or not
WHERE: https://github.com/kubernetes-sigs/kubebuilder/blob/178d59db212f0d09bf03d6e124976d58f4e02595/pkg/scaffold/v1/resource/resource.go#L69

[code]

[2019-09-26 21:50] camilamacedo86 commented on #1029
I think the issue was with my minishift local install then it was complaining about a namespace that was not successfully removed. However, it has not the namespace, should it not be applied in the same namespace of the operator project?

[2019-09-26 21:51] mengqiy commented on #1021
Pushed `gcr.io/kubebuilder/kube-rbac-proxy:v0.4.1`.
Also created PR https://github.com/kubernetes-sigs/kubebuilder/pull/1041

[2019-09-26 22:11] mengqiy commented on #1012
That may help and things should still work when the resources are namespaced.
But we do have some cluster-scoped resources, they may collide with others if we drop the name prefix in `kustomization.yaml`.

[2019-09-26 23:32] munnerz commented on #1012
So this is because the common name field is actually restricted to 64 characters in the x509 spec, which we recently started enforcing.

That said, in your case you've *not* specified a common name at all. You are still getting this error because cert-manager copies the first dnsName and uses it as the common name at the moment. This is because a long time ago when the project was first started, t

[2019-09-26 23:35] munnerz commented on #1012
Ah, I see you *have* explicitly set a commonName, but it is still longer than 64 characters.

You'll want to specify *something* else as the commonName, perhaps the singular name of the Service? IIRC, Kubernetes already limits this to 64 characters 😅

[2019-09-27 00:24] mengqiy commented on #1027
@camilamacedo86 Can you provide the GVK and name of the resources that having issue?
Also please ensure your kustomize is up-to-date.

[2019-09-27 01:59] chenzhiwei commented on #1024
Thank you, I think I can use `runtime.RawExtension`.

[2019-09-27 01:59] #1024 closed

[2019-09-27 17:49] dennisme commented on #1021
Thanks @mengqiy and @DirectXMan12!

[2019-09-28 13:44] 644262163 opened #1042 "Use gomod go get v2 error"
I have a project that I want to import this project

## go version
[code]
## I tried to use all five ways and failed

### 1
[code]

### 2
[code]

### 3
[code]

### 4
[code]

### 5
[code]
/kind bug

[2019-09-30 07:30] camilamacedo86 commented on #1029
Hi @DirectXMan12,

it is not applied in the same namespace of the project. What is the goal of this sample? How it can be helpful for the users?

[2019-09-30 07:34] #1029 closed

[2019-09-30 07:37] camilamacedo86 opened #1046 "Rename samples for CR"
/kind feature

## What:
Rename sample for CR

## Why:
- Samples give the idea of that what is created there is just a sample and is not useful
- It is important devs have a CR with the default values in the project in order to built projects easier to being configured and used, keep easier the understand and the maintenance ability.

[2019-09-30 08:00] camilamacedo86 commented on #1025
HI @DirectXMan12,

Really thank you for your reply and support. Would not the kubebulder a tool to help us deb projects using the Operator concept? In this way, could we not say that by using it we are creating an Operator project? So, would not make sense call the projects made by it as operators?

[2019-09-30 08:01] camilamacedo86 commented on #1027
Hi @mengqiy  and @DirectXMan12,

I am closing this one. Sorry, I did not get before that the replacement is just made when we do make deploy. Thank you for your attention.

[2019-09-30 08:01] #1027 closed

[2019-09-30 08:20] camilamacedo86 commented on #1046
/assign @camilamacedo86

[2019-09-30 08:27] camilamacedo86 commented on #1040
/assign @camilamacedo86

[2019-09-30 08:38] camilamacedo86 commented on #1007
/assign @camilamacedo86

[2019-09-30 09:29] nrvnrvn commented on #1037
Here are the findings:
https://github.com/kubernetes/apiserver/blob/af8f81df54d7d7a4fbd7634bf54becb5802554af/pkg/apis/audit/validation/validation.go#L102-L108
https://github.com/kubernetes/apimachinery/blob/master/pkg/api/validation/generic.go#L36-L41
https://github.com/kubernetes/apimachinery/blob/master/pkg/util/validation/validation.go#L141-L150

I could open up a PR if it looks ok at first gla

[2019-09-30 09:37] camilamacedo86 commented on #1042
Could you try to use go 1.12? I believe that the version 1.13 is not supported yet.

[2019-09-30 09:50] camilamacedo86 commented on #1033
The suggestion `After make install step, suggest a make uninstall step so that the cluster is left in its original state. Having a CRD without a controller is a messy state to leave a cluster in. See #1032.` can just be applied when it https://github.com/kubernetes-sigs/kubebuilder/issues/1032 be implemented and should be part of it.

[2019-09-30 09:51] camilamacedo86 commented on #1032
IMHO: As part of this tasks we should have: update the quick start doc with.

[2019-09-30 09:52] camilamacedo86 commented on #1031
/assing @camilamacedo86

[2019-09-30 09:55] camilamacedo86 commented on #1031
The following suggestions:

I am not sure if are required since is not really more mandatory have the GOPATH since it is using models. However, the other one 100% agree.

[2019-09-30 10:01] camilamacedo86 commented on #1013
/assign @camilamacedo86

[2019-09-30 10:01] camilamacedo86 commented on #1025
/assign @camilamacedo86

[2019-09-30 10:26] camilamacedo86 opened #1051 "Rename Config dir for deploy dir"
/kind feature

**Is your feature request related to a problem? Please describe.**
The config dir does not reflect that it actually is the dir where has the files which will be applied in the cluster by the command make docker-deploy

**Describe the solution you'd like**
rename it for deploy in order to be more consistent and intuitive

[2019-09-30 10:26] camilamacedo86 commented on #1051
/assign @camilamacedo86

[2019-09-30 14:06] champak opened #1053 "Hierarchy of kubebuilder controllers"
Hi folks,
Has anyone attempted to build a hierarchy of kubebuilder generated controllers that control a CRD hierarchy. e.g CRD of kind "foo" is composed with instances of CRD kind "bar", and foo and bar both get reconciled possibly by separate controllers/operators. A different approach could be to have separate API groups but was wondering what may have worked better. Thanks

[2019-09-30 15:17] erictune commented on #1031
Suggest that quickstart doc should focus on providing complete steps that
will work.
Whether something is required or not isn't as important.

On Mon, Sep 30, 2019 at 2:56 AM Camila Macedo <notifications@github.com>
wrote:

[2019-09-30 15:19] sb1975 commented on #1022
Resolution Found :
root@ubuntu:~# mkdir -p $GOPATH/src/mydomain.com/mygroup && cd $_
root@ubuntu:/src/mydomain.com/mygroup# go mod init my.domain

and then run:
root@ubuntu:/src/mydomain.com/mygroup# kubebuilder init --domain my.domain

[2019-09-30 15:19] #1022 closed

[2019-09-30 15:29] camilamacedo86 commented on #986
@sohankunkerkar and I did this together.
PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1054

[2019-09-30 16:25] camilamacedo86 commented on #1026
Just to clarifies. It is over we found a way to not scaffold ALL and generate the optional code just if the user will use it.

[2019-09-30 18:20] mengqiy commented on #1026
I'd be happy to review the design if needed.

[2019-09-30 18:29] champak commented on #1053
Found that invoking "kubebuilder create api ..." more than once after a single invocation of init with the same group seems to have worked. The generated main.go got updated with two instantiations of controllers via the SetupWitthManager() API, one for each kind. I have not yet found a mechanism to indicate dependancies between two kinds. Since it seems kubebuilder can anyways be used to reconcil

[2019-09-30 21:08] camilamacedo86 commented on #1037
The PR https://github.com/kubernetes-sigs/kubebuilder/pull/1048 would solve it.
/assign @camilamacedo86

[2019-09-30 22:49] DirectXMan12 commented on #1053
@champak are you saying you want something like

[code]

assuming `MyDeployment` and `MyReplicaSet` are two new CRDs that you created (with analogous relationships to those of the similarly-named built-in types)?

Custom resources act more-or-less the same as built-in resources, so generally approaches that work for built-in types should work for CRDs as well.

Closing for book-keeping purposes, f

[2019-09-30 22:49] #1053 closed

[2019-09-30 22:51] #1021 closed

[2019-10-01 00:02] DirectXMan12 commented on #1051
see my comment in the associated PR

[2019-10-01 00:17] DirectXMan12 commented on #1025
KubeBuilder is often used for Operators.  All operators are made of controllers, but not all sets of controllers are operators.

Operators are sets of controllers that encode human operational knowledge for a specific application (e.g. the Prometheus Operator).  Controllers are more general -- for instance, the namespace service account controller isn't an operator because it doesn't have knowledg

[2019-10-01 00:18] DirectXMan12 commented on #1013
/priority backlog

I'm not sure how easy it is for us to detect this exact error.

[2019-10-01 00:18] DirectXMan12 commented on #1013
especially since we can't just check the env, because Go 1.13 doesn't require this.

[2019-10-01 00:20] DirectXMan12 commented on #1042
Go 1.13 is supported.  This is a bug.

[2019-10-01 00:22] DirectXMan12 commented on #1042
/priority backlog

backlog since we do binary releases and don't expose a public API.

We should fix this eventually, though.

[2019-10-01 00:24] DirectXMan12 commented on #1046
I don't think this is more intuitive -- the directory is supposed to be samples of the custom resource that they can use for testing, to guide users as an example, etc.  It's not supposed to be default values -- that's what the default markers are for.

[2019-10-01 00:25] DirectXMan12 commented on #827
We're getting progress!  deads2k is putting together a KEP for this **1** :tada:

[2019-10-01 00:46] DirectXMan12 commented on #1012
just service-local seems like it's probably fine.  We want to avoid a situation where we sign for something that we don't have the authority to sign for.

Aside: I'm confused as to the logic behind the 64 character limit on the CN though -- isn't CN for serving certs usually domain name, in which case each subsection is 63 characters at most, and the whole is 250-something give-or-take?  I.e. `"a"

[2019-10-01 09:18] camilamacedo86 commented on #1025
Really thank you for your clarification and explanation. Then, manager and controller are words which represents other units on it, so I just can think about the nomenclature project to represent it. Please, let me know if you have a better idea.

[2019-10-01 09:29] camilamacedo86 commented on #1046
Really thank you for your reply. Also, what do you mean with `default markers`? Could you send me an example/doc over how it works?

Following my current understanding and please let me know what  I am missing here regards the kubebuilder idea/concepts.

Let’s think in the scenario where the operator was developed to install an App and its DB. Then, should not the project always have its CR in ord

[2019-10-01 13:59] champak commented on #1053
@DirectXMan12  Thanks for your comment ! I was trying something pretty much on the lines that you described. I was instantiating both the controllers under the same group which seems legit, right ? here is what I tried

kubebuilder init --domain foobar.com
kubebuilder create api --group chat --version v1 --kind Foo
kubebuilder create api --group chat --version v1 --kind Bar

This scaffolded a main

[2019-10-01 14:09] champak commented on #1053
The controller-gen version was:
go get sigs.k8s.io/controller-tools/cmd/controller-gen@v0.2.1
kubebuilder:
Version: version.Version{KubeBuilderVersion:"2.0.1", KubernetesVendor:"1.14.1"

[2019-10-01 14:34] rudoi commented on #1032
/assign
/lifecycle active

[2019-10-01 18:28] erictune opened #1061 "Build error if struct tags missing"
KubeBuilder generates files which say `NOTE: json tags are required.  Any new fields you add must have json tags for the fields to be serialized.`

I suggest that KubeBuilder's workflow should cause a build failure users if these are missing from types which will become Kubernetes Kinds.

The following changes could realize this, I think:

1. Let there be a new `controller-tools` command called `c

[2019-10-01 18:38] erictune opened #1062 "Generate struct tags for the user"
It would be easier for novice users to write in GoIDL if they did not have to deal with struct tags.
They could just add new variables, and add comment tags, and then run a tool to add the missing tags.

In #1061 it is proposed to lint for tag errors and have a build error if tags are missing.  This issue proposes going a step further and having a tool to generate struct tags.

It might work like

[2019-10-01 20:28] mengqiy commented on #833
/lifecycle freeze

[2019-10-01 22:38] erictune opened #1064 "Please take this concept diagram"
I drew a picture of how the KubeBuilder key types fit together.
I don't know where you would want to put it in the documentation, but I offer it to you if you would like it.

[The diagram in Google Drawings](https://docs.google.com/drawings/d/1xWaYQFU-3d8NGsvraaLcqUZ6G09ROnlUxvKewqpwg2w/view)

Permissions are:
- viewable by anyone on the web
- editable by kubernetes-kubebuilder@googlegroups.com

C

[2019-10-02 13:20] camilamacedo86 commented on #1028
Done,

[2019-10-02 13:20] #1028 closed

[2019-10-02 13:36] camilamacedo86 commented on #1007
Solved.

[2019-10-02 13:36] #1007 closed

[2019-10-02 14:21] camilamacedo86 commented on #986
/assign @camilamacedo86

[2019-10-02 18:18] champak commented on #1032
Would it be useful to add a rule to undo the deploy step as well. Something on the lines of
kustomize build config/default | kubectl delete -f -
Would get rid of the Deployment and Namespace..Thanks.

[2019-10-02 18:20] erictune opened #1065 "Migrate existing KB project to v1 CRDs and Webhooks with minimal user effort"
Facts:
- 1.16 introduced CRD and Webhooks v1 APIs.
- CRD and Webhooks v1beta1 are deprecated and scheduled for removal in v1.19.
- Kubernetes users use wide range of Kubernetes minor versions.

Consequences:
- In about 12 months, expect clusters running versions 1.15  through 1.19.
- If KB only generates v1beta1 or only generates v1 CRDs/WHs, then my controller can't be installed on that range of

[2019-10-03 15:43] champak opened #1067 "Adding image secrets for controller image"
Hi, When attempting to use "make deploy <img>" to deploy to a cluster (after doing the make docker-build docker-push <img>..) I needed to add credentials so that the controller image that I had pushed to a repo could get pulled. The controller pod seems to go to a namespace named <kind>-system with service account "default". So it would seem we need to create and patch a secret to the "default" se

[2019-10-03 19:57] camilamacedo86 opened #1068 "Add support to kube-state-metrics"
/kind feature

Add support to https://github.com/kubernetes/kube-state-metrics

[2019-10-03 20:07] joelanford commented on #1068
@shawn-hurley @DirectXMan12 @mengqiy can one of you link this to https://github.com/kubernetes-sigs/kubebuilder/projects/7

Adding hooks in controller-runtime to support kube-state-metrics for CRs is one of the things in SDK we'd be interested in upstreaming.

[2019-10-04 12:03] camilamacedo86 opened #1069 "testdata has duplicated import after run golden script"
/kind bug

Place: `testdata/project-v2/main.go`

[code]

Shows that are caused or triggered by https://github.com/kubernetes-sigs/kubebuilder/pull/1049/files#diff-c5b7fb8b471ae519bdfd5005565af33bR60-R77

It  is possible that GroupImportSafe is empty somehow: https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/scaffold/v2/main.go#L64-L77

[2019-10-04 15:26] camilamacedo86 opened #1070 "Unable to run ` ./generated_golden.sh` and `make test-project-generation`"
[code]

* go version go1.12.10 darwin/amd64

* kubebuilder version : Master

`Version: version.Version{KubeBuilderVersion:"2.0.0-beta.0", KubernetesVendor:"1.14.1", GitCommit:"b12371ccabd1bc8de7ec7ec1a1ca7bfabe567701", BuildDate:"2019-07-19T19:02:15Z", GoOs:"unknown", GoArch:"unknown"}
`

[code]

I am facing the same issue with : go version go1.13.1 darwin/amd64 too.

/kind bug

[2019-10-04 17:07] erictune opened #1071 "How to enum poorly documented"
There are quite a few ways a user might try to make an enum.   Only one or two ways are "right".

Suggested Fix:
- Specifically have a section in the KubeBuilder book called "Enums" and show a generic example.
- Explain that the validation and how you chose to define types in Go are not related.  (This is not obvious because some aspect of go syntax do generate OpenAPI, like scalar types.)

# All

[2019-10-04 17:41] camilamacedo86 commented on #1070
Closing it as I could fix the issue.
The PR https://github.com/kubernetes-sigs/kubebuilder/pull/1072 was created to fix the steps and help others.

[2019-10-04 17:41] #1070 closed

[2019-10-04 19:19] erictune commented on #1071
/remove-kind bug

[2019-10-04 21:55] DirectXMan12 commented on #1025
I like your suggestion of "projectname"

[2019-10-04 22:18] erictune opened #1074 "Recipe for Singleton"
I'm sharing a recipe for how to make a singleton with KubeBuilder as of v2.0.1

---
Sometimes you only want to allow a single CR of a controller to exist.
For example, you might want to configure a controller that does things for the whole cluster and there should only be one configuration "file", and CRDs make nice configuration "files".

CRDs allow using validation on `.metadata.name` and `.meta

[2019-10-04 22:21] DirectXMan12 commented on #1071
Err... that's a bug

/kind bug

[2019-10-04 22:23] DirectXMan12 commented on #1071
/good-first-issue

on the docs

help wanted on the cancelling out bug.  I'm guessing that our allof resolution logic has a bug.  Start by adding a unit test (`It("should preserve validation when both the field and the type have the same validation")`) and go from there.

[2019-10-04 22:29] DirectXMan12 commented on #1064
Prefered format is SVG.  Example of an SVG in the book at https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/multiversion-tutorial/conversion-concepts.md.

We probably want this one a top-level page.  Probably right after "Quick Start".

So docs/book/src/architecture.md or somesuch.

[2019-10-04 22:29] DirectXMan12 commented on #1064
this is awesome, though

[2019-10-04 22:30] DirectXMan12 commented on #1074
Let's add a recipes section to the book for stuff like this.

Adding this in, with a recipe, is a

/good-first-issue

[2019-10-04 22:33] DirectXMan12 commented on #1067
I'd probably just add a kustomize patch for this for your own controllers.
Closing for now, but feel free to keep commenting

[2019-10-04 22:33] #1067 closed

[2019-10-04 22:34] DirectXMan12 commented on #1065
/priority important-soon

[2019-10-04 22:34] DirectXMan12 commented on #1065
Agreed, that seems untenable.  We'll want to continue to generate v1beta1 CRDs in new versions of CT fo quite some time.

[2019-10-04 22:44] DirectXMan12 commented on #1061
I thought we already failed to build the openapi validation if the tags were missing

[2019-10-04 22:50] DirectXMan12 commented on #1053
The panic is a bug, but I *think* this issue is that Foo and Bar are in the same package, so you don't need the package specifier -- you can do

[code]

Separately, usually you wouldn't embed the full object, you'd just embed the spec + some metadata (like podtemplatespec).

[2019-10-04 22:51] DirectXMan12 commented on #1053
(panic is a bug in that panics like that shouldn't exist)

[2019-10-04 22:56] DirectXMan12 commented on #1046
See https://github.com/kubernetes-sigs/controller-tools/pull/323

Basically, you do

[code]

and then the kube-apiserver will take care of defaulting for you.

[2019-10-04 23:00] DirectXMan12 commented on #1046
I'm not entirely certain I'm following, but I'd look at it like this:  you wouldn't say "if you install Kubernetes you need to also use a Deployment object" -- you'd say "once you install Kubernetes, you can use it to manage your deployments with the Deployment type.  There's a sample Deployment in samples/, but you'll want to create your own for whatever you have to do".

[2019-10-04 23:50] ekuefler opened #1075 "Incorrect documentation on webhook order"
According to https://kubebuilder.io/reference/markers/webhook.html:

According to https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/:

/kind documentation

[2019-10-05 00:25] erictune commented on #1061
I thought I had a file that wasn't getting errors, but I can't repro now.

[2019-10-05 00:25] #1061 closed

[2019-10-05 12:01] camilamacedo86 commented on #1046
Hi @DirectXMan12,

I understand what you mean now and its concepts idea. Really thank you for your explanation.

Currently, in the SDK, we use the CR's values for example to create the examples/default values for the CSV which is used in OLM. So, understand this idea/concept lead me to think that this an good point to highlight internally since may we need to perform changes it in SDK.

c/c @joela

[2019-10-05 12:01] #1046 closed

[2019-10-05 12:21] camilamacedo86 commented on #984
Closing it with the merge of the PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1008

[2019-10-05 12:21] #984 closed

[2019-10-05 12:23] camilamacedo86 commented on #1034
Hi @DirectXMan12 and @erictune,

I think we can close it with the merge of PR: #1008. The quick was improved and may is not exactly as you suggested here but I think that it is covering now your main concerns raised here. WDYT? Can we close this one?

[2019-10-05 12:24] camilamacedo86 commented on #1033
Hi @DirectXMan12 and @erictune,

I think we can close it with the merge of PR: #1008. The quick was improved and may is not exactly as you suggested here but I think that it is covering now your main concerns raised here. WDYT? Can we close this one?

[2019-10-05 12:24] camilamacedo86 commented on #1031
Hi @DirectXMan12 and @erictune,

I think we can close it with the merge of PR: #1008. The quick was improved and may is not exactly as you suggested here but I think that it is covering now your main concerns raised here. WDYT? Can we close this one?

[2019-10-05 12:32] camilamacedo86 commented on #1037
Hi @DirectXMan12 and @nrvnrvn,

I understand that we can close it with the merge of PR  #1048. WDYT?

[2019-10-05 12:32] camilamacedo86 commented on #1040
Closing it with the merge of the PR.

[2019-10-05 12:32] #1040 closed

[2019-10-05 14:43] erictune commented on #1031
That PR addresses my first two comments, which I've checked off in the top post.
Thanks for the quick fix.

PR #1008 didn't seem to address my last two suggestions.  I'll let others decide if those are important enough to keep issue open or not.

[2019-10-05 14:53] erictune commented on #1033
@camilamacedo86
Which of the checkboxes in the top post of this issue do you think are fixed by #1008?

[2019-10-05 14:53] camilamacedo86 commented on #1031
Hi @erictune,

The lastest 2 suggestions in POV are addressed in the notes as follows.
- https://github.com/kubernetes-sigs/kubebuilder/pull/1008/files#diff-e7f384593803dbfd8186105c2163ede5R51
- https://github.com/kubernetes-sigs/kubebuilder/pull/1008/files#diff-e7f384593803dbfd8186105c2163ede5R59

However, the users should be able to do the project where they wish. Maybe we could add the link <ht

[2019-10-05 14:57] erictune commented on #1034
I don't feel like #1008 addresses either of the two points in the top post, namely:

 * the quickstart  does not show the user that there are pre-generated API and Controller files.
 * the unmodified control loop  does not "do something", so the user does not get a sense of satisfaction at the end of the Quick Start.

[2019-10-05 15:07] erictune commented on #1031
Those are good additions.  I meant something slightly different.

This command sequence is "in GOPATH" but gives an error:
[code]
Running the `go mod init` command suggested doesn't fix it.  If I do verbatim what the docs suggest, I still get an error:
[code]

The commands I would suggest are:
[code]

[2019-10-05 15:21] camilamacedo86 commented on #1033
Hi @erictune,

Following the points addressed.

Done: https://github.com/camilamacedo86/kubebuilder/blob/a9860545bb0e6bb56fc4973423eca7fb36d6e08d/docs/book/src/quick-start.md#press-options

I better explanation with an example was introduced as the links for the user be able to check its details in the tutorial. However, the user do not really need press y and do it in the quick start. For a furth

[2019-10-05 15:32] camilamacedo86 commented on #1031
Hi @erictune,

I understand that it as addressed in the following explanation.

[code]

[2019-10-05 15:44] camilamacedo86 commented on #1034
HI @erictune,

Sorry, I did not understand what you mean with `the quickstart does not show the user that there are pre-generated API and Controller files.`. could you please clarify and if possible provide a suggestion of what is missing?

Regards `the unmodified control loop does not "do something", so the user does not get a sense of satisfaction at the end of the Quick Start.` the goal of the

[2019-10-05 16:38] camilamacedo86 commented on #1031
/assign @camilamacedo86

[2019-10-05 19:10] camilamacedo86 opened #1077 "Unable to use the script ./generate_vendor.sh"
When I try to use the script ./generate_vendor.sh I am facing constraints issues.

[code]

[2019-10-05 19:20] camilamacedo86 opened #1078 "Unable to use make test-project-generation"
Following the error.

[code]

I could move forward by setting `export SKIP_FETCH_TOOLS=true` as described [here](https://github.com/kubernetes-sigs/kubebuilder/blob/f5fc1660785208c894a993adcc6721ae18cc6147/common.sh#L98). However, should not it work with? Also, what exactly is the purpose and when the `test-project-generation` should be used?

Following the error faced after that:

[code]

[2019-10-06 09:09] nrvnrvn commented on #1037
I would say - yes.
But I would also check if there are any more places where the api machinery’s validation could be leveraged in the same manner.

[2019-10-07 14:26] champak commented on #1053
@DirectXMan12 removing the package specifier did not fix the panic. What I am interested in achieving is to compose multiple layers of the custom controllers. In this instance it would be the Foo controller managing Foo objects at a higher level than the Bar controller which would manage the Bar object much on the lines of the Deployment->Replicaset relationship. Like you mentioned since Deploymen

[2019-10-07 15:25] camilamacedo86 commented on #1037
Hi @nrvnrvn,

So far, just the group is the place which we identify this need. Also, note that each issue/task would deal with a problem/subject/question. So, in this issue, you did an RFE in order to be allowed to `kubebuilder create api --group k8s --version v1alpha1 ...`  Are you able to do it with the master branch? If yes, then IMO we should close this one.

However, see that we are free to r

[2019-10-07 15:29] camilamacedo86 commented on #1034
Hi @erictune,

I did a new PR to cover these points. Please, see #1076 and let me know if we can agree in close this one with or if it has anything else more that you would like to address.

[2019-10-07 15:29] camilamacedo86 commented on #1033
Hi @erictune,

Also,I did a new PR to cover these points. Please, see #1076 and let me know if we can agree in close this one with or if it has anything else more that you would like to address.

[2019-10-07 15:29] camilamacedo86 commented on #1031
Hi @erictune,

Also,I did a new PR to cover these points. Please, see #1076 and let me know if we can agree in close this one with or if it has anything else more that you would like to address.

[2019-10-07 16:30] akutz commented on #917
I'm curious why this was closed. I'm also hitting the same issue.

[2019-10-07 16:33] camilamacedo86 commented on #888
/assing @camilamacedo86

[2019-10-07 19:48] erictune opened #1081 "Structured-merge-diff support"
I want KubeBuilder to support these comment tags:
[code]

These are supported by https://github.com/kubernetes/kube-openapi (see [here](https://github.com/kubernetes/kube-openapi/blob/master/pkg/generators/extension_test.go) ) and I believe they are supported by Server-side apply for CRDs in 1.16.

KubeBuilder should be able to emit these properties when generating CRDs.

Related issues:
  - Docum

[2019-10-07 20:22] erictune commented on #1081
Note that uses who are currently referring to code which uses these tags already, such as in pod templates within custom controllers, will see a change to their generated CRD when they upgrade their KubeBuilder version.

Need to determine how to explain this to users.

To do that, need to understand what will happen.
 kubernetes-sigs/structured-merge-diff#115 is about that.

[2019-10-07 21:04] DirectXMan12 commented on #1081
Does the actual desierialization of CRD validation schemas support it yet?  IIRC, that was the blocker.

[2019-10-07 21:05] DirectXMan12 commented on #917
This was closed because the user was trying to pass a flag to the kubernetes API server that was not a valid flag for that version of the Kubernetes API server.

[2019-10-07 21:07] akutz commented on #917
Hi @DirectXMan12,

FWIW, I hit the issue because, while I was passing the correct `allow-privileged` flag, I didn't realize that you had to manually specify the default set if you specify additional flags. Once I did that, it all worked. Thanks!

[2019-10-07 21:08] DirectXMan12 commented on #1037
we should file separate follow-ups for separate instances -- it's easier to track that way

[2019-10-07 21:23] apelisse commented on #1081
I think it's been done in 1.16. Let me double-check that.

[2019-10-07 21:24] apelisse commented on #1081
https://github.com/kubernetes/kubernetes/pull/77354

[2019-10-07 21:24] apelisse commented on #1081
Specifically: https://github.com/kubernetes/kubernetes/pull/77354/files#diff-ca188b89d2fc7104865fe95be2114e81

[2019-10-07 21:24] apelisse commented on #1081
cc @jenny

[2019-10-07 21:26] DirectXMan12 commented on #1053
First off: with the latest copy of KubeBuilder plus controller-tools v0.2.1, I cannot reproduce the panic that you mentioned.  Please ensure that you're using an up-to-date copy of controller-tools -- run `go get sigs.k8s.io/controller-tools/cmd/controller-gen@v0.2.1` if you're running off of a copy installed via `go get`.

Secondly, it's unclear why you want to embed the *entire* `Bar`, status, t

[2019-10-07 21:33] DirectXMan12 commented on #1078
o_O  What OS are you using?  What version of tar?  That looks like we have a broken tarball.

[2019-10-07 21:34] DirectXMan12 commented on #1077
hmm... did something get out of sync?

/kind bug
/priority critical-urgent

[2019-10-07 21:37] DirectXMan12 commented on #1075
good catch!  Can you file a pr?

[2019-10-07 22:00] camilamacedo86 commented on #1078
I am using MacOsX (Mojave 10.14.6)

[2019-10-07 22:04] jennybuckley commented on #1081
Yes. This is done in 1.16 so this is no longer blocked

[2019-10-07 22:05] camilamacedo86 commented on #1077
Closing because it is working now.

[2019-10-07 22:05] #1077 closed

[2019-10-07 22:16] camilamacedo86 commented on #1051
Hi @DirectXMan12,
Just a reminder for we add the issue`scaffolding-v3 milestone`. :-)

[2019-10-07 22:16] DirectXMan12 commented on #1081
cool, we should cross-file on CT then

[2019-10-07 22:19] DirectXMan12 commented on #1078
/kind bug

can someone dig into this?  I have a suspicion that it's an OSX thing, since I don't get those errors.

[2019-10-07 23:08] erictune commented on #1034
Hi @camilamacedo86

I think we have differing ideas of how much a Quickstart should cover.
I will seek some advice from a Kubernetes Docs maintainer on this topic.
I'll also defer to the KubeBuilder maintainers on what they want.

[2019-10-07 23:18] erictune commented on #1034
@mistyhacks seeking your advice since you have worked on kubernetes/website docs.  Low priority, but maybe you have a quick answer.

We have an existing "Quickstart" guide for KubeBuilder (here: https://book.kubebuilder.io/quick-start.html)

KubeBuilder is a tool that generates code scaffolding which the user then edits and adds their own code.
The question is whether it is suitable for such docum

[2019-10-07 23:22] mistyhacks commented on #1034
A quickstart usually focuses on a very specific task. The document you linked above seems more like an end-to-end solution, where you start with nothing and you end up with a completely functional solution. It seems like here, there should be some kind of a flow such as Installation -> Basic setup -> Create a project -> Deploy the project. Maybe the last two could actually be separate, and it coul

[2019-10-08 04:11] ekuefler commented on #1075
I poked around and actually couldn't find where in github the book was stored. Can you point me at it?

[2019-10-08 17:41] #1031 closed

[2019-10-08 17:42] camilamacedo86 commented on #1033
Hi @erictune

We can close this one now :-)

[2019-10-08 18:06] functicons opened #1082 "Is it possible to watch a Pod which is not created by my controller?"
In my controller, I want Reconcile to be triggered by the status change of a Pod which is not created directly by my controller. Is this possible?

More details: my controller creates a Job, which in turn create the Pod I want to watch. The reason is that Pod status is not fully reflected in Job status, when the Pod is Pending for scheduling (maybe never get scheduled), the Job is already consider

[2019-10-08 20:36] champak commented on #1053
@DirectXMan12 Thanks for describing the pattern. I had been thinking there would be more code reuse if we were to embed all of one struct into another but that is not the approach that Replicaset/Deployment have taken; much of the code anyways is well encapsulated into kubebuilder/controller-runtime so isnt much redundancy anyways to have both controllers around. Like you described a subset of the

[2019-10-09 14:02] camilamacedo86 commented on #1037
Hi @nrvnrvn and @DirectXMan12,

Could you please help me let me know what is missing to do here to get this issue closes? Then, maybe I can help us move forward with.

[2019-10-09 14:44] camilamacedo86 opened #1085 "Travis CI is broken to exec the test.sh"
## What
Ci is broken which is blocking we move forward with PR's
See: The PR https://github.com/kubernetes-sigs/kubebuilder/pull/1083 should pass since we are just removing space from the README.

## Following the issue faced.

[code]

[2019-10-09 14:44] camilamacedo86 commented on #1085
/assign @camilamacedo86

[2019-10-09 17:33] DirectXMan12 opened #1086 "Formal Guidelines for Reviewership / Approvership"
We want to have formal guidelines for folks looking to become reviewers and approvers.

Let's discuss that here.

@pwittrock mentioned that there is a starting point in the k8s community guidelines.

[2019-10-09 21:09] #1085 closed

[2019-10-09 22:58] camilamacedo86 commented on #1069
solved.

[2019-10-09 22:59] camilamacedo86 commented on #1069
/assign @camilamacedo86

[2019-10-09 22:59] #1069 closed

[2019-10-09 23:01] camilamacedo86 opened #1087 "Unable to use the `./generated_golden.sh` to update the testdata"
/kind bug

Unable to use the `./generated_golden.sh` to update the testdata. Following the error faced.

[code]

[2019-10-09 23:43] camilamacedo86 opened #1089 "Error `common.sh: line 160: kind: command not found` is faced when run `make test-project-generation` in a MacOsX"
Following the issue.

[code]

/kind bug

[2019-10-09 23:43] camilamacedo86 commented on #1089
/assign @camilamacedo86

[2019-10-10 00:13] Azadehkhojandi opened #1091 "mixed up between camelCase and PascalCase in kind validation"
There is typo/bug in the validation message => mixed up between camelCase and PascalCase

`kubebuilder create api --group databricks --version v2beta1 --kind testKind`

The error says camelcase but what is expected is PascalCase

reference:
https://blogs.msdn.microsoft.com/brada/2004/02/03/history-around-pascal-casing-and-camel-casing/
https://stackoverflow.com/questions/41768733/camel-case-and-pa

[2019-10-10 00:14] Azadehkhojandi commented on #1019
on another note -> related bug #1091

[2019-10-10 16:47] DirectXMan12 commented on #1082
Yes, that's possible.  You just need to use the `Watch` method on the builder (if you're using that, or just a normal watch if you're using the low-level controller interface directly) with a custom mapper using a [mapper func](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/handler#EnqueueRequestsFromMapFunc) that reads the owner of the pod, finds that job, and then reads the owner of the jo

[2019-10-10 16:47] #1082 closed

[2019-10-10 20:08] detiber opened #1093 "Update certmanager to v0.11"
Update certmanager to v0.11, to avoid future issues with deploying certmanager once k8s blocks deployment of CRDs using api groups under `k8s.io`

/kind feature

[2019-10-10 20:54] abhat opened #1094 "Add support for a marker to generate default values for CRD"
Starting 1.15 CRDs support default values for fields as per https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#defaulting

kubebuilder should support a marker for generating CRDs where default values can be specified in `_types.go`

/kind feature

[2019-10-11 00:09] erictune opened #1095 "Have a section in docs on how to release a controller."
Have a section of the book about how to release a controller and share it with the world.

Topics to cover:
- Suggest how to use SemVer for releases of a KB project.
  - e.g. if you've removed a config object such as webhook definition, deployment, etc, then increment minor version.
  - e.g. if you've only fixed a bug in control loop or webhook, major version.
- Suggest a command (or add a make ta

[2019-10-11 14:02] camilamacedo86 opened #1097 "Ci is broken which is blocking we move forward with PR's"
## What
Ci is broken which is blocking we move forward with PR's
See: The PR https://github.com/kubernetes-sigs/kubebuilder/pull/1083 should pass since we are just removing space from the README.

## Following the issue faced.

[code]

[2019-10-11 14:03] camilamacedo86 commented on #1085
Besides the CI worked with this PR and the changes performed on it are required we could confirm that th issue remains. Then, since I could not re-open this one a new issue was raised https://github.com/kubernetes-sigs/kubebuilder/issues/1097

[2019-10-11 15:26] abhat commented on #1094
Fixed by: https://github.com/kubernetes-sigs/controller-tools/pull/323/

[2019-10-11 15:26] #1094 closed

[2019-10-11 17:16] camilamacedo86 commented on #1097
/assing @camilamacedo86

[2019-10-11 17:41] DirectXMan12 commented on #1093
/priority important-soon

/assign @mengqiy

[2019-10-11 17:42] DirectXMan12 commented on #1091
you are technically correct (and well sourced), which is the best kind of correct :-D

/kind bug
/good-first-issue
/priority backlog

[2019-10-11 17:43] DirectXMan12 commented on #1089
huh, does fetch-tools not fetch kind?

cc @mengqiy

[2019-10-11 17:48] DirectXMan12 commented on #1037
we can close this issue.  If there are others we can file new issues for them

[2019-10-11 17:48] #1037 closed

[2019-10-11 17:54] #1033 closed

[2019-10-11 17:56] DirectXMan12 commented on #1075
docs/book/src

[2019-10-11 17:56] DirectXMan12 commented on #1075
https://github.com/kubernetes-sigs/kubebuilder/tree/master/docs/book/src

[2019-10-11 17:57] DirectXMan12 commented on #1075
See also https://github.com/kubernetes-sigs/kubebuilder/blob/master/netlify.toml

[2019-10-11 17:57] DirectXMan12 commented on #849
/lifecycle frozen

[2019-10-11 18:53] mengqiy commented on #1093
Certmanager renamed their API group from `certmanager.k8s.io` to `cert-manager.io`.
That means the manifests we currently generated doesn't work with v0.11 :(

We have to point out in our document that old project need to either update the API group name or using an older certmanager release.

[2019-10-11 18:55] mengqiy commented on #1089
No. We do it in https://github.com/kubernetes-sigs/kubebuilder/blob/c54566abca4299edc5d23b2c4f1388104b782db9/scripts/install_and_setup.sh#L19

[2019-10-11 18:58] mengqiy commented on #1089
https://github.com/kubernetes-sigs/kubebuilder/blob/c54566abca4299edc5d23b2c4f1388104b782db9/Makefile#L39-L40

`./test.sh` should not need a kind cluster, only `./test_e2e.sh` needs one.

[2019-10-11 19:37] detiber commented on #1093
The downside to not upgrading to v0.11 is that certmanager will fail to deploy on Kubernetes v1.17+ clusters due to new restrictions on registering CRDs with a *.k8s.io api group.

[2019-10-11 22:26] #1097 closed

[2019-10-12 04:21] ekuefler commented on #1075
Ah, it imports from controller-tools godocs, that's why I was having trouble searching for it. https://github.com/kubernetes-sigs/controller-tools/pull/341.

[2019-10-12 09:24] camilamacedo86 opened #1098 "Refactory scripts and calls in the CI"
/kind feature

Following some points that we could improve.

- Centralize the instructions which are [here](https://github.com/kubernetes-sigs/kubebuilder/blob/master/test_e2e_v2.sh#L22-L28) and [here](https://github.com/kubernetes-sigs/kubebuilder/blob/master/test_e2e.sh#L20-L28)
- Organize scripts in the scripts dir
- Make clear what is used in the CI and what is used for local development purpo

[2019-10-12 09:24] camilamacedo86 commented on #1098
c/c @mengqiy

[2019-10-12 10:41] camilamacedo86 commented on #986
Done 👍

[2019-10-12 10:41] #986 closed

[2019-10-12 10:43] camilamacedo86 commented on #1034
H @erictune,

Could you please let us know if after the above discussion and changes performed in the QuickStart do you agree in close this one?  If not could you summarized and define what is missing here in POV to close this specific issue?

[2019-10-12 19:38] camilamacedo86 commented on #1025
Hi @DirectXMan12,

I think this one should be linked to Hi scaffolding-v3 milestone as well. WDYT?

[2019-10-12 20:10] camilamacedo86 commented on #1087
/assign @camilamacedo86

[2019-10-12 20:11] camilamacedo86 commented on #1078
/assign @camilamacedo86

[2019-10-12 20:12] camilamacedo86 commented on #1042
Great to know that it is supporting 1.13 already :-)

[2019-10-13 02:30] vishakhanihore commented on #1091
@DirectXMan12 Can you point me to the file location ?

[2019-10-13 21:20] camilamacedo86 commented on #1098
/assign @camilamacedo86

[2019-10-14 00:24] developerjinchun commented on #969
I also second this request. I'm currently working on an operator that, due to circumstances, cannot utilize `cert-manager`, requiring me to create a custom cert-manager container, but the lack of official doc on this could see improvement.

[2019-10-14 14:32] dholbach commented on #1001
Might be good to wait for https://github.com/kubernetes-sigs/kubebuilder/pull/1059 to land?

[2019-10-14 21:32] jzelinskie commented on #301
/remove-lifecycle rotten

[2019-10-14 21:32] jzelinskie commented on #301
/reopen

[2019-10-15 21:23] muvaf commented on #387
/remove-lifecycle rotten

[2019-10-15 21:24] muvaf commented on #387
/reopen

[2019-10-16 17:59] DirectXMan12 commented on #1086
Reference: https://github.com/kubernetes/community/blob/master/community-membership.md

[2019-10-16 18:30] Aarthisk commented on #300
I am starting off with kubebuilder on windows- is the easiest option to build by myself?

[2019-10-16 18:47] #1087 closed

[2019-10-16 19:08] champak opened #1103 "Ignoring Status update for Reconcile requeue"
I want to avoid re-queueing for CRD Status changes. I saw the issue discussed on #618 but was not clear if we have a succinct resolution. There was a suggestion on using Predicate functions but werent predicate functions considered too low level for kubebuilder operators ?

[2019-10-16 20:05] alexeldeib commented on #300
That’s what I do

[2019-10-16 21:12] #1089 closed

[2019-10-16 21:21] DirectXMan12 commented on #300
It'd be nice to at least have nightly builds using cross-compile, I think (if anyone wants to pitch in) and a test on prow/travis that tries to cross-compile.

[2019-10-16 21:22] DirectXMan12 commented on #1103
You can use GenerationChangedPredicate for this.  They're not too low level, you just have to be careful how you use them.

[2019-10-16 21:22] #1103 closed

[2019-10-16 21:42] DirectXMan12 opened #1105 "We shouldn't scaffold with raw function literals in zap construction"
Filing this to keep track of it before the release.

See the comment on https://github.com/kubernetes-sigs/kubebuilder/pull/1101

[2019-10-16 21:42] DirectXMan12 commented on #1105
/kind bug

[2019-10-16 23:40] camilamacedo86 commented on #1089
Really thank you to share your knowledge with too.
But it was running locally @mengqiy.

[2019-10-16 23:48] camilamacedo86 commented on #887
it is done 👍

[2019-10-17 12:10] Adirio commented on #300
With both issues mentioned in https://github.com/kubernetes-sigs/kubebuilder/issues/300#issuecomment-480667169 merged, is it possible to compile for windows straight away or do I need to change anything?

The mentioned tests issues are with projects build with kubebuilder or with the kubebuilder cmd? The first is not an issue as they will be tested in my CI machines which are non-windows.

[2019-10-17 12:26] alexeldeib commented on #300
You'll be fine. I did a sanity check right now:
[code]

[2019-10-17 12:29] alexeldeib commented on #300
Elaborating on my original comment, the test issues are related to running e2e tests which depend on a full Kubernetes cluster natively on windows. On Linux, you can use the etcd/apiserver binaries and the `envtest` package to quickly spin up a real backend. On windows, you can't run the apiserver binary, so this doesn't work.

Using kind works well as a backing cluster for `envtest` on windows. T

[2019-10-17 12:46] Adirio commented on #300
I have a running kubernetes on windows (docker-for-windows). Well its actually not windows somehow as it is pulling the linux images from the manifests, but all the kubernetes cluster is accessible with kubectl from the windows command. Shouldn't that be enough for e2e tests?

[2019-10-17 12:47] alexeldeib commented on #300
See https://godoc.org/sigs.k8s.io/controller-runtime/pkg/envtest for requirements, that will probably work. I can't say without more certainty without trying 😄

[2019-10-17 13:03] Adirio commented on #300
Which version of Golang are you using? I'm asking this to know if I must set go modules as I'm currently using 1.12.x which if I'm not mistaken is the last that doesn't have it turned on by default.

[2019-10-17 13:19] alexeldeib commented on #300
Correct, the above requires go modules (I always enable them by default in my environment)

Barring windows specific issues on this thread, slack channel is probably a better forum for discussion + q/a 🙂

[2019-10-17 21:10] Aarthisk commented on #300
@alexeldeib
you said "Using kind works well as a backing cluster for envtest on windows. This will let you run full e2e with controllers made using kubebuilder/controller-runtime on your windows machine."

So forgive the novice question, but with a backing "real" k8s cluster, this should just work then? The issues you are pointing out are unit testing without a cluster which I can honestly live wi

[2019-10-17 22:47] #1075 closed

[2019-10-18 04:35] warmchang commented on #806
/remove-lifecycle stale

[2019-10-18 08:50] Adirio commented on #300
I'm finding some issues with the paths inside the generated Makefile for the projects. To achieve compatibility with Windows I guess this generated Makefile needs to be either generic or specific for the target OS.

[2019-10-18 12:58] lawrencegripper commented on #1093
Is someone working on changes? Was going to look at a PR to fixup. I'll push a draft PR for now and can always remove it it's not useful.

[2019-10-18 20:30] droot commented on #1081
I am wondering how we can do a better job of educating the users about using these markers when they use a list in their API definition. One idea that comes to mind is some sort of `linter` command in `controller-tools` that give tips to users when we encounter a field of list-type that doesn't have these markers specified.

[2019-10-18 20:33] apelisse commented on #1081
(btw, I'm working on the implementation right now)
/assign

Yes, I'm trying to look at the documentation holistically right now, there are lots of gaps in that area. Making it obvious to CRD authors that this is a thing would help by calling out this specifically in CRD docs (I'm also working on this).

A fairly obvious way to make a linter is to find specific patterns (@pwittrock already used tha

[2019-10-18 20:56] erictune commented on #1034
Mistyhack's comments made me question whether the change I suggested is useful.  I will close.

[2019-10-18 20:56] #1034 closed

[2019-10-21 06:46] micnncim opened #1109 "Scaffold .dockerignore instead of using COPY many times in scaffolded Dockerfile"
/kind feature

The current scaffolded `Dockerfile` executes `COPY` many times.

https://github.com/kubernetes-sigs/kubebuilder/blob/885f36ec9e61eca21499bda9815f6b0b907dffe6/pkg/scaffold/v2/dockerfile.go#L50-L53

However, for developer experience, it will be useful to scaffold `.dockerignore` and `COPY . .` once because the developers may add some go packages or files, or change the paths, and then

[2019-10-21 09:01] Adirio opened #1110 "Detect duplicate api creation commands"
Executing two times the same `kubebuilder create api ...` with the same group, version and kind did not recognize that it was already in the project. I'm not sure if the changes done to some of the generated files will stay after the second execution of the command, as it was a fresh start. But what I do know is that 3 files got duplicated code:

- `PROJECT`: `resources` lists the GVK twice
- `mai

[2019-10-21 12:59] Adirio commented on #907
If you
- Delete the `api/VERSION/KIND_types.go`
- Regenerate the `api/VERSION/zz_generated.deepcopy.go`
- Delete the `controllers/KIND_controller.go`
- Remove the corresponding test from `controller/suite_test.go`
- Remove the import, init and setup from `main.go`
- Remove the `resources` corresponding element from `PROJECT`
wouldn't you completely delete the API? Only `api/VERSION/KIND_types.go`

[2019-10-22 06:52] functicons opened #1112 "Are reconcile requests for the same CR executed sequentially?"
Sometimes, when updating the status of my CR, I got the error "the object has been modified; please apply your changes to the latest version and try again". I am trying to figure out the cause. Wondering are reconcile requests for the same CR executed sequentially or could be concurrently?

/triage support

[2019-10-22 14:43] juanjoku opened #1113 "kubebuilder-init fails during controller-gen execution"
I'm just initializing a new project, following documentation steps.
But kubebuilder-init command fails, because controller-gen fails.

Versions:

[code]

Steps to reproduce the problem:

[code]

[2019-10-22 18:26] camilamacedo86 commented on #887
Hi @mengqiy could we close this one?

[2019-10-22 18:39] #887 closed

[2019-10-22 18:44] ephemeral opened #1114 "Invalid Additional Printer Column Examples in the Documentation"
The JSONPath examples in the Generating CRD reference document need to be updated.

If someone tries to use JSONPath, running `make generate` will fail with `unknown argument "JSONPATH"`

Quick fix: Update all ref to JSONPATH -> JSONPath

/kind documentation

[2019-10-22 20:22] #1003 closed

[2019-10-22 22:44] amila-ku commented on #1074
i would like to work on this issue.

[2019-10-23 14:12] mariantalla commented on #1019
Re: matching what kube specifies, one option is to replicate validation logic from core Kubernetes to where validation happens in Kubebuilder ([this file](https://github.com/kubernetes-sigs/kubebuilder/blob/c9f4434235379e1d0ffca9b9cf36d720d7c39014/pkg/scaffold/v1/resource/resource.go), I think).

Another option is to use the validation logic from "core" Kubernetes directly. I think that logic live

[2019-10-23 16:09] ivelichkovich opened #1117 "Is there a way to create events for your CRDs?"
Is there a way to create events on your CRDs? I don't mean lifecycle events but rather events like these

LAST SEEN   TYPE     REASON              OBJECT                        MESSAGE
8m39s       Normal   Scheduled           pod/nginx-554b9c67f9-jpz4z    Successfully assigned default/nginx-554b9c67f9-jpz4z to ip-172-24-0-6
8m37s       Normal   Pulling             pod/nginx-554b9c67f9-jpz4z    Pul

[2019-10-23 22:36] #1078 closed

[2019-10-23 22:39] camilamacedo86 commented on #883
Hi @mengqiy and @DirectXMan12,

It is done. Should we not close this one?

[2019-10-23 22:57] #1086 closed

[2019-10-24 12:26] Adirio opened #1118 "Update scheme handling in the book"
# What do you want to happen?
[Section 1.7.1](https://book.kubebuilder.io/cronjob-tutorial/main-revisited.html) of the book claims that we need to add `k8s.io/api/batch/v1` to the scheme as we are using `Job`s. `k8s.io/client-go/kubernetes/scheme` already does that for us. Update that part to explain that we do not need to add builtin types but we do need to add new types.

/kind documentation

[2019-10-24 12:35] Adirio commented on #1118
I can submit a PR if the issue gets the aproval of some contributors.

[2019-10-24 12:47] Adirio commented on #1118
/remove kind/feature

[2019-10-24 14:29] Adirio opened #1119 "Missing import in scaffolded code"
# Bug description
Missing `"k8s.io/apimachinery/pkg/runtime"` import in controller scaffolding.
I think my IDE added the import automatically as I can't find it in the scaffold file.

https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/scaffold/v2/controller.go#L71-L86

/kind bug

[2019-10-24 14:38] Adirio commented on #1119
@camilamacedo86

[2019-10-24 16:04] champak opened #1121 "Triggering reconcile on CRD attribute updates"
Hi folks,
Do we need explicit watch() invocations for causing reconcile to get invoked when a (non-primitive type) CRD spec attribute changes on a CRD ? e.g. If I have
type FooSpec struct {
....
   BarAttr int   `json:"barAttr"`
..
}

And then
- create a CRD
- update the value of barAttr and reapply the YAML

I do not see reconcile getting triggered. For k8 native types like PersistentVolumeClaim

[2019-10-24 19:11] #883 closed

[2019-10-24 19:14] mengqiy commented on #1119
Yes, this is a bug.
Thanks for bringing this up.
/assign @camilamacedo86

[2019-10-24 19:19] mengqiy commented on #1119
It seems @Adirio has already started to work on this in #1120.

[2019-10-24 20:54] droot commented on #1121
Didn't understand

Assuming your type is `Foo`, you need to watch `Foo` type to get reconciliation triggered for Foo type.

[2019-10-24 21:00] droot commented on #1119
@mengqiy I am wondering why isn't this caught by our tests ?

[2019-10-24 21:26] champak commented on #1121
Yes Foo is the type/Schema and I would have something on the lines of:
// Foo is the Schema for the foos API
type Foo struct {
	metav1 ......
	Spec   FooSpec   `json:"spec,omitempty"`
	Status FooStatus `json:"status,omitempty"`
}

I was assuming kubebuilder does an implicit watch for Foo objects. I (reconcile..) do get notified when Foo Crds are created or deleted and rbac is setup for it e.g.
//+

[2019-10-24 22:04] champak opened #1124 "Do we need a direct client for reliably accessing native resources ?"
I intermittently see issues with issuing Get() to check on k8 resources such as Pods. e.g. I get nothing back when kubectl reports presence of the named Pod. This could be because the manager client i am using is reading from a stale cache. Think I could be using a "direct" client (just off the client api) instead but do not see that in the docs. Also passing the direct client around seems tedious

[2019-10-25 08:42] Adirio opened #1126 "Golden script for Windows"
`./generate_golden.sh` does not work under Windows.

I tried to do some modifications to make the script work in windows, like using `bash ...` instead of `./...` notation and converting all paths to Windows style (including `$PWD` and `$(pwd)` outputs). But I stopped when I saw it was downloading some tools that are only for darwin and linux.

/kind feature

[2019-10-25 14:13] KaenDagger commented on #1091
Could I take up this issue to get started ?

[2019-10-25 14:14] champak commented on #1121
Located an issue in my code. Closing.

[2019-10-25 14:14] #1121 closed

[2019-10-25 16:05] trisberg opened #1128 "Validation for core.Volume with a SecretVolumeSource requires specifying "type: array""
I've created a CRD that has a spec field defines as:

[code]

This generates validation for the CRD and when I try to create an instance of the CRD I get validation error if I don't provide a `type: array` as part of the SecretVolumeSource for the Volume definition.

[code]

If I leave out `type: array` I get this validation error:

[code]

I've never had to provide this `type: array` definition w

[2019-10-25 16:40] camilamacedo86 opened #1129 "Kubebuilder is not generating openapi files"
Following the steps

- Following the quickstart
- Add `// +k8s:openapi-gen=true` for `Guestbook` as follows

[code]
- Run `make`

**What I expected?**
See `api/v1/zz_generated.openapi.go` file.

* go version 1.13
* kubebuilder version (`kubebuilder version`) : version: "2"
* controller-runtime version (check your `go.mod` file) `sigs.k8s.io/controller-runtime v0.3.0`

/kind bug

[2019-10-25 17:26] camilamacedo86 commented on #1119
Hi @mengqiy, @droot and @Adirio,

I tested it locally and I could not find any issue regards to it. The import will be added in the controller as it was done by the golden script [here](https://github.com/kubernetes-sigs/kubebuilder/blob/3103ad75279f83805495ace03095df88ee42af81/testdata/project-v2/controllers/captain_controller.go#L23) in the testdata.

Following the steps.

[code]

- Select y and

[2019-10-25 19:41] #1093 closed

[2019-10-25 19:48] mengqiy commented on #1119
The reason why missing import haven't cause us problem in test is that the generated go code go through goimport. After processing, goimports seems to quite smart to add the proper imports.
We should not rely on goimports to add that for us.

[2019-10-25 20:51] DirectXMan12 commented on #1129
right.  That's not a bug.  KubeBuilder is not intended to generate go openapi files, since they're not useful for CRDs (they're basically only useful for aggregated API servers, and even then you can just bundle in the JSON/YAML form and parse on init).

[2019-10-25 20:51] #1129 closed

[2019-10-25 21:00] camilamacedo86 commented on #1129
Thank you for the answers

[2019-10-25 22:24] droot commented on #1119
Thanks @camilamacedo86 for the explanation.

[2019-10-25 22:28] cflewis opened #1131 "Fire `reconcile()` on a timer?"
Hi there,
I have a controller that I'd like to poll to update a status field inside `reconcile()`, and not just trigger as a result of a custom resource changing.

I thought about requeueing the job at the end of `reconcile()` even when things are successful, but then the work queue would increase for every change to any of the custom resources, eventually leading to the queue exploding.

Is there

[2019-10-25 22:52] droot commented on #1131
[Channel source](https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg/source#example-Channel) is the mechanism to trigger reconciler based on some custom logic or based on an external dependency.

[2019-10-25 22:56] cflewis commented on #1131
Awesome, thank you.

Where would I place this logic? During `SetupWithManager()` on the controller?

[2019-10-26 11:16] #724 closed

[2019-10-27 03:32] #604 closed

[2019-10-27 22:51] #479 closed

[2019-10-27 23:29] erictune commented on #476
/reopen

On Sun, Oct 27, 2019 at 3:51 PM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2019-10-28 12:52] camilamacedo86 commented on #1118
HI @Adirio,

Could you please add the link of this part of doc here?

[2019-10-28 13:05] Adirio commented on #1118
@camilamacedo86 Sure!

https://book.kubebuilder.io/cronjob-tutorial/main-revisited.html

[2019-10-28 14:00] camilamacedo86 opened #1134 "Unable to contribute with using go 1.13"
/bug

The following error is faced when the golden script is called.

[code]

**environment**
$ go version
go version go1.13.3 darwin/amd64

[2019-10-28 14:01] camilamacedo86 commented on #1134
@mengqiy and @droot,

Are you able to use go 1.13 to work with?

[2019-10-28 16:19] camilamacedo86 commented on #1134
Hi @DirectXMan12,

In another issue you said that the project is working on/supports 1.13. However, I am not able to contribute or use it with. See https://github.com/kubernetes-sigs/kubebuilder/pull/1135.

So, I assume that we should/could migrate the project for 1.13. Am I right?

c/c @mengqiy

[2019-10-28 18:18] #1119 closed

[2019-10-28 18:27] mengqiy commented on #1134
We plan to move to go1.13 when upstream k/k moves to 1.13. https://github.com/kubernetes/kubernetes/issues/82531

[2019-10-28 18:52] droot opened #1136 "Deprecate v1 projects"
v2 project structure has been out for a while now. We should deprecate v1 projects and eventually (3 months later) drop the support. It will reduce the maintenance burden of v1 projects.
So as a first step, we should start displaying warning indicating `v1 projects are deprecated` and encourage users to migrate to v2 projects whenever they run KB commands on a v1 project.

[2019-10-28 19:00] droot commented on #1131
Yes, in controller's `SetupWithManager()`, call `Build` instead of `Complete()` to get the handle of `controller` and then call `controller.Watch` with the channel source.

[2019-10-28 19:04] cflewis commented on #1131
Thanks!

[2019-10-28 19:04] #1131 closed

[2019-10-28 19:34] hypnoglow commented on #1136
Hi, I would be glad to help with this.

Do we have a specific date of sunsetting v1 (so we can specify it in the deprecation output)?

[2019-10-28 19:49] hypnoglow commented on #1136
/assign

[2019-10-29 07:06] ctiml opened #1138 "Error in the scaffold files when the group name has '.'"
Hello, I'm trying to create apis using kubebuilder v2.1.0 and I got this error message:

[code]

`example.comv1alpha1 "test/api/v1alpha1"` is not valid import alias.

I think this is a follow-up issue of https://github.com/kubernetes-sigs/kubebuilder/pull/1049. It should be replaced when group name has '.' (dot).

go version: go1.13.3 darwin/amd64
kubebuilder version: v2.1.0

/kind bug

[2019-10-30 10:18] Adirio commented on #1136
droot said 3 months later. Start time should be the first release that includes the warning, so I guess you could say something broad such as "during the first 2020 quarter".

[2019-10-30 16:50] droot commented on #1138
@ctiml This has not been an issue for most Kubebuilder users. Can you share what do you want the API Group for the CRD to look like ?

For ex.  if the API group we want is `apps.example.com` with Foobar kind in it, we will begin the Kubebuilder project with domain `example.com` by running `kubebuilder init --domain example.com`. And then we add new API by running `kubebuilder create api --group ap

[2019-10-30 18:09] champak opened #1140 "make install fails with metadata.annotations too long .."
I saw an issue with the "make install" step that complains:
...
The CustomResourceDefinition "..." is invalid: metadata.annotations: Too long: must have at most 262144 characters

Looked like the issue was from :
kustomize build config/crd | kubectl apply -f -

changing it to
kustomize build config/crd | kubectl create -f -
worked OK.

I did not see any corrupt or super long annotation generated a

[2019-10-30 20:12] caarlos0 commented on #648
@DirectXMan12 Hey!

How do I do this on the v2?

I'm looking into migrating, but it seems that the things changed quite a bit, and the Watch method does not exist anymore. There is a `Watches` though, are there any examples/docs of this? (I couldn't find any)

Thanks!

---

dug this old issue so hopefully context is easier, if not let me know and I'll open a new one.

[2019-10-30 21:28] kevdowney opened #1141 "kubebuilder version "unknown""
/kind bug

`kubebuilder version` returns "unknown" for version and other build keys.
[code]

* Note: I downloaded this from homebrew: `brew install kubebuilder`
* Downloading release for mac seems to be ok.
[code]

[2019-10-30 21:41] DirectXMan12 commented on #1141
We don't maintain the homebrew version.  ping @cblecker or on the homebrew issue tracker.

They'd have to set the appropriate linker flags when building -- that's where the version information comes from.

[2019-10-30 21:41] #1141 closed

[2019-10-30 21:53] cblecker commented on #1141
@DirectXMan12 the formula is just running a `make build`: https://github.com/Homebrew/homebrew-core/blob/master/Formula/kubebuilder.rb#L26

Where are the linker flags being set in your regular release process?

[2019-10-31 03:39] tamalsaha commented on #827
/remove-lifecycle rotten

[2019-10-31 06:52] ctiml commented on #1138
@droot Thanks for reply.

Our original requirement is to make API Group to be `example.com`, without the subdomain.
We'd love to have the group like `crd.example.com` but we're dealing with our legacy CRDs whose group is set to `example.com`.

There are three ways to do this:
- empty domain name: (`--domain "" --group "example.com"`) failed, results in `example.com.`
- empty group name: (`--domain

[2019-10-31 10:39] Adirio opened #1144 "Extract Resource from the v1 Scaffolding package"
The `Resource` type is being used by both scaffolding versions, but it is placed inside v1, which is missleading. Furthermore, v1 scaffolding is being deprecated (#1136, #1137).

Shouldn't this package be extracted to the root scaffolding package?

/kind feature

[2019-10-31 11:16] Adirio opened #1145 "Remove duplicated scaffold API validation code"
[`API.Validate()`](https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/scaffold/api.go#L60-L68) is reimplementing part of the [`Resource.Validate()`](https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/scaffold/v1/resource/resource.go#L57-L65) functionality. Shouldn't it just call the `Resource.Validate()` method?

/kind bug

[2019-11-01 03:29] #369 closed

[2019-11-01 18:14] functicons commented on #1117
Yes, simply create event resource with event recorder, see example of `createStatusChangeEvent` in Flink Operator [1] and [2].

[1]: https://github.com/GoogleCloudPlatform/flink-on-k8s-operator/blob/2e8743819ddb18c79727cbf04fa607721bce220e/controllers/flinkcluster_controller.go#L71
[2]: https://github.com/GoogleCloudPlatform/flink-on-k8s-operator/blob/2e8743819ddb18c79727cbf04fa607721bce220e/contr

[2019-11-01 18:17] functicons commented on #1112
Seems it is, I checked the code of controller-runtime, by default there is only one worker.

[2019-11-01 18:17] #1112 closed

[2019-11-02 19:08] #585 closed

[2019-11-02 19:08] #742 closed

[2019-11-04 07:46] Adirio commented on #1109
There is a **very small** drawback to bear in mind, a single `COPY . .` would mean there is a single layer, so any change in any file would make Docker unable to use previously cached layers, while multiple `COPY` commands may benefit from it if the change is in further layers.

But I do think it is a good feature.

[2019-11-04 08:14] Adirio commented on #1138
As you already realized, the workaround would be using `com` as the domain and `example` as the group. That would leave a pretty strange GVK (`example`, `v1alpha1`, `Foobar`) but should work out of the box.

The empty domain case you said, fails as the group name followed by the version is used as an alias to import the API, so no dots are allowed. In case you also replace dots in group names as i

[2019-11-04 09:56] Adirio opened #1149 "Configurable per-project paths"
Paths where every file is placed is hardcoded in kubebuilder. The current scaffold is a good starting point, but some projects may want to use a different layout.

Files that should have a configurable path:
- [ ] `Dockerfile`: currently in root directory.
- [ ] `main.go`: currently in root directory.
- [ ] `KIND_types.go`, `groupversion_info.go` & `zz-generated.deepcopy.go`: currently in the `api

[2019-11-04 10:41] dholbach commented on #1001
1059 has landed, but missed the v2.1.0 release: https://github.com/kubernetes-sigs/kubebuilder/compare/v2.1.0...master

[2019-11-04 16:18] Adirio opened #1150 "Non-default value for kubebuilder init path argument"
`kubebuilder init --path "hack2/boilerplate.go.txt"`

Error message may not be exact, as I translated it:
[code]

Path argument can be provided to specify where to generate the boilerplate file. While the file is created, the Makefile and following `kubebuilder` commands expect it to be in the default path.

This issue could be solve by #1149.

/kind bug

[2019-11-04 16:21] Adirio commented on #1149
How would you get the `PROJECT` configuration values inside the `Makefile`?

[2019-11-04 21:38] alexkreidler commented on #863
/remove-lifecycle stale

[2019-11-04 22:59] #675 closed

[2019-11-05 07:56] Ghostbaby opened #1152 "How to generate client code in v2 version"
Hi,
kubebuilder V1 version use this command to generate client code:
```vendor/k8s.io/code-generator/generate-groups.sh all github.com/ghostbaby/test/pkg/client github.com/ghostbaby/test/pkg/apis database.v1beta1```

But How to generate client code in v2 version?

/triage support

[2019-11-05 10:43] Adirio opened #1153 "Empty argument for create api command prints wrong error"
As reported by @camilamacedo86 in https://github.com/kubernetes-sigs/kubebuilder/pull/1146#pullrequestreview-311425585, when issuing a `dockerbuilder create api ...` command with an empty value for a command line argument that is not at the end, the error reported does not describe the error properly.

<details><summary><code>$ kubebuilder create api --group webapp --version  --kind Guestbook</cod

[2019-11-05 11:04] camilamacedo86 commented on #1091
/assign @mariantalla

[2019-11-05 11:09] camilamacedo86 commented on #1152
HI @Ghostbaby,

It shows exactly the same scenario of https://github.com/kubernetes-sigs/kubebuilder/issues/488. `Do you mind sharing reasons for using the generated client over the one provided by controller-runtime ?`

[2019-11-05 11:12] camilamacedo86 commented on #1140
Hi @champak,

Are you able to provide the steps to create a POC to reproduce this issue using the latest version of kubebuilder? I mean, after following the Quick Start steps what is required to do to face this issue?

[2019-11-05 11:14] camilamacedo86 commented on #1124
HI @champak,

Could you provide more detailed information in the order we try to help you with? What is the issue/exception faced, could you add it here? Also, how we can reproduce this scenario? I mean, after follow up the Quick Start what is required to do for we face the same behaviour?

[2019-11-05 11:16] camilamacedo86 commented on #1117
HI @ivelichkovich,

Shows that this issue is sorted already. Am I right? If yes, could you please close this one? If not, could you please let us know what is missing for we are able to close it.

Really tks.

[2019-11-05 11:31] camilamacedo86 commented on #1065
Hi @DirectXMan12,

WDYT about if we keep the  v2 using the no-structural schemas and the next v3 generating it with  `apiextensions.k8s.io/v1`? Would it be a good approach?

c/c @joelanford @hasbro17

[2019-11-05 12:40] camilamacedo86 opened #1154 "Unable to get info by running kubebuilder version"
**What did you do?**

Try to get use kubebuilder version by using the master branch/source code.

- clone the project
- run `make install`
- run `kubebuilder version`

**What did you expect to see?**

The info based on the version used. E.g as it done when we use SDK and master branch.

[code]

**What did you see instead? Under which circumstances?**

[code]

/kind bug

[2019-11-05 14:06] luisdavim opened #1155 "kubebuilder update command broken for v2"
kubebuilder v2 uses go mods but the `kubebuilder update` command just generates a `Gopkg.toml` file and from the version constraint's there it seems it's for the previous version

I would expect the `go.mod` file to be updated with the new version constraints.

* go version
  `go1.13.4 darwin/amd64`
* kubebuilder version (`kubebuilder version`) and scaffolding version (check your `PROJECT` file)
[

[2019-11-05 15:48] #1032 closed

[2019-11-06 01:13] DirectXMan12 commented on #1155
cc #1136 I think we might just want to error out on this command

[2019-11-06 01:14] DirectXMan12 commented on #1154
the version info comes from link-time flags set in our release process.  This is expected if you don't download an official release.

[2019-11-06 01:14] #1154 closed

[2019-11-06 01:14] #1117 closed

[2019-11-06 01:15] DirectXMan12 commented on #1152
We don't support generating clients in kubebuilder

[2019-11-06 01:16] DirectXMan12 commented on #1152
you might be able to restructure your project to use the upstream client-gen, but we have no intention of supporting it.

[2019-11-06 01:16] #1152 closed

[2019-11-06 01:17] DirectXMan12 commented on #1153
interesting

/help

[2019-11-06 01:25] DirectXMan12 commented on #1149
So, I'm a bit wary of this -- kubebuilder is *supposed* to have opinions.  I wouldn't mind having a "scaffold this one file to this location" perhaps, but I'm really not sure how deep we want to go on full configuration of KB itself (willing to be convinced otherwise, but thusfar we've been reluctant to support other API paths, and such).

[2019-11-06 01:26] DirectXMan12 commented on #1001
we'll be doing another before kubecon :-)

[2019-11-06 01:27] DirectXMan12 commented on #1138
we could maybe also support replacing unexpected characters in import paths or something -- it's really just an issue for generating import aliases.

[2019-11-06 01:28] DirectXMan12 commented on #1109
Is that any change in any file, even ignored ones?  If so, that's mainly why we haven't done this so far.

[2019-11-06 01:29] #785 closed

[2019-11-06 01:31] DirectXMan12 commented on #1136
I'd imagine we'd do "print warning for a while, then drop in the next release after a specified date"

[2019-11-06 01:31] DirectXMan12 commented on #1144
yeah, it should be.  cc #1133, in which I think there was confusion about this

[2019-11-06 01:33] DirectXMan12 commented on #1141
They're listed here: https://github.com/kubernetes-sigs/kubebuilder/blob/master/build/.goreleaser.yml#L6

[2019-11-06 01:33] DirectXMan12 commented on #1118
yes, please submit a PR for that.

[2019-11-06 01:39] DirectXMan12 commented on #1128
o_O  what kubernetes version are you testing against?

[2019-11-06 01:39] DirectXMan12 commented on #894
/help

/lifecycle frozen

[2019-11-06 01:40] DirectXMan12 commented on #1019
Yeah, that's probably fine.  Just validating the names directly is probably ok since we already vendor that.

[2019-11-06 01:41] DirectXMan12 commented on #1074
sounds good!

[2019-11-06 01:42] DirectXMan12 commented on #886
/remove-lifecycle stale
/help

[2019-11-06 01:42] DirectXMan12 commented on #885
/remove-lifecycle stale

[2019-11-06 01:42] DirectXMan12 commented on #882
/remove-lifecycle stale

[2019-11-06 01:44] DirectXMan12 commented on #1113
o_O.  Are you using some special Go version?  This looks like `go list` is failing on your system -- it's not KB's problem, AFAICT.

[2019-11-06 01:47] DirectXMan12 commented on #923
rewriting import paths like that is "scary" since it can contain unintended changes or miss things but still works.  That's why we wouldn't have automatic migration.  There's also no guarantee that things haven't been reworked, files haven't been added, etc since the user did the scaffolding.  We generally follow the principle that scaffolding is one-off, so we don't try to change it (with a coupl

[2019-11-06 01:48] DirectXMan12 commented on #907
people can happily add common types to either of those files, split things off into multiple files, etc afterwards.  Scaffolding is a starting point.

[2019-11-06 01:48] DirectXMan12 commented on #1110
This is a bug.  Sine we track `resources` in PROJECT, we can error out on this (and probably have a force flag to override the error out).

/help
/good-first-issue

[2019-11-06 01:49] DirectXMan12 commented on #722
/lifecycle frozen

[2019-11-06 01:50] DirectXMan12 commented on #300
happy to take fixes to make it windows-compatible (none of the core devs have windows machines, so it's a bit hard for us)

[2019-11-06 01:51] DirectXMan12 commented on #806
I think we've made this pretty clear at this point.  Feel free to comment if you're still uncertain

[2019-11-06 01:51] #806 closed

[2019-11-06 01:56] chx commented on #300
As I mentioned above: this issue will be moot in five days when WSL2 rolls out. It's wasted effort trying to make a program of this size run with Windows. Windows Insiders already have ran WSL2 for months.

[2019-11-06 05:51] luisdavim commented on #1155
If you're not going to support this command for v2 what should be the update process between minor versions?

[2019-11-06 08:10] Adirio commented on #1153
I think this may have to do with https://github.com/spf13/cobra

[2019-11-06 08:25] juanjoku commented on #1113
Ooops, thanks!
I was using GO v1.13.3.
Now, I tried again using GO v1.12.12, and it worked fine...

I see that, in general, GO v1.13 is not recommended in Kubernetes environment...
https://github.com/kubernetes/client-go/issues/670#issuecomment-528734553

[2019-11-06 08:56] xm5646 opened #1157 "The reconcile cannot be triggered with owns k8s build-in resource"
When I create or delete deployment , Normally reconciler it should be triggered, but in my environment,  is nothing happened .
I have try use Owns and Watches ,  the Owns is not work, the watches is working bellow
[code]

My env :
kubebuilder :  2.1.0
kubernetes: v1.14.7

## the crd strutct code :

[code]
## the controller code:

[code]

[2019-11-06 09:10] Adirio commented on #1149
I do agree that kubebuilder must have an opinion, but I think that some degree of configurable paths would provide nicer project structures while still keeping the starting learning curve smooth.

I have taken into account the design decissions in https://github.com/kubernetes-sigs/kubebuilder/blob/master/designs/simplified-scaffolding.md. I think that the effort that was done in reducing the numb

[2019-11-06 10:12] #1157 closed

[2019-11-06 13:26] trisberg commented on #1128
I'm currently using v1.14.7

[2019-11-06 16:05] trisberg commented on #1128
I also tried it on a new kind cluster running "v1.15.3", same error

[2019-11-06 21:49] camilamacedo86 opened #1160 "ignore"
/kind bug

[2019-11-06 22:01] DirectXMan12 commented on #1128
hmm... does not reproduce on master kubernetes, but I can reproduce on 1.15.5 (from go.kubebuilder.io/test-tools), digging in

[2019-11-06 22:27] trisberg commented on #1128
initially used kubebuilder 2.0.1, just tested with the latest 2.1.0, same problem

[2019-11-06 22:41] JeremyMarshall commented on #592
Maybe late to the party but I raised this in kubernetes and they pointed me at https://github.com/kubernetes/apimachinery/issues/75

[2019-11-06 23:49] erictune commented on #1065
In that case, v2 needs to still get periodic updates for at least a year,
IMO.

Might be less work for the KB maintainers if you stay at v2 and let the
user select whether to generate v1beta1 or v1 CRDs.

On Tue, Nov 5, 2019 at 3:31 AM Camila Macedo <notifications@github.com>
wrote:

[2019-11-07 01:11] #1160 closed

[2019-11-07 01:35] Ghostbaby commented on #1152
Hi @camilamacedo86 ,
In our environment, our operator needs to be called by other applications, either a management platform or another operator, so we need to provide a client.

[2019-11-07 09:38] camilamacedo86 commented on #1152
Hi @Ghostbaby,

I still not thinking that a client needs to be provided to achieve this need.

When you say `our operator needs to be called by other applications` I understand that other applications will "install/uninstall" the operator according to some business requirements. Then, it can be done in many ways, and I'd recommend you use the Makefile targets to achieve it. E.g other applications

[2019-11-07 14:18] Adirio commented on #1155
`v2` scaffold is based on go.mod, you would just use the normal `go mod` tool

[2019-11-07 20:40] camilamacedo86 commented on #886
/assign @camilamacedo86

[2019-11-08 02:24] micnncim commented on #1109
I see. As @Adirio said, it's inconvenient not to use cache for each unchanged packages.

Thank you for your opinion 😇

[2019-11-08 02:24] #1109 closed

[2019-11-08 10:17] debojitkakoti commented on #1153
@Adirio So, just need to change the command description for users to use '=' in command or pre-checking arguments ? What is your suggestion? Because it seems like intended behavior in cobra.

[2019-11-08 17:28] camilamacedo86 commented on #1153
/assing @camilamacedo86

The issue occurs because when we pass --group --version it will set the "--version" as value to the group. I am doing a PR to fix it.

[2019-11-08 17:38] camilamacedo86 commented on #1153
/assign @camilamacedo86

[2019-11-08 17:44] #1136 closed

[2019-11-08 19:22] luisdavim commented on #1155
If I started with kubebuilder v2.0.0 how do I know what versions to select to use kubebuilder v2.1.0?

[2019-11-08 21:25] #1134 closed

[2019-11-08 21:28] camilamacedo86 commented on #1134
Just to keep track here: It was solved in https://github.com/kubernetes-sigs/kubebuilder/pull/1135.

[2019-11-08 22:43] camilamacedo86 commented on #1145
This change I need to do here #1163 to solve another issue raised by you. Do you mind in close the PR #1146 and we keep all there?

[2019-11-08 22:47] camilamacedo86 commented on #1110
/assign hypnoglow

[2019-11-08 22:52] camilamacedo86 commented on #1074
Hi @amila-ku,

Please feel free to help on any issue. Just `assign to you` by adding a comment here with `/assign <yourusername>` and submit a PR.  :-)

[2019-11-08 22:53] camilamacedo86 commented on #1071
/assign @camilamacedo86

[2019-11-09 00:55] christopherhein opened #1166 "Use sigs.k8s.io/yaml over gopkg.in/yaml.v2"
Kubebuilder currently uses the `gopkg.in/yaml.v2` libraries for parsing `ProjectFiles`, since there is already a `sigs.k8s.io/yaml` which is a fork of `yaml.v2` potentially we can reduce the use of outside packages by using that instead.

/kind feature

[2019-11-09 00:58] christopherhein commented on #1166
https://github.com/kubernetes-sigs/kubebuilder/pull/1167 implements this.

[2019-11-09 12:20] Adirio commented on #1155
An easy eay to find out would be creating a test project with 2.1.0 and watch the generated go.mod file.

[2019-11-09 12:30] luisdavim commented on #1155
Yeah but don't you think it would make sense for kubebuilder to be able to update the go.mod file instead of having to create a new project and copy over the file?

[2019-11-09 12:42] Adirio commented on #1155
The problem is that you may have changed the scaffolded go.mod file and by doing that you may loose user made changes.

[2019-11-10 04:07] camilamacedo86 opened #1169 "CI is broken"
Following the error, when runs e2e tests for v2.

[code]

The first time that it has broken as . after a merge in the quickstart which shows not be the root cause at all.

<img width="1308" alt="Screenshot 2019-11-10 at 04 06 30" src="https://user-images.githubusercontent.com/7708031/68538631-883a5980-036f-11ea-8c0c-5d549e4fbb47.png">

[2019-11-10 04:07] camilamacedo86 commented on #1169
/bug

[2019-11-10 05:30] luisdavim commented on #1155
That's a good point, but kubebuilder could be smart about it and only update it's own dependencies and leave the rest of the file as is

[2019-11-10 07:52] camilamacedo86 commented on #885
Description:

It is basically to get [0] into controller-runtime. Haseeb has a PR that would make this simpler [1].
[0]: https://github.com/operator-framework/operator-sdk/blob/master/pkg/log/zap/flags.go
[1]: https://github.com/kubernetes-sigs/controller-runtime/pull/639

[2019-11-10 07:52] camilamacedo86 commented on #885
/assign @camilamacedo86

[2019-11-10 08:20] juanjoku opened #1170 "kubebuilder-init fails if KB v2.1.0 is used (KB v2.0.1 works fine)"
I'm just initializing a new project, using KB v2.1.0.
But kubebuilder-init command fails while go-getting to controller-runtime@v3.0.0.

But: KB v2.0.1 works fine.

Steps to reproduce the problem

[code]
/kind bug

[2019-11-10 09:26] camilamacedo86 commented on #879
/assign @camilamacedo86

[2019-11-10 09:50] camilamacedo86 commented on #1138
/assing @camilamacedo86

The solution is done here: https://github.com/kubernetes-sigs/kubebuilder/pull/1172
c/c @DirectXMan12 @droot @ctiml

[2019-11-10 10:03] camilamacedo86 commented on #1170
HI @mengqiy and @DirectXMan12,

We do not have this issue in the master. May a new release could solve it and could/should update the quick start to use go 1.13 as well which indeed shows that would make the user's life easier. WDYT?

[2019-11-10 10:07] camilamacedo86 commented on #891
/assign @camilamacedo86

[2019-11-10 10:07] camilamacedo86 commented on #891
Working on it.

[2019-11-10 10:09] camilamacedo86 commented on #923
/assign @camilamacedo86

[2019-11-10 10:11] camilamacedo86 commented on #932
/assign @camilamacedo86

[2019-11-10 10:11] camilamacedo86 commented on #1169
/assign @camilamacedo86

[2019-11-10 10:22] camilamacedo86 commented on #932
HI @DirectXMan12,

Could/Should we do it now as well or add to v3 project?

[2019-11-10 13:01] camilamacedo86 commented on #969
/kind documentation

[2019-11-10 15:46] juanjoku commented on #1170
Hello,

I have the issue... using the master too!!
¿¿??

[code]

I see a commit in version 2.1.0, which corrects precisely that issue:   https://github.com/kubernetes-sigs/kubebuilder/commit/da0298173907b9be0f4dac1218dfa9b68253e901 ... but it doesn't seem to fix the problem in my environment.
I have tried to remove the controller-gen executable, to force its regeneration... but I still have the sa

[2019-11-10 16:58] camilamacedo86 commented on #1170
Hi @juanjoku,

Could you please use the go version 1.13 and do not run `go mod init example` before the `kubebuilder init`? Following the test with master branch to ensure that all is working fine.

<img width="854" alt="Screenshot 2019-11-10 at 16 56 09" src="https://user-images.githubusercontent.com/7708031/68547591-3a5b3b00-03db-11ea-9863-d0e16e6bdd97.png">

<img width="979" alt="Screenshot 201

[2019-11-10 17:37] functicons opened #1174 "Is there a way to reject unknown fields in CR?"
I noticed that by default, if there are unknown fields in CR, it doesn't fail, but simply ignore them. This is not consistent with the native resource types and error-prone. Wondering is there a way to enforce it? Thanks!

[2019-11-10 17:40] functicons commented on #1124
@champak, how do you know it reads from a cache? Sometimes when updating CR status, I encounter  error saying the CR is not up-to-date, I need to get the latest version first.

[2019-11-10 17:55] camilamacedo86 commented on #1124
This error occurs because the CR was updated in the middle time between when it was fetched and when the platform received the request to update it.

Note that the controller works as a loop like the following pseudo-code example. Then, what you need is ensure that your code implemetation is interpolant and it will just stop when all is in the expected state and values.

[code]

The following are

[2019-11-10 18:01] camilamacedo86 commented on #454
Hi, @DirectXMan12 and @mengqiy the PR was closed with info that let me believe that it should not be done. Am I right? So, should not this issue be closed as well?

[2019-11-11 00:59] dgkanatsios commented on #1170
had the same issue, was using go 1.12.6. Upgraded to 1.13.3, had to run `go mod init` (wasn't required with 1.12.6) but after that everything worked fine. Thanks!

[2019-11-11 02:14] functicons commented on #1124
@camilamacedo86 thanks for your information! But I am still unclear how "the CR was updated/changed in the middle time between when it was fetched and when the platform received the request to update it" could happen. I always update the status of the CR in my reconcile(), since reoncile requests are handled sequentially, I don't understand how the situation could happen.

[2019-11-11 03:42] ctiml commented on #1138
@Adirio It would be good to support empty group name.
@camilamacedo86 Thanks for fixing the issue.

[2019-11-11 07:59] Adirio commented on #1138
@camilamacedo86 linked PR above solves the issue with the `.` character in group names but be aware that it will still result in `example.com.` (notice the final `.`) as the domain is being set to the empty string.

[2019-11-11 09:07] Adirio commented on #1145
@camilamacedo86 I don't really think you need this to be closed (by 1146) for the `MarkFlagRequired` approach. They should be complimentary changes. In case you need it,1146 should get merged soon and you will be able to rebase your commits.

[2019-11-11 09:15] Adirio commented on #1166
Just a small note: as you can see above your comment, GitHub already noted that 1167 will close this issue, no need to write down an extra comment for that :)

[2019-11-11 13:42] camilamacedo86 commented on #1145
@Adirio I thought that I removed already my previous comment. I changed the fix and it is no longer fixing it.

[2019-11-11 13:47] Adirio commented on #1145
Thank you very much.

[2019-11-11 14:40] akutz commented on #1169
Hi @camilamacedo86,

We're seeing this issue as well. Did you happen to find any solution that didn't involve updating to Go 1.13? Why is the cause rooted in Go 1.12? Has the checksum logic changed?

[2019-11-11 14:45] camilamacedo86 commented on #1169
Hi @akutz, the k8s projects has been upgraded to use 1.13 so if would like to keep using go 1.12 you need ensure that you are using fixed versions for the projects and modules an etc before these changes. I hope that it is what you wee working for.

[2019-11-11 14:48] akutz commented on #1169
Hi @camilamacedo86,

Thank you so much for the rapid response!

[2019-11-11 14:57] kayrus commented on #1169
Are you sure that the checksum error relates to a newer go version?

[code]

It worked fine within the same go 1.13.4 before previous weekend.

[2019-11-11 14:58] akutz commented on #1169
Hi @camilamacedo86,

We're having some internal discussion trying to understand how the version of Go has altered the checksum. That shouldn't happen. Do you have any leads on the root cause to do with the versions?

[2019-11-11 14:58] akutz commented on #1169
Hi @kayrus,

Exactly. It looks way more like someone force-pushed an existing tag or branch.

[2019-11-11 15:05] camilamacedo86 commented on #1169
HI @akutz  and @kayrus,

This error for this project was solved in the PR https://github.com/kubernetes-sigs/kubebuilder/pull/1168 by replacing the go version to 1.13 since all rest is using go 1.13 already.

It can be because of the GOPROXY as well since in the go 1.13 it no longer requires the usage of`export GOPROXY?=https://proxy.golang.org/`. The `checksum mismatch` means that the hash of the

[2019-11-11 15:20] Adirio opened #1176 "[Umbrella Issue] Code style and linting errors cleanup"
This issue will track cleanup duties related to code style and linting errors. Each will be described in different issues and implemented in corresponding PR. Feel free to suggest more changes that should be applied under this category as comments and they will be added to the list. Keep the discussion related to a specific topic in their corresponding issues.

- [x] ~Error string formatting: #117

[2019-11-11 15:22] Adirio opened #1177 "Error string formatting"
### Linter message:

### Linter description:

Umbrella issue: #1176

/kind cleanup

[2019-11-11 15:24] Adirio opened #1178 "Unused exported functions removal"
Evaluate and remove non-needed exported functions or at least make them non-exported to reduce the API surface.

### Linter message:

### Linter description:

Umbrella issue: #1176

/kind cleanup

[2019-11-11 15:25] Adirio opened #1179 "Unused parameters replacement by blank identifier"
### Linter message:

### Lister description:

### References:
- [Blank identifier](https://golang.org/doc/effective_go.html#blank)
- [Blank Identifier for unused variables](https://golang.org/doc/effective_go.html#blank_unused)

Umbrella issue: #1176

/kind cleanup

[2019-11-11 15:26] Adirio opened #1180 "Explicit errors handling"
Methods that return errors should check them or explicitly ignore them documenting this behavior.

Umbrella issue: #1176

/kind cleanup

[2019-11-11 15:28] Adirio opened #1181 "Package name as exported variable/type/function prefix removal"
Prefixing an exported variable/type/function with the package name is redundant as they will be called as `package.PackageType` and should be avoided.

Umbrella issue: #1176

/kind cleanup

[2019-11-11 15:29] Adirio opened #1182 "Unification of receiver names"
### Linter message:

### Lister description:

Umbrella issue: #1176

/kind cleanup

[2019-11-11 15:29] Adirio opened #1183 "Imports ordering"
### Linter message:

### Linter description:

### References:
- [Imports](https://github.com/golang/go/wiki/CodeReviewComments#imports)

Note: despite being the de facto standard, couldn't find a CodeReviewComments or Effective Go section that talks about the order of imports in each group, but you can see in the example how this rule is being followed.

Umbrella issue: #1176

/kind cleanup

[2019-11-11 15:32] akutz commented on #1169
FWIW, it's because of the new version selection rules [in Go 1.13](https://golang.org/doc/go1.13). See the section on _version selection_. If you disable `GOPROXY=direct` and `GOSUMDB=off` and do `go mod download` you'll get the following error:

[code]

The _invalid pseudo version_ is because of the aforementioned version selection rules. This is because a transitive dependency is using Go 1.12 t

[2019-11-11 15:36] akutz commented on #1169
By the way @kayrus, thank @ncdc, he just solved it:

See https://github.com/kubernetes/apimachinery/commit/f2f3a405f61d. That's the GH branch icon :(

![image](https://user-images.githubusercontent.com/101085/68599746-bd75a300-0466-11ea-9ae3-0b9cf115989f.png)

[2019-11-11 15:46] akutz commented on #1169
Hi @camilamacedo86 / @kayrus,

Please see [this Slack discussion](https://kubernetes.slack.com/archives/C0EG7JC6T/p1573486851021400) with @liggitt and @ncdc. They're talking about deleting the branch -- it should fix this issue without needing to update Go.

[2019-11-11 16:09] juanjoku commented on #1170
Hello @camilamacedo86 and @dgkanatsios,

As you indicated, if I use Go v1.13.4... it works fine :-) Thanks!

PS: Maybe incompatibilities with GO versions should be indicated in the documentation?

[code]

[2019-11-11 16:21] Adirio opened #1188 "Redundant type removal"
Redundancy at type conversion or construction should be avoided.

Umbrella issue: #1176

/kind cleanup

[2019-11-11 16:31] camilamacedo86 commented on #1170
Hi @juanjoku,

Since the 1.3 is just required for the master branch it will be doc when the PR https://github.com/kubernetes-sigs/kubebuilder/pull/1168/files be merged in the CONTRIBUTION.md. The quick started and etc would be updated when a new release occurs based on the master.

[2019-11-11 19:34] #1169 closed

[2019-11-11 21:42] #1145 closed

[2019-11-11 23:11] christopherhein commented on #1166
Yup, just making sure it's documented, I've filed issues before and implemented them only to find someone didn't read those updates and also implemented it. :)

[2019-11-12 00:02] camilamacedo86 commented on #1176
HI @Adirio,

Could you please provide what linter tool you are using and its report with the errors for each kind added here?

[2019-11-12 00:24] #1144 closed

[2019-11-12 00:27] Adirio commented on #1176
My IDE has an integrated linter and I've started from there. Adding linter to the CI is not recommended as lint errors are just style recommendations, sometimes they may not be followed due to any other reason and if it gets added to the CI process it would get blocked.

[2019-11-12 00:39] camilamacedo86 commented on #1176
What linter are you using in your iDE?

Linters are not just about style recommendations. See: https://github.com/golangci/awesome-go-linters

It has something that should not be merged and checked then, usually it should be done automatically by the CI in order to avoid it, otherwise, the same kind of issues/prs will still be required and the problem will be not solved.

I common linter which is

[2019-11-12 02:52] #1166 closed

[2019-11-12 09:26] Adirio commented on #1176
Quoted from golang/lint:

[2019-11-12 10:05] camilamacedo86 commented on #1176
HI @Adirio,

In my above comment, I made more than one suggestion as follows.

**Regards the PR's:**

IHMO if you would like to working on fixing linter issues to improve the quality of the code is required make clear what linter and its results as argumentation of the PR's in order to allow the reviewer check if it is solved or not for all repo and what is actually the motivation for them. Note t

[2019-11-12 10:47] camilamacedo86 opened #1191 "CI is broken because prow was changed and is looking for the wrong file"
/kind bug

Following the Prow issue:

`could not start the process: fork/exec ./test_e2e.sh: no such file or directory`

Note that the file which has been used by so far is: https://github.com/kubernetes-sigs/kubebuilder/blob/master/test_ci.sh and it was changed

[2019-11-12 10:48] camilamacedo86 commented on #1191
c/c @DirectXMan12 @mengqiy @droot

[2019-11-12 10:55] camilamacedo86 commented on #1191
/assign @camilamacedo86

[2019-11-12 14:23] Adirio commented on #1176
I'm not going to answer the "linter in CI" topic as I think that is a higher level decission that should be taken by the project mantainers who you already mentioned. This may actually be a good place to discuss it unless any other mean is proposed.

About the other comments:
- They are project-wide PRs. All of them. As it is a small-ish project, some of the PRs are pretty small, but I inspected t

[2019-11-12 14:57] Adirio commented on #1191
I was going to open a new issue so will just comment here instead:

# Description
PR are failing the `pull-kubebuilder-e2e` test with the following message:
```could not start the process: fork/exec ./test_e2e.sh: no such file or directory```

## Notes:
Some notes that may be relevant aside from what @camilamacedo86 already mentioned:
- The repository has two files with similar names (`test_e2e_v1

[2019-11-12 16:33] Adirio commented on #1176
@camilamacedo86 I added the exact message and description from the linter in the four Issues that have a PR (and in their corresponding PRs too). Will do the same when I tackle the remaining ones.

[2019-11-12 16:41] camilamacedo86 commented on #1176
Hi @Adirio,

How can we reproduce the issue and check the messages in order to verify your PRs? How can any contributor work on in the tasks whiteout the linter info?

from the above msg:

I hope that the above questions can clarifies the points.

[2019-11-12 17:17] Adirio commented on #1176
As you may see in the specific issues most of the modifications are related to CodeReviewComments or Effective Go. Most linters should hint this errors. In my case, Im using the linter hints from my IDE, which is not open source nor free so I can't suggest to download it.
Note: Bugs require reproducibility, but this are cleanup-oriented issues and PRs, that's why I don't think that exact steps nee

[2019-11-12 17:20] camilamacedo86 commented on #1191
Hi @DirectXMan12 @mengqiy @droot

Note that the error `could not start the process: fork/exec ./test_e2e.sh: no such file or directory` we can solve but now it also is calling 2 jobs one for the tests_ci and other which shows to be for e2e. However, to run the e2e we need to create a specific setup since it cannot be as it is done for the Travis.  The #1151 may make things more clear.

[2019-11-12 17:23] camilamacedo86 commented on #1176
Your IDE uses a specific linter. So, in order to clarify my suggestion would be you check what linter is and add in the comment. It would be enough.

[2019-11-12 17:30] Adirio commented on #1176
It is builtin in the IDE, it is not an external plugin. The code of the IDE is not open source. The only documentation provided is:

[2019-11-12 17:30] champak commented on #1124
@functicons You can have multiple entities that concurrently attempting to update any K8 object and hence there must be some logic which backs off new updates when it determines the updates are on a stale base. That is more common for native k8 objects rather than CRDs. Things like annotations can I think get updated on the CRD outside your control.

[2019-11-12 17:32] champak commented on #1124
@camilamacedo86 I have not yet figured a generic way to recreate the issue with Get failing when List succeeds. I have just switched to using List on Pods.

[2019-11-12 18:17] #1179 closed

[2019-11-12 18:26] mengqiy commented on #1191
pull-kubebuilder-e2e doesn't block PRs from merging.
@alexeldeib is working on using Prow for e2e testing.

[2019-11-12 18:28] camilamacedo86 commented on #1191
Closing this one since the default check is solved and pull-kubebuilder-e2e was clarified.

[2019-11-12 18:28] #1191 closed

[2019-11-12 20:39] alexeldeib commented on #1191
Sorry for the confusion, I should have held the test infra PR as well until the refactor in e2e was done. But as it is optional presubmit, it should not block PRs. It will look ugly though 🙁

[2019-11-13 01:50] #1177 closed

[2019-11-13 05:41] xm5646 commented on #1112
I have the same problem as you ,  some resouce modify trigger the reconciler, and some of update operation with error :

"Operation cannot be fulfilled on deployments.apps \"wsgw-web\": the object has been modified; please apply your changes to the latest version and try again

if only on worker ,why is this happening?

[2019-11-13 09:38] Adirio commented on #1178
Before removing a function I will try to contact the author to verify it is not needed.

### `cmd/util/util.go`
@pwittrock The following functions were added with [this commit](https://github.com/kubernetes-sigs/kubebuilder/commit/0d2a3bd57a310f5e13f71263f9da21e92c7a0c7e) 2 years ago but seem to be no longer needed, could you take a look.
- `WriteIfNotFound`
- `Write`
- `WriteString`
- `GetCopyrig

[2019-11-13 14:53] Adirio commented on #1181
Requires #1186 and #1190 to be merged as they modify the same lines:

- `pkg/scaffold/v1/crd/crd_sample.go:39,51,55`
- `pkg/scaffold/v2/prometheus/monitor.go:15,23`
- `pkg/scaffold/v2/webhook/webhook.go:57,84,89`

[2019-11-13 21:24] camilamacedo86 opened #1194 "Doc tests in kubebuilder"
/kind docs

Add in kubebuilder project that prow tests are set up in: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml

May it can be a section over the tests in the CONTRIBUTION.MD doc.

[2019-11-14 00:05] #1098 closed

[2019-11-14 07:57] Adirio commented on #1194
/kind documentation

[2019-11-14 11:31] camilamacedo86 opened #1196 "Make install is not working with multiversions"
## Bug Report

**What did you do?**
Follow the quick started and create a v2 for the same Kind. Following the steps to reproduce the issue.

[code]
**What did you expect to see?**
All worked with success.

**What did you see instead? Under which circumstances?**

[code]

**Environment**
* kubebuilder version: (master branch)
* go version: 1.13.4
* Kubernetes version information:
[code]
* Kubernete

[2019-11-14 11:37] camilamacedo86 opened #1197 "Artefacts are not updated with the new version gen"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Artefacts are not updated with the new version gen. Following the steps to reproduce the scenario

[code]
<img width="1146" alt="Screenshot 2019-11-14 at 11 03 58" src="https://user-images.githubusercontent.com/7708031/68853815-b94dbd80-06d2-11ea-90c0-1b566045e19e.png">

**Describe the solution you'd like**
I'd

[2019-11-14 12:34] camilamacedo86 commented on #1194
/assign @camilamacedo86

[2019-11-14 14:01] camilamacedo86 commented on #1110
HI, could you please assign the issue to you in order to avoid other dev get it since you gave a PR already one for this one? Also, devs will usually filter for the unassigned ones to know what they can do to contribute with.

[2019-11-14 14:03] camilamacedo86 commented on #1019
HI, @mariantalla  could you please assign the issue to you in order to avoid other dev get it since you gave a PR already one for this one? Also, devs will usually filter for the unassigned ones to know what they can do to contribute with.

PS.: To do it just add a new comment with `/assign @your user`

[2019-11-14 14:06] Adirio commented on #1110
@hypnoglow

[2019-11-14 14:07] camilamacedo86 commented on #1188
HI, could you please assign the issue to you in order to avoid other dev get it since you gave a PR already one for this one? Also, devs will usually filter for the unassigned ones to know what they can do to contribute with.

PS.: To do it just add a new comment with `/assign @your user`

[2019-11-14 14:07] camilamacedo86 commented on #1183
HI, could you please assign the issue to you in order to avoid other dev get it since you gave a PR already one for this one? Also, devs will usually filter for the unassigned ones to know what they can do to contribute with.

PS.: To do it just add a new comment with `/assign @your user`

[2019-11-14 14:07] camilamacedo86 commented on #1182
HI, could you please assign the issue to you in order to avoid other dev get it since you gave a PR already one for this one? Also, devs will usually filter for the unassigned ones to know what they can do to contribute with.

PS.: To do it just add a new comment with `/assign @your user`

[2019-11-14 14:07] camilamacedo86 commented on #1181
HI, could you please assign the issue to you in order to avoid other dev get it since you gave a PR already one for this one? Also, devs will usually filter for the unassigned ones to know what they can do to contribute with.

PS.: To do it just add a new comment with `/assign @your user`

[2019-11-14 14:07] camilamacedo86 commented on #1180
HI, could you please assign the issue to you in order to avoid other dev get it since you gave a PR already one for this one? Also, devs will usually filter for the unassigned ones to know what they can do to contribute with.

PS.: To do it just add a new comment with `/assign @your user`

[2019-11-14 14:07] camilamacedo86 commented on #1178
HI, could you please assign the issue to you in order to avoid other dev get it since you gave a PR already one for this one? Also, devs will usually filter for the unassigned ones to know what they can do to contribute with.

PS.: To do it just add a new comment with `/assign @your user`

[2019-11-14 14:07] Adirio commented on #1188
/assign

[2019-11-14 14:08] camilamacedo86 commented on #1176
HI, could you please assign the issue to you in order to avoid other dev get it since you gave a PR already one for this one? Also, devs will usually filter for the unassigned ones to know what they can do to contribute with.

PS.: To do it just add a new comment with `/assign @your user`

[2019-11-14 14:08] Adirio commented on #1183
/assign

[2019-11-14 14:08] Adirio commented on #1182
/assign

[2019-11-14 14:08] Adirio commented on #1181
/assign

[2019-11-14 14:09] camilamacedo86 commented on #1174
Could you please provide an example and how to reproduce it in order to illustrate your question?

[2019-11-14 14:09] Adirio commented on #1180
/assign

[2019-11-14 14:09] Adirio commented on #1178
/assign

[2019-11-14 14:10] Adirio commented on #1176
/assign

[2019-11-14 14:10] camilamacedo86 commented on #1140
/assing @camilamacedo86

[2019-11-14 14:11] camilamacedo86 commented on #1138
/assign @camilamacedo86

[2019-11-14 14:13] camilamacedo86 commented on #1128
HI @trisberg,

Just to ensure, if you have time could you check with the master branch as well? May it can be solved.

[2019-11-14 14:15] camilamacedo86 commented on #1124
/assign @camilamacedo86

[2019-11-14 14:17] camilamacedo86 commented on #1124
Hi @champak,

Your question here shows answered. Regards the issue that you are facing if you be able to reproduce again could you please raise a new issue with it and its steps?

Also, could you close this one? Or at least let us know what is missing to do this action regards the main question/subject of this issue?

Thank you.

[2019-11-14 14:17] camilamacedo86 commented on #1118
Hi @Adirio,

Could you please assign it to you since you did the PR for that?

[2019-11-14 14:20] camilamacedo86 commented on #1114
Hi @ephemeral,

It shows solved. Could you please close this one?

Also, for the next ones if you add `Closes: #<number>` of the issue in the PR its closes automatically when the PR is merged.  Note, that also would be great to assign the issue when you are working on in the solution because others will be looking for the "assing to nobody" to know how to contribute with.

Really thank you for rai

[2019-11-14 14:22] camilamacedo86 commented on #1113
HI @janetkuo,

Could you please close this one since is solved already?
Note that the go 1.13+ is not compatibles with the current releases.

[2019-11-14 14:28] camilamacedo86 commented on #1015
/assign @camilamacedo86

[2019-11-14 14:28] camilamacedo86 commented on #1013
Closing this one.No longer required with Go .1.13

[2019-11-14 14:28] #1013 closed

[2019-11-14 14:29] camilamacedo86 commented on #1012
/assign @camilamacedo86

[2019-11-14 14:30] camilamacedo86 commented on #1001
Shows that it could be closed @DirectXMan12 @mengqiy

[2019-11-14 14:31] camilamacedo86 commented on #993
Hi @DirectXMan12 and @mengqiy,

Shows that it can be closed anyway. unable to reproduce the issue with the master branch. -1 👍

[2019-11-14 14:33] camilamacedo86 commented on #959
Hi @ScottBerman,

Is the doc that is not clear in the docs of this project or Kubernetes one? if is here, could you please add the link for the doc. If not, could you please raise it in the repo/project where the doc is?

[2019-11-14 14:34] ephemeral commented on #1114
Done, thanks for the info @camilamacedo86 :)

[2019-11-14 14:34] #1114 closed

[2019-11-14 14:35] camilamacedo86 commented on #927
Hi @mengqiy,

Could we not close this one since shows sort out in the master branch?

[2019-11-14 14:38] camilamacedo86 commented on #909
Hi @DirectXMan12 and @jiachengxu,

We added a Makefile target `make generate-setup` in order to solve it. So, could we not close this one? Now devs can just run `make generate` and the correct version will be used always. WDYT?

[2019-11-14 15:05] munnerz commented on #1012
This shouldn’t be an issue from v0.11 onwards so long as you only specify dnsNames on the Certificate resource. We no longer copy across dnsNames[0] to the commonName field.

[2019-11-14 15:07] camilamacedo86 commented on #1012
So, could we close this one? @munnerz

[2019-11-14 15:07] Adirio commented on #1118
/assign

[2019-11-14 15:16] juanjoku commented on #1113
OK.
(Sorry; I thought that only the main contributors could close issues...)

[2019-11-14 15:16] #1113 closed

[2019-11-14 15:27] camilamacedo86 commented on #1015
Hi @champak,

If you check the main.go file you will find the following code.

[code]

This code will create the manager. Then, ee the Options Struct which is used to create the Manager of the project.  If you check its godocs you will find the following attribute.

[code]

So, by default, the reconcile will be trigged every 10 hours. However, I would not recommend you reduce this period unless as

[2019-11-14 16:17] functicons commented on #1174
Take the CronJob custom resource YAML as an example, if we add an undefined field e.g. `foo` in the spec, and try to apply the YAML, it doesn't fail.

[2019-11-14 16:21] camilamacedo86 commented on #1174
What do you mean with undefined? Undefined where?
Also, when you are telling that you are adding, where you did this process?

Sorry, but we are able to help assertively with we need to understand exactly what you are doing and what you expected. In this way, could you provide an example detailed as:

- Following the [quickstart](https://book.kubebuilder.io/quick-start.html)
- Then, add a new spec

[2019-11-14 17:18] functicons commented on #1174
With Kubebuilder, we define CRDs in go, e.g.
[code]
then we generate CRDs in YAML from the go structs. Finally, when actually creating a CronJob, we need to create another YAML, e.g.

[code]
In this case, I made a typo, `schedul` should be `schedule`, or I have an undefined field `foo`, these problems cannot be validated. Undefined fields are simply ignored.

[2019-11-14 17:23] #1138 closed

[2019-11-14 17:35] camilamacedo86 commented on #1174
Hi @functicons,

Thanks for the clarifications. Let's go thought it.

The idea of Operators is to allow manage the resources dynamically and programmatically, because of this, we define them in the specs in types. Note that it allows us to use them as struct(objects) in the code implementation and perform operations to create/update/delete/read these resources in the platform by using the k8s API.

[2019-11-14 18:00] functicons commented on #1174
Thanks for your info! But I was hoping to validate undefined fields with [Admission Webhook](https://book.kubebuilder.io/reference/admission-webhook.html) or some declarative way when defining the CRD in go, just like we validate the value of defined fields.

[2019-11-14 18:00] #1174 closed

[2019-11-14 19:02] camilamacedo86 commented on #1174
/assing @camilamacedo86

[2019-11-14 19:03] camilamacedo86 commented on #1174
/assign @camilamacedo86

[2019-11-14 22:39] champak commented on #1124
I concluded in some cases we must use a direct client. @camilamacedo86 thanks for looking into this. I cannot think of means for guaranteeing that the cached client the kubebuilder harness uses would always see the latest info. Closing.

[2019-11-14 22:39] #1124 closed

[2019-11-14 22:53] champak commented on #1015
@camilamacedo86 Thanks for looking into this ! The comment in the Options structure seems to imply that this timer is a guarantee that reconcile shall get invoked within the specified time; that is a bit different from time based polling which would wake up the user reconcile irrespective of changes but can anyways be leveraged. Closing

[2019-11-14 22:53] #1015 closed

[2019-11-14 23:12] champak commented on #1140
I suspect this issue is caused by the size of the annotation that kubectl apply creates. I check the total size of the yaml generated by kustomize that gets piped to kubectl and its past 650K bytes. Think kubectl maintains state for an apply/merge. To support these cases could "make install" use kubectl replace <> instead of create ?

[2019-11-15 01:01] #1194 closed

[2019-11-15 01:42] #927 closed

[2019-11-15 09:51] camilamacedo86 opened #1202 "Support same Kind for diff groups"
**Description**

Currently, is not support multi-groups and/or the same kind for different groups. However, after the issue #923 be done multi groups will be supported and then, make sense it allows diff kinds if they are not from the same group. Following an example.

mygroup.example/v1 - kind AppServer
mygroup2.example/v1 - kind AppServer

Since `mygroup.example/v1 ` is not the same api of `mygr

[2019-11-15 09:53] camilamacedo86 commented on #1202
Hi @DirectXMan12,

Could you please check this one and let us know what do you think. The motivation for this change was identified when I was trying to collab by doing the PR for this one #923 raised by you.

c/c @mengqiy @christopherhein

[2019-11-15 10:06] camilamacedo86 commented on #1196
c/c @DirectXMan12 @mengqiy

[2019-11-15 14:50] sebgl commented on #307
It looks like this bug went back in: https://github.com/kubernetes-sigs/controller-tools/issues/296
I guess we may have lost code changes from https://github.com/kubernetes-sigs/controller-tools/pull/72?

[2019-11-15 17:06] #891 closed

[2019-11-15 17:54] hypnoglow commented on #1110
/assign

[2019-11-15 18:36] #1110 closed

[2019-11-16 09:22] johanneswuerbach commented on #1155
ember-cli provides a new project diff with each release, which I found fairly helpful when updating between versions.

Example https://github.com/ember-cli/ember-cli/releases/tag/v3.14.0 > Blueprint Changes https://github.com/ember-cli/ember-new-output/compare/v3.13.2...v3.14.0

[2019-11-17 07:47] #791 closed

[2019-11-17 13:06] jacky-lk opened #1206 "kubebuilder create api --group webapp --version v1 --kind Guestbook error"
kubebuilder version
Version: version.Version{KubeBuilderVersion:"2.1.0", KubernetesVendor:"1.15.5", GitCommit:"51b536013c61d87b19e0d3e1d498c4ff3db5bbcf", BuildDate:"2019-10-28T18:25:11Z", GoOs:"unknown", GoArch:"unknown"}

go version go1.13.4 darwin/amd64

when I exec "kubebuilder create api --group webapp --version v1 --kind Guestbook"

![image](https://user-images.githubusercontent.com/50770015/

[2019-11-18 12:05] pires commented on #933
This seems to also affect clusters that enable `CustomResourceDefaulting` feature-gate when using `+kubebuilder:default` marker.

[2019-11-18 14:49] jsravn commented on #675
I'm hitting this error when trying to use kubebuilder 2.1.0 on a fresh project.  Is it supposed to work on a fresh project (empty `go.mod`)?

I tried doing
[code]

which seems to allow it to compile but not sure this is the correct approach.

[2019-11-18 19:57] trisberg commented on #1128
Tested with current master branch and get the same results

[2019-11-18 19:59] trisberg commented on #1128
That's with the current master branch of kubebuilder. Did you mean that  or did you mean latest master of kubernetes?

[2019-11-18 20:08] camilamacedo86 commented on #1206
KubeBuilderVersion:2.1.0 is not supporting 1.13+. You need 1.12+ as described in the quickstarted. The go version 1.13+ will just work with the master branch.

[2019-11-18 20:08] camilamacedo86 commented on #1206
/assign @camilamacedo86

[2019-11-18 20:14] trisberg commented on #1128
I tested against a `v1.17.0-beta.2` cluster and that seems to work, I did not get this error.

[2019-11-18 20:17] camilamacedo86 commented on #1128
Hi @trisberg,

The API rules validations in Kube have been changing you probably upgrade the k8s version and then started to face it. For further information see the [API rules](https://github.com/kubernetes/kubernetes/tree/36981002246682ed7dc4de54ccc2a96c1a0cbbdb/api/api-rules ) documentation.

[2019-11-18 20:54] trisberg commented on #1128
Yes, seems the validation is changing. Seems a bit strange though that the generated validation only works for 1.17 and not for older version that are the ones that can be found as hosted offerings like GKE.

[2019-11-19 01:07] #1153 closed

[2019-11-20 14:59] blacksails opened #1210 "Homebrew does not install binary assets"
I couldn't run tests. Got an error because kubebuilder couldn't find etcd.
[code]

I expected `make test` to work out of the box. This wasn't the case because I had installed kubebuilder using `brew`, which doesn't include the binary assets that `make test` needs.

I would like to see that the brew formula also installs the binary assets so that I can point to them using `KUBEBUILDER_ASSETS`. This

[2019-11-20 15:04] blacksails commented on #1210
Also sorry if you would rather have me report this directly in the homebrew repo. I can repo the ticket there if you would prefer that.

[2019-11-20 19:17] mengqiy commented on #886
Reopen this since we may want to revise it per https://github.com/kubernetes-sigs/kubebuilder/pull/1165#discussion_r347689204

[2019-11-20 20:09] #1118 closed

[2019-11-21 07:07] quanguachong opened #1213 "Can create Mutating webhook for k8s native resource in v2?"
/triage support

[2019-11-21 07:21] quanguachong commented on #1213
In kubebuilder v2,  you can create mutating webhook for custom resource `Sloop` using following cmd. It's convenient that you only need implement [method Default](https://github.com/kubernetes-sigs/controller-runtime/blob/198197fe0fd7553cadd8afcd3338f8ee4b8a7e3f/pkg/webhook/admission/defaulter.go#L30) for `Sloop`.

[code]

But, How to create mutating webhook for k8s native resource(for example: Po

[2019-11-21 17:44] Vikash082 commented on #1206
Same issue on linux.

[2019-11-21 19:11] camilamacedo86 commented on #1206
Hi @Vikash082,

Did you have more than one go version installed?  Because go doesn't work very well if you have.

Note that I am unable to reproduce it in Mac and the CI runs these commands in a Linux environment to check the project. So, it shows that is some issue with the local environment setup and not the project.

[2019-11-22 09:38] Adirio opened #1214 "Verify that AdmissionWebhooks impements File"
There is a (probably copy-paste related) small bug that doesn't verify if `AdmissionWebhooks` implements the `File` interface:

https://github.com/kubernetes-sigs/kubebuilder/blob/6121dd0a122f9be31ac6ec92eb0b444b0618b9f7/pkg/scaffold/v1/webhook/admissionwebhooks.go#L28

/kind bug

[2019-11-22 09:38] Adirio commented on #1214
/assign

[2019-11-22 10:03] camilamacedo86 commented on #1214
HI @Adirio,

Did you try to use the feature or you are just assuming that it has an error because of the name? Could you provide the tests used to check it and the error faced?

[2019-11-22 10:06] Adirio commented on #1214
It (most probably) is a copy-paste error:

See how that line is the same as this other in another file:

https://github.com/kubernetes-sigs/kubebuilder/blob/6121dd0a122f9be31ac6ec92eb0b444b0618b9f7/pkg/scaffold/v1/webhook/server.go#L27

The rest of the files in that directory do it right, see for example:

https://github.com/kubernetes-sigs/kubebuilder/blob/6121dd0a122f9be31ac6ec92eb0b444b0618b9f7

[2019-11-22 10:12] camilamacedo86 commented on #1214
Ok. I understand, however, before we do any change we need be sure that it is an error by:

- Check how it works
- Test it locally
-  See the error which it will cause

Then, we can fix by:
- Solving the issue
- Adding a test to ensure that it will not happen again since the CI is not failing with the issue.

Is it make sense?

[2019-11-22 10:24] Adirio commented on #1214
Interfaces in Golang are implemented just by coding the approapiate methods. This means that there are certain situations where a struct not implementing an interface results in a runtime error instead of a compilation error. To make it always detect it at compile time you can ensure that a certain struct (`StructName`) implements a interface (`InterfaceName`) with the line `var _ InterfaceName =

[2019-11-22 10:31] camilamacedo86 commented on #1214
HI @Adirio,

When I say  `Check how it works` I am not speaking about interfaces in go. I am speaking about the feature that you would like to fix/change. Did you test the webhooks feature which will use this scaffold file?

Also, note that it is v1 which is deprecated then, the strategy does not really change it. So, we need to be very sure that this change/fix is required.

[2019-11-22 10:38] Adirio commented on #1214
Yes, I tested and works. This change is a test, despite not being in a `*_test.go` file. This ensures that if someone removes the `AdmissionWebhooks.GetInput` method, we will get a compile error saying that we are missing this method.

This change is an additional test. It's just correcting a typo in a test.

[2019-11-22 11:34] ryandawsonuk opened #1216 "access to client in mutating webhook"
I'd like to use the manager's client to reference a configmap when validating my custom resource. But I can't see a way to pass the manager's client through to the webhook code (the [Defaulter](https://github.com/kubernetes-sigs/kubebuilder/blob/3b35bcbed5566b41e1e93e67d80b140c791afd4f/docs/book/src/cronjob-tutorial/testdata/project/api/v1/cronjob_webhook.go#L69)) when using the [`NewWebhookManage

[2019-11-22 12:03] camilamacedo86 commented on #1214
Hi @Adirio,

Following my checks and observations

- The change here in the interface shows correctly.
- We can confirm that this file is scaffolded by default for v1 projects. See  [here](https://github.com/kubernetes-sigs/kubebuilder/search?q=%2F%2F+Builders+contain+admission+webhook+builders&unscoped_q=%2F%2F+Builders+contain+admission+webhook+builders).
- Also, we can check that it is just val