[2020-11-17 20:15] #1630 closed

[2020-11-17 20:23] erictune commented on #1065
Awesome.  Can the text of your last comment, starting after `To that effect:`, go into the docs somewhere?

I searched but could not find something like it.

[2020-11-17 20:55] estroz commented on #1065
Definitely! I'll whip something up now.

[2020-11-17 21:30] camilamacedo86 commented on #1543
It might be better addressed after phase 2( https://github.com/kubernetes-sigs/kubebuilder/issues/1378) be in place. So, let's add this one to the next.

[2020-11-17 21:32] camilamacedo86 opened #1837 "Project version 2 deprecation"
**What do you want to happen?**
As part of the 3.0.0 release, we ought to deprecate the v2 project in favour of v3.

**Motivations**
See that after the [plugin design](https://github.com/kubernetes-sigs/kubebuilder/blob/master/designs/extensible-cli-and-scaffolding-plugins-phase-1.md) is in place the projects scaffolded with --project-version=2 will not add the plugins info into the PROJECT file.

[2020-11-17 21:54] estroz commented on #1837
I remember discussing plugin deprecation during one of the community meetings. Did we decide on deprecating the N-1 or N-2 plugin? The biggest pro of the former is less painful plugin upgrades due to users being informed that they should upgrade to the Nth plugin rather than the N-1 plugin first. Conversely the latter gives people a longer grace period to switch, which could be considered "nice".

[2020-11-17 22:09] estroz commented on #1657
I'm not seeing this behavior with kustomize v3.8.7. `kubebuilder init` scaffolds a `config/default/kustomization.yaml` with `namespace: {{ .ProjectName }}-system`, which gets applied to every namespaced object.

[2020-11-17 22:35] camilamacedo86 commented on #1826
Hi @estroz, @joelanford, @DirectXMan12, @pwittrock  I am pushing it for v3+plugin for we have the chance to discuss it and try to achieve it for the release if we agree on that.

[2020-11-17 23:31] christopherhein opened #1839 "❓ / 🌱 Flag names and messages on built-in flag messages"
Should we follow any of the standard Kubernetes flag names and messages for the built-in flags like `--leader-elect` instead of `--enable-leader-election`

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/
[code]

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/
[code]

/kind feature

[2020-11-17 23:31] christopherhein commented on #1839
/assign

[2020-11-17 23:33] christopherhein commented on #1839
@camilamacedo86 @DirectXMan12 @estroz since we're doing the component config work, do you think it would be advantageous to also change the v3-alpha flag names and values when component config is off to match other standard kubernetes resources like Kube-proxy for `metric-bind-address` and `leader-elect` like kube-scheduler, kube-controller manager etc?

[2020-11-18 00:24] christopherhein opened #1841 "Add Docs for new ComponentConfig setup"
With https://github.com/kubernetes-sigs/kubebuilder/pull/1790 being done we need to add docs that explain how to use the feature, these should reference the types https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/config/v1alpha1/ and the examples https://github.com/kubernetes-sigs/controller-runtime/tree/master/examples/configfile/custom for custom implementations.

[2020-11-18 01:32] estroz commented on #1839
sgtm

[2020-11-18 01:56] estroz commented on #1826
Maybe only hasResource? If you're building a type library you would set `--controller=false --resource=true`, so we'd probably want to set `hasResource: true` or `types: true` field for its GVK. Conversely, one major reason you would have `--resource=false --controller=<true|false>` set is if you're using an external type; the config can store an external type path as something like `external: <im

[2020-11-18 03:34] #1657 closed

[2020-11-18 06:23] prafull01 opened #1845 "kb create api --force option doesn't work"
Tried to recreate an api with --force option and the command throw the error

I expected it to pass as the --force option to overwrite the existing API

[code]
<!--

What versions of software are you using?  Specifically, the following are often useful:

* go version
* kubebuilder version (`kubebuilder version`) and scaffolding version (check your `PROJECT` file)
* controller-runtime version (chec

[2020-11-18 06:23] prafull01 commented on #1845
/assign

[2020-11-18 06:30] camilamacedo86 commented on #1826
Hi @estroz,

Totally agree. Good point.

Since we can resource = false and controller=true as resource = true and controller=false, IMO this one we need to track.

[2020-11-18 13:41] camilamacedo86 opened #1848 "Doc: Plugin versioning supportability policy"
**What do you want to happen?**

We reach a consensus over the plugin versioning supportability policy and we have it documented and visible to its users and maintainers. Following the open questions.

- Should KB support N-1 or N-2 plugins versions?
- When a plugin be deprecated for how long should be the minimal grace of period?

 **Is there currently another issue associated with this?**

https

[2020-11-18 13:43] camilamacedo86 commented on #1837
Hi @estroz,

I agree with the policy definition `N-2` as well. 👍

By looking it further in my POV what we essentially need to deprecated with the release 3.0.0 is the **`project-version=2`** since projects scaffolds with will NOT add the plugin info the Project file. So, I am updating this task accordingly.

Regards the policy definition I raised a specific issue for we reach a consensus whcih oug

[2020-11-18 16:50] #1666 closed

[2020-11-18 17:13] camilamacedo86 commented on #1785
Just to register. We need to use the latest version of `kube-rbac-proxy` because the previous one is not rotless. More info: https://github.com/kubernetes-sigs/kubebuilder/issues/1637

[2020-11-18 18:50] camilamacedo86 commented on #1798
Besides we are unable to push a patch release from master the import of the pkg will still v2.3.1-abc-123. See; https://github.com/operator-framework/operator-sdk/blob/master/go.mod#L37

[2020-11-18 21:31] camilamacedo86 commented on #1772
Shows that we could create an EP for the add api option. WDYT?

[2020-11-18 23:18] #722 closed

[2020-11-18 23:35] estroz commented on #686
Now that [`make test`](https://github.com/kubernetes-sigs/kubebuilder/blob/a33c027/pkg/plugins/golang/v3/scaffolds/internal/templates/makefile.go#L79) runs [`setup-envtest.sh`](https://github.com/kubernetes-sigs/controller-runtime/blob/v0.7.0-alpha.6/hack/setup-envtest.sh), go/v3-alpha is slated to be the default plugin for v3.0.0, and `kubebuilder init` supports two plugins that scaffold projects

[2020-11-19 00:27] DirectXMan12 commented on #1837
does deprecate `N-1` mean "deprecate N as soon as N+1 is released"?  That potentially seems a bit aggressive of a timeline, but I'm not sure

[2020-11-19 02:44] estroz commented on #1837
I think so, or at least soon after. I would be more ok with this timeline if we had migration guides per commit that required them.

[2020-11-19 05:24] #1839 closed

[2020-11-20 11:25] Adirio commented on #1772
Any template for the EP?

[2020-11-20 22:32] salaxander opened #1854 "Finalizer docs use invalid finalizer name"
https://github.com/kubernetes-sigs/kubebuilder/blob/2c3ae8fd18aa9c39326bd9f8776cc1f4db71fb0c/docs/book/src/cronjob-tutorial/testdata/finalizer_example.go#L54

Finalizers have to be qualified with a `/` in the name. The book currently uses `storage.finalizers.tutorial.kubebuilder.io` as an example finalizer. This should be changed to something like `tutorial.kubebuilder.io/finalizer`.

Happy to ope

[2020-11-21 05:44] kidiyoor opened #1855 "conversion webhook, crd config not updated, missing documentation ?"
Following instructions at https://book.kubebuilder.io/multiversion-tutorial/conversion.html
However crd conversion section is not updated
[code]

Maybe a marker/annotation in the type.go is missing ? but documentation doesn't seem to point that out. I have already added the marker `// +kubebuilder:storageversion`
[code]
[code]

/kind documentation

[2020-11-22 12:19] blandger commented on #1800
just FYI
In TRPL book case and other books that contain linked code sources like
[code]
**pandoc** is not able to build correct epub/pdf versions.

[2020-11-22 12:53] camilamacedo86 commented on #1761
Closing in favor of 1856

[2020-11-22 12:53] #1761 closed

[2020-11-22 18:24] girishgouda opened #1857 "Support to install kubebuilder on windows"
Support to install kubebuilder on windows

[2020-11-23 11:09] Devying opened #1859 "How is this SVG image generated？"
How is this SVG image generated

https://raw.githubusercontent.com/kubernetes-sigs/kubebuilder/master/docs/gif/kb-demo.v2.0.1.svg

[2020-11-23 11:58] Adirio commented on #1755
@jmrodri #1828 should solve this issue. Would you mind verifying it? You would need to clone that PR's branch and build the source code from it. If you need further help you can contact me on Slack or post a comment here.

[2020-11-23 12:09] jmrodri commented on #1755
@Adirio i will check it out today. Thanks for the PR.

[2020-11-23 12:20] camilamacedo86 opened #1860 "Should we create the branch book-v3 for the 3.0.0 release?"
**What do you want to happen?**

I'd like to reach a consensus definition if we should or not create he v3-book for he v3 release as it was done for v2?

**Is there currently another issue associated with this?**

https://github.com/kubernetes-sigs/kubebuilder/milestone/21

[2020-11-23 12:20] camilamacedo86 commented on #1860
c/c @DirectXMan12 @estroz @Adirio

[2020-11-23 12:38] Adirio commented on #1860
I think so, yes.

We could also name it `book-latest` if it is not linking to any v3 domain directly so that we can keep using it when we move to v4 and so on.

[2020-11-23 15:54] camilamacedo86 commented on #1857
Hi @girishgouda,

We have already a few open issues to achieve this goal. See: https://github.com/kubernetes-sigs/kubebuilder/issues/1405.
Your help with is very welcome. Shows that only use as a pre-requirement  https://www.cygwin.com/  on win let you work in the winos with it.

So, I am closing this one as a duplicated issue of the others. However, feel free to raise new issues as well.

[2020-11-23 15:54] #1857 closed

[2020-11-23 16:51] camilamacedo86 commented on #1859
Hi @Devying,

You might find what you are looking for by searching for such as [how to generate a svg from a gif](https://www.google.com/search?q=how+to+geneerate+a+svg+from+a+gif&oq=how+to++geneerate+a+svg+from+a+gif&aqs=chrome..69i57.5532j0j7&sourceid=chrome&ie=UTF-8)

Since your question is not really related to the tool resonsabilities I hope that is fine we close this one. However, please fee

[2020-11-23 16:51] #1859 closed

[2020-11-23 19:41] estroz commented on #1772
@Adirio [this doc](https://github.com/kubernetes-sigs/kubebuilder/blob/master/designs/template.md) probably.

[2020-11-23 20:03] camilamacedo86 commented on #1772
I'd suggest you try to add further details and maybe follow up the template https://github.com/operator-framework/enhancements/blob/master/enhancements/template.md. It might be helpful for you add details.

[2020-11-23 20:14] estroz commented on #1855
Did you also read the [deployment section](https://book.kubebuilder.io/multiversion-tutorial/deployment.html#deployment-and-testing)? Conversion webhooks won't work unless you follow the full set of docs for multiversion.

[2020-11-23 20:16] jmrodri commented on #1755
With the patch from PR #1828 applied, this issue is fixed.

[code]

[2020-11-23 21:25] DirectXMan12 commented on #1855
closing as per the above comment

[2020-11-23 21:25] #1855 closed

[2020-11-23 21:59] kidiyoor commented on #1855
I see strategy being populated after uncomment a line in crd/config/patches dir under `patchesStrategicMerge:` section. Thanks.

I set CRD_OPTIONS back to `CRD_OPTIONS ?= "crd:trivialVersions=true"`, since I was facing below error
[code]

[2020-11-23 22:22] estroz commented on #1826
Prior to releasing v3.0.0, the config spec for version `3-alpha` needs to be stabilized. A few changes have been added to or are proposed for `3-alpha`. To summarize:
- Added `resources[].crdVersion` and `resources[].webhookVersion` when `--crd-version` and `--webhook-version` are set, respectively (#1644)
- Add `resources[].api` and `resources[].controller` when `--resource` and `--controller` ar

[2020-11-23 23:09] Adirio commented on #1826
My thoughts but written by you. 100% agree. And 100% in favor of omiting as many of these fields as possible if they are default values.

[2020-11-24 00:10] joelanford commented on #1826
Each plugin can define its own flags, so would the plugin also control these fields?

[2020-11-24 01:20] estroz commented on #1826
Yes. These fields are intended to be general enough such that any plugin can make use of them. If they aren't used by a plugin, then they're omitted from the config, so the user will never have to worry about them.

I am worried about that. Perhaps we should punt on this issue, #1696, and #1849 for now and go with what exists in the current spec, since none of the fields mentioned in this issue or

[2020-11-24 03:05] Devying commented on #1859
thank you

[2020-11-24 03:12] brightzheng100 commented on #1837
The industry conversion is really about **N-2**, but it's okay to go more aggressive to be **N-1** as it's community driven.

But how we define **N-1** here, assuming we're going through `v2.2.x`, `v2.3.x`, `v3.0.x`?
- **N** means `v3.0.x` once `v3.0.x` is released
- **N-1** means `v2.3.x`

So do we support only `v2.3.x` (and `v3.0.x` of course) once `v3.0.x` is out?

[2020-11-24 09:53] Adirio commented on #1826
What do you think about the following model:
![kubebuilder-model](https://user-images.githubusercontent.com/522770/100076702-c94dc080-2e41-11eb-97f6-ea27f2ebd6ac.png)

[code]

[2020-11-25 07:14] gabbifish commented on #1854
Hi @salaxander! Thanks for bringing this up :) I think this is an important fix for us to have, and one I'd be happy to review when you have it ready!

Consistent with the [finalizer example in the kubernetes docs](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#finalizers), where the CRD's group is used in the finalizer, perhaps we should rename th

[2020-11-25 14:57] RobEarl commented on #665
@austince I was able to run tests by using an initContainer of `gcr.io/kubebuilder/thirdparty-{linux,darwin}:<version>` to extract the tools to a shared volume. See https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-initialization/ for a similar example.

[2020-11-25 21:42] derekperkins commented on #994
@mouradmourafiq did you figure out if that works for owning unstructured objects?

[2020-11-25 21:50] mouradmourafiq commented on #994
@derekperkins yes it works similar to owning the schema, there's a bit more work, but it works, [see](https://github.com/polyaxon/polyaxon/blob/master/operator/controllers/operation_controller.go#L126)

[2020-11-26 11:00] camilamacedo86 commented on #1826
Hi @Adirio and @estroz,

Thank you for your contribution.

I do NOT agree with them because controllers are NOT APIs and what is suggested here is out of the scope of this issue. Also, see that the proposals here are ONLY to start to track the missing info and NOT change the PROJECT file design at all.

I totally agree with @joelanford that we should NOT redesign the PROJECT file for v3. However,

[2020-11-26 14:50] Adirio commented on #1772
Discussion related to this has taken place in another Issue.

@estroz (https://github.com/kubernetes-sigs/kubebuilder/issues/1826#issuecomment-732460408) suggested re-designing the project configuration file in order to provide a better structure as the current one has received several patches over time and is a bit unclear.

I also suggested a new design (https://github.com/kubernetes-sigs/kubebu

[2020-11-27 12:19] Adirio commented on #1820
Two different scopes here:
- `kubebuilder`: the cli library and actual CLI
- Scaffolded projects

If you refer to the second one, starting with a JSON based logger may increase the learning curve. I think this may be a good fit for a plugin once they can be piped one into another (phase 2). You would add the `json.logger` plugin at the end of your plugin pipe that would change the current logging

[2020-11-27 13:05] Adirio commented on #1848
# Plugins vs Project version
I know this Issue talks about plugin deprecation, but I would like to start by clarifying plugin deprecation and project version deprecation, as they have been mentioned in the linked issue.

- Plugin deprecation is quite easy, an interface is already provided: https://github.com/kubernetes-sigs/kubebuilder/blob/8823b61390eca446c9f44542f5a44309941a62a3/pkg/plugin/inter

[2020-11-27 13:36] camilamacedo86 commented on #1848
Hi @Adirio,

This info is described in https://github.com/kubernetes-sigs/kubebuilder/blob/master/VERSIONING.md already.
The purpose of this issue is only defining what is described in the first comment. So, could you please raise a new issue if you think that has anything else that should be defined or documented?

[2020-11-27 13:40] camilamacedo86 commented on #1820
Hi @max-rocket-internet,

As described in https://github.com/kubernetes-sigs/kubebuilder/issues/1820#issuecomment-728136843, in this case, Kubebuilder scaffolds what is provided by [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime). Users are able to change it and do customization as they wish. However, if you would like to change the default behaviour by suggestion any ch

[2020-11-27 16:51] pwittrock opened #1863 "go get sigs.k8s.io/kubebuilder@latest gets v1.0.8"
Steps to reproduce:

- `cd $(mktemp -d)`
- `go get sigs.k8s.io/kubebuilder@latest`

This is cause `pkger` to break as it tries to get the latest kubebuilder and then can't find `sigs.k8s.io/kubebuilder/v2`

[2020-11-29 14:56] bilalcaliskan commented on #1544
Here is how i solved the issue;

- Install controller-gen@v0.4.1 in the project root directory
    $ go get sigs.k8s.io/controller-tools/cmd/controller-gen@v0.4.1
- In the **api/v1/cronjob_webhook.go** , add the following 2 options to the **// +kubebuilder:webhook:mutating=false** and **// +kubebuilder:webhook:mutating=true** markers
    **admissionReviewVersions=v1,sideEffects=None**
- Run `make

[2020-11-30 07:06] Adirio commented on #1863
#1791 talks about this. Basically `go mod` expects us to add `v2` to the import path and module name in order to be able to find it. This change has been applied to the code, but no release has been made since then. I think we may want to back port this change to older `kubebuilder` release branches and release a fix for them so that we don't have to wait until `v3` is ready.

[2020-11-30 14:00] max-rocket-internet commented on #1820
OK thanks comrades, I will open an issue in the controller-runtime repo.

[2020-11-30 14:00] #1820 closed

[2020-11-30 16:34] pwittrock commented on #1863
Ack.  I can work around this for now.

[2020-11-30 16:55] pwittrock commented on #1791
FYI -- for some reason this breaks pkger

[2020-11-30 17:15] #1863 closed

[2020-11-30 19:56] #1544 closed

[2020-12-01 10:19] camilamacedo86 commented on #1466
The workaround https://github.com/kubernetes-sigs/kubebuilder/issues/1466#issuecomment-712444882 shows valid for projects built with v2 go plugin. If you use the go/v3-alpha plugin it should be solved as well. ( kubebuilder init --plugins=go/v3-alpha )

[2020-12-01 11:19] wtrocki opened #1866 "Generate README.md file explaining make targets and overall strategies for using operator"
Hi

It is quite common for generators to explain project structure and available commands in README.md
I'm quite happy to contribute that change to the repository if that is something that will be valuable.

## What readme can have

- [x] Links to getting started
- [x] Explanation of the make commands (this can be done also using make help)`
- [x] Folder structure
- [x] Links to general informatio

[2020-12-01 11:51] wtrocki opened #1867 "[Suggestion] Make help printing available operations"
Generated makefile has a lot of commands for various tasks.
It will be amazing for the tool to self-document (as any edit in the file can be reflected in help as well). This pattern is being widely used in Makefiles

[code]

[2020-12-01 11:51] wtrocki commented on #1867
Happy to contribute this change

[2020-12-01 17:53] camilamacedo86 commented on #1772
Following my concerns with the proposed design:

- Regards `crdVersion` and `webhookVersion`: Currently, in the business layer we do not allow diff versions. However, the model should allow it since in the future we might be able to improve this behaviour. More info:
- Regards `apis`: controllers, for example, are not API's so I do not see it fitting well.

So, before we discuss the changes I thin

[2020-12-01 18:31] Adirio commented on #1573
Just a note: #1831 approach may be also considered

[2020-12-01 18:43] camilamacedo86 commented on #1762
It will be solved by the config EP that has been done by @pwittrock. So, we are closing this one.

[2020-12-01 18:43] #1762 closed

[2020-12-01 18:50] kensipe commented on #1384
I initially had concerns that this would cause more work due to linters... the gocritic linter does check for spaces after the `//` however it allows for build tags to not have spaces.
After some research... this makes sense and aligns with recent changes in go conventions
nice recommendation @Adirio !

[2020-12-01 18:51] kensipe commented on #1384
@camilamacedo86 we can remove the `triage` label (I don't have rights and I don't think we need any more information)

[2020-12-01 19:13] camilamacedo86 commented on #1409
In the bug triage meeting, we spoke about to support windows officially and we all agreed that it would be nice. However, we would need help from the community to achieve this goal.

[2020-12-01 19:13] camilamacedo86 commented on #1408
In the bug triage meeting, we spoke about to support windows officially and we all agreed that it would be nice. However, we would need help from the community to achieve this goal.

[2020-12-01 19:13] camilamacedo86 commented on #1407
In the bug triage meeting, we spoke about to support windows officially and we all agreed that it would be nice. However, we would need help from the community to achieve this goal.

[2020-12-01 19:13] camilamacedo86 commented on #1406
In the bug triage meeting, we spoke about to support windows officially and we all agreed that it would be nice. However, we would need help from the community to achieve this goal.

[2020-12-01 19:27] camilamacedo86 commented on #1351
Following a summary of the discussion of this in the bug triage meeting.

A part of this proposal shows that is in the place to go/v3-alpha already. However, shows that this subject requires more discussions. @DirectXMan12 raise an idea of we scaffold tooling via go file that would install all deps globally and @Adirio make a point regards the logic still using the local version instead of install

[2020-12-01 20:35] Adirio commented on #1772
We have this scheduled for thursday, but just some quick notes:

As you said, we need to allow it. The model I provided sets a default version for each but the individual resources can modify it. This way we reduce verbosity when all or most of the resources use one version.

I do agree that API is not a good term, and I asked for suggestions for how to call a CRD + controllers + webhook. But, cur

[2020-12-01 20:36] Adirio commented on #1384
I can take this one
/assign

[2020-12-01 20:42] Adirio commented on #1405
This umbrella issue tracks some issues that were detected some time ago about supporting Windows natively. Some of these may be outdated and others may have arisen that aren't detected.

Consensus has been reached in that native windows support would be nice but two things are required:
- Include windows tests in the CI tools, which would require fixing any current issue.
- A maintainer that could

[2020-12-01 20:47] Adirio commented on #1351
As I said in the meeting and you mention above I lean towards having the required versions installed in a known path (`GOPATH/bin` works) and then symlinking them in the project's `bin` directory. Bear in mind that these would require to support multiple versions installed globally so the version needs to be added to the binary path somehow, for example `GOPATH/bin/VERSION/controller-gen` or `GOPA

[2020-12-01 21:33] camilamacedo86 commented on #1640
It was deferred since we consider in the bug triage meeting hard to keep the RFE maintained because users might customize their files which would be hard to edit after the scaffold.

Also, the multi-group feature is used in more advanced and specific scenarios so shows fine in this case users do the required changes manually when required.

[2020-12-01 21:33] #1640 closed

[2020-12-01 23:30] camilamacedo86 commented on #1772
Hi @Adirio,

Sorry, I  will try to better clarify.

The suggestion made does not allow we have diff versions of api for crds and webhooks in the same project. So, we cannot:

[code]
By following the thread https://github.com/kubernetes-sigs/kubebuilder/pull/1644#discussion_r491006675 you will find all reasons and use cases. See that it is :

1 GKV can have a 1 CRD which can have 1 crdVersion

The

[2020-12-02 00:13] camilamacedo86 commented on #1826
Hi @Adirio and @estroz,

**Currently, we have the following model:**

[code]

**After we merge the PRs  #1696 and  #1849 we will have the model:**

[code]

**why I do not agree with the suggestions made?**

It shows hurts concepts such as DDD and adds limitations which mean possible breaking changes in the future as described in https://github.com/kubernetes-sigs/kubebuilder/issues/1772#issuecomme

[2020-12-02 07:06] Adirio commented on #1772
@camilamacedo86 The provided model does support different versions. See how in `apis[].definition` there is a comment saying that we are omiting the version so the project default is used. If we set a version like so we would be able to specify one for that specific resource:
[code]
I added comments in places where some fields could be added to override the defaults and specify which the defaults

[2020-12-02 07:55] Adirio commented on #1826
`resources[].webhooks.webhookConfigVersion` is too verbose, `resources[].webhooks.version` should be more than enough.

I wouldn't use subcommand names either. Subcommands are based on the most common workflows followed by projects. The most commong thing is to scaffold both the resource type and its controller and that is why they are grouped. Webhooks are less common so they are provided as a se

[2020-12-02 12:59] camilamacedo86 commented on #1826
Hi @estroz and @Adirio,

To make it easier I centralized all changes in the same PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1696/files. Also, I addressed all suggestions that shows that we 3 can reach a consensus and does NOT mean a breaking change:

[code]

**Why not add the api as structure as suggested by @estroz which is +1 for me as well?**

Its result ith the suggestion would be

[2020-12-02 13:38] hectorj2f commented on #1785
@camilamacedo86 is there any update here ?

[2020-12-02 13:42] bilalcaliskan commented on #1140
Hello @camilamacedo86,

I am facing same issue, and i fix it by replacing kubectl apply with kubectl create as @champak suggested. I am using below versions:

**Kubebuilder**: 2.3.1
**sigs.k8s.io/controller-runtime**: v0.6.4
**sigs.k8s.io/controller-tools**: v0.4.1

As @DirectXMan12 mentioned,  where to put tag to change verification with **maxDescLen?**  Both [CRD Generation](https://book.kubebui

[2020-12-02 14:12] bilalcaliskan commented on #1140
@camilamacedo86 I thought that i have fixed my issue but i was wrong. kubectl create is working on the first run but when you want to upgrade your controller with **make deploy**, it causes error because of that resource already exists. So better workaround still required. When i check the api-server logs, there are nothing on there, i think it is client-side problem somehow.

[2020-12-02 14:13] camilamacedo86 commented on #1772
Hi @Adirio,

Following my considerations regards the suggestions made.

Regards:

[code]

- 1 Project can have many APIs
- Each API can be scaffolded with diff k8s API versions which are represented by the attribute conversion

And then, the same is possible for webhook. So, we cannot add the `crdVersion` and the `webhookVersion` whcih represents the K8S api version ( `v1` or `betav1` currently) o

[2020-12-02 14:49] Adirio commented on #1772
Hi @camilamacedo86

These fields can be also specified per resource. They are just defining a project-wide default. This is just an optimization (and could be added later as it would be non-breaking).

Imagine that we are working with an old kuebernetes version a we want all our crd versions to be `v1beta1`. Instead of having to specify it in each resource we could specify it here. However, if you

[2020-12-02 21:37] kqdtran commented on #665
Hello, I'm also trying to get my integration tests running on jenkins and was wondering if anyone has more specific examples. I saw @RobEarl 's comment above but admittedly am still relatively new to kubebuilder.

[2020-12-02 22:09] RobEarl commented on #665
@kqdtran I put a fuller example of what I did here - https://github.com/RobEarl/website/tree/main/blog/kubebuilder-tests-docker-container

[2020-12-02 23:11] christopherhein opened #1871 "V3 Docs missing `kind-config.yaml`"
The unreleased version of the documentation is missing the `kind-config.yaml` file which is usually loaded from `hack/kind-config.yaml`.

https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/reference/kind.md#L23

/kind documentation

[2020-12-02 23:12] christopherhein commented on #1871
/assign

[2020-12-02 23:23] christopherhein opened #1873 "V3 Docs Makefile Helpers getting Regenerated from mdbook"
In the `SUMMARY.md` it has the `makefile_helpers.md` referenced from the wrong location and the latest version of `mdbook` will generate any file that is referenced if it doesn't exist. Since `makefile_helpers.md` moved to `references/makefile_helpers.md` this gets regenerated.

This issue is to change that file path.

/kind documentation

[2020-12-02 23:23] christopherhein commented on #1873
/assign

[2020-12-02 23:39] #1871 closed

[2020-12-03 00:09] #1873 closed

[2020-12-03 02:24] christopherhein commented on #1841
/assign

[2020-12-03 08:56] RobEarl commented on #665
I should add, the example above is for a kubernetes agent. If you're using a docker agent, you would probably (I haven't tried it) need to:

* run an initial stage with the `gcr.io/kubebuilder/thirdparty-{linux,darwin}:<version>` image
* unpack the kubebuilder archive from /
* `stash` the binaries from that archive
* run test execution stage with a `golang` image
* `unstash` the binaries
* set `KU

[2020-12-03 19:21] #1841 closed

[2020-12-03 23:24] champak opened #1879 "On the use of the Index Field"
Hi Folks,
I wanted to validate my understanding of the Indexing that we recommend in SetupWithManager(). This is a useful optimization but we could choose to do without it if needed, right ? I want to take that approach for a scenario where I have a pair of custom resources in the same manager both of which monitor similar resources and hence I could get an index conflict if I were to use an index

[2020-12-04 05:53] estroz commented on #1854
Closed by #1877

/close

[2020-12-04 05:53] #1854 closed

[2020-12-04 23:02] #1755 closed

[2020-12-05 12:38] camilamacedo86 commented on #1837
Regards the plugin policy (N-1 or N-2) we have an issue to define that #1284. However, regards the Project version (Config) which is what I have in mind to discuss here. The plugins have [SupportedProjectVersions](https://github.com/kubernetes-sigs/kubebuilder/blob/b22ff1269cf5e11e8ae168189694204f3d1a07e1/pkg/plugin/interfaces.go#L35) and the project file will be naturally deprecated as well then,

[2020-12-05 13:30] bilalcaliskan commented on #1487
Is there any progress about that? I still do not know about **// +kubebuilder:scaffold:builder**, **// +kubebuilder:scaffold:scheme** or **// +kubebuilder:scaffold:imports**. There is no such information about them.

Thanks.

[2020-12-07 11:00] camilamacedo86 commented on #1785
Hi @hectorj2f,

Unfortunately, I didn't have time to continue to see it.  Would you like to help us with this one?

[2020-12-07 11:18] hectorj2f commented on #1785
@camilamacedo86 I'd check what I can do ;), to speed things and get this done asap.

[2020-12-08 18:37] estroz opened #1885 "use a NetworkPolicy instead of kube-rbac-proxy"
[kube-rbac-proxy](https://github.com/brancz/kube-rbac-proxy/), while a nice feature, is a third-party workaround for a problem (restricting pod access to `/metrics`) that can be solved by a [`NetworkPolicy`](https://kubernetes.io/docs/concepts/services-networking/network-policies/#networkpolicy-resource). For example, the following policy could be scaffolded by default so only manager-related pods

[2020-12-08 18:59] camilamacedo86 commented on #1885
I loved 👍 The only possible con here is check how if it would work nicely on other vendors such as OCP. Did you check that already?

[2020-12-08 19:36] estroz commented on #1885
`NetworkPolicy` has been around for a long time, so all full-featured k8s distros support it.

[2020-12-08 22:32] DirectXMan12 commented on #1860
FWIW, we have an alias for the main branch (current `master.book.kubebuilder.io` -- I keep meaning to fix the netlify config so that it recognizes our DNS entry for `nightly.book.kubebuilder.io`, but haven't had the time yet -- it'd be a change in netlify.toml to make it recognize the `nightly` subdomain)

[2020-12-08 23:33] Adirio commented on #1860
`master.*` and `nightly.*` sound ok, but the goal of having the `v2` branch was to keep the actual doc in synch with the last release.

[2020-12-09 00:18] camilamacedo86 opened #1887 "Add golangci-lint to the projects"
**What do you want to happen?**

- I am as a kubebuilder user, I'd like to check the projects scaffolds with the tool integrated/configured with golangci-lint so that, I could ensure the projects syntax
- I am as a kubebuilder user, I'd like to have a makefile target to check my projects with golangci-lint so that, instead of call `go vet` and `go fmt` on the targets as execute other checks as wel

[2020-12-09 10:25] camilamacedo86 opened #1889 "Add coveralls integration"
**What do you want to happen?**

- I am as an Operator Developer,  I'd like to check the projects scaffolds with the tool integrated with [Coveralls](https://coveralls.io/)  and with a GA to call it so that,  I could easily persuade the goal to QA my projects and check its coverage as know how to integrate them with GA in the CI.

**Implementation Details/Notes/Constraints**
- If the community dec

[2020-12-09 10:43] coderanger commented on #1889
Is this for kb itself or the generated projects? I don't think integration with a commercial SaaS product would be appropriate for the output of kbuebuilder but for the project itself that's mostly an internal question. I personally prefer codecov.io but both are fairly interchangeable once the coverage report code is in place.

[2020-12-09 10:51] Adirio commented on #1889
She must mean the scaffolded projects because `kubebuilder` itself already uses coveralls. I already mentioned moving to codecov.io but we will probably do that once v3.0.0 is out, if we choose to migrate.

About the scaffolded projects, I kind of share @coderanger point. I know kubebuilder is opinionated but enforcing third-party tools may be too much. If we do it, it should be an option of the `

[2020-12-09 10:59] coderanger commented on #1889
Every time we've had vendor-specific code in Kubernetes it's been a mistake, I see no reason this would end up any differently :) On top of the issues with vendor favoritism (are you ready to accept integration PRs from every vendor that wants to be included?), letting vendors control their own release cycles is usually for the best. Personally I wouldn't even want this under Kubernetes at all, I

[2020-12-09 12:00] Adirio commented on #1889
Making it a plugin and letting the vendor own it seems like a very good approach

[2020-12-09 12:26] camilamacedo86 commented on #1889
Hi @coderanger and @Adirio,

Thank you for your input following some considerations:
- +1 to make a plugin instead of add in the default scaffold 👍
- IMO the plugin ought to use the same coverage tool used in KB project. So, I am raising an issue for we move forward to use codecov.io  instead of coveralls on KB repo.

[2020-12-09 12:30] camilamacedo86 opened #1890 "Replace Coveralls covarage by codecov.io"
**What do you want to happen?**

Kubebuider integrated with the best tool/option accordingly to its community.

**Is there currently another issue associated with this?**

https://github.com/kubernetes-sigs/kubebuilder/issues/1889

/kind feature

[2020-12-09 16:41] camilamacedo86 commented on #1885
Hi @estroz,

I raised this concern because in the past I remember some problems to work with `Ingress` on OCP.  Regards OCP, I could check that this API `networking.k8s.io/v1` is supported since 4.4: https://docs.openshift.com/container-platform/4.6/rest_api/network_apis/networkpolicy-networking-k8s-io-v1.html.

So, since Kubebuilder as SDK needs to support previous k8s cluster versions we would a

[2020-12-09 18:49] prafull01 commented on #1885
Hi @camilamacedo86 @estroz

Network policies are supported by CNI in the cluster, so it means the clusters which are deploying kubebuilder's operator on such cluster where CNI doesn't support the Network Policy (For example: Flannel) this restriction policy will not work there. This con is also needs to be considered while implementing this.

[2020-12-09 19:11] estroz commented on #1885
Right, and this potentially makes NetworkPolicy scaffolding (by default at least) a non-starter since it locks projects out of certain CNI's.

[2020-12-10 00:30] camilamacedo86 opened #1891 "add check to ensure that any new file has the license in the header"
**What do you want to happen?**

I am as maintainer would like to automatically ensure that any new file added to the project has a license.

**Possible Solution**
Use the same check that we have in the SDK https://github.com/operator-framework/operator-sdk/blob/master/hack/check-license.sh.

/kind feature

[2020-12-10 01:24] #686 closed

[2020-12-10 01:24] #1694 closed

[2020-12-10 08:48] Adirio commented on #1891
We could also do this with a GitHub action.

[2020-12-10 11:40] camilamacedo86 opened #1892 "Unable to debug/troubleshooting tests of projects built with v3/go-alpha plugin"
## Bug Report

#### What did you do?

- Installed Kubuduilder without installing the binaries since it should no longer require any more for v3/:

[code]

- Follow up Quick Start with the plugin v3/go-alpha
- Then, execute the test `suite_test.go` via the IDE to debug it
OR
- Try to execute the tests without the Makefile target `go test ./...`
#### What did you expect to see?

- Able to execute th

[2020-12-10 13:56] georgettica opened #1894 "move this into `config/manager`"
I am trying to create a bundle from operator-sdk and I need to put this file inside of the bundle (taking a different route than using `make bundle-build`)

if the reasoning is unclear I can elaborate further

https://github.com/kubernetes-sigs/kubebuilder/blob/c52c3679810a40a5ea09ab89d3a12fb228c1cfa4/pkg/plugins/golang/v3/scaffolds/internal/templates/config/rbac/auth_proxy_service.go#L35

[2020-12-10 15:43] estroz commented on #1894
Kubebuilder has no knowledge of bundles. As we discussed offline this will stay in config/rbac because it is tightly coupled to RBAC proxying.

/close

[2020-12-10 15:43] #1894 closed

[2020-12-10 15:46] georgettica commented on #1894
thanks for the quick response though

[2020-12-10 21:00] fabriziopandini opened #1896 "Start using cert-manager v1.0.x"
I would like to user cert manager v1.0.x, so I can benefit from latest features/better API stability

AFAIK there are different manifests and some gotchas for kuberentes < 1.6 https://cert-manager.io/docs/installation/kubernetes/#installing-with-regular-manifests

/kind feature

[2020-12-11 03:53] camilamacedo86 commented on #1896
Hi @fabriziopandini,

It is addressed for the plugin go/v3 in the PR https://github.com/kubernetes-sigs/kubebuilder/pull/1840  already. To use v3+ and check it so far you need to:

- Use kubebuilder from master branch (it is not released yet)
- Create projects with the go/v3-alpha plugin via  `kubebuilder init --plugins=go/v3-alpha`

Also, you can migrate your project by following the doc in the m

[2020-12-11 03:54] camilamacedo86 commented on #1896
Closing it as sorted out. However, please feel free to raise new issues or ping us if you need it.

[2020-12-11 03:54] #1896 closed

[2020-12-11 13:10] camilamacedo86 commented on #1829
Blocked by https://github.com/kubernetes-sigs/kubebuilder/pull/1899
c/c @estroz

[2020-12-11 13:11] camilamacedo86 commented on #1835
Blocked by https://github.com/kubernetes-sigs/kubebuilder/pull/1899 and https://github.com/kubernetes-sigs/kubebuilder/pull/1886
c/c @estroz

[2020-12-12 00:11] KnicKnic opened #1902 "bump kube-apiserver version to 1.19"
With the graduation of ingress form beta to stable, I went to update my controller. It did not work because the test suite loaded a version of kubernetes that did not have ingress in stable. I think we should just move included kube-apiserver to 1.19.

**Btw** 1.20 removes insecure port. v1.19 of env test references this flag.

/kind bug

[2020-12-13 20:49] prafull01 commented on #1887
/assign

[2020-12-14 01:59] zoetrope opened #1904 "Wrong path for probes"
When I generated the codes with kubebuilder v3-alpha.0, I got the following manifest:

[code]

Is this correct?
I believe `readinessProbe` should use `readyz`.

/kind bug

[2020-12-14 14:48] RiRa12621 commented on #1299
@camilamacedo86 I see that the PR you linked to has also been closed due to inactivity.
Are you planning to re-open this one, or should a new issue be opened under the controller-tools? Because picking up someone's abandoned work feels weird, particularly when it didn't seem to actually focus around the correct root cause according to https://github.com/kubernetes-sigs/controller-tools/pull/437#is

[2020-12-14 15:58] jackap opened #1906 "Extend custom metrics paragraph"
Documentation on custom metrics https://book.kubebuilder.io/reference/metrics.html does not provide a comprehensive overview of how to implement the feature.
What I think should be added:
- Does the feature require running the CRD inside the cluster (i.e., run with `make deploy` instead of `make run`) ?
- Where does the `init()` function should be added (controllers/, api/, main.go) ?
- What is an

[2020-12-14 21:05] estroz commented on #1904
Closed by #1905

/close

[2020-12-14 21:05] #1904 closed

[2020-12-14 21:31] #1834 closed

[2020-12-15 11:58] camilamacedo86 commented on #1879
Hi @champak,

I understand that you are speaking over the example in https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/cronjob-tutorial/testdata/project/controllers/cronjob_controller.go#L547-L563. Am I right?

Unfortunately, your question is not clear enough for me. WDYT about to provide the following info?

[code]

It might help us understand better what you re trying to d

[2020-12-15 12:28] prafull01 opened #1908 "main.go in the generated projects has duplicated entries for adding the manager/webhookmanagers"
Description: Currently the main.go file is updated every time for adding the manager and webhookmanager , however those entries becomes duplicated as we don't have a check to find multiple lines duplication.

You can see one of the duplication [here](https://github.com/kubernetes-sigs/kubebuilder/blob/0a807f4e9428f7544a132fc2aa5ce4baa3510119/testdata/project-v3/controllers/suite_test.go#L64)

You

[2020-12-15 13:44] prafull01 commented on #1908
/assign

[2020-12-15 18:15] camilamacedo86 commented on #1848
c/c @camilamacedo86 put in this issue to be discussed in the controller-runtime meeting.

[2020-12-15 18:17] kensipe commented on #1800
For awareness... asciidoc might be the way to go...it will allow for better references of code.  asciidoctor will publish to html, pdf, pandoc, mobi, and epub

a quick review...  I imagine some refactoring of docs will be necessary to support

[2020-12-15 18:21] camilamacedo86 commented on #1866
Bug Triage : After the issue, https://github.com/kubernetes-sigs/kubebuilder/issues/1867 get done we could add at the end of the scaffold command output to make clear that users can check the help or a link for the docs.

[2020-12-15 18:26] blandger commented on #1800
I've solved problem of processing links like:
{{#rustdoc_include ../listings/ch02-guessing-game-tutorial/no-listing-01-cargo-new/src/main.rs}}
and built several MD books as EPUB using custom release version.

[2020-12-15 18:27] varshaprasad96 commented on #1879
/assign

[2020-12-15 18:37] camilamacedo86 commented on #1889
It was not accepted in the bug triage meeting as part of the kubebuilder project. however, would be fine if it got done and maintained by the vendors as suggested above.

[2020-12-15 18:37] #1889 closed

[2020-12-15 18:39] camilamacedo86 commented on #1890
Bug triage: We decided to keep the coveralls, however, we can re-open this one if someone raises a good argumentation for we move forward and change it.

[2020-12-15 18:39] #1890 closed

[2020-12-15 18:42] camilamacedo86 commented on #1891
We might like to add this one to the kubebuilder-tools and provide it across the board.

[2020-12-15 19:01] estroz commented on #1892
Relates to https://github.com/kubernetes-sigs/controller-runtime/issues/1234

[2020-12-15 19:16] camilamacedo86 commented on #1867
This was accepted in the bug triage meeting. As part of this one,  we need to add at the end of the scaffold command output to make clear that users can check the help.

[2020-12-15 19:17] camilamacedo86 commented on #1866
closing this one, since we will address the output as part of  #1867 .

[2020-12-15 19:17] #1866 closed

[2020-12-15 19:23] blandger commented on #1800
I've checked custom code fpr composing the epub from the book sources. Book looks ok, but the links look different so they are not processed by current code.
{{#literatego ./testdata/project/api/v1/groupversion_info.go}}

[The Kubebuilder Book-en-0.0.1.zip](https://github.com/kubernetes-sigs/kubebuilder/files/5698082/The.Kubebuilder.Book-en-0.0.1.zip)

[2020-12-15 19:25] camilamacedo86 commented on #1791
The v2 branch was updated with that already.See: https://github.com/kubernetes-sigs/kubebuilder/pull/1878
Then, for the next patch release, it will be done.

[2020-12-15 19:25] #1791 closed

[2020-12-15 19:28] camilamacedo86 commented on #1821
This issue was not accepted in the bug triage meeting. the community concern is mainly related to updating the main file when it has customization as well. Also, shows not too hard to enable and disable this setup manually by following the tutorial.

In this way, this one can be closed. However, we can re-open always if someone else brings a good argumentation for it.

[2020-12-15 19:28] #1821 closed

[2020-12-15 19:31] camilamacedo86 commented on #1887
This issue was discussed in the bug triage meeting and we need to raise that as part of the agenda of the `Kubebuilder, Controller Runtime, and Controller Tools Meeting`.

The main concern here is over we provide a tool/helper for a third-part project.

[2020-12-15 20:06] christopherhein commented on #1821
Sounds good, thanks for closing this,

[2020-12-15 23:22] champak commented on #1879
@camilamacedo86 Thanks for taking a look. I have tried to add details below:

#### What did you do?
Like you mentioned this is the code I was looking at and have used similar constructs
 https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/cronjob-tutorial/testdata/project/controllers/cronjob_controller.go#L547-L563

I was interested in a scenario where I have more than one con

[2020-12-16 10:08] camilamacedo86 commented on #1879
Hi @champak,

It is recommended develop idempotent solutions whcih means that each controller in the project would be responsible for synchronizing the desired state as represented by their Specs and the actual state of the system. In this way, it works like a loop, and it does not stop until all conditionals match its implementation.

In general, it's recommended to have one controller responsibl

[2020-12-16 10:08] #1879 closed

[2020-12-16 10:13] camilamacedo86 commented on #1637
I am closing this one because all changes and fixes required were done. We only need to know is have an ` kube-rbac-proxy` image that we can use in the projects. It is tracked already in https://github.com/kubernetes-sigs/kubebuilder/issues/1785.

As workaround users are able to update their projects manually to use the images provided by https://github.com/brancz/kube-rbac-proxy directly.

[2020-12-16 10:13] #1637 closed

[2020-12-16 10:17] camilamacedo86 commented on #1785
just to register here: **Why it is important we have the latest release for and update the kubebuilder scaffolds to use it as soon as possible?**

The latest images contain a fix https://github.com/brancz/kube-rbac-proxy/pull/86 to make the images rootless.  to solve critical security concerns.

c/c @estroz @DirectXMan12 @vincepri

[2020-12-16 10:39] camilamacedo86 commented on #1902
The binaries for the latest k8s releases are already generated. See: https://github.com/kubernetes-sigs/controller-runtime/blob/master/hack/setup-envtest.sh#L65

It will be part of the next kubebduiler release. However, before that, you also can use the script to download the latest versions available.  See: https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/Makefile#L1

[2020-12-16 10:39] #1902 closed

[2020-12-16 10:45] camilamacedo86 commented on #1732
For the next release and go version plugin it will no longer be required use sudo permissions because the makefile target test will download the bins inside of the project. So, we can consider it as done.

However, it still not the ultimate solution desired and then, see that we have already tracked in controller-runtime an issue to change the default path for GOPATH/bin as suggested here. However

[2020-12-16 10:45] #1732 closed

[2020-12-16 11:26] camilamacedo86 commented on #1892
Hi @estroz and @DirectXMan12,

The kubernetes-sigs/controller-runtime#1234 address the piece that will change the default path `"/usr/local/kubebuilder/bin"` to be  `for $GOBIN/` and then, make the env tests look by default in this place. However, it does NOT solve this issue.

By running the tests outside of the makefile target we will still without the `KUBEBUILDER_ASSETS` set for the tests and

[2020-12-16 11:56] camilamacedo86 commented on #1892
Closing it a favour to https://github.com/kubernetes-sigs/controller-runtime/issues/1234 and https://github.com/kubernetes-sigs/controller-runtime/issues/1300 as discussed in the bug triage meeting.

[2020-12-16 11:56] #1892 closed

[2020-12-16 14:34] blandger commented on #1800
All
I replaced local links from :
{{#literatego ./testdata/project/api/v1/groupversion_info.go}}
to another supported hash #include supported by mdbook-epub as it looks as :
{{#include ./testdata/project/api/v1/groupversion_info.go}}

and that gave ability to build epub book WITH go sources included. So now book version look more or less correct. See attachment,
[The Kubebuilder Book-en-0.0.2.zip]

[2020-12-16 14:43] camilamacedo86 commented on #1800
Hi @blandger,

WDYT about push a PR with your solution? @daenney could you help us to review and check his PR to see if it could attend your request here?

[2020-12-16 15:12] #1845 closed

[2020-12-16 17:12] blandger commented on #1800
Hi @camilamacedo86
That is a extremely hard question, because there are thee different rust libraries involved in patching 'mdbook-epub' tool to be working and properly in generation epub from MD sources.

1. Several patches/PRs I've prepared inside 'mdbook-epub' and I have a 'maintenance rights' for that repo. Although review is very long by initial library author. The first PR is in review - htt

[2020-12-17 02:23] #1384 closed

[2020-12-17 11:59] camilamacedo86 opened #1913 "init --help should shows the plugins and project versions available"
**What do you want to happen?**

I'd like to see the project versions and plugins when I the command `kubebuilder init --help` is executed. Otherwise, it is hard to know the values.

[code]

[2020-12-17 12:05] camilamacedo86 opened #1914 "Error `invalid value for project version` appears without let us know what values are available"
Unable to use the help to check the plugins versions available for an project version:

[code]

When I would expect to see:

[code]

PS.: It shows a bug introduced in the latest changes.
c/c @estroz @Adirio

[2020-12-17 12:18] camilamacedo86 opened #1915 "Invalid plugins names should return the help with the options available"
the current behaviour is:

[code]

[code]

When I would expect to see always the options available `Available plugins: ("go.kubebuilder.io/v2", "go.kubebuilder.io/v3")` instead such as we have for projects:

[code]

[2020-12-17 16:52] Adirio commented on #1914
Project versions do not support the `v` prefix:
[code]

[2020-12-17 17:43] estroz commented on #1914
Yeah this is a validation error. I don't see what better error kubebuilder could produce if the project version doesn't have the correct format.

/remove-kind bug

[2020-12-17 18:09] Adirio commented on #1914
Closing this as it should be solved just by removing the invalid `v` character. Reopen if the error is still present afterwards.

[2020-12-17 18:09] Adirio commented on #1914
/close

[2020-12-17 19:30] camilamacedo86 commented on #1914
Hi @Adirio @estroz,

[2020-12-17 20:01] estroz commented on #1914
Outputting command help is fine with me.

[2020-12-17 22:04] camilamacedo86 commented on #1848
This issue was discussed in the `Kubebuilder, Controller Runtime, and Controller Tools Meeting` meeting today. The final consensus reached out is that:

We will support N -2 plugin versions  where:
- (N- 2): only receives critical bug fixes
- (N-1):  receives bug fixes and some RFE's
- (alpha/beta) : receives all that is new

[2020-12-17 22:39] Adirio commented on #1848
We also mentioned that (N-2) will be marked as deprecated with the current available deprecation interface.

[2020-12-17 22:59] champak commented on #1879
@camilamacedo86 Thanks much for your detailed response and the event filtering pointer ! The event filtering capability looks quite generic and could be possibly used for filtering on things like namespaces. I shall have to try it out.

[2020-12-18 09:03] camilamacedo86 commented on #1914
It is a bug because what is expected for any CLI/tool command is:
- If an invalid arg or value be used to run the command then, the tool should return error with the help
- The help should provide the possible options available

[2020-12-18 09:49] Adirio commented on #1914
I 100% agree that printing the regex is not a very good UX, I will work on showing the available project versions instead of the regex. IMO printing the whole command help should be reserved for those cases where the use intention is not clear. In this case the intention is clearly to provide a valid project version but he failed, so a clear error message that includes available project versions s

[2020-12-18 11:25] camilamacedo86 opened #1917 "Unable to generate the manifests when more than one version of the same API/resource"
To reproduce the scenario:

[code]

[code]

Be able to run make manifests successfully

/kind bug

[2020-12-18 12:40] camilamacedo86 commented on #1917
c/c @estroz

[2020-12-18 17:08] estroz commented on #1917
I can't reproduce this particular error. It looks like you added a webhook at some point, given that the error stems from a marker only written to `<kind>_webhooks.go`. I do see the following error though:
[code]

This is expected since multiple GK's must have one storage version set in a marker, just so you're aware if you see this error when trying your reproducer again.

/close

[2020-12-18 17:08] #1917 closed

[2020-12-18 17:16] #1835 closed

[2020-12-19 17:06] adikul30 commented on #1915
Hi! Should v3 issues have a label of their own? Since the --plugins flag is not available in the _init_ command for v2.

[2020-12-21 10:13] jackap commented on #1906
Also, it seems that when building custom metrics with rbac, you need to instrument the ServiceMonitor to access https ports because http is the default.

[2020-12-21 13:11] jehutyy opened #1921 "Kustomize not found"
Following documentation [here](https://book.kubebuilder.io/quick-start.html)

It is stated:
[code]
Though when running `make install` I get the following error :
[code]

[2020-12-21 14:17] camilamacedo86 commented on #1921
What is the tool version used? Are you using 3.0.0-alpha or 2.3.1 to create the project? Also, what is SO used by you in your local env? Could you please add here the content of your kustomize target?

[2020-12-22 15:00] jehutyy commented on #1921
kubebuilder version:

[code]

Here Install target:
[code]

[2020-12-24 10:30] camilamacedo86 commented on #1921
Hi @jehutyy,

Shows that the problem is that your local env is unable to process the shell commands in the Makefile. The solution https://github.com/kubernetes-sigs/kubebuilder/pull/1725/files#diff-eaeaa01fcbb2369db04d65fec624e00dd2e31c0ad08fb7abbbd146d1ae1db1f4R60-R62 point out the bin/bash might solve your problem. Could you please check and let us know?

[2020-12-24 10:31] camilamacedo86 commented on #1746
It is done : https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/go.mod#L12
Closing it as solved.

[2020-12-24 10:31] #1746 closed

[2020-12-24 10:32] camilamacedo86 commented on #1798
Hi @Adirio and @estroz,

We should get it done before release the alpha one. However, I think we can move forward here now as well.

[2020-12-24 10:35] camilamacedo86 commented on #1837
It was discussed in the latest `Kubebuilder, Controller Runtime, and Controller Tools Meeting` and we reach the consensus that the project versions would be automatically deprecated with the plugin versions deprecations such as described in the above comment.

So, I am closing this one as sorted out.

[2020-12-24 10:35] #1837 closed

[2020-12-24 12:25] jehutyy commented on #1921
Hi,

I set `SHELL = /bin/bash` at the top of Makefile file without success.

If I understand well, there should be a target in Makefile which will install kustomize and controller-gen right ?
If so it seems that it is not the case and thus `install` target will fail because of that.

[2020-12-24 12:44] jehutyy commented on #1921
I got it working by downloading kustomize binary by myself.

I don't know if it should work that way, or `Makefile` should download it itself.

[2020-12-29 05:47] alok87 commented on #1819
It works, thanks @justinsb :)

[2020-12-29 16:28] Skarlso opened #1923 "The CustomResourceDefinition "cronjobs.batch.tutorial.kubebuilder.io" is invalid"
Hello,

I'm going through the CronJob tutorial on the latest docs, and I'm at the part where now I can run `make install`. I'm running a Kind cluster. Version: 1.19.1

And I'm getting this error:

[code]

/kind bug

[2020-12-29 18:04] Skarlso commented on #1923
Note, this works with cluster version 1.16.

[2020-12-29 18:04] #1923 closed

[2020-12-29 18:04] Skarlso commented on #1923
Using Kind cluster:

[code]

[2020-12-30 07:18] wsq704252212 opened #1924 "controller-gen v0.4.0 do not generate config/webhook/manifests.yaml"
After i  make manifests, controller-gen 0.2.5 will generate config/webhook/manifests.yaml, while  controller-gen 0.4.0 doesn't work. I have tried to add webhookVersions: v1beta1,  sideEffects: NoneOnDryRun to the comment // +kubebuilder:webhook: , it still doesn't work.

[2020-12-30 07:48] south37 opened #1925 "The correct file name should be used in the comments of `[kind]_types.go`"
### What broke (please include exact error messages if you can)
When we use `$ kubebuilder create api`, it generates a file like `[kind]_types.go`. In this file, there is a comment that indicates which file to change when adding a field.

However, the file name in the comment is different from the generated file name. This difference can confuse people.

The example is shown below.

[code]

[code]

[2020-12-30 09:02] camilamacedo86 commented on #1925
Hi @south37,

I checked that the same behaviour still for v3/ as well. See: https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/api/v1/admiral_types.go#L31

The fix here shows very easy. We just need to change the `Edit {{ .Resource.Kind }}_types.go to remove/update` [here](https://github.com/kubernetes-sigs/kubebuilder/blob/7245d418f8a1a46fc38a324e2043ac98d51edf4e/pkg/p

[2020-12-30 09:18] camilamacedo86 commented on #1924
Hi @wsq704252212,

If you use the alpha release then, kubebuilder will use the version 0.4.1 of controller gen where I could check that the manifest file is generated succefully. See: https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/config/webhook/manifests.yaml

Also, if you use the v2/ plugin version it will use the version 0.3.0 where the file is also generated suc

[2020-12-30 11:42] wsq704252212 commented on #1924
Thank you for your reply！

I use kubebuilder 2.3.1.

I do the following:

[code]

then I modify Makefile from
[code]
to
[code]

After I make manifests, it does not generate config/webhook/manifests.yaml.

Maybe I should not use kubebuilder 2.3.1 with controller-gen 0.4.0?

[2020-12-30 12:48] Skarlso opened #1926 "`make deploy` failed with nil error from kustomize"
Nil error from kustomize.

Full trace:

[code]

Things to work.

I'm following the kubebuilder book. I'm at this section:
https://kubebuilder.io/cronjob-tutorial/running-webhook.html
I applied the mentioned changes, i.e.: uncommented the commented sections in that file.

What versions of software are you using?  Specifically, the following are often useful:

* go version
1.15.6
* kubebuilder versi

[2020-12-30 13:23] Skarlso commented on #1926
Here is the repository containing the code: https://github.com/Skarlso/kubebuilder-tutorial

[2020-12-30 13:27] Skarlso commented on #1926
Related to https://github.com/kubernetes-sigs/kustomize/issues/3340

Which means this might not be related to kubebuilder at all...

[2020-12-30 13:27] Skarlso commented on #1926
Ok, I'll have to revert kustomize version. Maybe that helps.

[2020-12-30 13:30] Skarlso commented on #1926
Actually tried the latest, 3.9.1.
And that *almost* worked.

[code]

[2020-12-30 13:34] Skarlso commented on #1926
But I guess that's the `The Bootstrapping Problem` outlined in the tutorial. So this issue can be closed then.

Thanks for the attention. :D

Also, there is now in image pull error, but I can see that someone already reported that one.

[2020-12-30 13:34] #1926 closed

[2020-12-30 15:24] south37 commented on #1925
Hi @camilamacedo86,

Thanks for your quick response and the helpful advice! 😄
I'd like to contribute by creating a PR! 💡

[2020-12-30 15:59] south37 commented on #1925
I created a PR to fix this issue💡
cf. https://github.com/kubernetes-sigs/kubebuilder/pull/1927

[2021-01-04 06:35] Adirio commented on #1914
/assign

[2021-01-04 17:08] kotyara85 opened #1928 "gcr.io/distroless/static:nonroot fails with x509"
Hello,
We do have our own CA.

I added this code into docker file to add certificates -

[code]

and then copy the whole directory to distroless container -

[code]

But still getting x509 signed by unknown authority error. Is there a way to fix this?
Thank you

[2021-01-04 18:25] camilamacedo86 commented on #1928
What is your cluster vendor? It might be related to your environment. See for example: https://github.com/rancher/k3s/issues/1148.

[2021-01-05 08:56] Adirio opened #1930 "Revert using sig.k8s.io/yaml instead of go-yaml/yaml"
In #1166 and #1167, `sigs.k8s.io/yaml` replaced `gopkg.in/yaml.v2`. Motivation:

`sigs.k8s.io/yaml` is a fork of `github.com/ghodss/yaml`, not of `gopkg.in/yaml.v2`, so I would like to revisit this change and decide if we should go back to `gopkg.in/yaml.v2` or stay with the current `sigs.k8s.io/yaml`.

The main change between `github.com/ghodss/yaml` (and therefore `sigs.k8s.io/yaml`) and `gopkg.

[2021-01-05 09:03] Adirio commented on #1930
@camilamacedo86 @estroz @DirectXMan12 @christopherhein

[2021-01-05 21:34] Adirio commented on #1930
Kubernetes does have JSON representations of the files, we only have YAML representations. I think thats the main difference.

[2021-01-06 19:53] #1925 closed

[2021-01-07 14:49] eric-w-hart opened #1931 "Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Details>No such object:"
When trying to download Kubebuilder with curl I am getting the above error.
Have tried this on a 2019 Macbook with OS Mojave.

[2021-01-08 08:49] codeblooded opened #1932 "Support for arm macOS"
Now that docker and go have some support on arm macOS, do we plan to support development using kubebuilder on Apple Silicon?

----

Notes, add the following to the raised ticket to clarify its status:
To support Apple Silicon arm64, we need to:

- [x] : Begin to produce the Kubebuilder bin for this format **( done since the 3.4.0 release )**

However, we still need to:

- [x] :Produce the kubebuil

[2021-01-10 04:46] nathanperkins opened #1935 "Include controller startup in generated suite_test.go"
## What do you want to happen?

In the [Test Environment Setup](https://book.kubebuilder.io/cronjob-tutorial/writing-tests.html#test-environment-setup) section of the Kubebuilder book, it shows that to test controller behavior, you have to manually add the code to start the controller in the test environment. I ran into some confusion because I missed this part of the tutorial and couldn't tell wh

[2021-01-11 19:54] shysank commented on #1785
@hectorj2f did you get a chance to look into building the latest `kube-rbac-proxy` image? We also share similar concerns in [kubernetes-sigs/cluster-api](https://github.com/kubernetes-sigs/cluster-api). Happy to pick it up if you're not working on it.

/cc @vincepri

[2021-01-12 16:16] camilamacedo86 commented on #1921
Hi @jehutyy,

The problem is that you are using an old version of the project. for the latest versions, you will check that your makefile will be scaffolded with; (which can manually be added to your project to solve the problem)

[code]

Then, the above code will install the kustomize and because of this, it is no longer a requirement. I'd like to suggest you upgrade your project to the latest on

[2021-01-12 16:16] #1921 closed

[2021-01-12 16:20] camilamacedo86 commented on #1924
It will not work since the upper version of the controller-gen has breaking changes and requires other changes.
Note that the official suported/tested versions are that ones which are scaffolded for the projects initialized for each tool/kb client version and plugin used.

In this way, I'd recommend you download the latest release 3.0.0-alpha-1 and use it instead. The projects will be scaffolded w

[2021-01-12 16:20] #1924 closed

[2021-01-12 16:23] camilamacedo86 commented on #1931
could you please provide more info? such as what version you are trying to download?
Could you please add here all commands used to do that for we try to reproduce?

[2021-01-12 16:28] camilamacedo86 commented on #1932
Hi @codeblooded,

I understand that what you are looking for is to kubebuilder provide kubebuilder_darwin_arm64 binaries as well. Am I right? It is not provided currently(https://github.com/kubernetes-sigs/kubebuilder/releases).

[2021-01-12 16:33] camilamacedo86 commented on #1935
Hi @nathanperkins,

Thank you for your contact. If you look at the sample in https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3 you are able to check the https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/controllers/suite_test.go which its latest scaffolded layout.

Could you please let us know what your opinion for example should be scaffol

[2021-01-12 16:36] camilamacedo86 commented on #1860
Blocked by : https://github.com/kubernetes-sigs/kubebuilder/issues/1829. After we merge the migration guide for v3 I will create the branch.

[2021-01-12 18:11] camilamacedo86 commented on #1913
the PR https://github.com/kubernetes-sigs/kubebuilder/pull/1937 should fix that as well.

[2021-01-12 18:15] camilamacedo86 commented on #1915
probably the PR https://github.com/kubernetes-sigs/kubebuilder/pull/1937 will solve this one too.

[2021-01-12 18:20] camilamacedo86 commented on #1930
Its is a subject that shows that will fit better discuss in the controller/kubebuilder meeting.

[2021-01-12 18:24] shysank opened #1938 "Update kubebuilder tools to 1.20.1"
/kind feature

Update kubebuilder tools to `1.20.1` version as a preparation for controller runtime 0.8 release.

[2021-01-12 18:25] shysank commented on #1938
/assign

[2021-01-12 19:43] nathanperkins commented on #1935
My suggestion is that these lines near the bottom of `BeforeSuite` in `suite_test.go` are instead generated with code that starts each of the controllers. The current code doesn't start any of the controllers, which means you can't really test the behavior of the controllers themselves without adding this boilerplate yourself.

Current code:
[code]

I think in the testdata/project-v3 it would look

[2021-01-12 20:39] Adirio commented on #1935
The last line would not be needed, and we would have to add a marker similar to the one for scheme but this would be totally doable. Do you want to work on it?

(@camilamacedo86 he added the requested info, I think we can pass this to accepted and add the help wanted and first issue as both labels fit very well this issue)

[2021-01-12 23:19] codeblooded commented on #1932
@camilamacedo86 Yes, I assume this will be blocked by the release of [Go 1.16](https://tip.golang.org/doc/go1.16) which adds support for darwin arm64. I just wanted to create the bug and see if it is a target that kubebuilder intends to support. 😄

[2021-01-12 23:49] camilamacedo86 commented on #1935
Really thank you for your collab @nathanperkins and @Adirio .
WDYT?

- We add the marker to scaffold the following code for each controller :

[code]

- We start to scaffold a `<kind>_controler_test.go` for each case scenario as well with:

[code]
- Then, it can be done only for v3. See [here](https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/golang/v3/scaffolds/internal/templ

[2021-01-13 00:28] nathanperkins commented on #1935
Thanks for the quick response on this! I'll take a look later to see if it's something that I could find space to handle.

I agree with @Adirio that it seems like the first issue tag would be appropriate. It's a good opportunity for a university student to break in! :)

[2021-01-13 03:18] droctothorpe opened #1940 "Enhance Generated Makefile"
The [Makefile](https://github.com/kubernetes-sigs/kubebuilder/blob/022fe5baf087326eaf8c2c094d3152b483583807/pkg/plugins/golang/v2/scaffolds/internal/templates/makefile.go) supplied by `kubebuilder init` could benefit from some additional functionality.

For example:
* An automatically updated `help` target that prints all of the targets and a description of what they do.
* A controller delete targ

[2021-01-13 06:26] Adirio commented on #1935
@nathanperkins (or anyone else if he doesn't find the time) I will give you a few pointers:

That file's template is located in [pkg/plugins/golang/v3/scaffolds/internal/templates/controllers/controller_suitetest.go](https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/golang/v3/scaffolds/internal/templates/controllers/controller_suitetest.go). It follows two interfaces `Template

[2021-01-13 06:40] Adirio commented on #1914
With #1937, the output to `kubebuilder init --project-version=v3-alpha --plugins=h` is:

[code]

Should this be enough? Any suggested changes?

[2021-01-13 06:40] Adirio commented on #1915
With #1937, the output to `kubebuilder init --plugins -h` is:

[code]

Should this be enough? Any suggested changes?

[2021-01-13 06:40] Adirio commented on #1913
With #1937, the output to `kubebuilder init --help` is:

[code]

Should this be enough? Any suggested changes?

[2021-01-13 07:12] nathanperkins commented on #1935
That's excellent, thank you so much!

I think with your direction I will be able to make this change. Feel free to assign it to me :)

[2021-01-13 07:37] Adirio commented on #1935
/assign @nathanperkins

[2021-01-13 08:23] Adirio opened #1941 "Allow every command to overwrite project-configured plugins"
When resolivng which plugins will handle each command, we currently have 3 sources for the project version and plugin keys: project configuration file, flags or default values.

Init commands will not have a project configuration file, so the precedence is clear, flags override default values. However, the rest of the commands require a project configuration so they have 2 sources that are at the

[2021-01-13 11:31] Adirio commented on #1932
Just a comment, to include it in the automatic release process, we would also probably need to include it in the CI and I don't think this arch is supported by neither Prow nor GH Actions (except hosting our own runners).

[2021-01-13 11:53] codeblooded commented on #1932
That's true. I'm curious to see what they do for kubernetes/kubectl#988 which still needs triage.

I'm sure actions will eventually support it, but I haven't seen a bug for it. I know some other CNCF projects are looking at or already using MacStadium. They now have racks of m1 minis in their data centers.

[2021-01-13 12:07] Adirio commented on #1932
Self hosted runners should support whatever OS/arch combination you want. But we are not using self hosted runners (neither for Prow nor fot GH Actions) in kubebuilder.

[2021-01-13 13:02] camilamacedo86 commented on #1913
Yes, it is. get my attention the statement `project will prompt the user to run 'dep ensure' after writing the project files.`. I do not think that we should have that any more. however, it is another bug.

[2021-01-13 13:44] Adirio commented on #1913
Yeah, we should re-visit the descriptions and examples for all commands.

[2021-01-13 14:57] Adirio commented on #1940
- [x] The automatically updated help target SGTM. We already have this for kubebuilder (the project) Makefile. Ssafe to be applied to the v3 plugin. Mixed feelings about applying it to the v2 plugin though.
- [ ] We already have a `undeploy` target in v3 plugin.
- [ ] I dont feel like samples should have Make targets, but I don't have a strong opinion either.

[2021-01-13 15:22] justinsb commented on #1930
Just as a datapoint, they don't produce the same output.  yaml.Marshal with sigs.k8s.io produces

[code]

go.pkg.in/yaml.v2 produces:

[code]

I think it unlikely that we'll _never_ deal with k8s types, so my preference would be to stick with sigs.k8s.io libraries.

[2021-01-13 16:16] Adirio commented on #1930
What are you parsing in your example? We use yaml to persist configuration files. Are you storing it in the plugins section or is it just a random example?

@justinsb

[2021-01-13 18:27] joelanford commented on #1932
Do we know if cross-compilation will be possible from linux_amd64 to darwin_arm64 when go 1.16 is released?

I have an M1 Mac, btw, so I am interested in this as well. I'm also a willing guinea pig :).

[2021-01-13 19:45] Adirio commented on #1932
Cross-compilation has never been an issue in Go so I don't expect it to be one now, but with these things, as I said yesterday in the triage meeting, you never know.

[2021-01-14 01:26] justinsb commented on #1930
Ah - sorry I forgot to specify @Adirio .  It's an instance of the go type for a CRD (generated by kubebuilder actually!), and - digging in - the difference seems to come from this field in the metadata: https://github.com/kubernetes/apimachinery/blob/1d8c923392f087e29f1e5bb563e073b833adc454/pkg/apis/meta/v1/types.go#L1185

In this case, I think it's because FieldsV1 implements json.Marshaler: http

[2021-01-14 02:23] droctothorpe commented on #1940
Thanks for the input, @Adirio !

PR submitted: https://github.com/kubernetes-sigs/kubebuilder/pull/1947

It might be nice to bring in the `lint` and `lint-fix` targets from the base Makefile into the makefile template as well. Happy to implement that if you think it makes sense.

[2021-01-14 04:52] Adirio commented on #1930
`MarshalJSON` needs to be converted to `MarshalYAML` and `json` tags to `yaml` tags.

That should fix those 2 things.

[2021-01-14 04:55] Adirio commented on #1940
We already discussed it. We dont want to scaffold the golanggci-lint dependency, using it for our code is one thing, but scaffolding it for user generated projects is another.

In any case, it would be a plugin mantained by golangci-lint themselves.

[2021-01-14 14:06] Adirio opened #1948 "Branch for release v2.3.2"
v2.3.2 is ready to be released, but the wrong branch was used, instead of merging into `release-2`, branch `v2` was used. In order to fix this, we should pull branch `v2` into branch `release-2` and then we could delete the `v2` branch.

/kind bug

[2021-01-14 14:08] Adirio opened #1949 "Remove branch infra/issue-templates"
Branch `infra/issue-templates` is fully merged into `master` and can be deleted safely.

/kind cleanup

[2021-01-14 14:15] Adirio opened #1950 "Move branches tools-releases and kube-rbac-proxy-releases to kubernetes-sig/kubebuilder-release-tools"
[Branch `tools-releases`](https://github.com/kubernetes-sigs/kubebuilder/tree/tools-releases) is used to create the control plane binaries needed for tests. [Branch `kube-rbac-proxy-releases`](https://github.com/kubernetes-sigs/kubebuilder/treekube-rbac-proxy-releases) is used to create the kube RBAC proxy images needed for the controllers. This functionality should probably be moved to the repo [

[2021-01-14 17:27] #1867 closed

[2021-01-14 17:28] Adirio commented on #1930
Discussed in today's meeting. As we are not 100% sure that the configuration information will never get parsed to JSON (for example to pass it to out-of-tree plugins in phase 2) the performance increase that swapping this to `gopkg.in/yaml` doesn't feel enough to justify it. If any other reason to change it raises in a future we may want to revisit this decission.

/close

[2021-01-14 17:29] #1930 closed

[2021-01-14 17:30] Adirio commented on #1940
#1947 implemented this

/close

[2021-01-14 17:31] #1940 closed

[2021-01-14 17:46] camilamacedo86 commented on #1785
@estroz this is the task. Based on the meeting feel free to assign it to yourself.

[2021-01-14 17:55] estroz commented on #1785
/assign

[2021-01-15 08:08] Adirio commented on #1950
Mentioned during kubebuilder/controller-runtime/controller-tools meeting and positive feedback received about this movement.

[2021-01-15 10:39] Adirio commented on #1950
Once https://github.com/kubernetes-sigs/kubebuilder-release-tools/issues/31 is closed, we can delete this branch from this repo.

[2021-01-18 11:28] Adirio opened #1956 "Scaffold files atomicity"
# Definition
Atomicity or atomic operations in this context is understood as the capability of the scaffolder to either fully succeed or fully fail an operation execution, without the possibility of having partial results in case of failure.

# Background
Currently, kubebuilder commands are non-atomic, there are several errors that can happen that will make the commands scaffold certain files but

[2021-01-18 20:33] camilamacedo86 commented on #1860
Hi @Adirio, @estroz, @DirectXMan12,

- [ ] - :book: update the docs over regards book-v3 branch #1960
- [ ] - Create the branch
- [ ] - Configure netfly to work as:

- `book-v3`: [book.kubebuilder.io](https://book.kubebuilder.io) -- current docs
- `book-v2`: [book-v2.kubebuilder.io](https://book.kubebuilder.io) -- legacy docs

@DirectXMan12 Could you help us to do the latest task/item here? I am n

[2021-01-18 20:39] #1913 closed

[2021-01-18 20:39] #1914 closed

[2021-01-18 20:39] #1915 closed

[2021-01-18 20:41] camilamacedo86 commented on #1723
/remove-lifecycle stale

[2021-01-18 20:51] Adirio commented on #1860
I think that last change should wait until v3.0.0 (without any alpha) is released.

[2021-01-18 20:53] camilamacedo86 commented on #1860
Hi @Adirio,

I think this is the goal. We already released 2 nightly for the 3.0.0. IMO we are prepared dor that already. See the milestone 3.0.0. All that was planned is done.

[2021-01-18 20:56] Adirio commented on #1860
I wasn't clear enough. I meant literally after the release is made.

[2021-01-19 06:08] tsurog opened #1962 "Unable to access external web address"
It seems that  GOPROXY parameter is invalid, China still can't access the specified URL, and kubebuilder version is the master branch.

root@DESKTOP-BFJMH29:/mnt/e/GoLang/project/src/example# docker build --no-cache . -t docker.io/manager:v1
Sending build context to Docker daemon  118.8MB
Step 1/14 : FROM golang:1.15 as builder
 ---> 5f46b413e8f5
Step 2/14 : WORKDIR /workspace
 ---> Running in 834

[2021-01-19 12:17] camilamacedo86 commented on #1798
Done.

[2021-01-19 12:17] #1798 closed

[2021-01-19 13:03] dmathieu opened #1963 "Add legacy banner on top of v1 book"
The [book-v1](https://book-v1.book.kubebuilder.io/) book is about v1 of the project, which is legacy and shouldn't be used for new projects.
However, it can be relatively easy to end up there, and not see you're reading old documentation instead of current one.

My suggestion is to add a warning banner at the top of every page of the v1 book so people visiting the site are warned they are not on t

[2021-01-19 13:17] camilamacedo86 commented on #1962
The GOPROXY value is the default one for 1.15 go versions which are GOPROXY="https://proxy.golang.org,direct". If you are in a restrictive newtwork or using a private repo for your modules you need to ensure that you will have access to all modules required.

[2021-01-19 19:23] DirectXMan12 commented on #1963
/help

Unfortunately, book-v1 was still using old-school gitbook (vs mdbook, which is what we use now), so implementing this will require figuring out how to override the template for gitbook.

[2021-01-20 07:53] dmathieu commented on #1963
Yeah, that seems tricky. I tried setting up gitbook locally, but the npm appears to be broken. And all their documentations are now removed in favor of their new product.

[2021-01-20 08:28] frbimo opened #1964 "documentation for health check implemetation"
Is there any documentation for health check(liveliness) implementation? I can't find it on [book.kubebuilder.io](book.kubebuilder.io).

/ triage support

[2021-01-20 08:37] mjaow opened #1965 "Is there any best practice to wait for pod ready in reconciler?"
I have a scenerio:

1. My controller will watch for a cr created and start to reconcile
2. create several pods for it
3. mark cr status to be unknown (pending)
4. after all pods ready, I'll mark cr status to be ready

Do we have any best practice to wait util all pod ready? I can think of two approach, not quite sure about the best practice

1. keep waiting and polling status in reconciler util al

[2021-01-20 12:35] hbqhzx commented on #547
error: Index with name field:involvedObject.name does not exist

support controller-time‘s client get definite pod event
`_ = mgr.GetFieldIndexer().IndexField(context.Background(), &corev1.Event{}, "involvedObject.name", func(rawObj runtime.Object) []string {
		event := rawObj.(*corev1.Event)
		return []string{event.InvolvedObject.Name}
	})

fieldSelector, err := fields.ParseSelector("involvedObje

[2021-01-20 12:36] hbqhzx commented on #547
error: Index with name field:involvedObject.name does not exist
support controller-time‘s client get definite pod event

[code]

[2021-01-20 15:24] shawn-hurley commented on #1965
I would personally suggest that unless you have a good reason otherwise, freeing the reconciler thread to respond to more other actions would be the correct approach, so 2.

I can imagine there are cases that maybe this isn't what you always want like all things there are trade offs :)

[2021-01-20 19:53] #1785 closed

[2021-01-21 00:26] realshuting commented on #431
It'd be really great if this can be documented somewhere, even manual steps would be super helpful.

[2021-01-21 00:30] hectorj2f commented on #1785
Thanks @estroz

[2021-01-22 09:51] HamzaZo opened #1966 "Best practice of dynamic ConcurrentReconciles"
My controller watches for created CR and starts to reconcile, in the reconcile loop I do some business logic using Terraform. If I create two CR at the same time :

* The reconcile loop get the first item from the workqueue and do the business logic which is what I expect. However, the second CR gets blocked until the first one succeeded.

Afterwards, I noticed that the default value of concurrent

[2021-01-22 12:23] #1805 closed

[2021-01-23 03:28] frbimo commented on #1964
/triage documentation

[2021-01-23 03:29] frbimo commented on #1964
/ triage documentation

[2021-01-23 03:30] frbimo commented on #1964
/kind documentation

[2021-01-23 11:37] prafull01 opened #1969 "make test failing if --plural flag is provided as capitalized"
What did you do:

Create a api with `--plural` flag and provide it as capitalized, then it breaks the `make test all` as the same capitalized plural flag goes into the CRD.

[code]

We should lowercase the `--plural` flag value if provided in capitalized by user.

/kind bug

[2021-01-23 11:49] Adirio commented on #1969
We have two options here. Either validate the flag to ensure that it is lowercase, or lowercase it ourselves.

If it was the first flag we validate I would probably go with lowercase it ourselves and print a warning to the user, but the approach followed until now is the other one, validate that the user inputed a lowercased string.

[2021-01-23 11:55] prafull01 commented on #1969
IMO, we should lower it ourselves because the input of --kind is Capitalized like `Admiral`, so in most probable human scenario is user is going to provide the --plural flag as capitalized also like `Admirales`. This means throwing the error in most of the cases and ask user to provide it as lowercase value.

[2021-01-23 12:39] Adirio commented on #1969
That has a really simple solution, press up arrow, remove the capital, press enter. Same happens if you provide `--kind admiral`, it will error out. Kept the same behavior in my PR.

[2021-01-24 15:28] abhi1693 opened #1971 "failed to initialize project with "go.kubebuilder.io/v3""
[code]

* go version go1.15.6 linux/amd64
* Version: main.version{KubeBuilderVersion:"3.0.0-alpha.1", KubernetesVendor:"1.19.2", GitCommit:"1428bba7c162cf2b783c89fd6f07f4efbae97130", BuildDate:"2021-01-08T22:30:36Z", GoOs:"linux", GoArch:"amd64"}

/kind bug

[2021-01-24 15:42] daenney commented on #1971
You have a `go.sum` in that directory it seems, which would explain the error since it seems to only permit `go.mod`?

But I get the exact same error without a `go.sum` present, so this seems broken one way or another.

[2021-01-24 15:45] daenney commented on #1971
The error also triggers in a new git repo without anything present but a `.git` when the plugin is invoked with `--repo`.

[2021-01-25 09:50] camilamacedo86 commented on #1971
See the error `failed to initialize project with "go.kubebuilder.io/v3": only the go.mod and files with the prefix "(.)" are allowed before the init`. It means that your directory has files already which are not go.mod or that ones which starts with (.)

[2021-01-25 10:00] #1969 closed

[2021-01-25 10:01] camilamacedo86 commented on #1969
Hi @prafull01,

the #1970 makes sense for me. Since it is the small fix we can get it merged. However, please feel free to re-open this one or raise a new one and any PR with your suggestions to improve/fix it as well.

[2021-01-25 10:12] abhi1693 commented on #1971
@camilamacedo86  So, I cannot initialize a project which is checked out of Github? This does not make sense as I have a template with which I normally start a new project and I cannot use it due to this issue. In my knowledge, `kubebuilder` does not use any `dotfile` so why put such a limitation on the initialization?

I have several dotfiles and folders that are part of our automation. And the er

[2021-01-25 10:21] camilamacedo86 commented on #1971
Kubebuilder should allow initing the project in a directory with files/directories which starts with (.) and that has go.mod already. However, other directories not because then we cannot ensure that the tool will do the scaffold properly. You can init the project and then,  push your changes to the top as all.

Are you facing issues when you have a file/directory whcih has the prefix (.)? If yes,

[2021-01-26 01:16] abhi1693 commented on #1971
@camilamacedo86 I tried again with only .git and go.mod and it still failed with the same issue

[2021-01-26 06:25] Adirio commented on #1971
This bug was already discovered and #1944 is working on fixing it. Sorry for the inconvenience.

[2021-01-26 06:31] Adirio opened #1973 "Resource validations"
# Description
Currently, the `Options` objects, which are used to store all the data input from flags, are the ones that are being validated so that they can create a new `Reosurce`. While some of these validations do belong to the `Options` objects, there are several of these validations that should belong to the `Resource` object itself.

# Proposal
Split the validations in those belonging to th

[2021-01-26 17:49] estroz commented on #1971
IIRC it was decided that initializing a new project with `go.mod` is _not_ supported because `make` could fail.

[2021-01-26 17:50] estroz commented on #1938
Closed by #1939

/close

[2021-01-26 17:50] #1938 closed

[2021-01-26 18:07] camilamacedo86 commented on #1948
It is because the controller-tools expected a specific format for the branch name.

[2021-01-26 18:13] camilamacedo86 commented on #1950
Hi @DirectXMan12 @pwittrock,

Could you please give a hand to us regarding this one?

[2021-01-26 18:20] camilamacedo86 commented on #1956
@Adirio, what was not very clear to us is how it would be implemented. However, the idea shows nice. So, could you please add an EP with details of the implementation or push a PR if it would be the easier/straightway to move forward?

[2021-01-26 18:36] camilamacedo86 commented on #1941
Hi @Adirio,

Could you confirm our understanding? if we scaffold with A and then we use the flag propose here to use B then, would we able to overwrite A? How we will track what action was performed to config the project? Could you please provide more info/uses cases that might it required?

[2021-01-27 06:23] Adirio opened #1975 "Accept empty group name and domain"
The "core" builtin api group contains Resources such as `Pod` or `Namespace` ([full list](https://github.com/kubernetes/kubernetes/blob/5310e4f30e212a3d58b37fd07633c3b249627b53/pkg/apis/core/register.go#L55-L99)).

This group's uses both [an empty group and an empty domain](https://github.com/kubernetes/kubernetes/blob/5310e4f30e212a3d58b37fd07633c3b249627b53/pkg/apis/core/register.go#L26-L29).

C

[2021-01-27 07:34] yalctay93 opened #1976 "reconcilation is called twice"
Hello,

I am facing the issue that my reconcile function requeues once every time I do any CRUD operation on my CR.
For example, I have a "route" CR for my Operator. The reconcile function is called in route_controller.go whenever I CRUD a route object however, it always is requeued after the first run.

So for example if I create a route object, my reconcile function is called and does something.

[2021-01-27 08:13] mjaow commented on #592
It will ignore some update, maybe I'm trying to add a field to deployment, but it will ignore it

[2021-01-27 08:35] Adirio commented on #1976
This is a common situation, your reconcile function should be able to understand that it has nothing to do and return early for these cases. The causes can be many. For example, are you modifying the route object in the reconcile loop? In that case is obvious why the controller sees another update to the resource. The reconcile function should be idempotent.

[2021-01-27 08:56] yalctay93 commented on #1976
I do add annotations to my route object, after certain operations are done in the route_controller.go
So you say that these actions queue the same item again?

How would I prevent the controller to requeue tht object?

[2021-01-27 09:03] Adirio commented on #1976
Exactly

You don't. It will be requeued, but when you receive an object what you need to do is check if something has changed and only performs actions for this. In your case you could, for example, check if the annotations are already set and not set them in that case. The "certain operations are done" part needs something similar, you check if they have already be done for the current reconcilin

[2021-01-27 10:36] yalctay93 commented on #1976
Thanks for the insight - I will probably resort to the status field and store a hash value like you explained, is it considered best-practice? Is there any best-practice how to handle such things?

[2021-01-27 14:29] yalctay93 commented on #1976
I have implemented this approach just now and it works flawlessly. Thank you alot!

[2021-01-27 14:46] Adirio commented on #1976
/close

[2021-01-27 14:46] #1976 closed

[2021-01-28 07:18] snowplayfire opened #1979 "watch delay 1min after upgrade k8s.io versions"
I use kubebuilder v2.3.1 and controller-gen v0.4.0 to generate controller, the controller works well.  The generated go.mod as follows:
[code]
Then I upgrade k8s.io/apimachinery and k8s.io/client-go from v1.17 to v1.19, sigs.k8s.io/controller-runtime from v0.5 to v0.6,  watch delay about 1min.

/kind bug

[2021-01-29 06:30] Adirio commented on #1979
We are currently using the following versions for the v2 plugin in master (the v2 plugin is the behavior you have by default in v2.3.1):
https://github.com/kubernetes-sigs/kubebuilder/blob/14b27b4e24ba476b19de776f7a05fc56edf993cd/testdata/project-v2/go.mod#L9-L11

Could you check if that version combination works for you?

If you need v1.19, v3 plugin uses the following versions but the v3 plugin

[2021-01-29 06:30] Adirio commented on #1979
/kind support
/triage needs-information

[2021-01-29 06:31] Adirio commented on #1979
/remove kind bug

[2021-01-29 06:33] Adirio commented on #1979
/remove-kind bug

[2021-01-29 09:00] snowplayfire commented on #1979
@Adirio  Thanks for your explanation.

v0.18.6 + v0.6.4,  the version combination doesn't work for me.

You said that the v2 plugin is the behavior I have by default in v2.3.1,  but v0.17.2 + v0.5.0 seems normal.

[2021-01-29 10:09] Adirio commented on #1979
IIRC, k8s 1.19 introduced some breaking changes that made controller-runtime v0.7.0 have breaking changes and that's the reason that the v2 project has never been updated as all breaking changes are being applied to v3 plugin.

With kubebuilders v3.0.0 release, you will still be able to scaffold v2 projects (internally this is done with plugins and thats why I used that term but it is an implement

[2021-01-29 11:15] Adirio opened #1982 "Stop running make after every command call"
## Background
### Post-scaffold `make`
Currently, every `init`, `create api` or `create webhook` call `make` as the last step. There are some cases where this behavior can be disabled with a flag (`v2/create-api`, `v3/create-api` & `v3/create-webhook`) and others can't even be disabled (`v2/init`, `v3/init` and `v3/create-webhook`).

### `make` functionality
A call to make does four things:
1. Cre

[2021-01-29 11:35] Adirio commented on #1982
While the time impact of a single call may be considered small, this will have a bigger impact in generating the testdata (both for the developer and the CI) and the potential re-scaffolding from a config file feature that we have talked about where multiple calls to the commands are done once after another and for each one we are generating, formating, vet-ing and building (and even at the end we

[2021-01-29 19:43] #1772 closed

[2021-01-29 19:43] #1826 closed

[2021-01-29 20:21] camilamacedo86 commented on #1982
Hi @Adirio,

- The make in the post-action does not take more than a few seconds to run in the cases raised as useless.
- For v3 we have the make option as false in all scenarios (which mainly is a valid feature for the CI. People does not run these commands many times. you create a project, does a scaffold and it is done)
- I  am afraid that does not agree with your IDE argument because of a lot

[2021-01-29 22:03] DirectXMan12 commented on #1982
I've hit cases where this isn't true (especially in resource-constrained situations like CI), and have had situations where I wanted to switch some stuff before make was run, which would've otherwised cause make to fail or do something undesirable (try and pull in new deps, etc)

Perhaps I'm misreading, but my impression was that @Adirio was actually arguing that currently the only users who benef

[2021-01-29 22:06] Adirio commented on #1982
Even if it was 100ms, why should we waste that time to do nothing? There is no advantage on running them.

Make flag defaults to true in both plugins. We are manually turning it to false for `create api` in the CI. But thats still not the point. The point is that running them does nothing for us.

You didn't understood this part right. The IDE argument is the only **advantage** for using the make.

[2021-01-30 01:32] camilamacedo86 commented on #1982
Thank you for the clarifications. I misunderstood your point of the IDE for the first moment.
So, I think it is fine.

[2021-01-30 01:59] #1982 closed

[2021-01-30 11:50] Adirio commented on #1832
Done in #1968
/close

[2021-01-30 11:50] #1832 closed

[2021-01-30 11:59] Adirio commented on #1971
This should be fixed by #1944, if you find that it is still bugged please reopen this issue.

/close

[2021-01-30 11:59] #1971 closed

[2021-02-01 07:28] frbimo commented on #1964
just realized that kubebuilder 3.0.0-alpha1 has already generate health check.

/close

[2021-02-01 07:28] #1964 closed

[2021-02-01 13:53] Adirio commented on #1931
We have been unable to reproduce this error as there is not enough information, feel free to reopen the issue with the requested information so that we can reproduce and help solve it.

/close

[2021-02-01 13:53] #1931 closed

[2021-02-01 13:57] Adirio commented on #1887
This was already discussed and we didn't feel confortable forcing users to use a third-party development tool (in this case golangci-list) in their own project. In any case, it should be a plugin either golangci-lint or community maintained.

/close

[2021-02-01 15:55] vincepri commented on #1583
/remove-lifecycle stale

[2021-02-02 08:39] codeblooded commented on #1659
/remove-lifecycle stale

[2021-02-02 17:48] shaneutt commented on #1659
Sorry to bother, but is there any status update on adding this documentation back for V2 (and V3)?

[2021-02-02 17:49] shaneutt commented on #1659
Is there any status update on adding this documentation back for V2 (and V3)? If others have dropped it I might have some free time to help with this documentation, just don't want to start anything if others already have.

[2021-02-02 17:56] codeblooded commented on #1659
@shaneutt You are free to take it if you want. I got backlogged on some work for the controller I'm writing at work, and so that's delayed this for me. I planned to submit something this week or next as I added some events to it, but I'm totally fine with a hand-off. 😄

[2021-02-02 18:54] #1973 closed

[2021-02-03 10:20] ArtieReus commented on #1719
I am facing also this issue. I could run the cmd by moving temporary my main.go file to the root of the project. After running the cmd you can move back the main.go file to the place it is used to be.

[2021-02-03 23:01] estroz commented on #966
I'm going to re-open this since an arm64 control plane would be really nice to have.

/open

[2021-02-03 23:02] estroz commented on #966
/reopen

[2021-02-03 23:03] estroz commented on #966
/assign

[2021-02-05 10:20] benjaminhuo opened #1993 "Wrong CRD plural generated"
- What broke (please include exact error messages if you can)
Wrong CRD plural generated, the following CRD is generated when running `kubebuilder create api --group openfunction.io --version v1alpha1 --kind FunctionBuild` or `make manifests`

![image](https://user-images.githubusercontent.com/18525465/107020772-3dabc500-67de-11eb-982b-351b2d8ece02.png)

- What did you expect to happen?  What do y

[2021-02-05 13:25] RaynDol opened #1994 "CronJob tutorial few issues"
Hi,

I've started the tutorial and reach almost to the end where you according to the docs should see the new created jobs
and I dont see any secluded job

im using k8s version `1.19.7 `

https://book.kubebuilder.io/cronjob-tutorial/running.html
using the command
`kubectl get job` I dont get anything

using

`kubectl get cronjob.batch.tutorial.kubebuilder.io -o yaml`
I got the following

[code]

[

[2021-02-05 16:48] dtantsur commented on #751
Wouldn't it be useful to add to the auto-generated code? Or don't add Status field automatically?

[2021-02-09 09:54] Adirio commented on #1993
In `kubebuilder` v2.3.1 plurals can not be manually provided and use `flect.Pluralize(strings.ToLower(<KIND>))` to obtain the plural form. v3.0.0 which will be released shortly offers a `-plural` flag that allows users to specify other plural forms.

[2021-02-09 09:54] Adirio commented on #1993
/remove-kind bug
/kind support

[2021-02-09 10:03] Adirio opened #1996 "(go/v2) (config/v3) Webhook infomation missing in PROJECT"
Using plugin `go.kubebuilder.io/v2` with `config/v3` is not saving to the project file the webhook information:

The following `PROJECT` configuration file corresponds to the same project used for `testdata/project-v2-multigroup` but using `config/v3` instead.
[code]

As it can be seen, despite having multiple webhooks in this project, no info about them is being stored. The expected `PROJECT` fil

[2021-02-09 10:05] benjaminhuo commented on #1993
Got it, thanks for the reply @Adirio
Close this issue for now.

Ben

[2021-02-09 10:05] #1993 closed

[2021-02-09 15:32] camilamacedo86 commented on #1996
hi @Adirio,

Are you working on in this one?

[2021-02-09 15:56] camilamacedo86 commented on #1975
In my POV the error/bug is NOT regarding not allow be both empty, but its logic. And might I would consider it an RFE to support core types. See:

By running `kubebuilder create api --group core --version v1 --kind Pod --resource=false --controller=true`;

[code]

I'd expected that the controller was created using/importing the Pod core type and that the PROJECT file would store an empty string fo

[2021-02-09 16:08] camilamacedo86 commented on #1941
in the EP you added the following example:

[code]

[code]

So, I understand that it allow executing the create api of `go.kubebuilder.io/v3` and then the same subcommand of `extra.kubebuilder.io/v1`. Am I right? then, I have a few questions:

1 - Why we need to re-inform `go.kubebuilder.io/v3` since it is the project layout?
2 - Also, how you will check that all inputs required for A and B were p

[2021-02-09 16:14] camilamacedo86 commented on #966
Hi @estroz,

It was previously close with the PR: https://github.com/kubernetes-sigs/kubebuilder/pull/979/files.
So, ` arm64` shows already in place, see:

<img width="402" alt="Screen Shot 2021-02-09 at 16 13 20" src="https://user-images.githubusercontent.com/7708031/107392592-c170f480-6af1-11eb-90ad-a9e9d41d11a3.png">

in this way, could you please clarify what is missing done here?

[2021-02-09 16:15] camilamacedo86 opened #1997 "bump controller-runtime 0.8.0"
Update the go/v3 plugin to use the latest version of controller-runtime.

[2021-02-09 16:17] Adirio commented on #1996
Yes
/assign

[2021-02-09 16:35] Adirio commented on #1941
Yes, the example considers plugin chaining which is not available in plugin phase 1. So there are two different topics, first plugin chaining and second replacing the plugins for a specific command call. This Issue talks about the second point. The first point is proposed in plugin phase 1.5.

What you are doing is replacing the plugins just for that specific call. It would also be useful for remo

[2021-02-09 16:40] Adirio commented on #1975
I don't consider this a bug (probably i used the bug template)
/remove-kind bug
/kind feature

There is definetely a need to fully support core types, but this is not talking about that. This is a pre-requisite for that.
One of the many core groups is the so called "core" api group. The problem is that this group has an empty Group and Domain, both, and currently the Resource validation only allow

[2021-02-09 17:50] estroz commented on #966
@camilamacedo86 there are no envtest tools tarballs for arm64/ppc64le. https://github.com/kubernetes-sigs/kubebuilder/pull/1992 fixes that.

[2021-02-09 18:34] camilamacedo86 commented on #1941
As we discussed in the kb meeting shows that it would require changes in the PROJECT file (config) to track what info was scaffold with each plugin. And then, because of this, it might only be addressed for v4.0.0.

[2021-02-09 18:44] camilamacedo86 commented on #1975
As we spoke in the kb meeting, we agreed in close this one but we will raise a new one just to discuss and see how we can address the problem "how to support external types".

[2021-02-09 18:44] #1975 closed

[2021-02-09 18:45] camilamacedo86 commented on #1975
c/c @estroz

[2021-02-09 18:54] estroz opened #1999 "Handle external API types explicitly in `create api`"
I want to create a controller for an external type, ex. `core/v1.Pod` or `route.openshift.io/v1.Route`, and have kubebuilder be aware that this type is external (for commands I run after `create api`).

Currently external types are supported, but are treated as custom types, which can cause problems with scaffolding controller files. Additionally the edge case of the "core" group, which is "" in a

[2021-02-09 18:54] estroz commented on #1975
See #1999

[2021-02-09 18:55] varshaprasad96 commented on #1997
/assign

[2021-02-09 19:15] #1996 closed

[2021-02-09 20:01] camilamacedo86 commented on #1997
blocker by https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/146

[2021-02-10 12:09] camilamacedo86 opened #2001 "Info has not been tracked when the resource is not generated"
By running `kubebuilder create api --group core --version v1 --kind Pod --resource=false --controller=true`;

[code]

So, the above scenario results now in:

[code]

When should be

[code]

[2021-02-10 12:10] camilamacedo86 commented on #2001
@Adirio

IMO it is a bug. Also, we need to check if by adding any controller for an API telling that should not scaffold the resource the result would be the same.

[2021-02-10 12:19] Adirio commented on #2001
I am aware of this. The issue is that, as you say, without fully implementing external types you dont have well defined how they can be distinguished from local types.

[2021-02-10 12:31] camilamacedo86 commented on #2001
I understand that, however, see that we scaffold a controller for a GVK then this info should be tracked. We might leave the path empty in this case since the resource was not scaffolded and we do not support external types yet. But the issue here is not tracked the info.

[2021-02-10 13:59] Adirio opened #2002 "Scaffold scheme registration for external resources when path is known"
External resources (`--resource=false`) do not scaffold certain lines like the `For()` in the manager configuration. While this is desired when we don't know the path of the resource, if we do know it we should scaffold those lines, e.g. builting/core resources.

/kind feature

[2021-02-10 14:18] Adirio commented on #2001
/assign

[2021-02-10 14:18] Adirio commented on #2002
/assign

[2021-02-10 15:45] jmrodri opened #2004 "Failed to initialize project in a new github repo"
Can not initialize a project if `LICENSE` and `README` exist. Relates to Issue #1971

[code]
I expected it to create the project since it's basically an empty repo. If I create a git repo in github using their UI and choose to add a license, readme and .gitignore, so I can seed a new operator project, I can't do this.

* Go to github, create a new repository
* In the *Create a new repository" scre

[2021-02-10 18:09] jgallucci32 opened #2006 "Dep is not installed. But Dep is a deprecated project."
When running `kubebuilder init --domain my.domain` the following error is shown
[code]

Per the [project home page](https://github.com/golang/dep), Dep is an archived project and no longer supported

Recommend the documentation be updated to reflect this and workarounds for best way to install Dep.

kubebuilder version
[code]

/kind bug

[2021-02-10 20:31] camilamacedo86 commented on #2006
For the next release and v3 projects will use go 1.15 and dep is no longer supported.
This link does no longer exist in master. So it shows stored out already. Also, shows that you are using a very old version. So, I would recommend you check the latest release and upgrade your project as well.

I am closing this one, however, feel free to ping us if you still needing help with.

[2021-02-10 20:31] #2006 closed

[2021-02-10 23:25] jgallucci32 commented on #2006
Thanks for the info. I ended up getting it working but you should be aware the Install and Setup documentation out of date. It currently lists 1.0.8 as the latest stable version
https://book-v1.book.kubebuilder.io/getting_started/installation_and_setup.html

I installed v2.3.1 which appeared to be the latest stable release and the problem is resolved.

[2021-02-11 12:16] #2001 closed

[2021-02-11 12:16] #2002 closed

[2021-02-11 17:23] estroz commented on #966
@DirectXMan12 can you close this issue once platform variables are updated in gcloud?

[2021-02-12 09:15] camilamacedo86 commented on #1999
I'd like to make a few considerations over this one:

This issue ought to be we support external types across the project.  So, in POV the command `create webhook` would also accept:

[code]

Where the webhook would be created and the PROJECT file will have the resource info without api and a controller.

Kubebuilder only supports core types and the APIs scaffolded in the project by default unless

[2021-02-12 17:37] #1829 closed

[2021-02-12 21:00] rashmigottipati opened #2010 "Feature Request: Finalizer handler scaffolded by default for go/v3"
**Overview:**
In Kubernetes garbage collection model, `OwnerReferences` are allowed within a namespace wherein the "dependent" object has an`OwnerReference` field referencing the "parent" object. If the parent object is being deleted, Kubernetes garbage collector will delete all of its dependent objects. As cross-namespace owner references are not allowed by design; a `Finalizer` should be used to

[2021-02-12 21:01] rashmigottipati commented on #2010
/assign

[2021-02-12 22:27] rashmigottipati commented on #2010
/cc @DirectXMan12 @estroz @jmodri

[2021-02-12 23:27] estroz commented on #2010
Something like this would be nice
[code]

[2021-02-13 00:29] Adirio commented on #2004
I would say that this is more of a feature request than a bug. Change it back if you don't agree.
/remove-kind bug
/kind feature

By the way, I think this would be a good idea and it can easily be merged before v3.0.0.

[2021-02-13 11:35] camilamacedo86 commented on #2004
+1 for we move forward with this one.

[2021-02-13 11:45] camilamacedo86 commented on #2010
From v1 to v2 one of the changes was simplified the layout. It generates a clean project, without any code in the reconcile, since v2.

IMO this implementation should be part of the EP: https://github.com/kubernetes-sigs/kubebuilder/pull/1803 where we would have a plugin responsible to generate the full code to install/manage an image.

Then, by following the good practices this code would also ha

[2021-02-13 12:22] Adirio commented on #2004
I can take it if none of you is working on it right now

[2021-02-13 12:58] Adirio commented on #2004
/assign

[2021-02-13 14:29] #2004 closed

[2021-02-13 15:14] estroz commented on #2010
If something is generally useful I’m in favor of adding it to a project, as the key reasons to being opinionated about how a controller should look is to ease development and enforce best practices. Finalizers are generally useful and are a best practice for complex CRs imo. However I sympathize with the argument that not all CRs _need_ to be finalized (even though it’s probably worth getting devs

[2021-02-13 16:22] Adirio commented on #2010
I definetely like the idea of implementing this as a plugin. Currently the `go` plugin is doing too many things and we should move some of them to separate plugins so that different parts can be removed/replaced. Once plugin phase 1.5 (#1990) is operational, this could be implemented as a plugin that is chained with the go plugin. `finalizer.go.kubebuilder.io` seems like a good name as this plugin

[2021-02-13 17:30] camilamacedo86 commented on #1941
I'd like to only summarize here the full discussion and the common ground that we reach about this issue to address all concerns raised.

This issue would be implemented as a follow to #1991. Where it will allow us to call a superset of plugins for a specific command. It will allow a user to decide what execution should or not receive the additional plugins scaffolds. By using the `declarative.kub

[2021-02-13 17:54] Adirio commented on #1941
Just adding onto Camila's comment:
Camila prefers the approach were only additional plugins can be set, and therefore `--plugins` in subsequent command calls will add them to those used in init.
I prefer the approach of writting all the plugins in `--plugins` in subsequent calls (we can also offer a `--extra-plugins` that works as Camila described) so that a concrete command call can choose also t

[2021-02-13 18:30] camilamacedo86 commented on #1941
To clarify:

**Example (Adirio suggestion with both flags)**

- Config: layout:go/v2
- Command: $ kubebuilder create api --group crew --version v1 --kind Captain --plugins="go/v3,declarative.kubebuilder.io/v1"

It would execute the create api implement `go/v3` and then the wrapper `declarative.kubebuilder.io/v1`.

The default behaviour described in https://github.com/kubernetes-sigs/kubebuilder/is

[2021-02-13 18:58] camilamacedo86 opened #2015 "Extract config/base plugin valid for any language/type from Golang"
**What do you want to happen?**

A plugin base which would be responsible to scaffold what is common for any kind of plugin no matter the language and what be integrated with KB and use it's as a consumer. ( basically, it is the hack and config directory since the PROJECT file is scaffold by the CLI )

It would allow the community to create any language/type plugin using the same base/config defin

[2021-02-13 18:59] camilamacedo86 commented on #2015
Hi @Adirio,

I tracked the issue regarding the scenario that we spoke about.

wdyt @estroz @DirectXMan12

[2021-02-13 19:09] camilamacedo86 opened #2016 "Plugins Ecosystem Next - Meta issue"
The propose of this issue is we try to centralize all discussed implementations over the plugin ecosystem for we have a summary definition of all goals and steps that we would like to persuade as their motivations. In this way, we can easily have a better idea and not allow one solution to invalidate another. The details can be found in each task/issue.

- [x] - Plugin phase 1.5 : PR : https://git

[2021-02-13 21:36] phenixblue opened #2017 "Support for `resourceNames` in RBAC markers"
Would like for Kubebuilder RBAC markers to also support the `resourceNames` field for further scoping of permissions in the scaffolded clusterrole

[K8s Docs: Referring to resources](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#referring-to-resources)

/kind feature

[2021-02-14 16:44] camilamacedo86 commented on #2010
HI @estroz, @Adirio, @rashmigottipati

I updated the EP for its implementation be a plugin as suggested before and also I added the finalizer as a requirement for that. See;  https://github.com/kubernetes-sigs/kubebuilder/pull/1803

Also, IMO we should not add the code suggested in https://github.com/kubernetes-sigs/kubebuilder/issues/2010#issuecomment-778511240 and instead of that, we could scaff

[2021-02-15 09:13] Adirio commented on #2017
Just to make sure I understood you correctly, you want the `//+kubebuilder:rbac` marker to also support that field, right?

In that case, you should raise this issue in https://github.com/kubernetes-sigs/controller-tools.

[2021-02-15 09:17] phenixblue commented on #2017
Yes, that's correct. Thanks for the info, will open the issue on that project.

[2021-02-15 09:24] #2017 closed

[2021-02-15 09:50] Adirio commented on #966
I think this was already updated, closing it. Reopen if it still hasn't been updated.

/close

[2021-02-15 09:50] #966 closed

[2021-02-15 15:22] skuethe commented on #1921
I'd like to pick up on this issue - I have the exact same behaviour, and I just started today with a totally fresh install of `go`, `kubebuilder` and a new project created by `kubebuilder init --domain my.domain`. So I would feel this could not be a problem of some "old project version".

I also used the quick start documentation:
https://book.kubebuilder.io/quick-start.html

For comparison I down

[2021-02-15 17:35] devlifealways commented on #592
Same here, `Semantic.DeepDerivative` ignores a couple of fields, which causes the test to fail each time.

[2021-02-15 20:50] moolen opened #2018 "Don't recommend using manager.GetClient in tests"
Using the `manager.GetClient()` in tests is a bad idea and should not be recommended by the documentation. The manager's client is a cached `client.Reader` which is fine for a controller - but in tests you probably want a strongly consistent client.

This is the documentation i am referring to:
https://github.com/kubernetes-sigs/kubebuilder/blame/master/docs/book/src/cronjob-tutorial/testdata/proj

[2021-02-15 22:09] Adirio commented on #1833
/lifecycle frozen

[2021-02-17 06:05] phenixblue commented on #2017
Just an FYI to anyone else that comes along...

The [controller-tools](https://github.com/kubernetes-sigs/controller-tools/releases/tag/v0.2.8) package implemented this in v0.2.8. From reading it looks like Kubebuilder 2.3 uses controller-tools v0.2.5, so it's not currently supported. Kubebuilder v3.x seems to jump to controller-tools 0.4.x and does include this.

[2021-02-17 08:16] Adirio commented on #2018
Any help with the documentaiton is appreciated
/help
/good-first-issue

P.S.: the most relevant part of the linked conversation is https://github.com/kubernetes-sigs/controller-runtime/issues/343#issuecomment-469435686

[2021-02-17 08:17] Adirio commented on #2018
/remove-kind bug

[2021-02-17 08:27] Adirio opened #2022 "🐛 Actual error hidden behind unknown flag error"
When the user provides some wrong flags, the error is reported with a help message for the root command.

For example: `kubebuilder init --project-version=2 --plugins=go/v3` will print:
[code]

If an additional flag is provided, even if its valid for the subcommand, it won't be valid for the root command used to print the help message, so the error will change to `unknow flag: --flag` hiding te re

[2021-02-17 08:40] Adirio commented on #2016
#2019 relates to the second point

[2021-02-17 09:31] Adirio commented on #2022
/assign

[2021-02-17 10:46] Adirio commented on #1965
Freeing the reconciler is definetely the best practice. You may not need to requeue if you modify its status to unknown as this change itself will trigger another reconcile loop.

My logic would be:
- If the CR has no status set, create the pods and set status to pending, or waiting or something like that (unknown doesn't seem the best status for this)
- If the CR status is pending, check if the p

[2021-02-17 10:46] #1965 closed

[2021-02-17 11:35] Adirio commented on #1863
v2.3.2 released which should make `sigs.k8s.kubebuilder/v2` available

[2021-02-17 11:38] #1948 closed

[2021-02-17 11:39] Adirio commented on #1935
Just as a comment, information in #2018 should be relevant. It should use a full client for testing and not the cached client that manager returns.

[2021-02-17 11:53] #2022 closed

[2021-02-18 04:04] snowplayfire commented on #1810
@kqzh I meet the same problem.

Can you tell me how to solve it? Thanks!

[2021-02-18 04:32] snowplayfire opened #2026 "controller cannot watch my CRD"
I have a controller that is managing the lifecycle of CRD named `combinator`. The controller framework is generated by kubebuilder v2.3.1.

There is an error:
[code]

Versions:

kubebuilder 2.3.1, kube-apiserver 1.19.3
[code]

/kind bug

[2021-02-18 04:35] snowplayfire commented on #2026
@DirectXMan12   This is generally caused by incorrect scheme setup, but all scheme setup are generated by kubebuilder. Can you help me? Thanks.

[2021-02-18 06:54] Adirio commented on #2026
Seems like some scheme is not being registered properly, which is done in the `init` function of the `main.go` file. Can you provide this function?

[2021-02-18 06:54] Adirio commented on #2026
/kind support
/remove-kind bug

[2021-02-18 07:09] snowplayfire commented on #2026
[code]

[2021-02-18 07:18] Adirio commented on #2026
Is the `Combinator` kind in any of the listed schemes?

[2021-02-18 07:21] snowplayfire commented on #2026
the `Combinator` kind is in `autoscalingv1`.

![image](https://user-images.githubusercontent.com/11936090/108319833-ee618d80-71fc-11eb-8c43-f81edeca6b8e.png)

[2021-02-18 07:23] snowplayfire commented on #2026
[code]

[2021-02-18 07:29] Adirio commented on #2026
Thats definetely strange, are you passing the `scheme` to the manager as part of the options for the `NewManager` function (inside `main` in `main.go`?

[2021-02-18 07:32] snowplayfire commented on #2026
yes, I set the `scheme` as part of the options for the `NewManager` function.
[code]

[2021-02-18 07:37] snowplayfire commented on #2026
The controller watchs two CRDs: `Combinator` and `CronMetric`,   but`CronMetric` has not the same register error.   The main difference between the two CRDs is that `CronMetric` has not  `status`.

[2021-02-18 07:43] Adirio commented on #2026
That should only affect the `// +kubebuilder:rbac:...` markers in the controller file.

[2021-02-18 08:28] snowplayfire commented on #2026
Are there other possibilities?

[2021-02-18 08:32] Adirio commented on #2026
Please tell me it is not because you are using v0.18.6 versions of the libraries with a 1.19.2 cluster.

[2021-02-18 08:42] snowplayfire commented on #2026
The following versions combinator also has the problem.
[code]

I even doubt that the k8s client cannot read etcd data before I get it using `etcdctl`.

[2021-02-18 09:05] camilamacedo86 opened #2029 "New Release - proposing 3.0.0 stable"
Following the changelog: (By following the guidance in: https://github.com/kubernetes-sigs/kubebuilder/blob/master/RELEASE.md#release-process)

## :warning: Breaking Changes

- Resource validation (#1974)
- Add --plural flag (go/v3) (#1967)
- Update models (#1911)
- upgrade kubebuilder module from v2 to v3 (#1958)
- change structure to store crdVersion and webhookversion (go/v3-alpha) (#1899)
- (g

[2021-02-18 09:49] Adirio opened #2031 "🐛 Release process is providing wrong links for previous version"
When a new release is done, the automatic release process adds the release notes to the tag of that release. This includes an opening saying from which version this changelog starts. This link should be of the form: `https://github.com/kubernetes-sigs/kubebuilder/releases/v3.0.0-alpha.1` but is it instead being generated as `https://github.com//releases/v3.0.0-alpha.1`.

Release notes tooling offe

[2021-02-20 11:22] godpeny opened #2032 "Few questions related to UpdateEvent when watching node"
[code]

1. Can I get the event of new pod coming up on the node?
2. If node get taints, can I get that event? if so, how can i get the taint on the node?

I'm trying to handle both events in ``UpdateFunc``.
Thank you :)

[2021-02-22 09:17] godpeny commented on #2032
I think I need to watch Pods instead of Nodes to implement #2 :0

[2021-02-22 10:44] camilamacedo86 commented on #2029
@DirectXMan12, @estroz, @pwittrock, @Adirio  wdyt? Can we move forward here?

[2021-02-22 19:44] averma111 opened #2035 "How to build kubebuilder from source code."
Please share the steps involved to build kubebuilder from source code and create tarball out of it.

Appreciate your help!!!

Thanks,
Ashish

[2021-02-22 20:22] camilamacedo86 commented on #2035
You can clone the project and run make install. It will install the bin locally based on the source code.

[2021-02-22 21:44] averma111 commented on #2035
I wanted to build tar.gz file for kubebuilder , and install in the client unix box, they only support source code build from scratch and create tar.gz file.

Let me know how to create tarball from souce code

[2021-02-23 08:12] snowplayfire commented on #2026
[code]
The error is from https://github.com/kubernetes/apimachinery/blob/master/pkg/runtime/error.go#L67 which comes from `NewNotRegisteredErrForKind`.

I add some logs in `k8s.io/apimachinery/pkg/runtime/scheme.go` and `k8s.io/apimachinery/pkg/runtime/error.go` as follows:
[code]

[code]

My controller logs:

[code]

It is very strange that `No NewNotRegisteredErrForType` and `Error NewNotRegiste

[2021-02-23 11:00] camilamacedo86 commented on #2035
Hi @averma111,

we do not know what and why you need it. However, see that you can git clone the project, and then tar as untar where you wish.  I'd suggest you check the CONTRIBUTION guide to know how we use the project locally and built the binary using make install. It might help you address your case.

I am closing this one as sorted out. However, feel free to raise new issues and or ping us i

[2021-02-23 11:00] #2035 closed

[2021-02-23 16:08] Adirio opened #2036 "✨ Export scaffolding machinery"
The scaffolding machinery is not being exported as it is placed in an `internal` directory (from older kubebuilder versions when it was not designed to be a library. We should probably move this package outside of `internal` so that it can be used by third-party developers.

As an example, [operator SDK](https://github.com/operator-framework/operator-sdk) is [copying this folder](https://github.co

[2021-02-23 17:45] camilamacedo86 commented on #2036
+1 for me.

[2021-02-23 18:00] camilamacedo86 commented on #2015
The idea proposed regarding the project has a config-gen that also might able to address these requirements. See: https://github.com/kubernetes-sigs/kubebuilder/pull/1831. We probably also might able to replace the base/config with the config-gen when it is stable. c/c @pwittrock

[2021-02-23 18:07] jmrodri commented on #1999
/assign @jmrodri

[2021-02-23 18:24] camilamacedo86 commented on #2010
We reach a consensus that it would be very nice as a plugin. We just need to get merged first the implementation of the 1.5 EP proposal first. see: https://github.com/kubernetes-sigs/kubebuilder/pull/1991.

After that, would be possible to run `create api --plugins=your new plugin here` to generate the controller with.

[2021-02-23 18:46] camilamacedo86 commented on #2029
- raise in the controller-meeting
- we might want to clean up the changelog as well.

[2021-02-23 18:56] camilamacedo86 commented on #2036
@Adirio will also check if nobody has any objections to it before move forward ( controller-tools meeting and @DirectXMan12 )

[2021-02-23 19:17] camilamacedo86 commented on #2015
As we discussed today before we decide to move forward with this or not we need first have a better position over #1831:

- shows that @pwittrock like the idea of adding a sample ( project-v3-config-gen in the testdata which would be == project-v3 but using config-gen for we have better clarity of how it will work, what is covered or not already by it and etc)
- my (@camilamacedo86) concerns is re

[2021-02-24 07:36] Miknuki commented on #1994
@RaynDol this issue is already resolved.
Please read here:
* https://github.com/kubernetes-sigs/kubebuilder/issues/1701
* https://github.com/kubernetes-sigs/kubebuilder/pull/776/files
* https://github.com/kubernetes-sigs/controller-runtime/issues/359

[2021-02-24 21:25] DirectXMan12 commented on #2036
Seems like the public part of these interfaces is fairly minimal, so it seems pretty reasonable to expose these without them being restrictive to internal refactor.

[2021-02-24 22:33] averma111 opened #2038 "How to create distribution like kubebuilder-2..3.2.tar.gz from source code"
Hi Team,

I am looking for solution where I need to build something like   kubebuilder-2..3.2.tar.gz from source code. That a requirement not just bin/kubebuilder from make install.

Any help is highly appretiated.

Thanks,
Ashish

[2021-02-25 03:57] joelanford commented on #2010
I've been thinking a bit about proposing a finalizer helper library for inclusion in controller-runtime, and I just haven't had the time.

My high level thought was to have something like this:
[code]

With something like this users could define their own finalizer struct implementations, register them with the Finalizers and then hand the Finalizers to their reconciler and simply call Finalize:
[

[2021-02-25 13:14] camilamacedo86 commented on #2010
I liked much more the idea of it be provided as lib from controller-runtime than the plugin 👍
Then, it would be a helper for any person who uses the lib and I think it fits better as well.

[2021-02-25 13:21] Adirio commented on #2010
I agree that direct support in controller-runtime would be a better implementation but I think that the plugin still makes sense. I'm not sure if I'm picturing it as Joe is picturing but in my mind conceptually this is similar to webhooks. Controller-runtime defines the required interfaces and kubebuilder scaffolds the methods required to implement these interfaces. So the plugin still would make

[2021-02-25 14:34] camilamacedo86 commented on #2010
I also think that plugins are nice. However, if we push the impl for the controller-runtime then, I do not see value in having a plugin only to call its usage. I think that the plugins can add a lot of value but in this case, I do not think that implement a plugin and keep it maintained just to scaffold a code that uses controller-runtime adds value which justifies this effort.

[2021-02-25 14:40] Adirio commented on #2010
The whole kubebuilder project is scaffolding code that uses controller-runtime. The value provided will depend on how it is implemented in controller-runtime and what does the user have to code himself. And as that is still not defined there is no point in discussing if the plugin would be useful or not right now, we should wait for controller-runtime to implement it.

[2021-02-25 21:35] irvifa commented on #1997
I think the aforementioned PR is already merged, is there anything else need to be done for this issue?

[2021-02-26 00:12] camilamacedo86 opened #2042 "Add go-apidiff check and make sure we don’t make breaking changes."
Add go-apidiff check and make sure we don’t make breaking changes after the stable release.
Note it is used by controller-runtime and we do the same here.

[2021-02-26 00:30] camilamacedo86 commented on #2029
It has been discussed at https://kubernetes.slack.com/archives/CAR30FCJZ/p1614278555090600.
We might decide to add as a pre-requirement the #1991, #1941, #2015.

[2021-02-26 07:27] Adirio opened #2043 "[Meta] Stabilize API for v3.0.0"
### Purpose
This Issue will track all the API changes that are considered needed before we can continue with the v3.0.0 release. It only considers breaking changes, adding new exposed APIs can be done in minor/patch releases and therefore do not block the v3.0.0 release.

Being the first release where kubebuilder is considered a library, reviewing the exported API and checking that it is exactly w

[2021-02-26 07:36] Adirio opened #2044 "Convert WithCompletion into a cli.Option"
While [`WithCompletion`](https://github.com/kubernetes-sigs/kubebuilder/blob/d07dfcc555f10846f0bafdd0b7aa6c03b8e13dfb/pkg/cli/options.go#L107-L111) is technically an [`Option`](https://github.com/kubernetes-sigs/kubebuilder/blob/d07dfcc555f10846f0bafdd0b7aa6c03b8e13dfb/pkg/cli/options.go#L28-L29), it doesn't reflect that in its signature.

This is reflected in the [library documentation](https://p

[2021-02-26 07:36] Adirio commented on #2043
/remove-kind feature

[2021-02-26 08:14] Adirio opened #2046 "Final Config interface for v3.0.0"
The [`Config` interface](https://github.com/kubernetes-sigs/kubebuilder/blob/d07dfcc555f10846f0bafdd0b7aa6c03b8e13dfb/pkg/config/interface.go#L23-L112) has 2 methods that seem a bit out of place.
`IsCRDVersionCompatible` and `IsWebhookVersionCompatible` encode inside a project configuration version the possibility of having only one or multiple different CRD/webhook versions. While this check is n

[2021-02-26 11:21] camilamacedo86 commented on #1997
Hi @irvifa,

The PR for this task is: https://github.com/kubernetes-sigs/kubebuilder/pull/1961
It will be only released as 3.1.0 after the 3.0.0 stable release and then, only will be merged after that as well.

[2021-02-26 12:02] irvifa commented on #1997
Thanks for the confirmation!

[2021-02-26 15:34] #2044 closed

[2021-02-26 16:38] #2046 closed

[2021-02-27 18:15] camilamacedo86 commented on #2029
Hi @DirectXMan12, @estroz, @Adirio, @joelanford,

I see that we have 2 options here which are:

**Plan A**

- Release now 3.0.0 with the preliminary plugin system and all changes made so far which allow users to start to work with the latest API's as well and is very stable.
- Then, release 3.1.0 with the controller-runtime bump 0.8.0
- Then, we can work on the required changes for plugins to do t

[2021-02-27 18:33] camilamacedo86 commented on #2043
Hi @Adirio,

I think we are talking here about we address all the next plugin changes described in https://github.com/kubernetes-sigs/kubebuilder/issues/2016 before the plugin 2.0 proposal.

[2021-02-27 20:28] camilamacedo86 commented on #2015
After the controller-tool meeting, this topic was discussed with @pwittrock, @DirectXMan12 and @Adirio where I understand that we reach a consensus that:

- #1831 - config-gen has good potential to address these needs
- The @pwittrock idea is we add the config-gen as alpha to allows it starts to be tested, used and improved until it reaches the wished maturity
- we have not a possible ETA for conf

[2021-02-27 20:49] Adirio commented on #2043
This tracks the ones that are breaking API-wise. If they just add something to the API they can wait for v3.1.0 but if they break the current API they need to be addressed before v3.0.0. This tracks exactly the breaking changes.

[2021-02-27 20:50] Adirio commented on #2029
Version 3 took a really long time so waiting for version 4 may be too far so I'm voting plan B.

[2021-02-27 22:02] mijos opened #2049 "Dockerfile template not updated after running 'kubebuilder edit --multigroup=true'"
Docker build fails when changing to multigroup

...
Step 7/14 : COPY api/ api/
COPY failed: file not found in build context or excluded by .dockerignore: stat api/: file does not exist
make: *** [Makefile:59: docker-build] Fehler 1
...

1. kubebuilder init --domain my.test.com
2. kubebuilder edit --multigroup=true
3. make docker-build     // will succeed

The created Dockerfile scaffold didn't get

[2021-02-27 22:22] camilamacedo86 commented on #2049
It is solved in master and you can use the latest beta release to check out if you wish. See: https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.0.0-beta.0

Closing that as sorted out for 3.0.0

[2021-02-27 22:23] #2049 closed

[2021-03-01 18:35] goutamtadi1 opened #2051 "README.md: Sprint Dashboard link seems unused and outdated"
Hello,

I found that the Sprint Dashboard [link](https://github.com/kubernetes-sigs/kubebuilder/projects/1) in [Resources](https://gus.lightning.force.com/a07B00000097kQ9IAI) section is outdated. If this is unused, can I go ahead and delete this?

If there is any alternative link, please let me know. I will make an update and create a PR to fix this.

Thanks,
Goutam Tadi

[2021-03-01 18:49] camilamacedo86 commented on #2051
Hi @goutamtadi1,

We have been using the https://github.com/kubernetes-sigs/kubebuilder/milestones to track the next work planned for the project. Yes, it is outdated and actually closed already.

So, shows that we close this issue as sorted out. WDYT?

[2021-03-01 18:56] goutamtadi1 commented on #2051
Cool! thanks.
A quick question: Can we update the corresponding link to use https://github.com/kubernetes-sigs/kubebuilder/milestones instead of the Closed Sprint Dashboard?

[2021-03-01 19:02] goutamtadi1 commented on #2042
Hello @camilamacedo86,

I would like to request to assign this issue to me? I am interested in taking up this issue and fix it.

Thanks,
Goutam Tadi.

[2021-03-01 20:17] camilamacedo86 commented on #2042
That is great. You can just run a comment /assign your name and the bot will do that for you.

[2021-03-01 21:09] goutamtadi1 commented on #2042
/assign

[2021-03-01 23:39] Adirio commented on #1405
/lifecycle frozen

[2021-03-02 01:09] #2051 closed

[2021-03-02 08:07] linxuyalun opened #2052 "CRD Validation multiple types"
I am using kubebuilder to design a crd, here is my sample:

[code]

So I want to validate the type of `spec.target` is `string` or `bool` when I create my resource. I have tried `UnmarshalYAML` method but in vein. I also can't find an appropriate annotation (`//+kubebuilder:validation:`) to use. How can I do that?

[2021-03-02 09:23] richard-liu-2020 opened #2053 "Is there any ways to specify what version of controller-runtime to be used in kubebuilder?"
When I use "kubebuilder init“ command，it always generate go.mod like this:
module webapp

go 1.13

require (
        k8s.io/apimachinery v0.17.2
        k8s.io/client-go v0.17.2
        sigs.k8s.io/controller-runtime v0.5.0
)

My envs are as following:
os: CentOS Linux release 7.5.1804
kubebuilder: 2.3.1
go: go1.15.2 linux/amd64

Is there any ways to specify what version of controller-runtime to b

[2021-03-02 11:21] godpeny commented on #2032
well, I found my solution like [this](https://github.com/godpeny/peny-k8s-controller/commit/6ba523ca46223bdc3d4239a4bb7a1556a17f6eda) :)
issue closed!

[2021-03-02 11:21] #2032 closed

[2021-03-02 12:42] camilamacedo86 commented on #2053
See: https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/quick-start.md#versions-and-supportability

The versions which are defined in the Makefile and go.mod files are the versions tested and therefore is recommended to use the specified versions.

So, for each CLI and go plugin version you will find the recommended and tested dependencies. The controller-runtime is bumped in

[2021-03-02 12:42] #2053 closed

[2021-03-02 12:43] camilamacedo86 commented on #2029
Hi @Adirio,

We should not take too long to do the releases. Now, that more people are able to do that we can indeed have a process where we do with more frequence.

[2021-03-02 12:48] Adirio commented on #2029
User noise: What would you do if you just updated a project to v3, which is pretty complex, and 2 months later they tell you that v4 is released? You would probably not even look at the changes needed, which may be none, and skip the version bump.

Aside from that (which I think is pretty important), I don't think there is any requirement that prevents it. Let's see what Solly thinks.

[2021-03-02 13:14] camilamacedo86 commented on #2029
Hi @Adirio,

It is true. 👍 I agree with the noise and I think you have been doing a great job and we would be very close to moving forward with plan B as well. So, just to clarifies move with plan B is fine for me.

[2021-03-03 06:44] erikh opened #2055 "[Documentation] Links in stylesheet for docs are invisible unless hovered over"
I expect the link here to be underlined, or distinguished in some way from the other text. Happened on it by accident and it would have saved me some time knowing it was there prior. That's all. :)

![image](https://user-images.githubusercontent.com/18923/109764708-bc5f0c80-7ba8-11eb-9994-2af55bf5707d.png)

/kind documentation

[2021-03-03 06:45] erikh commented on #2055
https://book.kubebuilder.io/cronjob-tutorial/cronjob-tutorial.html is a link to the page, fwiw.

[2021-03-03 08:04] Adirio commented on #2055
Links do have different styles:
![image](https://user-images.githubusercontent.com/522770/109773347-61a4cf80-7bff-11eb-8c3b-69dac15c6b2f.png)

[2021-03-03 08:13] Adirio opened #2056 "✨ Export config file schafolding machinery"
In order to scaffold the project configuration file, some machinery can be found in `pkg/cli/internal`. While the responsability of creating this file still relies on the CLI, the use of an internal package for this machinery, has made it grow in a somewhat "messy" way.

Exporting and cleaning up this package would be nice.

/kind feature

[2021-03-04 03:11] averma111 commented on #2038
Hi Team nay help will be appreciated.

Thanks,
Ashish

[2021-03-05 00:41] estroz opened #2063 "prow jobs failing due to prow config go1.16 bump"
https://github.com/kubernetes/test-infra/pull/21094 automatically bumped the infra presubmit config to go1.16, which is causing prow breakage due to some implicit module error. Until kubebuilder's dependencies (specifically controller-runtime) update to go1.16, it doesn't make sense to update kubebuilder's go version. For now I suggest the infra PR changes be reverted until the bump to go1.16 is m

[2021-03-05 01:16] estroz commented on #2063
Fixed by https://github.com/kubernetes/test-infra/pull/21173.

[2021-03-05 06:27] Adirio commented on #2063
@estroz did you mean to write 1.19 for one and 1.18 for the rest or did you mean to write their correspondinjg version for each? Asking without knowing anything about those images just to check that it was not just a typo.

[2021-03-05 06:34] estroz commented on #2063
Yes. The 1.18 image uses go1.13, while 1.19 uses go1.15.

[2021-03-05 08:29] Adirio commented on #2038
v2 used to create a tarball that included envtest binaries. v3, however, fetches those binaries when needed:
https://github.com/kubernetes-sigs/kubebuilder/blob/2b464030b6e3f52756e3a1f4c01369ebd58e6dcf/testdata/project-v3/Makefile#L46-L50

Therefore, releases from now on will only contain the binary, and that is what is listed in the GitHub releases page.

[2021-03-05 08:32] Adirio commented on #1962
/triage needs-information

[2021-03-05 08:38] Adirio commented on #2055
I'm closing this as it doesn't seem to be reproducible, and, in any case doesn't seem related to kubebuilder. If you still need help don't hesitate to reopen it.

/triage not-reproducible
/close

[2021-03-05 08:38] #2055 closed

[2021-03-05 14:10] camilamacedo86 commented on #1487
/remove-lifecycle stale

[2021-03-05 19:31] estroz commented on #2063
This isn't quite fixed. The go version used to build kubebuilder and run tests, and that needed for projects differ. I'm going to pin all versions to go1.15 since that worked previously until a compartmentalized solution comes up.

[2021-03-05 21:23] estroz commented on #2063
https://github.com/kubernetes/test-infra/pull/21196

[2021-03-05 21:33] leovct commented on #2018
Hello @Adirio, I would like to contribute to the project by working on this issue :)

[2021-03-05 22:29] Adirio commented on #2018
Sure, help is always apreciated. Feel free to submit a PR and assign me so that I can review it.

[2021-03-06 08:58] leovct commented on #2018
/assign

[2021-03-06 15:42] camilamacedo86 commented on #2038
Hi @averma111,

You can use the source code. See the [How to build kubebuilder locally](https://github.com/kubernetes-sigs/kubebuilder/blob/master/CONTRIBUTING.md#how-to-build-kubebuilder-locally) in the Contribution guide.

The `kubebuilder-2..3.2.tar.gz` is the Kubebuider bin + the Envtest binaries requires to implement the tests. Forgo/v3 as described above the binaries are no longer required a

[2021-03-06 15:42] #2038 closed

[2021-03-06 16:35] camilamacedo86 commented on #1941
Also, see that I do not think that we should request --go/vX again. it just makes things harder for us and users. See that we are already saying run create api for a project that was created with `go/v3` then, thinking in the user experience would make sense only inform the additional ones. Also, it brings aditional complexities which I do not think that we should add at all such as we would need

[2021-03-06 19:39] camilamacedo86 commented on #1928
Closing this one since we have not any feedback for a while. However, please feel free to create a new issue with further information if you need your help with.

[2021-03-06 19:39] #1928 closed

[2021-03-06 19:40] camilamacedo86 commented on #1962
Closing this one since we have not any feedback for a while. However, please feel free to create a new issue with further information if you need your help with.

[2021-03-06 19:40] #1962 closed

[2021-03-06 20:17] camilamacedo86 commented on #1966
In general, it’s recommended to have one controller responsible for manage each API created for the project to properly follow the design goals set by controller-runtime.

Regard your question see that It is not possible to have two reconcile loops that handle the same object at the same time.

By default, the MaxConcurrentReconciles will be 1 so you need to set another value if you are looking fo

[2021-03-06 20:17] #1966 closed

[2021-03-06 20:32] camilamacedo86 commented on #1979
Closing this one since it has been without interaction for a while and shows solved with the information provided so far. However, please feel free to raise new issues if you need any help.

[2021-03-06 20:32] #1979 closed

[2021-03-06 20:34] camilamacedo86 commented on #1994
Closing this one since shows sorted out with the info provided above. However, feel free to ping us to re-open or raise a new issue with further information.

[2021-03-06 20:34] #1994 closed

[2021-03-07 10:25] camilamacedo86 commented on #1941
I am ok with we move forward with --plugins= requiring inform all at the moment.
We just need to address the points discussed in https://github.com/kubernetes-sigs/kubebuilder/pull/2060#discussion_r588914741 a follow-up.

[2021-03-08 10:59] Adirio commented on #1941
The main advantage from overiding plugins instead of adding plugins is the following:

Overriding plugins:
[code]
is equivalent to incrementing plugins:
[code]

but overriding plugins:
[code]
cannot be achieved with incrementing plugins.

P.S.: the three points listed and their fulfillment is being tracked in the linked comment.

[2021-03-08 13:15] Adirio commented on #2063
They are working now, closing

/close

[2021-03-08 13:15] #2063 closed

[2021-03-08 13:24] Adirio opened #2067 "[META] Go 1.16"
This issue aims to tracks all the changes that need to/can be done once moving to go 1.16. This is obviously gated by dependencies.

- [ ] [cleanup] Go 1.16 sets `GO111MODULES` to `on` by default instead of `auto`. There are several remanents of this env variable that we should remove throughout the codebase.
- [ ] [enhancement] Go 1.16 includes a new `embed` package that allows to embed files int

[2021-03-08 13:24] Adirio commented on #2067
/remove-kind feature

[2021-03-08 19:40] camilamacedo86 opened #2068 "Make explicit that we would like to have the migration from v3 to v4 helped by tooling"
**Description**
Make explicit that we would like to have the migration from v3 to v4 helped by tooling

**Suggested Solutions**
- Add new plugin interface documented with this information
OR
- Add doc which describes that

[2021-03-08 19:46] Adirio opened #2069 "Custom resource and CRD terminology"
The following operator-framework/operator-sdk/issues/4595 was raised in SDK asking to rework the terminology. It also needs to be considered in kubebuilder.

[2021-03-08 19:46] Adirio commented on #2069
/remove-kind support
/kind documentation

[2021-03-09 11:29] busser opened #2073 "Scaffolded `.dockerignore` does not do what it claims"
When running `make docker-build` for an operator scaffolded with kubebuilder v3, the entire directory is included in the Docker build context.

I expected only Go source files to be included in the Docker build context. Here is the scaffolded `.dockerignore` file:

[code]

To reproduce, build a dummy Docker image containing the entire build context:

[code]

Now run it:

[code]

Or explore the ima

[2021-03-09 11:41] busser commented on #2073
It seems to me that the `.dockerignore` file has unexpected behavior. It does not handle a directory wildcard `**` properly when it is right after an exclamation `!`.

For instance, If I replace the `.dockerignore`'s contents with these:

[code]

The contents of the `controllers/` directory are not included in the Docker build context. However, with this `.dockerignore` file:

[code]

The Go files

[2021-03-09 11:43] busser commented on #2073
I figure that the easiest way to work around this issue is to change the scaffolded `.dockerignore` file to ignore all files expect those referenced in the scaffolded `Dockerfile`. The `.dockerignore` file would thus contain:

[code]

If that's OK with you, I can open a PR to make the change.

[2021-03-09 12:35] rashmigottipati commented on #2010
Would it be better to have this discussion in the "Kubebuilder, Controller Runtime Meeting" to reach consensus on whether it would fit better as a plugin or write a finalizer helper library in controller-runtime?

[2021-03-09 14:18] nagou opened #2076 "undeclared name: logf"
hi Team,
       how can we resolve following :

controllers/suite_test.go:51:2: undeclared name: logf

[2021-03-09 14:29] leovct commented on #2076
Hello @nagou, do you have the line `logf "sigs.k8s.io/controller-runtime/pkg/log"` in the `import()` section of `suite_test.go` ? If not, add it and it should solve your issue.

[2021-03-09 14:34] nagou commented on #2076
My bad while raising issue :

Actual issue is :
controllers/suite_test.go:53:21: LoggerTo not declared by package zap

[2021-03-09 14:51] nagou commented on #2076
sigs.k8s.io/controller-runtime v0.8.3

[2021-03-09 14:53] leovct commented on #2076
Switch to `v0.5.0` and you are good to go 😉

[2021-03-09 18:18] StevenACoffman commented on #1068
/remove-lifecycle rotten

[2021-03-09 18:19] camilamacedo86 commented on #2067
We also need before that just to clarify, have the same bump in controller-runtime, declarative-kb and k8s-api before we are able to address that here.

[2021-03-09 18:29] camilamacedo86 commented on #2068
The goal of this task is just we keep this in mind and do not forget that we would like to try to do that by tooling when the go/v4 plugin is released.

[2021-03-09 18:38] camilamacedo86 commented on #2073
It is great. Please, feel free to collab with the solution.

[2021-03-10 02:20] camilamacedo86 commented on #2015
POC done in the past to check if we could centralize the config. See: https://github.com/operator-framework/operator-sdk/pull/3815/files

[2021-03-10 07:01] kwangh opened #2077 "go-logr/logr imported from implicitly required module, missing requirements error"
<details><summary> package github.com/go-logr/logr imported from implicitly required module; to add missing requirements, run:
        go get github.com/go-logr/logr@v0.1.0</summary>
root@kh-dev:~/workspace/hypercloud-ovirt-operator# kubebuilder create api --group batch --version v1 --kind CronJob
Create Resource [y/n]
y
Create Controller [y/n]
y
Writing scaffold for you to edit...
api/v1/cronjob_

[2021-03-10 07:04] kwangh commented on #2077
I've cleaned all the files and started again with `kubebuilder init`. Added `go get github.com/go-logr/logr@v0.1.0`
`go get github.com/onsi/ginkgo@v1.11.0`
`go get github.com/onsi/gomega@v1.8.1`.
Following the `kubebuilder create api`, now I get the correct response.

[2021-03-10 07:56] #2077 closed

[2021-03-10 07:57] Adirio commented on #2076
/close

[2021-03-10 07:58] #2076 closed

[2021-03-10 08:18] Adirio opened #2078 "Removing unexported type cli from documentation in pkg.go.dev"
Official Go documentation is showing an unexported type `*cli`: https://pkg.go.dev/sigs.k8s.io/kubebuilder/v3@v3.0.0-beta.0/pkg/cli#Option

Note: `WithCompletion` also shows this type but it has already been fixed by #2045, once a new release is pushed it will be reflected in pkg.go.dev. However, the solution for this issue would also fix that in case it wasn't fixed already.

Unexported types sho

[2021-03-10 12:31] #2078 closed

[2021-03-10 12:54] nagou commented on #2076
With the latest package of sigs.k8s.io/controller-runtime v0.8.3 (or even earlier), "sigs.k8s.io/controller-runtime/pkg/log/zap" has deprecated function "zap.LoggerTo". New API is "zap.New".

After using this new API, I mitigated it.

logf.SetLogger(zap.New(zap.WriteTo(GinkgoWriter), zap.UseDevMode(true)))

[2021-03-10 12:58] Adirio commented on #2076
@nagou just bear in mind that being a 3 major-ish (until v1.0.0, minor version updates can be breaking, thats why I am calling them "major-ish") version bump, you will probably find additional conflicts on your way.

[2021-03-12 12:35] camilamacedo86 commented on #2015
It also solves the scenario: https://github.com/operator-framework/operator-sdk/issues/4542 for example.

[2021-03-14 18:14] camilamacedo86 opened #2086 "CLI flag to list available plugins"
Currently, the CLI does not provide an easy for we to check the available plugins. So, I was thinking that this need could be addressed by a list plugins flag;

[code]

ps.: after we address https://github.com/kubernetes-sigs/kubebuilder/issues/1378 we might want to have other options as well such as to add or remove an external plugin.

[2021-03-15 08:19] johanneswuerbach opened #2087 "E2E test for prometheus metrics"
In https://github.com/kubernetes-sigs/kubebuilder/pull/2065 it was discovered that only the availability of the `/metrics` is tested https://github.com/kubernetes-sigs/kubebuilder/blob/73cda2b4333d221d9074c15110eac35c9bd7efc9/test/e2e/v3/plugin_cluster_test.go#L170-L177, but whether the `ServiceMonitor` is actually configured correctly is not test covered.

Add an e2e tests, which validates that p

[2021-03-15 08:27] Adirio commented on #2086
What about the output of `kubebuilder --help`?

[2021-03-15 10:51] #2056 closed

[2021-03-15 11:13] camilamacedo86 commented on #2086
IHMO it sill not very clear for the end users. However, it is fine. I think we do not need to move forward with it before 2.0..

[code]

[2021-03-15 11:13] #2086 closed

[2021-03-15 12:27] #2036 closed

[2021-03-15 14:17] camilamacedo86 commented on #2087
Thank you for raise it. Could you please let us know how can we check that` ServiceMonitor is actually configured correctly`? What are the steps done manually?

See that the test/check is made [here](https://github.com/kubernetes-sigs/kubebuilder/blob/73cda2b4333d221d9074c15110eac35c9bd7efc9/test/e2e/v3/plugin_cluster_test.go#L313) where we check that is possible curl the metrics endpoint. So, cou

[2021-03-15 14:21] Adirio commented on #2087
Further context: https://github.com/kubernetes-sigs/kubebuilder/pull/2065#discussion_r589267678

@estroz mentioned he may be able to work on this so pinging him

[2021-03-15 19:33] camilamacedo86 commented on #2087
Hi @Adirio,

I am afraid that the comment added here does not clarifies my questions.  @johanneswuerbach, maybe my question is silly. however, would be very good if you already have the steps then be able to add them here.

[2021-03-15 22:20] Adirio commented on #1885
/lifecycle frozen

[2021-03-16 12:18] camilamacedo86 commented on #1891
/remove-lifecycle stale

[2021-03-16 18:29] #2018 closed

[2021-03-17 11:08] daenney commented on #1800
/remove-lifecycle stale

[2021-03-17 11:19] daenney commented on #1800
Sorry for my lack of response on this. I took a look at the 0.0.2 archive that was uploaded. It's already a lot better, so thanks very much for that!

There's still a few things that make it hard to consume the current output. The table of contents doesn't work, everything links to page 1, and similarly with most links to other chapters within the book don't go anywhere.

The code samples are also

[2021-03-17 12:15] #2026 closed

[2021-03-17 18:36] daniel-garcia commented on #2016
Unrelated question: are there any examples of writing a plugin? I can't seem to find anything in the kubebuilder book... maybe I'm not looking in the right place.

[2021-03-17 19:10] Adirio commented on #2016
Not really, but planned. This PRs haven't been merged yet so its a bit early. #2060 implements it so you can use the `pkg/plugins` folder as examples.

[2021-03-17 21:40] camilamacedo86 opened #2098 "Document how people can create their own plugins"
The goal here is to document what is possible with this plugin architecture so that end-users can start building their own plugins for special use cases or languages.

It is blocked by: #2060, #1941, #2015

Note that after we get merged #2015 we can for example run `kb init --plugins=config/v1` and get the common base and then, and wee can indeed scaffold the files with any language that pleases u

[2021-03-17 21:40] camilamacedo86 commented on #2016
Hi @daniel-garcia,

It is not planned here. However, after we get merged #2015 you can for example run `kb it --plugins=config/v1` and get the common base and then, you can indeed scaffold the files with the language that you wish.

I will

[2021-03-17 23:04] Adirio commented on #1836
/lifecycle frozen

[2021-03-18 12:47] camilamacedo86 commented on #2010
Hi @rashmigottipati,

I think it was not added in the controller-runtime meeting. WDYT about follow up on the @joelanford suggestion https://github.com/kubernetes-sigs/kubebuilder/issues/2010#issuecomment-785558621 and raise an issue controller-runtime?

see that we also added it in EP  #1803 as well.

[2021-03-18 14:45] kuritka commented on #2067
The `go install` command can install go programs without affecting mod file dependencies. For example, executing `go install github.com/dummy/myapp@v0.1.2` is enough. Will you plan to update Makefile  ?
something like this :
[code]

or you plan to support older GO versions (stay with `go get...` / [go-get-tool](https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3-addon/Ma

[2021-03-18 20:58] #1543 closed

[2021-03-18 20:58] #1941 closed

[2021-03-19 20:32] #1685 closed

[2021-03-20 04:41] #1724 closed

[2021-03-22 07:14] JennyMet opened #2100 "Parse byte array for yaml value - kubebuilder"
HI,

My team are using kubebuilder (version 3 beta ) to build our custom controller, the problem is we are not able to parse raw data as it comes empty when you apply the file.

I’ve created some minimal example which describe the issue.
apiVersion: mygroup.test.com/v1alpha1

    kind: Rawtest
    metadata:
      name: rawtest-sample
    spec:
      system:
        type: test
        provider:

[2021-03-22 12:36] ToMe25 commented on #966
The platform variables for kube-rbac-proxy don't seem to be updated correctly in the google cloud.
The arch is set as `amd64` for all four images, and the os is set to `linux` for all of them.
This release can be found [here](https://console.cloud.google.com/gcr/images/kubebuilder/GLOBAL/kube-rbac-proxy@sha256:a06e7b56c5e1e63b87abb417344f59bf4a8e53695b8463121537c3854c5fda82/details?tab=info)

This

[2021-03-22 12:50] mkumatag commented on #966
even I have noticed this,! manifest is not populated properly.

[2021-03-23 02:14] chenliu1993 opened #2103 "Question about the tutorial book (`api/v1/cronjob_webhook already exists` when executing kubebuilder create webhook --group batch --version v1 --kind CronJob --conversion)"
Hi experts, I am starting learning the basic of kubebuilder from the online tutorial book. And I am currently on Chapter 2 <MultiVersion API>. But I hit some issues here. It is about the kubebuilder command.

When I run `kubebuilder create api/webhook --group batch --version v1/v2 --kind CronJob (--conversion)` I always got an error like `api/v1/cronjob_webhook already exists` or `controllers/cron

[2021-03-23 06:48] Adirio commented on #2103
Command calls are not idempotent. This means that if you run a `kubebuilder create api/webhook` twice you are not guaranteed to end in the same state. The reason why idempotency cannot be guaranteed is because some files are meant to be modified, either by the operator developer (you) manually coding some parts or by other command calls inserting code fragments at certain locations. We have three

[2021-03-23 07:40] chenliu1993 commented on #2103
Thank you Adirio, very detailed explanation! Really helpful!

[2021-03-23 07:40] #2103 closed

[2021-03-23 11:00] zillani commented on #491
@DirectXMan12 hugs! thank you so much!!!

[2021-03-23 12:28] Adirio commented on #2043
All points have been tackled, closing. If any other arises reopen.

[2021-03-23 12:28] #2043 closed

[2021-03-23 13:11] ttlv commented on #933
`
# The following patch enables conversion webhook for CRD
# CRD conversion requires k8s 1.13 or later.
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: nodedeployments.edge.harmonycloud.cn
spec:
  preserveUnknownFields: false
  conversion:
    strategy: Webhook
    webhookClientConfig:
      # this is "\n" used as a placeholder, otherwise it will be reject

[2021-03-23 17:14] rashmigottipati commented on #2010
@camilamacedo86 Will discuss this offline and raise an issue on controller-runtime if folks are in favor of prototyping the finalizer helper library as per @joelanford's suggestion. If we can't reach consensus, will add it to the next KB/controller-runtime meeting to discuss more.

[2021-03-23 18:00] camilamacedo86 commented on #2100
It is not a bug in the kubebuilder tool. It seems like you are looking for help to know how to implement your API spec in this case. So, I am changing the label here for support. Also, appears that it also is answered in https://stackoverflow.com/questions/66637260/parse-byte-array-for-yaml-value-kubebuilder.

In this way, could you please let us know if you still looking for help or if we can clo

[2021-03-23 18:24] camilamacedo86 commented on #2010
Hi @rashmigottipati,

Could you please like the controller-runtime issue here? Also, wdyt bout close this one and move with the controller-runtime one? We can re-open it if we need always it as well.

[2021-03-24 07:20] JennyMet commented on #2100
@camilamacedo86  - The answer in SO is not solving the issue therefore I put some bounty (which doesnt help either). if you think that this is not an issue with the kubebuilder, where it is ? could you give any hint or something as we are stuck a lot of time with it... thanks.

[2021-03-24 08:37] Adirio commented on #2100
@JennyMet I don't see your issue. `runtime.RawExtension` is working as expected:
[code]
outputs
[code]
as expected.

Could you print `rawtest` in your example controller (where the `// your logic here` is placed) and provide us the input and the output you are getting?

[2021-03-24 09:57] JennyMet commented on #2100
HI @Adirio ,

the output is `{nil}{}`

what I've tried is

[code]
do I miss something ?
https://github.com/JennyMet/kuberaw

Thanks,
Jenny

[2021-03-24 10:22] Adirio commented on #2100
The `A` type was just an example, you use `Rawtest` directly:
[code]

[2021-03-24 10:38] JennyMet commented on #2100
tried it now... did you able to get the data as I got `{}` see in debug please

![Uploading image.png…]()

[2021-03-24 10:44] Adirio commented on #2100
And which is the YAML you are applying? I mean `[123 125]` which is `{}` is a valid object. I don't know which value you are expecting that if you don't provide the input that is being reconciled.

[2021-03-24 11:17] JennyMet commented on #2100
this is the yaml https://github.com/JennyMet/kuberaw/blob/master/config/samples/mygroup_v1alpha1_rawtest.yaml and from here the data is omitted https://github.com/JennyMet/kuberaw/blob/master/config/samples/mygroup_v1alpha1_rawtest.yaml

[2021-03-24 12:16] Adirio commented on #1622
/lifecycle frozen

[2021-03-24 12:21] Adirio commented on #1513
IMO, we should make clear that markers are grouped by targets (field, type, ...), and therefore if a marker is valid for different targets it will appear in both sections, instead of removing them (or deduplicating them). Maybe even explicitly splitting them into targets using second-level titles.

[2021-03-25 09:22] TomorJM opened #2108 ""create api" meet error"
[code]

Run the example project from Quick Start on the [official website](https://book.kubebuilder.io/quick-start.html#create-an-api), and there is an error when executing the create API

[code]

I followed the error, then reexecuted the command `go get github.com/go-logr/logr@v0.1.0`, but it does't work~

Please give me some suggestions to solve this problem~

/kind bug
/kind documentation

[2021-03-25 09:37] Adirio commented on #2108
WARNING: Go 1.16 is not supported.

/remove-kind bug
/remove-kind documentation
/kind support

This error is given because youa re using an unsupported version of Go. Go 1.16 stops implicitly modifying `go.mod` on build, so `go mod tidy` needs to be issued. This has already been solved in `v3.0.0-beta.1` but you will probably face other issues related to Go 1.16.

[2021-03-25 10:01] TomorJM commented on #2108
So that's it
What do you suggest I do to solve this problem? Lower the Go version, or upgrade the Builder version

[2021-03-25 10:03] morvencao opened #2109 "unexpected behavior for bool type with api conversion"
## Issue Description:

We are supporting [Multi-Version APIs](https://book.kubebuilder.io/multiversion-tutorial/tutorial.html) for our controller built with kubebuilder, we have API of two versions: `v1beta1` and `v1beta2`, the api conversion is done through the webhook. The `v1beta2` acts as **hub** version(storage version), while `v1beta1` acts as **spoke** version,

In `v1beta1` and `v1beta2` v

[2021-03-25 10:30] Adirio commented on #2108
Lower the Go version is mandatory (v3.0.0-beta.1 doesn't support Go 1.16 either).
Upgrade k9r version to v3.0.0-beta.1 will provide with all the features that were included in version 3 projects, and the changes required once v3.0.0 is released should be minimal from a user perspective.

[2021-03-25 10:33] camilamacedo86 commented on #2108
Closing this one as solved. @TomorJM you can follow up https://github.com/kubernetes-sigs/kubebuilder/issues/2067 as well.

[2021-03-25 10:33] #2108 closed

[2021-03-25 10:39] camilamacedo86 commented on #2109
Hi @morvencao,

It does not show a bug with Kubebuilder CLI tool. I understand that you are looking for help/support over how to use the webhooks conversion and implement it.

I think @varshaprasad96 has been doing contributions on that and might help you here. @varshaprasad96 could you please give a hand on this one?

[2021-03-25 10:40] Adirio commented on #2109
You have not provided `kubebuilder version`.

Also, are you using `kubebuilder` or `operator-sdk`, because there are some versions that don't seem right.
- Project version `3-alpha` was something temporal that has never made it into a release. Operator SDK used it as it required new features that weren't present in any release so it was using nightly builds of k9r. Operator SDK offers a tool to mi

[2021-03-25 10:41] camilamacedo86 commented on #1963
Hi @dmathieu,

You do not need to setup locally. See that when you do the pr with the change you can preview that. More info:  https://github.com/kubernetes-sigs/kubebuilder/blob/master/CONTRIBUTING.md#how-to-preview-the-changes-performed-in-the-docs

[2021-03-25 10:47] camilamacedo86 commented on #2109
SDK does not that. @varshaprasad96 has been working on in the PR to scaffold a code to help users with. See: https://github.com/kubernetes-sigs/kubebuilder/pull/2084

All points raised by @Adirio are valid. Would also recommend to you use the latest beta version and do the migration. See: https://master.book.kubebuilder.io/migration/v2vsv3.html

And then, was decided to just bump the controller-ru

[2021-03-25 10:48] camilamacedo86 opened #2110 "Bump controller-runtime 0.9.0"
Update the go/v3 plugin to use the latest version of controller-runtime.

[2021-03-25 11:02] morvencao commented on #2109
thanks @camilamacedo86 @Adirio
We do use the operator-sdk to initialize our project, but operator-sdk does include the doc for support Multi-Version APIs, but kubebuilder does.

We have implemented logic of  **ConvertTo** and **ConvertFrom** functions for our type, the conversion for the other fields are working as expected, except the fields of `bool` type.

[2021-03-25 11:07] TomorJM commented on #2108
ok, thanks

[2021-03-25 11:08] Adirio commented on #2109
Without the code of those conversions, or at least a simplified version, there is little we can do to verify that. Providing a minimal reproducible example would be the best approach.

[2021-03-25 11:12] morvencao commented on #2109
@Adirio Before I logged the issue, I did some experiment.
The results show that without conversion, the **defaulting** feature of CRD works as expected.
That said, if I apply a CR with **EnableMetrics** to be `false`, then I will get it again, the field is still `false`, so it indicates that fields isn't overrided by the default value?

[2021-03-25 11:17] Adirio commented on #2109
I think it may be related to some `omitempty` tag which is making it not parse the false value (as it is the zero value for booleans) and then the default webhook is kicking as it doesn't see any value for that field. Can you post the code of the conversion functions (at least a simplified example)?

[2021-03-25 11:44] morvencao commented on #2109
Maybe, I'll try to verify if it's the `omitempty` tag.

The conversion logic is quite simple:

[code]

[2021-03-25 12:20] Adirio commented on #2109
That's strange, both methods are setting that variable directly. Any mutating webhook?

[2021-03-25 12:37] morvencao commented on #2109
@Adirio No, I don't enable mutating and validate webhook.

[2021-03-25 15:16] morvencao commented on #2109
@Adirio Looks like removing the `omitempty` tag resolves the issue. You're right, the `false` value for boolean type is not parsed correctly. I'll do more verification. Thanks a lot!

[2021-03-25 16:26] rashmigottipati commented on #2010
Closing this in favor of https://github.com/kubernetes-sigs/controller-runtime/issues/1453 in controller-runtime.

[2021-03-25 16:26] #2010 closed

[2021-03-25 17:50] rohitju1 commented on #1276
Hello
Can these Watches be filtered with labels, like I have CRD with to attribs
Var1: value1
Var2: value2.
Then a test pod is created with a test yaml file where labels are set with var1:value1 and var2:value2

I could get notifications for the CRD to create, update and delete in the reconciler.
But I need to get the notification for these pods as well with watches and differentiate in reconciler

[2021-03-26 02:51] morvencao commented on #2109
Removing the **omitempty** tag really mitigate the issue, but I have to mention that for the `v1beta1` objects already exist in the APIServer before we introduce the API conversion webhook, because those serialized objects(yaml/json) were marshalled with `omitempty`. We're still try to resolve this.

[2021-03-26 07:59] JennyMet commented on #2100
@Adirio  - Hey, did you able to figure out the issue?
if there is something is missing please let me know. thanks!

[2021-03-26 08:07] Adirio commented on #2100
I couldn't. I will move this question to the #kubebuilder slack channel to see if anyone knows about `RawExtansion` usage with `controller-runtime` library.

[2021-03-26 14:43] alvaroaleman commented on #2100
Well, the client doesn't return it because its not in the server, probably an issue with your CRD definition:

[code]

[2021-03-26 15:25] JennyMet commented on #2100
@Adirio - thanks a lot for your help!
@alvaroaleman  - thanks, not sure I got it as I use the kubebuilder to generate it, (using make manifests which generate the CRD)should I do something in addition?

[2021-03-26 15:46] alvaroaleman commented on #2100
I don't know offhand why this doesn't work, the CRD looks correct to me.
@rfranzke @timebertt Do you know offhand about any issues with the generated openapi schema for the gardener apis/core/v1beta1.Provider type? Ref: https://github.com/JennyMet/kuberaw/blob/dfdf7bace15b6b46b707f41e7ed9424e616cdd5b/api/v1alpha1/rawtest_types.go#L32

[2021-03-26 15:46] coderanger commented on #2100
I think your version of controller-tools is too old. Looking at your generated CRD

https://github.com/JennyMet/kuberaw/blob/master/config/crd/bases/mygroup.test.com_rawtests.yaml#L52-L56

It doesn't have `x-kubernetes-preserve-unknown-fields`. Compare to a similar setup with newer controller-tools:

https://github.com/coderanger/rabbitmq-operator/blob/82f2d4a5e943ea318fe3e95fabe9b5b7961ef878/conf

[2021-03-26 16:08] rfranzke commented on #2100
I think @coderanger is right, I remember something similar with other CRDs using `runtime.RawExtension` (e.g., https://github.com/gardener/gardener/blob/9df08ae3ae865f96db4161eb4ad01ced73107f3e/charts/seed-bootstrap/charts/extensions/templates/crd-infrastructure.yaml#L59).

[2021-03-26 16:56] JennyMet commented on #2100
@coderanger @rfranzke  as this is generated code and we are using kubebuilder https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.0.0-beta.0 , should we use different version? or diff lib version ?

[2021-03-26 17:42] coderanger commented on #2100
Check the version of controller-gen you are using locally.

[2021-03-26 19:43] JennyMet commented on #2100
@coderanger  - Thanks a lot for your help! not sure how to do it as I dont have the controller gen installed in my machine ...I tried to change the version of controller gen to 0.5.0 (before we use [0.4.1](https://github.com/JennyMet/kuberaw/blob/master/Makefile#L84l))

 And run

1.  `make controller-gen`
2.  `make uninstall `
3.  `make install`

Still the property doesnt added, should I do someth

[2021-03-27 15:21] camilamacedo86 commented on #2098
Hi @lander2k2,

The PR : https://github.com/kubernetes-sigs/kubebuilder/pull/2115 for this issue is done. Then, would be very nice indeed get your help in its review.

[2021-03-27 21:22] lander2k2 commented on #2098
Awesome news @camilamacedo86 - will check it out Monday morning

[2021-03-27 21:45] HamzaZo commented on #2029
@camilamacedo86  Have you planned to release version 3 soon?

[2021-03-27 23:04] camilamacedo86 commented on #2029
Hi @HamzaZo,

Yes. It is planned to:
- release an rc this week
- and then, the stable released ought to roll out after 2 weeks.

[2021-03-28 17:45] #2100 closed

[2021-03-29 11:12] ToMe25 commented on #966
If this would get fixed, would it get fixed for version 0.8.0, or is the earliest it might be fixed the next build?

[2021-03-29 16:15] camilamacedo86 commented on #1848
It would be something similar to: https://sdk.operatorframework.io/docs/upgrading-sdk-version/backport-policy/

[2021-03-29 16:15] rashmigottipati commented on #1848
/assign

[2021-03-29 16:19] camilamacedo86 commented on #1723
We can explain that and link https://book.kubebuilder.io/cronjob-tutorial/gvks.html.

[2021-03-29 16:21] camilamacedo86 commented on #476
This shows another one nice to the FAQ section such as :
- https://github.com/kubernetes-sigs/kubebuilder/issues/1723

[2021-03-30 07:43] morvencao opened #2116 "Add deprecated information for API"
As the API evolves, we need to deprecate some fields in the old version of API, looks like the [openSchema-v3](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#schemaObject) supports `deprecated` in the CRD, but I didn't find the corresponding marker to make the deprecated information automatically generated.

Can anyone guide me how to achieve that?

Also, the field depr

[2021-03-30 11:06] fengye87 opened #2117 "Include etcd, kube-apiserver and kubectl binaries in linux_arm64 tar ball"
I've noticed that there are no etcd, kube-apiserver or kubectl binary in linux_arm64 tar ball. Is this intentional? I mean it could save a lot of troubles in testing controller-runtime projects on ARM64 platform if the tar ball includes them, just like the AMD64 one does.

/kind feature

[2021-03-30 11:16] Adirio commented on #2117
`kubebuilder version` output, please

[2021-03-30 11:48] fengye87 commented on #2117
@Adirio Sorry about that, the output:

[code]

[2021-03-30 13:46] Adirio commented on #2117
Makes sense. Version 3 no longer is provided as a tar ball, the corresponding binaries are downloaded as needed. It should work for the specified platform. Closing as this feature request should already be implemented in v3. Feel free to comment if it doesn't meet your needs.

[2021-03-30 13:46] #2117 closed

[2021-03-30 17:24] miroswan opened #2118 "Missing requirements when following the instructions for the Kubebuilder book"
I was following the instruction from [here](https://book.kubebuilder.io/quick-start.html) when I got this error message:

[code]

I expected this command to exit non-zero.

* go version go1.16 darwin/amd64
* Version: version.Version{KubeBuilderVersion:"2.3.1", KubernetesVendor:"1.16.4", GitCommit:"8b53abeb4280186e494b726edf8f54ca7aa64a49", BuildDate:"2020-03-26T16:42:00Z", GoOs:"unknown", GoArch:"

[2021-03-31 01:42] jroper commented on #1593
@camilamacedo86 This isn't about the error itself, it's about the controller-runtimes reporting of the error being wrong, the controller runtime is reporting the error as if it came from its own code, but it didn't, it's the wrong stack trace. This makes it very difficult to debug errors returned by a controller, because there's no way to see which line of code the error came from.

[2021-03-31 06:32] Adirio commented on #2118
Go 1.16 is not supported.

This error is because Go 1.16 no longer tidies `go.mod` during `go build`. We are now (`v3.0.0-beta.1`) running `go mod tidy` manually when needed, so this error will be solved, but you still will probably find other Go 1.16 related errors.

Closing as this is not a bug.

/remove-kind bug
/kind support

[2021-03-31 06:32] #2118 closed

[2021-03-31 12:47] rashmigottipati commented on #1963
/assign

[2021-04-01 17:01] camilamacedo86 opened #2120 "Webhook manifests scaffolded with v1 api version are still adding supporting to the deprecated api"
## Bug Report

By using the tool o scaffold a webhook config using the default flag value for webhookVersion=v1 it has been adding the deprecated version as well when I would expect only the latest versions been used since the tool does not support we use both api versions to do the scaffolds.

#### What did you do?

Create a project with webhooks using the default flag v1

#### What did you expec

[2021-04-01 18:06] camilamacedo86 commented on #2120
Closing this one based on the discussion made in the slack. https://kubernetes.slack.com/archives/C0EG7JC6T/p1617294922155800

As a summary:
- docs for 1.22 say supported versions for AdmissionReview are v1 and v1beta1
- AdmissionReview v1beta1 will continue to work with 1.22, though if you list v1 in the options it would be selected and used because it is a newer
- it’s (presumably) part of a tra

[2021-04-01 18:06] #2120 closed

[2021-04-01 18:35] Wastack opened #2121 "Use bash to run 'test' Makefile target"
Let's assume I have `/bin/sh` as default shell. But error occurs also if I don't have $SHELL explicitly set (because GNU Make defaults to sh).

When running `make test` I have the following error messages:

[code]
And since sourcing script which would have set `KUBEBUILDER_ASSETS` failed, I have the following error as test result:

[code]

What versions of software are you using?  Specifically, th

[2021-04-01 19:14] estroz commented on #2121
See #1892. I'm going to leave this open so others who encounter this issue see it.

/triage duplicate

[2021-04-02 00:31] Venkat19967 commented on #1908
/assign

[2021-04-02 10:11] fyxemmmm opened #2122 "problem about "spec.validation.openAPIV3Schema.properties""
when I  use the  package of "k8s.io/api/core/v1" in the types file,  after that, I run "make install" to gen the crd file, something wrong like that,  what can I do for that? thanks!
* spec.validation.openAPIV3Schema.properties[spec].properties[template].properties[spec].properties[containers].items.properties[ports].items.properties[protocol].default: Required value: this property is in x-kuberne

[2021-04-02 12:52] #1651 closed

[2021-04-02 15:59] fjammes opened #2123 "Add target to deploy a namespace-scoped operator."
Add a Makefile target (i.e. `make ns-deploy`) and related `kustomize` configuration files to deploy a namespace-scoped operator. This target would automate the feature documented here: https://sdk.operatorframework.io/docs/building-operators/golang/operator-scope/#changing-the-permissions-to-namespaced.

I have implemented a prototype for it and I can open a PR if needed.

It does not require a pa

[2021-04-02 21:39] MathieuCesbron opened #2124 "I followed the quick start but `make test` fails"
I followed the Quickstart, generated an operator-sdk project but then running `make test` fails with:

[code]

My kubebuilder version, also I am on a Mac with the m1 chip.
[code]

/kind bug

[2021-04-02 22:41] Adirio commented on #2124
Go version? 1.16 is not supported

[2021-04-03 09:26] #2124 closed

[2021-04-05 19:30] jmrodri opened #2125 "Regression: extra commands require a valid PROJECT file again"
https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/cli/cli.go#L194 returns an error when it can not parse the config file. This means that extra commands will no longer work. This affects the `operator-sdk` because we have a command `alpha config-3alpha-to-3` that will convert `3alpha` PROJECT config to valid 3 config. But the error prevents this command from ever running.

Similarly,

[2021-04-05 19:30] jmrodri commented on #2125
/assign @jmrodri

[2021-04-06 07:03] Adirio commented on #2125
I would not consider this a regression as the previous case was when the config file didn't exist.

[2021-04-06 18:07] camilamacedo86 commented on #2123
We think that it is a common need so please feel free to push a PR with your idea to solve that. However, we are not sure if it would be better addressed via a makefile target. Let's check your proposal and go forward from there. WDYT?

[2021-04-06 18:09] Adirio commented on #2123
Small note: the most that can be solved with kustomize patches the better.

[2021-04-07 00:03] nateinaction commented on #1917
I also ran into this error `SideEffects is required for creating v1 {Mutating,Validating}WebhookConfiguration` and resolved it by adding `sideeffects=None` to my `// +kubebuilder:webhook:...` marker

[2021-04-07 15:03] dashpole opened #2128 "`make test` fails in docs/book/src/cronjob-tutorial/testdata/project"
From HEAD, running `make test` from docs/book/src/cronjob-tutorial/testdata/project fails with:

`SideEffects is required for creating v1 {Mutating,Validating}WebhookConfiguration`

If I fix that by adding the `sideEffects=None` tag to webhooks, it fails with:

`AdmissionReviewVersions is mandatory for v1 {Mutating,Validating}WebhookConfiguration`

If I fix that by adding the `admissionReviewVersi

[2021-04-07 15:25] #2015 closed

[2021-04-07 15:26] github-actions[bot] opened #2130 "🐛 Lint failed for d5e70a57ccb094725539a55bd665299067f0b9e4"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/726489019

[2021-04-07 15:40] camilamacedo86 commented on #2128
Hi @dashpole,

We need to update the projects in the book dir.
See that we have shell scripts to re-generate them and then we can use an IDE to compare with the master branch and put back all comments/docs text on top.

Would you like to work on that ?

[2021-04-07 15:59] dashpole commented on #2128
Which script?

I'm mostly interested in figuring out how to fix the error: `"field label \".metadata.controller\" not supported for batchv1.Job"`, since i'm hitting that in my own project.

[2021-04-07 16:16] camilamacedo86 commented on #2128
You did not execute `make install` first. Let me know if you are able to do that after it.

[2021-04-07 17:04] dashpole commented on #2128
After that, I get:
[code]

[2021-04-07 19:30] camilamacedo86 commented on #2016
I am closing this one since now we have only  #1378 to be addressed. Then, has no longer need for a meta issue.

[2021-04-07 19:30] #2016 closed

[2021-04-07 20:30] DirectXMan12 commented on #2128
This looks like for some reason the fake field selector that we use as an index key is being used against the API server as a real field selector.

[2021-04-07 20:56] DirectXMan12 commented on #2128
https://github.com/kubernetes-sigs/kubebuilder/pull/2066 broke the tests by misinterpreting the "don't use the manager's client in the tests" reccomendation.  I'll comment there and suggest a fix

[2021-04-07 20:57] DirectXMan12 commented on #2018
To be clear for posterity (because the follow-up PR broke the tests): You shouldn't use the manager's client in *assertions* in tests.  You *should* use the manager's client in your reconciler.

[2021-04-07 21:17] dashpole commented on #2128
Thanks @DirectXMan12!  Thats what I need to unblock my work.

[2021-04-07 22:39] #2130 closed

[2021-04-08 12:47] AlexsJones opened #2135 "logr@v.01.0 dependency failing to complete create API"
I apologise if this belongs in controller tools but I cannot differentiate whether this is actually a dependency issue or a controller issue.

Here is a recording...

[![asciicast](https://asciinema.org/a/IjN1dFYArWURISiWZPu4NtU1j.svg)](https://asciinema.org/a/IjN1dFYArWURISiWZPu4NtU1j)

[code]

I expected this command to run successfully...

[code]

Software versions:

- `go version go1.16.3 darw

[2021-04-08 14:29] adambkaplan commented on #1487
Agree that this docs on these markers are needed. For example, what does the `kubebuilder:scaffold:scheme` marker do? Can I add other schemes besides the ones needed for my project's APIs?

[2021-04-08 15:08] Adirio commented on #2135
Go 1.16 is not officially supported yet, go1.15 should work. Lastest unstable releases should also solve this issue but Go 1.16 is still not supported so it may fail in other places.

[2021-04-08 15:09] #2135 closed

[2021-04-08 23:12] alexec opened #2136 "Restarting a custom resource"
I would like to be able to support the following for a project

[code]

Is this possible please?

[2021-04-09 13:24] sri-vathsa commented on #628
I am also facing the same issue. Increasing the time out didn't solve the issue. I am running ubuntu on AWS graviton instance. Can someone help me out?

[2021-04-10 17:56] goutamtadi1 commented on #2110
/assign

[2021-04-11 02:23] rda3mon commented on #592
You can use `crypto/sha256` instead of hashstructure on marshalled spec to get a hash. Here is an example

[code]

[code]

[code]

[2021-04-11 19:18] #2125 closed

[2021-04-12 09:50] camilamacedo86 commented on #1999
That requires a few more caveats. It was identified in the scenario (https://github.com/operator-framework/operator-sdk/issues/4747)

To scaffold a webhook for an external/core type:
- that will be required multi-group support otherwise is not possible to create the webhook file in the right place
- should not be required to create-api before that ith resource=true

[2021-04-12 15:16] michelleN opened #2140 "conversion webhook scaffolding for multi-group api"
[code]

I expected the conversion webhook file to be scaffolded.

I think what might be happening is that the command is not finding the resource potentially because it is under the `apis/` directory?

/kind bug

[2021-04-12 15:28] camilamacedo86 commented on #2140
You cannot create a webhook if you do not have an API for that.
Did you create an API for that?

[2021-04-12 15:38] michelleN commented on #2140
Yes I do. It is under `apis/<group>/<version>` from my root directory

[2021-04-12 18:39] Adirio commented on #1999
Webhooks can not be created for external types with the higher level abstraction of controller-runtime (which `create webhook` uses) as it implements a method of a type and that is not supported in Go (you cant define a method for a type of  different package). What we may want to do is provide some scaffolding using the lower abstraction layer in case of external types, but that would be a differ

[2021-04-12 18:42] Adirio commented on #2140
Can you post your `PROJECT` file (you can skip fields if you want but im interested in `version` and the corresponding element in the `resources` list.

[2021-04-12 18:46] camilamacedo86 commented on #2140
Hi @michelleN,

The tool store what is scaffold in the PROJECT file. If you do things manually without the tool then, is not possible to ensure that it will still be working as should be. As a workaround, you can try to fix that by updating the Project file or just re-scaffolding the api with the tool and adding your code back.

[2021-04-12 18:51] estroz opened #2141 "`create webhook`: return error when used with a core type"
When I run `kubebuilder create webhook` on a core type, ex. `v1.Pod`, the command attempts to define methods on a non-existent locally-defined type. Instead, the command should return an error explaining that core types are not supported by this command.

[code]

/kind bug

[2021-04-12 20:58] camilamacedo86 commented on #2141
IHMO, we ought to support that.
So, that means:

- create api properly work with core/external types: RFE: https://github.com/kubernetes-sigs/kubebuilder/issues/2141

AND that means

- change here: https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/golang/v3/webhook.go#L107 for:

- If is core type then update the PROJECT file accordingly and scaffold the webhook
- if is externa

[2021-04-12 21:07] camilamacedo86 commented on #1999
@Adirio,

Could you describe why not?

An external type is exactly the same as any api/type created in the operator. The only difference is that is not defined in the project and outside. However, both are CRDs.

Are you trying to describe that webhooks have a limitation for core types? could you please add more references about that here to share your thoughts?

[2021-04-12 21:48] #2098 closed

[2021-04-12 22:02] estroz commented on #1999
@camilamacedo86 you cannot define methods on an external type, since the Go project does not define the type. For example, you cannot define
[code]

[2021-04-12 23:28] camilamacedo86 commented on #1999
HI @estroz,

The &corev1.Pod{} is **not** an external type. That is a core-type.
External type or third-party(as called in other places) is any api whose owner is not the operator itself and is **not** a core type. Core types are the k8s api resource types.

[2021-04-12 23:33] estroz commented on #1999
All core types are external types. The problem encountered by the above example is the same for all external types.

[2021-04-12 23:36] camilamacedo86 commented on #1906
It shows solved with https://github.com/kubernetes-sigs/kubebuilder/pull/2065.
However, please feel free to pig us to re-open if not.

[2021-04-12 23:36] #1906 closed

[2021-04-12 23:39] camilamacedo86 commented on #1999
HI @estroz,

No. That is not.

For both scenarios, we are able to accomplish the goal. However, for each one, we need to address its caveats. For example, see here the kb documentation over how to create webhooks for core types.  (https://book.kubebuilder.io/reference/webhook-for-core-types.html)

[2021-04-13 02:39] estroz commented on #1999
Can you explain why they are different?

[2021-04-13 12:51] kopiczko commented on #1999
Just saying this documentation is incomplete. `kubebuilder` won't generate many kustomize resources if the project's only webhook is the one handling core types (or types not fulfilling interfaces). Possibly it was written with the assumption there is already a type with the associated webhook generated in the project.

It would be great to support 'core types'/'types not fulfilling interfaces'. I

[2021-04-13 18:17] estroz commented on #2141
This solution is more of a holdover until something like what is suggested [here](https://book.kubebuilder.io/reference/webhook-for-core-types.html) is implemented and kustomize-able resources are generated correctly for core/external types.

Alternatively the holdover can be skipped entirely if the `Handler` implementation can be completed without an EP, which I think it can.

@kopiczko if you'd

[2021-04-14 07:50] Adirio commented on #1932
/lifecycle frozen

[2021-04-14 10:29] kopiczko commented on #1999
Coming from https://github.com/kubernetes-sigs/kubebuilder/issues/2141#issuecomment-818232836

Do I understand correctly that external types not implementing `Defaulter` or `Validator` should be supported as well?

[2021-04-14 10:30] kopiczko commented on #2141
Cool, thanks, I'll look into this and check what I can do in the following days. Possibly starting wit the error message is a good warmup for me.

[2021-04-14 12:06] camilamacedo86 commented on #1999
**An external type is NOT a core type**. For example:

External type can be a CRD that is implemented in Operator A and used in the B. In this common case, for example, the scaffold for the external types can be exactly the same for that ones which are done for the APIs/CRD owned by the project

I hope that clarifies.

[2021-04-14 23:30] logicalhan opened #2144 "asdf"
### What do you want to happen?

/close

###

_No response_

[2021-04-14 23:30] #2144 closed

[2021-04-14 23:30] DirectXMan12 opened #2145 "blah"
### What do you want to happen?

test issue

###

_No response_

[2021-04-15 11:25] kopiczko commented on #1999
@camilamacedo86 thanks for clarifying.

There are definitely cases where external-types are not owned. One example my company is doing is setting default `http://cluster.x-k8s.io/watch-filter` on CAPI types.

I'm also not sure if it feels right to have the controller logic outside the controller repository. In such scenario updating the type's repository dependency would also change the controller

[2021-04-15 12:44] camilamacedo86 commented on #1999
Hi @kopiczko,

Thank you for your reply.

In the example, the controller logic is in the project. The CRD definition is that not. The controller will reconcile a type that is not defined by the project only that. Because of this, we call external type.

We can easily identify what is a core-type or not. It is mapped in the project. See:https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg

[2021-04-15 13:19] kopiczko commented on #1999
Sorry @camilamacedo86 I abuse the word "controller".

Here I meant "admission controller". So "controller logic" == "webhook logic".

That was my whole point. If that scenario is not supported then users may end up with generating something for a core type and replacing imports.

How would you like to scaffold a webhook for a core type? Wouldn't the same scaffolding work for non-core non-owned?

[2021-04-15 16:24] estroz commented on #1999
@kopiczko yes, and @camilamacedo86 that is what I meant by "All core types are external types in this context". The solution suggested in [the docs](https://book.kubebuilder.io/reference/webhook-for-core-types.html#implement-your-handler) will work for core types right now. For other external types, differentiation from owned types is needed first so the CLI "knows" which implementation to scaffol

[2021-04-19 06:19] kopiczko commented on #1999
Hi @camilamacedo86 @estroz, I was pondering around a bit and have some ideas. What is the best way to discuss how this webhook scaffolding would look like? Is it fine to describe it very briefly here and then discuss the rest in a draft PR?

[2021-04-19 06:27] kopiczko commented on #2141
Hi @estroz,

I was trying to think what would be the good way to fix this and found that doesn't only apply to the core types.

In general:

[code]

Setting `--controller=false` gives the same output. You can replace `--group "mygroup"` with `--group ""` and the output will be the same.

So I'd say the issue is that webhook methods are generated on non-existent resource in general?

[2021-04-19 07:32] Adirio commented on #1999
Slack for early discussion can also be used, add me also to the conversation

[2021-04-19 07:34] Adirio commented on #2141
More than an issue, they are a unsupported feature. We only support webhooks for types we have scaffolded ourselves.

[2021-04-20 17:55] camilamacedo86 commented on #2128
Closing that as solved in the master branch.

[2021-04-20 17:55] #2128 closed

[2021-04-20 17:59] camilamacedo86 commented on #2140
Hi @michelleN,

You can check [here](https://master.book.kubebuilder.io/reference/project-config.html) the documentation over the project config. Also, you can check further information about the project file and its changes in the [migration guide from v2 to v3](https://master.book.kubebuilder.io/migration/v2vsv3.html). See [here](https://master.book.kubebuilder.io/migration/manually_migration_gu

[2021-04-20 17:59] #2140 closed

[2021-04-20 18:56] #2121 closed

[2021-04-21 08:03] Adirio commented on #1487
These markers are used to insrt code with `kubebuilder` commands, for example when a controller is created, the main file has to include some code fragments to load it, and where to place those code fragments is marked by `//+kubebuilder:scaffold:*`

[2021-04-21 16:30] kopiczko commented on #2141
Shouldn't generating scaffolding for the resource also be forbidden in `kubebuilder create api`?

[2021-04-21 17:55] estroz commented on #2141
Theoretically `create api` can create a controller for a core type. When I run `kubebuilder create api --controller`, I get a controller for no resource, so technically it does work right now. I propose better handling of this situation by accepting some import path that can then be used in a controller in #1999. The `--resource` flag should generate an error though.

[2021-04-22 17:49] joelanford commented on #1573
/lifecycle frozen

Since this has label `triage/accepted`

[2021-04-26 17:04] DirectXMan12 commented on #2067
@kuritka AFAIK, `go install-ing` something is still global, so while we could potentially switch to using `go install` instead of `go mod init; go get`, we'd still have to have the `GOBIN` trick to avoid clobbering the user's existing configuration, unfortunately

[2021-04-26 18:26] DirectXMan12 opened #2157 "Issue templates should work"
### What do you want to happen?

foobar

### Extra Labels

/kind documentation

[2021-04-26 22:52] sdeoras commented on #1785
my arm64 based k8s cluster complained that it could not detect platform in the manifest when pulling from `gcr`, however, changing to `quay.io/brancz`, things worked fine. I am wondering if arm64 is supported for this container image on gcr?