[2021-04-26 23:08] estroz commented on #1785
I think our `gcr.io/kubebuilder/kube-rbac-proxy` build did not [build or pull](https://console.cloud.google.com/gcr/images/kubebuilder/GLOBAL/kube-rbac-proxy@sha256:a06e7b56c5e1e63b87abb417344f59bf4a8e53695b8463121537c3854c5fda82/details?tab=info) images for the arch set properly.

[2021-04-26 23:30] sdeoras commented on #1785
thanks for looking into it @estroz . yeah, i see all four items in the manifest show `amd64` as arch. should i file a bug for it?

[2021-04-27 19:59] #1860 closed

[2021-04-27 23:05] DirectXMan12 commented on #1785
Looks like `docker manifest rm` is erroring out as not a subcommand of `docker manifest`:

[code]

[2021-04-27 23:58] DirectXMan12 commented on #1785
update: it turns out we weren't annotating the manifests properly.  IDK what's up with @estroz's docker though

[2021-04-28 11:40] w3st3ry opened #2159 "Extend files whitelist for init cmd v3"
### What do you want to happen?

This issue is related to [this one from `operator-sdk`](https://github.com/operator-framework/operator-sdk/issues/4796).

The allowed/whitelisted files for init cmd (in v3) are quite restricted, I would like to extend the list by whitelisting `.md` files extension + capitalized files name (like OWNERS, SECURITY, WORKSPACE...).

A PR will follow.

### Extra Labels

[2021-04-28 15:31] kopiczko opened #2162 "Handle --group flag for core types when empty string is provided"
### What broke? What's expected?

Specifying `--group=""` for a core type is confusing. When I ran it with `--group="" --version=v1 --kind=Pod` I expected to have it handled as a core type. To make it work for a core type I have to set `--gourp="core"` which is not obvious.

### Reproducing this issue

This is ok:

[code]

This is **not** ok:

[code]

### KubeBuilder (CLI) Version

Version: main.v

[2021-04-28 16:18] tanis2000 commented on #2122
I stumbled upon the same issue while following the CronJob tutorial. Any pointer to where the problem in the code could be?

[2021-04-28 21:24] shaneutt opened #2165 "Kubebuilder v3.0.0 fails without a present "Dockerfile""
### What broke? What's expected?

In our repository we've moved the `Dockerfile` out of the directory and the build happens elsewhere, but the `kubebuilder` CLI does not tolerate this, failing with:

[code]

Furthermore if the file does exist it checks for a very specific line:

[code]

I would expect the CLI _by default_ to be able to tolerate the lack of `Dockerfile` present, and allow the end u

[2021-04-28 21:37] Adirio commented on #2165
The edit command modifies the Dockerfile to use the right API path, so that error is expected.

[2021-04-29 03:59] nathanperkins commented on #1517
Is there a way to set log levels via command-line flag with the scaffolded code?

It looks like we're having to change the code to support this.

[2021-04-29 14:21] hdonnay opened #2167 "v2 to v3 migration guides 404"
### What broke? What's expected?

These links:

* https://book.kubebuilder.io/migration/migration_guide_v2tov3.html
* https://book.kubebuilder.io/migration/manually_migration_guide_v2_v3.html

which are found in the body of the documentation as well as in the sidebar, shouldn't 404.

### Reproducing this issue

_No response_

### KubeBuilder (CLI) Version

N/A

### PROJECT version

_No response_

[2021-04-29 14:23] shaneutt commented on #2165
Sorry I may not have communicated the point as well as I had hoped to:

The `kubebuilder edit` subcommand describes itself in this way:

[code]

So if it's really intended to do more, shouldn't that intended behavior around `Dockerfiles` be listed or otherwise mentioned?

[2021-04-29 18:39] camilamacedo86 commented on #2165
Hi @shaneutt,

The CLI tool will look for the files in the specific places that have no way for that discovery where is the place that you move out the Dockerfile. Note that the edit command will edit the default Dockerfile scaffolded to change it accordingly to the multi-group support layout.

Please see the note: https://book.kubebuilder.io/migration/v2vsv3.html#project-customizations

[2021-04-29 19:11] shaneutt commented on #2165
1. does it need to fail?
2. if it does need to fail shouldn't the docs for the command be updated to reflect the Dockerfile related features?

[2021-04-30 16:25] adambkaplan opened #2171 "Scaffold Ginkgo tests in a dedicated directory and run with the Ginkgo CLI"
### What do you want to happen?

## Proposal

1. Scaffold ginkgo tests with envtest in a separate directory - `test/integration`
2. Scaffold the Makefile to install the Ginkgo CLI (as is done with other go tooling)
3. Scaffold a dedicated `test-integration` make target, which invokes the integration test suite via the Ginkgo CLI
4. Scaffold a dedicated `test-unit` make target, which invokes `go te

[2021-04-30 17:52] estroz commented on #1517
You're looking for [`--zap-log-level`](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/log/zap#Options.BindFlags).

[2021-04-30 18:24] estroz commented on #2171
https://github.com/kubernetes-sigs/kubebuilder/issues/822#issuecomment-506887995 argues against your point (1), an argument I personally agree with. Ginkgo/Gomega encourages clean, readable test code and has _a lot_ of facilities that the std testing library lacks. People tend to supplant it with a testing framework for this reason. I think it's ok for kubebuilder to be opinionated about this.

Th

[2021-04-30 23:14] #1351 closed

[2021-05-02 16:07] daenney opened #2172 "Cannot scaffold with Go 1.16"
### What broke? What's expected?

I can't scaffold a project if my Go version is 1.16 without using `--skip-go-version-check`. Using `--skip-go-version-check` results in a perfectly functional project.

Though I'm sure there are improvements in Go 1.16 that kubeduilder could take advantage of, given the Go 1 compatibility guarantee I'm a little puzzled as to why kubebuilder choses to enforce an up

[2021-05-02 16:38] daenney opened #2174 ""changes since" links in releases are broken since v3.0.0-rc.0"
### What broke? What's expected?

When going through the releases on GitHub, the "changes since previous_version" links are broken since v3.0.0-rc.0

### Reproducing this issue

Go to https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.0.0-rc.0 and look at the link that gets pointed to for "changes since v3.0.0-beta.1".

It worked for previous releases. It looks like whatever is generat

[2021-05-02 16:44] daenney commented on #2167
Both links you provided work for me.

[code]

There's been a couple of PRs to fix things for the book, which I suspect probably resolved your issue too: https://github.com/kubernetes-sigs/kubebuilder/pulls?q=is%3Apr+is%3Aclosed+book

[2021-05-02 17:02] daenney opened #2175 "Make it easy to build multi-platform images"
### What do you want to happen?

Right now the Docker image generated by the scaffolder hardcodes `GOARCH=amd64` when building. This results in the image always containing an amd64 binary. This will probably also result in a broken image if one were to build this on a non-amd64 host. With Arm gaining momentum in the server space, it would be nice if easily building for a different architecture and

[2021-05-02 18:36] Adirio commented on #2174
I fixed them manually, these links are being generated and #2031 is already tracking that issue.

[2021-05-02 18:36] #2174 closed

[2021-05-02 18:39] Adirio commented on #2172
Go 1.16 is not supported and already documented. There is a meta issue tracking some of that info: #2067

[2021-05-02 18:39] #2172 closed

[2021-05-02 18:39] Adirio commented on #1583
/lifecycle frozen

[2021-05-02 19:19] camilamacedo86 commented on #2167
that seems solved. closing this one. However, please feel free to ping us if required to re-open this one.

[2021-05-02 19:19] #2167 closed

[2021-05-03 17:17] estroz commented on #1997
Closed by #1961

[2021-05-03 17:17] #1997 closed

[2021-05-04 09:47] strideynet commented on #2171
I think encouraging a ``test/e2e`` similar to that in the Kubernetes repository also makes a lot of sense for testing Controllers.   I've been following this practice on my kubebuilder generated projects and allows me to invest in longer more complicated tests without worrying about the time it takes for the suite to run. As a result, I can run ``go test ./...`` for cheap unit/integration tests wh

[2021-05-04 13:23] camilamacedo86 commented on #2171
By following the Golang good practices the tests should be with the code implemented then, I do not think that is a good idea create these dedicates directories proposed here.

[2021-05-04 17:45] estroz commented on #2171
That's not what the closed issue or I am saying, so how did you come to the conclusion that this the next best option? Using two different testing paradigms is even more confusing. BDD testing is a super common paradigm in many languages, so it's not like kubebuilder is asking users to do something esoteric.

Got any data to back that statement up? When I search ginkgo or gomega in github I see qu

[2021-05-04 18:06] camilamacedo86 commented on #2159
In the bug triage meeting, we discussed it and seems that would be fine. However, that could not allow has the PROJEC file already.

[2021-05-04 18:08] jmrodri commented on #2162
This seems like a duplicate of this issue #1999

[2021-05-04 18:12] camilamacedo86 commented on #2175
Would like to propose a solution on this one? Please, feel free to raise a PR against master.

[2021-05-04 18:16] camilamacedo86 commented on #2162
Hi @kopiczko,

It is not officially supported now and it seems a desirable RFE. I think we can close this one as a duplicate. However, please feel free to push a PR with your ideas and/or work in on in the  #1999.

If you think that should be re-open and cannot be closed as duplicated please let us know either.

[2021-05-04 18:16] #2162 closed

[2021-05-04 18:18] camilamacedo86 commented on #2171
These seems a subject that ought to be raised in [Kubebuilder, Controller Runtime, and Controller Tools](https://docs.google.com/document/d/1Ih-2cgg1bUrLwLVTB9tADlPcVdgnuMNBGbUl4D-0TIk/edit#heading=h.dp4gt7gj3cn). Could you please do that?

[2021-05-09 10:39] stijndehaes commented on #1622
I see you are assigned @krol3, don't know if you are working on it or this is still relevant. But if it's still relevant and you are ok with this I would love to give this a try :)

[2021-05-09 11:44] krol3 commented on #1622
@stijndehaes please give a try. I didn't have time to do it.

[2021-05-09 12:39] stijndehaes commented on #1622
@DirectXMan12 Since it's been a long time ago I think it's better that I propose what I think I have to do before starting so here it goes:

- The page about implementing defaulting/validating webhook has to be moved to reference. Since we want people to use default/validation markers in the tutorial
- Add a new page in the tutorial instead of the webhook page that uses a default marker and a vali

[2021-05-10 10:09] gtracer commented on #1152
It looks like client.New(kubeconfig, client.Options{ Scheme: scheme }) actually doesn't set up watches or use caching for get/list. It just sets up a client that directly reads/writes to the apiserver

[2021-05-13 21:58] jessemillar commented on #2117
@Adirio Are you implying `kubebuilder` is capable of downloading the `etcd`, etc. binaries at runtime? Or is there some Makefile target that needs to be invoked?

[2021-05-14 13:39] robbie-demuth opened #2183 "Grafana dashboard for visualizing controller-runtime metrics"
### What do you want to happen?

The Kubebuilder book has a [page dedicated to metrics](https://book.kubebuilder.io/reference/metrics.html). It explains how controller-runtime publishes metrics, how to protect them using kube-auth-proxy, and how to export them for Prometheus.

All operators built using Kubebuilder publish the same metrics (albeit with different dimensions for some labels). Many te

[2021-05-17 15:57] Ottovsky commented on #1593
Is it desired behaviour? Are there any quick fixes, workarounds to get rid of those stacktraces?

[2021-05-18 21:53] estroz commented on #2067
I believe I found a blocker: our test matrix. I think some bug fixes (features?) in go 1.16 made module installation more strict (see https://github.com/kubernetes-sigs/kubebuilder/pull/2182/checks?check_run_id=2614771863#step:6:520), which results in errors in go/v2 tests. For full backwards-compatibility, we'll likely want to start running all tests in `golang:{x}.{y}` containers like in prow.

[2021-05-19 17:17] arturdzm commented on #2122
I have exactly same issue, tried with kubernetes api package 1.20.6
Any workarounds?

[2021-05-19 23:40] acmenezes opened #2185 "Add gosec to test target in scaffolded Makefile"
### What do you want to happen?

Beyond running go fmt and go vet with the make test command it seems interesting to have gosec (https://github.com/securego/gosec) scanning for vulnerabilities in the scaffolded operator project right out of the box. That has 2 goals: prevent against the vulnerabilities themselves from being published with new operators and educate new operator developers about the

[2021-05-20 18:29] camilamacedo86 commented on #1887
This issue should not be closed.

The above is true. However, we agreed that we would linter the scaffolds in the tests (make generate) and CI to ensure that the code which is generated by the tool is passing in the lint.

[2021-05-20 18:34] #2185 closed

[2021-05-20 19:08] camilamacedo86 commented on #2029
it is done .

[2021-05-20 19:08] #2029 closed

[2021-05-23 07:13] Adirio commented on #2117
Yes, `make test` downloads the required binaries for testing.
Go 1.16 was recently supported but is not required afaik.

[2021-05-23 14:15] aayushrangwala commented on #2175
/assign

[2021-05-24 03:13] fengye87 commented on #2117
From what I can tell, `make test` is leveraging [this script](https://github.com/kubernetes-sigs/controller-runtime/blob/v0.7.2/hack/setup-envtest.sh) from the controller-runtime project. Though there's nothing special other than downloading or unpacking things in the script, it is relying a Go env at [line 66](https://github.com/kubernetes-sigs/controller-runtime/blob/v0.7.2/hack/setup-envtest.sh

[2021-05-24 21:56] camilamacedo86 opened #2188 "Create api is not calling make manifests"
### What broke? What's expected?

The full description can be checked in:
https://github.com/operator-framework/operator-sdk/issues/4928

### Reproducing this issue

Just run create api and see that the CRD is not generated.

### KubeBuilder (CLI) Version

3.0.0

### PROJECT version

3.0.0

### Plugin versions

[code]

### Other versions

master

### Extra Labels

/kind regression

[2021-05-25 18:13] estroz commented on #2188
I don't think this is a bug. Looking at the blame, when the go/v3 plugin was [created 12 months ago](https://github.com/kubernetes-sigs/kubebuilder/blame/14b27b4e24ba476b19de776f7a05fc56edf993cd/pkg/plugins/golang/v3/api.go#L236), `make all` was called on `kubebuilder create api` which [ran](https://github.com/kubernetes-sigs/kubebuilder/blame/1cd45e2a727fc5579c0195dc5397a9b418c5d7e7/pkg/plugins/g

[2021-05-26 08:31] Adirio commented on #2188
No, this was totally intentional.
The scaffolded types file needs to be modified. This means that the generated CRD if you run `make all` during `k9r create api` it will create a partial CRD that will have to be updated, so there is no reason to create it. And by "needs to" and "will have to be" I'm not saying that the user MAY update it, I'm saying that it MUST update it. If a plugin would create

[2021-05-27 19:04] #2042 closed

[2021-05-27 19:13] camilamacedo86 opened #2191 "Migration guide for minor releases"
### What do you want to happen?

After the 3.1.0 release, a user asked the info over how to upgrade/update their project with the latest changes from 3.0.0 to 3.1.0. In SDK we work with migration guides for the minor releases as well (e.g. https://sdk.operatorframework.io/docs/upgrading-sdk-version/v1.7.1/) Also, we have a process to add the steps in each PR (see its [template](https://github.com/

[2021-05-28 08:33] camilamacedo86 commented on #2183
That would be here. Let's raise that in the Kubebuilder, Controller Runtime, and Controller Tools Meeting (Agenda doc: https://docs.google.com/document/d/1Ih-2cgg1bUrLwLVTB9tADlPcVdgnuMNBGbUl4D-0TIk/edit#heading=h.dp4gt7gj3cn )

[2021-05-28 08:33] camilamacedo86 commented on #2191
Let's raise it in the Kubebuilder, Controller Runtime, and Controller Tools Meeting (Agenda doc: https://docs.google.com/document/d/1Ih-2cgg1bUrLwLVTB9tADlPcVdgnuMNBGbUl4D-0TIk/edit#heading=h.dp4gt7gj3cn )

[2021-05-28 08:36] camilamacedo86 opened #2193 "README badges are broken (build of book-v2)"
### What broke? What's expected?

See:

<img width="515" alt="Screen Shot 2021-05-28 at 09 36 21" src="https://user-images.githubusercontent.com/7708031/119955701-33355700-bf98-11eb-9040-38c0d0f732ee.png">

### Reproducing this issue

https://travis-ci.org/github/kubernetes-sigs/kubebuilder

### KubeBuilder (CLI) Version

0

### PROJECT version

_No response_

### Plugin versions

_No response_

#

[2021-05-28 20:12] vorburger opened #2194 "Doc about Logging in "What’s in a controller" chapter is outdated?"
### What broke? What's expected?

https://book.kubebuilder.io/cronjob-tutorial/controller-overview.html's doc re. logging seems inconsistent with the code I'm seeing produced by the latest `kubebuilder` release _v3.1.0_... there is no import for `"github.com/go-logr/logr"` and the `*Reconciler` doesn't have a `Log logr.Logger` field - anymore, presumably that was removed and doc is out of date?

D

[2021-05-28 20:39] vorburger opened #2195 "Doc: Chapter "You said something about main?" should be moved to previous chapter?"
### What broke? What's expected?

The https://book.kubebuilder.io/cronjob-tutorial/main-revisited.html which is currently §1.7.1 *AFTER* (under) §1.7 _Implementing a controller_ reads like it may have been meant to rather be a §1.6.1 in/after §1.6 _What’s in a controller?_.

At least to me it seems like that's the order one would want to read that.

Would you like a PR to move it?

### Reproducing

[2021-05-28 21:30] vorburger commented on #2193
I had a quick look at this, thinking it may just be a broken URL, but seeing https://api.travis-ci.org/kubernetes-sigs/kubebuilder.svg?branch=master also show _build: unknown_, suspect that this may be related (I'm not sure) to the big banner on top at https://travis-ci.org/github/kubernetes-sigs/kubebuilder saying:

_Please be aware travis-ci.org will be shutting down by end of May 2021. Please c

[2021-05-30 07:19] ymmt2005 opened #2198 "Generating markdown document for CRD"
### What do you want to happen?

I would appreciate it if kubebuilder scaffolds Makefile rules to generate markdown documents for CRDs.

In my project, I'm using [clamoriniere/crd-to-markdown](https://github.com/clamoriniere/crd-to-markdown) to generate such documents as follows:

https://github.com/cybozu-go/moco/blob/87c2e817d8011268f7ae06219efc5b553422cb6d/Makefile#L59-L62

An example markdown

[2021-05-30 18:40] camilamacedo86 commented on #2193
Hi @vorburger,

yes, for the master branch and v3 we are no longer using travis.  (imo) we can disable the build of v2 on Travis also, I do not think that would be valid the effort to change that since seems unlike we push any 2.x release.

@DirectXMan12 wdyt? PS.: I do not think that we have access to disable that and we would need your help.

c/c @estroz @jmrodri

[2021-05-30 20:04] ToMe25 commented on #966
Should I make a separate issue about this invalid manifest, or hope it fixes itself if there ever is a later release?

[2021-06-01 16:26] estroz commented on #966
This has been fixed: https://console.cloud.google.com/gcr/images/kubebuilder/GLOBAL/kube-rbac-proxy@sha256:db06cc4c084dd0253134f156dddaaf53ef1c3fb3cc809e5d81711baa4029ea4c/details?tab=info

[2021-06-01 17:07] ToMe25 commented on #966
Thanks for fixing this, and thanks for letting me know.
I may just not have noticed if this got update earlier, because my old here link still links to the old version.

[2021-06-01 17:15] #2193 closed

[2021-06-01 18:19] camilamacedo86 commented on #2188
After discussion in the bug triage meeting was decided:
- do not gen the samples (cr) by default
- then, add a nice msg to let the user knows that is required to gen the target to get the manifests.

[2021-06-01 18:26] camilamacedo86 commented on #2195
c/c @rashmigottipati

[2021-06-01 18:26] jmrodri commented on #2195
/cc @rashmigottipati

[2021-06-01 18:39] camilamacedo86 commented on #2198
Hi @ymmt2005,

After the discussion in the bug triage, we think that this might not fit for all developers/use cases so that would make hard it to be added in the default scaffolds. Also, kb tries to avoid add third-party dependencies.

In this way, that seems a need that would take advantage of the vision that we have for phase 2.0 plugins, see https://book.kubebuilder.io/plugins/creating-plugins

[2021-06-01 18:39] #2198 closed

[2021-06-01 18:40] camilamacedo86 commented on #1378
just to share; The RFE https://github.com/kubernetes-sigs/kubebuilder/issues/2198 seems more +1 motivation for this case.

[2021-06-01 21:07] ymmt2005 commented on #2198
Understood.  Thank you for taking your time.

[2021-06-03 16:45] hasheddan commented on #2116
@morvencao it looks like the marker has been [added in `controller-tools`](https://github.com/kubernetes-sigs/controller-tools/blob/ecaffbc2dc09cd5e09c07b692d899dbbc8fdda0e/pkg/crd/markers/crd.go#L52). I imagine this will be included in `v0.6.0`.

[2021-06-04 01:55] morvencao commented on #2116
thanks @hasheddan

[2021-06-04 20:54] alexec commented on #618
Does these filters also apply to owend objects?

[code]

I care about the pod and service status, but not the step status.

[2021-06-08 17:04] estroz commented on #2188
@digambar15 just be aware that the relevant implementation is captured in https://github.com/kubernetes-sigs/kubebuilder/issues/2188#issuecomment-852345561 and not the title/description.

/assign @digambar15

[2021-06-09 07:18] alex-arica opened #2206 "How to build operator for multi architectures?"
### What do you want to happen?

Hello,

I am managing the project [Kubegres](https://github.com/reactive-tech/kubegres) which is an operator allowing to enable clusters of PosgreSql instances by enabling replication, failover and backup.

It was developed using Kubebuilder version 3.

I had [a request from the community](https://github.com/reactive-tech/kubegres/pull/16) to build and push Docker

[2021-06-09 10:03] wuzm2k05 opened #2207 "kubebuilder fialed when I initialize a new project (go.mod file indicates go 1.16, but maximum supported version is 1.15)"
### What broke? What's expected?

OS: Fedora release 31 (Thirty One)

I am new to kubebuilder, thank for you answer in advance.( I searched the issues but didn't find the similar issue)
I was using kubebuilder to init a new project but I got the following error.
Then I realized kubebuilder doesn't support go 1.16, so I uninstalled go 1.16 and installed go 1.15.13.
Then I run the command again, but

[2021-06-09 23:24] subodh-dharma opened #2209 "Add migration instructions for Tests and test suites from kubebuilder v2 to v3"
### What do you want to happen?

Currently, the kubebuilder book has migration instructions for controllers, CRDs and APIs. It would be nice to have a section for the migration of test files as well.

Some of the tests scaffolded during the kubebuilder v2 need to be updated.

I believe the same applies for migration from kubebuilder v1 to v2, depending on the number of requests, this migration pat

[2021-06-10 11:52] anthr76 commented on #2206
[code]

It looks as though in it's current state kubebuilder isn't built with a "fat-manifest" though multi-arch images are being built which is greatly appreciated. When running a multi-arch cluster though this becomes a problem. It would be great if we can not tag the different architectures!

semi related PR: https://github.com/kubernetes-sigs/kubebuilder/pull/2197

[2021-06-12 22:50] evenh commented on #1659
I would love some docs for creating custom events 🙏🏻

[2021-06-12 23:09] evenh commented on #1659
This helped me: https://github.com/kubernetes-sigs/kubebuilder/issues/549#issuecomment-613506558

[2021-06-14 03:59] codeblooded commented on #1659
Sure @evenh, you can take a swing at it. I have a bit on my plate as I transition to a new role.

[2021-06-14 08:33] digambar15 commented on #2188
Thanks @estroz  I will go through it

[2021-06-15 12:29] daenney commented on #1800
/remove-lifecycle stale

[2021-06-15 16:30] camilamacedo86 commented on #1672
hi @YiannisGkoufas,

Sorry for the delay. It is open for a while. Could you please let us know if that still relevant?  If yes, could you please, provide an example of the scenario with code snippets to clarify that?

[2021-06-15 16:34] camilamacedo86 commented on #2207
The problem seems that you are using go 1.15. Did you try to do the same with go 1.16 installed?

[2021-06-16 03:09] tpiperatgod commented on #2207
When using go 1.16, I could complete `kubebuilder init`, but failed in `kubebuilder create api` with error follows.

[code]

I found out that I should add `CGO_ENABLED=0` before the `kubebuilder create api` and it will run normally:
[code]

[2021-06-16 17:52] aceamarco commented on #863
@alexkreidler Were you able to solve this? I'm also trying to extend an existing api and am using Kubebuilder to make it.

[2021-06-16 18:37] alexkreidler commented on #863
No, I'm no longer working on that project and I'm not sure if any further progress has been made with it. Best of luck to you!

[2021-06-16 20:48] #2073 closed

[2021-06-17 17:15] estroz commented on #2191
From ^: a starting point is kubernetes' [release-notes](https://github.com/kubernetes/release/tree/master/cmd/release-notes) tool.

[2021-06-17 20:07] camilamacedo86 commented on #2191
Summary of the discussion in Kubebuilder, Controller Runtime, and Controller Tools Meeting the idea is OK:
- No objections over we have the migration guide for that or ask for contributors to fill the steps in this case
- The complexity here is only find a way to put this in place without effects or requires a big effort to adjust the current process to release.

[2021-06-17 20:10] camilamacedo86 commented on #2183
Hi @robbie-demuth,

In the Kubebuilder, Controller Runtime, and Controller Tools Meeting we discuss this RFE and seems that it could fit well in an optional plugin. Please, feel free to check the https://book.kubebuilder.io/plugins/plugins.html and contribute with if you wish.

Also, feel free to reach out to us in the kubebuilder channel if you need help on that. That would be very nice to receiv

[2021-06-21 06:34] wuzm2k05 commented on #2207
yes. At first I was using go 1.16 but got the error. Then I uninstalled go 1.16, and installed go 1.15 but go the same error. (I checked the go mod file, go 1.16 still required in that file)

[2021-06-21 06:40] tpiperatgod commented on #2207
I can initialize the project normally with go 1.16(with gcc installed) while get the same error(Error: failed to initialize project: unable to run post-scaffold tasks of "base.go.kubebuilder.io/v3": exit status 1) in go1.15 environment.

So is there a problem with the documentation instructions?
https://book.kubebuilder.io/quick-start.html#prerequisites

[2021-06-21 20:42] jberkhahn opened #2231 "`kubebuilder create webhook --conversion` not creating needed scaffolding piece"
### What broke? What's expected?

I'm trying to use kubebuilder to scaffold a conversion webhook while making a new crd version (v1alpha1 to v1beta1) for my operator. I run the command `kubebuilder create webhook --conversion --version v1beta1 --kind Memcached --group cache`, which generates a bunch of scaffolding pieces in config/, the webhook in api/, and adds it to the manager bootup sequence i

[2021-06-22 10:34] camilamacedo86 commented on #2171
Hi @adambkaplan,

This RFE was discussed in the latest  [Kubebuilder, Controller Runtime, and Controller Tools](https://docs.google.com/document/d/1Ih-2cgg1bUrLwLVTB9tADlPcVdgnuMNBGbUl4D-0TIk/edit#heading=h.dp4gt7gj3cn) and after further consideration, we reach a consensus that not all here would be beneficial for Kubebuilder and/or SDK.

Note that to do unit tests you would work on with the fake

[2021-06-24 06:26] wuzm2k05 commented on #2207
if I edit the go.mod and change "go 1.16" to "go 1.15". Then it seems everything is okay, I can then create api successfully. So how kubebuilder generate the go.mod file? where it find the go version and generate go.mod file?

[2021-06-24 09:29] digambar15 commented on #2188
@guhaneswaran has fixed the issues- Here is the PR - https://github.com/kubernetes-sigs/kubebuilder/pull/2233

[2021-06-24 11:49] msherif1234 opened #2234 "kubebuilder default settings should flag error/warning for none pointer type"
### What do you want to happen?

if I define something like this
[code]

now during testing I tried to pass in `false` it takes no effect for this to work
`TestFlag *bool `json:"test-flag,omitempty"`

what I am suggesting here if kubebuilder sees field with default settings not matching the natural default value of the field and the variable not pointer it should flag an error or warning

### Extr

[2021-06-24 13:08] BostjanBozic opened #2235 "Scaffolding Makefile using controller-runtime v0.9.1"
### What do you want to happen?

It would be great if we can adjust scaffolding to use `sigs.k8s.io/controller-runtime v0.9.1`.

With `v0.9.0` new way of setting up environment test has been done. Instead of using .sh script, go module is used now (https://github.com/kubernetes-sigs/controller-runtime/pull/1488). This means that `Makefile` scaffolding (test target) would have to be adjusted.

I am

[2021-06-24 15:43] schegi commented on #1932
Any news about this?

[2021-06-24 18:20] maximveksler commented on #2207
Getting the same error. Using go `go version go1.15.13 linux/amd64`

[code]

[2021-06-24 18:24] maximveksler commented on #2207
However switching to go `go version go1.16.5 linux/amd64` does seem to help.

[code]

[2021-06-25 09:22] guhaneswaran commented on #2188
Look at #2236 instead of #2233

[2021-06-25 10:29] ChaosInTheCRD opened #2237 "Line in book referencing kubebuilder annotation unclear"
Hi! I am in the process of reading the kubebuilder book and while I am enjoying it so far, there is a reference to the following kubebuilder annotation:

https://github.com/kubernetes-sigs/kubebuilder/blob/52a8c1272ed928c332dd714a70fdfd5d841591e3/docs/book/src/cronjob-tutorial/testdata/emptymain.go#L83

[code]

While this became apparent once I had rest the entire page, for a little while I scoure

[2021-06-27 12:54] #1956 closed

[2021-06-28 01:57] kevinniu666 commented on #2207
1.16.5 did not work for me.
root@workstation:/data/GoProject/guestbook#  kubebuilder init --domain my.domain --repo my.domain/guestbook
Writing kustomize manifests for you to edit...
Writing scaffold for you to edit...
Get controller runtime:
$ go get sigs.k8s.io/controller-runtime@v0.8.3
# runtime
/data/go/src/runtime/mgcsweepbuf.go:87:80: memstats.gc_sys undefined (type mstats has no field or me

[2021-06-28 12:51] camilamacedo86 commented on #2207
The version `go version go1.15.13` is not supported.
If you are using the latest release then, you need to use go 1.16.

Into the code, has a place where they go version is checked. @rashmigottipati would like to check it and see if you find this validation for we change that and return an error to let the users know that 1.15 is no longer supported?

[2021-06-28 16:15] rashmigottipati commented on #2207
@camilamacedo86 Sure, I'll work on this.

/assign @rashmigottipati

[2021-06-29 02:43] wuzm2k05 commented on #2207
when you say latest release, that means kubebuilder 3.1.0 version, right? Andy you may want to update "Quick Start" books, it still say one of prerequisite is "go version v1.15+ and < 1.16". Thanks!

[2021-06-29 09:11] SeriyBg opened #2240 "Reference-style links in the book are wrongly parsed and does not contain the link itself"
### What broke? What's expected?

For the reference-style link in the markdown in the `mdbook` generated book the link is missing:

[code]
![image](https://user-images.githubusercontent.com/3988842/123770378-ec0def00-d8d2-11eb-9fe5-7ded122252a2.png)

### Reproducing this issue

_No response_

### KubeBuilder (CLI) Version

3.1.0

### PROJECT version

_No response_

### Plugin versions

_No respons

[2021-06-29 18:03] varshaprasad96 commented on #2235
@BostjanBozic yes, the go/v3 plugin needs to be bumped to use latest version of controller runtime and 1.21 k8s dependencies. This is in progress, and would be done in #2208

[2021-06-29 18:34] jmrodri commented on #2234
/cc @jmrodri

[2021-06-29 18:45] camilamacedo86 commented on #2209
Hi @subodh-dharma,

Thank you for raise that. Note that in the testdata dir we have samples. In this way, the steps to solve this one seems like:

- compare the tests scaffolds with 2.3.1 (https://github.com/kubernetes-sigs/kubebuilder/tree/v2.3.2/testdata)
- with the tests scaffolds with master (https://github.com/kubernetes-sigs/kubebuilder/tree/master/testdata/)

Then, after that update the mig

[2021-06-29 18:54] camilamacedo86 commented on #2231
As we discussed in the bug triage meeting;

- We need to understand why / when / how the manifest is used
- Then, if we reached out the consensus that is required only for some specific type of webhooks the best approach would be to fix the CLI to scaffold that accordingly. Following some options.

a) Check if the project has none of the type Y which requires the files. Then, comment on the manife

[2021-06-29 19:11] imjasonh opened #2242 "Marker values are not easily copyable"
### What do you want to happen?

Looking at docs at https://book.kubebuilder.io/reference/markers/crd-validation.html it's difficult to copy the full marker contents, including the `// +` prefix, because of how the CSS is laid out, using a `::before` directive:

https://github.com/kubernetes-sigs/kubebuilder/blob/52a8c1272ed928c332dd714a70fdfd5d841591e3/docs/book/theme/css/markers.css#L18-L21

The

[2021-06-29 19:23] imjasonh commented on #2242
For example, double-clicking a marker comment text today:

<img width="593" alt="Screen Shot 2021-06-29 at 3 04 32 PM" src="https://user-images.githubusercontent.com/210737/123855383-dbb73d80-d8ed-11eb-96c1-7b6b991f4eb8.png">

And with https://github.com/kubernetes-sigs/kubebuilder/compare/master...imjasonh:marker-before

<img width="575" alt="Screen Shot 2021-06-29 at 3 21 29 PM" src="https://use

[2021-06-30 18:52] spkane opened #2244 "Artifacts documentation appears to be out of date"
### What broke? What's expected?

The documentation at https://book.kubebuilder.io/reference/artifacts.html appears to be out of date.

I am unable to pull images from any of these:

[code]

I would expect these to work, based on the documentation.

### Reproducing this issue

Try to run any of these:

[code]

### KubeBuilder (CLI) Version

N/A

### PROJECT version

N/A

### Plugin versions

[code

[2021-07-02 07:22] yilas opened #2248 "v3.1.0/install.sh : impossible to download "kubebuilder_3.1.0_linux_amd64.tar.gz""
### What broke? What's expected?

The installation with the script `install.sh` failed. The tarball `kubebuilder_3.1.0_linux_amd64.tar.gz` doesn't exist.

### Reproducing this issue

[code]

[code]

### KubeBuilder (CLI) Version

kubebuilder is not installed

### PROJECT version

kubebuilder is not installed

### Plugin versions

[code]

### Other versions

[code]

### Extra Labels

_No response_

[2021-07-02 09:30] ChaosInTheCRD commented on #2237
@camilamacedo86 would you like me to create a PR with a suggestion? More than happy to 😊

[2021-07-02 14:58] #2242 closed

[2021-07-04 03:09] vadimeisenbergibm opened #2252 "What is the purpose of global variables in main() in the example of the book?"
### What broke? What's expected?

Why global variables (and as a result of that, init() function) is used in main() in [the example](https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/cronjob-tutorial/testdata/project/main.go#L50) of [the book](https://book.kubebuilder.io/cronjob-tutorial/empty-main.html)?

Why these variables cannot be just local variables of main() and why

[2021-07-06 08:30] fjammes commented on #2123
/remove-lifecycle stale

[2021-07-06 08:46] fjammes commented on #2123
Hi @camilamacedo86, here is my proposal "https://github.com/kubernetes-sigs/kubebuilder/pull/2254"
The current idea is to run command below in the operator repository:
[code]
I agree this is not perfect but this first step works fine on my side.

[2021-07-07 06:06] yuswift commented on #2248
Hi, @yilas. I found that this script hasn't been updated for two years. There is an installation [document](https://book.kubebuilder.io/quick-start.html#installation), hope it is useful for you.

[2021-07-07 11:18] yuswift commented on #2244
This doc was updated in #2062. Please execute `docker pull gcr.io/kubebuilder/thirdparty-linux-amd64 -
a` and you will find that all the tags that are available.
/cc @estroz
I think this document needs a clearer explanation of the image usage.

[2021-07-07 13:09] JulienBreux commented on #2240
Hello @SeriyBg 👋🏻

Do you've the link of this page please?

Thanks, and have a good day :)

[2021-07-07 14:01] yuswift commented on #2207
@camilamacedo86 @rashmigottipati hi #2182 upgraded the go version to v1.16. I've opened pr for the document. Please take a look at #2257 if you are free. Thanks.

[2021-07-07 17:41] estroz commented on #2244
`version` in the docs refers to Kubernetes version, not kubebuilder version. The following works:
[code]

[2021-07-07 17:42] estroz commented on #2244
I believe I closed this too soon, as the `Container Images` paragraph does not contain "Kubernetes version" even though the preceding paragraph does.

[2021-07-08 12:14] littletiger123 opened #2260 "How to run e2e test on minikube?"
I want to write an e2e test about CRD on minikube rather than envtest which is mentioned in the [page](https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/cronjob-tutorial/testdata/project/controllers/cronjob_controller_test.go). Shall I need to install the project? And is there several demo or guides I can follow up on?

[2021-07-10 03:41] #2260 closed

[2021-07-12 23:34] rainest opened #2264 "Allow controllers to modify finalizers without modify permissions on parent"
### What do you want to happen?

**Overview**

I'd like the documentation examples and template controller code to grant permissions to finalizer subresources directly, rather than relying on permissions to the parent. This would allow controllers with read-only permissions to resources to utilize finalizers still. I believe [this changeset](https://github.com/rainest/kubebuilder/commit/3b8a0c4399

[2021-07-13 16:30] rashmigottipati commented on #2240
#2219 fixed the blog post link in documentation but the typo still exists in the website and needs to be fixed.

[2021-07-13 18:03] camilamacedo86 commented on #2235
it is done. thank you for raise that.

[2021-07-13 18:03] #2235 closed

[2021-07-13 18:08] camilamacedo86 commented on #2240
It is solved in the master and the fix will appear in the prod docs after the next release.

[2021-07-13 18:08] #2240 closed

[2021-07-13 18:17] rashmigottipati commented on #2252
/assign @rashmigottipati

[2021-07-13 18:24] #2244 closed

[2021-07-14 04:40] #1659 closed

[2021-07-14 15:33] yuswift commented on #1891
/remove-lifecycle rotten

[2021-07-16 07:14] wenxinax commented on #1347
Maybe you can try `r.Status().Update(ctx, obj)`

[2021-07-16 10:28] ruicao93 opened #2266 "Build tools-releases for `_GOARCH=arm64 _GOOS=darwin`"
### What do you want to happen?

It's time to build tools-releases for `_GOARCH=arm64  _GOOS=darwin`.

@DirectXMan12

### Extra Labels

_No response_

[2021-07-16 12:39] ZhengJuCn opened #2267 "Could i requeue old object in reconcile, now seems only can requeue current object"
### What do you want to happen?

Could i requeue old object in reconcile, now seems only can requeue current object

i have do some dig with manager code,

as i know queue is belong to controller, cannot access by reconcile

so now seems only can requeue current object, but not old object

any possible to requeue old object

### Extra Labels

_No response_

[2021-07-16 12:45] yuswift commented on #2237
Any pr is welcomed. I guess @camilamacedo86  just missed the message.

[2021-07-16 12:45] camilamacedo86 commented on #2267
Could you please let us know what do you mean by old objects? Could you please clarify your question by providing an example?

[2021-07-16 13:20] ZhengJuCn commented on #2267
@camilamacedo86 for example， current in reconcile i deal with obj A. with some state of A，i think i may need to deal obj B，which not change yet.

could i requeue obj B ?

[2021-07-17 13:08] #1935 closed

[2021-07-18 22:48] subodh-dharma commented on #2209
That sounds like a good first issue. I have worked on migrating these tests recently on a project I developed at my org. I can use that experience as well to document these migration steps.

[2021-07-19 17:05] estroz commented on #1999
/lifecycle frozen

[2021-07-19 22:26] j-griffith commented on #1593
@jroper That explanation makes sense based on the stack trace.  I guess my question still would be; what's the proper way to create and return an error from a Reconcile function that would prevent the controller-runtime from flipping out?

[2021-07-20 05:56] jroper commented on #1593
Since writing the above comment, I learned something that I didn't know. Golang errors don't contain a stack trace. I think that's why so many people get tripped on this. In most other mainstream languages (Java, JavaScript, Python, Ruby, and many, many more), errors are modelled as exceptions which capture the stack when they are created, which means generic error handlers, when they log an error

[2021-07-20 11:08] AKarbas commented on #1487
/remove-lifecycle stale

[2021-07-22 18:04] denist-huma opened #2270 "Manifests are not generated for component config API in the tutorial"
# Issue

I use component config in my operator. When I found this issue, I checked whether the Kubebuilder book tutorial is ok. Well, it is not :-1: So I bring example from the above mentioned  tutorial.

Then "make manifests" is run, it silently skips ProjectConfig API

https://github.com/kubernetes-sigs/kubebuilder/blob/fde793f20067e8b5ad869d0f64992eaf10b15480/docs/book/src/component-config-tuto

[2021-07-22 20:18] dgkanatsios commented on #549
this is need as well, on top of your Reconcile method
[code]

[2021-07-26 06:12] radoslav-tomov commented on #2266
+1

[2021-07-27 14:14] camilamacedo86 commented on #2270
Hi @denist-huma,

Thank you for raise that. Sorry, but the description of the problem is not clear enough for me.
Could you please describe in detailed the steps to reproduce your problem? E.g

1. Add X as the following snippt
2. Then run Y
3. I would expected N and then instead of that  face Z

[2021-07-27 14:15] camilamacedo86 commented on #2264
Hi @estroz,

Since you are checking this one and it was discussed already in the triage meeting I am adding triage accepted regards its analyse and checks.

[2021-07-27 14:21] camilamacedo86 commented on #2266
HI @ruicao93,

Are you looking for the following bins?

kube-apiserver: v1.21.2
kubectl: v1.21.2
etcd: v3.5.0

The binaries used in the latest version are. 1.21 already see:

https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/Makefile#L93-L96

Could you please clarify or request and what you are looking for?

[2021-07-27 15:20] ruicao93 commented on #2266
Hi @camilamacedo86, thanks for your reply. I'm looking for the released binaries for `darwin/arm64` platform.  Currently we only have release artifacts for following archs:
- kubebuilder_darwin_amd64
- kubebuilder_linux_amd64
- kubebuilder_linux_arm64
- kubebuilder_linux_ppc64le

But for developers who are using Apple M1 Chip, they need binary for `darwin/arm64` platform.

If you run the Makefile

[2021-07-27 16:39] denist-huma commented on #2270
@camilamacedo86 Yes, sure.

1. clone repo https://github.com/kubernetes-sigs/kubebuilder
2. go ./docs/book/src/component-config-tutorial/testdata/project
3. run "make manifests"

        denis@L560:~/huma/kubebuilder-master/docs/book/src/component-config-tutorial/testdata/project$ make manifests
        /home/denis/huma/kubebuilder-master/docs/book/src/component-config-tutorial/testdata/project/bi

[2021-07-28 14:16] hickeyma commented on #1963
@rashmigottipati Did you get a chance to work on this? If not, I can give it a go.

[2021-07-28 14:19] rashmigottipati commented on #1963
@hickeyma I haven't had a chance to work on this, yes absolutely, please feel free to work on this. :)

[2021-07-28 14:23] hickeyma commented on #1963
ok, thanks @rashmigottipati

[2021-07-28 14:24] hickeyma commented on #1963
/assign

[2021-07-28 19:48] shaneutt commented on #2165
It's not fixed, but at least from my perspective it's no longer an issue because of how we've changed the structure of several of our repositories. I have no personal follow-up, but if someone else feels strongly they can re-open.

[2021-07-28 19:48] #2165 closed

[2021-07-28 23:45] cgillum opened #2273 "Code generated by kubebuilder init doesn't match code in book"
### What broke? What's expected?

I'm running into compilation problems trying to follow along in the book. Specifically, the [Implementing a controller](https://book.kubebuilder.io/cronjob-tutorial/controller-implementation.html) chapter.

The problem seems to be that the code generated by `kubebuilder init` is different from the code in the book. A few examples:

* The kubebuilder command genera

[2021-07-29 13:17] davidlanouette opened #2274 "Bump the version of golangci-lint to v1.41.1"
### What do you want to happen?

The version of the linter is 2 minor versions old.  The currently used version (v1.39.1) is 2 minor versions old, and has a few bundled linters that are obsolete.

Done:
Running `make lint` or `make lint-fix` will use the latest version (as of commit time) of the linter.
Running `make golangci-lint` downloads the latest version of the linter.

### Extra Labels

/ki

[2021-07-29 15:19] pravarag opened #2276 "Generating CRDs link returns error or not accessible"
The following link [Generating CRDs](https://github.com/kubernetes-sigs/kubebuilder/blob/cb1b6008f16ad5b4f56b019600f285e902215795/reference/generating-crd.md) as mentioned [here](https://github.com/kubernetes-sigs/kubebuilder/blob/cb1b6008f16ad5b4f56b019600f285e902215795/docs/book/src/reference/markers/crd.md) returns `404 Page not found` error. Either the commit-hash mentioned in the link has cha

[2021-07-29 18:12] #2276 closed

[2021-07-30 10:05] #2052 closed

[2021-07-30 11:24] ravipwaghmare opened #2278 "Can we get the OpenApi JSON created automatically when we get the autogenerated crd spec"
### What do you want to happen?

So i was working on multiple controllers.
Where I got one requirement to provide the Open API JSON for the project.
So it was not possible to handle multiple controllers Kustomization file to change it to open api.
Is there any way we can achieve it.

When we do any change in the spec and run make install
we get the autogenerated kustomization file with the CRD spe

[2021-07-30 16:35] m-yosefpor commented on #1216
What is the best way of doing this in 2021?

Should we do it with @pires solution or as @DirectXMan12 said, using lower level webhook? or is there any better alternative right now?

[2021-07-30 20:17] maxsmythe commented on #2248
@yuswift Unfortunately that installation document is insufficient.

I've been using Kubebuilder for a while and needed to do a fresh install. Previously the `tar.gz` file bundled other binaries, like etcd and the api server in. These files are critical dependencies for running the default generated controller tests. For example, if I create a controller and run `make test`, I get the following err

[2021-08-02 03:09] yuswift commented on #2248
I'm not sure if this [document](https://book.kubebuilder.io/cronjob-tutorial/writing-tests.html) is helpful to you. What happens if you run `go test ./...`? Do the tests still rely on etcd?

[2021-08-02 10:36] #2031 closed

[2021-08-03 21:46] #1663 closed

[2021-08-04 15:53] #2188 closed

[2021-08-04 22:31] maxsmythe commented on #2248
Yep, the reliance on the barebones K8s infra (api server, etcd, etc.) being able to run locally comes from `envtest.Environment{}.Start()`, which is mentioned in the document you linked.

Here is an example of some Gatekeeper test code that results in starting up those binaries (generated by an older version of kubebuilder):

https://github.com/open-policy-agent/gatekeeper/blob/ecb280fbe4954319659

[2021-08-04 22:33] maxsmythe commented on #2248
I should also mention that I tried generating a new project using the most recent version of kubebuilder... the dependency was still there.

[2021-08-05 06:14] cg2p opened #2283 "Incorrect plurals generated following Quickstart"
### What broke? What's expected?

This is a re-occuring bug like [#1993](https://github.com/kubernetes-sigs/kubebuilder/issues/1993)

Out of the box, following the Quickstart, the plurals are generated incorrectly
[code]

So when you get to the `make install` step it runs and shows these errors - which you can see are related to expected plurals yaml of `hello.acme.com_helloworlds.yaml` when actua

[2021-08-06 13:43] robbie-demuth opened #2286 "Custom resource metrics"
### What do you want to happen?

Prior to the Operator Framework's Operator SDK re-architecting itself as a Kubebuilder plugin, it contained libraries (since deleted in operator-framework/operator-sdk#3249) for generating and serving custom resource metrics (implemented using libraries from kube-state-metrics) and scaffolded operators to invoke said libraries on startup. As a result, operators bui

[2021-08-06 14:12] robbie-demuth commented on #2286
RE my kube-state-metrics comment at the end, it looks like there have been some feature requests over there. The older of these two was closed because the maintainers felt that such metrics were the responsibility of operators. The other is still open and it looks like implementation is underway

https://github.com/kubernetes/kube-state-metrics/issues/457
https://github.com/kubernetes/kube-state-m

[2021-08-06 19:17] #1068 closed

[2021-08-06 20:17] #2069 closed

[2021-08-08 13:27] alekc commented on #2140
Encountered this issue as well, so giving a bit more context in here (might help to anyone hitting this)

My PROJECT file is following:
[code]

and I was using following command:
`❯ kubebuilder create webhook --group gitlab --version v1beta1 --kind Runner --defaulting --programmatic-validation`

the error message comes from this block:
[code]
where `GetResource` is simply checking that  one of you

[2021-08-09 08:04] jgillich commented on #618
Took me a while to figure this out, but if you want to only filter a subset of objects, you can pass a predicate to your builder calls. In your example @alexec, to filter status for `&dfv1.Step{}` only:
[code]

[2021-08-09 16:31] strideynet commented on #1216
I would suggest using the lower level webhooks ( see https://github.com/kubernetes-sigs/controller-runtime/blob/master/examples/builtins/mutatingwebhook.go )

[2021-08-10 05:03] wyljpn commented on #766
I met the runtime error: invalid memory address or nil pointer dereference with kubebuilder v3.
It seems that if we want to use `log` in *_controller.go,
[code]

we need to pass `Log` to `CronJobReconciler` in main.go
[code]

[2021-08-10 08:18] MaxThom commented on #300
This is how I installed kubebuilder on WSL2.

```git clone https://github.com/kubernetes-sigs/kubebuilder.git```
```cd kubebuilder```
```make build```
Session Only: ```export PATH=$PATRH:*<path_to_kubebuilder>*```
On Reboot: ```sudo nano ~/.profile```
Add export path at the end of the file: ```export PATH=$PATRH:*<path_to_kubebuilder>*```

[2021-08-10 13:02] rashmigottipati commented on #2274
There's a PR submitted for this issue, so can we add the label triage accepted for this? @camilamacedo86

[2021-08-10 13:37] rashmigottipati commented on #2283
@cg2p I was able to reproduce this issue as well. The generated yaml has the file name `hello.acme.com_helloworldren.yaml` when it is supposed to be `hello.acme.com_helloworlds.yaml` which is why `make install` fails as it's unable to find the yaml file `hello.acme.com_helloworlds.yaml`.

[2021-08-10 14:05] camilamacedo86 commented on #2278
Hi  @ravipwaghmare,

OpenAPIv3 schemas are added to CRD manifests in the `spec.validation` block when the manifests are generated. This validation block allows Kubernetes to validate the properties in a Memcached Custom Resource when it is created or updated.

[Markers][markers] (annotations) are available to configure validations for your API. These markers will always have a `+kubebuilder:valida

[2021-08-10 14:05] #2278 closed

[2021-08-10 14:12] camilamacedo86 commented on #2283
You are using `controller-gen.kubebuilder.io/version: v0.4.1` when the issue was solved in `controller-gen.kubebuilder.io/version: v0.5.0`

That seems solved on master: https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/config/crd/bases/crew.testproject.org_admirales.yaml#L7

Could you please try to check if the same issue is or is not reproducible with the master branc

[2021-08-10 14:29] rashmigottipati commented on #2273
I did notice these inconsistencies too when I was trying out steps in the book. @camilamacedo86 would the book documentation need these fixes or is there anything I am missing here?

[2021-08-10 16:46] hickeyma commented on #1963
/remove-lifecycle stale

[2021-08-10 16:59] rashmigottipati commented on #2286
@robbie-demuth Sounds interesting! Could you please describe some use cases on how you would use these standard controller runtime and metrics about existence of CRs?

[2021-08-10 17:42] robbie-demuth commented on #2286
The simple "info" metric without additional labels could be used to count custom resources by namespace, cluster, etc. Making additional labels or metrics pluggable, however, really opens up the door to anything

[2021-08-10 18:33] armsnyder commented on #2273
I am also struggling a bit with the intended logging approach due to the inconsistencies. It looks like it needs to be updated with examples since #2181 was merged. @estroz fyi.

[2021-08-11 00:50] cg2p commented on #2283
Yes I can check this - @camilamacedo86 how do I update my install to use `controller-gen.kubebuilder.io/version: v0.5.0`?

Just to confirm - in the [instructions](https://book.kubebuilder.io/quick-start.html) there is this step that I followed:
[code]
and that results in the config and versions as per my original bug post

[2021-08-11 05:53] ZhengJuCn opened #2291 "could i use kubebuilder create webhook for subresource( x/status ), no docs found"
### What do you want to happen?

use kubebuilder create webhook for subresource( x/status )

i may want to mutating x/status subresource to match spec

or i may want to validate status

but i do not found any docs about this

### Extra Labels

_No response_

[2021-08-11 08:02] 011d opened #2292 ""kubebuilder init" command changed go 1.15 in go mod becomes 1.16"
### What broke? What's expected?

"kubebuilder init" command changed go 1.15 in go mod becomes 1.16 .
but,my env only 1.15

quick-start of official doc :
![image](https://user-images.githubusercontent.com/42208084/128991533-9d5a441f-6d0c-48ce-afa1-d85ba006867e.png)

go version go1.15.15 linux/amd64

before execute kubebuilder init, go.mod :
[code]

after execute kubebuilder init, go.mod :
[code]

[2021-08-11 10:56] kuritka opened #2293 "Exiting operator honoring deferred calls"
### What do you want to happen?

The operator `main` function does not allow calling the deferred function in case of an error. For example, I would like to add something like this to the `main` function:

[code]
The preceding line will not be called if any error occurs, because all errors are handled in such way:

[code]

`os.Exit()` will exit the program immediately and the deferred functions wi

[2021-08-11 14:20] caiorcferreira commented on #2266
This PR (https://github.com/kubernetes-sigs/kubebuilder/pull/1992) already introduced the changes to build the binaries for `darwin/arm64`, they are just not published to the GCP Storage used by the `setup-envtest.sh` script. Fixing it would be a great improvement.

[2021-08-11 21:14] #2274 closed

[2021-08-11 21:15] github-actions[bot] opened #2294 "🐛 Lint failed for 2b3a589c7a43b932072e347c4d2f1fd032803ef3"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/1121657325

[2021-08-12 06:44] cg2p commented on #2283
@camilamacedo86 I figured out the workaround. You need to edit the Makefile after running `kuberbuilder init...`

--
Build api
[code]

Edit the Makefile to workaround the plurarls [bug #2283](https://github.com/kubernetes-sigs/kubebuilder/issues/2283)
Change `v0.4.1` to `v0.5.0`
[code]

Install it
[code]

In another shell, create an instance of the CRD
[code]

[2021-08-12 06:44] #2283 closed

[2021-08-12 07:29] afritzler opened #2295 "Local Test Suite Environment not working on Apple M1 (arm64). Broken archive?"
### What broke? What's expected?

Running `make test` on an Apple M1 results in

[code]

Setting the GOARCH to amd64 in `testbin/setup-envtest.sh` results in fetching a valid archive

[code]

It looks like the `tar.gz` of the local test environment is broken for arm64.

### Reproducing this issue

Run `make test` on an Apple M1.

### KubeBuilder (CLI) Version

3.1.0

### PROJECT version

3

### Pl

[2021-08-12 14:19] rposts opened #2298 "Adding support for s390x architecture"
### What do you want to happen?

Currently `Kubebuilder` releases binaries for several platforms including `arm64` and `ppc64le`.

I am exploring the possibility of making binary available on `s390x` big-endian architecture.

I am able to successfully build and run `test-unit` on `s390x` architecture with following changes to `Makefile`:
[code]
However, `make test` fails because it downloads incom

[2021-08-13 04:18] armsnyder opened #2299 ""create api" generates wrong import alias when using the "" group"
### What broke? What's expected?

### Expected

Supposing I initialize my Kubebuilder project with the domain "foo.example.com" and create a new resource "Foo", I expect the code generation to import that package as "foov1".

### Actual

The package import alias is generated as "fooexamplecomv1". In real world examples the alias can be quite a bit longer. Manually fixing the import alias is not an

[2021-08-13 04:34] armsnyder commented on #2299
I realized my mistake. I assumed group would create a subdirectory inside `api` but actually it is what controls the import alias. All I had to do was run `create api` with `--group=foo` and it resulted in what I expected. Closing this issue.

[2021-08-13 04:42] armsnyder commented on #2299
I'm re-opening this bug because doing the above has the undesired effect of causing the CRD to be inside the group `foo.foo.example.com`.

[code]

[2021-08-15 01:17] MaxThom commented on #2273
Ive' simply changed ```_ := log.FromContext(ctx)``` to ```log := log.FromContext(ctx)```

[2021-08-15 08:11] camilamacedo86 commented on #2273
We need to update the code samples automatically by:
- running: https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/cronjob-tutorial/testdata/generate_cronjob.sh and https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/multiversion-tutorial/testdata/generate_multiversion.sh whcih will re-scaffold all based on the latest version
- Then we nee compare with ma

[2021-08-16 01:27] #1672 closed

[2021-08-17 14:37] hickeyma commented on #2273
I would be willing to give this a go. Is that ok or is someone else working on it?

[2021-08-17 14:52] rashmigottipati commented on #2273
@hickeyma Feel free to assign this to yourself and work on this.

[2021-08-17 14:53] hickeyma commented on #2273
Thanks @rashmigottipati

/assign

[2021-08-17 14:58] hickeyma commented on #1963
PR #2289 fixes this. This can be closed.

[2021-08-18 11:39] yuswift commented on #2292
ref https://github.com/kubernetes-sigs/kubebuilder/pull/2257

[2021-08-18 15:06] #2207 closed

[2021-08-18 15:07] github-actions[bot] opened #2301 "🐛 Lint failed for cc270dd18c5806b7feb232bdf9d843988b3b7927"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/1143626117

[2021-08-19 00:19] rashmigottipati commented on #2273
@camilamacedo86 @hickeyma is working on this and has a WIP PR open. could you please add the label `triage/accepted` to this issue?

[2021-08-19 13:30] m1schka commented on #2295
:
[code]

when outputting what it tries to fetch, I get:
https://storage.googleapis.com/kubebuilder-tools/kubebuilder-tools-1.19.2-darwin-arm64.tar.gz

accessing that results in key not found. I assume no one build it for darwin-arm64 yet

[2021-08-20 15:17] camilamacedo86 opened #2306 "Ensure that the tests runs against the latest k8s version"
### What do you want to happen?

Note that we usually test against the latest 3 versions. So, that means that we need to update it to run the tests against 1.20, 1.21,1.22

### Extra Labels

_No response_

[2021-08-20 15:52] github-actions[bot] opened #2307 "🐛 Lint failed for 5ca8884a1929e2995e10339fc87122b1ccabefa1"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/1151276022

[2021-08-20 20:19] #2087 closed

[2021-08-23 11:56] FillZpp opened #2311 "🐛 go.kubebuilder.io has broken for downloading kubebuilder releases"
### What broke? What's expected?

Failed to download kubebuilder releases, including:

[code]

But `master` is fine:

[code]

### Reproducing this issue

`curl -L https://go.kubebuilder.io/dl/3.1.0/linux/amd64`

### KubeBuilder (CLI) Version

nil

### PROJECT version

_No response_

### Plugin versions

_No response_

### Other versions

_No response_

### Extra Labels

_No response_

[2021-08-23 11:58] FillZpp commented on #2311
/cc @camilamacedo86 @Adirio

[2021-08-23 14:29] mugli commented on #2311
Experiencing the same with `https://go.kubebuilder.io/dl/2.3.2/linux/amd64` too.

[2021-08-23 16:46] AzureMarker commented on #2311
Here's a short-term (or long-term?) fix from the linked PRs: Change the URL you use to
`https://github.com/kubernetes-sigs/kubebuilder/releases/download/v${version}/kubebuilder_${version}_${os}_${arch}.tar.gz`

[2021-08-23 20:30] poadhika commented on #2311
Experiencing the same with https://go.kubebuilder.io/dl/3.1.0/linux/amd64 too. The proposed short term fix works for version 2.3.1 but not for 3.1.0. Please advise.

[2021-08-23 21:55] AzureMarker commented on #2311
@poadhika it looks like they just removed the version from the filename: https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.1.0

[2021-08-23 23:54] rashmigottipati commented on #2292
@011d As you are on Kubebuilder version `3.1.0`, the go version needs to be `v1.16+`. Below are the updated prerequisites from the quickstart documentation:

<img width="500" alt="Screen Shot 2021-08-23 at 7 49 45 PM" src="https://user-images.githubusercontent.com/3925702/130533847-410e767d-a88e-42cc-ac69-5e498b9d0a97.png">

https://book.kubebuilder.io/quick-start.html

[2021-08-24 06:26] afritzler commented on #2295
Yep, that is exactly what I did now.

[2021-08-24 18:05] rashmigottipati commented on #2286
/cc @camilamacedo86

[2021-08-24 18:06] rashmigottipati commented on #2291
@ZhengJuCn could you please provide an example of webhook for subresource? We would like to understand what you are trying to do.

[2021-08-24 18:07] varshaprasad96 commented on #2306
In case we are referring to e2e tests, we need to rewrite this particular test (https://github.com/kubernetes-sigs/kubebuilder/blob/5ca8884a1929e2995e10339fc87122b1ccabefa1/test/e2e/v3/plugin_cluster_test.go#L301) to work with k8s 1.21 and above.

[2021-08-24 18:09] rashmigottipati commented on #2292
Closing this issue as we think it's been solved with the cherry-picked PR. Please feel free to re-open this issue if it still persists.

[2021-08-24 18:09] #2292 closed

[2021-08-24 18:12] rashmigottipati commented on #2293
@kuritka We are looking into this issue. We will respond to this soon.

/cc @camilamacedo86 @rashmigottipati

[2021-08-24 18:14] rashmigottipati commented on #2294
cc @rashmigottipati

[2021-08-24 18:19] rashmigottipati commented on #2295
/assign @varshaprasad96

[2021-08-24 18:23] rashmigottipati commented on #2298
assign @camilamacedo86

[2021-08-24 18:31] rashmigottipati commented on #2306
/cc @rashmigottipati

[2021-08-24 18:34] rashmigottipati commented on #2311
cc @rashmigottipati @camilamacedo86

[2021-08-24 18:39] poadhika commented on #2311
Yes removing the version solved my issue.

[2021-08-28 19:15] camilamacedo86 commented on #2311
HI folks,

The assets are available in the release page: https://github.com/kubernetes-sigs/kubebuilder/releases

https://github.com/kubernetes-sigs/kubebuilder/releases/download/v3.1.0/kubebuilder_linux_amd64

And you can curl this links. So, I do not understand why your trying to use:

https://go.kubebuilder.io/dl/2.3.1/linux/amd64
https://go.kubebuilder.io/dl/3.1.0/linux/amd64

Where did you ch

[2021-08-28 19:56] camilamacedo86 commented on #2299
Hi @armsnyder,

The support for empty groups was added in: https://github.com/kubernetes-sigs/kubebuilder/pull/1679/files
If I follow up the steps added by you:

[code]

I will check the import:
[code]

That seems expected since will be the <domain>/api/<version> where you will find all APIs created with empty group and the version `v1`

See that if you run `kubebuilder create api --version=v1 --r

[2021-08-28 20:00] camilamacedo86 opened #2317 "Master behaviour when create an api is not the expected."
### What broke? What's expected?

The default behaviour when we create an api

### Reproducing this issue

Master behaviour is broken when we create an api.
Note that it should ask if we want or not to create the controller for the api when it is not.

To reproduce the issue is very simple, just follow the quick start: https://book.kubebuilder.io/quick-start.html
We need to revert the changes made

[2021-08-28 20:03] camilamacedo86 commented on #2293
Hi @kuritka,

The program is exit `os.Exit()` because the issue faced does not allow continue. So, in these cases, the program should be executed. So, could please provide an example of action in the main that has been causing the manager panic/exit when should not?

[2021-08-28 20:08] camilamacedo86 commented on #2286
Hi @robbie-demuth,

Thank you to raise this issue.

Note that it was desirable in the past: https://github.com/kubernetes-sigs/kubebuilder/issues/1068
Please, feel free to contribute to this implementation. Your collab is very welcome.

[2021-08-28 20:16] camilamacedo86 commented on #2270
Hi  @denist-huma,

Thank you for the clarifications. So, the problem is with the ` docs/book/src/component-config-tutorial/testdata/project`
Note that it is very hard we keep them update. Currently, the way that we are able to do that is described in : https://github.com/kubernetes-sigs/kubebuilder/issues/2273#issuecomment-899013715

So, wdyt about push a PR to fix the testdata doc sample?

[2021-08-28 20:22] camilamacedo86 commented on #2248
Hi @maxsmythe,

The error https://github.com/kubernetes-sigs/kubebuilder/issues/2248#issuecomment-890677500 is faced because it is missing the binaries. You are not using the latest releases.

I'd suggest you follow the docs and download the latest version of the tool and then scaffold a project. You will see that this error will no longer be faced.

You can fix it by following the step in the mig

[2021-08-28 20:22] #2248 closed

[2021-08-28 20:28] camilamacedo86 commented on #2267
Hi @ZhengJuCn,

The idea is that you should ensure a desired state on the cluster. You can use the watch features to re-queue some objects always that the k8s api raises an event such as update/deletion/edition/creation.

So, if you create a watch to observe the state of the B you will re-trigger the reconcile always by default when B be updated/deleted/edited/created. Is that the answer that you

[2021-08-29 02:56] AzureMarker commented on #2311
@camilamacedo86 The go.kubebuilder.io links are from the documentation: https://book.kubebuilder.io/quick-start.html#installation

[2021-08-30 09:17] davidkarlsen commented on #2248
That doc refers to `    test -f ${ENVTEST_ASSETS_DIR}/setup-envtest.sh || curl -sSLo ${ENVTEST_ASSETS_DIR}/setup-envtest.sh https://raw.githubusercontent.com/kubernetes-sigs/controller-runtime/v0.8.3/hack/setup-envtest.sh
`

but this script is not present for the latest release:
https://github.com/kubernetes-sigs/controller-runtime/tree/v0.9.6/hack

[2021-08-30 15:53] #2307 closed

[2021-08-30 15:53] #2294 closed

[2021-08-30 15:53] #2301 closed

[2021-08-30 19:33] dharmjit commented on #2194
Hi Folks, Is it something still to work upon. I could work on this if nobody is.

[2021-08-30 19:37] varshaprasad96 commented on #2194
@dharmjit sure, please feel free to assign this to yourself. Looks like the issue revolves around updating the kubebuilder doc section (ref: https://book.kubebuilder.io/cronjob-tutorial/controller-overview.html) with the latest changes appearing after a kb project is scaffolded (especially the reconciler and the imports).

[2021-08-30 23:53] camilamacedo86 commented on #2311
Could you please help us out by pushing a PR for we update it asap?
We should use the links in https://github.com/kubernetes-sigs/kubebuilder/releases/ e.g: https://github.com/kubernetes-sigs/kubebuilder/releases/download/v3.1.0/kubebuilder_linux_amd64 .

[2021-08-31 05:56] Beckham007 commented on #932
any updates?

[2021-08-31 10:09] rashmigottipati commented on #2317
/assign @rashmigottipati

[2021-08-31 15:01] fspaniol commented on #2311
Hi @camilamacedo86 , I've opened. https://github.com/kubernetes-sigs/kubebuilder/pull/2320, although I'm not sure it the change is good, any proposals would be welcome :)

[2021-08-31 15:11] jmrodri commented on #2311
So https://go.kubebuilder.io/dl is a redirect to https://github.com/kubernetes-sigs/kubebuilder/releases

Here's the path:
https://wheregoes.com/trace/20219211407/

[2021-08-31 15:16] jmrodri commented on #2311
The release artifacts changed.

[2021-08-31 18:28] #2311 closed

[2021-09-01 08:36] camilamacedo86 opened #2324 "Create testdata/sample for the declarative plugin (go/v3 only)"
### What do you want to happen?

I'd like to see in the testdata samples for the optional plugins.
After we remove the declarative one here https://github.com/kubernetes-sigs/kubebuilder/pull/2319/files we have no longer this option.

However, we cannot add a lot of samples. So, my suggestion here would be for now we add :
testdata/project-v3-declarative only.

### Extra Labels

_No response_

[2021-09-01 08:39] camilamacedo86 commented on #2324
c/c @justinsb

[2021-09-01 09:11] kuritka commented on #2293
Hi @camilamacedo86,
Thank you for answer. `os.Exit()` fails fast, but does not allow me to exit the program properly.

If I simplify it a lot, this is the situation I handle:
[code]

If I used `os.Exit()` , the deferred functions in `main` would not be called. In general it's a good practice to be able to free allocations using external libraries, terminate connections (in case you want them to be

[2021-09-01 17:42] #1908 closed

[2021-09-02 23:23] armsnyder commented on #2299
From what I can tell there is no technical limitation here, only a somewhat bad user experience.

Imagine I want all my CRDs to have the domain "myorganization.mycompany.com". I would expect that I initialize kubebuilder with `--domain myorganization.mycompany.com`. However this results in overly verbose import aliases `myorganizationmycomanycomv1`.

The workaround (or intended usage, perhaps) is

[2021-09-02 23:39] armsnyder opened #2326 "scheme marker in suite_test.go generates duplicate code"
### What broke? What's expected?

### Expected

The `//+kubebuilder:scaffold:scheme` marker that kubebuilder includes in the scaffolded `controllers/suite_test.go` file should only generate new code when there is a new scheme to add. This is how the marker behaves in main.go.

### Actual

Every time you run `kubebuilder create api` to add a new CRD to an existing API group, the marker adds the sam

[2021-09-03 00:00] armsnyder commented on #1935
/reopen

This would be super useful.

@nathanperkins are you actively working on this?

[2021-09-03 16:09] manu12miskin commented on #2326
Hey @armsnyder, I would like to work on this issue. Can you please assign it to me?

[2021-09-03 16:12] manu12miskin commented on #2326
/assign

[2021-09-03 17:14] armsnyder commented on #2326
The problem appears to be this function.

https://github.com/kubernetes-sigs/kubebuilder/blob/1ed4de20ac328ee151888597f067e4ae7dad97a4/pkg/machinery/scaffold.go#L357-L358

[2021-09-05 09:29] gangyi89 commented on #1928
Hi, we are facing the same issue. @kotyara85 did u manage to resolve it?

[2021-09-06 00:41] #2267 closed

[2021-09-06 01:35] armsnyder opened #2328 "Assertions in scaffolded suite_test.go BeforeSuite are not caught"
### What broke? What's expected?

This code at the bottom of a scaffolded BeforeSuite function in `controllers/suite_test.go` has a bug:

[code]

Ginkgo does not work in new goroutines without adding a `defer GinkgoRecover()` line. When this assertion fails you get this error:

[code]

### Reproducing this issue

_No response_

### KubeBuilder (CLI) Version

Version: main.version{KubeBuilderVersio

[2021-09-07 14:31] rashmigottipati commented on #2324
@justinsb are you planning to work on this issue?

[2021-09-07 20:34] #2110 closed

[2021-09-07 21:39] goutamtadi1 commented on #2110
/reopen I have changed jobs and need to re-sign the CLA which is gonna take some more time

[2021-09-08 15:45] yann-soubeyrand commented on #1496
Hello @camilamacedo86,
It was pointed out in the controller-gen issue that ClusterRoleBinding generation currently happens in kubebuilder. Maybe RoleBinding generation should be done in kubebuilder too? Could we reopen this issue?

[2021-09-08 16:33] #2273 closed

[2021-09-08 21:14] timflannagan opened #2330 "Broken link in the envtest reference documentation"
### What broke? What's expected?

The markdown link listed in the [Installation](https://book.kubebuilder.io/reference/envtest.html#installation) subheader is broken. It looks like that hack script for setting up envtest has since moved to the [root tools/ directory](https://github.com/kubernetes-sigs/controller-runtime/tree/master/tools/setup-envtest).

### Reproducing this issue

Follow the "dow

[2021-09-09 06:24] Birdrock commented on #2330
@timflannagan To add some more information to this, the `hack/setup-envtest.sh` script was removed in https://github.com/kubernetes-sigs/controller-runtime/commit/782807d8d4fb287e86f6c91862529574ac42cc0a. The replacement functionality is fetched with go modules.

The text certainly needs to be updated. I can take a swing at it if you are looking for someone to update it.

[2021-09-09 06:49] Birdrock opened #2331 "Configuring EnvTest documentation suggets non-working binary installation directory."
### What broke? What's expected?

On [Configuring EnvTest](https://book.kubebuilder.io/reference/envtest.html#installation), the documentation for installation specifies creating the directory `/opt/kubebuilder/testbin` and extracting the envtest binaries to that directory. It then suggests that the `test` target can be changed to (omitting prerequisites/dependencies) `go test ./... -coverprofile

[2021-09-09 08:35] hickeyma commented on #2270
@denist-huma Let me know if can work on this or not. If not, I can push a PR if you like as I have some knowledge after working on #2273.

[2021-09-09 10:31] denist-huma commented on #2270
@hickeyma yes you are welcome. I cannot get time to fix this myself.

[2021-09-09 10:55] hickeyma commented on #2270
/assign

[2021-09-10 08:35] tomasaschan opened #2335 "Makefile samples render with spaces, not tabs"
### What broke? What's expected?

On book.kubebuilder.io, code samples for Makefiles are rendered with space indentation, not tabs. Since Makefiles require tabs, this means copy-pasting from the code samples yield invalid code.

For example, [this section](https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/migration/manually_migration_guide_v2_v3.md#to-allow-automatic-downloa

[2021-09-11 12:35] zhamdoctor commented on #2207
its not working,though 1.16 doesnt help at all.i want to read running log with --verbose,but it seems nothing

[2021-09-11 12:43] zhamdoctor commented on #2207
oh，i resolve it! after upgrading go version to 1.16,it doesnt help.but logs shows dial up refused .so i changed my GOPROXY with cn for China. it worked!

[2021-09-12 09:49] fischor commented on #1593
You can adjust this behaviour when setting the logger.
In the automatically scaffolded `main.go` file change the StacktraceLevel to your liking.

[code]

See also: https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.10.0/pkg/log/zap#Options

[2021-09-13 15:17] hickeyma commented on #2270
PR #2336 pushed as a fix.

[2021-09-13 15:31] hickeyma commented on #2270
@camilamacedo86 I am working on a PR for this. Could you please add the label `triage/accepted` to this issue?

[2021-09-14 10:25] daenney commented on #1800
/remove-lifecycle stale

[2021-09-15 14:37] marshmallory opened #2337 "Tutorial Section 1.2 Missing Colon"
https://book.kubebuilder.io/cronjob-tutorial/empty-main.html

`    mgr, err = ctrl.NewManager(ctrl.GetConfigOrDie(), ctrl.Options{
        Scheme:                 scheme,
        Namespace:              namespace,
        MetricsBindAddress:     metricsAddr,
        Port:                   9443,
        HealthProbeBindAddress: probeAddr,
        LeaderElection:         enableLeaderElection,

[2021-09-16 10:26] shafeeqes commented on #1131
Can you please elaborate?

[2021-09-17 15:04] ctrought commented on #1999
I am trying to create an admission webhook for an external CRD (from another operator), is my understanding from this thread correct in that kubebuilder cannot do the scaffolding for external types, and if not is there any documentation that can suggest how I can accomplish this manually?

[2021-09-17 19:26] #2136 closed

[2021-09-20 01:08] armsnyder opened #2342 "Webhooks - Certificate spec requires isCA: true"
### What broke? What's expected?

When setting up mutating or validating webhooks, kubebuilder generates invalid Certificate yaml.

According to cert-manager docs for self-signed certificates, you must set `isCA: true` on the Certificate spec. However, the examples and code generation in kubebuilder are missing this field. https://cert-manager.io/docs/configuration/selfsigned/

I would consider th

[2021-09-20 01:43] armsnyder commented on #2326
@manu12miskin I'm also interested in trying to fix this myself. I hope it's ok if I open a PR if I find a fix. Let me know if you're already far along with it.

[2021-09-20 04:39] armsnyder commented on #2328
Seems to have been resolved by #2302, but there are still a couple places missing a `defer GinkgoRecover()` call. I'm getting a PR ready.

[2021-09-20 06:07] manu12miskin commented on #2326
@armsnyder Sure, I am unassigning myself.

[2021-09-20 11:13] hickeyma commented on #2306
I can take a look at this if its not being worked on?

[2021-09-20 12:50] rashmigottipati commented on #2306
@hickeyma Please feel free to work on this.

[2021-09-20 13:09] hickeyma commented on #2306
Thanks @rashmigottipati

[2021-09-20 13:09] hickeyma commented on #2306
/assign

[2021-09-20 18:51] armsnyder commented on #2342
Closing this issue since the isCA change may have been a red herring in the incident that sparked this issue. It looks like our server was not reloading the certificate from disk after it expired.

[2021-09-20 18:51] #2342 closed

[2021-09-20 19:28] sonnysideup commented on #2067
I'm slightly confused. Is this still an issue now that [3.1.0](https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.1.0) is out? It seems like https://github.com/kubernetes-sigs/kubebuilder/pull/2182 updates kubebuilder to Go 1.16 but perhaps that's related to building the CLI vs what the CLI supports?

[2021-09-21 08:57] daenney commented on #2175
/remove-lifecycle rotten

[2021-09-21 16:22] estroz commented on #2067
Both the `kubebuilder` binary and projects created by the binary use go 1.16, so I'm going to close this.

/close

[2021-09-21 16:22] #2067 closed

[2021-09-21 18:19] rashmigottipati commented on #2330
@Birdrock Please feel free to update the documentation.
Once the fix merges into master, we need to cherry-pick that into book-v3 branch.

[2021-09-21 18:21] Birdrock commented on #2330
@rashmigottipati I opened PR #2332, but forgot to cross-link them. Will link it on the PR, as well.

[2021-09-21 23:49] Cryptophobia commented on #403
This has been the most frustrating thing for me for the past 2 days. Inherited a tool that uses kubernetes CRDs that were obviously built with code-generator. Now I can't recreate the clients/informers/listers for the APIs to adhere to the new client-go versions...

Where in the design principles does it say that generating clients to access your APIs is against the design of Kubebuilder? Kubebuil

[2021-09-22 02:19] Birdrock commented on #2330
Referenced in discussion with #2331 regarding course forward if entire section should be rewritten for `setup-envtest` tool.

[2021-09-22 03:50] MarcosNBJ commented on #2335
Hello!
Is someone already working on this? I would love to take it if it's not the case.

[2021-09-22 06:43] hickeyma commented on #2306
Before I start I wanted to first check that the local e2e test runs as expected. I am however getting the following  error:

[code]

Anyone know what's going wrong here?

[2021-09-23 04:44] MarcosNBJ commented on #2335
/assign

[2021-09-23 04:54] MarcosNBJ commented on #1407
In the Makefile there are some steps than rely on other scripts, such as "/test/integration.sh" or "/test/e2e/local.sh" for example. Those would also need to be modified in order to make it Windows compatible, right? Or are they already compatible?

[2021-09-23 08:51] fgiloux opened #2347 "Resource requests and limits"
### What do you want to happen?

Kubebuilder uses these default values for generating controller deployments:

[code]
They have been improved with: PR #2255

Although these values can be changed by operator authors I would like to discuss and potentially revisit the defaults as:
- not every author would be aware of the need to adapt these values to the specifics of their operator
- these values ma

[2021-09-23 11:04] swartz-k commented on #2295
Hello, any progress? If too busy, I would like to make a pr about this.

[2021-09-23 12:46] Tarick opened #2348 "Outdated build from master"
### What broke? What's expected?

Binary downloaded from https://go.kubebuilder.io/releases/master/linux/amd64 for Linux is way older than the last released version and commits in master.

[code]
If builds from master are not supported, I'd suggest removing the possibility to download them from the documentation.

### Reproducing this issue

_No response_

### KubeBuilder (CLI) Version

Version: m

[2021-09-26 04:58] armsnyder opened #2349 "Include base.go.kubebuilder.io plugin"
### What do you want to happen?

On my team we bundle our operator config using Helm instead of Kustomize. It would be useful if we could use kubebuilder for golang code generation only.

However, the `go.kubebuilder.io` plugin in the `kustomize` CLI extends the `kustomize.common.kubebuilder.io` plugin, so it generates config that we do not need.

Can we get the `base.go.kubebuilder.io` plugin int

[2021-09-28 06:35] fgiloux commented on #2347
Any feedback?

[2021-09-29 13:54] hickeyma commented on #1963
@rashmigottipati @camilamacedo86 Do you mins closing this issue as it is resolved by PR #2289.

[2021-09-29 14:27] hickeyma opened #2355 "e2e test run locally timing out"
### What broke? What's expected?

When running the e2e tests locally they keep timing out. It can be at different stages of the [plugin v2 tests](https://github.com/kubernetes-sigs/kubebuilder/blob/master/test/e2e/v3/plugin_cluster_test.go). Output will be something similar to the following (depending on where it times out):

[code]

### Reproducing this issue

Run `make test-e2e-local` on your lo

[2021-09-29 14:36] hickeyma commented on #2355
Opened PR #2356 to fix this.

[2021-09-29 14:38] hickeyma commented on #2306
Opened issue #2355 for time out error mentioned in https://github.com/kubernetes-sigs/kubebuilder/issues/2306#issuecomment-924633285

[2021-09-29 16:29] hickeyma commented on #2306
Before any changes, I tested e2e tests locally as follows:

- Kubernetes 1.20.7 : Success
- Kubernetes 1.21.2 and 1.22.1: Fails

[code]

[2021-09-30 15:56] akirillov commented on #1672
@YiannisGkoufas, one of the alternative solutions would be providing a strategic merge patch containing the namespace selector. That way, all the manifests generated by the kubebuilder tooling (`make manifests`) will not override the changes upon the consequent runs.

Example:
`webhook/namespace_selector_patch.yaml`
[code]
where `your.webhook.name` comes from `manifests.yaml` where it is in turn g

[2021-09-30 16:07] akirillov commented on #803
@vijay-dcrust, here's what worked for me. Hope this saves some time for others facing this issue.

Create a REST Client in `main.go` and pass it to the controller alongside the REST Config required to build a request:
[code]
and in `controller.go` which takes the created client as a parameter:
[code]

[2021-10-01 11:51] aayushrangwala commented on #2337
/assign

[2021-10-01 16:23] bobbygryzynger opened #2357 "Error: var '{CERTIFICATE_NAME cert-manager.io_v1_Certificate {metadata.name}}' cannot be mapped to a field in the set of known resources"
### Discussed in https://github.com/kubernetes-sigs/kubebuilder/discussions/2269

It appears that additional files need sections un-commented. I needed to un-comment all `[CERTMANAGER]` and `[WEBHOOK]` configuration values in the following files:
- `config/crd/kustomization.yaml`
- `config/default/kustomization.yaml`
  - This one is mentioned in the tutorial, but the example leaves some  `[CERTMAN

[2021-10-01 18:24] stevemcquaid commented on #2337
/assign

[2021-10-01 18:54] #2337 closed

[2021-10-01 20:11] github-actions[bot] opened #2360 "🐛 Testadata verification failed for ecce96f6892e29b441bbe08d6694ad1806cba392"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/1296460088

[2021-10-01 20:15] camilamacedo86 commented on #2349
Hi @armsnyder,

Not sure if I could understand your motivations. In this way, I'd like to share:

a) The KB can be used as lib. You do not need to use the CLI to generate a base for your projects. One example of its usage is the SDK project (https://github.com/operator-framework/operator-sdk)
b) Also, would like to recommend you to check : https://book.kubebuilder.io/plugins/plugins.html

[2021-10-01 20:26] #2355 closed

[2021-10-01 20:31] github-actions[bot] opened #2361 "🐛 Testadata verification failed for 87eb9d55ecdc1dd653b034ac74eed8eb119d086f"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/1296514633

[2021-10-01 20:54] github-actions[bot] opened #2362 "🐛 Testadata verification failed for a0187eb029d82a444c251ec8975a39ec46cbd109"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/1296578267

[2021-10-01 23:03] #2159 closed

[2021-10-02 00:01] #2349 closed

[2021-10-02 00:06] github-actions[bot] opened #2363 "🐛 Testadata verification failed for bbf4fbb665eb09a82889e6414ba64b16fd238d25"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/1297014357

[2021-10-02 00:12] armsnyder commented on #2349
Hi @camilamacedo86 ! Thanks for taking time to understand the use case. I read the plugin docs and my understanding is that Kubebuilder can be used as a library for building your own custom CLI, and that there are planned changes in Kubebuilder "plugin phase 3" which will allow external plugins without needing to build a custom CLI. Is that correct?

To be clear, this issue was about having the op

[2021-10-02 09:53] #2326 closed

[2021-10-02 11:47] camilamacedo86 commented on #2123
See: https://github.com/kubernetes-sigs/kubebuilder/pull/2254#pullrequestreview-769487971

[2021-10-02 12:12] camilamacedo86 commented on #2363
Solved: https://github.com/kubernetes-sigs/kubebuilder/pull/2364/checks?check_run_id=3776249410

[2021-10-02 12:12] #2363 closed

[2021-10-02 12:12] camilamacedo86 commented on #2362
Solved: https://github.com/kubernetes-sigs/kubebuilder/pull/2364/checks?check_run_id=3776249410

[2021-10-02 12:12] #2362 closed

[2021-10-02 12:13] camilamacedo86 commented on #2361
Solved: https://github.com/kubernetes-sigs/kubebuilder/pull/2364/checks?check_run_id=3776249410

[2021-10-02 12:13] #2361 closed

[2021-10-02 12:13] camilamacedo86 commented on #2360
Solved: https://github.com/kubernetes-sigs/kubebuilder/pull/2364/checks?check_run_id=3776249410

[2021-10-02 12:13] #2360 closed

[2021-10-02 12:14] camilamacedo86 commented on #2357
It seems that we need to solve the example used in the book.
Would you like to work on that?

[2021-10-02 12:16] camilamacedo86 commented on #2348
It seems that you need to update your local/fork master branch. You need to get the latest changes made into the repository. Then, run make install.

[2021-10-02 12:18] #2348 closed

[2021-10-02 12:29] camilamacedo86 commented on #2347
Hi @fgiloux,

Following my IHMO on that:

It seems that should be addressed via doc.
I'd recommend we add it into: https://sdk.operatorframework.io/docs/best-practices/common-recommendation/ to make clear that one of the good practices would be calibrate this values according to the operator needs.

Also, I think we can scaffold in the config/manager.yml file a comment with the link for k8s doc an

[2021-10-02 12:30] camilamacedo86 commented on #2231
/remove-lifecycle stale

Any progress on this one?

[2021-10-02 12:31] camilamacedo86 commented on #2195
/remove-lifecycle stale

Any progress in this one?

[2021-10-02 12:31] camilamacedo86 commented on #2194
/remove-lifecycle stale

Any progress in this one?

[2021-10-02 12:32] camilamacedo86 commented on #2206
/remove-lifecycle stale

[2021-10-02 18:31] dharmjit commented on #2194
@camilamacedo86 Sorry, I got caught up with work. I just looked at this and found that this [doc](https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/cronjob-tutorial/testdata/emptycontroller.go) is already improved for imports/logs in #2273 and the same is reflected in local `mdbook serve`.  But it's not updated in the [kubebuilder book](https://book.kubebuilder.io/cronjob-tu

[2021-10-02 18:41] dharmjit commented on #2252
Hi, Same question that @vadimeisenbergibm got. I recently unknowingly refactored(move init code to main) for one of the project I am working on and later found that this is scaffolded by `kubebuilder`. Is there some reasonings behind this? Thanks

[2021-10-02 22:29] camilamacedo86 commented on #2347
Another good reason to set the limits is security. We might also add a link for https://cheatsheetseries.owasp.org/cheatsheets/Docker_Security_Cheat_Sheet.html#rule-7-limit-resources-memory-cpu-file-descriptors-processes-restarts as well.

[2021-10-03 00:28] camilamacedo86 commented on #2347
PRs created to address related needs:
- https://github.com/operator-framework/operator-sdk/pull/5274/files
- #2365

[2021-10-04 10:00] fgiloux commented on #2347
@camilamacedo86

Agreed. I think this is also valuable to Kubebuilder and could be added to its documentation as well

Yes that's a good idea

Sorry, I don't get your point. My take on limits was to keep CPU unchanged and to increase memory from 100m to 120m. I did not propose any reduction, hence I don't see how this can introduce problems to new users. Let me know what I am missing.

As written

[2021-10-04 11:14] camilamacedo86 commented on #2347
Hi @fgiloux,

The values suggested are those ones used as an example in the k8s doc: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/

IHMO we should be less restrictive and make clear to operator authors that they should optimize the values.

[2021-10-04 11:44] fgiloux commented on #2347
In the link you shared I only saw an example not a recommendation. @camilamacedo86 sorry you need to spell it out: I don't see how my proposal is more "restrictive" than what you wrote. Please specify for which field you mean that my proposal is more restrictive and in what way.

[2021-10-04 11:48] camilamacedo86 commented on #920
Closing it as solved https://book.kubebuilder.io/cronjob-tutorial/writing-tests.html

[2021-10-04 11:48] #920 closed

[2021-10-04 11:49] #2357 closed

[2021-10-04 16:37] github-actions[bot] opened #2369 "🐛 Testadata verification failed for 955bbdf6d8b169604baad1004fe01b735ac043a2"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/1304449167

[2021-10-04 17:19] github-actions[bot] opened #2370 "🐛 Testadata verification failed for 26803e6fa77a1ab7ae6617759e8c5eaf386c45c3"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/1304580180

[2021-10-05 09:20] hickeyma commented on #2306
Tested with Kubernetes 1.20.7, 1.21.2, 1.22.1 locally. The e2e test are running successfully. I have pushed PR #2371 with the changes and tests are passing on the different Kubernetes back to 1.14.10.

I will have a prow PR ready to go when this PR merges. @camilamacedo86 What Kubernetes releases do you then want to test with in the CI? 1.20, 1.21, 1.22 only?

[2021-10-05 14:26] JustinKuli opened #2372 "Set we set the default container annotation?"
### What do you want to happen?

There is a "well-known" annotation for Pods to specify the default container: https://kubernetes.io/docs/reference/labels-annotations-taints/#kubectl-kubernetes-io-default-container. I think this could be easily added to the scaffold [here](https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/cli/alpha/config-gen/templates/resources/controller-manager.tem

[2021-10-05 18:07] rashmigottipati commented on #2347
/assign @camilamacedo86

[2021-10-05 18:12] rashmigottipati commented on #2369
/assign @camilamacedo86

[2021-10-05 18:12] #2370 closed

[2021-10-05 18:12] camilamacedo86 commented on #2370
We have another one for that already.

[2021-10-05 18:13] camilamacedo86 commented on #2369
We need to check why that has been raised. All is fine on master.

[2021-10-05 18:21] rashmigottipati commented on #2372
/cc @camilamacedo86

[2021-10-06 15:26] stevemcquaid commented on #2337
#2358 & #2359 fixed this
/close

[2021-10-07 16:28] JustinKuli commented on #2372
@palnabarun I hadn't noticed this got accepted, I was hoping to do it. Just got slightly stuck on figuring out a test (trying to see what versions of k8s are tested).

You're welcome to it, but if you haven't started yet, can I take it?

[2021-10-08 15:46] tossmilestone opened #2373 "Support updating the token in rest config of manager if it is expired"
### What do you want to happen?

In k8s 1.21, a feature `TokenRequestProjection` is unconditionally enabled([#97148](https://github.com/kubernetes/kubernetes/pull/97148)). The feature will project a token that will be expired for the serviceaccount of a pod, and the kubelet will refresh the token if it's expired. The application is reponsible for updating the token where it's used.

But now as far

[2021-10-09 11:27] camilamacedo86 commented on #2306
Hi @estroz @hickeyma,

By default, the projects under k8s must ensure the support for the latest 3 versions. That does not mean that we cannot do tests with the old versions as well.

We should be testing with the latest 3 ones but we do not need to remove the tests with the previous versions. Unless we check that do all these tests began to impact we contribute with the project because it is taki

[2021-10-11 05:19] tossmilestone commented on #2373
The client-go will refresh the token itself, so nothing should be done.

[2021-10-11 05:19] #2373 closed

[2021-10-12 14:38] CatherineF-dev commented on #1501
I commented `SetupWebhookWithManager` in `main.go`, which works for me.
[code]

[2021-10-12 17:36] JustinKuli opened #2377 "Make targets should be PHONY or point to the files they create"
### What do you want to happen?

Many targets in the [Makefile](https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/golang/v3/scaffolds/internal/templates/makefile.go) do not create files, but aren't labelled as [PHONY targets](https://www.gnu.org/software/make/manual/make.html#Phony-Targets). This is probably a "best practice" that some users want in their Makefile, for example

[2021-10-13 08:37] hickeyma commented on #1963
Thanks @camilamacedo86

[2021-10-16 11:55] AlmogBaku opened #2388 "Introducing ENV instead of flags for operator's `main.go` skeleton manifest"
### What do you want to happen?

Configuring operators with Environment Variables instead of `flags` is considered as best practice, especially due to the limitation to provide dynamic configurations over the flags (i.e. Secrets, ConfigMaps, etc.)

Using flags can allow easier extensibility of the scaffold `main.go`, and compatibility with the [12factor](https://12factor.net/) manifest.

In additi

[2021-10-16 20:39] coderanger commented on #2388
I think you are overstating it env vars are a best practice. 12factor was an important step in the ops journey for many but it is neither dogma nor overall applicable in a modern setting. I think the more important "best practice" is consistency with all other Kubernetes daemons which use CLI flags rather than env vars. That said, if wanted to introduce Viper to the default skeleton to support bot

[2021-10-16 23:13] camilamacedo86 commented on #2388
+ 1 for the @coderanger POV and suggestion.
@AlmogBaku, please feel free to contribute with PRs.

Your help is more than welcome.

[2021-10-16 23:18] camilamacedo86 commented on #2377
Hi @JustinKuli,

Thank you for track your idea. +1 for that.
WDYT about pushing a PR with?

The change would not be addressed in the bollerplate of go/v3 : https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/golang/v3/scaffolds/internal/templates/makefile.go also it seems fine to be added in the previous version as well see: https://github.com/kubernetes-sigs/kubebuilder/blob/ma

[2021-10-16 23:18] camilamacedo86 commented on #2369
It seems that we have a problem with sync master but that is solved.

[2021-10-16 23:18] #2369 closed

[2021-10-16 23:19] camilamacedo86 commented on #2335
Please, feel free to send your PR.
Your help is very welcome.

[2021-10-16 23:29] camilamacedo86 commented on #2299
Hi @armsnyder,

In kb v1 the tool scaffolds the multi-group layout by default. However, looking for simplicity, since v2 we scaffold by default a layout or you would always work with only one group. However, that does not mean that you cannot have different groups in the same domain. See: https://book.kubebuilder.io/migration/multi-group.html

However, I agree with you that is annoying to inform m

[2021-10-16 23:50] camilamacedo86 commented on #2231
I am moving this one from the milestone since we have no progress and we would like to a release sooner.

[2021-10-16 23:52] camilamacedo86 commented on #2068
/remove-lifecycle stale

[2021-10-17 00:39] camilamacedo86 opened #2389 "EnvTest setup docs need to be updated"
### What do you want to happen?

The ENV TEST was changed. So, we need to update the docs to clarifies that as add the new instructions.
See: https://github.com/kubernetes-sigs/controller-runtime/tree/master/tools/setup-envtest#where-does-it-put-all-those-binaries

Then, would be very nice instead of removing the current instructions make it clear when it loses its supports.

Also, note that we pr

[2021-10-17 00:39] camilamacedo86 commented on #2389
c/c @varshaprasad96

[2021-10-17 00:42] camilamacedo86 commented on #2331
The ENV TEST was changed. So, we need to update the docs to clarifies that as add the new instructions.
See https://github.com/kubernetes-sigs/controller-runtime/tree/master/tools/setup-envtest#where-does-it-put-all-those-binaries.

I task to track this need was tracked: https://github.com/kubernetes-sigs/kubebuilder/issues/2389

Closing that as duplicated.

[2021-10-17 00:42] #2331 closed

[2021-10-17 00:42] camilamacedo86 commented on #2330
The ENV TEST was changed. So, we need to update the docs to clarifies that as add the new instructions.
See https://github.com/kubernetes-sigs/controller-runtime/tree/master/tools/setup-envtest#where-does-it-put-all-those-binaries.

I task to track this need was tracked: https://github.com/kubernetes-sigs/kubebuilder/issues/2389

Closing that as duplicated.

[2021-10-17 00:49] camilamacedo86 commented on #2295
The ENV TEST was changed. So, we need to update the docs to clarifies that as add the new instructions.
See https://github.com/kubernetes-sigs/controller-runtime/tree/master/tools/setup-envtest#where-does-it-put-all-those-binaries.

See the task to track this need: https://github.com/kubernetes-sigs/kubebuilder/issues/2389

Also, please see the info added in the PR to the master:

https://github.c

[2021-10-17 00:49] #2295 closed

[2021-10-17 00:51] camilamacedo86 commented on #2266
The ENV TEST setup was changed. So, we need to update the docs to clarifies that as add the new instructions.
See https://github.com/kubernetes-sigs/controller-runtime/tree/master/tools/setup-envtest#where-does-it-put-all-those-binaries.

See the task to track this need: https://github.com/kubernetes-sigs/kubebuilder/issues/2389

Also, please see the info added in the PR to the master:

https://gi

[2021-10-17 14:46] jeesmon commented on #2388
Isn’t `ComponentConfig` the approach to solve this problem?

https://book.kubebuilder.io/component-config-tutorial/tutorial.html

https://docs.google.com/document/d/1FdaEJUEh091qf5B98HM6_8MS764iXrxxigNIdwHYW9c/edit#heading=h.yrvizvdexvtq

[2021-10-18 11:30] libratiger commented on #1501
`export ENABLE_WEBHOOKS=false` can works

[2021-10-19 09:09] c4fun opened #2390 "[Tutorial] Writing tests not working as expected"
### What broke? What's expected?

I follow the tutorial till [writing tests](https://book.kubebuilder.io/cronjob-tutorial/writing-tests.html). I've filled in all the code snippet to my code repo. But When I run `go test ./...` in controllers, an error occured:

[code]

So here the unexpected is that the test failed. But it seems to fail because of an etcd binary problem.

### Reproducing this issu

[2021-10-19 09:17] #2390 closed, assigned to nobody

[2021-10-21 16:36] shaneutt opened #2393 "Alternative Scaffolding Paths"
### What do you want to happen?

It was suggested of me to open this issue based on a conversation in the community call 2021-10-21.

Historically for multiple projects I've dealt with the hardcoded paths around scaffolding by generating stuff and then moving the files around and manually patching them for different paths, e.t.c.

The purpose of this request is to have a standard programmatic way

[2021-10-22 07:54] wenchajun opened #2394 "Whether multiple domains can be configured"
### What do you want to happen?

Hello, everyone. I have a question about whether KubeBuilder can configure multiple domains. I looked it up, but it was rarely mentioned. So I want to ask here if I can configure multiple domains. If yes, how to configure it. thanks

### Extra Labels

/kind documentation

[2021-10-25 15:49] idanl21 opened #2396 "Statefulset VolumeClaimTemplates object get only corev1.PersistentVolumeClaim"
### What broke? What's expected?

Hi everyone, I’m trying to create operator that wiil deploy some resources on k8s. all the resources are built and deployed right, but when I’m creating statefulset resource, i expect him to also create pv and pvc for the application.
when i build the statefulset resource (on the operator side) i add `VolumeClaimTemplates` for that. the problem is that `corev1.Per

[2021-10-26 07:34] swiftslee opened #2398 "Writing controllers without generating api"
### What do you want to happen?

Sometimes the users don't need to create an API for themselves(e.g. implementing a loadbalancer svc provider only needs to watch kubernetes native service), how to do that? Any suggestions would be appreciated!

### Extra Labels

_No response_

[2021-10-27 09:26] #2396 closed, assigned to nobody

[2021-10-27 10:29] #2377 closed, assigned to zhengtianbao

[2021-10-29 07:30] AshinWu opened #2407 "How to distinguish between different resource types in the Reconcile()?"
### What broke? What's expected?

I want to realize the controller which can listen myCRD resource and the service resource at the same time.
the SetupWithManager is as follows:
[code]
All resource changes are called Reconcile(), i wanna judge the type of resource  and make different processing in the Reconcile().
But  the workqueues only have the namespaces and the resource names:
[code]
I can't

[2021-10-29 15:25] #2407 closed, assigned to nobody

[2021-10-29 18:04] camilamacedo86 opened #2413 "Release Tools"
### What broke? What's expected?

When we tried to do the release for v3.2.0 we saw that the artefacts were not generated.
However, we have no access to cloudbuild.

We need to review and fix the release process for KB.

### Reproducing this issue

Try to do a release. The artefacts should be automatically generated with the release notes when we push the tag.

### KubeBuilder (CLI) Version

3.2.0

[2021-10-29 18:39] camilamacedo86 opened #2414 "Automatically build from for kube-rbac-proxy"
### What do you want to happen?

Currently, these builds have been done manually and added to the google cloud via Solly.
This project is a process to be donated to k8s org. Seems that if the project be donated we could automatically generate the builds.

So, the goal of this task is to check how we can do that and if we can help.

### Extra Labels

_No response_

[2021-11-01 01:52] AshinWu commented on #2407
thanks. However, it not what I want that it still can't judge the kind of resource in Reconcile() when the controller watches two unrelated resources at the same time.

[2021-11-01 03:09] #2116 closed

[2021-11-01 13:16] #2195 closed

[2021-11-01 19:18] #2194 closed

[2021-11-03 18:03] estroz commented on #1487
/lifecycle frozen

[2021-11-03 22:15] MaxThom opened #2416 "failed to initialize project: unable to run pre-scaffold tasks of "base.go.kubebuilder.io/v3": open config: permission denied"
### What broke? What's expected?

Hi,

im trying to run the quickstart guestbook app or the cronjob app, and I got this error when running `kubebuilder init`:

`failed to initialize project: unable to run pre-scaffold tasks of "base.go.kubebuilder.io/v3": open config: permission denied`.

I tried those commands:
 - `kubebuilder init`
 - `kubebuilder init --domain my.domain --repo my.domain/guestbo

[2021-11-04 16:20] estroz commented on #2393
Duplicate of #932

/triage duplicate
/close

[2021-11-04 16:20] #2393 closed

[2021-11-04 16:20] jmrodri commented on #2413
@camilamacedo86 what artifacts are you referring to?

[2021-11-04 16:21] jmrodri commented on #2413
We're trying to get access to the cloudbuild for now  but we should look at moving to github actions.

[2021-11-04 16:22] jmrodri commented on #2413
/assign @estroz

[2021-11-04 16:24] jmrodri commented on #2416
/assign @jmrodri

[2021-11-04 16:25] jmrodri commented on #2414
/cc @estroz

[2021-11-04 16:27] estroz commented on #2414
The build itself is performed automatically by cloudbuild (just change [this version](https://github.com/kubernetes-sigs/kubebuilder/blob/kube-rbac-proxy-releases/build/cloudbuild_kube-rbac-proxy.yaml#L17)). We are still working out access to the cloudbuild account, but that's an admin issue.

[2021-11-04 16:27] #2414 closed

[2021-11-04 17:22] shaneutt commented on #932
Since #2393 was closed as a duplicate I wanted to mention that the ability to choose `internal/controller` instead of `pkg/controller` while simoltaneously being able to use `pkg/apis` is important to my use cases.

[2021-11-05 13:56] AlmogBaku commented on #2388
Hey,
Since this is a design feature, let's try to agree upon the design before I'll jump to implementation.

I see that the `ComponentConfig` was contributed by @pwittrock, are you available on Slack for a brief chat?

[2021-11-08 11:07] camilamacedo86 commented on #2416
It shows like the tool has no permission to write in the directory where you are trying to scaffold the project.

[2021-11-10 02:31] MaxThom commented on #2416
Thanks you, restarting my pc solved the issue. Thats wierd I dont know lol. Anyway, ty :)

[2021-11-10 02:31] #2416 closed

[2021-11-12 06:19] safejob opened #2419 "How to generate config/certmanager/kustomization.yaml and kustomizeconfig.yaml"
Version: main.version{KubeBuilderVersion:"3.2.0", KubernetesVendor:"1.22.1", GitCommit:"b7a730c84495122a14a0faff95e9e9615fffbfc5", BuildDate:"2021-10-29T18:32:16Z", GoOs:"linux", GoArch:"amd64"}

I follow the book about cronjob steps, all run well , but could not generate config/certmanager/kustomization.yaml and kustomizeconfig.yaml . Can you tell me where is wrong?

-----------------------------

[2021-11-12 11:57] camilamacedo86 commented on #2191
lifecycle/stale

[2021-11-15 19:51] ryantking opened #2421 "Upgrade go to 1.17"
This issue will track updating kubebuilder to go version 1.17.

I could not find any language or toolchain changes in the [release notes](https://golang.org/doc/go1.17) that will require changes to the source or any build scripts/CI.

K8s dependencies (check indicates they have been bumped to 1.17):

- [ ] [k8s.io/apimachinery](https://github.com/kubernetes/apimachinery)
- [ ] [sigs.k8s.io/kustomi

[2021-11-15 19:55] ryantking commented on #2421
CC: @camilamacedo86

[2021-11-16 10:50] camilamacedo86 commented on #2421
The go version supported is 1.16
We need first bump the upper version in the projects;
- k8s
- controller-runtime
- sigs.k8s.io/kubebuilder-declarative-pattern

then we can bump kubebuilder and by latest SDK.

Could you please check if the pre-requirements are done and if not, see if is possible to move with them first?

[2021-11-17 10:37] camilamacedo86 commented on #2183
/lifecycle rotten

[2021-11-18 17:10] jmrodri commented on #2419
/cc @camilamacedo86
label: triage support

[2021-11-18 17:41] jmrodri commented on #2419
/label triage-support

[2021-11-18 17:41] jmrodri commented on #2419
/label kind/support

[2021-11-18 17:43] camilamacedo86 commented on #2419
/label support

[2021-11-18 17:45] camilamacedo86 commented on #2419
/label kind/support

[2021-11-19 23:31] kzap commented on #2248
I am on a M1 Mac and the env-test binaries are not available in arm64 nor does the auto download tool account for this

I was able to manually download them by following the instructions [here](https://book.kubebuilder.io/reference/envtest.html) except for the first step I downloaded the `amd64` binaries.

[code]

after that, running `make test` worked

[2021-11-22 03:53] yuswift commented on #2248
This script has been removed. The instructions is the right way to install kubebuilder.

[2021-11-22 15:40] adeniyistephen commented on #1501
@libratiger & @camilamacedo86 I similar errors, how would I go about it, while I want to use webhook.
I'm actually following the kubebuilder tutorial https://book.kubebuilder.io/cronjob-tutorial/running.html

[2021-11-23 15:05] #1949 closed

[2021-11-23 15:05] #1950 closed

[2021-11-24 07:32] camilamacedo86 opened #2423 "Add to the contribution.md the guidance to create docs"
### What do you want to happen?

I'd like to share with contributions the k8s guidance to contribute with the docs: https://kubernetes.io/docs/contribute/style/style-guide/

So, it shows that would be great we have this one in the CONTRIBUTION.md

### Extra Labels

/kind documentation

[2021-11-24 18:08] sayantani11 commented on #2423
I would like to work on it.
/assign

[2021-11-24 18:08] sayantani11 commented on #2423
I would like to work on it.
/assign

[2021-11-24 18:08] sayantani11 commented on #2423
I would like to work on it.
/assign

[2021-11-25 02:09] aoi1 opened #2424 "Expired link in "Defining your Config" page"
Hi! I was looking at [Defining your Config](https://book.kubebuilder.io/component-config-tutorial/define-config.html) Page, and clicked the link "ControllerManagerConfiguration" but the TODO page appeared.
Seems like the link is already expired, so it would be helpful if there is the correct link on the page. (Tried to find the correct page, but I couldn't.😢)
Thank you!

[2021-11-25 12:53] dmvolod opened #2425 "Utilize controllerutil.ContainsFinalizer inside kubebuilder book CronJob finalizer example"
### What do you want to happen?

It would be nice t remove `containsString` helper function from the `docs/book/src/cronjob-tutorial/testdata/finalizer_example.go` and utilize `controllerutil.ContainsFinalizer` instead. Many newcomers copy/paste this example into the code, but it a bit stale/redundant.

### Extra Labels

/kind documentation

[2021-11-25 12:53] dmvolod commented on #2425
/assign

[2021-11-26 07:52] #2423 closed

[2021-11-26 19:27] #2171 closed

[2021-11-26 19:27] #2234 closed

[2021-11-28 14:55] #2425 closed

[2021-11-29 09:11] camilamacedo86 opened #2428 "Add resources requests and limits for kube-rbac-proxy."
### What do you want to happen?

Currently, the kube-rbac-proxy container does not have any resources amount set.
We ought to add at least the resource request for CPU and Memory for its container. The change to add the amount of the resource would be done in this [bollerplate]Ohttps://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/common/kustomize/v1/scaffolds/internal/templates/c

[2021-11-29 09:12] camilamacedo86 commented on #2428
c/c @fgiloux

[2021-11-29 10:38] fgiloux commented on #2428
Hi @camilamacedo86

Besides the quota aspect. Resource requests play a role in scheduling and QoS allocation. From what I have seen kube-rbac-proxy consumes generally very few CPU cycles: On a not so busy decent size cluster over 12h looking at 27 kube-rbac-proxy containers most of them were using between 1m and 2m in average and the busiest one picked up at 7m.
I believe to remember that 5m is th

[2021-11-29 11:36] tengfeisun commented on #1719
I also want to move my main.go into cmd package, bug it will be failed when create an API,

[2021-11-29 13:58] camilamacedo86 commented on #2428
So, that mean adding:

[code]

[2021-11-29 14:03] fgiloux commented on #2428
Yes that's my proposal. I can create a PR if you agree with it.

[2021-11-29 14:11] camilamacedo86 commented on #2428
Sure, that would be great 👍

[2021-11-30 18:51] jpfourny commented on #1932
Any progress on this? I hate having to use Rosetta on my M1 to compensate for lack `darwin-arm64` release. More and more organizations are replacing old Intel Macs with M1.

[2021-11-30 20:31] estroz commented on #2293
Using `defer` in the same scope as `os.Exit()` is erroneous for sure, but like @camilamacedo86 says the default `main()` does not use `defer`. It would be fairly trivial for a user to change function scope if `defer` is needed, so this isn't a high priority change imo. However if someone wanted to work on this, I would accept this change:
[code]
As this is a common pattern in Go programs.

[2021-12-01 11:37] #2428 closed

[2021-12-02 15:49] geezyx opened #2434 "kube-rbac-proxy scaffolding should not have debug logging enabled by default"
https://github.com/kubernetes-sigs/kubebuilder/blob/4ef2eb6b64bac803d181eeec3f1b84f2935b475a/pkg/plugins/common/kustomize/v1/scaffolds/internal/templates/config/kdefault/manager_auth_proxy_patch.go#L63

We noticed that the kube-rbac-proxy logging was really verbose and upon inspection, `--v=10` is actually logging the bearer token of the service account that kube-rbac-proxy is using.

[2021-12-02 16:32] varshaprasad96 commented on #2424
@aoi1 Thanks for bringing up this issue! https://github.com/kubernetes-sigs/kubebuilder/pull/2436 should fix the link.

[2021-12-02 17:21] rashmigottipati commented on #2394
@wenchajun Currently, we don't support that feature, but we are evaluating the use cases for being able to support more than one domain in the same project. To answer your question, currently there is no way to support configuration of multiple domains.

Are you interested in collaborating on this?

[2021-12-02 17:22] rashmigottipati commented on #2394
/assign @pjbgf

[2021-12-02 17:31] rashmigottipati commented on #2421
@ryantking We discussed this in the triage meeting and the go version doesn't have to be bumped in kustomize. I believe it was bumped in k8s, controller-runtime and also kb-declarative-pattern, so the next step will be to open a PR against kubebuilder bumping the go version to 1.17.

[2021-12-02 17:31] rashmigottipati commented on #2421
/assign @ryantking

[2021-12-02 17:42] rashmigottipati commented on #2434
@geezyx Thanks for your contribution! We discussed this in triage meeting and we wanted to make a suggestion on the PR to leave the line as commented out instead of removing it altogether. @camilamacedo86 will make a specific comment on the PR with the suggestion.

[2021-12-02 18:44] pjbgf opened #2437 "Bump golang.org/x/text to v0.3.7"
### What do you want to happen?

Kubebuilder has an indirect dependency on `golang.org/x/text@v0.3.6` which has a security bug ([GO-2021-0113](https://osv.dev/vulnerability/GO-2021-0113)). A fix was released a few months ago under version v0.3.7.

It would be good to have that dependency bumped up, so it is included on the next version released.

Details can be see on the project's [deps.dev](http

[2021-12-03 02:29] geezyx commented on #2434
@rashmigottipati thank you, I'm responding to the PR feedback now.

Just curious - in the future, is it useful to have both an issue and a PR or would y'all prefer just a PR? I wasn't sure the additional issue was redundant.

Appreciate y'all maintaining a great project!

[2021-12-03 08:37] imxw commented on #1932
you can use homebrew to download it.
 `brew install kubebuilder`
[This version](https://formulae.brew.sh/formula/kubebuilder) supports Apple Silicon

[2021-12-03 10:17] camilamacedo86 commented on #2434
Hi @geezyx,

The issue usually tracks the need. Not necessary who tracks the need to work in the solution.
Also, we try to do the backlog triage where the issues are discussed.

However, if you wish to contribute with something and just send the PR it is fine.
If we see that the info in the description is not enough to understand your motivations and help in the review, or if we see that is a topi

[2021-12-03 10:26] #2424 closed

[2021-12-05 15:32] #2437 closed

[2021-12-08 06:48] fishANDdog commented on #2207
I have same problem, and i have resolved it.  The solution is to install GCC.  commond line is :  `yum install gcc`

[2021-12-09 06:31] ycyaoxdu opened #2439 "asking for a small change of book"
### What do you want to happen?

Asking for a very small change

while following the tutorial 1.9.2 , i found the command [here](https://book.kubebuilder.io/cronjob-tutorial/running-webhook.html#build-your-image) is not very clear for beginners.

so i think it can be better if we add a link of the usage of the command we using.

example: `kind load docker-image your-image-name:your-tag` [usage](ht

[2021-12-09 12:03] camilamacedo86 commented on #2439
@ycyaoxdu,

WDYT about update it as we have in the quickstart: https://book.kubebuilder.io/quick-start.html#run-it-on-the-cluster?  (`some-registry>/<project-name>:tag`)

Also, we could add a note in all places that we ask for build/push the image to the registry explaining that it ought to be published in the personal registry and that is required to have access to pull the image from the env whe

[2021-12-10 02:40] ycyaoxdu commented on #2439
i'm glad to contribute to this PR, and i will make modify these docs ASAP.

[2021-12-11 23:17] anfoxtrot opened #2444 "Small typo in docs."
### What broke? What's expected?

Under the "Examples:" of `kubebuilder init --help` the sentence "Initialize a new project defining an specific project version" should be "Initialize a new project defining a specific project version".

### Reproducing this issue

install kubebuilder

on the terminal type:
`kubebuilder init --help`.

### KubeBuilder (CLI) Version

3.2.0

### PROJECT version

_No r

[2021-12-12 08:46] camilamacedo86 commented on #2444
Hi @anfoxtrot,

Would you like to collab with this fix by raising a PR? See the required places : https://github.com/kubernetes-sigs/kubebuilder/search?q=Initialize+a+new+project+defining

[2021-12-12 15:42] anfoxtrot commented on #2444
@camilamacedo86 #2445

[2021-12-13 14:46] #2237 closed

[2021-12-13 21:12] #2444 closed

[2021-12-13 23:44] #2439 closed

[2021-12-16 17:14] camilamacedo86 opened #2448 "Bump controller-runtime 0.11"
### What do you want to happen?

Bump controller-runtime 0.11

### Extra Labels

_No response_

[2021-12-17 19:07] sanya301 commented on #1891
/assign

[2021-12-17 20:05] sanya301 commented on #1891
Hi I'm new to open source contributions and working on a script similar to operator-sdk. I noticed that the sdk script is only checking `.go` files in certain directories. Did you want to maintain that behavior or also add checks for other file types such as `.sh` and `.yaml`?

[2021-12-23 12:12] moluzhui opened #2457 "The operator deployed by kubebuilder has an event create reject error"
### What broke? What's expected?

My problem is that an unexpected error occurred. After I used `kubebuilder` to build my operator and passed the test, I hope it will become `helm chart`. At this time, I modify the Makefile to modify make install and make deploy
[code]
After again, I executed `helm install -n my-operator my_operator/ --debug` which is helm2. At this time, when I was running to add

[2021-12-26 08:01] hzyfox opened #2460 "Metadata of PersistentVolumeClaim can not be decoded correctly"
**Environment**

**Kubectl  Version**
[code]

**Kubernetes Version (Kind Cluster)**

[code]

**Kubebuilder Version**

[code]

**Os**
[code]

I use kubebuilder to define my own `CRD` like below, and it contains  `VolumeClaimTemplates` filed which the type is `[]coreV1.PersistentVolumeClaim`

[code]

But when I apply the CR like the below, I found that the  `metadata` filed is empty
[code]

Here is

[2021-12-27 01:52] abstractalchemist commented on #2460
I believe I'm experiencing a very similar issue and it seems to be connected to how the kubebuilder generates CRDs from the structs defined in the package api/<version>.  If I so something like this:

[code]

In the CRD, this is generated:

[code]

But a couple of odd things seem to happen which makes not sense.  If I do kubectl explain
[code]

which was odd.  Then kubectl apply on
[code]
shows up

[2021-12-27 02:50] hzyfox commented on #2460
@abstractalchemist  I have found the solution, use the controller-gen crd option `crd:generateEmbeddedObjectMeta=true` will work

[2021-12-27 03:23] abstractalchemist commented on #2460
That's moderately better, but I think this needs to be better documented as it's not explained anywhere ( I don't even see this option in the kubebuilder book ) and it's not clear to me why this would be specifically called out as ignored for processing by the builder.

[2021-12-27 03:37] hzyfox commented on #2460
@abstractalchemist   I found this option through  `controller-gen -h`, and there is no mention of this option in the [official kubebuilder controller-gen CLI documention ](https://book.kubebuilder.io/reference/controller-gen.html).

[2021-12-27 03:41] hzyfox commented on #2460
@abstractalchemist  And I think `crd:generateEmbeddedObjectMeta` shoul default to be true,  I don’t know why this option is turned off by default. `CRD` is very likely to use nested ObjectMetadata

[2021-12-28 04:42] belanasaikiran commented on #1023
have you found any fix yet? I am facing the same issue

[2021-12-29 09:22] jgillich commented on #1501
Check `default/kustomization.yaml` and `crd/kustomization.yaml` for `[WEBHOOK]` and `[CERTMANAGER]`, we only need to uncomment some lines to get it to work. Also need to have [cert-manager](https://cert-manager.io/) installed.

[2022-01-05 03:13] damnever opened #2466 "support array type for printcolumn"
### What do you want to happen?

Support custom separator, default to comma, e.g. "a,b,c".

### Extra Labels

_No response_

[2022-01-06 12:03] github-actions[bot] opened #2470 "🐛 Testadata verification failed for 83fcc5f7fbca3ea71966dc464fff0244ff551429"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/1662880919

[2022-01-06 12:12] camilamacedo86 commented on #2466
Hi @damnever,

It ought to be a request for https://github.com/kubernetes-sigs/controller-tools. KB only uses this project. Could you please raise this RFE there and close this one?

[2022-01-06 12:17] camilamacedo86 commented on #2460
HI @hzyfox and @abstractalchemist,

We would like to have a FAQ section on the docs : https://github.com/kubernetes-sigs/kubebuilder/issues/1723

WDYT about to collab with the project by creating this one and adding it there? The idea would be similar to: https://sdk.operatorframework.io/docs/faqs/

[2022-01-06 12:22] ankitm123 commented on #2448
/assign

[2022-01-06 12:24] camilamacedo86 commented on #2457
Hi @moluzhui,

It shows that you do have not the permissions to create the events in the default ns.
`'events is forbidden: User "system:serviceaccount:my-operator-system:my-operator-controller-manager" cannot create resource "events" in API group "" in the namespace "default"' (will not retry!)`

See that you customize the scaffold to work with helm and it is related to your customizations.
It is

[2022-01-06 12:24] #2457 closed

[2022-01-06 12:25] camilamacedo86 commented on #2434
It is done.

[2022-01-06 12:25] #2434 closed

[2022-01-06 12:29] camilamacedo86 commented on #2419
It shows that your project has some customizations that is causing the issue with kustomize.
See: https://stackoverflow.com/questions/60298445/kubernetes-kustomize-command-giving-error-when-we-specify-base-manifest-files-in

It does not seem to be related to the KB project itself then, I hope that you do not mind we close this one.
Hoewver, please feel free to ask for help if you need in the kubeb

[2022-01-06 12:29] #2419 closed

[2022-01-06 12:30] hzyfox commented on #2460
@camilamacedo86  LGTM, it will be useful to add it to FAQ. But I don’t know how to describe this problem accurately and concisely

[2022-01-06 12:49] damnever commented on #2466
https://github.com/kubernetes-sigs/controller-tools/issues/652

[2022-01-06 12:49] #2466 closed

[2022-01-07 07:58] kebyn commented on #2141
/reopen

[2022-01-07 23:01] pbxqdown commented on #907
Maybe some detailed documents can at least make it easier for people to delete an generated API manually.

[2022-01-08 05:33] ryanzhang-oss commented on #907
+1

Sent from my T-Mobile 5G Device
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Qian_Xiao ***@***.***>
Sent: Friday, January 7, 2022 3:01:41 PM
To: kubernetes-sigs/kubebuilder ***@***.***>
Cc: Ryan Zhang ***@***.***>; Mention ***@***.***>
Subject: Re: [kubernetes-sigs/kubebuilder] delete api command line (#907)

Maybe some detailed documents can at least

[2022-01-08 17:23] davidebianchi opened #2474 "In envtest setup not available 1.23 k8s version for darwin/amd64"
In os darwin and arch amd64, it is not available the kubebuilder testing tools for kubernetes v1.23 but it is available in linux (branch `tools-releases` seems to be updated correctly).

It is possible to see it running the `setup-envtest list` command for linux and darwin os

[code]

[code]

or checking directly [in storage](https://storage.googleapis.com/kubebuilder-tools).

Maybe, it should be

[2022-01-10 10:49] camilamacedo86 opened #2475 "How to structure a polyglot project?"
Created by @mamachanko as a discussion topic and moved to an issue.

Hi! 👋 We've got a project that has components in written in different languages:
* an operator in Go
* a CRD-managed application in Java
* an init container image in Go

kubebuilder initialises a project with the operator/controller at its center. There's a main.go in the root of the project. In a multi-component project I would

[2022-01-10 10:50] camilamacedo86 commented on #2475
Hi @mamachanko,

I am not sure if I properly understood your questions. However, I hope that sharing with you the following docs can help you understand better its ideas and how it works. Anyway, if your idea would be have a manager for each controller then, that seems to me that you need to have more the one project.

In the main.go the Operator/Manager is initialized. Then, it will manage all co

[2022-01-11 03:08] camilamacedo86 opened #2477 "Stop to use go get in favor of go install"
### What do you want to happen?

See that: `go get: installing executables with 'go get' in module mode is deprecated.`

	To adjust and download dependencies of the current module, use 'go get -d'.
	To install using requirements of the current module, use 'go install'.
	To install ignoring the current module, use 'go install' with a version,
	like 'go install example.com/cmd@latest'.
	For more inf

[2022-01-11 04:02] ankitm123 commented on #2477
I can take a look this month, but as discussed on slack, there's 2 months to fix this ...
/assign

[2022-01-11 04:10] camilamacedo86 commented on #2474
That shows fixed now, see:

[2022-01-11 08:34] davidebianchi commented on #2474
Yes, fixed. Thank you

[2022-01-11 08:34] #2474 closed

[2022-01-11 11:46] mamachanko commented on #2475
Thanks @camilamacedo86 !

Moving the conversation here from the discussion.

I have found a multi-component project; the now archived [Project Riff](https://github.com/projectriff/system). It is, however, not polyglot. But it’s a good starting point to work off of I think.

In the meantime I will take time to look into the links and info you shared. Ty!

[2022-01-11 11:53] camilamacedo86 commented on #2475
Hi @mamachanko,

By looking at  [Project Riff](https://github.com/projectriff/system) it will create 4 Operators/Managers/Pods.
So, why not create one project for each manager according to its domain? Is that because one operator depends on another? Are they really about the same domain? Could not each piece work standalone?

[2022-01-11 17:08] #2448 closed

[2022-01-11 20:32] robbie-demuth commented on #2421
For my own edification, what is this ticket tracking exactly? As far as I can tell, both Kubebuilder itself and projects scaffolded using Kubebuilder now use 1.17 (as of #2446)

[2022-01-12 00:45] ankitm123 commented on #2421
This should be closed.

[2022-01-12 10:11] camilamacedo86 commented on #2421
Doing that now.

[2022-01-12 10:11] #2421 closed

[2022-01-13 12:31] camilamacedo86 commented on #2460
@hzyfox, could you try to contact the controller-tools maintainers and ask a help over how better you can describe this scenario? Maybe @alvaroaleman can give a hand for us here.

[2022-01-13 12:31] camilamacedo86 commented on #2470
Solved,

[2022-01-13 12:31] #2470 closed

[2022-01-13 13:18] rposts commented on #2298
/remove-lifecycle stale

[2022-01-13 17:38] ryantking commented on #2477
I'm currently looking at this one for operator-sdk. So far kustomize has been problematic since it has `exclude` and `replace` directives in its go.mod file, which breaks `go install`. I'm currently looking at just using the kustomize install script instead of `go install`. @ankitm123 let me know if you come to any alternative solutions for this.

[2022-01-13 19:39] camilamacedo86 commented on #2183
/remove-lifecycle rotten

[2022-01-13 19:46] camilamacedo86 commented on #2286
/remove-lifecycle rotten

[2022-01-14 10:35] camilamacedo86 opened #2480 "Install setup-envtest module version which matching with the controller-runtime version instead of latest"
### What do you want to happen?

**Motivation**

The concern/motivation to raise this one is that in Kubebuilder, we are: ([here](https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/Makefile#L113-L116))

[code]

Then, a KB user scaffolds the project today. The scaffold is done with controller-runtime version X.
Afterwards, we are still producing new releases and versions

[2022-01-15 00:51] armsnyder commented on #2299
Thanks for your response @camilamacedo86.

I agree it would be a nice improvement if you could initialize the project with a single group and not need to specify it in every subsequent kubebuilder command.

For my purposes though, I am ok with the current workaround of specifying `--group` on every command, and I do not think I would work on this improvement. I will leave it to someone else to ope

[2022-01-15 00:51] #2299 closed

[2022-01-15 19:49] camilamacedo86 commented on #2231
/remove-lifecycle stale

[2022-01-15 19:49] camilamacedo86 commented on #2324
/remove-lifecycle stale

[2022-01-15 19:49] camilamacedo86 commented on #2123
/remove-lifecycle stale

[2022-01-16 09:27] wwwhaoxu opened #2481 "multi api "no matches for kind "CronJob" in version "batch.tutorial.kubebuilder.io/v2""
### What broke? What's expected?

nil

### Reproducing this issue

apiVersion: batch.tutorial.kubebuilder.io/v2
kind: CronJob
metadata:
  name: cronjob-sample
spec:
  schedule:
    minute: "*/1"
  startingDeadlineSeconds: 60
  concurrencyPolicy: Allow # explicitly specify, but Allow is also default.
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: he

[2022-01-16 11:10] #2481 closed

[2022-01-18 07:31] erikgb commented on #2413
@camilamacedo86 What happened to the 3.3.0 release? Was it a test to see if the problem persists? https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.3.0
https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.2.0

We are really looking forward to the 3.3.0 release. 😊

[2022-01-18 09:21] camilamacedo86 commented on #2413
HI @erikgb,

Yes, we are facing problems with the automation to do the release and we want to be sure that still.
However, we are also looking to do the release of 3.3.0 soon.

[2022-01-18 10:40] camilamacedo86 opened #2484 "Release v3.3.0"
### What do you want to happen?

Following the release notes:

# v3.3.0

**changes since [v3.2.0](https://github.com/kubernetes-sigs/kubebuilder/releases/v3.2.0)**

## ⚠️ Breaking Changes

- upgrade controller-runtime from 0.10.0 to 0.11.0, k8s from 1.22 to 1.23 and controller-gen from v0.0.7 to v0.8.0" (#2471)

## :sparkles: New Features

- Update go version to 1.17 (#2446)
- (kustomize/v1) reduc

[2022-01-18 10:46] camilamacedo86 commented on #2413
It shows that the error faced is:

[2022-01-19 00:54] camilamacedo86 commented on #2484
Docs updated: https://github.com/kubernetes-sigs/kubebuilder/pull/2487
Release branch: https://github.com/kubernetes-sigs/kubebuilder/pull/2483
Done: https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.3.0

[2022-01-19 00:54] #2484 closed

[2022-01-19 14:19] antonincms opened #2488 "Initializing a project does not work with 3.3.0"
### What broke? What's expected?

I don't know if it is a corner-case related to some of my config, or some kind of PEBCAK because it seems so big,
but when I try to initialize a new project it simply fails for me (cf *Reproducing this issue*).

### Reproducing this issue

[code]

### KubeBuilder (CLI) Version

Version: main.version{KubeBuilderVersion:"3.3.0", KubernetesVendor:"1.23.1", GitCommit:

[2022-01-19 16:07] camilamacedo86 commented on #2488
Hi @antonincms,

The problem is the go version. You must use go 1.17 with 3.3.0+
Can you please upgrade the go version installed and check it out?

[2022-01-20 14:02] camilamacedo86 commented on #2488
Hi @antonincms,

That is true, We did not updated : https://book.kubebuilder.io/quick-start.html

<img width="435" alt="Screenshot 2022-01-20 at 14 00 51" src="https://user-images.githubusercontent.com/7708031/150353119-5ed729a3-b687-445c-937d-bff4efc59a53.png">

Could you help us by pushing a PR to fix that?
We also need to cherry-pick it to the branch book-v3.

[2022-01-20 15:42] antonincms commented on #2488
I will, but i'm waiting for support on my CLA agreement :smile:

[2022-01-21 19:34] #2291 closed

[2022-01-23 19:57] #2488 closed

[2022-01-24 13:39] erikgb commented on #2116
This issue is closed, and `kubebuilder:deprecatedversion` works - I use it! But it is missing from the docs. I would expect it to be here: https://book.kubebuilder.io/reference/markers/crd.html. I've tried digging into the doc-generation, but got lost. Maybe @camilamacedo86 knows how the marker-gendocs works here? I am not sure if I should open an issue (and file a PR) here in kubebuilder, or in h

[2022-01-25 14:35] kylehodgetts commented on #1256
We did this, so here's an example if required (by anyone visiting this issue in and beyond 2022)

[code]

[2022-01-25 14:50] vboulineau commented on #2231
Hey @camilamacedo86,

Faced the same issue today when started implementing conversion webhook. I think there's not much to do. The generation of `config/webhook/manifests.yaml` is not necessary as the Webhook settings for conversion is specific and set only in the CRDs through the `config/crd/patches/webhook_in_foo.yaml`.
Also in `config/default/kustomization.yaml`, the `webhookcainjection_patch.y

[2022-01-25 15:31] rmb938 opened #2495 "Kubebuilder with multi-group and same Kind names doesn't generate proper crd/patch and rbac manifests"
### What broke? What's expected?

In a multi-group project when 2 groups have the same CRD name for example

[code]

The crd patches generated in `config/crd/patches` and the rbac generated (for viewer and editor) in `config/rbac` are only for the first group and kind that gets generated. They should be generated for all groups.

### Reproducing this issue

Run the following

[code]

### KubeBuild

[2022-01-26 03:41] swiftslee commented on #2398
/remove-lifecycle stale

[2022-01-26 19:10] adyanth commented on #549
This is the sole documentation available for creating Events. Spent quite a while getting here from https://github.com/kubernetes-sigs/kubebuilder/issues/1659. Linking for better visibility.

[2022-01-27 17:08] jmrodri commented on #2480
/label triage/accepted

[2022-01-29 21:18] #2293 closed

[2022-01-30 10:40] camilamacedo86 opened #2499 "Update/fix EnvTest config doc"
### What broke? What's expected?

See: https://book.kubebuilder.io/reference/envtest.html

- k8s versions are outdated

Then, it also shows to be missing:

- how to run/config the env test to run the tests without the makefile target. E.g via an idea to debug
- how to use the module: https://github.com/kubernetes-sigs/controller-runtime/tree/master/pkg/envtest
- how to use other paths: https://git

[2022-01-30 10:43] camilamacedo86 commented on #2499
@varshaprasad96 if you have time could you please give a hand in this one?
If we updated the docs and add the missing info we also could close the SDK issues such as https://github.com/operator-framework/operator-sdk/issues/5090.

[2022-01-30 10:52] camilamacedo86 commented on #2495
Hi @rmb938,

Could you please provide some additional info?

1) Are the multi-group support enabled in your project? see: https://book.kubebuilder.io/migration/multi-group.html
2) Could you please copy and paste here the PROJECT file content?

See that we have sample projects generated at [testdata/](https://github.com/kubernetes-sigs/kubebuilder/tree/master/testdata) directory and I could not fin

[2022-01-30 13:59] rmb938 commented on #2495
I created a kubebuilder project and push it to a repo for easy reference.

PROJECT file: https://github.com/rmb938/multi-group-test/blob/main/PROJECT as you can see there's 2 groups each with a kind that is named the same.

APIs https://github.com/rmb938/multi-group-test/tree/main/apis

Controllers https://github.com/rmb938/multi-group-test/tree/main/controllers

CRD Patches https://github.com/rmb

[2022-01-30 15:10] camilamacedo86 commented on #2495
Hi @rmb938,

Thank you for the clarifications

That shows that when the multi-group support is enabled we are not using the group in the name of the files and generating them. So we need to:

**Ensure that we will consider the group to do the scaffolds**

Such as, change the boilerplates to use the group, see: https://github.com/kubernetes-sigs/kubebuilder/tree/master/pkg/plugins/common/kustomize/

[2022-01-30 15:11] camilamacedo86 commented on #2206
/remove-lifecycle rotten

[2022-01-30 15:14] camilamacedo86 commented on #2206
We need to create a doc about it in the Kubebuilder docs.
The content of https://github.com/operator-framework/operator-sdk/pull/5178/files can be used as help for it or linked.

[2022-01-30 15:17] camilamacedo86 commented on #2206
Other related issue is: https://github.com/kubernetes-sigs/kubebuilder/issues/2298

[2022-01-30 15:25] rmb938 commented on #2495
Yup I can get that done. I've been working on some internal kubebuilder scaffolds myself so I'm familiar with the modifications. I'll get the changes committed and a PR ready.

[2022-01-30 23:43] afritzler commented on #2389
Running `make test` on the kubebuilder project itself on my Apple M1 (darwin/arm64) results in this:

[code]

Is there any progress on the darwin/arm64 for the kubebuilder-tools? I couldn't find any issue on that. I could of course locally hack it and force envtest to use amd64 instead but that is a rather nasty solution.

[2022-01-31 21:23] #1891 closed

[2022-01-31 23:15] camilamacedo86 commented on #2175
/remove-lifecycle stale

[2022-02-01 10:12] #2495 closed

[2022-02-01 10:51] camilamacedo86 opened #2501 "Move config-gen to a alpha plugin design"
### What do you want to happen?

Check the possibility to move : https://github.com/kubernetes-sigs/kubebuilder/tree/master/pkg/cli/alpha/config-gen to an alpha plugin under https://github.com/kubernetes-sigs/kubebuilder/tree/master/pkg/plugins

### Extra Labels

/kind cleanup

[2022-02-01 11:42] camilamacedo86 commented on #2335
/remove-lifecycle stale

[2022-02-01 11:50] camilamacedo86 opened #2502 "Bump k8s 1.23.3 to get bug fixes"
### What do you want to happen?

Bump k8s 1.23.3 to get bug fixes

### Extra Labels

_No response_

[2022-02-01 12:04] camilamacedo86 opened #2503 "Update kustomize from v3.8.7 to v4.4.1 and use replacements instead of vars"
### What do you want to happen?

Address the changes made in: https://github.com/kubernetes-sigs/kubebuilder/pull/2498/
Make clear that go/v4 only supports Kubectl >= 1.22.0
Make go/v4 as the default plugin
Deprecate go/v2 plugin

### Extra Labels

_No response_

[2022-02-01 12:11] camilamacedo86 opened #2504 "e2e tests should fail if default skeleton began to be incompatible with the k8s versions used"
### What do you want to happen?

The changes in the PR https://github.com/kubernetes-sigs/kubebuilder/pull/2498 make the default skeleton began to be incompatible with the k8s versions used to do the tests but the tests do not fail as should be.

The goal of this task is to improve the e2e test to ensure that we will not introduce breaking changes like this one. See: https://github.com/kubernetes-

[2022-02-03 06:54] Huang-Wei opened #2505 "build kubebuilder-tools for darwin/arm64"
### What do you want to happen?

More and more developers are starting to use M1 MacBook for daily development, is it possible to build kubebuilder-tools for darwin/arm64? Currently it's not available: https://storage.googleapis.com/kubebuilder-tools

### Extra Labels

_No response_

[2022-02-04 10:42] bprashanth commented on #2477
go 1.18 already requires this: https://go.dev/doc/go-get-install-deprecation

At the very least, the go-get-tool in the autogen Makefiles should be replaced with go install: https://github.com/kubernetes-sigs/kubebuilder/blob/acdede50a58a1b9ac7fa66fc335bc810fe9ef6f6/pkg/plugins/golang/v3/scaffolds/internal/templates/makefile.go#L179

[2022-02-07 08:25] TIEDPAG commented on #2460
I have the same problem but I don't see `crd:generateEmbeddedObjectMeta ` option

[2022-02-07 08:49] TIEDPAG commented on #2460
Tried it, this parameter is available in controller-gen 0.6.2

[2022-02-09 17:36] rayterrill opened #2508 "Is the Using Finalizers doc up-to-date?"
### What broke? What's expected?

Attempted to follow the documentation to configure a finalizer for my controller:
[code]

This was resulting in the following:
[code]

I flipped this to the following (looking at the controller-runtime docs here: https://github.com/kubernetes-sigs/controller-runtime/blob/f236f0345ad2933912ebf34bfcf0f93620769654/example_test.go#L123):
[code]

This works fine.

###

[2022-02-10 17:24] camilamacedo86 commented on #2502
We need also to bump controller-runtime before.
Then, bump the new c+r version on kb and the k8s version used in the Kubebuilder scaffolds.

c/c @varshaprasad96

[2022-02-10 19:37] camilamacedo86 commented on #2508
Hi @rayterrill,

It shows that when you face the error you declare a nil var versus the fix that is an empty instance.

Sorry, but I do not see how it can be related to the project itself or how can we improve the docs in this case.
I hope that you do not mind we close this one. However, please feel free to raise new questions or report new issues.

[2022-02-11 11:57] #1800 closed

[2022-02-11 17:00] camilamacedo86 opened #2509 "[ci]- Add e2e test against 1.23 k8s version"
### What do you want to happen?

See that we test the changes against specific k8s versions clusters:

<img width="1040" alt="Screenshot 2022-02-11 at 13 59 28" src="https://user-images.githubusercontent.com/7708031/153635104-9928df04-5723-4f19-8777-8d1087fe4ed3.png">

This task is for us to add the checks against 1.23

### Extra Labels

_No response_

[2022-02-11 17:01] camilamacedo86 commented on #2509
HI @ryantking would you like to check this one out?
WDYT?

[2022-02-13 11:46] camilamacedo86 opened #2510 "[DX/tests] - Update doc tutorials programatically for any PR change"
### What do you want to happen?

### Description

Currently, we have the following samples which are used in the docs:

- Component Config: https://github.com/kubernetes-sigs/kubebuilder/tree/master/docs/book/src/component-config-tutorial/testdata
- CronJob Tutorial: https://github.com/kubernetes-sigs/kubebuilder/tree/master/docs/book/src/cronjob-tutorial/testdata
- Multiversion-tutorial: https://

[2022-02-13 12:37] camilamacedo86 commented on #782
The proposed solution to address this need is detailed in: https://github.com/kubernetes-sigs/kubebuilder/issues/2510 now.

[2022-02-13 12:37] #782 closed

[2022-02-15 08:55] ashishraman96 commented on #1672
@akirillov in case of webhook name change, how do we automatically substitute your.webhook.name?

[2022-02-15 23:59] kevdowney opened #2512 "BUG: failed to initialize project: unable to scaffold with "base.go.kubebuilder.io/v3": exit status 2"
### What broke? What's expected?

Starting a project with kubebuilder v3.3.0 fails with scaffolding error.

[code]

Go 1.16
[code]

[code]

[code]

### Reproducing this issue

- Download latest (v3.3.0) [kubebuilder](https://book.kubebuilder.io/quick-start.html#installation)
- Follow quick [install guide setup](https://book.kubebuilder.io/quick-start.html#create-a-project)

### KubeBuilder (CLI) V

[2022-02-16 04:03] acechef commented on #2499
i cannot find binary for darwin/arm64 @camilamacedo86

[2022-02-16 22:35] iamrajiv commented on #2183
Hi, @camilamacedo86  @varshaprasad96 I want to work on this issue in GSoC 2022. Also, wanted to know is there a document or proposal available on this issue that gives me more context about the issue.

[2022-02-16 22:46] iamrajiv commented on #2183
Hi, @camilamacedo86 @varshaprasad96 I want to work on this issue in GSoC 2022. Also, wanted to know is there a document or proposal available on this issue that gives me more context about the issue.

[2022-02-16 22:47] iamrajiv commented on #2183
Hi, @camilamacedo86 @varshaprasad96 I want to work on this issue in GSoC 2022. Also, wanted to know is there a document or proposal available on this issue that gives me more context.

[2022-02-17 10:38] wmuizelaar opened #2514 "Add Server Side Apply documentation to the book"
### What do you want to happen?

Hi,

On the blogpost about Server Side Apply becoming GA, it references that when it's ready, the kubebuilder-book will be updated with examples. See https://kubernetes.io/blog/2021/08/06/server-side-apply-ga/#using-server-side-apply-in-a-controller

Is there an issue in this or in one of the related repositories that I could follow? I'm now trying to use it, and w

[2022-02-17 20:44] varshaprasad96 commented on #2183
Hi @iamrajiv. That's great! We have added this to the GSoC list of projects. The following links may help you give an idea on various projects which we will digging into to accomplish having Grafana dashboard as a plugin to expose metrics:
1. Controller Runtime: https://github.com/kubernetes-sigs/controller-runtime
2. How to expose metrics from Prometheus to Grafana dashboard: https://prometheus.i

[2022-02-18 07:58] easternK commented on #2512
kubebuilder version is too high，golang version v1.16+ (kubebuilder v3.1 < v3.3).

[2022-02-18 18:45] kevdowney commented on #2512
It works today w/ `go1.17.7 darwin/amd64`

[code]

I did try this using go1.17 the other day it failed w/ the same error but I noticed today that it used `sigs.k8s.io/controller-runtime@v0.10.0` and before it was using `sigs.k8s.io/controller-runtime@v0.11.0`.

This specific error appears to be solely related to the `sigs.k8s.io/controller-runtime@v0.11.0`

Old Error:
[code]

[2022-02-20 07:49] dntosas commented on #2505
Hey team! cc @camilamacedo86 @Huang-Wei

Pushed a PR to init the mitigation of this, you can check in here --> https://github.com/kubernetes-sigs/kubebuilder/pull/2516

[2022-02-21 09:14] qyk1995 opened #2517 "Failed to download version 3.2.0"
I  use command： curl -L -o kubebuilder https://go.kubebuilder.io/dl/v3.2/$(go env GOOS)/$(go env GOARCH)，But the download is an HTML file. The page address is  https://go.kubebuilder.io/releases/3.2.0/linux/amd64,But unable to download kubebuilder file.
please help me

[2022-02-21 15:59] vnzongzna commented on #2335
@MarcosNBJ are you still working on this? I can send a patch quickly if you are not

[2022-02-22 12:53] camilamacedo86 commented on #2517
Hi @qyk1995,

You can check all assets for all versions, as download them by looking at https://github.com/kubernetes-sigs/kubebuilder/releases:

<img width="683" alt="Screenshot 2022-02-22 at 09 51 15" src="https://user-images.githubusercontent.com/7708031/155135956-b464434c-ebd1-408c-8873-b43da3db8f5a.png">

However, in your case see that you are also using v3.2 instead of v3.2.0. You can check

[2022-02-22 12:53] #2517 closed

[2022-02-22 13:00] camilamacedo86 commented on #2514
If I properly understood it, shows that we could create a plugin to work with. See: https://book.kubebuilder.io/plugins/plugins.html

Let's see what others also think about.

[2022-02-22 13:17] camilamacedo86 commented on #2512
Hi @kevdowney,

Each KB CLI version scaffolds the deps which are compatible with:

<img width="907" alt="Screenshot 2022-02-22 at 10 11 08" src="https://user-images.githubusercontent.com/7708031/155139151-dc4397dd-1508-4dbe-b3a6-cdaf76c52e6b.png">

We cannot ensure all possible combinations since breaking changes on them can be faced and we recommend you use always the versions scaffolds by defaul

[2022-02-22 13:17] #2512 closed

[2022-02-23 07:20] MarcosNBJ commented on #2335
@vnzongzna Sorry friend, go ahead. I started but ended up getting lost in other things.

[2022-02-23 12:45] nikfot opened #2518 "Kubebuilder inits in go1.16 and pkgs miss methods later on"
### What broke? What's expected?

I am followin the basic tutorial documentation, just instead of creating a CronJob I try it out with a deployment. It initiates the env with go1.16 in `go.mod`.

Later on, when running `kubebuilder create api --group apps --version v1 --kind Deployment` I get errors saying Deployment struct is missing DeepCopy method.

When changing the version in `go.mod` and run

[2022-02-23 13:10] camilamacedo86 commented on #2518
Hi @nikfot,

You are using Kubebuilder v3.0.0 right? So, the go version supported for it is 1.15 : https://github.com/kubernetes-sigs/kubebuilder/blob/v3.0.0/go.mod#L3

Please, see the comment:  https://github.com/kubernetes-sigs/kubebuilder/issues/2512#issuecomment-1047787916

Also, could you please check if your issue scenario can be reproduced with the latest KB release and go 1.17+?

[2022-02-23 13:12] #2505 closed

[2022-02-23 13:15] camilamacedo86 opened #2519 "Upgrade kube-rbac-proxy version used"
### What do you want to happen?

Kubebuilder uses : https://github.com/brancz/kube-rbac-proxy/releases
We need to build the image and add that in the gcloud and as a follow up upgrade the scaffolds.

### Extra Labels

_No response_

[2022-02-23 13:17] camilamacedo86 commented on #2264
@rashmigottipati @varshaprasad96 @ryantking could someone get this one?

[2022-02-23 13:23] camilamacedo86 opened #2520 "Doc: add info about markers"
### What do you want to happen?

This task is for we add the clarification made in https://kubernetes.slack.com/archives/CAR30FCJZ/p1645546692768789 about what is the diff between  `// +optional` and `// +kubebuilder:validation:Optional` to the docs. Also, see: https://kubernetes.slack.com/archives/CAR30FCJZ/p1561671375059100?thread_ts=1561635781.050000&cid=CAR30FCJZ

It might fit well as a note i

[2022-02-23 13:45] camilamacedo86 commented on #2413
Hi @estroz,

Do you think that you will be able to help with this one?

[2022-02-23 14:31] #2518 closed

[2022-02-24 03:05] acechef opened #2521 "can webhook ValidateCreate func get client.Client?"
### What broke? What's expected?

can webhook ValidateCreate func get client.Client?

### Reproducing this issue

_No response_

### KubeBuilder (CLI) Version

Version: main.version{KubeBuilderVersion:"3.3.0", KubernetesVendor:"unknown", GitCommit:"47859bf2ebf96a64db69a2f7074ffdec7f15c1ec", BuildDate:"2022-01-17T18:05:10Z", GoOs:"darwin", GoArch:"arm64"}

### PROJECT version

_No response_

### Pl

[2022-02-24 07:44] AlmogBaku commented on #2388
@k8s-ci-robot /remove-lifecycle stale

[2022-02-24 17:24] jmrodri commented on #932
/cc @jmrodri

[2022-02-24 17:38] jmrodri commented on #2510
This proposal makes sense to me. Anything that will improve keeping the samples updated is great.

[2022-02-24 17:48] rashmigottipati commented on #2514
Based on the discussion in triage, we need to update the documentation on Kubebuilder for cronjob tutorial on using server side apply. We need to look into other places we have to update documentation in Kubebuilder to reflect server side apply, updates/patches.

If we update the documentation, we should clarify the caveats as well - that users should not be trying to use server side apply with st

[2022-02-24 17:51] rashmigottipati commented on #2519
/assign @camilamacedo86

[2022-02-24 17:53] rashmigottipati commented on #2520
@sayantani11 Just adding a note to [markers](https://book.kubebuilder.io/reference/markers.html) should suffice.

[2022-02-24 17:55] rashmigottipati commented on #2521
/assign @rashmigottipati

[2022-02-24 20:56] wmuizelaar commented on #2514
I'm willing to help out writing updated documentation on this, but some guidance on what would be a good place / structure would be much appreciated. I.e. - should it replace the current documentation, should it be added as a new chapter, do we want to wait for https://github.com/kubernetes-sigs/controller-runtime/pull/1365 to land, etc. I'm still very fresh on kubebuilder and everything related,

[2022-02-24 23:28] camilamacedo86 commented on #2514
Hi @wmuizelaar,

The thoughts raised at the meeting today was:
- Server Side Apply to make things easier so we could change the tutorial to use it by default
- Then, we could add its caveats
- By last when it is not recommended
- and how to do without Server-Side Apply

About: https://github.com/kubernetes-sigs/controller-runtime/pull/1365 why it should be a blocker for us?
Do you see any reason?

[2022-02-24 23:37] shuheiktgw commented on #2510
Hi @camilamacedo86, can I work on this issue as my first contribution to kubebuilder project? 🙏

[2022-02-24 23:43] camilamacedo86 commented on #2510
Sure, I'd recommend we begin by trying. to check this approach with the [Component Config](https://github.com/kubernetes-sigs/kubebuilder/tree/master/docs/book/src/component-config-tutorial/testdata) because this one is a small project in the book which is small.

[2022-02-25 04:26] christian1607 commented on #2116
Yep, the marker for deprecatedversion works, you could also specify the message warning:

`//+kubebuilder:deprecatedversion:warning="example.com/v1alpha1 CronTab is deprecated"
`

[2022-02-25 08:04] wmuizelaar commented on #2514
Hi @camilamacedo86 ,

Thanks for your reply! About https://github.com/kubernetes-sigs/controller-runtime/pull/1365 the following: as I understood, with Server-Side Apply you cannot use the standard API types anymore. There are 2 ways to actually submit resources:
- using `unstructured.Unstructured` objects (which could be generated from go:embed yaml-templates), with the downside of not being able

[2022-03-01 00:21] shuheiktgw commented on #2510
/assign

[2022-03-01 12:42] guiguan commented on #2248
I am on M1 as well. I have changed the following lines in `Makefile` to make it work

[code]

[2022-03-02 08:11] avizov commented on #2505
when do you plan to release a new version which includes this fix?

[2022-03-02 08:31] #2252 closed

[2022-03-02 23:39] #2175 closed

[2022-03-04 22:57] zhaohanweng opened #2524 "CRDs have spec field with Unstructured type breaks the operator"
### What broke? What's expected?

Generated the scaffolding project `guestbook`, added a new field `resources` in the spec with `unstructured.Unstructured` type breaks the operator.

after applying the new CR yamls, the operator log shows
[code]

What's expected?
The operator should reconcile the CRD with the resources field correctly.

Additional info:
This code works when using kubebuilder v2, b

[2022-03-05 11:48] bestgopher opened #2527 "`kubebuilder create api` failed"
### Discussed in https://github.com/kubernetes-sigs/kubebuilder/discussions/2526

<div type='discussions-op-text'>

<sup>Originally posted by **bestgopher** March  5, 2022</sup>
I am new to kubebuilder. When I follow the book add a new api by `kubebuilder create api` command, an error raised.
<img width="949" alt="image" src="https://user-images.githubusercontent.com/36840497/156880662-df97fcdf-0a

[2022-03-08 22:29] camilamacedo86 commented on #2527
Could you please let us know what is the KB version and the go version used by you?

[2022-03-08 22:36] camilamacedo86 opened #2530 "KB is not failing for go versions not supported"
### What broke? What's expected?

Currently, the go version supported is 1.17.x. See that we check the versions supported but we have not been updating it:
- https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/golang/go_version_test.go#L128-L198
- https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/golang/go_version.go

We have been facing many issues because

[2022-03-08 22:36] camilamacedo86 commented on #2527
See: https://github.com/kubernetes-sigs/kubebuilder/issues/2530

[2022-03-08 23:34] bestgopher commented on #2527
@camilamacedo86
➜  ~ go version
go version go1.17.6 darwin/amd64
➜  ~ kubebuilder version
Version: main.version{KubeBuilderVersion:"3.3.0", KubernetesVendor:"1.23.1", GitCommit:"47859bf2ebf96a64db69a2f7074ffdec7f15c1ec", BuildDate:"2022-01-18T17:03:29Z", GoOs:"darwin", GoArch:"amd64"}

[2022-03-08 23:52] camilamacedo86 opened #2531 "For go/v4, remove the option to create v1beta1 CRD and Webhooks"
### What do you want to happen?

For go/v4, remove the option to create v1beta1 CRD and Webhooks.
These APIs are no longer supported since k8s 1.22 and with versions upper than controller-gen v0.6.2 and controller-runtime v0.9.2. As a workaround to allow users to move forward and not break the backwards compatibility we have been trying to downgrade the versions, see: https://github.com/kubernetes

[2022-03-09 00:09] camilamacedo86 commented on #2527
Following some questions:

1. Are you trying to use the latest release with a previous scaffold?
2. Could you please copy and paste here the PROJECT file of your project?
3. Did you make any change in the default scaffold such as versions used?
4. Can you run `make controller-gen` and let us know what happens?
5. Did you change the. Makefile or is it identical to : https://github.com/kubernetes-si

[2022-03-09 00:31] bestgopher commented on #2527
Hi, thanks for your help. I think I found the cause of my bug. The golang version of my goland configuration is 1.18,  this version changed the behavior of go get and no longer builds or installs packages in module-aware mode.

[2022-03-09 03:25] haoxins opened #2532 "Upgrade ginkgo to v2 for go/v4 plugin"
### What do you want to happen?

I just submitted a PR for upgrading ginkgo to `v2`, see https://github.com/kubernetes-sigs/kubebuilder/pull/2522
After some discussions we found it's a broken change for `go/v3`.
So I created this issue for tracking the upgrade and intend to be added to [v4 milestone](https://github.com/kubernetes-sigs/kubebuilder/milestone/26).

### Extra Labels

_No response_

[2022-03-09 13:30] camilamacedo86 commented on #2532
We checked in the review that changes in the scaffolds are required and that the previous code will not work with ginkgo v2 so it is a breaking change and then we cannot move forward in go/v3. We will need a go/v4 plugin to add this one.

See that the scaffolds require to be changed with the following migrations.

https://onsi.github.io/ginkgo/MIGRATING_TO_V2#generating-custom-reports-when-a-test-

[2022-03-09 17:19] sunny-b commented on #2509
@camilamacedo86 I'd be happy to take this on.

[2022-03-09 17:22] camilamacedo86 commented on #2530
E.g: https://github.com/kubernetes-sigs/kubebuilder/issues/2527#issuecomment-1062429396

[2022-03-09 17:23] camilamacedo86 commented on #2527
Hi @bestgopher,

Thank you for letting us know.
I am closing this one but see that I tracked https://github.com/kubernetes-sigs/kubebuilder/issues/2530 for we working on to avoid this scenario.

[2022-03-09 17:23] #2527 closed

[2022-03-10 14:34] sunny-b commented on #2509
@camilamacedo86 Just to clarify, in order to add the 1-23 e2e test, we need to add it to the `test-infra` repo in [this file](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml#L22-L51)? And update the `KIND_K8S_VERSION` to 1.23.1?

[2022-03-10 15:53] camilamacedo86 commented on #2509
Hi @sunny-b,

That is the file/repo. I think we can check what is the latest 1.23 version available and use it. I think that would be 1.23.3.

[2022-03-10 16:04] sunny-b commented on #2509
Looks like it's [1.23.4](https://kubernetes.io/releases/). I'll use that.

[2022-03-10 17:19] camilamacedo86 commented on #2524
c/c @jmrodri

[2022-03-10 17:20] jmrodri commented on #2524
/assign @jmrodri

[2022-03-10 21:41] sunny-b commented on #2509
@camilamacedo86 FYI I have an open PR with test-infra: https://github.com/kubernetes/test-infra/pull/25594

[2022-03-11 13:38] Abhra303 commented on #2530
We have to modify only the `v3/into.go` file right? The `v2/init.go` doesn't need modification if I am not wrong.

[2022-03-12 09:32] #2209 closed

[2022-03-13 03:36] sunny-b commented on #2324
@camilamacedo86 Is this still needed? It looks like there is already a [v3 sample project that has the declarative pattern](https://github.com/kubernetes-sigs/kubebuilder/blob/master/test/testdata/generate.sh#L131)

[2022-03-14 09:11] mariuskimmina opened #2539 "Suggesting a small improvement to docs quickstart section"
### What do you want to happen?

I started reading the kubebuilder book and noticed that this paragraph on the `quickstart` section could be improved

[code]

1. I'm wondering why it's (CR)Custom Resource instead of Custom Ressource (CR), same for CRD
2. CR and CRD have already been mentioned further up in this document without an explanation, I believe that abreviations should be explained on fir

[2022-03-14 11:10] NikhilSharmaWe commented on #2531
/assign

[2022-03-14 13:15] camilamacedo86 commented on #2530
/sign @Ankit152

[2022-03-14 13:16] camilamacedo86 commented on #2530
/assign @Ankit152

[2022-03-14 13:17] camilamacedo86 commented on #2530
This issue has a PR already: https://github.com/kubernetes-sigs/kubebuilder/pull/2537

[2022-03-14 13:19] camilamacedo86 commented on #2324
It is done: https://github.com/kubernetes-sigs/kubebuilder/tree/master/testdata/project-v3-addon

Thank you 👍

[2022-03-14 13:19] #2324 closed

[2022-03-14 13:21] Ankit152 commented on #2530
/assign

[2022-03-14 13:25] camilamacedo86 commented on #2335
I am removing the assign so.

[2022-03-14 13:27] camilamacedo86 commented on #2398
Hi @swiftslee,

Have you any position about this one?
Are you working on this/ If not could you please remove the assign for another person be able to contribute with?

[2022-03-14 19:50] Kavinjsir commented on #2501
Hey @camilamacedo86 I'd like to take on this. Would you provide me a reivew or some context for the issue so that I can follow up? Thx!

[2022-03-14 19:51] Twistedredhead commented on #1931
https://www.facebook.com/profile.php?id=100008571769043....what is this

[2022-03-15 03:10] LeoLiuYan commented on #2183
@iamrajiv  @varshaprasad96
That's great. It will be very helpful to us.

[2022-03-15 12:14] #2539 closed

[2022-03-15 15:43] camilamacedo86 opened #2542 "Doc available plugins provided by Kubebuilder"
### What do you want to happen?

We have the Plugins section on the docs https://book.kubebuilder.io/plugins/plugins.html but it only covers how the architecture works. Therefore, the idea of this issue would be we ensure that we have a section and a doc for each plugin which is provided by the tool which would cover such as:

- What is the purpose of the plugin? When/why it should be used
- What

[2022-03-15 20:33] camilamacedo86 commented on #2509
Done:
<img width="937" alt="Screenshot 2022-03-15 at 20 32 24" src="https://user-images.githubusercontent.com/7708031/158467240-ecf0c6e9-6d5d-468b-bf20-d2a295872dd1.png">

[2022-03-15 20:33] #2509 closed

[2022-03-15 23:55] #2477 closed

[2022-03-16 08:30] Nivedita-coder commented on #2398
Hi @camilamacedo86 @swiftslee, is this issue open can I work on this? :slightly_smiling_face:

[2022-03-16 12:16] AshwinRamachandran2002 commented on #2398
Hi, I found this issue interesting. @Nivedita-coder could I work along with you on this PR?

[2022-03-16 14:46] arianvp commented on #2514
Would be nice if `controller-gen` could be updated to automatically generate the `applyconfiguration` code!

[2022-03-16 17:01] NikhilSharmaWe commented on #2531
@camilamacedo86 Could you please respond to my [previous](https://github.com/kubernetes-sigs/kubebuilder/issues/2531#issuecomment-1066653961) comment.

[2022-03-17 05:08] rbrownwsws opened #2543 ""kubebuilder create api" does not work with Go 1.18"
### What broke? What's expected?

I have just tried to create a new kubebuilder project using Go 1.18

Calling `kubebuilder create api` in a new kubebuilder project fails with an error because "controller-gen" cannot be found.

<details>

<summary>"kubebuilder create api" output</summary>

[code]

</details>

This seems to be related to the [deprecation of 'go get' for installing executables](http

[2022-03-17 15:41] camilamacedo86 commented on #2543
https://github.com/kubernetes-sigs/kubebuilder/issues/2543

Go 1.18 is not supported.
It would be able to work with 1.18 when we began to support it.
See: https://github.com/kubernetes-sigs/kubebuilder/issues/2530

[2022-03-17 19:44] rbrownwsws commented on #2543
Ah, I from a quick skim of #2530 I had assumed that Go versions >=1.17 were meant to be supported and I didn't notice #2527 because I was only looking through open issues.

I've only done a little bit of work on my project so far but nothing seems obviously broken after my change to the Makefile. I'm going to see if I can get away with using Go 1.18 for now instead of downgrading to 1.17.x.

I wil

[2022-03-17 20:09] camilamacedo86 commented on #2543
If you use the master branch it probably will work see: https://github.com/kubernetes-sigs/kubebuilder/pull/2486

[2022-03-17 23:26] shuheiktgw commented on #2510
Sorry that I could not find time to work on this for the past few weeks, but I've finally started working on it 🙇

[2022-03-18 01:59] camilamacedo86 commented on #2510
That is fine. No worry.

[2022-03-18 07:56] NikhilSharmaWe commented on #2531
@camilamacedo86 Could you please respond to my https://github.com/kubernetes-sigs/kubebuilder/issues/2531#issuecomment-1066653961 comment.

[2022-03-18 15:49] camilamacedo86 opened #2547 "Create go/v4 plugin with alpha1 level to address changes which are breaking ones for go/v3"
### What do you want to happen?

The goal of this task is to:
- Create go/v4 plugin with alpha1 level to address changes which are breaking ones for go/v3

Also, you can check the policy: https://github.com/kubernetes-sigs/kubebuilder/blob/master/VERSIONING.md#introducing-changes-to-plugins.

**What is required to:**

- Make a copy of https://github.com/kubernetes-sigs/kubebuilder/tree/master/pkg/

[2022-03-18 15:50] camilamacedo86 commented on #2531
Hi @NikhilSharmaWe,

All issues under the milestone  https://github.com/kubernetes-sigs/kubebuilder/milestone/26 are breaking changes and can only get done when we do a go/v4 plugin.

So, if we want to do that we need to:
- Make a copy of https://github.com/kubernetes-sigs/kubebuilder/tree/master/pkg/plugins/golang/v3 to https://github.com/kubernetes-sigs/kubebuilder/tree/master/pkg/plugins/golang

[2022-03-18 18:06] Ankit152 commented on #2547
Hey @camilamacedo86 🙂
I would like to work on this issue. Can you assign me this one?

[2022-03-18 18:18] camilamacedo86 commented on #2547
that is great 👍

/assign @Ankit152

^ done

[2022-03-18 18:26] Ankit152 commented on #2547
Thank you very much 🙂

[2022-03-20 04:00] Ankit152 commented on #2547
Hey @NikhilSharmaWe 🙂
Thank you for your interest on this but this issue is assigned to me.

[2022-03-20 04:07] NikhilSharmaWe commented on #2547
@Ankit152 Actually I was interested in working on https://github.com/kubernetes-sigs/kubebuilder/issues/2531 but we should add new go/v4 plugin before working on that.

You should join this thread https://kubernetes.slack.com/archives/CAR30FCJZ/p1647679086601079 and we can distribute our work.

[2022-03-20 04:09] Ankit152 commented on #2547
@NikhilSharmaWe I totally understand but before moving forward with my assigned issue you could have asked me regarding this.

[2022-03-20 04:15] NikhilSharmaWe commented on #2547
@Ankit152 I think this is not an appropriate place for having a conversation like this (I assume you will understand).

[2022-03-20 07:14] NikhilSharmaWe commented on #2502
@camilamacedo86
- I am understanding about bumping `sigs.k8s.io/controller-runtime` version, but what do you mean by

Because k8s alone is not a package in `go.mod`. Could you please elaborate.

[2022-03-20 09:40] Ankit152 commented on #2547
Hey @camilamacedo86 🙂
I think this issue should be assigned to @NikhilSharmaWe as he has done quite a lot of progress with his PR.

[2022-03-20 10:31] camilamacedo86 commented on #2547
/assign @NikhilSharmaWe

[2022-03-21 02:42] ka-keung opened #2554 "kubebuilder Failed to create CronJob V2 conversion webhook: webhook resource already exists"
### What broke? What's expected?

!!! same as https://github.com/kubernetes-sigs/controller-tools/issues/659#issue-1173359586 move to here !!!

i had followed the book [kubebuilder](https://kubebuilder.io/) step by step deploy the v1 cronjob crd and webhook. it was successful.

but the follow chapter  [Multi-Version API](https://kubebuilder.io/multiversion-tutorial/tutorial.html#tutorial-multi-ver

[2022-03-21 02:43] ka-keung opened #2555 "You cannot scaffold twice, see the error `Error: failed to create webhook: unable to inject the resource to "base.go.kubebuilder.io/v3": **webhook resource already exists**`"
You cannot scaffold twice, see the error `Error: failed to create webhook: unable to inject the resource to "base.go.kubebuilder.io/v3": **webhook resource already exists**`
However, it might be a bug: (I cannot find the `--conversion` one)

[code]

I am closing this one since this repo is for the issues faced with controller-gen/controller-tools.
Could you please open this issue against the KB pr

[2022-03-21 02:44] #2554 closed

[2022-03-21 02:50] ka-keung commented on #2555
@camilamacedo86  yet, i know i cannot scaffold twice,but it was a conversion webhook. follow the book , i should scaffold conversion webhook for v2. isn't it ? otherwise . the v2 directory haven't `cronjob_webhook.go` and no paragraph webhooks on PROJECT file

[2022-03-21 03:18] ka-keung opened #2556 "metadata.annotations: Too long: must have at most 262144 bytes"
### What broke? What's expected?

clone this project on the machine, an go to dir docs/book/src/multiversion-tutorial/testdata/project . `make install deploy`; then this error appear
[code]

### Reproducing this issue

_No response_

### KubeBuilder (CLI) Version

3.3.0

### PROJECT version

3

### Plugin versions

_No response_

### Other versions

k8s:   v1.21.9
go:    1.16.2
kustomize: v4.5.2
c

[2022-03-21 07:53] pjbgf commented on #2394
/remove-lifecycle stale

[2022-03-21 09:41] camilamacedo86 commented on #2542
We are open to ideas and proposals for these docs.

IHMO we need to ensure that:

a) (Under the plugin section) we would have a subsection such as "Available Plugins" where: we will clarify that this section describes all plugins which are shipped with the KB project and that those are officially supported by KB. (these ones that you highlighted). However, any person can create their own plugins t

[2022-03-21 09:43] camilamacedo86 commented on #2556
hI @ka-keung,

It shows that you added an metadata.annotations which is bigger than the value supported by K8s API. Not sure how it could be solved via these project KB (which is a CLI to scaffolds the project ) or controller-gen (which will help scaffolds the manifest).

[2022-03-21 09:43] camilamacedo86 commented on #2394
/remove-lifecycle stale

[2022-03-21 09:48] ka-keung commented on #2556
i had't do nothing but clone this repository and go to the dir `docs/book/src/multiversion-tutorial/testdata/project`  run  `make install deploy`

[2022-03-21 09:48] ka-keung commented on #2556
@camilamacedo86  i had't do nothing but clone this repository and go to the dir docs/book/src/multiversion-tutorial/testdata/project run make install deploy

[2022-03-21 09:57] camilamacedo86 commented on #2556
Could you please test with go: 1.17+ < 1.18 just for we ensure that is not related?
Also, the kustomize: v4.5.2 is not the version scaffold on it (https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/Makefile#L116) and from v3 to v4 it has breaking changes

See:
- https://book.kubebuilder.io/quick-start.html#versions-and-supportability

[2022-03-21 10:01] camilamacedo86 commented on #2555
Hi @ka-keung,

It is required to check here (imo):
- The docs, we need to verify if in the tutorial we are scaffolding defaulting,  validation and conversion (I do not think so)
- In the plugin, should we allow have webhooks with all options for the same API? Would that actually work? What happens if we have many webhooks for the same API?

also, anyway, we might find a hall for improvements in it

[2022-03-21 10:07] Ashwin901 commented on #2542
Thanks for the clarification.
/assign

[2022-03-21 10:17] camilamacedo86 commented on #2502
Here we need to:
- Bump all k8s deps first in controller-runtime: https://github.com/kubernetes-sigs/controller-runtime/blob/master/go.mod#L19-L23 (I think now can be 0.23.4)
- Then, align with them to get a new release (we can ask in the channels for help)
- Bump controller runtime in Kubebulder project + all related deps here to match with the same k8s ones used.
e.g.; https://github.com/kuberne

[2022-03-21 10:25] camilamacedo86 opened #2557 "Define and doc an standard for the PR titles to make clear specific plugins changes"
### What do you want to happen?

IMO: We need to discuss in the community meeting what standard we would like to have to make clear in the release notes that the changes made are valid only for some specific plugin (to be easier for users to have this information by looking at the release notes). Then, we need to doc it out in: https://github.com/kubernetes-sigs/kubebuilder/blob/master/CONTRIBUTIN

[2022-03-21 11:03] mariuskimmina commented on #2542
Hey,

I have also been interessted in this, maybe we can split the work and collaborate on this?

In general I think It might make sense to create and seperate Issue for each plugin that should be documented so that the details can be discussed and a PR for each plugin documentation can be linked to an exact issue? - Writing the documentation for all plugins seems a bit overwhelming to me, as a si

[2022-03-21 11:10] mariuskimmina commented on #2557
May I suggest the 🔌 `:electric_plug:` Icon? Seems fitting 😄

[2022-03-21 12:27] camilamacedo86 commented on #2557
The icons are used to define bug fixes, breaking changes and etc:

Every PR should be annotated with an icon indicating whether it's
a:

- Breaking change: :warning: (`:warning:`)
- Non-breaking feature: :sparkles: (`:sparkles:`)
- Patch fix: :bug: (`:bug:`)
- Docs: :book: (`:book:`)
- Infra/Tests/Other: :seedling: (`:seedling:`)
- No release note: :ghost: (`:ghost:`)

Not sure how the  🔌 :electri

[2022-03-21 12:38] camilamacedo86 commented on #2501
See that we have a PR that was not finished but init this work: https://github.com/kubernetes-sigs/kubebuilder/pull/2099. You might want to check it to continue this work. It was close to being finished I think.

[2022-03-21 17:11] camilamacedo86 commented on #2557
Teh goal is to define a standard for the releases notes which are Breaking changes, Patch fix, etc but that does affect the specific plugin and not all. See the examples in the release notes with (go/v2 or go/v3) for example:  https://github.com/kubernetes-sigs/kubebuilder/releases

[2022-03-22 00:26] vincent-pli opened #2558 "Do we consider to release version for arm64 of darwin"
### What do you want to happen?

I get a `kubebuild` binary with the content "Not Found" when I try to get `kubebuilder` with command:
`curl -L -o kubebuilder https://go.kubebuilder.io/dl/latest/$(go env GOOS)/$(go env GOARCH)`

### Extra Labels

_No response_

[2022-03-22 04:30] NikhilSharmaWe commented on #2502
/assign

[2022-03-22 04:35] NikhilSharmaWe commented on #2502
@camilamacedo86 Update k8s dependencies in kubernetes-sigs/controller-runtime. https://github.com/kubernetes-sigs/controller-runtime/pull/1843

[2022-03-22 04:41] Kavinjsir commented on #2501
Hey @camilamacedo86 , thx for informing!
Just to clarify:
1. Plugin design in [#2099](https://github.com/kubernetes-sigs/kubebuilder/pull/2099) provides 3 ways:
    i) `kubebuilder init --plugins go-config-gen` to scaffold `kubebuilder alpha config-gen` in Makefile for deploy
    ii) `kubebuilder init --plugins go-config-gen --with-kustomize` to scaffold kustomize cmds as an alternative
    iii) `

[2022-03-22 05:13] Ashwin901 commented on #2542
Hey @mariuskimmina, you can work on the declarative plugin. Are you going to create a new issue for it ?

[2022-03-22 06:55] ka-keung commented on #2556
try again with version:

go: v1.17.8
kustomize: 3.8.7
controller-gen: v0.8.0

same result~.

my step:
[code]

[2022-03-22 07:55] ka-keung commented on #2556
1.  `CRD_OPTIONS ?= "crd:maxDescLen=0"` in Makefile not work. that's why
2.  modify  Makefile manifests target . change crd => crd:maxDescLen=0 ; then `make install`; it solved
[code]

[2022-03-22 09:26] camilamacedo86 commented on #2501
Hi, @Kavinjsir,

1. I understand that the option `kubebuilder init --plugins go-config-gen --with-kustomize` is an additional feature on top of it. (The idea was scaffold go/v3 for example using config-gen instead of the kustomize plugin which is responsible for we do the config/ dir ) So, I am ok with migrating the config-gen to the plugin layout only with (i) and (iii) options and do (ii) in a f

[2022-03-22 09:38] ka-keung commented on #2555
@camilamacedo86

another question is happend. once i has success run `make install && make deploy`  on cronjob v1 step ; and then now i have to deploy v2  and run  `make install && make deploy` ; it stuck and no any other response:

[code]

[2022-03-22 10:15] camilamacedo86 commented on #1487
**What is the goal of this one?**
We have in the docs the info about the markers which are used by the Kubebuilder CLI to inject code.
- More info: https://github.com/kubernetes-sigs/kubebuilder/issues/1487#issuecomment-823864494 and https://github.com/kubernetes-sigs/kubebuilder/issues/1487#issuecomment-815871167

**What/Where I can find the references to work on this one?**

- The marker docs ar

[2022-03-22 10:21] camilamacedo86 commented on #2556
So, we need to check here:
- why the description is too long in the book sample? Is it because we are adding comments for the docs and those are going to the manifests?
- Can we fix it without removing the info from the docs? if not, then we might be able to just update the sample with the workaround found and a comment on top explaining why the  `crd:maxDescLen=0` was added.

WDYT? @ka-keung woul

[2022-03-22 16:50] camilamacedo86 opened #2559 "Support go 1.18"
### What do you want to happen?

Make Kubebuilder supports Golang 1.18

**Following the main places that need to be changed to achieve this goal:**

- Bump go.mod scaffold for go/v3 scaffolds
- Also, ensure that we bump the go version in the GitHub Actions and CI.
- Verify any other places that we should do this update and ensure that all will be properly done.
- Ensure that you make generate befo

[2022-03-22 16:52] camilamacedo86 commented on #2543
HI @Vaxuite,

Could you try:
- Install KB from the source ( clone this repo and run make install to generate the bin from the source )
- Then, test it ( use  --forced to run the command using go 1.18 ) to check if it will work or not

I raised an issue for we work on the required changes for we began to support it: https://github.com/kubernetes-sigs/kubebuilder/issues/2559. WDYT? Would you like to

[2022-03-22 16:58] camilamacedo86 commented on #2558
Hi @vincent-pli,

We accepted the contribution https://github.com/kubernetes-sigs/kubebuilder/issues/2505.
For the next release, all are working fine as expected that will get generated.
We should be doing a new release soon.

[2022-03-22 19:12] shatoboar commented on #1487
Hi I would like to take this one :) .
/assign

[2022-03-23 03:19] AvineshTripathi commented on #2559
@camilamacedo86 i would like to do this, pretty new to kubebuilder so i was wondering if this could be a issue to start with

[2022-03-23 03:19] AvineshTripathi commented on #2559
/assign

[2022-03-23 03:55] Kodalien commented on #2183
@varshaprasad96 That's great

[2022-03-23 03:56] camilamacedo86 commented on #2559
I think that is good @AvineshTripathi.
Feel free to ping me if you need.

[2022-03-23 03:58] NikhilSharmaWe commented on #2502
@camilamacedo86 Added a comment on slack https://kubernetes.slack.com/archives/CAR30FCJZ/p1647978366266989
regarding the new release of kubernetes-sigs/controller-runtime. We can start working on this issue after the new release, right ?

[2022-03-23 06:56] Ankit152 commented on #2557
Hey @camilamacedo86 🙂
I can work on this if this issue is not assigned to anyone.

[2022-03-23 10:24] camilamacedo86 commented on #2557
HI @Ankit152,

We will need first to check with the Community what the standard should be and what they think about it. Then, we can move forward. I am hoping we have this conversation in the next KB / C+R meeting : https://docs.google.com/document/d/1Ih-2cgg1bUrLwLVTB9tADlPcVdgnuMNBGbUl4D-0TIk/edit#heading=h.dp4gt7gj3cn

[2022-03-24 05:03] AvineshTripathi commented on #2559
Looking at previous bump of go version in kubebuilder https://github.com/kubernetes-sigs/kubebuilder/pull/2182/commits/15e3ef35aafacb8a1a1797720470e66ff7745cfc for 1.15->1.16 all the dockerfiles present in the docs/books/src were too updated to new version are we suppose to do the same this time @camilamacedo86

[2022-03-24 07:40] camilamacedo86 commented on #2501
Hi @Kavinjsir,

I would like just to share some context. In the past, we discussed that we would like:
- Have the option to use this plugin instead of the kustomize: https://github.com/kubernetes-sigs/kubebuilder/tree/master/pkg/plugins/common/kustomize/v1 so that, we could scaffold the default layout OR follow up this approach
- We also discussed that for some users then would like to have the ku

[2022-03-24 08:56] swiftslee commented on #2398
Sorry for the miss. <br> I don't have much time recently. Let's assign it to @AshwinRamachandran2002.
/unassign
/assign @AshwinRamachandran2002

[2022-03-24 12:55] Ashwin901 commented on #2542
Hey @camilamacedo86, in the purpose section of the plugin what exactly should be included? For example for go/v3 plugin should we just mention that this plugin is used to generate the boilerplate code for the custom resource and the controller?

[2022-03-24 15:47] camilamacedo86 commented on #2542
HI @Ashwin901,

My thoughts here were, see: https://github.com/kubernetes-sigs/kubebuilder/issues/2542#issuecomment-1073687108
But it is also open to ideas.

[2022-03-24 15:51] Kavinjsir commented on #2501
Hey, @camilamacedo86 ,
Thx letting me know!
I will roll back the code with the `--with-kustomize` flag.
Also, it seems the mode **Without** `--with-kustomize` may rely on the layout from the default plugins.
(It has to work based on the api folder. I'm looking on how to handle in standalone mode.)

[2022-03-24 16:38] #2543 closed

[2022-03-24 23:28] camilamacedo86 commented on #2501
@Kavinjsir,

Migrating the config-gen to the plugin layout is not an easy task.
Changing it to also scaffold the kustomize files maybe is hard too.
so, feel free to see. if you want just to migrate for plugin layout and that for a follow-up or not.

[2022-03-25 01:50] ka-keung commented on #2556
thankyou for your answer. i also would like to improve  this project , but now . i need more deep learn to find out what happend in those action @camilamacedo86

[2022-03-25 07:51] Ashwin901 commented on #2542
Hey @mariuskimmina can you please let me know if you are working on the declarative plugin?

[2022-03-25 08:12] mariuskimmina commented on #2542
Yes, I am working on the documentation for it and hope to send a PR in the next couple of days.

[2022-03-25 10:05] Kavinjsir commented on #2501
Hey, @camilamacedo86 ,
Yeah, I do feel it bigger than what a single pr can hold.
Just have a new update based on your comments and with the implementation of the plugin itself.
I will move the file under cli/alpha to plugins/config-gen next.
After that, I think we would have three parts to deal with(according to my understanding on the context you showed me):
1. Support `with-kustomize`
2. Fully m

[2022-03-25 13:46] #2264 closed

[2022-03-25 15:19] NikhilSharmaWe commented on #2502
@camilamacedo86 Added a comment on slack https://kubernetes.slack.com/archives/CAR30FCJZ/p1647978366266989
regarding the new release of kubernetes-sigs/controller-runtime. We can start working on this issue only after the new release, right ?

[2022-03-25 16:36] camilamacedo86 commented on #2501
All that is under plugins respect the. plugin layout/interfaces. Then, (IHMO) we can **not** move the code implementation from the cmd/alpha under the plugins directory before it is a plugin itself (which is the goal of this task).

However,  I do not see any problem in pushing changes to the config-gen where it is now until we are able to achieve the goal of this task. If you would like to change

[2022-03-26 10:13] AlmogBaku commented on #2388
/remove-lifecycle stale

[2022-03-26 10:24] AlmogBaku commented on #2388
@k8s-ci-robot /remove-lifecycle stale

[2022-03-26 11:32] AlmogBaku commented on #2388
@camilamacedo86 should we add it to go/v4 or also for go/v3?

[2022-03-26 12:25] mariuskimmina opened #2563 "Improve the error output of the declarative plugin"
### What do you want to happen?

As discussed in #2562 the error output of the `declarative` plugin could be improved.

Errors such as:

[code]

Can be confusing to the user.
I'll work on this myself, just creating the issue to track the work.

### Extra Labels

_No response_

[2022-03-26 12:25] mariuskimmina commented on #2563
/assign

[2022-03-27 05:15] NikhilSharmaWe commented on #2502
@camilamacedo86 Added a comment on slack https://kubernetes.slack.com/archives/CAR30FCJZ/p1647978366266989
regarding the new release of kubernetes-sigs/controller-runtime few days ago. We can start working on this issue only after the new release, right ?

[2022-03-27 05:33] camilamacedo86 opened #2566 "Kustomize v3 does not provide bin for mac (arm64)"
### What broke? What's expected?

In order to support go 1.18 (https://github.com/kubernetes-sigs/kubebuilder/pull/2486) we change the Makefile:

[code]

To use the script:

[code]

However, the v3 versions do not provide darwin arm64 binaries:

See https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.10.0. (latest)
But it is provided for v4: https://github.com/kubernetes-sigs/

[2022-03-27 05:34] camilamacedo86 commented on #2566
@ryantking we need to check this one.
It blocks the release.

[2022-03-27 06:18] camilamacedo86 opened #2567 "Unit tests are not working locally (go 1.17.5)"
### What broke? What's expected?

The make test is not working locally
That fails when we run `go test -race ./pkg/... `

### Reproducing this issue

It was reported on the channel that someone was not able to run the tests.
the tests are called in the CI and works see: https://github.com/kubernetes-sigs/kubebuilder/runs/5605172452?check_suite_focus=true#step:5:1

However, I tried to run with;
- M

[2022-03-27 08:53] Abhra303 commented on #2567
Hey @camilamacedo86 I would like to solve it.

Thanks :)

[2022-03-27 13:51] Abhra303 commented on #2567
Excuse me, I couldn't reproduce the problem you faced. I followed the same procedure you described, but in my case, all tests are passing. Below is the output of the command `go test -race ./pkg/...` -

[code]

[2022-03-27 14:49] Abhra303 commented on #2567
Following the output you provided in the issue description, the problem is occurring at line 68 of [`./pkg/cli/alpha/config-gen/controller-gen-filter.go`](https://github.com/kubernetes-sigs/kubebuilder/blob/5ef7c83ec2f843b3d74f864eead8200756c7b6a6/pkg/cli/alpha/config-gen/controller-gen-filter.go#L68). Most probably because `rt` is `nil` for your case. It is trying to assign a value to `OutputRule

[2022-03-28 19:18] abeer91 commented on #2559
Not sure if this needs a whole other issue, I can create one if needed. Currently, the version of kube builder available through home brew depends on golang 1.18 , and it doesn't work with the same create-api errors reported.

https://formulae.brew.sh/formula/kubebuilder

[2022-03-28 20:33] AlmogBaku commented on #2559
We probably need to have a new release to solve it. Merging it will allow you to temporary solve it by using the `head` version

[2022-03-28 21:42] camilamacedo86 commented on #2559
Hi @abeer91,

the brew formula is not kept maintained by us.
If it is using go 1.18 that is wrong since KB still not supporting this version.

[2022-03-28 23:37] abeer91 commented on #2559
Thanks @camilamacedo86  , do you know who maintains this?

[2022-03-29 10:33] AlmogBaku commented on #2559
@abeer91, you should probably open an issue in the [brew-core](https://github.com/Homebrew/homebrew-core) repo

[2022-03-29 13:12] camilamacedo86 commented on #2567
Please, feel free to fix this one.

[2022-03-29 14:27] Abhra303 commented on #2567
Not really, I am using Mac and it is passing for me locally.

Here is the info -

[code]

[2022-03-30 04:13] NikhilSharmaWe commented on #2502
@camilamacedo86 Made another PR upgrading k8s dependencies for branch `release-0.11` in https://github.com/kubernetes-sigs/controller-runtime. Since it is merged now, can we now start working on this issue ?

[2022-03-30 20:56] camilamacedo86 commented on #2519
I just generated the image v0.9.0 with : https://github.com/kubernetes-sigs/kubebuilder/pull/2576/files
See: https://console.cloud.google.com/gcr/images/kubebuilder/GLOBAL/kube-rbac-proxy

We also need to document it in the Contribution Guide.

[2022-03-30 22:05] camilamacedo86 opened #2580 "[doc] - Add how to release new versions of the kube-rbac-proxy image used"
### What do you want to happen?

The projects built with KB create a side container with [kube-rbac-proxy](https://github.com/brancz/kube-rbac-proxy)
The [kube-rbac-proxy](https://github.com/brancz/kube-rbac-proxy) protects the manager/operator.

However, we need to have the images built in:  https://console.cloud.google.com/gcr/images/kubebuilder/GLOBAL/kube-rbac-proxy so that we do not risk losi

[2022-03-30 23:01] camilamacedo86 commented on #2502
To close this one is missing bump C+r and then ensure that all scaffolds will also be updated.

[2022-03-31 04:00] NikhilSharmaWe commented on #2502
@camilamacedo86
Could you please confirm, So we have to -
- update controller runtime version here https://github.com/NikhilSharmaWe/kubebuilder/blob/bumpK8s/pkg/plugins/golang/v3/scaffolds/init.go#L33.
- update `ENVTEST_K8S_VERSION` in https://github.com/NikhilSharmaWe/kubebuilder/blob/bumpK8s/pkg/plugins/golang/v3/commons.go#L81.
- update k8s version in https://github.com/NikhilSharmaWe/kubebuil

[2022-04-01 01:04] vincent-pli commented on #2558
Thanks @camilamacedo86

[2022-04-01 01:04] #2558 closed

[2022-04-01 05:11] NikhilSharmaWe commented on #2480
@camilamacedo86 I would like to work on this.
/assign

[2022-04-01 09:24] camilamacedo86 commented on #2480
Adding here what was discussed in for :

From @joelanford :

This setup is going to result in the project's CI dependencies being added to the main project's go.mod file, which has implications on:
how underlying dependencies get resolved when a build tool and the main project share a transitive dependency (e.g. the build tool might unnecessarily hold back the transitive dependency on a lower vers

[2022-04-01 19:40] zhaohanweng commented on #2524
I have also tried using runtime.RawExtension for the field type. When log the guestbook object in the reconciler, it always returns empty array in the `Spec.Resources` field, even I have a k8s object in the `Resources` fields.

api type
[code]

in the reconciler
[code]

log
[code]

[2022-04-02 09:51] camilamacedo86 opened #2589 "scaffolds hub and spoke interfaces for conversion webhooks."
### What do you want to happen?

scaffolds hub and spoke interfaces for conversion webhooks.
With this change, users can either specify --conversion flag and implement
the interface on their own, or specify --hub and --spoke versions which
will scaffold the skeleton code for both the interfaces.

Follow up/finish the work which started : https://github.com/kubernetes-sigs/kubebuilder/pull/2084

##

[2022-04-02 09:59] camilamacedo86 opened #2590 "Create klogr plugin that uses kubernetes logging (klog)"
### What do you want to happen?

The PR https://github.com/kubernetes-sigs/kubebuilder/pull/2329/files was raised a while ago by the declarative maintainers.

This task is for us to check:
- Would we like to have and support this plugin in the project?
- Can this plugin work with go/v3 or only with the declarative one?

So, if we reach out to the consensus that is a valid contribution to the proje

[2022-04-02 10:47] camilamacedo86 commented on #2567
HI @Abhra303,

If I remove the race conditional option such as : https://github.com/kubernetes-sigs/kubebuilder/pull/2581/files it works for me locally, would you like to help us investigate why that occurs?

My go env:

[code]

[2022-04-02 10:48] camilamacedo86 commented on #2567
Maybe it can be related to the go version: `1.17.5`
If so, then we do not need to fix anything.

[2022-04-02 11:49] camilamacedo86 opened #2591 "[ci] - Stop to run all tests when changes are only in the docs"
### What do you want to happen?

Currently, if we change a doc we still running all test
The goal of this task is to skip when possible the tests when the change is performed only in the MD files.

### Extra Labels

_No response_

[2022-04-02 12:33] Abhra303 commented on #2567
Hello  @camilamacedo86 , I think this is related to go version `1.17.5`. A [bug](https://github.com/golang/go/issues/50073) related to `-race` was fixed in the `go1.17.6` version (and yes, you're right. It seems that it is only occurring on Mac but with version 1.17.5). In that ticket thread, [this comment](https://github.com/golang/go/issues/50073#issuecomment-990312607) suggests not to use `go t

[2022-04-02 12:47] camilamacedo86 commented on #2567
Thank you for checking that.
Yes, you are right.
We can close this one.

[2022-04-02 12:47] #2567 closed

[2022-04-02 22:56] camilamacedo86 opened #2592 "(config-gen) Update the image gcr.io/kubebuilder/kube-rbac-proxy from v0.5.0 to v0.11.0"
### What do you want to happen?

The config-gen has been not updated.
We need to update the image gcr.io/kubebuilder/kube-rbac-proxy:v0.5.0 with gcr.io/kubebuilder/kube-rbac-proxy:v0.11.0

### Extra Labels

_No response_

[2022-04-03 06:04] shuheiktgw commented on #2510
Sorry, let me clarify what we need to do here in the component-config's case as an example!

I'm not sure where "the code source of the book samples" is located... Would you give me some pointers to it?

[2022-04-03 07:37] AlmogBaku opened #2593 "Set `LeaderElectionReleaseOnCancel` to the scaffolded main.go"
### What do you want to happen?

Kubebuilder is generating `main.go` scripts that are getting closed immediately when the `Manager` is done.
Given that, we can add `LeaderElectionReleaseOnCancel: true` to the manager (with an explanation comment) to improve the performance of re-election.

### Extra Labels

_No response_

[2022-04-03 12:30] AlmogBaku opened #2594 "Remove the `tools` package in favor of go 1.18 go install"
### What do you want to happen?

## Objective
Compiling the dependent binaries using a special package `tools` can be replaced with `go install` as we are doing in the generated Makefile.

## Solution:
1. Remove the `tools` dir
2. Replace the installation of APIDiff in the Makefile with `GOBIN=$(shell dirname $(GO_APIDIFF)) go install github.com/joelanford/go-apidiff@latest`

### Extra Labels

_No