[2022-04-03 16:52] NikhilSharmaWe commented on #2592
/assign

[2022-04-03 18:04] NikhilSharmaWe commented on #2593
I would like to work on this.
/assign

[2022-04-04 06:51] AlmogBaku commented on #2594
/assign

[2022-04-04 07:56] camilamacedo86 commented on #2594
Hi @AlmogBaku,

Let's create an PR to do only this change
In its description, the **Motivation** can be add support to 1.18

[2022-04-04 08:01] camilamacedo86 commented on #2593
See : https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/manager/manager.go#L171-L176

So, why should we use it by default?
Also, why in the PR (https://github.com/kubernetes-sigs/kubebuilder/pull/2596/files) was suggested to set it only when is not `{{ if not .ComponentConfig }}`?

[2022-04-04 08:16] NikhilSharmaWe commented on #2593
@camilamacedo86 Error is solved now. It was showing because I added `LeaderElectionReleaseOnCancel` for go/v2 also and this feature wasn't supported in the controller-runtime:v0.6.4 which is the version that the go/v2 plugin uses. Now I am patching only go/v3.

[2022-04-04 08:17] AlmogBaku commented on #2593
Regarding (1)-

As the comment mentioned, when the program is terminated immediately after the Manager is done, it yields better performance and it's safe to use (or more accurately - not "not safe" :P).

Since Kubebuilder scaffolding `main.go` that is anyway behave like that, I suggest that it'll better to add it as a convention with a comment and provide with the best practices.

[2022-04-04 08:20] AlmogBaku commented on #2594
Since this issue depends on https://github.com/joelanford/go-apidiff/issues/15 I suggest holding that

/hold

[2022-04-04 08:58] camilamacedo86 opened #2597 "(For go/v3) : Add README template bollerplate"
### What do you want to happen?

This suggestion came from new users. The idea would be to provide by default a README to the projects so that, we could:
- encourage authors to create the README.md
- provide on the README.md the default make file targets and help skill up on how to use it
- additionally, for other projects such as SDK which uses KB as lib and adds on top nice helpers; would be pos

[2022-04-04 09:26] camilamacedo86 commented on #2593
Hi @AlmogBaku,

By not setting the option that means use its **default** value.
The usage of the **default** value is what is considered more appropriate in common cases.
So, if you would like to suggest that the best would be `LeaderElectionReleaseOnCancel: true,` by default then that needs to be done via controller runtime and not via Kuebuilder. I am afraid that by default this option should no

[2022-04-04 09:30] #2592 closed

[2022-04-04 09:33] github-actions[bot] opened #2598 "🐛 Lint failed for bb9cbb5a359ff64599072d6c38def14420988a83"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2088960040

[2022-04-04 10:05] camilamacedo86 commented on #2594
Hi @AlmogBaku,

The apidiff on Kubebuilder is only used in the Ci - Github Action
 We can still using go 1.17 for its ci if the appdiff does not work with https://github.com/kubernetes-sigs/kubebuilder/pull/2561/files#diff-dd565f122600dd57c8c3c546dd80893fe3e96c09f41ef16886f908d6d0ce7b50R21

Also, the new tools added to the project here: https://github.com/kubernetes-sigs/kubebuilder/commit/9e94fe0

[2022-04-04 11:02] github-actions[bot] opened #2599 "🐛 Lint failed for bb9cbb5a359ff64599072d6c38def14420988a83"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2088960040

[2022-04-04 15:11] rashmigottipati opened #2600 "Phase 2 Plugins - Meta Issue"
### What do you want to happen?

The propose of this issue is to track Phase 2 Plugins effort and centralize all related discussions here so that the goals and next steps are aligned, and also share with the community on features to expect from Phase 2 Plugins Implementation.

- [x] [Issue 1378](https://github.com/kubernetes-sigs/kubebuilder/issues/1378)
This is the original feature request create

[2022-04-04 17:30] AlmogBaku commented on #2593
Unlike with the controller-runtime, with Kubebuilder the generated code runs the Runnables throuhgh the `Manager`, unless you intentionally delete it (hence- helper that justify it).

This is not required when using the controller-runtime, and developers can implement it however they desire (which is why it's not defaulted). Therefore - I think it should be done in Kubebuilder, and the C+R default

[2022-04-04 17:33] AlmogBaku commented on #2594
Right now, the `make apidiff` does work because it uses an updated version of `golang.org/x/tools` from our go module.

Until https://github.com/joelanford/go-apidiff/issues/15 will be fixed, removing it will prevent developers from running `make apidiff` in local environments with go 1.18.

[2022-04-04 17:42] camilamacedo86 commented on #2593
Kubebuilder is only a tool to scaffold the files to create "Controller-runtime" projects, see;

<img width="903" alt="Screenshot 2022-04-04 at 18 38 04" src="https://user-images.githubusercontent.com/7708031/161600277-5e216ba6-366a-4ba4-8d3d-09b11bcc783b.png">

Sorry, but then I do not follow your argument.

I'd suggest we begin here with:

When is a good idea or not to wait for the leaseDuration?

[2022-04-06 18:10] NikhilSharmaWe commented on #2593
Please inform me if there will be a meeting for this discussion, I would like to join in.

[2022-04-07 11:56] camilamacedo86 commented on #2298
/remove-lifecycle stale

I think we need to revisit this one.

[2022-04-07 12:47] github-actions[bot] opened #2603 "🐛 Lint failed for 10ce817f7f3979ef4421d36832d7513da253fa8f"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2108979769

[2022-04-07 14:14] AlmogBaku opened #2604 "Set `LeaderElectionResourceLock` to `leases` on (new) scaffolded main.go"
### What do you want to happen?

1. Kubernetes' Leases were introduced in 2019 (3y ago)
2. It's fair to assume that most clusters should support it by now.
3. Currently, The controller-runtime have a default value of a dual election mechanism(i.e.`configmapsleases`) that was aimed to help *existing controllers* with the migration (and avoid a dual lock when upgrading the controllers)

Given the ab

[2022-04-07 17:44] AlmogBaku commented on #2510
@shuheiktgw
If I understood correctly:
[code]

[2022-04-08 01:56] camilamacedo86 commented on #2510
Hi @AlmogBaku,

If you are looking to know if that are the steps required to update the samples inside of the doc:
Mainly yes.
- You do not need to run make generate: make generate generates the testdata samples based on the source code changes. In this case, you are just re-scaffolding the samples used in the doc and re-adding all examples/code and comments on top again.
PS.: If you are looking t

[2022-04-08 07:47] acechef opened #2606 "why my log time output is 1.649403363838766e+09"
### What broke? What's expected?

why my log time output is 1.649403363838766e+09，how can I make it human readable

### Reproducing this issue

_No response_

### KubeBuilder (CLI) Version

Version: main.version{KubeBuilderVersion:"3.3.0", KubernetesVendor:"unknown", GitCommit:"47859bf2ebf96a64db69a2f7074ffdec7f15c1ec", BuildDate:"2022-01-17T18:05:10Z", GoOs:"darwin", GoArch:"arm64"}

### PROJECT

[2022-04-08 22:54] everettraven commented on #2597
Hi @camilamacedo86, I'd love to pick this issue up!

[2022-04-08 23:25] rashmigottipati commented on #2597
/assign @everettraven

[2022-04-09 05:28] NikhilSharmaWe commented on #2591
@camilamacedo86 What is the approach for solving this kind of issue with testing?
Could you please provide some code pointers for adding this feature.

[2022-04-09 09:17] camilamacedo86 commented on #2591
You would need to check what files changed  ( git diff. ) then if is only files with the extension `*.md` you can ignore some jobs. In SDK we do that, see:
- we skip the job in the GitHub Action when we check that only docs were changed : https://github.com/operator-framework/operator-sdk/blob/master/.github/workflows/test-go.yml#L10
- See how: https://github.com/operator-framework/operator-sdk/bl

[2022-04-09 09:26] camilamacedo86 commented on #2606
See that the logs are configured in the main.go: https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/main.go#L60-L62

So, you need to check the options to format the output as please you provided by zap lib.

Closing. this one. But feel free to re-open or raise others if you need.

[2022-04-09 09:26] #2606 closed

[2022-04-09 10:02] camilamacedo86 commented on #2604
HI @AlmogBaku,

Thank you for your contribution and suggestion to move in this direction.
Let's see first what controller-runtime docs says:

(**Change this value only if you know what you are doing.**)
[code]

**Then see:** ⚠️ (What are the detailed steps that are required here to achieve this goal? What Operator Authors using kubebuilder will need to do to ensure it? How they can ensure that? )

[2022-04-09 10:04] camilamacedo86 commented on #2604
c/c @varshaprasad96 @rashmigottipati @ryanbrainard @jmrodri

[2022-04-09 10:29] github-actions[bot] opened #2607 "🐛 Lint failed for 92e29e8db6fca8ef97d2b1bde3410c11094717ac"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2140313664

[2022-04-09 11:48] NikhilSharmaWe commented on #2591
/assign

[2022-04-10 08:05] AlmogBaku commented on #2604
This suggestion is only for *new scaffolded projects*. This way, changing it will not impact older versions that need to migrate (because it's new!)

a.

Do we have users that actually do that? that sounds a bit crazy. The code is evolving and changing and getting out of sync with the original scaffolded code.
I.e. - in my project, I changed the file structure completely (somehow similar to v2). W

[2022-04-10 11:05] erikgb opened #2609 "Unable to create new API in existing project if controller is for K8s resource"
### What broke? What's expected?

Trying to add a new API and controller in existing project using kubebuilder. The project currently contains **no APIs** and just one controller for K8s `v1.ServiceAccount`.

Trying to create the API using the command: `kubebuilder create api --group stas --version v1alpha1 --kind ClientCertificate` results in error message `failed to create API: unable to inject

[2022-04-10 21:17] camilamacedo86 commented on #2191
/remove-lifecycle rotten

[2022-04-10 21:43] camilamacedo86 commented on #2604
**For those who already scaffold the project using the old versions and want to update their project to what is new, changed in a new version we must provide guidance.**

Yes, and it is not crazy. New releases of stable plugins ought to have new features and bug fixes. **The Kubebuilde CLI/API as all plugins provided by it respect semver : https://semver.org/**. Consumers does not expect to be aff

[2022-04-11 07:34] parul5sahoo commented on #1622
@camilamacedo86 @DirectXMan12 , Can I work on this issue?

[2022-04-11 12:27] ZynnLyr commented on #300
@alexeldeib It works brilliant, however I am having issues when I use the command `kubebuilder create api`, which calls `make generate`. The problem is that, the `Makefile` used is written for Unix systems, so `make generate` reports error.

[2022-04-12 05:45] NikhilSharmaWe commented on #2504
@camilamacedo86 Could you please elaborate. The issue you mentioned above is related to the kustomize version, but the goal of this issue is related to making tests fail based on kubernetes version.

Could you please explain what are we trying to achieve here.

[2022-04-12 08:34] camilamacedo86 commented on #2504
Hi @NikhilSharmaWe,

We open this one because we thought that our e2e test should get that.
However, by analysing it deeper we could realize that does not happened because:
a) Our default scaffolds still compatible with V4
b) For now at least, and to help authors customize maintainers are keep what is deprecated so the things will still working

In this way, we have nothing to do in our e2e test a

[2022-04-12 08:34] #2504 closed

[2022-04-12 08:35] camilamacedo86 commented on #2603
we have another issue open for that. Seem in that version used for golang lint has an issue and is raising errors when should not. The solution is to try to use the latest version of the lint and see if that solves if not we need a downgrade.

[2022-04-12 08:35] camilamacedo86 commented on #2599
we have another issue open for that. Seem in that version used for golang lint has an issue and is raising errors when should not. The solution is to try to use the latest version of the lint and see if that solves if not we need a downgrade.

[2022-04-12 08:35] #2599 closed

[2022-04-12 08:36] camilamacedo86 commented on #2598
we have another issue open for that. Seem in that version used for golang lint has an issue and is raising errors when should not. The solution is to try to use the latest version of the lint and see if that solves if not we need a downgrade.

[2022-04-12 08:37] camilamacedo86 commented on #2580
It was discussed in the Kubebuider meeting on April 07 and accepted by the community.

[2022-04-12 13:10] fjammes opened #2613 "Add support for go 1.17 and 1.18 in generated Makefile"
### What do you want to happen?

Starting in Go 1.17, installing executables with `go get` is deprecated. `go install` may be used instead, see https://go.dev/doc/go-get-install-deprecation.

`go-get-tools` macro in `pkg/plugins/golang/v3/scaffolds/internal/templates/makefile.go` should be update in order to use `go install`

### Extra Labels

_No response_

[2022-04-13 06:43] NikhilSharmaWe commented on #2613
@fjammes I think that `go get` has been updated to use `go install` instead in `pkg/plugins/golang/v3/scaffolds/internal/templates/makefile.go` through this [commit](https://github.com/kubernetes-sigs/kubebuilder/commit/b0c7cd8cc17e5dcc48f314439f2c35a47da257a2). Could you please explain if I am not understanding the issue.

[2022-04-13 09:59] github-actions[bot] opened #2614 "🐛 Lint failed for 7b901ca811ef535cba3e90c4f1850a5518b04d08"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2160427830

[2022-04-13 10:35] camilamacedo86 commented on #2614
We have another task tracked for that closing this one as duplicated.

[2022-04-13 10:35] #2614 closed

[2022-04-13 10:37] camilamacedo86 commented on #2613
It will be available for the next release.
So far, kubebuilder does not support 1.18 and also see that the deps and go versions scaffold when we create a new project are with go 1.17. It is tracked already either for we upgrade all.

So I am closing this one as sorted. However, please feel free to raise new issues if you see that you need or re-open this one.

[2022-04-13 10:37] #2613 closed

[2022-04-13 10:38] camilamacedo86 commented on #2604
[@AlmogBaku](https://kubernetes.slack.com/team/U0Z9P804C) we might be able to begin by looking in C+R to find the PR that introduces the changes and the linked issues. It might have a lot of what we need to begin to check already. WDYT? Could you help us here by gathering all info first?

[2022-04-13 10:53] github-actions[bot] opened #2615 "🐛 Lint failed for 9e519548b2d9e1c68b39c026d1a216f2261da180"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2160691034

[2022-04-13 22:18] github-actions[bot] opened #2616 "🐛 Lint failed for 08a55d1faf161235bd7d986d90ef7d52e7d7856a"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2164050168

[2022-04-14 06:51] Hanyu96 commented on #2606
So how should I change it...

[2022-04-14 07:02] Hanyu96 commented on #2606
[code]

[2022-04-14 07:05] AlmogBaku commented on #2604
Sure.
It'll take me a few days to make time because of the Passover holiday though.

[2022-04-14 07:06] github-actions[bot] opened #2620 "🐛 Lint failed for dfc15107b6511c6b55206f9da6e6c3374e648306"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2165718540

[2022-04-14 10:06] #2616 closed

[2022-04-14 19:32] camilamacedo86 commented on #2620
Should be solved

[2022-04-14 19:32] #2620 closed

[2022-04-14 19:32] camilamacedo86 commented on #2615
Should be solved

[2022-04-14 19:32] #2615 closed

[2022-04-14 19:32] camilamacedo86 commented on #2607
Should be solved

[2022-04-14 19:32] #2607 closed

[2022-04-14 21:45] moza88 opened #2621 "Kustomize Bin Not Downloading"
### What broke? What's expected?

When I run make install it should add the Kustomize script to my bin folder and install my project.

### Reproducing this issue

I believe the order of running commands makes a huge difference.

The commands I ran were:
make all
make manifests
make generate
make build
make run

It can run fine, but when I try to install it, it has issues because it's missing kusto

[2022-04-15 21:26] Sijoma commented on #2621
This comes from the fact that Go 1.18 is used. Go 1.18 is not yet supported as far as I know.

[2022-04-16 22:44] viveksahu26 commented on #2559
Hey @camilamacedo86 , I found similar to above issue in one of  [KataCoda](https://www.katacoda.com/javajon/courses/kubernetes-extensibility/kubebuilder)  scenario, `Kubernetes Extensibility: Develop an Operator with Kubebuilder`.
[code]

[2022-04-16 23:33] camilamacedo86 commented on #2621
The go version 1.18 is not supported yet.
So, it will not work with 1.18. If you are using the latest release then the go version compatible is 1.17+ < 1.18.

Closing this one as duplicated since we have an issue tracked already to add support for 1.18.

[2022-04-16 23:33] #2621 closed

[2022-04-16 23:36] camilamacedo86 commented on #2609
The default scaffold has the line: https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/Dockerfile#L14 which was not found.

Did you change that?
Could you please share the project and your dockerfile file content?

[2022-04-17 09:03] AlmogBaku commented on #2604
It seems that @joelanford already updated this in master to be
[code]
https://github.com/kubernetes-sigs/controller-runtime/blob/eb39b8eb28cfe920fa2450eb38f814fc9e8003e8/pkg/leaderelection/leader_election.go#L66

I'm not sure why is it not part of the controller-runtime 0.11.2?

[2022-04-17 12:41] erikgb commented on #2609
Yes, you are absolutely correct. I didn't realize that the error originates from my modifications of `Dockerfile`. Closing issue as invalid.

[2022-04-17 12:41] #2609 closed

[2022-04-18 03:39] twilight0620 opened #2622 "failed to initialize project: unable to scaffold with "base.go.kubebuilder.io/v3": exit status 1"
### What broke? What's expected?

when i create project, it has error:
failed to initialize project: unable to scaffold with "base.go.kubebuilder.io/v3": exit status 1

I think the version is suitable according to the Quick Start docs, here is my software version:
go version go1.18.1 linux/amd64
KubeBuilderVersion:"3.3.0",
Docker Engine - Community  Version:    20.10.14
kubectl version:v1.23.5
gcc

[2022-04-18 06:15] mariuskimmina commented on #2563
The problem occurs when people try to use the declarative plugin to initialise a new project

for example, the following command looks like it should be correct

[code]

But the user will get the following error

[code]

Obviously the domain flag does exist, the real problem is, that the declarative plugin can't be used alone - if we use the same command but add another plugin:

[code]

then the c

[2022-04-18 06:39] twilight0620 commented on #2622
/close

[2022-04-18 06:39] #2622 closed

[2022-04-18 08:43] twilight0620 opened #2623 "go version not supprot 1.18, but docs does not say it."
### What broke? What's expected?

https://book.kubebuilder.io/quick-start.html#create-a-project:
go version v1.17+ (kubebuilder v3.3+)
it says go version 1.17+， but go 1.18 is not support yet, it should be explained in docs.

### Reproducing this issue

_No response_

### KubeBuilder (CLI) Version

3.3.0

### PROJECT version

_No response_

### Plugin versions

_No response_

### Other versions

_

[2022-04-18 15:55] bleech1 opened #2624 "Requeue parent objects upon changes to child object objects in integration tests"
We are making a custom controller with multiple CRDs.  Controller A reconciles objects of type A and creates objects of type B (a different in-house CRD).  When running controller A, anytime a change is made to the child object (B), the parent object is requeued and will run through the reconcile loop again.  However, this does not happen when running the integration tests for controller A.

In ou

[2022-04-18 18:10] #2597 closed

[2022-04-18 18:12] github-actions[bot] opened #2625 "🐛 Lint failed for 57ceb40156cdb380342cd7f09476e5ea6cc213a1"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2185286127

[2022-04-19 04:36] NikhilSharmaWe commented on #2625
@camilamacedo86 Should I make these changes for fixing this issue.
- Remove string conversion in this statement https://github.com/kubernetes-sigs/kubebuilder/blob/57ceb40156cdb380342cd7f09476e5ea6cc213a1/pkg/plugins/golang/v3/scaffolds/internal/templates/readme.go#L44

- Remove syntax parameter and return return `"```sh" + "\n" + code + "\n" + "```"` in function `codeFence`. https://github.com/ku

[2022-04-19 05:49] NikhilSharmaWe commented on #2625
/assign

[2022-04-19 06:10] zhucan commented on #559
/reopen

[2022-04-19 07:45] acechef commented on #2606
OK, let me try

[2022-04-19 09:49] squeed opened #2627 "RFE: Generate api sub-package, with (almost) no external dependencies."
### What do you want to happen?

When generating api types with `kubebuilder create api`, it generates the corresponding Go types in `./api/v1`.

However, it is unergonomic for external projects to import these types. Mostly because they need to resolve **all** the project's dependencies. This is especially awkward for projects that don't use `controller-runtime`, but it can also be annoying for p

[2022-04-19 09:50] squeed commented on #2627
I'm happy to take a look at this -- changing the scaffolding for new projects is simple enough, but I'm not sure what should happen for existing projects.

[2022-04-19 09:54] squeed commented on #2627
We could also solve #3 by publishing `sigs.k8s.io/controller-runtime/pkg/scheme` as a separate package internal to `controller-runtime`. That way API-consuming projects could still avoid importing the entire dependency tree.

[2022-04-20 13:18] camilamacedo86 commented on #1622
Yes, it is not assigned to anybody.
Please, feel free to get this one.

[2022-04-20 13:41] #2625 closed

[2022-04-21 07:30] camilamacedo86 commented on #2593
Hi @NikhilSharmaWe we have biweekly meeting : https://docs.google.com/document/d/1Ih-2cgg1bUrLwLVTB9tADlPcVdgnuMNBGbUl4D-0TIk/edit#heading=h.dp4gt7gj3cn

[2022-04-21 08:16] AlmogBaku commented on #2593
Hi,
Our scaffolded code is prefectly meeting the requirement - therefore, I do not see any way it can disrupt or cause the issues you mentioned.
If you are concerned about people misusing this, we can always add a comment.

I suggest we'll discuss it in our meeting.

[2022-04-21 08:54] AlmogBaku commented on #2388
/remove-lifecycle stale

[2022-04-21 08:55] AlmogBaku commented on #2388
/remove-lifecycle rotten

[2022-04-21 10:49] camilamacedo86 commented on #559
HI @zhucan, @[runzexia](https://github.com/runzexia)

Could you please clarify why you re-open this one?
Also, I am not sure if I can follow properly the question raised here.

What relation it would have with Kubebuilder?
What do you mean with multi k8s language's client?
What is the problem that are you trying to solve

[2022-04-21 11:01] camilamacedo86 commented on #2563
Thank you for the clarifications. See that each plugin must know what is required for its self-work and not about other plugins explicitly.

For the error: `Error: unknown flag: --domain`

It happens because the declarative plugin does not have this flag implemented at all.

However, I understand that we might have a hall for improvements here. We might be able to improve the plugin helpers, error

[2022-04-21 11:02] camilamacedo86 commented on #2598
Solved

[2022-04-21 11:02] #2598 closed

[2022-04-21 11:10] camilamacedo86 commented on #2624
Hi @bleech1,

Could you please provide further information about this one?

a) Are you using a fake client or envtest to implement your tests?
b) What are you trying to do? Could you provide an example with the code and the full details for anyone to be able to check and reproduce your scenario? What are the steps?
c) What are you checking? What do you expect to see? What are the circumstances
f)

[2022-04-21 12:29] Telzeng opened #2629 "loop print the message Failed to watch resource after Reconcile completed create CR."
### What broke? What's expected?

Hi,

loop print the message Failed to watch resource after Reconcile completed create CR.

After the function Reconcile is completed create CR, found the log loop print the message like the following. During the reconciliation, it created one deployment and job resource successful.

Expected:
The message seems to be unuseful. how to remove them.

Thanks

0421 09:1

[2022-04-21 13:55] mariuskimmina commented on #2563
Yes I understand, I already tried to work on this and saw that it wasn't as simple as adjusting just the plugin code itself. That being sad, I would still be looking further into this and see if I can make some improvements - just going to take longer than I originally anticipated.

[2022-04-21 16:19] rashmigottipati commented on #2388
/assign @AlmogBaku

[2022-04-21 16:21] AlmogBaku commented on #2388
note: make sure viper can handle one dash arguments as go flags (to support backward compatibility)

[2022-04-21 22:54] AlmogBaku opened #2630 "Distinct between Plugins and Bundle Plugins"
### What do you want to happen?

Following up on today's meeting-

Currently, we have two terms that are very confusing:
* "Plugins" - a (decoupled) component that is used to scaffold language code (such as Kustomize YAMLs, Go code, Java code, etc.)
* "Bundle Plugins" - a composition of a few plugins. The bundles allow a friendly user interface for end-users around common use cases, I.E: "go bundl

[2022-04-22 02:11] zhucan commented on #559
@camilamacedo86 Hello, kubebuilder can generate swagger.json from crd?

[2022-04-22 08:19] camilamacedo86 commented on #2559
Hi @viveksahu26,

The 1.18 is not supported so far. So, trying to use the latest Kubebuilder release with go 1.18 will fail.

[2022-04-22 08:45] camilamacedo86 commented on #2559
This issue was discussed in the C+R, Kubebuilder meeting yesterday. @AlmogBaku, thank you for helping us identify the impact and how we can address this requirement.

@varshaprasad96 raised a good point and check that we had been only updating the go version to officially support when we update the deps to avoid issues faced in the past. She could identify some scenarios such as:

Therefore, for w

[2022-04-22 09:38] camilamacedo86 commented on #2593
Hi @AlmogBaku,

Following is a summary, and my vote about this one.
IMO we should NOT add this option. It has my vote -1. The main reasons are:

a) Kubebuilder provide a scaffold based on the default controller-runtime configuration and we have no intention to add optional features and options that should be used to address specific needs to the default scaffold. That goes against its goals

b) Co

[2022-04-22 09:57] camilamacedo86 commented on #2604
Hi @AlmogBaku,

Following the comments inline.

https://github.com/kubernetes-sigs/controller-runtime/blob/eb39b8eb28cfe920fa2450eb38f814fc9e8003e8/pkg/leaderelection/leader_election.go#L66

So then when we bump Kubebuilder go/v3  plugin to use the new controller-runtime version its users will be able to check that the controller-runtime latest version address breaking changes and that they need b

[2022-04-22 10:16] camilamacedo86 commented on #2547
Based on the latest discussions on the Kubebuider and C+R meetings and the latest finds:

a) To address the kustomize requirements we do not need a new base golang to go v4 alpha plugin. It needs to be done in the kustomize one. See: https://github.com/kubernetes-sigs/kubebuilder/pull/2583

b) Then, shows that we have not enough requirements yet to justify a new base go v4 plugin. The only things

[2022-04-22 10:24] camilamacedo86 commented on #2627
HI @squeed,

Thank you for reaching out. WDYT about answering the following questions so that it might help us to better understand why and what you need.

[code]

 Could you please provide this info?

[2022-04-22 10:25] camilamacedo86 commented on #2623
Hi @twilight0620,

Would you like to collab with this one and update the docs?
Could you check if it is updated on master?

[2022-04-22 12:46] camilamacedo86 commented on #2630
I would like to do some clarifications which I think I could not do properly in the meeting.

In Kubebuilder we have a design which allows us to extend and reuse it as Lib.
We call plugins a unit which is responsible to address a need and perform scaffolds. (i.e we can have a plugin to allow us to provide helpers for the project, to allow us to do different scaffolds following other partners such

[2022-04-22 16:01] AlmogBaku commented on #2559
I think go/v2 should also use go 1.18; there is no reason not to do so :)

[2022-04-22 16:15] camilamacedo86 commented on #2559
Hi @AlmogBaku,

We can only update go/v2 to use go version 1.18 if we would be able to upgrade the controller runtime and k8s deps used on it. Then, if we want to do that we need to check if has any reason for we have been not updating the go/v2 first. ( I believe that we have )

[2022-04-22 16:39] camilamacedo86 commented on #2559
Hi @AlmogBaku,

We can only update go/v2 to use go version 1.18 if we would be able to upgrade the controller runtime and k8s deps used on it. Then, if we want to do that we need to check if has any reason for we have been not updating the go/v2 first.

[2022-04-23 04:29] shintard commented on #2499
I am facing the same problem.
Do you have any solution?

[2022-04-23 08:08] AlmogBaku opened #2633 "go/v3: Ability to specify custom path"
### What do you want to happen?

It could be very helpful if we could specify the path the generate scaffolded files instead of the default `./api` path. This is especially required since the `PROJECT` file support specifying such a thing.

### Extra Labels

_No response_

[2022-04-23 08:34] AlmogBaku commented on #2633
related to #1149

[2022-04-23 10:44] AlmogBaku opened #2634 "Plugins do not honor the `path` defined in the PROJECT file"
### What broke? What's expected?

When I configure a different path for my resource other than the default `./api` path, the plugins do not honor it, and expect the default path.

I found that it impacting the following:
1. go/v3: Creating a webhook for an existing API
3. Kustomize: Creating a new webhook

### Reproducing this issue

1. change https://github.com/kubernetes-sigs/kubebuilder/blob/ma

[2022-04-23 11:57] AlmogBaku commented on #2604
I agree. Since this is going to be pushed to ctrl-runtime, we can close it

[2022-04-23 11:57] #2604 closed

[2022-04-23 12:17] AlmogBaku commented on #2593
The reason C+R states it's not defaulted as `true` is that it *"requires the binary to immediately end when the
Manager is stopped"*.
Because C+R cannot enforce it, the default value is set for `false`.

That being said, that's not the case for our generated `main`.

[2022-04-24 01:44] twilight0620 commented on #2623
ok i will add it to docs.
/assign

[2022-04-25 03:08] moza88 commented on #2621
Just switching over to go 1.17 and running make install did the trick, thank you!

[2022-04-25 04:43] parul5sahoo commented on #1622
Hey @camilamacedo86 having gone through the previous comments I suppose, I need to move [this document](https://book.kubebuilder.io/cronjob-tutorial/webhook-implementation.html) into a tutorial in [this section](https://book.kubebuilder.io/multiversion-tutorial/webhooks.html#setting-up-the-webhooks) as 2.3.2 or 2.3.1.1... where we take this into consideration :

Then add a new page in [this sectio

[2022-04-25 12:05] asmacdo opened #2639 "InsertCode should return error when target is not found"
### What broke? What's expected?

https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugin/util/util.go#L74

If the target is not found, `strings.Index(string(contents), target)` returns -1 rather than an error, and kubebuilder proceeds to insert the code prior to the last character.

### Reproducing this issue

_No response_

### KubeBuilder (CLI) Version

3.3.0

### PROJECT version

[2022-04-25 21:52] camilamacedo86 commented on #2639
That makes sense to me. Would you like to push the fix?
WDYT?

[2022-04-25 21:56] camilamacedo86 commented on #2634
You are looking here for the plugins to be able to work with different paths on the scaffolds and it is not supported.
To provide a solution that allows users to customize the default layout path we would need to have a doc proposal for it and see how they can be defined and configure the paths for each scaffold dir. What we would do when the change/config is provided for a project that was scaffo

[2022-04-25 22:00] camilamacedo86 commented on #2634
Could you please describe the steps to reproduce this issue?
What do you mean with:

We have only 2 possible paths the default layout and the multi-group layout.
So, what are the circumstances where the path is not the default one in this case?

[2022-04-26 04:11] NikhilSharmaWe commented on #2639
I would like to work on this issue.
@camilamacedo86 Could you please inform me if I can.

[2022-04-26 04:12] AlmogBaku opened #2640 "Ability to specify `main.go` location"
### What do you want to happen?

It could be nice to specify the location of the `main.go` file, ideally in the `PROJECT` file.

Many times, in large projects - things become complex and developers change the layout to `cmd/xxx/main.go`.
Allowing to specify the location could be helpful for these use-cases.

### Extra Labels

_No response_

[2022-04-26 10:02] NikhilSharmaWe commented on #2639
I would like to work on this.
/assign

[2022-04-26 12:01] camilamacedo86 commented on #2634
Hi @AlmogBaku,

Thank you for providing the info and the steps:

This operation is **not** supported so we do not have a bug here.
Kubebuilder does not support customizations of the paths and the info tracked in the PROJECT has not the purpose to allow this customization.

Since you are looking here for the plugins to be able to work with different paths it shows a duplication of: https://github.c

[2022-04-26 12:09] camilamacedo86 commented on #2633
As described in https://github.com/kubernetes-sigs/kubebuilder/issues/2634#issuecomment-1109708790 it seems a duplication of https://github.com/kubernetes-sigs/kubebuilder/issues/932.

However, if you would like to propose a solution for the available plugins working with custom paths then we will need here a design doc for that because it is complex enough and needs to be fully discussed. Also, i

[2022-04-26 16:55] seizadi opened #2642 "Kubebuilder suite_test.go fails on make test target"
### What broke? What's expected?

Running 'make test' on MacOS fails to load test environment properly and fails due to test-env not being setup:
[code]

I followed [these steps to download integration tests locally](https://book.kubebuilder.io/reference/envtest.html?highlight=integration#configuring-envtest-for-integration-tests)

Now I am able to run 'make test' target
[code]

Also if I create a

[2022-04-26 18:06] joelanford commented on #2593
I would worry that folks would change their main.go (which we tell them is totally allowed) such that the binary no longer exits when the manager stops.

Most folks probably don't take the time to understand every default kubebuilder uses, so they'd likely leave this setting enabled despite it now being unsafe.

Could we add this to the scaffold with a comment about what it is, but then leave it c

[2022-04-26 21:09] camilamacedo86 commented on #2642
Go version 1.18 is not supported.
To support go 1.18 we need to change the makefile since go get can not be longer be used to download deps
However, that are not only the changes which must be addressed. For more info see: https://github.com/kubernetes-sigs/kubebuilder/issues/2559

[2022-04-26 21:22] camilamacedo86 commented on #2593
I am ok with the proposed idea by @joelanford here as well.
So that would mean we scaffold the option `LeaderElectionReleaseOnCancel` with the value true but commented.
Also, we should add a comment on top that clarifies when it is safe to use it.
Something like:

[code]

WDYT @AlmogBaku @NikhilSharmaWe would that be acceptable?
Could we move in this way?

[2022-04-27 06:16] #2623 closed

[2022-04-27 08:03] AlmogBaku commented on #2593
+1

[2022-04-27 15:54] alculquicondor commented on #1253
I faced this issue in kubebuilder 3.3.0

I noticed that the picture in https://github.com/kubernetes-sigs/kubebuilder/issues/1253#issuecomment-564131690 only show metrics from kubelet and kcm, not the actual pod.

I found 2 problems:
- The `controller-manager-metrics-service` has the `port` and `targetPort` wrong https://github.com/kubernetes-sigs/kubebuilder/blob/72f7c2ef3fd42d21756bc04029ecc499d

[2022-04-27 16:51] ryantking opened #2644 "New Release: v3.4.0"
Changelog:

# v3.4.0

**changes since [v3.3.0](https://github.com//releases/v3.3.0)**

## :sparkles: New Features

- (go/v3): Add README.md template to scaffolding templates (#2610)
- (config-gen) Updated the image gcr.io/kubebuilder/kube-rbac-proxy from v0.5.0 to v0.11.0 (#2595)
- (config-gen alpha command): upgrade sigs.k8s.io/controller-tools from v0.7.0 to v0.8.0 (#2586)
- (go/v3) : Upgrade co

[2022-04-27 21:16] joelanford commented on #2594
@AlmogBaku, I just released [go-apidiff v0.4.0](https://github.com/joelanford/go-apidiff/releases/tag/v0.4.0). Hopefully this solves the issue!

[2022-04-28 12:17] camilamacedo86 commented on #2593
@NikhilSharmaWe, see I think we could reach a consensus here. Could you update your PR so we get this one merged as described here?

[2022-04-28 13:43] Sher-Chowdhury opened #2645 "make-test doesn't return full coverage after webhook boilerplate code is generated"
### What broke? What's expected?

It looks like I lose 100% unit test coverage right after I generate the webhook boilerplate code:

[code]

For me, the bug is that for the `api/v1` folder it should be showing "100%", not 3.5%.

It looks like it's because there are no tests that covers the `zz_generated.deepcopy.go` file. Although I'm a bit confused why this is happening in the first place, since

[2022-04-28 15:46] alculquicondor opened #2646 "Unable to visually metrics in prometheus following steps provided"
### What broke? What's expected?

After following https://book.kubebuilder.io/reference/metrics.html, the metrics from the controller don't show up in the prometheus UI.

I can see metrics in the namespace, but they come from the control plane (apiserver, kubelet, kcm, etc)

By default, the kube-prometheus installation can only monitor default, kube-system and monitoring namespaces. The solution i

[2022-04-28 18:47] #2639 closed

[2022-04-28 18:56] camilamacedo86 commented on #2389
We have now for 1.23.5 and the latest release see: https://storage.googleapis.com/kubebuilder-tools
 However, note that we cannot fully support arm 64 for mac yet. More info can be found on the release page for 3.4.0.
So, I am closing this one.

[2022-04-28 19:00] camilamacedo86 commented on #1932
See that for v3.4.0 we are building kubebuilder CLI for arm64.
Also, we have now: kubebuilder-tools-1.23.5-darwin-amd64.tar.gz as well. (https://storage.googleapis.com/kubebuilder-tools)
However, we still not able to fully support Apple Silicon because of the kustomize.
Kustomize v3 does not build versions for this.

More info:
- https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.4.0
-

[2022-04-28 19:07] #2644 closed

[2022-04-28 22:11] camilamacedo86 commented on #2642
Closing this one since the issue here is to use go 1.18.

[2022-04-28 22:11] #2642 closed

[2022-04-28 22:12] camilamacedo86 commented on #2630
Hi @AlmogBaku,

Could you please clarify what should be done here or let us know if the above explanation sorted out your concerns and we can close this one?

[2022-04-28 22:21] camilamacedo86 commented on #2646
HI @alculquicondor,

In the e2e tests, we install the Prometheus and we check the metrics:

- See that we grant the permissions:
https://github.com/kubernetes-sigs/kubebuilder/blob/master/test/e2e/v3/plugin_cluster_test.go#L192-L197
- Then, we apply the ServiceMonitor:
https://github.com/kubernetes-sigs/kubebuilder/blob/master/test/e2e/v3/plugin_cluster_test.go#L209-L221
- By the latest, we check

[2022-04-29 09:34] AlmogBaku commented on #2630
I disagree. The fact that we have written in the API or the documentation doesn't mean we can't change it.

Although technically-wise plugins can be built of a bundle of plugins, this is very confusing from **a product** point of view.

My suggestion is to rename the bundle plugins concept to be just "plugins".
The fact that bundles are implemented *behind the scenes* as a plugin, doesn't contradi

[2022-04-29 12:09] wallrj commented on #2514
I found this abandoned PR:
* https://github.com/kubernetes-sigs/controller-tools/pull/536

[2022-04-29 12:12] wallrj commented on #2514
In https://github.com/kubernetes-sigs/kubebuilder/issues/2514#issuecomment-1050623865 @wmuizelaar wrote:

Did you make any progress on this? I've seen this technique mentioned by @coderanger in https://github.com/kubernetes-sigs/controller-runtime/issues/1669#issuecomment-921242074 but haven't been able to find an example.

[2022-04-29 13:25] alculquicondor commented on #2646
That's curling the metrics directly from `e2e-foo-controller-manager-metrics-service`. That works fine.

The problem is that prometheus can't list the Service in the controller's namepace. So maybe the E2E test could additionally query the metrics from the `prometheus-k8s` service?

[2022-04-29 14:04] jgillich commented on #1501
@moza88 You need to install cert-manager onto your cluster. `cmctl x install` with the cli
Once it's running it will generate certs for your webhook

[2022-04-29 17:18] github-actions[bot] opened #2654 "🐛 Lint failed for 09763832a514b43be49c864d3d614b52eb921f5b"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2246768852

[2022-04-29 17:18] github-actions[bot] opened #2655 "🐛 Lint failed for 2da5c2a40c7394717313211d05143b271625dc71"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2246769148

[2022-04-29 17:18] camilamacedo86 commented on #2630
@AlmogBaku,

Seems that we have a misunderstanding here.
The plugin is the concept
BundlePlugin is an API that allows us to create a plugin via composition.

So, could you please clarify what exactly should change?
Do you want to change a doc? Do you want to change the API?
It is still not clear to me what is the suggestion here. WDYT about you push a pull request with what do you want to change?

[2022-04-29 17:35] github-actions[bot] opened #2656 "🐛 Lint failed for 8e14849c4706a88adb0cb41ff2e64da5cdb07d76"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2246848467

[2022-04-29 17:38] github-actions[bot] opened #2658 "🐛 Lint failed for 8e14849c4706a88adb0cb41ff2e64da5cdb07d76"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2246848467

[2022-04-29 18:02] NikhilSharmaWe commented on #2658
/assign

[2022-04-29 18:19] #2658 closed

[2022-04-30 10:04] camilamacedo86 commented on #2656
solved

[2022-04-30 10:04] #2656 closed

[2022-04-30 10:04] camilamacedo86 commented on #2655
solved

[2022-04-30 10:04] #2655 closed

[2022-04-30 10:04] camilamacedo86 commented on #2654
solved

[2022-04-30 10:04] #2654 closed

[2022-04-30 10:17] camilamacedo86 commented on #2646
Hi @alculquicondor,

It shows me that the extra roles required are related to how to configure the Prometheus. Therefore it is not something that we can address in the default scaffolds because users might have a Prometheus installed/configured in another way.

However,  we could add to the doc: https://book.kubebuilder.io/reference/metrics.html the required steps via a note. Something like:

Also

[2022-04-30 10:20] camilamacedo86 commented on #2645
Hi @Sher-Chowdhury,

That makes sense for me since the files like `zz_generated.deepcopy.go` are auto-generate.
The fix here shows we change the default scaffold to ignore these files in the coverage.

You can check in Kubebuilder Makefile that we also ignore some files to this check.
So, WDYT? Would you like to push a PR with this change?
Could you contribute to this fix?

[2022-04-30 11:12] camilamacedo86 opened #2664 "Build kubebuilder-tools for darwin/arm64"
### What do you want to happen?

**Description**

The goal of this task is to begin to generate the kubebuilder-tools with darwin/arm64 in order to support Apple Silicon. The artefacts must be produced and be available in: https://storage.googleapis.com/kubebuilder-tools

Kubebuilder projects require artefacts which are used to do the tests with ENV TEST (when we call `make test` target). The buil

[2022-04-30 12:44] wreed4 commented on #1529
@camilamacedo86  Has this made it into the tool or any of the documentation?  I've been trying to figure out how to do this for a few days now and a simple example would be incredibly helpful.

[2022-04-30 12:47] AlmogBaku commented on #2630
Sorry, I meant:

[2022-04-30 14:42] 631068264 opened #2666 "Error: unable to load the configuration: unable to read "PROJECT" file: read PROJECT: is a directory get error"
### What broke? What's expected?

downlowd from https://github.com/kubernetes-sigs/kubebuilder/releases/download/v3.4.0/kubebuilder_darwin_amd64

follow it https://book.kubebuilder.io/quick-start.html#installation to install

use `kubebuilder version` get same error

[code]

### Reproducing this issue

_No response_

### KubeBuilder (CLI) Version

3.4.0

### PROJECT version

_No response_

### Plu

[2022-04-30 16:38] NikhilSharmaWe commented on #2645
/assign

[2022-04-30 19:56] camilamacedo86 opened #2667 "Error to build release artefacts automatically via Google Cloud"
### What broke? What's expected?

When we push a new tag we should build the release.
However, the following error has been faced:

[code]

### Reproducing this issue

Build a release based on tag

### KubeBuilder (CLI) Version

master

### PROJECT version

_No response_

### Plugin versions

_No response_

### Other versions

_No response_

### Extra Labels

_No response_

[2022-05-02 13:31] alculquicondor commented on #2646
I don't see it too different from creating a ServiceMonitor in the scaffolds.

But yes, I'll open the issue in prometheus-operator.

/assign

[2022-05-02 16:48] NikhilSharmaWe commented on #2627
@camilamacedo86
Do we need to work on this?
And if yes, is the approach described in the issue description reasonable for tackling it?

[2022-05-02 17:04] squeed commented on #2627
I also owe this issue an update but haven’t had time to write it up yet, sorry.

[2022-05-02 17:52] zhaohanweng commented on #2524
I found the issue,
[code]

https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#field-pruning

after adding the `+kubebuilder:pruning:PreserveUnknownFields` to the field, it works as expected now.

[2022-05-02 17:52] #2524 closed

[2022-05-02 21:24] everettraven opened #2669 ":seedling: Dynamic Bundles in Kubebuilder"
### What do you want to happen?

Dynamic Bundle
===================

## Overview
Kubebuilder currently has an implementation of a `Bundle` which allows multiple plugins to be *bundled* together. The execution of the plugins within a `Bundle` follows a sequential order based on their definition.

An example of the current method:

[code]

In the above example a plugin `Bundle` is created that ensur

[2022-05-02 21:25] everettraven commented on #2669
This is more of a new feature/design proposal so this seemed like the right place to put it. If this is not, let me know what I need to do instead. Thanks!

[2022-05-03 11:06] NikhilSharmaWe commented on #2589
@camilamacedo86 What do we need to do here?

- Do we need to open a new PR with the changes done in https://github.com/kubernetes-sigs/kubebuilder/pull/2084, working on the suggested changes in the PR, and rebasing it?

[2022-05-03 15:37] Sher-Chowdhury commented on #2645
@camilamacedo86 I can't find any examples of where files are set to be ignored in the Kubebuilder's make file. Also the make-target in question is:

[code]

I thought one option would be to replace `test ./...` with `go test $(shell shell find . -type f -name "*.go" | grep -v zz_generated.deepcopy.go)`. But this time I geet this error:

[code]

I think one possible solution could be to use tags -

[2022-05-03 16:22] NikhilSharmaWe commented on #2645
@camilamacedo86 Is this approach reasonable?
- Add `// +build !skip` at top of [zz_generated.deepcopy.go](https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/api/v1/zz_generated.deepcopy.go) and add use `-t skip` in go test in the makefile. Please inform if this approach reasonable.

I have already made changes https://github.com/kubernetes-sigs/kubebuilder/pull/2668 to

[2022-05-03 20:47] DaviSoares454 opened #2670 "Is Go 1.18 supported by Kubebuilder 3.4.0?"
### What broke? What's expected?

Hi, all. I'm starting a new project using Kubebuilder. I already used Kubebuilder before to build some operators, and I saw that there was a new version for Kubebuilder. I also saw that a new Go version was out, so I went to test it out with Kubebuilder.
I entered the Kubebuilder book website and searched for the Quick start page, and there I saw some prerequisite

[2022-05-03 20:50] everettraven commented on #2669
Closing in favor of making this a PR for easier reviews

[2022-05-03 20:50] #2669 closed

[2022-05-04 08:35] Sher-Chowdhury commented on #2645
@NikhilSharmaWe that `skip` tag approach sounds ideal to me.

I tried something very similar. There's already a `// !ignore_autogenerated` at the top of the [zz_generated.deepcopy.go](https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/api/v1/zz_generated.deepcopy.go) So I tried using `-t ignore_autogenerated` but it didn't seem to work for me. I suspect it's something I

[2022-05-04 21:06] camilamacedo86 commented on #2670
I am closing this as duplicated of: https://github.com/kubernetes-sigs/kubebuilder/issues/2559
See the comment https://github.com/kubernetes-sigs/kubebuilder/issues/2559#issuecomment-1106200994 to know what needs to be done for we can support.

The release 3.4.0 still does not support go 1.18.

[2022-05-04 21:06] #2670 closed

[2022-05-04 21:09] camilamacedo86 commented on #2666
Hi @631068264,

Are using a go version >= 1.17 and  < 1.18 ?
Are you scaffolding the projects in a directory where the tool will have permission to write?

I am unable to reproduce this one. Could you please let us know more about ?

[2022-05-05 04:08] mayyyyying commented on #326
export KUBEBUILDER_ASSETS=<path of kubebuilder/bin>

probably remove the "space" on the both sides of the equal sign will be better

[2022-05-05 08:14] 631068264 commented on #2666
@camilamacedo86 ,

go version go1.17.6 darwin/amd64

OSX 12.3.1

I just download it run it, remove it to `/usr/local/bin/kubebuilder` ,  and then run` kubebuilder version`  without creating any project or directory .

the cmd `create ` run very well just `version` get error

[2022-05-05 10:50] camilamacedo86 commented on #2666
Are you able to create new projects?
Are you able to: * In your GOPATH

[code]

?

[2022-05-05 10:54] camilamacedo86 commented on #2646
Thank you for your help 👍
WDYT about we first check the behaviour with Operator-Prometheus maintainers (what is their recommendation to address the needs and default behaviour) then we can discuss if the best approach is to solve it via docs or scaffold? Also, could you please add here the link for the issue open there?

[2022-05-05 12:46] 631068264 commented on #2666
<img width="622" alt="image" src="https://user-images.githubusercontent.com/8144089/166925618-87763ae9-8f62-49b1-9ee6-5683f9cb4f22.png">
`kubebuilder init`  is well

What is ` * In your GOPATH` mean?

[2022-05-05 12:57] tdaleibm commented on #2298
@camilamacedo86 I'm not sure I fully understand the process but I see you are doing a similiar for arm64 in bug #2664 , are you able to trigger on the Google Cloud to generate the artefact for s390x ? I was able to workaround `make test` by sideloading with setup-envtest, All three binaries (kubectl, kube-apiserver, etcd)  already have s390x builds available. What more is required to get this on h

[2022-05-05 14:13] tdaleibm commented on #2298
Sorry, I meant the individual packages usually contained in kubebuildre-tools ( so kubectl, kube-apiserver, and etcd ). I'm not sure how to packaging of those into https://storage.googleapis.com/kubebuilder-tools is being done for other architectures.

[2022-05-05 16:53] rashmigottipati commented on #2563
@mariuskimmina can you please propose the improvements you are suggesting to handle such scenarios?

[2022-05-06 07:37] mariuskimmina commented on #2563
So, I think the problem is that when we are using the declarative plugin alone, such as an in this command

[code]

Which results in the error `Error: unknown flag: --domain` because the plugin does not have this flag. But I would suggest that the plugin shouldn't try to run at all - instead there should be an error explaining that  the declarative plugin can not be used without another plugin.
I'

[2022-05-06 18:25] camilamacedo86 commented on #2559
Hi @AlmogBaku,

We will also need to update and change the release tools to work with go 1.18
- Update the etcd and Kubernetes versions with 1.24 also golang : https://github.com/kubernetes-sigs/kubebuilder/tree/tools-releases/build
- We also need to update the project : https://github.com/kubernetes-sigs/kubebuilder-release-tools: (we need to make the release notes work with go 1.18 and we need t

[2022-05-08 07:44] camilamacedo86 opened #2677 "Doc - Write documentation to allow the utils and how Kubebuilder LIB consumers can test their own plugins"
### What do you want to happen?

The goal of this issue is we have a new section under : https://book.kubebuilder.io/plugins/plugins.html such as "Written tests for your own plugin".

Kubebuilder can be used as lib to allow its consumers to create their own plugins. Also, Kubebuilder provides so utils to allow developers to build their e2e tests or samples to check their plugins.

- You can check

[2022-05-08 08:45] camilamacedo86 commented on #2530
It seems done for the latest releases. So, I am closing this one.

[2022-05-08 08:45] #2530 closed

[2022-05-08 08:46] camilamacedo86 commented on #2542
It shows done now: https://book.kubebuilder.io/plugins/available-plugins.html
So, I am closing this one

[2022-05-08 08:46] #2542 closed

[2022-05-08 09:09] #1833 closed

[2022-05-08 17:59] NikhilSharmaWe commented on #2627
@squeed
So, could you please update the issue description as per https://github.com/kubernetes-sigs/kubebuilder/issues/2627#issuecomment-1106343414.

[2022-05-09 05:38] NikhilSharmaWe commented on #2563
@camilamacedo86 Do we need to work on this?
If yes, do we want to:
- Return error whenever the declarative plugin is used without another plugin. And when flag `--domain` is also used, we should return both errors (declarative plugin and unknown flag).
- Not run the command when an unknown flag is used, even if another plugin is present other than a declarative one.
  Like in this case
`kubebuilde

[2022-05-09 11:56] camilamacedo86 commented on #2563
Hi @NikhilSharmaWe,

You do not need any issue :-). If you want to contribute to this one, I am not sure how would be the best approach to address improvements regarding this case.

As part of this issue, we are still required to do an assessment and see if we could propose any improvement/change to address this one.  It might also involve seeing if the solution approach could be a more generic de

[2022-05-09 12:09] camilamacedo86 commented on #2666
Hi @631068264,

I am unable to reproduce this issue:

[code]

I was a bug in the past, so you might call an old binary instead of this version ( it probably is another place in your local env ) when you see this error. See https://github.com/kubernetes-sigs/kubebuilder/pull/2126 ( this fix was released with v3.0.0: https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.0.0

GOPATH is the p

[2022-05-09 17:00] Vaxuite commented on #2559
@camilamacedo86  I've done the controller runtime pr https://github.com/kubernetes-sigs/controller-runtime/pull/1895/files. Ill have a look at controller-tools in the coming days.

[2022-05-10 09:11] Vaxuite commented on #2559
Are you sure we need to update controller-runtime @camilamacedo86 it already works with go 1.18?

[2022-05-10 10:28] AlmogBaku commented on #2559
Hi, As far as I know, we're waiting for controller-runtime and controller-tools releases

[2022-05-10 17:36] NikhilSharmaWe commented on #2589
@camilamacedo86 Could you please take a look at my previous comment.

[2022-05-11 00:16] camilamacedo86 commented on #2589
Sure. Please, feel free to work on this one.

[2022-05-11 13:13] #2580 closed

[2022-05-12 10:05] camilamacedo86 opened #2681 "Upgrade controller-runtime to 0.12.0"
### What do you want to happen?

This task is to upgrade the controller-runtime dep to the latest 0.12.0 as the k8s deps.

We will need also:
a) Upgrade the project [sigs.k8s.io/kubebuilder-declarative-pattern](http://sigs.k8s.io/kubebuilder-declarative-pattern)
b) Then, when we have the dep using k8s 1.24 and controller-runtime 0.12, we will be able to update it here: https://github.com/kubernete

[2022-05-12 15:22] xiao-jay opened #2683 "quick start error in my mac m1"
### What broke? What's expected?

fix this error

### Reproducing this issue

when i copy
[code]
and pasete in my macbook m1,will get result
[code]

before ```\(go env GOOS)``` is different,why will lead this problem.

### KubeBuilder (CLI) Version

none

### PROJECT version

none

### Plugin versions

[code]

### Other versions

_No response_

### Extra Labels

_No response_

[2022-05-12 20:39] camilamacedo86 opened #2684 "Should the core.Events RBAC permissions be scaffold by default in config/rbac/leader_election_role.yaml"
### What do you want to happen?

For the leader election, we request permissions to core.Events. The idea of this task is to investigate if it is required or if adding the permission is a bug since it is not used/required by the default implementation.

See: https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/config/rbac/leader_election_role.yaml#L31-L37

### Extra Label

[2022-05-14 08:24] camilamacedo86 commented on #2645
Hi @Sher-Chowdhury,

I was looking at this case better. I understand that you desired to exclude from the coverage files that you do not need unit tests because they are autogenerated, and I can go along with the idea.

However, see that the generated files are required to implement the APIs, so we will be unable to exclude them from the test.  Also, Golang does not allow us to exclude files only

[2022-05-14 21:49] Sher-Chowdhury commented on #2645
Hi @camilamacedo86

First off, I think there's a small typo in that `test-coverage` example in your comment, the last line should read `go tool cover -func cover.out.tmp` rather than `go tool cover -func cover.out`.

I agree, excluding the generated files from coverage doesn't appear to be the solution for the reasons you've given above. I also agree with your suggestion about leaving it to the us

[2022-05-16 13:52] everettraven opened #2689 "Phase 2 Plugins should be able to parse flags passed in by a user"
### What do you want to happen?

## Problem
The current implementation of Phase 2 Plugins does not provide logic to parse flags that a user passes to Kubebuilder to use with an external plugin.

For example, running `kubebuilder init --plugins myexternalplugin/v1 --domain example.com` you will get an output similar to:
[code]

This output occurs even if the external plugin defines this flag becaus

[2022-05-16 13:52] everettraven commented on #2689
/cc @rashmigottipati

[2022-05-16 13:52] everettraven commented on #2689
I would like to work on this if this a feature that is agreed to.

[2022-05-16 14:05] everettraven opened #2690 "Phase 2 Plugins should allow for external plugin authors to define metadata and examples"
### What do you want to happen?

## Problem
In the current Phase 2 Plugins implementation, external plugin authors are not able to define the subcommand metadata and examples that are output by Kubebuilder when running something like `kubebuilder init --plugins myexternalplugin/v1 --help`.

Instead the output is this general message:
[code]

There should be a way for external plugin authors to set

[2022-05-16 15:44] geetikabatra commented on #2666
I can confirm the issue. This is a recurring one, even with [v3.0.0](https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.0.0)

[2022-05-16 20:44] everettraven opened #2691 "Changes to the existing e2e testing library"
### What do you want to happen?

# Pain Points
The current e2e testing library from Kubebuilder works well, but there are a couple pain points that could be addressed to make the use of the library easier and more extensible.

## Sample/Test Data Generation
### Problem
The generation of samples to use as test data is repetitive and requires a decent amount of effort to create multiple samples that

[2022-05-16 20:46] everettraven commented on #2691
This issue is also related to this Operator SDK issue: https://github.com/operator-framework/operator-sdk/issues/5724

[2022-05-16 22:49] camilamacedo86 commented on #2690
I think that is great. +1

[2022-05-17 00:19] rashmigottipati commented on #2690
Great idea @everettraven, thanks for creating and working on this issue!
/assign @everettraven

[2022-05-17 07:24] Cbkhare opened #2692 "kubebuilder create api for controller-gen step is not working"
### What broke? What's expected?

There are 2 problems I have observed, and I believe both of them are related to controller-gen. For some reason, `controller-gen` is not getting build up in `$LOCALBIN`  (check make file)

1) kubebuilder create api does not work.

[code]

2) make controller-gen is not working. Though the command is executed successfully, but right after `ls` on. the localbin says,

[2022-05-17 07:24] camilamacedo86 commented on #2689
@everettraven,

The same scenario is faced for the plugins shipped on the CLI, i.e: https://github.com/kubernetes-sigs/kubebuilder/issues/2563. The flag does not exist for the specific plugin.

I think if we could in the Kubebuilder CLI does something like it would sort it out for external or internal plugins.

[code]

[2022-05-17 07:40] camilamacedo86 commented on #2692
Hi @ryanbrainard,

This issue seems to be introduced with the changes to replace go get with go install. Could you please give a hand on this one?

[2022-05-17 08:52] ryanbrainard commented on #2692
@camilamacedo86 I think you might have the wrong person. I've used this repo, but I don't think I've done anything with that.

[2022-05-17 10:36] camilamacedo86 commented on #2692
Sorry, it should be @ryantking  :)

[2022-05-17 12:53] ryantking commented on #2692
Looking into this, in the mean time `GOBIN=$(pwd)/bin go install sigs.k8s.io/controller-tools/cmd/controller-gen@v0.8.0` should install `controller-gen` the way the `Makefile` expects. I'll push up a patch for the generation.

[2022-05-17 13:31] everettraven commented on #2689
Hi @camilamacedo86,

The problem that is faced here with Phase 2 Plugins is that even if the flag is defined by the external plugin, this error will occur.

Just to show that the `--domain` flag is present in the external plugin, here is a snippet from the external plugin source:
[code]

We can see that the `--domain` flag is defined by the external plugin but we still get the unknown flag error f

[2022-05-17 13:34] everettraven commented on #2690
I believe @theishshah was interested in working on this issue, so I am happy to be a point of contact for this issue and instead have @theishshah assigned to this issue.

[2022-05-17 17:38] ryantking commented on #2692
@Cbkhare @jspc I'm having trouble reproducing this issue:

[code]

I tried this on both Linux and macOS with GNU Make 4.3.

To help out, can I get:

1. Platform you're using.
2. Version of go, make, and output from `go env`
3. Whether you made a new project or followed the upgrade instructions.
4. A copy and paste of the tool install section of the Makefile.

The output from the original issue loo

[2022-05-17 18:24] camilamacedo86 commented on #2689
@rashmigottipati  I was speaking with @everettraven to understand it better and it shows a bug.

+1 for me here. @everettraven if you wish to push a PR with a suggestion to fix it your help is more than welcome.
And I am sure that @rashmigottipati will be happy in helping out with the review. If we have the samples here we could easily test them out.

We need to add the samples + e2e tests asap as

[2022-05-17 20:23] jaypoulz commented on #2692
I am on Linux with `go version go1.18.2 linux/amd64`
The way I repro'd was:
[code]
Make version 4.3

go env
[code]

Makefile tool install:
[code]

[2022-05-17 21:15] jaypoulz commented on #2692
I hit a later issue with kustomize as well:
Trying to install it manually via:
`go install sigs.k8s.io/kustomize/kustomize/v3@v3.8.7`
ended up hitting: https://github.com/golang/go/issues/44840

Instead, I moved forward with:
`go install sigs.k8s.io/kustomize/kustomize@latest`

[2022-05-18 10:54] #2593 closed

[2022-05-18 11:46] camilamacedo86 commented on #2692
@jaypoulz 1.18 is not supported yet.
Are you able to face the same issues using go 1.17?

[2022-05-18 12:23] ryantking commented on #2692
Ahhhh, there's your problem. Operator SDK does not have a release yet that includes the new version of kubebuilder, which means the Makefiles still have the old way of installing tools with `go get` instead of `go install`. Installing tools with `go get` was removed in go 1.18, it now just adds the package to your module, only `go install` installs binaries. That explains why you're getting a no-o

[2022-05-18 14:13] jaypoulz commented on #2692
go 1.17 seems to be working. Worth noting that the default version on fedora is 1.16, so I hit (https://github.com/kubernetes-sigs/controller-tools/issues/643 first).

It may be worth making a note in the install docs about the golang version if it's possible to be burned both ways. Maybe it's there and I missed it. :sweat_smile:

[2022-05-18 15:09] ryantking commented on #2692
Fantastic! Its listed that we support go 1.17, but probably should be more explicitly called out since the error is so non-obvious.

Can you confirm this works for you and close the issue @Cbkhare

[2022-05-19 10:38] camilamacedo86 commented on #2666
Hi @631068264,

I tried to reproduce your scenario with the latest releases, and I am unable.
Note that we cannot ensure the version of the bin used with the tests made above.

Another thing that calls my attention is that you are using GOVERSION="go1.18.1" ad it is not supported
You **must** use go versions >= 1.17  < 1.18.

Could you check if that might no be the root cause as well?

[2022-05-19 11:26] camilamacedo86 opened #2694 "Verify if go/v2 Makefile changes to support go 1.18 can works with go 1.13+"
### What broke? What's expected?

See the PR https://github.com/kubernetes-sigs/kubebuilder/pull/2486 the changes in the Makefile were also applied to the plugin go/v2. Note that the go/v2 only exists to ensure the backwards compatibility with the old layout scaffold and the default golang bumped on it is going 1.13

Also, we cannot upgrade the go/v2 to use the latest versions of the controller ru

[2022-05-19 11:26] camilamacedo86 commented on #2694
@ryantking @rashmigottipati

[2022-05-19 13:17] #2566 closed

[2022-05-21 20:41] camilamacedo86 commented on #1932
I am adding this one as a priority since it has been requested a lot.
c/c @rashmigottipati @varshaprasad96 @jmrodri @ryantking @everettraven

[2022-05-21 20:42] camilamacedo86 commented on #1932
removing the assignment to @gabbifish since she has no longer working on this one.

[2022-05-21 20:50] camilamacedo86 opened #2695 "Multi-arch support for gcr.io/kubebuilder/kube-rbac-proxy instead of produce the same image for different architectures"
### What do you want to happen?

Currently, the image gcr.io/kubebuilder/kube-rbac-proxy used in the default scaffold does not support the architectures:

- linux/arm64
- linux/ppc64le
- linux/s390x
- drawin/arm64

See:

[code]

In this way, I'd like to raise this ticket for we began to produce this image supporting all architecture defined above for the same image instead of creating many images

[2022-05-22 02:18] #559 closed

[2022-05-22 10:46] camilamacedo86 commented on #2692
The golang version supported is defined in the docs and release page, see: https://book.kubebuilder.io/quick-start.html#prerequisites

So I am closing this one.
However, feel free to re-open if you see that is required.

[2022-05-22 10:46] #2692 closed

[2022-05-22 10:50] camilamacedo86 commented on #2666
I am closing this one since it seems like caused by not being using the golang version not supported ( see https://book.kubebuilder.io/quick-start.html#prerequisites ) or an old bin where the fix was not done.

However, please feel free to re-open this one if you see that it is required.

[2022-05-22 10:50] #2666 closed

[2022-05-22 11:33] camilamacedo86 opened #2696 "Update the migration guide from v2 to v3 with the latest changes"
### What do you want to happen?

Note that we need to update the dependencies and some guidances.
We need to highlight the breaking change https://github.com/kubernetes-sigs/controller-runtime/pull/1903 since that probably means migrating from controller-runtime < 0.7 to 0.12/latest

### Extra Labels

_No response_

[2022-05-23 21:11] camilamacedo86 commented on #2683
See: https://github.com/kubernetes-sigs/kubebuilder/issues/1932

We do not support arm64 yet, using the master branch, you might work around the kustomize issue with `kubebuilder init --plugins=kustomize/v2-alpha,base.go.kubebuilder.io/v3` now. But we are still unable to use the env test.

Closing as duplicated of https://github.com/kubernetes-sigs/kubebuilder/issues/1932

[2022-05-23 21:11] #2683 closed

[2022-05-25 05:17] zbindenren commented on #2559
Just as information. I am developping an operator with go1.18 and k8s 1.24.0. I had problems with `controller-gen` which paniced. I fixed this issue with the following:

[code]

[2022-05-26 14:15] damdo commented on #2559
@AlmogBaku looks like new releases for [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime/releases/latest) and [controller-tools](https://github.com/kubernetes-sigs/controller-tools/releases/latest) are both out now.

[2022-05-26 14:35] camilamacedo86 commented on #2559
We are blocked by: https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/217 now.
After this one is merged we are good to go.

[2022-05-26 19:07] camilamacedo86 commented on #2591
We skipped the jobs in the Github actions. However, to skip the prow tests we probably need/to change the configure into the prow jobs it seems more complex.

The motivation here would try to spend a low effort for we do not do the test when not required and make things faster but the effort vs benefit to doing it does not seem to pay. Thank you @NikhilSharmaWe for investigating this one.

As we s

[2022-05-26 19:07] #2591 closed

[2022-05-27 00:45] bruceherve commented on #2559
Hi. for anyone struggling  with this issue you can scaffold by using the go/v2 ie run **kubebuilder init --plugins go/v2** as you can see,you are using the go/v2  instead of go/v3 plugin..and once you run **kubebuilder create api** there will be no issue even if you are using Go 1.81..So I guess this allows you to use **kubebuilder with Go 1.81** while waiting for the upgrades to be made..

[2022-05-29 06:30] camilamacedo86 commented on #2183
@varshaprasad96 and @Kavinjsir, I was thinking about this one and following the proposed solution:

### Proposed Solution:

**When we run:**
$ kubebuilder edit -–plugins=grafana/alpha-v1 OR kubebuilder init -–plugins=grafana/alpha-v1

**We will:**
- Create a directory in the config/ dir (i.e. grafana)
- Then, we can scaffold the dashboards under this directory

It would allow this plugin to be use

[2022-05-30 13:11] mzaghab opened #2705 "Upgrade the cert manager template to generate certificate/issuer with the new cert-manager api version `apiVersion: cert-manager.io/v1`"
### What do you want to happen?

Upgrade the cert manager template to generate certificate/issuer with the new cert-manager api version `apiVersion: cert-manager.io/v1` as the one used actually is deprecated and will be removed sooner
need to upgrade the documentation reference to set the good version of cert-manager as a pre-requisite
https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg

[2022-05-31 15:12] imilchev commented on #1932
+1 for this

[2022-06-01 14:18] shaneutt commented on #932
Any guidance from maintainers on what changes will be needed (and where) to change the `controllers/` and `api/` paths?

[2022-06-02 03:26] calvinpark commented on #2559
I started a PR in the homebrew-core repo to fix the go version dependency: https://github.com/Homebrew/homebrew-core/pull/102791
I'm new to homebrew formula edits so any help would be appreciated.

[2022-06-02 18:21] varshaprasad96 commented on #2183
@camilamacedo86 Agreed with this. Just another point as a follow up:
1. The plugin when enabled helps users to set up one dashboard with controller-runtime metrics, and another with custom metrics - all steps to do the second one are documented.
2. We can test this plugin against [Ansible](https://sdk.operatorframework.io/docs/building-operators/ansible/reference/internal_metrics/) or any other pl

[2022-06-03 12:36] damdo commented on #2559
https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/217 has merged 🎉  cc. @camilamacedo86

[2022-06-06 11:19] jwx0925 commented on #1932
+1 for this

[2022-06-07 00:37] Kavinjsir commented on #2183
@camilamacedo86 Thx for guidance with details!
Just initialized [a PR for an enhanced proposal ](https://github.com/kubernetes-sigs/kubebuilder/pull/2708/files)based on the your designs and my origin proposal.

I'm good with your plans of the implementation. Starting with alpha plugin based on the prerequisites of metrics exposure can be an easy landing.

Some brief questions:
1.

What does `optio

[2022-06-07 08:16] camilamacedo86 commented on #2183
HI @Kavinjsir,

That is great! Following the comments inline.

Optional means that the plugin will not be called in the default scaffold.
It means that:
- when a user called "kubebuilder init" the dashboards will not be scaffolded.
- users have the OPTION to use or not the plugin
- it is up to the users to decide if they would like or not to have the grafana dashboards and depend on this third-par

[2022-06-07 13:27] sradco commented on #2646
Hi, There are a few steps that are missing in order for Prometheus to be able to scrape the metrics and alerts:
1. Update file config/rbac/kustomization.yaml - Add 2 lines:
[code]
$ vi config/rbac/kustomization.yaml
[code]
2. Create file config/rbac/prometheus_role.yaml

$ vi config/rbac/prometheus_role.yaml
[code]
3. Create file config/rbac/prometheus_role_binding.yaml

$ vi config/rbac/prometheu

[2022-06-07 13:49] #2681 closed

[2022-06-07 13:57] everettraven opened #2710 "Improve the implementation of the v1beta1 CRD dependency downgrade logic"
### What do you want to happen?

The logic that performs the dependency downgrades to support v1beta1 CRDs needs to be cleaned up.

The following PR implemented a way to remove all indirect dependencies and repopulate them with `go mod tidy` but did not remove the now obsolete replacement of indirect dependencies.
PR: https://github.com/kubernetes-sigs/kubebuilder/pull/2679

Along with this, there

[2022-06-07 22:31] camilamacedo86 commented on #2694
Checked that we cannot https://github.com/kubernetes-sigs/kubebuilder/issues/2559#issuecomment-1121265444
We might need to consider deprecating the go/v2 soon since we can no longer update it.

[2022-06-07 22:31] #2694 closed

[2022-06-08 12:04] camilamacedo86 opened #2716 "remove the trailing space from the comments and the reduce the blank space"
### What broke? What's expected?

It is regarding the changes made in: https://github.com/kubernetes-sigs/kubebuilder/pull/2596

The goal is only to remove the trailing space ( space at the of the comments ) and reduce the space between # to the text from 4 to 2. The comment should be updated with:

[code]

Why?

Molecule tests which have a lint check have been failing because of the format on SDK

[2022-06-08 13:46] camilamacedo86 commented on #2559
From now on, master branch should support go 1.18

[2022-06-08 13:46] #2559 closed

[2022-06-08 13:48] radiosilence commented on #2664
Could we also build the `test-tools` for darwin-arm64?

[2022-06-08 13:59] camilamacedo86 commented on #2664
To achieve this goal we are looking for the etcd project to add the zip bin to be downloaded then we just retrigger the job to have it done from k8s 1.24. see: https://github.com/etcd-io/etcd/issues/14001#issuecomment-1149611951

[2022-06-09 00:40] LouisDinatale commented on #646
@pytimer I have been having a shit day, and this saved it. Thank you.

[2022-06-09 08:56] chrischdi commented on #2286
Maybe worth to note that kube-state-metrics now supports custom resource definitions: https://github.com/kubernetes/kube-state-metrics/pull/1710

Although it does not yet work for `_info` metrics: https://github.com/kubernetes/kube-state-metrics/issues/1755

[2022-06-11 12:43] #2475 closed

[2022-06-12 13:58] camilamacedo86 commented on #2335
/remove-lifecycle stale

[2022-06-12 13:58] camilamacedo86 commented on #2335
/lifecycle rotten

[2022-06-13 21:02] camilamacedo86 opened #2722 "prow: upgrade the kind to 0.14"
### What do you want to happen?

In the test/common.sh we need to upgrade the kind to 1.14.0.
Also, we need to ensure that the default scaffold will work with

### Extra Labels

_No response_

[2022-06-14 13:29] akgowda opened #2727 "metadata field not created after creation of resource"
### Discussed in https://github.com/kubernetes-sigs/kubebuilder/discussions/2726

<div type='discussions-op-text'>

<sup>Originally posted by **akgowda** June 14, 2022</sup>
I created a Deployment wrapper Controller. But the template's metadata field is empty even though I've added labels/annotations to the resource.
[code]

------
[code]

[2022-06-15 06:13] FillZpp commented on #2727
https://github.com/kubernetes-sigs/controller-tools may be a better place for this issue. But you can firstly provide your `DhruvaDeployment` definition and its CRD generated.

[2022-06-15 06:16] akgowda commented on #2727
https://github.com/kubernetes-sigs/controller-tools/issues/448 an issue is already created. We can close this one as duplicate. Thanks

[2022-06-15 06:16] #2727 closed

[2022-06-15 09:54] cmssczy commented on #2508
Controller will indeed panic if we follow the documentation to configure a finalizer.
Because `cronJob` is nil pointer. I think we shoud change `var cronJob *batchv1.CronJob` to `cronJob := new(batchv1.CronJob)`.
[code]

[2022-06-15 17:21] everettraven commented on #2722
Kind already upgraded to 0.14.0 here: https://github.com/kubernetes-sigs/kubebuilder/commit/6eb0be108ae8ebabe477449d68487b80018c9b27

[2022-06-15 17:28] camilamacedo86 commented on #2716
@everettraven that is another place we did not solve this one with https://github.com/kubernetes-sigs/kubebuilder/pull/2721

[2022-06-15 17:29] everettraven opened #2731 "testing: improve token usage in e2e tests"
### What do you want to happen?

The current method of scraping auto-generated tokens for a ServiceAccount is not best practice. This process has also caused the need for changes based on different versions of Kubernetes (i.e. Kubernetes 1.24 no longer auto-generates tokens for ServiceAccounts, which resulted in having to modify test behavior to create a token for this ServiceAccount).

It was poi

[2022-06-15 17:30] everettraven commented on #2716
Oops, sorry I read the issue to quickly. Thanks @camilamacedo86 !

[2022-06-15 17:35] camilamacedo86 commented on #2722
done

[2022-06-15 17:35] #2722 closed

[2022-06-15 19:24] everettraven commented on #2731
@harshanarayana Go for it! I'm not a maintainer on this repository so I can't assign this to you, but I will tag a couple maintainers below so they can assign you. Thanks!

/cc @camilamacedo86 @rashmigottipati

[2022-06-15 20:02] rashmigottipati commented on #2731
/assign @harshanarayana

[2022-06-17 12:23] samyak-jn opened #2744 "Is it the right time for a new release for the kubebuilder which includes go support for 1.18?"
### What do you want to happen?

Hi folks :hugs:,

Thank you for the awesome work, this is more of a support request to track the new release for kubebuilder which supports, the newer version of golang as well (go v1.18). The master branch from the [PR comment](https://github.com/kubernetes-sigs/kubebuilder/issues/2559#issuecomment-1149937677)  already show the feature. Hence, a release for the sa

[2022-06-17 12:51] camilamacedo86 commented on #2744
Hi @samyak-jn we are looking to a release soon.
You can also follow up on the milestone: https://github.com/kubernetes-sigs/kubebuilder/milestone/30

[2022-06-17 17:44] #2547 closed

[2022-06-17 17:48] github-actions[bot] opened #2745 "🐛 Testadata verification failed for c199e6912cac6fa49f9eec08bf695ca03e955345"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2517088655

[2022-06-17 20:55] varshaprasad96 opened #2746 "CI seems broken because of changes in testdata"
### What broke? What's expected?

The `testdata` in master branch is not updated because of which the CI seems broken.

### Reproducing this issue

Run `make generate` from master branch at this commit `c199e6912cac6fa49f9eec08bf695ca03e955345` which is the latest one at this point.

The following changes appear:
[code]

The error is caused by[ `gov4bundle`](https://github.com/kubernetes-sigs/kube

[2022-06-17 20:55] varshaprasad96 commented on #2746
cc: @camilamacedo86

[2022-06-17 21:16] owen-lynch-ibm commented on #2664
+1 for this

[2022-06-18 09:34] camilamacedo86 commented on #2645
Hi @Sher-Chowdhury,

That is still a very specific need. However, if you or @NikhilSharmaWe see that it would be helpful for others I have no objection of we track it in a FAQ section. Feel free to push it.

But, based on all findings and discussions I think we can agree to close this one.
Please, feel free to re-open it if you see that it fits.

[2022-06-18 09:34] #2645 closed

[2022-06-18 09:34] camilamacedo86 commented on #2746
Solved.

[2022-06-18 09:34] #2746 closed

[2022-06-18 09:35] camilamacedo86 commented on #2745
Solved

[2022-06-18 09:35] #2745 closed

[2022-06-19 08:30] camilamacedo86 commented on #2744
@samyak-jn after we get merged what is tracked in : https://github.com/kubernetes-sigs/kubebuilder/milestone/30
I think we are good to do the release.

c/c @rashmigottipati @everettraven

[2022-06-19 11:02] camilamacedo86 commented on #2394
/remove-lifecycle stale

[2022-06-20 11:56] #2731 closed

[2022-06-20 12:19] SkYNewZ commented on #2566
Hi. I cannot use the kustomize alpha plugin.

[code]

[2022-06-20 12:29] camilamacedo86 commented on #2566
Hi @SkYNewZ,

The plugin is only available on master, to call it you --plugins="kustomize/v2-alpha,base.go.kubebuilder.io/v3" (not v4-alpha)

Also, see; https://github.com/kubernetes-sigs/kubebuilder/pull/2758
After we merge this one the stable plugin (default scaffold done with kubebuilder init) will have the bump. However, the syntax done for it will still use for example vars and not replacemen

[2022-06-21 08:19] SkYNewZ commented on #2566
Thanks you @camilamacedo86 !

[2022-06-21 14:08] #2689 closed, assigned to nobody

[2022-06-21 14:17] camilamacedo86 commented on #2710
The v1beta1 is deprecated and we do not want to encourage people to use it.
Projects built with will not work from k8s 1.22 so do you think that is valid we spend effort on these improvements?

[2022-06-21 14:21] everettraven commented on #2710
I agree that we shouldn't focus on this since it is being deprecated and removed in the future. Closing.

[2022-06-21 14:22] camilamacedo86 commented on #2705
Hi @mzaghab,

The code shared by you (https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/golang/v2/scaffolds/internal/templates/config/certmanager/certificate.go#L43) is deprecated, See: https://github.com/kubernetes-sigs/kubebuilder/pull/2734

Since `28 Apr 2021` kubebuilder scaffold by default https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/common/kusto

[2022-06-21 15:04] #2705 closed

[2022-06-22 18:54] camilamacedo86 opened #2765 "Meta - New deploy-image/v1-alpha plugin follow ups"
### What do you want to happen?

Following some tracks, we are able to check and address them as a follow-up of https://github.com/kubernetes-sigs/kubebuilder/pull/2717

- [x] - Add valid status conditions based on the fact that the deployment was successful. ([doc](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#typical-status-properties)

[2022-06-22 18:57] camilamacedo86 commented on #2765
/assign @NikhilSharmaWe

[2022-06-22 20:27] akutz commented on #1932
@camilamacedo86 , do you want to close this, or leave it open as a way to track the etcd artifact?

[2022-06-23 04:56] camilamacedo86 commented on #1932
Yes, I think we can close this one. 👍

[2022-06-23 05:55] camilamacedo86 commented on #1932
To work with Apple Silicon users can:

OR

We cannot say that we officially support the platafom until we generate a new golang plugin as `go/v4-alpha` OR we verify that we can move forward with  https://github.com/kubernetes-sigs/kubebuilder/pull/2758. Note that the kustomize docs about what is a breaking change or not from v3 to v4 is not very clear and seems like it might have changes not mappe

[2022-06-23 05:56] camilamacedo86 commented on #2664
It is done now:

We have now kubebuilder-tools for darwin/arm64. Thank you
[@akutz](https://kubernetes.slack.com/team/U3TALNNNB)
 for your contribution. (see [here](https://storage.googleapis.com/kubebuilder-tools) all versions/platforms supported)

[2022-06-23 06:31] #2716 closed

[2022-06-24 08:23] camilamacedo86 opened #2768 "Release is failing to add the binaries on the page ( bad credentials )"
### What broke? What's expected?

When we create a tag from the repo the release page should be updated with the binaries

### Reproducing this issue

Following the error:
[code]

### KubeBuilder (CLI) Version

3.5.0

### PROJECT version

_No response_

### Plugin versions

_No response_

### Other versions

_No response_

### Extra Labels

_No response_

[2022-06-24 16:01] #2231 closed

[2022-06-25 08:35] camilamacedo86 commented on #2183
Following the metrics returned for an Operator:

[code]

[2022-06-25 17:35] camilamacedo86 opened #2773 "Meta - Following k8s recommendations about labels"
### What do you want to happen?

It would be nice we ensure that the labels are following the same standards/recommendation defined in: https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

What we will need to do?

Assessment:

- [ ] : Check all places that we are scaffolding labels
- [ ] : Checking our docs and samples to know how we are scaffolding and using labels
-

[2022-06-26 13:53] camilamacedo86 commented on #2744
Hi @samyak-jn,

🔈 Kubebuilder [v3.5.0](https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.5.0) has been released!
This release includes a Kubernetes dependency bump to v1.24.1, controller-runtime v0.12.1 and controller-gen v0.9.0. Also, adds support for go version 1.18. For more info see the release page: https://github.com/kubernetes-sigs/kubebuilder/releases.

[2022-06-26 13:53] #2744 closed

[2022-06-26 18:31] rajendragosavi commented on #2664
@camilamacedo86 , I am still facing the issue while running tests using kubebuilder.

[code]
I am using M1 machine. Can you proide more information on how to solve this?

I have updated my kubebuilder to latest version:

[code]

[2022-06-27 16:43] aweis89 commented on #592
One thing to be mindful about this approach is it doesn't eliminated configuration drift that originated outside the controller in-question. If someone updates the controlled object state, say using kubectl, the generated hash won't differ and the desired state won't match the actual state until another reconciliation is triggered. This is often not how controllers are meant to behave.

[2022-06-28 21:37] camilamacedo86 opened #2777 "EnvTest doc does not explain how to work with default options provided ( certmanager and prometheus )"
### What do you want to happen?

https://book.kubebuilder.io/reference/envtest.html#environment-variables. The KB doc does not mention installing cert-manager and prometheus. We could add that here as an extension telling why we do so, and how we test webhooks and a running operator. This could be done in a follow up too.

### Extra Labels

_No response_

[2022-06-29 17:03] #2206 closed

[2022-06-29 17:26] #2690 closed

[2022-06-30 09:40] github-actions[bot] opened #2781 "🐛 Coverage report failed for 68b0809e97c805f022e235865b1782212e838347"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2588939185

[2022-06-30 11:12] camilamacedo86 commented on #2480
/remove-lifecycle stale

[2022-06-30 11:27] camilamacedo86 opened #2782 "Meta - ComponentConfig scaffolds should not be done by default"
### What broke? What's expected?

Users should have the scaffold of https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/component-config-tutorial/testdata/project/config/manager/controller_manager_config.yaml ONLY/when they create the project following the tutorial: https://book.kubebuilder.io/component-config-tutorial/api-changes.html

That means, the scaffold should only be

[2022-06-30 16:49] asmacdo commented on #2695
@camilamacedo86 thanks for helping me out, I'd love to give this one a try.

[2022-06-30 17:06] camilamacedo86 commented on #2695
Thank you @asmacdo a lot
/assign @asmacdo

The changes need to be done against this branch : https://github.com/kubernetes-sigs/kubebuilder/tree/kube-rbac-proxy-releases

[2022-06-30 17:18] camilamacedo86 commented on #2696
Done already

[2022-06-30 17:18] #2696 closed

[2022-06-30 18:44] #2781 closed

[2022-06-30 20:27] camilamacedo86 commented on #2594
go forward @mjlshen . thx

[2022-06-30 22:19] camilamacedo86 commented on #2590
I raised this one to track it and see if someone from the community would have interesting to continue working on the changes proposed in the pr  https://github.com/kubernetes-sigs/kubebuilder/pull/2329/files.

Currently, Kubebuilder uses the log provided by controller runtime.
In this way, if it begins a topic of interest to the community we can discuss this subject

[2022-06-30 22:19] #2590 closed

[2022-07-01 09:17] camilamacedo86 commented on #1932
Looking for PTAL https://github.com/kubernetes-sigs/kubebuilder/pull/2785 to close this one.

[2022-07-01 09:48] camilamacedo86 opened #2786 "Scaffold a comment in the PROJECT file to let users know that they should not update it"
### What do you want to happen?

I'd like to see in the PROJECT file something like:

[code]

So that, we could make clear that users should not change it. Motivation: https://github.com/kubernetes-sigs/kubebuilder/issues/2634

PS.: Note that if we go into the store.go and try to add the comment when the file is created the following error will be faced when we try to parse / unmarshal it:

[code]

[2022-07-01 09:50] camilamacedo86 commented on #2634
Hi @AlmogBaku,

I hope that you do not mind. I am closing this one in favor of https://github.com/kubernetes-sigs/kubebuilder/issues/932. ( it is duplicated )

The above task is created to allow us to provide a feature where would be possible customize the path of what is scaffolded by default.

Note that the PROJECT file is used to track the info used to scaffold the projects and changing the beh

[2022-07-01 09:50] #2634 closed

[2022-07-01 09:51] camilamacedo86 commented on #2640
Hi @AlmogBaku,

I hope that you do not mind. I am closing this one in favor of https://github.com/kubernetes-sigs/kubebuilder/issues/932. ( it is duplicated )

The above task is created to allow us to provide a feature where would be possible customize the path of what is scaffolded by default.

[2022-07-01 09:51] #2640 closed

[2022-07-01 09:52] camilamacedo86 commented on #2633
Hi @AlmogBaku,

I hope that you do not mind. I am closing this one in favor of https://github.com/kubernetes-sigs/kubebuilder/issues/932. ( it is duplicated )

The above task is created to allow us to provide a feature where would be possible customize the path of what is scaffolded by default.

Also, please feel free to push a PR with a Proposal solution doc to address this requirement.

[2022-07-01 09:52] #2633 closed

[2022-07-01 09:55] camilamacedo86 commented on #2630
HI @AlmogBaku,

Where the change should be made?
Also, see that only "bundles" does not specify bundles of `what`
The SDK (consumer of KB) has "OLM Operator Bundles" which are used to integrate the projects with OLM.

[2022-07-01 10:42] camilamacedo86 opened #2789 "Kustomize/v2-alpha : Ensure that we no longer use vars in favor of replacements"
### What do you want to happen?

The plugin [kustomize/v2-alpha](https://github.com/kubernetes-sigs/kubebuilder/tree/master/pkg/plugins/common/kustomize/v2-alpha) uses kustomize V4.

Note that we change already the scaffold done to enable cert-manager replacing the var for replacements: https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/common/kustomize/v2-alpha/scaffolds/inter

[2022-07-01 10:45] camilamacedo86 commented on #1573
It should be done in the kustomize/v2-alpha plugin.

[2022-07-01 10:47] camilamacedo86 commented on #1573
@estroz I unassigned this one since we have no longer with and others might able to help with this one.

[2022-07-01 10:56] #2594 closed

[2022-07-01 16:08] AlmogBaku commented on #2630
I suggest changing the names only in the docs and comments. The problem is mostly when communicating, it's not a techy issue.

[2022-07-03 18:12] laxmikantbpandhare commented on #2786
/assign

[2022-07-03 18:13] laxmikantbpandhare commented on #2789
/assign

[2022-07-05 09:59] FingerLiu opened #2798 "CRD marker support x-kubernetes-validations"
### What do you want to happen?

Is there a plan to support x-kubernetes-validations in kubebuilder CRD marker, so that we can do more verification like this

[code]

### Extra Labels

_No response_

[2022-07-05 14:56] everettraven commented on #2691
Closing as this does not provide enough value for the effort.

[2022-07-05 14:56] #2691 closed

[2022-07-05 17:45] #2789 closed

[2022-07-05 18:07] #1932 closed

[2022-07-05 18:26] laxmikantbpandhare commented on #2782
/assign

[2022-07-05 18:40] camilamacedo86 commented on #2629
Hi @Telzeng,

The message cames from the client-go ( dep ), see: https://github.com/kubernetes/client-go/issues/829
It seems that you have no permissions to watch the deployments.apps.

Note that you must use the markers (https://book.kubebuilder.io/reference/markers.html) and run make generate then the controller-gen will generated the RBAC permissions to allow you to watch.

See the sample gener

[2022-07-05 18:40] #2629 closed

[2022-07-05 18:46] camilamacedo86 commented on #2798
Hi @FingerLiu,

The CRD validations markers supported are doc here: https://book.kubebuilder.io/reference/markers/crd-validation.html

Note that the implementation is one via controller-gen. [more info](https://book.kubebuilder.io/reference/controller-gen.html). Therefore, see that it has a validation for ENUM already:

any
specifies that this (scalar) field is restricted to the *exact* values spe

[2022-07-05 18:46] #2798 closed

[2022-07-05 19:24] everettraven commented on #2773
/assign

[2022-07-06 05:07] runzexia opened #2801 "CVE issue in kube-rbac-proxy"
### What broke? What's expected?

![image](https://user-images.githubusercontent.com/31230341/177472659-15b93364-c0ac-44c5-adc3-20a134a5b71b.png)
We found in `gcr.io/kubebuilder/kube-rbac-proxy:v0.12.0` has some CVE Vulnerability, and the upstream has a new version fix this issue, could you help update his.
https://github.com/brancz/kube-rbac-proxy/releases/tag/v0.13.0

### Reproducing this issue

[2022-07-06 08:42] #2801 closed

[2022-07-07 10:15] #2460 closed

[2022-07-07 18:40] everettraven opened #2809 "(Phase 2 Plugins): external plugin will rebind `--group`, `--version`, `--kind` flags"
### What broke? What's expected?

When running `kubebuilder create api` or `kubebuilder create webhook` with the `--plugins` flag set to use an external plugin, the external plugin flag binding logic will attempt to rebind the `--group`, `--version`, and `--kind` flags. These flags are already bound automatically by Kubebuilder.

The external plugin flag binding logic needs to be modified to ensur

[2022-07-08 07:17] moxianfeng opened #2812 "Is there any way to validation string array items in enum"
### Discussed in https://github.com/kubernetes-sigs/kubebuilder/discussions/2811

<div type='discussions-op-text'>

<sup>Originally posted by **moxianfeng** July  8, 2022</sup>
if I have a struct like

[code]

and make manifests， will get below result

[code]

The desired output is

[code]

but I don't know how to mark the field.
</div>

[2022-07-10 18:50] 3deep5me commented on #2543
Hello,
I ran into the same Issue but with Kubebuilder 3.5 and go 1.18.3 during the tutorial. I tried it on two separate systems.
Any Ideas?

[code]

[2022-07-11 03:52] FillZpp commented on #2812
[code]

[2022-07-12 00:01] github-actions[bot] opened #2820 "🐛 Unit tests failed on ubuntu-latest for 6e4ff3e14ac367a3ee2919b66b16c2d675764a90"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2653183168

[2022-07-12 20:05] erikgb opened #2822 "Makefile scaffolding should generate target to install Kustomize with go install"
### What do you want to happen?

Since version 4.5.2, Kustomize supports installation with `go install`, ref. https://github.com/kubernetes-sigs/kustomize/issues/3618.  As a workaround we used the official install script in https://github.com/kubernetes-sigs/kubebuilder/pull/2486.

Motivation: Even if using the official Kustomize install script, I try to avoid executing remotely downloaded shell s

[2022-07-12 21:46] camilamacedo86 commented on #2822
Hi @erikgb,

By default Kubebuilder scaffolds the Bundle go/v3 which uses kustomize v3.

The plugin go/v3 is a composition of other 2 plugins:
- kutomize/v1 -> Responsable to scaffolds the kustomize files ( config/dir ) which can be as it is reused for other language base plugins in projects that use Kubebuilder as lib for example, in SDK we have plugins that help you create Operators using Ansibl

[2022-07-12 21:51] camilamacedo86 commented on #2820
Flake, solved already.

[2022-07-12 21:51] #2820 closed

[2022-07-12 22:01] camilamacedo86 commented on #2812
Hi @moxianfeng,

All validators are implemented in the https://github.com/kubernetes-sigs/controller-tools (controller-gen). You can check the doc here: https://book.kubebuilder.io/reference/markers/crd-validation.html

Note that as the example above provided by @FillZpp you can only add 1 value option from the Enum. Another example can be found here: https://github.com/kubernetes/apimachinery/blo

[2022-07-12 22:01] #2812 closed

[2022-07-12 22:04] camilamacedo86 commented on #2557
/remove-lifecycle stale

[2022-07-15 08:14] AmFlint commented on #400
Hello everyone.

For people looking to set up such a workflow in the future, here are the steps I went through to set it up successfully (Controller + Webhooks running locally, and API Server able to reach the webhook for mutation/validation).

First, let me explain how it works:

When using a Webhook to mutate/validate a Custom Resource, the API Server will need to send HTTPS requests to the webh

[2022-07-20 00:04] 3deep5me opened #2828 "kubebuilder create api command results in "cgo_linux.go:12:8: no such package located""
### What broke? What's expected?

Hi,
i'm new to kubebuilder, i tried the [quick-start](https://book.kubebuilder.io/quick-start.html) and stucked in the second step  ``kubebuilder create api --group webapp --version v1 --kind Guestbook``.
I would be really grateful for a workaround or a fix.

I've got this messages:
It seems that cgo_linux.go:12:8 is missing.

[code]

### Reproducing this issue

F

[2022-07-21 07:56] camilamacedo86 commented on #2646
Hi @alculquicondor,

No. We should not remove the ServiceMonitor. It makes sense because it is specific to the Operator/Project.
However, we should NOT scaffold the RBAC rules because it is not specific for the project and the cluster which has the Prometheus Operator installed would have them also applied to be able to have access to ServiceMonitors available for any project. Therefore, the covey

[2022-07-22 13:08] rgrama commented on #2828
worked for me after apt install gcc

[2022-07-22 14:30] 3deep5me commented on #2828
thanks @rgrama , i am also new to go 😅
Would it an idea to put gcc to the prerequisites or is this too basic?

[2022-07-23 06:02] Madongming commented on #592
I also encountered a similar problem. The solution is to update first, and use the client.DryRunAll parameter option, and then use reflect.DeepEqual to compare Spec to achieve the goal. Code reference
[code]
It‘s work now

[2022-07-24 19:30] #2521 closed

[2022-07-25 21:07] AlmogBaku commented on #2388
/remove-lifecycle stale

[2022-07-27 07:20] camilamacedo86 commented on #1999
It is important because many users constantly ask and need to do this. Therefore, because the tool does not handle this scenario it is leading to misunderstandings and wrong assumptions. Because of this, I am adding the priority label on this one.

[2022-07-27 08:11] camilamacedo86 commented on #2501
/remove-lifecycle rotten

[2022-07-27 08:42] ErikTMA commented on #2828
I had the same issue when installed through brew, however if I followed https://sdk.operatorframework.io/docs/installation/ for installing from git release, it works fine.
gcc was present for both.

[2022-07-27 10:46] camilamacedo86 opened #2837 "Running the tutorial locally fails due to webhook certs"
### Discussed in https://github.com/kubernetes-sigs/kubebuilder/discussions/2702

<div type='discussions-op-text'>

<sup>Originally posted by **smileisak** May 26, 2022</sup>
Following the kubebuilder book tutorial, I am facing an issue when running the controller locally by disabling the webhooks.

[code]

as described in the documentation: https://book.kubebuilder.io/cronjob-tutorial/running.htm

[2022-07-28 12:20] wmuizelaar commented on #2514
Not yet - was first waiting for an answer to check whether this approach would make sense before start typing a lot of code ;-)

[2022-07-28 12:20] wmuizelaar commented on #2514
/remove-lifecycle stale

[2022-07-28 13:01] camilamacedo86 commented on #2765
@NikhilSharmaWe I am closing this one since this part you accomplished. Now let's check the community feedback
Great work!

[2022-07-28 13:01] #2765 closed

[2022-07-28 13:42] FotiadisM opened #2843 "Makefile: avoid running prerequisites more than once"
### What broke? What's expected?

In the Makefile, specifying prerequisites like so:
[code]
will trigger Kustomize whenever a file is created/changed in `$(LOCALBIN)`

This can easily be fixed with `$(KUSTOMIZE): | $(LOCALBIN)` (note the "|"  in between). More info can be found [here](https://www.gnu.org/software/make/manual/make.html#Prerequisite-Types)

### Reproducing this issue

[code]

### Ku

[2022-07-28 14:14] camilamacedo86 commented on #2843
@FotiadisM,

What is the issue scenario faced by you that motivates you raise this one? Could you please clarify and let us know a little more about it? Could you please fill up:

#### What did you do?

#### What did you expect to see?

#### What did you see instead? Under which circumstances?

[2022-07-28 14:19] camilamacedo86 commented on #2514
Hi @wmuizelaar,

If you are looking for an answer over: https://github.com/kubernetes-sigs/kubebuilder/issues/2514#issuecomment-1050623865. I think the best approach would to be create a section on the docs and a sample-specific to help people know how to work with.Is that make sense? WDYT?

So, please feel free to also check the docs and propose a PR doing changes as you see fit so then we can mo

[2022-07-28 15:05] camilamacedo86 commented on #2514
Thank you @wmuizelaar and sorry for the delay. I did not realize that you were waiting for any response.

[2022-07-29 00:08] github-actions[bot] opened #2845 "🐛 Testadata verification failed for 151b19a645a28d18c77147340c4364b4fadec246"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2757507675

[2022-07-29 08:47] FotiadisM commented on #2843
#### What did you do?
[code]
#### What did you expect to see?
I expected to build my program without installing `controller-gen` again.

#### What did you see instead? Under which circumstances?
I saw `GOBIN=/tmp/demo/bin go install sigs.k8s.io/controller-tools/cmd/controller-gen@v0.8.0` despite having it installed already, The installation of `controller-gen` is triggered whenever the timestamp o

[2022-07-29 09:13] camilamacedo86 commented on #2843
Hi @FotiadisM,

See that it was fixed for Kustomize in the master : https://github.com/kubernetes-sigs/kubebuilder/pull/2774
So, I think we need the same fix for controller-gen and env-test, see: https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/Makefile#L124-L132

[2022-07-29 09:35] camilamacedo86 commented on #2600
For we accomplish the goal:

a) Add samples
We have the PR: https://github.com/kubernetes-sigs/kubebuilder/pull/2810
Also, @rashmigottipati would be great if we could add the python one as well used by you to demo. So we can demonstrate that it can work with any language

b) Add the e2e test to build the binary from the samples added and check that the kubebuilder CLI is capable of to properly usi

[2022-07-29 10:42] cliveseldon commented on #1496
Also not sure why this issue has been closed when its not solved.

[2022-07-29 13:56] camilamacedo86 commented on #2845
Sorted out

[2022-07-29 13:56] #2845 closed

[2022-07-29 14:18] camilamacedo86 opened #2846 "grafana/v1-alpha: Address small nits recommendations on the titles"
### What do you want to happen?

grafana/v1-alpha: Address small nits recommendations on the titles, see the comments: https://github.com/kubernetes-sigs/kubebuilder/pull/2834

### Extra Labels

_No response_

[2022-07-29 14:19] camilamacedo86 commented on #2846
/assign @Kavinjsir

[2022-07-29 16:11] Kavinjsir commented on #2846
/assign

[2022-07-29 16:26] Kavinjsir commented on #2846
Thx for reminding! Have create a PR for this:
https://github.com/kubernetes-sigs/kubebuilder/pull/2847

[2022-08-02 07:46] aleskandro opened #2850 "Multi-arch enablement for default templates"
Hi, I came across #2697 while investigating the "multi-arch & operator-sdk templates" topic when initializing operators.

I'd propose to delete the TARGET_ARCH var there.

In fact, when the base image, i.e., golang:1.17 as of now, is a ManifestList, and you run with the default parameters (assume the user is not aware of this parameter) in a non-amd64 host, we'd get a non-amd64 image with an amd64

[2022-08-02 11:07] #2843 closed

[2022-08-03 08:47] #2846 closed

[2022-08-03 14:17] mogsie opened #2856 "Sample test code breaks when a second test is added"
### What broke? What's expected?

The generated test suite contains the following code (taken from the test data) abbreviated slightly:

[code]
Then a single It() which is a test of some sort.

Addina second (empty) It() the above code will break, because the `namespace` object contains metadata not suitable for creating a namespace.

Adding a second It() yields the following error (`make test`)

[2022-08-03 15:21] mogsie commented on #2856
On a related note, this [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime/issues/880) issue mentions that deletion of namespaces is not supported by envtest, and that the suggestion (if namespace isolation is important) is to use an external cluster like k3s or kind.  Perhaps the issue of namespace isolation should be documented, and the whole "delete / create namespace" c

[2022-08-03 15:30] camilamacedo86 commented on #2856
Hi @mogsie,

The example scaffold works well and fine. Kubebuilder uses controller runtime but it is not responsible to implement ENV TEST. Therefore, I understand what you are looking for is an RFE to make ENV TEST allow this scenario.

In this way, could you please raise an issue against controller-runtime? Here, the only thing that we can do is to document this scenario to help others.

We have

[2022-08-03 15:38] mogsie commented on #2856
Yes, I'd like to help write a FAQ entry.  But the source code I mention is [in this repository](https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v4-with-deploy-image/controllers/memcached_controller_test.go) — the tests work, because there's only one test in them.  It's not useful for continuing, regardless of envtest issues.

[2022-08-04 03:36] ylmcr7 commented on #1306
how soultuion ?

[2022-08-05 11:06] camilamacedo86 commented on #2856
Hi @mogsie,

Regards the code IMO:
**You are completed right about the need we call out and highlight the limitation**
However, not all controller tests would need to have more than one context test. For example in the scaffold done for the deploy image plugin, I do not see a hall to add another one. So, I think we should address it by adding a comment on the code, i.e.:

[code]

WDYT? Could you p

[2022-08-07 06:28] laxmikantbpandhare commented on #2556
As this issue is inactive for a long time. I will fix this. I was able to recreate it locally.

[2022-08-07 06:29] laxmikantbpandhare commented on #2556
/assign

[2022-08-07 06:36] laxmikantbpandhare commented on #2556
/remove-lifecycle rotten

[2022-08-07 06:51] laxmikantbpandhare commented on #2556
Hi @camilamacedo86 -

I was able to recreate the issue. There are two ways through which we can fix this issue.

1. As mentioned in the issue,  modify the Makefile manifests target. change crd => crd:maxDescLen=0;
2. Change `kubectl apply to `kubectl replace --force` as mentioned [here](https://github.com/bugfest/tor-controller/pull/18#issuecomment-1179899925)

Please take a look and let me know y

[2022-08-09 08:32] #2646 closed

[2022-08-10 15:02] rumstead commented on #2480
Is there a recommendation on how to get the dependencies?

I have a `tools/tools.go` with the required dependencies

[code]

[2022-08-10 18:57] rumstead commented on #2389
Can I suggest that we download the envtest tools to [a relative dir](https://github.com/kubernetes-sigs/controller-runtime/blob/bcde6f084dd15ef93bee2a2e4668184e7472eddd/tools/setup-envtest/main.go#L50)? It's clear and obvious where the binaries are downloaded and would get automatically cleaned up if run in a CI pipeline.

[code]

Happy to contribute if there is agreement.

[2022-08-10 19:59] camilamacedo86 commented on #2068
Suggestion / Idea to move forward with a proposal idea for this one:

All commands executed with the tool (data) are tracked in the PROJECT file.
(ihmo) it would be desirable to have a command that re-scaffolds all based on that so it could help in the migration process ( like I want to upgrade my project to the latest versions changes )

We would have an alpha command to try to make it where we c

[2022-08-10 20:58] camilamacedo86 commented on #2389
Hi @rumstead,

Thank you for looking to contribute, see that it is done already ( you have an old scaffold version ):

https://github.com/kubernetes-sigs/kubebuilder/blob/f2e7a0e214ab4f2bd21b4c3f2ef32eb6f4391445/testdata/project-v4/Makefile#L129-L132

[2022-08-10 21:29] rumstead commented on #2389
@camilamacedo86 Sorry my comment was unclear. I am actually talking about this line which downloads the k8s binaries to use for the integration tests:

https://github.com/kubernetes-sigs/kubebuilder/blob/f2e7a0e214ab4f2bd21b4c3f2ef32eb6f4391445/testdata/project-v4/Makefile#L59

I am using the project-v3 scaffolding which also has that for `envtest`.

[2022-08-10 21:33] camilamacedo86 commented on #2389
sorry for my mistake. In the past, we need to add the KUBEBUILDER_ASSETS in a specific location. We need to check how it is implemented now in controller runtime and if we can have the KUBEBUILDER_ASSETS in any place. Anyway, please feel free to check it out and open PR with our prosal solution. Then we can discuss that easily.

[2022-08-11 09:46] #2856 closed

[2022-08-11 09:50] github-actions[bot] opened #2867 "🐛 Lint failed for eb228bdd8b0f0594beb3de4d78421393139efcac"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2838891467

[2022-08-11 10:34] #2867 closed

[2022-08-11 10:52] camilamacedo86 commented on #2850
What we need is to find a way here to provide a helper for the authors/users so that they can build their manager images with support to multiple platforms. I am looking at this one.

[2022-08-11 14:57] #2556 closed

[2022-08-11 15:11] github-actions[bot] opened #2868 "🐛 Lint failed for df1ed6ccf19df40bd929157a91eaae6a9215bfc6"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2840821208

[2022-08-11 16:50] camilamacedo86 commented on #2630
It was discussed in the KB meeting today and we agree to try to improve the [doc][https://github.com/kubernetes-sigs/kubebuilder/blob/6a2384761944cf5e096df0255e213c8bec111aaf/docs/book/src/plugins/creating-plugins.md#L15] to bring a better clarification.

[2022-08-12 07:27] jakobmoellersap opened #2871 "Phase 2 Plugins - Allow Universe to modify Scaffolding that is created from Phase 1 / 1.5 Plugins"
### What do you want to happen?

When testing Phase 2 Plugins, I read through the Design Proposal and the Concept of the Universe. I also tested the Concept by writing a small Plugin and seeing how the requests come into the Plugin. I was mostly concerned with how the Request is filled for the `kubebuilder create api` command, as this would have been a great place for me to start extending a scaff

[2022-08-12 11:07] camilamacedo86 commented on #2514
The PR:  https://github.com/kubernetes-sigs/controller-tools/pull/536 shows has relevance to this task either.

[2022-08-12 11:14] camilamacedo86 commented on #2600
We have now the PR"https://github.com/kubernetes-sigs/kubebuilder/pull/2810
And I think it is very important we move forward with this one

[2022-08-12 11:34] camilamacedo86 commented on #2871
Hi @jakobmoellersap,

I think what you are looking for to do is exactly what we do in the new [deploy-image](https://github.com/kubernetes-sigs/kubebuilder/tree/master/pkg/plugins/golang/deploy-image/v1alpha1) plugin and with the declarative one.

In this way, if you are looking to create an external plugin that will add code on top of what is scaffold by default with the create API see that we do

[2022-08-12 14:06] jakobmoellersap commented on #2871
Thanks @camilamacedo86 for the response!

I am aware of the developments of deploy-image and also the scaffolding options in the API. This worked out fine (btw. kudos for the nice incode integration).

My use case is a bit different though in that I want to extend kubebuilder without integrating it into our own CLIs (in which case we would have to triage vulnerabilities and dependency management t

[2022-08-12 15:49] laxmikantbpandhare commented on #2589
/assign I can take a look into it.

[2022-08-12 15:50] laxmikantbpandhare commented on #2589
/remove lifecycle/stale

[2022-08-12 21:37] rposts commented on #2298
/remove-lifecycle stale @camilamacedo86 just checking if there is something I could do at my end to assist - tx!

[2022-08-14 08:58] zamonia500 commented on #2837
I got same error too.
My kubebuilder version is as followed
`Version: main.version{KubeBuilderVersion:"3.6.0", KubernetesVendor:"1.24.1", GitCommit:"f20414648f1851ae97997f4a5f8eb4329f450f6d", BuildDate:"2022-08-03T11:47:17Z", GoOs:"darwin", GoArch:"amd64"}`

[2022-08-15 08:12] camilamacedo86 commented on #2871
Hi @jakobmoellersap,

Thank you for the feedback. I am ping the student from Google Summer Code program to let him know @NikhilSharmaWe. :-)

**About your scenario**

The whole advantage of you importing KB is that will make it eaiser for you to keep your code maintained. Therefore, you do not need to re-implement what is provided by KB as well and you can get the bug/fixes and improvements every

[2022-08-15 08:15] camilamacedo86 commented on #2298
I added needs-triage on this one. I think we can discuss it can.
Also, freeze for it not to be closed.

[2022-08-15 12:00] jakobmoellersap commented on #2871
Hey there, thanks for the detailed comments. I agree with all of the above and I think my expectations to the external plugins were skewed initially.

I just want to follow up on the Point regarding the `Universe`. Currently If i use exactly one external plugin, the Universe will not contain any data (that is, the map is empty). The Plugin Request is not filled with any data.
I think this is ideal

[2022-08-15 12:21] camilamacedo86 opened #2874 "Document helpers and options to write plugins"
### What do you want to happen?

Would be nice if we could add to docs the following info to help those that are looking to build their own plugins:

If you are looking to create an external plugin that will add code on top of what is scaffold by default with the create API see that we do that [in deploy-image here](https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/golang/depl

[2022-08-15 12:23] jakobmoellersap opened #2875 "Migrate to ginkgo v2"
### What do you want to happen?

With the Migration of Gingko in controller-runtime (see https://github.com/kubernetes-sigs/controller-runtime/pull/1977) we will also have the chance to migrate our test coding as well as our templated scaffolds to gingko v2. To make sure that we do not break incompatibility, we especially need to look at the migration guide in https://onsi.github.io/ginkgo/MIGRATI

[2022-08-15 12:24] camilamacedo86 commented on #2871
Hi @jakobmoellersap,

I tracked an issue for we improve the docs with the info, see: https://github.com/kubernetes-sigs/kubebuilder/issues/2874. Also, if you see any other hall for improvements in the API please feel free to raise an issue so we can properly track this one.

Also, please do not hesitate to push pull requests with suggestions and/or to contribute to the project
Your help is very we

[2022-08-15 12:24] #2871 closed

[2022-08-15 19:54] jakobmoellersap commented on #2627
Hey guys, really looking forward to this, are you still working on this @squeed ? If not, would you mind if I take a look at this?

[2022-08-15 19:55] camilamacedo86 commented on #2627
Feel free to look at that @jakobmoellersap.
/assign  @jakobmoellersap

[2022-08-15 23:44] everettraven opened #2878 "Update golangci-lint to latest in GitHub Actions"
The golangci-lint check seems to be failing on multiple PRs with exit code 137 - meaning that the process has run out of memory.

In an attempt to resolve this, we should bump the golangci-lint action to the latest version.

[2022-08-15 23:44] everettraven commented on #2878
/assign @everettraven

[2022-08-16 07:30] jakobmoellersap commented on #2837
[code]
this statement in `main.go` should recover this normally.

[2022-08-16 08:08] jakobmoellersap commented on #2875
Duplicate of https://github.com/kubernetes-sigs/kubebuilder/issues/2532 @camilamacedo86 which one should we leave open?

[2022-08-16 08:19] camilamacedo86 commented on #2837
Technically, the webhooks can be run locally, but for it to work you need to generate certificates for the webhook server and store them at /tmp/k8s-webhook-server/serving-certs/tls.{crt,key}. For more details about running webhook locally, refer [here](https://book.kubebuilder.io/cronjob-tutorial/running.html#running-webhooks-locally).

[2022-08-16 08:27] camilamacedo86 commented on #2875
We can close this one in favour of https://github.com/kubernetes-sigs/kubebuilder/issues/2532
@jakobmoellersap also I think we can check what also needs to be done in https://github.com/kubernetes-sigs/kubebuilder/pull/2522 and would be nice to add this contributor as co-author to also give the credit to him.

Closing this one and adding the info on why we will move forward with it for v3 and proj

[2022-08-16 08:27] #2875 closed

[2022-08-16 08:40] jakobmoellersap commented on #2627
/assign @jakobmoellersap

[2022-08-16 08:41] jakobmoellersap commented on #2627
One of the first things I want to mention is that its probably a breaking change and thus could be added to the list of the necessary changes in the v4-alpha scaffolding in https://github.com/kubernetes-sigs/kubebuilder/issues/2547#issuecomment-1106337477

[2022-08-16 08:54] camilamacedo86 commented on #2627
Hi @jakobmoellersap,

For this one, I guess that we need to change controller-tools.
So, I think the first step is we figure out here what would need to be changed to allow it

Then, we can provide a propose solution and we can check it out if is a breaking change or not for the plugins
Note that currently go/v4-alpha is composition of kustomize/v2-alpha and the same base language used to generate

[2022-08-16 14:04] jakobmoellersap commented on #2627
Hey there, I just did a first look and I think we have a few things that we need to solve:

1. We need to adjust the existing scaffolding for go/v3 in `pkg/plugins/golang/v3/scaffolds/internal/templates/api`as we need to introduce a go.mod file for the API folders. It gets a bit tricky here as I am not sure how we want to opinionate for multi-group APIs (should we make one go.mod or many)
2. We ne

[2022-08-16 16:32] roehrich-hpe commented on #2646
I wanted to add my experience here, because I see some metrics, but not all of them.  I'm using KIND, and I do not yet know if that is relevant to the odd behavior.

I built an operator with kubebuilder 3.6.0.

I used the prometheus-operator instructions here https://github.com/prometheus-operator/kube-prometheus/blob/main/docs/customizing.md  and added my operator's namespaces as described  here

[2022-08-16 18:04] Kavinjsir commented on #2646
@roehrich-hpe I guess that probably means the metrics from your controller are not exposed to the prometheus.

Because Kubernetes tself also exposes `workqueue_depth`, which is possibly what you've seen.

If you are using a recent version of `prometheus-operator` or `kube-prometheus`, and you have deployed corresponding `servicemonoitor` (no matter in which namespace), then again, this might be a

[2022-08-17 07:29] THMAIL commented on #300
it doesn't work at all !!!

I have tried , but when I execute "kubebuilder version", error occured and shows that
`time="2022-08-17T15:25:25+08:00" level=error msg="could not get plugins root: Host not supported: windows"
time="2022-08-17T15:25:25+08:00" level=error msg="Host not supported: windows"
Version: main.version{KubeBuilderVersion:"unknown", KubernetesVendor:"unknown", GitCommit:"$Format:

[2022-08-17 12:57] jakobmoellersap commented on #2809
/assign

[2022-08-17 14:21] github-actions[bot] opened #2881 "🐛 Lint failed for aac732cdc418c2ce7b306e29dd305ec9e84dccd4"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2876016211

[2022-08-17 14:29] github-actions[bot] opened #2882 "🐛 Lint failed for aac732cdc418c2ce7b306e29dd305ec9e84dccd4"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2876016211

[2022-08-17 14:39] github-actions[bot] opened #2883 "🐛 Lint failed for 0ca25c1bab299a5c7862637cc722ce4ff68b18e5"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2876147334

[2022-08-17 18:05] ishanip24 commented on #2777
Perhaps the documentation could at least have a link to: https://cert-manager.io/docs/installation/kubectl/

[2022-08-18 09:58] gaedemischwarz opened #2885 "Help needed with the Tutorial Build Cronjob"
### What broke? What's expected?

Hello,

i have another Problem with the Tutorial for the Cronjob Example. I try to go trough this Step by Step. At Step 1.9 with the make deploy command. The Deployment search for a File "role.yaml". I cannot find this file in the desired Folders. Here is the Output of the make deploy:

`kustomize installed to /Users/gaedemi/Documents/Workspace/project/bin/kustomi

[2022-08-18 10:57] mk46 commented on #1582
/assign

[2022-08-18 14:49] jakobmoellersap commented on #2532
/assign

[2022-08-18 22:54] #1582 closed

[2022-08-19 19:08] everettraven commented on #2878
PR #2879 was merged and it seems that it successfully fixed golangci-lint failures related to memory issues. Closing.

[2022-08-19 19:08] #2878 closed

[2022-08-21 19:07] #2555 closed

[2022-08-22 02:52] LittleWat commented on #1529
@wreed4 There is an example using conversion-gen. (it is not a simple one though...)
- https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/main/api

I asked another question related to this
https://github.com/kubernetes-sigs/kubebuilder/discussions/2889

[2022-08-23 03:49] #2809 closed

[2022-08-23 03:51] github-actions[bot] opened #2890 "🐛 Lint failed for b7e8c36e6962125f807b6430688ca42defb16950"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/2908713815

[2022-08-23 22:42] yongxiu opened #2892 "openAPIV3Schema generated by controller-gen for map doesn't have allows: true in additionalProperties"
### What broke? What's expected?

In https://github.com/kubernetes/kubernetes/issues/104137#issuecomment-1215575261, I just learnt that if you want to allow arbitrary key in maps, you need to specify allows: true in additionalProperties for a map.

However for a normal map, controller-gen will not add this `allows: true` in the additionalProperties, causing adding key and value failed the schema v

[2022-08-24 07:09] nikfot opened #2893 "Lint check fails in groupversion_info.go"
### What broke? What's expected?

Some comments in the groupversion_info.go file do not end in "."(dot) causing golangci-lint checks to fail. It is minor but I am letting it here.
[code]
_The same happens for the spec comment of the created api._
### Reproducing this issue

It can be re produced by using the simple commands of `kubebuilder init` and `kubebuilder create api`

### KubeBuilder (CLI)

[2022-08-24 10:50] camilamacedo86 commented on #2893
Hi @nikfot,

This implementation is done in the controller tools. Could you please raise this issue there: https://github.com/kubernetes-sigs/controller-tools ?

Also, please feel free to contribute with controller-tools by doing a PR to fix that.
Your help is very welcome.

Cheers,

[2022-08-24 10:51] camilamacedo86 commented on #2893
Closing this one since it needs to be done in the controller-gen instead.

[2022-08-24 10:51] #2893 closed

[2022-08-24 10:52] camilamacedo86 commented on #2892
HI @yongxiu,

Could you please open a PR in the controller-tools project https://github.com/kubernetes-sigs/controller-tools?
Also, feel free to contribute there with the fix. Therefore, when it is fixed in a future release we will be able to get this in the Kubebuilder.

I am closing this one since it needs to be addressed in the controller-gen.
Thank you for your understanding..

[2022-08-24 10:52] #2892 closed

[2022-08-24 10:52] #2890 closed

[2022-08-24 10:53] #2883 closed

[2022-08-24 10:53] #2882 closed

[2022-08-24 10:53] #2881 closed

[2022-08-24 10:53] #2868 closed

[2022-08-25 16:10] camilamacedo86 commented on #2298
After further discussions on the KB meeting at Aug 25, it was decided to accept this one.
Maybe we could use docker buildx to provide this support.

[2022-08-25 16:11] jmrodri commented on #2298
The operator-sdk project supports s390x, the latest release shows we have s390x binaries: https://github.com/operator-framework/operator-sdk/releases/tag/v1.23.0

[2022-08-25 16:14] camilamacedo86 commented on #2627
c/c @varshaprasad96

[2022-08-25 16:26] camilamacedo86 commented on #2684
To check this out we can see the motivations for: https://github.com/kubernetes-sigs/kubebuilder/issues/1474

[2022-08-25 16:31] camilamacedo86 commented on #2684
In the meeting today we discussed this one and would be nice if we:

- a) Check if we need or not to scaffold these permissions by default (for that we need to check the C+R code)
- b) Check if we have a doc to describe how to raise events (if not then, would be nice to track an issue for that)
- c) We might want to check the motivations of https://github.com/kubernetes-sigs/kubebuilder/issues/147

[2022-08-25 16:32] AlmogBaku commented on #2684
We use it here https://github.com/kubernetes-sigs/controller-runtime/blob/b704f447ea7c8f7059c6665143a4aa1f6da28328/pkg/leaderelection/leader_election.go

[2022-08-25 16:39] pedroaccamara commented on #1501
Don't think that's a recommendable solution, but to your point, that if statement shouldn't be run when ENABLE_WEBHOOKS is false, so you should wrap all those lines inside another if statement
[code]
That in combination with running
`$ make run ENABLE_WEBHOOKS=false`
should stop it trying to even setup any webhook. The guide does include this code, though its unlikely most ppl will see it, as they

[2022-08-25 16:50] camilamacedo86 commented on #2786
From the KB meeting: Maybe would be better something like "# Code generated by tool. DO NOT EDIT IF YOU DO NOT KNOW WHAT YOU ARE DOING" OR AT YOUR RISK.

[2022-08-26 05:12] AlmogBaku opened #2897 "[Docs] Document how to record events"
### What do you want to happen?

Following up on: https://github.com/kubernetes-sigs/kubebuilder/issues/2684#issuecomment-1227503698

As discussed in the meeting, we think it might be a good idea to add a section about **event recording** to the documentation, similar to [what we had in v1](https://book-v1.book.kubebuilder.io/beyond_basics/creating_events.html).

### Extra Labels

_No response_

[2022-08-26 05:15] AlmogBaku commented on #2897
It's also better to use the controller-runtime recorder over the raw client recorder: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/recorder/recorder.go

[2022-08-26 05:17] AlmogBaku commented on #2897
/label triage/accepted

[2022-08-26 18:17] Kavinjsir commented on #2677
I can try for this if the task is currently not scheduled.

[2022-08-27 12:57] pmalek opened #2899 "panic when `go.kubebuilder.io/v3` and `go.kubebuilder.io/v4-alpha` specified in `layout`: flag `make` redefined"
### What broke? What's expected?

When running `kubebuilder` in directory that has both `go.kubebuilder.io/v3` and `go.kubebuilder.io/v4-alpha` specified in `layout` section on `PROJECT` file, `kubebuilder` crashes.

[code]

### Reproducing this issue

1. Create a `PROJECT` file with the following 2 layouts specified:

[code]

1. Run `kubebuilder` in directory containing that `PROJECT` file

### K

[2022-08-28 02:09] camilamacedo86 commented on #2899
Hi @pmalek,

Thank you for the contact. The PROJECT file defines the config of the project and is scaffolded by the tool. Users should use go/v3 ( default scaffold ) OR go/v4-alpha to init a project, not both. In this way, the steps described are not expected.

So, why are you doing these steps?  Could you please let us know so we can help you out?

[2022-08-28 02:11] camilamacedo86 commented on #2677
That would be great @Kavinjsir , please feel free to work on this one.

[2022-08-28 02:15] camilamacedo86 commented on #2885
Hi @gaedemischwarz,

The role file is scaffolded when you init the project and it will be updated after you add the markers and run make manifests. Could you please share your PROJECT file so that we can look at the plugins / used? Did you make any changes in the default project layout scaffolded? Are you following the tutorial by creating a new project or are you trying to do it in a pre-existent

[2022-08-28 07:28] pmalek commented on #2899
Hi @camilamacedo86 👋

That's what I thought but at the same time: why shouldn't the user get a nice error message explaining this situation, hm?

[2022-08-29 14:33] rewanthtammana commented on #1501
I'm also facing the same issue. Despite trying `make run ENABLE_WEBHOOKS=false`, I'm getting the same error!

[2022-08-30 14:17] #2773 closed

[2022-09-02 13:34] camilamacedo86 commented on #2899
Hi @pmalek,

It is not expected that users change the PROJECT file. I do not think that you are able to do that using the tool only. Are you able to scaffold the project "kubebuilder init" and then run again `kubebuilder init --plugins=go/v4-alpha`? If so, I think we could try to introduce some validation in the CLI to avoid this scenario.

However, it would be really hard to validate and provide

[2022-09-02 15:34] pmalek commented on #2899
I see your point. When I run the init and then try to run it again on already initialized project I'm getting

[code]

which would align with what you're saying that it's only possible if `PROJECT` is manipulated by hand.

Nevertheless, a nice error message stating that what the user is trying to do is not allowed would be nice. Well definitely better than `panic`.

I'll probably not find the time

[2022-09-03 16:32] #2389 closed

[2022-09-05 10:22] qingfengfenga commented on #1614
Change
[code]

Report errors

[code]

Do I need to modify all ` module example.com/m/v2 '

![image](https://user-images.githubusercontent.com/41416092/188426424-a3e639f7-c3ae-4d24-bfe0-759b85b5ca83.png)

Version（Win11 WLS 2）
[code]

[2022-09-05 19:19] camilamacedo86 commented on #2850
@aleskandro @gquillar

[2022-09-06 12:35] camilamacedo86 opened #2908 "Bump K8s 1.25"
### What do you want to happen?

To bump to use Kubernetes version 1.25 we need to:

- [x] - Generate the envtools for it

The build is made from the branch [tools-releases](https://github.com/kubernetes-sigs/kubebuilder/tree/tools-releases). So, we need to create a PR to generate tools with the latest binaries version

- [ ] - bump controller-tools for a version using the k8s 1.25
- [x] - the dec

[2022-09-06 12:51] camilamacedo86 commented on #2559
@qingfengfenga please, open a new issue with your specific problem and providing the details steps to allow us to reproduce it.

[2022-09-07 05:52] camilamacedo86 commented on #2695
I checked this one and I could validate that the default image provides support for all platforms.
See: https://console.cloud.google.com/gcr/images/kubebuilder/global/kube-rbac-proxy@sha256:d99a8d144816b951a67648c12c0b988936ccd25cf3754f3cd85ab8c01592248f/details?tab=manifest

Therefore, we can close this one.

[2022-09-07 05:52] #2695 closed

[2022-09-07 09:35] Ishmeet opened #2913 "go build -o bin/manager main.go error."
### What broke? What's expected?

`kubebuilder create api --group plugin --version v1alpha1 --kind ApstraPlugin`

why is this error coming, during go build -o bin/manager main.go

Also, how can I scaffold resources and controllers under pkg directory?

[code]

### Reproducing this issue

`kubebuilder create api --group plugin --version v1alpha1 --kind ApstraPlugin`

### KubeBuilder (CLI) Version

[2022-09-07 10:41] qingfengfenga commented on #2559
@camilamacedo86 Sorry, when I checked the version and prepared to reproduce it locally, I found that my document was not the latest (translated version in other languages). After I checked the latest document, using go1.18.1 can complete all functions of cronjob, except testing ( #2642  I found the description of the test problem here). Thank you.

[2022-09-07 23:03] #2191 closed

[2022-09-08 19:15] shaneutt commented on #932
@camilamacedo86 had a relevant post about this on a potential approach to take this one on in Kubernetes slack: https://kubernetes.slack.com/archives/CAR30FCJZ/p1662658142047429 posting here for posterity and for my own reminder.

[2022-09-09 12:55] nikfot opened #2918 "Manager Flag Error: flag provided but not defined: -config"
### What broke? What's expected?

The flag --config is applied in manager config patch but does not exist in the flag declaration inside main.go.

### Reproducing this issue

If you leave this uncommented in config/default/kustomization.yaml :
[code]
and it gets patched, then when deploying
[code]
The pod stays in crashloopbackoff state with this log:
[code]
By taking a look into main, I can see t

[2022-09-10 18:58] camilamacedo86 opened #2921 "Clean up the tests and document test policy"
### What do you want to happen?

As discussed and agreed in the KubeBuilder meeting on Sep 08 2022: (Meeting:[ https://youtu.be/GzVcNr_F1SY](https://youtu.be/GzVcNr_F1SY) we just need to support the latest 3 k8s releases and has no reason for we run the tests against so many versions as we do now see:

<img width="895" alt="Screenshot 2022-09-10 at 19 45 33" src="https://user-images.githubusercont

[2022-09-10 19:03] camilamacedo86 commented on #2499
It seems done here: https://github.com/kubernetes-sigs/kubebuilder/pull/2900

We can open another issue if we find that something still missing.

[2022-09-10 19:03] #2499 closed

[2022-09-10 19:05] camilamacedo86 commented on #2782
Re-open this one it still missing we create a plugin for this feature and deprecate the flag.
Also, we should update the docs in the pr where it will be addressed.

[2022-09-10 19:11] camilamacedo86 commented on #2918
Hi @nikfot,

Did you follow the tutorial and enable the component config (https://book.kubebuilder.io/component-config-tutorial/tutorial.html) to be able to use it?

Also, you probably did not scaffold the project with version 3.6.0. Am I right? Note that the we had a bug fix to not scaffold the component config manifest without use the flag to properly init the project with, see: https://github.c

[2022-09-10 19:13] camilamacedo86 commented on #2913
Hi @Ishmeet,

See the error:

You probably have an invalid implementation in the API specs OR you did not call make manifests to use the controller-gen after implementing the API specs.

[2022-09-10 22:49] github-actions[bot] opened #2923 "🐛 Lint failed for c2236c3830bd37bc7025098ee8ec3bf86c06ffec"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/3029699834

[2022-09-10 22:57] camilamacedo86 commented on #2899
Hi @pmalek

As described above it seems a scenario that technically is hard/impossible to cover. And also, that should not really occur at the first place. See the error:

`panic: api flag redefined: make`

You put 2 plugins ( that has the same goal and would not make sense be executed together manually in the PROJECT file) then, the CLI runs the first plugin and when will run the second plugin se

[2022-09-10 22:57] #2899 closed

[2022-09-10 23:01] #2923 closed

[2022-09-10 23:06] camilamacedo86 commented on #2885
Hi @gaedemischwarz,

The sample/tutorial uses the go/v3 project which does not support Kustomize Version: v4.5.4.
Kustomuze v4 is only support in the go/v4-alpha plugin

So, did you create the project a new project with KB 3.5.0 trying to follow up the steps OR are you trying to use the sample: https://github.com/kubernetes-sigs/kubebuilder/tree/master/docs/book/src/cronjob-tutorial/testdata ?

[2022-09-11 00:15] Eileen-Yu commented on #2921
Hi @camilamacedo86 I'm very new to the community and is looking forward to join by contribution.

See you've nicely come up with this good-first-issue, and kindly bring detailed instructions.

So based on that, I tried to open 3 PR. Let me know if I'm missing anything.

[2022-09-11 05:20] 26tanishabanik commented on #2921
@camilamacedo86 , I would like to work on this issue

[2022-09-11 06:32] laxmikantbpandhare commented on #2782
@camilamacedo86 yes, working on plug-in part for this command.

[2022-09-11 11:44] camilamacedo86 opened #2926 "CI: we need have an option to validate the legacy/deprecated option with v1beta1"
### What broke? What's expected?

The flag crdVersion/webhookVersion is deprecated because its purpose is to allow users to scaffold projects which use crd/webhooks k8s core API version v1beta1 which is no longer used.

We have clean up the tests and the samples. However. now we have no longer a test that ensures that we do not break this option. For example,  see that if you bump the `const contr

[2022-09-11 15:13] github-actions[bot] opened #2927 "🐛 Lint failed for e7c871e8efff01644527c283ba4fb20e8d3dc0d7"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/3032308470

[2022-09-11 15:13] #2927 closed

[2022-09-11 15:25] camilamacedo86 commented on #2684
closing this one.

[2022-09-11 15:25] #2684 closed

[2022-09-11 15:28] camilamacedo86 commented on #2532
We update the CLI: https://github.com/kubernetes-sigs/kubebuilder/pull/2876
However, we need to update the scaffolds.
Also, since C+R and k8s made the update and their a dep we probably need to ensure the same for all scaffolds indeed go/v3

[2022-09-11 15:29] camilamacedo86 commented on #2926
Before doing the release we need to ensure it so that we can ensure that the feature (the logic in the common.go) is not broken to downgrade the versions.

[2022-09-11 15:42] camilamacedo86 commented on #2897
Following is some relevant info which would be important we cover in the doc:

(IMO) we could add a warning with:

Events should be raised in certain circumstances only and following this guideline acctually is not a good practice. See what the Kubernetes APIs convention describes when using them here: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conv

[2022-09-11 15:50] camilamacedo86 opened #2928 "Lint broke on master because of the usage of io/ioutil which is deprecated"
### What broke? What's expected?

See that the following error is faced when we run make lint ``
[code]

The goal of this task is replace the implementation so that we can fix it.

### Reproducing this issue

_No response_

### KubeBuilder (CLI) Version

master

### PROJECT version

_No response_

### Plugin versions

_No response_

### Other versions

_No response_

### Extra Labels

_No response

[2022-09-11 16:01] manu12miskin commented on #2928
/assign

[2022-09-11 16:03] 26tanishabanik commented on #2928
/assign

[2022-09-11 16:03] 26tanishabanik commented on #2926
/assign

[2022-09-11 16:04] camilamacedo86 commented on #2298
@jmrodri @rposts @tdaleibm,

To accomplish this one we need to:

- a) Ensure that envtest-tools ( https://storage.googleapis.com/kubebuilder-tools ) are built for this arch. To know how to do it see: https://github.com/kubernetes-sigs/kubebuilder/blob/master/RELEASE.md#to-build-the-kubebuilder-tools-artifacts-required-to-use-env-test (we need to check the branch)

- b) ensure that the auth-proxy-i

[2022-09-11 16:11] camilamacedo86 commented on #2183
@Kavinjsir we can close this one since the grafana plugin is merged available.
Also, let's add here the info for those that are looking for to check how it works

- The doc is available in: https://master.book.kubebuilder.io/plugins/grafana-v1-alpha.html
- The code implementation is in: https://github.com/kubernetes-sigs/kubebuilder/tree/master/pkg/plugins/optional/grafana/v1alpha
- The demo recor

[2022-09-11 16:11] #2183 closed

[2022-09-11 16:17] camilamacedo86 commented on #723
Hi @luxas,

This issue is open for a while. It seems hard for someone to get this one because I am not sure if I can follow the idea/proposal of this.

Could you please let us know if it would still be a requirement?
If so, could you please clarify why that would be required? What are the motivations and problems that we would like to solve?

I am removing the lifecycle/frozen and adding needs-inf

[2022-09-11 16:20] camilamacedo86 commented on #833
This one seems outdated. So, I am closing.
However, if anyone see that it should be re-opened please do it and/or open a new one providing further info

[2022-09-11 16:20] #833 closed

[2022-09-11 16:28] camilamacedo86 commented on #1885
Also, regards the motivations

Then, see the motivation for this project: https://github.com/brancz/kube-rbac-proxy/#motivation

Then, see that the auth-proxy was built to:

However, I also align with the pros of using NetworkPolicy (remove thrid-party and reduce the deps). But we might want to better analyse and discuss this one.

[2022-09-11 16:30] camilamacedo86 commented on #1885
Remove assign to @estroz he is not working on this one so others might want to.
Adding to needs-triage so that it can be re-discussed in the meetings
removing the frozen-lifecycle so that we can check how much it is or is not relevant for the community and should be priorized.

[2022-09-12 06:15] camilamacedo86 commented on #2510
Hi @shuheiktgw,

Are you working in this one?
If not, could you please unsigned so it can let others try to achieve this goa?

[2022-09-12 06:16] camilamacedo86 commented on #1622
Hi @parul5sahoo,

Hello, are you working on this one? If not could you please unsigned so that you let others try to check this one?

[2022-09-12 06:19] camilamacedo86 commented on #2921
Hi @26tanishabanik,

@Eileen-Yu is working on this one and is close to finishing.
I assign the task to her to make clear.

However, please feel free to choose any other task.

[2022-09-12 06:25] Kavinjsir commented on #2677
/assign

[2022-09-12 06:26] camilamacedo86 commented on #892
The new Deploy Image plugin allows users to scaffold API/Controllers to deploy and manage an Operand (image) on the cluster following the guidelines and best practices. It abstracts the complexities of achieving this goal while allowing users to customize the generated code. ([More info](https://master.book.kubebuilder.io/plugins/deploy-image-plugin-v1-alpha.html)). You can check also this demo in

[2022-09-12 06:43] camilamacedo86 commented on #617
This one would be a great fit for a FAQ section where we could do the same clarifications done in: https://sdk.operatorframework.io/docs/best-practices/common-recommendation/

We need to let users know that the goal is to:

When developing operators, it is essential for the controller’s reconciliation loop to be idempotent. By following the [Operator pattern](https://kubernetes.io/docs/concepts/ex

[2022-09-12 06:44] camilamacedo86 commented on #617
Since the above comment provides the description of what we need to do here, I think it is a good `good first issue`

[2022-09-12 06:47] camilamacedo86 commented on #2589
Yes, the goal of this task is to finalize the implementation done in the https://github.com/kubernetes-sigs/kubebuilder/pull/2084. So, you can get the changes made and address the comments.

IN this way, this one seems a good fit for the good first issue.

[2022-09-12 06:47] gaedemischwarz commented on #2885
Hello Camila,

i moved to Operator framework. Thanks for your help. But as i guess the operatorframework is using the Kubebuilder.
So let's see if i will get my Operator to Work with the Operator Framework.

Greets Michael

[2022-09-12 06:47] #2885 closed

[2022-09-12 06:49] camilamacedo86 commented on #2532
Hi @jakobmoellersap,

Are you able to help us update the scaffolds by doing the same changes in the scaffolds so we are able to do a new release with this change?

[2022-09-12 07:09] #2921 closed

[2022-09-12 07:10] github-actions[bot] opened #2932 "🐛 Lint failed for a6251f0a4f469e013161f6fc10a79d5033603266"
https://github.com/kubernetes-sigs/kubebuilder/actions/runs/3035302564

[2022-09-12 07:12] #2932 closed

[2022-09-12 07:19] #2928 closed

[2022-09-12 07:28] Ishmeet commented on #2913
worked with `make generate`

[2022-09-12 07:28] #2913 closed

[2022-09-12 08:01] 26tanishabanik commented on #2589
/assign

[2022-09-12 08:26] camilamacedo86 commented on #2918
HI @nikfot,

You need to follow the tutorial and change your scaffold to work with.
Note that the bug here is that the tool was scaffolding filles that should not because by default this option is NOT enabled.

Then, if you scaffold the project with previous versions or 3.6.0 you must follow the tutorial to enable this feature in your project. (https://book.kubebuilder.io/component-config-tutorial

[2022-09-12 08:30] camilamacedo86 commented on #2918
I am closing this one as sorted out.
If you see that you are still unable to achieve the goal, please open a new issue and provide the link for your project/repo as the steps are done so we are able to reproduce and check out how can we help you with.

Thank you.

[2022-09-12 08:30] #2918 closed

[2022-09-12 08:37] camilamacedo86 commented on #2828
Hi @rgrama,

Could you please check if you install the binary from Kubebuilder releases: https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.6.0
(Following the instructions to install: https://book.kubebuilder.io/quick-start.html#installation)

Will you see this issue? It is a problem with the brew formula because the binaries built by Kubebuilder do NOT require GCC. See: https://github

[2022-09-12 08:37] #2828 closed

[2022-09-12 09:03] nikfot commented on #2918
Thanks @camilamacedo86  for the quick answers!

[2022-09-12 12:35] mjlshen commented on #2897
I would like to work on this, /assign

[2022-09-12 14:57] parul5sahoo commented on #1622
/unassign

[2022-09-13 07:24] jakMoeller commented on #2532
Yup, was out the last few days. Will submit a draft today.

[2022-09-13 09:09] camilamacedo86 opened #2940 "Add support for windows"
### What do you want to happen?

## Description

We would like to add support for Windows. However, to achieve this goal would be required to ensure that tests/ci run against this platform, change the release to build the binary for windows and indeed ensure that controller-tools used by Kubebuilder could also run in this platform. On top of that, we would have other challenges such as the Makefil

[2022-09-13 09:10] camilamacedo86 commented on #300
Closed in favor of : https://github.com/kubernetes-sigs/kubebuilder/issues/2940

[2022-09-13 09:10] #300 closed

[2022-09-13 09:10] camilamacedo86 commented on #1409
Closed in favor of : https://github.com/kubernetes-sigs/kubebuilder/issues/2940

[2022-09-13 09:10] #1409 closed

[2022-09-13 09:10] camilamacedo86 commented on #1408
Closed in favor of : https://github.com/kubernetes-sigs/kubebuilder/issues/2940

[2022-09-13 09:10] #1408 closed

[2022-09-13 09:10] camilamacedo86 commented on #1407
Closed in favor of : https://github.com/kubernetes-sigs/kubebuilder/issues/2940

[2022-09-13 09:10] #1407 closed

[2022-09-13 09:10] camilamacedo86 commented on #1406
Closed in favor of : https://github.com/kubernetes-sigs/kubebuilder/issues/2940

[2022-09-13 09:10] #1406 closed

[2022-09-13 09:11] camilamacedo86 commented on #1405
Closed in favor of : https://github.com/kubernetes-sigs/kubebuilder/issues/2940

[2022-09-13 09:11] #1405 closed

[2022-09-13 09:11] camilamacedo86 commented on #1126
Closed in favor of : https://github.com/kubernetes-sigs/kubebuilder/issues/2940

[2022-09-13 09:11] #1126 closed

[2022-09-13 09:12] camilamacedo86 commented on #723
Removing the frozen since it is open for years without votes from the community.

[2022-09-13 14:29] camilamacedo86 commented on #2532
Done.

[2022-09-13 14:29] #2532 closed

[2022-09-14 06:20] laxmikantbpandhare commented on #2782
@camilamacedo86 - Raised PR #2942 for one of the fixes.

Working on the below part and will raise the PR soon.

`Move ComponentConfig behavior to a plugin that can be used in the init/edit subcommands.`

[2022-09-15 04:50] jakobmoellersap commented on #2627
Learnings out of various PRs:

- We do not want to support Mono-Repository style setups. Reasons are listed in https://github.com/kubernetes-sigs/kubebuilder/pull/2901#issuecomment-1245000591
- Instead it is encouraged to create multiple repositories in case you want to separately manage API Types and Controllers and also can release them differently
- If you still want to use mono-repo style setu

[2022-09-15 06:16] camilamacedo86 commented on #2627
Hi @jakobmoellersap,

Just to share, what ihmo would help a lot of address requirements as this one would properly handle external apis. See: https://github.com/kubernetes-sigs/kubebuilder/issues/1999

[2022-09-15 15:20] camilamacedo86 opened #2946 "Bump etcd latest release for envtools"
### What do you want to happen?

See that the release https://github.com/etcd-io/etcd/releases/tag/v3.5.5 was made so that we need to bump the etcd version in https://github.com/kubernetes-sigs/kubebuilder/tree/tools-releases to let us know to generate the envtest / kubebuilder tools using the latest version.

### Extra Labels

_No response_

[2022-09-15 17:35] #2850 closed

[2022-09-19 09:25] sj14 commented on #2508
Indeed, what @cmssczy said or `cronJob := &batchv1.CronJob{}`
@camilamacedo86 please consider reopening the issue until the docs are fixed.

[2022-09-20 05:03] akashjain971 commented on #980
@champak you can leverage [Predicates](https://sdk.operatorframework.io/docs/building-operators/golang/references/event-filtering/) and specifically [GenerationChangePredicate](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/predicate#GenerationChangedPredicate).

[2022-09-20 16:49] #2667 closed

[2022-09-20 17:39] camilamacedo86 opened #2953 "Update Kubebuilder CLI to use k8s 1.25"
### What do you want to happen?

Update the Kubebuilder CLI to use k8s 1.25 (we bumped only the scaffolds), see;

[code]

### Extra Labels

_No response_

[2022-09-20 17:39] camilamacedo86 commented on #2946
Done

[2022-09-20 20:56] Kavinjsir opened #2955 "`mdbook serve` failed when missing controller-gen"
### What broke? What's expected?

Missing `controller-gen` in go path would lead to `mdbook serve` failure when building the book locally:
[code]

Not sure why we need `controller-gen` for building docs.
And to resolved the error, I have to ensure that `controller-gen` is installed, such as:
[code]

### Reproducing this issue

1. Remove the `controller-gen` if installed:
[code]

2. Follow the step

[2022-09-21 10:19] #2946 closed

[2022-09-21 10:28] camilamacedo86 commented on #1487
HI @adambkaplan,

Are you working on this one? If not could you please unsigned that to you so others can try to do this one?

[2022-09-21 16:38] camilamacedo86 commented on #2926
The feature is probably broken since the updates are not looking for k8s 1.25 to downgrade if/when we use --crd-version=v1beta1. See: https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/golang/v3/commons.go#L95-L157

[2022-09-21 19:26] adambkaplan commented on #1487
@camilamacedo86 unsure how I was assigned to this issue (if I ever was). I am not actively working on this issue.

[2022-09-22 04:43] camilamacedo86 commented on #2508
HI @rayterrill,

We can update it for:
cronJob := &batchv1.CronJob{}

Could you please create a new issue where we will describe the place where the update should occur and why?
Also, would you like to contribute to this one? Please, feel free to push the PR.

[2022-09-22 06:55] #2508 closed

[2022-09-22 09:37] camilamacedo86 commented on #2627
Updated the labels accordingly since we convey that it would be better addressed via the docs. c/c  @jakobmoellersap,

[2022-09-22 09:46] camilamacedo86 commented on #2955
Hi @Kavinjsir,

We use the controller-gen bin to generate the markers doc, see:
**Code implementation**

[- https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/utils/markerdocs/main.go#L112-L122
- ](https://github.com/kubernetes-sigs/kubebuilder/blob/3d06aa368761d39bf4dc0fc9dd30b8e02e0d9590/docs/book/utils/markerdocs/main.go#L112-L122)

https://github.com/kubernetes-sigs/kubebuild

[2022-09-22 09:52] camilamacedo86 commented on #2286
@Kavinjsir,

This one is related to the metrics so you might like to check it out. I think we need just to see how we could add the kube-state-metrics to kubebuilder.

[2022-09-22 09:57] chrischdi commented on #2286
Would be a great thing to have and at the Cluster API project would be interested in it too
- xref: https://github.com/kubernetes-sigs/cluster-api/issues/7158

I was about to ask the question in a new issue at kube-state-metrics if that is a reasonable way forward.

Happy to help working on it!

[2022-09-22 13:51] Kavinjsir commented on #2955
Yeah, sounds good!
/assign

[2022-09-22 16:27] camilamacedo86 commented on #932
We have been discussing this issue. And we are thinking about accepting this one and changing the default layout into go/v4-alpha. Also, a suggestion made was to scaffold the controllers under the pkg/internal path.

Therefore, we will check it out better and we will raise this again in the next meeting to see if we can agree to a final decision. Please, feel free to attend if you would like to sp

[2022-09-22 16:36] shaneutt commented on #932
Glad to hear it @camilamacedo86. I'm definitely in favor of the change, particularly to put the controllers under `internal/` and the APIs under `pkg`. I wasn't able to make it to today's meeting, but I will come to the next one and see how best I can contribute. :+1:

[2022-09-23 06:06] camilamacedo86 opened #2963 "Conversion webhook path failure with "the server could not find the requested resource""
### Discussed in https://github.com/kubernetes-sigs/kubebuilder/discussions/2351

<div type='discussions-op-text'>

<sup>Originally posted by **tpiperatgod** September 26, 2021</sup>
Hi, I'm having a problem with the webhook marker (referenced in [Tutorial: Multi-Version API - The Kubebuilder Book](https://kubebuilder.io/multiversion-tutorial/tutorial.html)).

## Environment
[code]

## Issue Descr

[2022-09-23 06:10] #2955 closed

[2022-09-23 11:01] oscr commented on #2908
@camilamacedo86 With #2956 merged I think this is completed now. Thank you for all your guidance :pray:

[2022-09-23 13:29] camilamacedo86 commented on #2908
Thank you for all your help @oscr.
You were amazing !!!

[2022-09-23 13:29] #2908 closed

[2022-09-24 04:37] yashsingh74 commented on #2837
/assign

[2022-09-25 17:13] ytimocin commented on #958
I am getting the same error following the tutorial. I did all the way up to https://book.kubebuilder.io/cronjob-tutorial/running-webhook.html but now when I try to create a sample cron job, I get the following error:

[code]

Any ideas? @DirectXMan12 @DavidLangworthy

Thanks in advance!

[2022-09-26 09:07] 26tanishabanik opened #2969 "Kubebuilder support for Rust"
### What do you want to happen?

While building controllers in Rust, I realised, there are many features missing unlike building controllers in Go, components like, automatic CRD generation, RBAC roles, automatic config file generation and so on.
Implementing a similar feature like Kubebuilder in rust would be great.

Any help would be appreciated, thanks

### Extra Labels

_No response_

[2022-09-26 18:20] #2837 closed

[2022-09-26 19:41] varshaprasad96 commented on #2969
@26tanishabanik this is an interesting feature request. Rust is definitely becoming popular. In order to support more languages and facilitate the extensibility of KB to be used as a library, KB plugins phase 2 plugins were introduced (https://github.com/kubernetes-sigs/kubebuilder/issues/2600). This will allow users to develop plugins that support operator development in a language agnostic way.

[2022-09-27 03:21] yashsingh74 commented on #2777
/assign

[2022-09-27 04:06] 26tanishabanik commented on #2969
@varshaprasad96 , Thank you for the quick response. It would be great if this issue can be discussed in the upcoming community meeting.
I have started some development from my side too. Would love to hear, about your thoughts

[2022-09-27 11:14] camilamacedo86 commented on #2969
Hi @26tanishabanik,

As @varshaprasad96 described KubeBuilder is also a LIB that can help out developers create their tools and plugins such as to support other languages. A good example is Operator-SDK which uses KubeBuilder as a lib and can be focused on providing helpers to integrate the projects with OLM (https://olm.operatorframework.io/) as provide options to create projects using Ansible/He

[2022-09-27 14:01] everettraven commented on #2969
Hi @26tanishabanik - just to echo what @camilamacedo86 and @varshaprasad96 mentioned, I feel like the ask of creating the tooling to support specific languages besides Go is beyond the scope of the work that the maintainers of Kubebuilder are likely to be able to take on.

Instead, we have identified the need for users of Kubebuilder and the community to be able to extend it to suit their needs. W

[2022-09-27 20:16] everettraven commented on #2969
@26tanishabanik I would be happy to take a look and evaluate the general concepts, but I wouldn't be able to give much insight on the actual Rust code itself as I am not familiar with Rust

[2022-09-27 20:17] 26tanishabanik commented on #2969
Thank you for such a quick response, @everettraven , yes, please do suggest and evaluate the general concepts, that will also help me

[2022-09-27 20:21] everettraven commented on #2969
@26tanishabanik would you mind sharing a link that I can use to take a look?

[2022-09-27 20:22] 26tanishabanik commented on #2969
@everettraven , sure, I can share a link, though it's very raw right now, I mean, not very neat, I hope that is okay. If you don't mind, can I do it tomorrow, when I open my system?

[2022-09-27 20:23] everettraven commented on #2969
@26tanishabanik Sure thing, no rush!

[2022-09-27 20:25] 26tanishabanik commented on #2969
Thanks a lot @everettraven

[2022-09-28 03:35] ahmetb opened #2971 "kubebuilder init: fails with error "version 0 is not supported""
### What broke? What's expected?

Reading the https://book.kubebuilder.io/quick-start.html, it appears commands like

    kubebuilder init --domain my.domain --repo my.domain/guestbook --plugins=go/v4-alpha

are supposed to work but:

1. --domain flag doesn't exist  (per --help)
2. --repo flag doesn't exist (per --help)
3. command `./kubebuilder_darwin_arm64 init` with default flag values fails wi

[2022-09-28 05:36] Kavinjsir commented on #2286
Sounds good! I'd be glad to work on this!

[2022-09-28 05:36] Kavinjsir commented on #2286
/assign

[2022-09-28 08:18] 26tanishabanik commented on #2969
@everettraven , This is the repo https://github.com/26tanishabanik/kubebuilder-rust-poc
You can tell me, from what modules or point from where starting would be easier, right now it's a bit haphazard, for me

[2022-09-28 11:13] camilamacedo86 commented on #2969
HI @26tanishabanik,

To create a plugin based on any other language, I think would be nice you check the Ansible/Helm plugins implementations in Operator-SDK as an example, see:
- https://github.com/operator-framework/operator-sdk/tree/master/internal/plugins/ansible/v1
- https://github.com/operator-framework/operator-sdk/tree/master/internal/plugins/helm/v1

[2022-09-28 11:14] #2969 closed

[2022-09-28 11:16] camilamacedo86 commented on #2971
What is the go version used locally?
Could you please run `go version` and output the result here?
Also, are your Golang local env properly set up?

[2022-09-29 09:38] #2677 closed

[2022-09-29 19:33] camilamacedo86 commented on #2777
By looking at this issue, it was opened too long ago and it is might out of context. However, I think that we can add here:

See that the envtest is commonly used to test the controllers. It is an integration test to "unit" test the controller/reconcile implementation.

Therefore, we do not need to use the metrics or cert-manager to run these tests usually. For example, look: https://github.com/ku

[2022-09-29 23:16] nate-double-u opened #2983 "Netlify: select a new build image"
### What broke? What's expected?

Notice from Netlify

As reported via deploy logs:

All Netlify builds using the Xenial build image will begin failing in the week of November 15th, 2022.

https://app.netlify.com/sites/etcd/settings/deploys#build-image-selection

### Reproducing this issue

_No response_

### KubeBuilder (CLI) Version

n/a

### PROJECT version

_No response_

### Plugin versions

[2022-09-29 23:49] ahmetb commented on #2971
I think the Go environment does not matter here because the result is the same if I download the precompiled binary as well. Are you seeing a different result?

[2022-09-30 00:35] laxmikantbpandhare commented on #2971
For me, it's working

[code]

[2022-09-30 12:51] camilamacedo86 commented on #2971
Hi @ahmetb,

The Go version matter because this error seems to be the go version used. On top of that, we are unable to reproduce this issue, and it all leads to a wrong Golang setup in your local env. Then, without you providing all details and info it is regarded we are able to try to help you out.

[2022-09-30 16:56] ahmetb commented on #2971
Apologies, I was able to run the tool itself on an empty dir with go1.19.1. For whatever reason, in my module it gives an error. I'll try to troubleshoot that myself. Thanks for helping out and sorry for the false bug report.
/close

[2022-09-30 16:56] #2971 closed

[2022-10-01 05:04] tsuzu commented on #2828
In my case, using Go from golang.ord/dl instead of that from linuxbrew solved the problem.

[2022-10-01 09:07] camilamacedo86 commented on #2983
c/c @jmrodri @varshaprasad96 @everettraven

[2022-10-01 09:09] camilamacedo86 commented on #2963
In this case, it is required to try to reproduce and check how the option should be used and if it is or is not a bug.

[2022-10-01 09:11] camilamacedo86 commented on #2953
It is done now. Closing as sorted out.

[2022-10-01 09:11] #2953 closed

[2022-10-01 09:15] camilamacedo86 commented on #2874
Hi @Kavinjsir,

This one is to doc how to use the helper and options. You did some docs already, so you might want to look if we can improve the docs for we finish this one.

[2022-10-01 15:51] camilamacedo86 commented on #932
**Regards adding the controllers under internal:**
- It is not possible because we need to use the controllers in the main.go
- Also, it might let the impression that would be recommended people import projects in another project when that does not seems like the best practice, and we would like to encourage that.

c/c @shaneutt

[2022-10-01 23:31] jgillich commented on #932
You can. Internal packages are accessible by packages sharing the path of its parent. Anything under `foo.com/bar` will be able to access `foo.com/bar/internal`.

[2022-10-02 14:02] camilamacedo86 commented on #932
Hi @jgillich,

That is not achievable and out of scope.
If you would like to propose an available and maintainable solutions for we are able to have the paths configurable and working for all plugins please feel free to push a design doc so that we can discuss it.

[2022-10-03 02:28] bleech1 commented on #2624
/remove-lifecycle stale

[2022-10-03 14:37] quentinalbertone opened #2991 "Update golang version and kube-builder"
### What broke? What's expected?

Hi
I recently updated golang on my computer from `1.17` to `1.19`,
during the process I also updated the version of kube-builder (I just [reinstalled kubebuilder](https://book.kubebuilder.io/quick-start.html#installation)) from `3.3` to `3.7`.
But now I cannot generate code containing DeepCopy, DeepCopyInto, and DeepCopyObject method implementations.

[code]

I su

[2022-10-04 19:53] shaneutt commented on #932
One thing I've never been clear on, is _why_ is this type of option so hard to add to `PROJECT` so that individual projects can simply choose where they want to put packages?

[2022-10-05 12:37] camilamacedo86 commented on #932
Hi @shaneutt,

The project is a scaffold. Then, editing the PROJECT file will NOT change what was done already.
Then, I cannot see how that could work. Therefore, we have many plugins. dependences and options and ALL/ANY would need to have a way to change what was done already based on the changes in this file.

However, if you see options please, feel free to push a design doc and/or PR with any

[2022-10-05 13:08] camilamacedo86 commented on #2991
That is probably because of the controller-gen version used.
You are now using the latest version of the CLI but your project was scaffold using old versions.
I would recommend you upgrade the controller-gen version used (see your Makefile file) as the go.mod deps as you can check in the samples for the tag used, see:

- Go.mod
https://github.com/kubernetes-sigs/kubebuilder/blob/3bfc84ec8767fa760d

[2022-10-05 16:18] camilamacedo86 opened #2999 "Unable to run go mod tidy on master branch (issue with deps used in config-gen alpha option)"
### What broke? What's expected?

Not face the following error with the deps on master:

[code]

### Reproducing this issue

Run go mod tidy on master

### KubeBuilder (CLI) Version

master

### PROJECT version

_No response_

### Plugin versions

_No response_

### Other versions

_No response_

### Extra Labels

/kind cleanup

[2022-10-05 16:30] camilamacedo86 opened #3000 "Create a new plugin OR a new project with config-gen option"
### What do you want to happen?

The idea of this issue would be to create a new plugin () following the Kubebuilder approach OR a new project like KubeGen using the alpha option config-gen available up to 3.7.0 release, see: https://github.com/kubernetes-sigs/kubebuilder/tree/v3.7.0/pkg/cli/alpha/config-gen

**To create a plugin**

One of the options would be we have config-gen as an optional plu

[2022-10-05 17:24] mrbobbytables commented on #2983
its been resolved 👍

/close

[2022-10-05 18:35] camilamacedo86 opened #3002 "Remove go/v2 plugin option"
### What do you want to happen?

Remove the implementation of go/v2 plugin and the tests and samples which still used by it.
We should also remove the legacy Project layout v2.

Note that we plan to do that when we bump k8s 1.26 ONLY.

### Extra Labels

_No response_

[2022-10-06 03:47] Kavinjsir commented on #2874
Hi @camilamacedo86 ,  the idea here looks good to me. Since you've already provided rich context above, it looks a great support for me to start.
Before moving on, I have some questions:
1. Where would you like to have the documentation in book? Maybe add a new section in [create-your-own-plugin](https://master.book.kubebuilder.io/plugins/creating-plugins.html)?
2. Are you suggesting that we may p

[2022-10-06 03:47] Kavinjsir commented on #2874
/assign

[2022-10-06 13:35] #2563 closed

[2022-10-06 13:44] camilamacedo86 opened #3005 "Add target to build kubebuilder-tools for windows"
### What do you want to happen?

Relate to : https://github.com/kubernetes-sigs/kubebuilder/pull/2984

### Extra Labels

_No response_

[2022-10-06 13:55] camilamacedo86 commented on #2874
HI @Kavinjsir,

My idea here would to be supplement the docs (I think [create-your-own-plugin](https://master.book.kubebuilder.io/plugins/creating-plugins.html) is a good place for that) to provide the info in the description. So that, we can help out those that are looking to build their own plugins.

See that it was required to help out in the discussion topic linked here.

[2022-10-06 16:43] quentinalbertone commented on #2991
Thanks I copy past the `makefile` as well as the `go.mod` a little `go mod tidy`and delete the `bin` directory and it works fine now.

I think it could be a good Idea to offer a way to scaffold again the project.

[2022-10-07 03:51] XuPengfei-1020 commented on #2053
How can I speificy k8s version v0.21.2 with the newest kubebuilder?
If it can`t, what version of kubebuilder shoud I choose?
Thanks.

[2022-10-07 03:57] XuPengfei-1020 commented on #2053
So, how can I speificy k8s version v0.21.2 with the newest kubebuilder?
If it can`t, what version of kubebuilder shoud I choose?
Thanks.

[2022-10-07 11:01] camilamacedo86 commented on #932
A PR was done with the request to add the api/controllers under the pkg directory: https://github.com/kubernetes-sigs/kubebuilder/pull/2985

Please, feel free to check it out. The next step is to check the pros/cons and decide if we will not move forward with attending to the request made by the community.

c/c @jmrodri @varshaprasad96 @everettraven

[2022-10-07 11:23] camilamacedo86 commented on #2991
Hi @quentinalbertone,

Yes. That would be great and very desirable if we could have a solution via tooling that could update the projects. See https://github.com/kubernetes-sigs/kubebuilder/issues/2068#issuecomment-1211204061 and thought about how we could achieve that.

We also have the PR (WIP): https://github.com/kubernetes-sigs/kubebuilder/pull/2895/files but I am not sure if @rumstead has bee

[2022-10-07 11:23] #2991 closed

[2022-10-07 11:52] camilamacedo86 commented on #2627
Hi @jakobmoellersap,

I think we could doc that, ideally to not hurt concepts like single responsibility if a project would like to use an API that is defined/owned by another project then, the recommendation would to be work with these Kinds/APis like external types similar we could create a reconciliation for a core type.

Also, we can link:
- The doc:  https://github.com/kubernetes-sigs/kubebui

[2022-10-07 19:11] camilamacedo86 commented on #2068
See a draft about how I thought that we could move to achieve this goal: https://github.com/kubernetes-sigs/kubebuilder/pull/3007

[2022-10-09 02:39] laxmikantbpandhare opened #3009 "Component-config flag enabled causing issue"
### What broke? What's expected?

There are 2 places where we must revert the sign which we missed as part of old PR https://github.com/kubernetes-sigs/kubebuilder/pull/2826

[code]

it should be now modified to

[code]

As of now, we are scaffolding the `controller_manager_config.yaml` file only when the flag `--component-config` is passed.

### Reproducing this issue

[code]

It should scaffold

[2022-10-09 02:39] laxmikantbpandhare commented on #3009
/assign

[2022-10-09 02:40] laxmikantbpandhare commented on #3009
@camilamacedo86 - Could you please take a look once?

[2022-10-09 12:22] jakobmoellersap commented on #2627
That sounds great! I'll get to it and link the PR here.

[2022-10-10 18:39] jmrodri commented on #2999
/override go-apidiff

[2022-10-10 22:37] #2999 closed

[2022-10-11 15:19] #2777 closed

[2022-10-13 09:28] fanux commented on #1501
@jgillich

I tried to develop a webhook for [sealos (a kubernetes distribution)](https://github.com/labring/sealos) :

[code]

When I deploy the controller, cert manager will work, but how can I fixed this issue in dev env?

[2022-10-13 10:28] jgillich commented on #1501
Uncomment the lines in your config. https://github.com/kubernetes-sigs/kubebuilder/issues/1501#issuecomment-1002478317

[2022-10-13 14:44] astraw99 opened #3016 "Got errors on kubebuilder v3 quick start"
### What broke? What's expected?

Using the latest kubebuilder cli, quick start a new project based on the [official document](https://book.kubebuilder.io/quick-start.html), got these errors:
1. Enable the leader-election, then `make run`, got error:
[code]

2. After `make deploy IMG=xxx/xxx:tag`, the controller-pod got error:
[code]

3. As the doc said `Important: Run "make" to regenerate code af

[2022-10-13 15:18] laxmikantbpandhare commented on #3016
`make run` is working for me. But I haven't updated any code for the leader election.

[code]

[2022-10-13 15:19] laxmikantbpandhare commented on #3016
May I know what changes you did to the leader election?

[2022-10-13 15:22] astraw99 commented on #3016
On generated `main.go` L57, just set leader-election `true`.
[code]

[2022-10-13 15:33] everettraven commented on #3016
Using `make run` runs the controller as a process external to the cluster (on your local machine). Encountering this error when setting leader election and then running outside of the cluster makes sense to me.

This error is a bit different. I'm not sure why it would be getting a permission denied when attempting to load the kubeconfig.

It seems possible it could be related to `ServiceAccounts`

[2022-10-13 16:18] everettraven commented on #3016
After running through the tutorial locally and using `make deploy IMG=...` I was unable to replicate the error:

I even attempted it after forcing the `--leader-elect` flag to default to `true` as mentioned:

I did *not* need to do:

[2022-10-13 19:58] liggitt commented on #3016
That should not be necessary. Service accounts still *mount* tokens by default in 1.24, they just do so using ephemerally generated tokens, not tokens stored in Secret API objects

[2022-10-14 03:53] astraw99 commented on #3016
My cluster K8s version is:
[code]
Kubebuilder version is:
[code]
With these context, will replicate the error.

[2022-10-14 14:44] everettraven opened #3019 "Add an action for linting the YAML files that are generated during scaffolding"
### What do you want to happen?

**Description:**
We should add a GitHub Action to run lint checks against the YAML files that are generated as part of scaffolding out a project.

A popular action seems to be: https://github.com/marketplace/actions/yaml-lint

**Motivation:**
Operator-SDK uses a `yamllint` check as part of the ansible plugin e2e molecule tests and it has failed a few times in the p

[2022-10-17 10:44] camilamacedo86 commented on #3016
The steps are not right, see that you should run make install before make run.

[2022-10-17 10:48] camilamacedo86 commented on #3016
Hi @liggitt,

The following steps are not accurate.

[code]

Could you please perform the suggested steps to check if the error is still faced?

<img width="886" alt="Screenshot 2022-10-17 at 07 48 28" src="https://user-images.githubusercontent.com/7708031/196158898-c81a30ac-2b31-4fce-8d25-e7ebb69be411.png">

[2022-10-17 10:58] camilamacedo86 commented on #3019
Hi @everettraven,

Could you please push a PR to fix the yaml which has the lint issue?
Also, please feel free to push a PR which will add a CI test (GitHub action) to lint the yaml files generated in the testdata samples. I do not see any problem to do it.

Indeed would be great if we are able to do the same check to lint the golang code generated with golangci-lint and we have an issue open for

[2022-10-17 13:01] astraw99 commented on #3016
@camilamacedo86 I modified this first, and then `make install, make run`, then will encounter the LeaderElectionNamespace error.
PTAL thanks.

[2022-10-17 23:09] laxmikantbpandhare commented on #2782
@camilamacedo86 raised PR for `init/edit` subcommands: https://github.com/kubernetes-sigs/kubebuilder/pull/3022

[2022-10-18 03:08] astraw99 opened #3028 "Default v3 scaffold manager pod got permission denied error"
### What broke? What's expected?

Based on the quick start doc, did the `make manifests, make install`, then
`make docker-build docker-push IMG=xxx/xxx:tag, make deploy IMG=xxx/xxx:tag`, then
in the cluster the controller-pod got error:
[code]

### Reproducing this issue

Based on the quick start doc, did the `make manifests, make install`, then
`make docker-build docker-push IMG=xxx/xxx:tag, make

[2022-10-18 07:06] astraw99 commented on #3016
Yes, it is the `make run` to test the project outside of the cluster got the leader-election namespace error.
Raised a PR https://github.com/kubernetes-sigs/kubebuilder/pull/3021 to fix it.

[2022-10-18 15:11] camilamacedo86 commented on #3016
HI @astraw99,

Is the same error faced using make deploy IMG or not?

[2022-10-18 15:19] camilamacedo86 commented on #3028
Hi @astraw99,

This error is NOT reproducible with the default scaffold and with all mocks generated in the e2e tests. Also, the default scaffold does NOT use a service account. So, the following some questions:

- a) Are you able to reproduce this issue by following the quick start and creating a new project generated with the latest Kubebuilder version?
- b) Did you create your project with Kube

[2022-10-19 03:31] astraw99 commented on #3028
@camilamacedo86
Seems it is a common issue, also faced in https://github.com/cert-manager/cert-manager/issues/5513

[2022-10-20 09:32] breuerfelix commented on #1501
@jgillich we are talking about the go binary here, you just can't run it in http mode (in order to use an https proxy in front of it for example)

the WebHookServer just won't run in http mode.

[2022-10-20 16:11] jmrodri commented on #3019
/label triage/accepted

[2022-10-20 16:12] jmrodri commented on #3016
/label triage/accepted

[2022-10-20 16:13] jmrodri commented on #3005
/close

[2022-10-20 16:14] jmrodri commented on #3002
/label triage/accepted

[2022-10-20 16:18] jmrodri commented on #2963
/assign @jmrodri

[2022-10-21 14:19] camilamacedo86 commented on #3028
HI @astraw99,

The description provided here does enable certmanager and it seems not accurate.
The error described by you can NOT be reproduced with the steps provided.

See that we indeed have the cert-manager enabled in the e2e tests and the issue is NOT faced.

Can you please provide all steps required for we create a new project from the scratch and face this issue?

[2022-10-22 07:53] #3016 closed

[2022-10-22 07:54] camilamacedo86 commented on #3016
Hi @astraw99,

The default scaffold does have not SA. So, how can that can be faced by default?

[2022-10-22 09:03] camilamacedo86 opened #3030 "API "k8s.io/api/admission/v1beta1"` is no longer served since 1.25 and cannot be used"
### What do you want to happen?

The API "k8s.io/api/admission/v1beta1"` is no longer served since 1.25 and should no longer be scaffolded from the new scaffolds. See: https://kubernetes.io/docs/reference/using-api/deprecation-guide/#psp-v125

We might want to only change it for go/v4-alpha.

### Extra Labels

/kind cleanup

[2022-10-22 09:14] camilamacedo86 opened #3031 "Update tutorial to no longer use batch/v1beta1 API version of CronJob which is no longer be served in v1.25"
### What do you want to happen?

Update tutorial to no longer use  batch/v1beta1 API version of CronJob which is no longer be served in v1.25

### Extra Labels

/kind cleanup

[2022-10-22 16:35] astraw99 commented on #3028
@camilamacedo86
Yes, scaffold does not have SA, but the pod startup need to open SA token file:
[code]
to build `InClusterConfig`, then encountered this SA permission denied error.

Tested the manager pod works well in K8s v1.25, but it got this issue on K8s v1.21.
Seems it is a permission bug which have been fixed in higher K8s verison. Or maybe there is some other reason?

[2022-10-22 21:08] krishnaindani commented on #3031
hey, whuich version does this need to be updated with? Could I work on this?

[2022-10-23 02:54] camilamacedo86 commented on #3028
Hi @astraw99,

Could you please provide an example?
From the scratch, we need to create a project and do what customization on top to face this error.
Are you using cert-manager? if so, did you change the default version scaffolded by the CLI? What version are you using?

The e2e tests run against now only from 1.23. However, a few months ago we tested the default scaffolds from 1.16 and we never

[2022-10-23 02:57] camilamacedo86 commented on #3031
Hi @krishnaindani,

That is great. See https://kubernetes.io/docs/reference/using-api/deprecation-guide/#cronjob-v125 we need replace batch/v1beta1 with batch/v1 in the tutorial samples: https://github.com/kubernetes-sigs/kubebuilder/search?q=batch%2Fv1beta1

That means, replace:

[code]

With:

[code]

[2022-10-23 03:08] krishnaindani commented on #3031
Thanks, Could you assign this to me? Okay, I will start working on this.

[2022-10-23 03:17] camilamacedo86 commented on #3031
/assign @krishnaindani

[2022-10-23 04:56] astraw99 opened #3036 "Proposal: Use `klog` as kubebuilder default logger"
### What do you want to happen?

Using the latest kubebuilder cli, quick start a new project based on the [official document](https://book.kubebuilder.io/quick-start.html).
After `make deploy IMG=xxx/xxx:tag`, the controller-pod log time is just long numbers (1.6656692709539523e+09):
[code]

Should make it human readable like:
[code]

Related issue: https://github.com/kubernetes-sigs/controller-ru

[2022-10-23 05:11] astraw99 commented on #3036
@camilamacedo86 @alvaroaleman @joelanford
c/c @jmrodri @varshaprasad96

[2022-10-23 13:33] astraw99 commented on #3028
@camilamacedo86 Found the SA token permission related issues and PRs:
https://github.com/kubernetes/kubernetes/issues/74565
https://github.com/kubernetes/kubernetes/issues/82573
https://github.com/kubernetes/enhancements/pull/1598
https://github.com/kubernetes/kubernetes/pull/89193

From the latest code:
https://github.com/kubernetes/kubernetes/blob/641197dc9562d8affd428d05046a8921b3a367e0/pkg/vol

[2022-10-24 02:09] krishnaindani commented on #3031
Have created a pr here, could you please review this and let me know if any changes needs to be done?

[2022-10-24 07:35] camilamacedo86 commented on #3036
Hi @astraw99,

By looking at your example using klog:  (proposed PR changes https://github.com/kubernetes-sigs/kubebuilder/pull/3033 )

[code]

- It is not logging the controllers/kind  that will be reconciled
- it does not provide diff levels to allow admins to increase them to debug level for example
- it does not allow config by flags.

Am I right?
So, could you please check that and see if wou

[2022-10-24 07:38] #3031 closed

[2022-10-24 19:12] dean7474 commented on #594
@DirectXMan12 How can we add a watch later?

[2022-10-25 08:36] codablock commented on #3005
@jmrodri May I ask why this was closed? I can not see the windows artefacts in the GCS bucket: https://storage.googleapis.com/kubebuilder-tools

[2022-10-25 14:51] jmrodri commented on #3005
/reopen

[2022-10-25 20:06] AlmogBaku commented on #2388
/remove-lifecycle stale

[2022-10-26 02:33] mikelsid opened #3045 "Makefile buildx"
### What broke? What's expected?

docker-buildx target in generated Makefile not working properly

### Reproducing this issue

[code]

### KubeBuilder (CLI) Version

3.7.0

### PROJECT version

3

### Plugin versions

[code]

### Other versions

go version go1.19.2

### Extra Labels

_No response_

[2022-10-26 09:44] #3045 closed

[2022-10-26 16:01] camilamacedo86 commented on #3028
Hi @astraw99,

Still not clear for me when the error is faced. If we create a project from the scratch and run it against k8s version x will it happen and if we test against version > X then it is solved? Could you please clarify?

[2022-10-26 17:28] lucasmellos opened #3048 "could not decode file into runtime.Object on config component returning"
### What broke? What's expected?

I've tested my multiple times and then tested the example available in the book [here](https://github.com/kubernetes-sigs/kubebuilder/tree/master/docs/book/src/component-config-tutorial/testdata/project) and the component config is returning

[code]

### Reproducing this issue

[code]

### KubeBuilder (CLI) Version

Version: main.version{KubeBuilderVersion:"3.7.0"

[2022-10-26 18:57] camilamacedo86 commented on #3048
Hi @lucasmellos,

`make run` will try run the manager outside of the cluster only. (You would any way need to apply the manifests first)
Can you try first:

- go mod tidy (to ensure that you will get the deps)
- make all (to run make manifest and make generate)

Then, I'd recommend you follow up the QUICK START steps/commands : https://book.kubebuilder.io/quick-start.html#test-it-out

- make insta

[2022-10-26 19:36] lucasmellos commented on #3048
Hey @camilamacedo86 thanks for sharing these infos.

That was on my side within the GVK, although I noticed something that isn't 100% clear on the documentation.

On the ```manager_auth_proxy_patch.yaml```  file, the manager container specifies some flags that are now encapsulated by the config file. These flags generate some conflicts since we're using config file for them. Should we suppress all

[2022-10-27 02:44] astraw99 commented on #3028
Yes, we can reproduce by create a project from scatch, then do the `make manifests, make install,
make docker-build docker-push IMG=xxx/xxx:tag, make deploy IMG=xxx/xxx:tag`, will reproduce the error.
The K8s version is:
[code]
The KB version is:
[code]

[2022-10-27 08:58] camilamacedo86 commented on #3028
Hi @astraw99,

So the error ONLY occurs on versions < 1.22?  When the issue was solved in k8s?

[2022-10-27 09:22] camilamacedo86 commented on #3048
Hi @lucasmellos,

If you create the project with old versions you might fail in the issue: https://github.com/kubernetes-sigs/kubebuilder/pull/2826/files OR in the issue https://github.com/kubernetes-sigs/kubebuilder/pull/3013 if you are using the latest version.

See that the componentConfig is an optional feature and the default scaffold should not have the files/changes required to work with. T

[2022-10-27 09:33] astraw99 commented on #3028
Yes, I think so. My version is 1.21.
Tested it works weill in 1.24 and 1.25, but I don't have 1.22, 1.23, or < 1.21 versions to test.

[2022-10-27 11:34] camilamacedo86 commented on #3028
Hi @astraw99,

Here into the PR for the doc https://github.com/kubernetes-sigs/kubebuilder/pull/3044 you added that it also sorted out with the PR [set proper file permission for projected service account volume #89193](https://github.com/kubernetes/kubernetes/pull/89193). If so, that was merged on 5 May 2020 and we could check what releases have it or not.

However, note that these changes are in

[2022-10-27 12:14] grzesuav commented on #3036
@astraw99 for human readability you can adjust `zap` configuration it is very readable logger.

[2022-10-27 13:04] astraw99 commented on #3028
In the PR #3017, there is a "may" doc info, so it might be proper to add this PR.
PTAL thanks.

[2022-10-27 19:28] grzesuav commented on #3036
Currently in go ecosystem `logr` as interface is frequently used, zap also implements this - https://github.com/go-logr/zapr

Full list - https://github.com/go-logr/logr#implementations-non-exhaustive

Among the choices, `zap` is rather fast one - https://github.com/uber-go/zap#performance

IMO in scaffolding all places generic `logr` should be used as interface, with `zap` configured in init. It

[2022-10-28 16:22] momom-i commented on #2589
@camilamacedo86 Is it already done? If not, I'd like to work on this!

[2022-10-28 17:43] camilamacedo86 commented on #2589
Hi @momom-i.

It is not. Please, feel free to work on this one.
Your collaboration is very welcome.

Thx.

[2022-10-28 20:16] lucasmellos commented on #3048
Improvements will be added to new issues due to their nature.

[2022-10-28 20:16] #3048 closed

[2022-10-31 13:12] zerunhu opened #3052 "The replicaset error contradicts the service endopoint when I put the webhook and controller code together"
### What broke? What's expected?

After I wrote the controller and crd code using kubebuilder, I wanted to add a webhook for core type to the code, so I followed the documentation directly from `5.5.2 Admission Webhook for Core Types`, and followed `1.9.2 Deploying Admission Webhooks` to deploy and all went well.
I need to do some tests, so i modified the controller's deployment's replicas from 1

[2022-10-31 19:28] MaxThom commented on #2828
same here, I had installed go with brew. Instead, ive installed it from the release page and worked.
https://go.dev/doc/install

running kubebuilder 3.7 and go 1.18.7

[2022-10-31 21:25] camilamacedo86 commented on #1723
We can close this one because we have a FAQ section now, see: https://github.com/kubernetes-sigs/kubebuilder/pull/3044

Regards the need:

It seems outdated since v1beta1 CRD is no longer supported.

So, it seems fine we close this one.

[2022-10-31 21:25] #1723 closed

[2022-10-31 21:27] camilamacedo86 commented on #3028
Hi @astraw99,

The issue does not occur as you checked in the latest version of k8s.
So, I do not think that we should change the scaffolds with a workaround to solve issues for old k8s versions.
Also, we could address this scenario with the FAQ doc: https://github.com/kubernetes-sigs/kubebuilder/pull/3044

So, wdyt? Could we close this one? Is that make sense?

[2022-10-31 21:35] camilamacedo86 commented on #3036
Hi @grzesuav and @everettraven,

WDYT about creating a PR with the suggestions so that we can have a better idea and discuss the proposed solution?

[2022-11-01 02:26] astraw99 commented on #3028
OK, we can close it now.

[2022-11-01 02:26] #3028 closed

[2022-11-01 03:00] #2874 closed

[2022-11-01 07:42] camilamacedo86 commented on #3052
Hi @zerunhu,

Sorry but it shows hard to follow up on your scenario here. WDYT about we provide the detailed steps to reproduce your issue? So, could you try to do the same from the scratch using the latest version and let us know:

- a) What are the steps that we need to follow up to reproduce the scenario? Could you describe all so that we can create a project from the scratch following your ins

[2022-11-01 07:44] camilamacedo86 commented on #2897
Hi @mjlshen,

Are you working on this one? If you need help please feel free to ping your questions into the kubebuilder slack channel.

[2022-11-01 07:45] camilamacedo86 commented on #2510
Hi @ shuheiktgw,

Are you working on this one? If you need help please feel free to ping your questions into the kubebuilder slack channel. If not, could you please remove your assign so that others might want to looking on this one?

[2022-11-01 16:54] jmrodri opened #3054 "Bump k8s to 1.26"
### What do you want to happen?

To bump to use Kubernetes version 1.26 we need to:

- [x] Generate the envtools for it (it is done)

The build is made from the branch [tools-releases](https://github.com/kubernetes-sigs/kubebuilder/tree/tools-releases). So, we need to create a PR to generate tools with the latest binaries version

- [x]  bump controller-tools for a version using the k8s 1.26 - htt

[2022-11-01 22:26] camilamacedo86 commented on #1140
HI @bilalcaliskan,

The workaround that I am aware so far is what is provided via controller-gen, see how we sort it out in the samples;

https://github.com/kubernetes-sigs/kubebuilder/blob/9dd4fef398f831af9538ef552059aa9786b5cea8/docs/book/src/multiversion-tutorial/testdata/project/Makefile#L42-L47

[2022-11-01 22:34] shuheiktgw commented on #2510
Sorry that I didn't notice the message and I'm not working on this issue so let me unassign myself 🙇
/unassign

[2022-11-03 11:38] camilamacedo86 commented on #3005
Accepted since we approved the PR already we just need to have access to GPC to enable the build target.

[2022-11-03 16:11] yashsingh74 commented on #1885
/assign

[2022-11-03 16:22] varshaprasad96 commented on #3000
/assign @varshaprasad96

[2022-11-04 03:16] astraw99 commented on #3036
@grzesuav @camilamacedo86 @varshaprasad96
From the current code:
https://github.com/kubernetes-sigs/kubebuilder/blob/15bd05e86b0ce71b0ca03b7d180c9a591d90403d/pkg/plugins/golang/v3/scaffolds/internal/templates/main.go#L232-L238

We can see the `ctrl.SetLogger(...)` already use `go-logr/zapr` as an basic interface, to let the user choose
which logger impl to use.

In this proposal, we just want to u

[2022-11-07 10:53] zerunhu commented on #3052
fix in https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#avoiding-deadlocks-in-self-hosted-webhooks

[2022-11-07 10:53] #3052 closed

[2022-11-07 17:47] stackbaek opened #3062 ""owner" object support for admissions.Validator"
### What do you want to happen?

I am writing a webhook for CRs, which I oftentimes need to reference/check against their owner CRs. I wanted to leverage `admission.Validator` as much as I can, but it doesn't allow passing in its owner object. Is there a plan for supporting owner CR as part of `admission.Validator` interface?

I know there's CustomValidator, so I could technically pass in owner ob

[2022-11-08 01:40] nakamasato opened #3065 "Fail to run `make kustomize` on M1 Mac"
### What broke? What's expected?

Unable to run `make install` (`make kustomize`).

[code]

Somehow it seems related to https://github.com/kubernetes-sigs/kubebuilder/pull/2873, which adds `-S` to `curl`.
I can run the command with the Makefile generated with [3.6.0](https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.6.0).

Fundamentally, it's not about the problem of kubebuilder proje

[2022-11-08 01:44] nakamasato commented on #3065
Resolved by using `--plugins=go/v4-alpha`

[2022-11-09 02:02] jnan806 opened #3066 "Support shutdown controller to shutdown watching like SetupWithManager() to start watching."
### What do you want to happen?

Now, we can setup a controller with the Manager to start watching resource, but there is no function to shutdown the controller has be setup by Manager.

If i want to shutdown the controller which has be setupped, i found there is no way.

[2022-11-09 09:44] FillZpp commented on #3066
@jnan806 That can be supported with the watch removal. https://github.com/kubernetes-sigs/controller-runtime/issues/1884

[2022-11-09 14:06] jnan806 commented on #3066
the version was commented in that ISSUE looks does not work.

[2022-11-09 14:28] jnan806 commented on #3066
close issue refer to above

[2022-11-10 12:22] wmendes-ionos commented on #2514
Hi @wmuizelaar how is this holidays going ? Do we have any update for the state of these docs ?

[2022-11-10 13:22] mickvav commented on #2798
I believe that there is (undocumented) XValidation option.
So you can do things like:
[code]
that transforms into
[code]
in your CRD, @FingerLiu .

[2022-11-10 13:57] mickvav commented on #2798
However, the underlying feature (`x-kubernetes-validations`), although is present in documentation, is still beta even in 1.25 version of kubernetes -
https://github.com/kubernetes/enhancements/issues/2876

[2022-11-10 19:12] grzesuav commented on #3036
@astraw99

looking at what you wrote

the log format should be machine readable, to be able to be parsed by logstash/kibana/etc

In case you need to change it to human readable in dev env, just run you code with flag
[code]

Not sure why it is a pros, k8s komponent are in major refactoring to use structured logging, which isn't easy considering the codebase. Among logr compatibile loggers zap is m

[2022-11-10 19:14] grzesuav commented on #3036
@varshaprasad96 @camilamacedo86 sure, will try to do it over the weekend

[2022-11-11 13:44] grzesuav commented on #3036
@camilamacedo86 @varshaprasad96 after looking onto code it seems there is no much to extract as as @astraw99 noticed the only place which require change is logger initialization and import.

However looking onto code it seems it can be parameterized (i.e. by default generate `zap` thing, but when some parameter is passed use `klog` instead)

I can add it, the changes in the template will be (I put

[2022-11-11 13:45] grzesuav commented on #3036
alternative would be to use `{{ .LoggerImport }}` `{{ .LOGGER_INIT }}` variables, should be more readable than code generation markers as the code placed there will be rather static

[2022-11-11 14:52] everettraven commented on #3036
@grzesuav Thanks for your analysis! Thinking about this a bit more and seeing what @astraw99 [commented](https://github.com/kubernetes-sigs/kubebuilder/issues/3036#issuecomment-1302902838) I *personally* feel like this should be a no-op.

With the default logging scaffold in the `main.go` file being:
[code]

It seems like it would pretty trivial to manually convert this to:
[code]

Since the defau

[2022-11-11 17:18] camilamacedo86 commented on #3036
I agree with @everettraven +1000.Also:
- more than one user above comment that they prefer use zap instead of klog, see; https://github.com/kubernetes-sigs/kubebuilder/issues/3036#issuecomment-1293512725
- and how to use klog instead was added to a FAQ section already see: https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/src/faq.md#id-like-to-customize-my-project-to-use-klog-in