[2018-03-15 01:00] pwittrock opened #1 "Consider copying over history from apiserver-builder"
Figure out if there is anything in the commit history from the apiserver-builder repo we should copy over.

[2018-03-15 09:57] natronq opened #3 "Access denied when downloading a release"
When trying to download the release under https://storage.googleapis.com/kubebuilder-release/kubebuilder-release-v1.9-alpha.30-darwin-amd64.tar.gz I get an access denied message:

 wget https://storage.googleapis.com/kubebuilder-release/kubebuilder-release-v1.9-alpha.30-darwin-amd64.tar.gz                                                                                 
--2018-03-15 10:55:18--  h

[2018-03-15 22:12] erictune opened #4 "Indicate in generated CRDs that they were built by kube-builder"
add annotation to the CRD itself like `kubebuilder.k8s.io/version: v1.2.3`

Version helps with debugging reports.

[2018-03-22 15:45] pwittrock commented on #4
Done in v1beta1.1

[2018-03-22 15:45] #4 closed

[2018-03-22 15:46] pwittrock commented on #3
ACLs updated.  Should be resolved.

[2018-03-22 15:46] #3 closed

[2018-03-22 15:47] pwittrock opened #22 "Standardize kubebuilder codegeneration labels to have +kubebuilder: prefix"
Many of the codegen labels don't have this prefix

https://godoc.org/github.com/kubernetes-sigs/kubebuilder/pkg/gen/apis#example-package
https://godoc.org/github.com/kubernetes-sigs/kubebuilder/pkg/gen/controller

**Must** be done in a backward compatible way - add support for the new label and change the defaults created when bootstrapping.l

[2018-03-23 02:25] crimsonfaith91 opened #25 "Missing struct fields and import issues"
Some generated structs have missing fields.
For instance, `InjectArgs` struct does not have some necessary fields such as `Clientset`:
[code]

There are several import issues after generating the codes too.
For instance, in `/cmd/controller-manager/main.go`, there is a conflicting import for `k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1` due to 2 `vendor` packages in the repo (one

[2018-03-23 02:26] crimsonfaith91 commented on #25
@pwittrock

[2018-03-23 04:20] pwittrock commented on #25
Which version are you using?  Can you provide steps to reproduce from an empty repo?

[2018-03-23 04:54] crimsonfaith91 commented on #25
Sorry for not making it clear enough.
I am using release `v1beta1.1`. The steps are as follow:
1. download `kubebuilder-release-v1beta1.1-linux-amd64.tar.gz` and put it into `/usr/local/kubebuilder`
2. download tar.gz source codes and extract it into workspace
3. `kubebuilder init --domain google.com`
4. `kubebuilder create resource --group operator --version v1beta1  --kind RedisReplicas`
5. `GOB

[2018-03-23 05:44] pwittrock commented on #25
Which tar.gz are you referring to in step 2?  I don't think this step should be required.  Does the documentation say to do this?

[2018-03-23 05:45] crimsonfaith91 commented on #25
It is the `Source code (tar.gz)` under release page.

[2018-03-23 05:48] crimsonfaith91 commented on #25
I think the source code download step (step 2) is unnecessary. I always downloaded both `tar.gz` and `bin` files for previous versions, which worked all the time before. I didn't realize `bin` file alone suffices for newest `v1beta1.1` version.

[2018-03-23 05:48] #25 closed

[2018-03-23 05:54] crimsonfaith91 commented on #25
Oops, I was misled by `Download the latest release _and_ extract the tar.gz...` since from the beginning. I thought _latest release_ is the _source code_, and `tar.gz` is the `bin` file.

[2018-03-23 14:53] pwittrock opened #27 "Fixup Gopkg.toml file"
The Gopkg.toml could use some cleanup

- Replace the kubebuilder libraries version in the Gopkg.toml with the current tag when building
- Add kubebuilder libraries to the Gopkg.lock
- Figure out if the ignore lines are required
- Make sure `dep` runs cleanly on clients.  Fix errors:

[code]

[2018-03-23 14:54] pwittrock opened #28 "e2e test framework for kubebuilder"
We need to be able to run e2e tests that

New project
  - create a new project by running kubebuilder commands
  - copy over kubebuilder pkgs into vendor
  - create new resources from kubebuilder commands
  - modify some files (maybe by copying other files to overwrite)
  - run code generators and build
  - standup test controlplane using the framework
  - run kubectl commands
  - look at output f

[2018-03-23 14:55] pwittrock opened #29 "Add integration test for backwards compatibility"
Check the following are backwards compatible in a test:
- Libraries
- Creation commands

[2018-03-23 14:56] pwittrock opened #30 "(S) Define list of tests needed (e2e and unit)"

[2018-03-23 15:05] pwittrock opened #31 "Add support for admission webhooks"
- Clean packages similar to go core `http` package
- Auto wire the handlers using the inject code generator from `generate`
- Install the webhook (no certs) in the config from `create config`
- Add an RBAC rule for `create config` that allows the controller to update the WebHook (and only that webhook) if installing a webhook.
- Have the controller write the certs in the WH when it starts

[2018-03-23 20:23] crimsonfaith91 opened #32 "Support pluralized Kinds"
Generated files such as `zz_generated.kubebuilder.go` do not handle plural form kind name consistently. For instance, some informers call to `AppReplicas` kind via `.AppReplicases()`, but others via `.AppReplicass()`.

Furthermore, `k get redisreplicases` failed to list the objects.

Perhaps we can conform all kind names to singular form.

[2018-03-27 18:35] crimsonfaith91 opened #37 "Support for old object access"
Kubebuilder should support access to old objects. Currently, the `Reconcile` loop only provides a key. There is no easy way to access the old objects after update operations. A workaround is to save the object state periodically via global variables, but there should be a better way to access the old objects.

@pwittrock
/cc @liyinan926

[2018-03-27 18:41] crimsonfaith91 opened #38 "Support for different reconcile events"
Currently, `Reconcile` loop will be triggered periodically or by any event. It would be great if the controller provides the functionality to perform specific reconcile effort based on event type. For example, there are 3 loops for `add`, `update`, and `delete` events (or one reconcile loop that performs differently based on event type).

@pwittrock
/cc @liyinan926

[2018-03-27 18:41] crimsonfaith91 commented on #37
/unassign @pwittrock

[2018-03-27 18:49] liyinan926 commented on #37
I looked into the kubebuilder code a bit. It appears to me that the `ResourceEventHandlerFuncs` used internally simply enqueues for all three types of events. Particularly, for updates, the updated objects are enqueued, while the old ones are simply ignored. Also because `Reconcile` is called on objects retrieved from the work queue, there's no way for users to access the old objects through `Reco

[2018-03-27 19:02] liyinan926 opened #39 "Watching and syncing resources created to support CRD objects"
I have a use case that as part of handling a newly added CRD object, a `StatefulSet` gets created and owned by the CRD object (through an `OwnerReference` added on the `StatefulSet`). The generated controller code for the CRD resource allows me to add a watch on `StatefulSet`s. But how can I register/add functions that react to events on the `StatefulSet`s and reconcile them?

Also it appears to m

[2018-03-27 19:02] liyinan926 commented on #39
/cc @crimsonfaith91

[2018-03-27 20:08] crimsonfaith91 commented on #39
@pwittrock
Does kubebuilder provide the framework to register or add functions that react to _specific_ events on the StatefulSets? From my experience, I have to manually implement all logic in the `Reconcile` function.

[2018-03-29 01:31] pwittrock commented on #39
@liyinan926  Not sure I understand the question.  Do you want a controller for the StatefulSet itself or for the CRD that creates it?  For most cases you should reconcile the CRD that created the controller and use the functions to map this to the controller - such as [WatchControllerOf](https://godoc.org/github.com/kubernetes-sigs/kubebuilder/pkg/controller#GenericController.WatchControllerOf).

[2018-03-29 01:32] pwittrock commented on #38
@crimsonfaith91 This is a bit of an anti pattern since it is an edge-based approach and Kubernetes controllers are typically level-based.  Support for this exists with [WatchEvents](https://godoc.org/github.com/kubernetes-sigs/kubebuilder/pkg/controller#GenericController.WatchEvents) but I don't think we want to make it overly accessible.

[2018-03-29 01:32] #38 closed

[2018-03-29 05:39] liyinan926 commented on #39
@pwittrock Thanks for answering! My use cause needs watching the `StatefulSet`s created by the CRD controller and reacts to events on the `StatefulSet`s. For example, if such a `StatefulSet` was deleted accidentally by the user, a new replacement StatefulSet needs to be created. Thanks for the pointer to `WatchControllerOf`. It seems that I can use `WatchControllerOf` to map the `StatefulSet` to t

[2018-03-29 05:39] #39 closed

[2018-03-30 16:39] pwittrock opened #41 "(L) Support for creating controllers for core types"

[2018-03-30 16:45] pwittrock commented on #37
This is by design.  Why do you need to access old objects?  Controllers should be designed as level-based not edge based.

You probably don't want to do this as it probably wouldn't be a self-healing system.  e.g. if you do initialization on create only, and then something comes in and deletes the initialized components, it should self heal and recreate those.

[2018-03-30 16:45] #37 closed

[2018-04-03 03:12] pwittrock commented on #32
Thanks for finding this.  The client gen code appears to improperly pluralize Kinds into resources simply by looking at the final character to see if it is an s - e.g. Fish -> Fishes, Children -> Childrens, Replicas -> Replicases.  I can work around this.

[2018-04-03 03:23] pwittrock opened #47 "Update cloudbuild.yaml to automatically push GitHub releases on builds"

[2018-04-03 03:35] pwittrock commented on #32
It actually seems to use this for doing pluralization :(

https://github.com/kubernetes/gengo/blob/3b2d54029f5c97ae1ac22c7dfb9186854c253bbb/namer/plural_namer.go#L36

[2018-04-03 03:40] pwittrock commented on #32
The root of the issue is that https://github.com/kubernetes/code-generator doesn't support pluralized kinds.  This means that the names that the client generates will be incorrect.  My advice is to keep your Kinds singular - e.g. either `AppReplicaSet` or `AppReplica`.

[2018-04-03 03:51] crimsonfaith91 commented on #32
@pwittrock Thanks for resolving my doubt! Appreciate it. :)

[2018-04-03 16:34] #32 closed

[2018-04-04 02:41] josephjacks commented on #1
Is it fair to assume that kubebuilder replaces/subsumes apiserver-builder?

[2018-04-04 03:57] pwittrock opened #50 "Make it so we don't need to specify the environment variables when running integration tests"
The test framework requires the following environment variables to be set:

[code]

Can we do something in the test harness (e.g. _suite.go) to make it so these are defaulted to this location?

[2018-04-04 23:20] pwittrock opened #52 "Check that the go version is 1.10+ in kubebuilder init"
Kubebuilder doesn't work with go 1.8.  We should check the go version is sufficient when creating a new project.

[2018-04-04 23:28] pwittrock commented on #1
@josephjacks Not yet as it doesn't support apiserver aggregation.  Ideally I would like to see kubebuilder support apiserver aggregation and deprecate apiserver-builder.

[2018-04-04 23:30] pwittrock opened #53 "Make `create resource` also create a Recorder."
The generated code from create resource should create a Recorder

[2018-04-04 23:31] pwittrock opened #54 "Make create resource copy create a controller struct that has InjectArguments instead of individual fields"
The created code would be simpler if it just uses the InjectArguments directly

[2018-04-04 23:32] pwittrock opened #55 "Have Dockerfile.controller use CMD and ENTRYPOINT"

[2018-04-04 23:33] pwittrock opened #56 "Have Dockerfile.controller use from scratch instead of from ubuntu."
Make sure it actually works

[2018-04-04 23:34] pwittrock opened #57 "Double check that CRD spec uses the right names"
Not sure if this is still an issue.

[2018-04-04 23:37] pwittrock opened #58 "Generate checksums for builds"
In the cloudbuild.yaml also create checksums for the binaries and upload them to gcs alongside the binaries.  Look at how other projects do this such as [etcd](https://github.com/coreos/etcd/releases)

[2018-04-05 00:31] pwittrock opened #59 "Rebase code on top of 1.10 kubernetes libraries"

[2018-04-05 00:31] pwittrock opened #60 "Use Kubernetes Godep.json from 1.10 and `dep init` to make sure all the dependencies are the same"

[2018-04-05 21:49] fanzhangio commented on #27
Fixing dependency issues:

- []  github.com/pkg/errors
- []  github.com/spf13/cobra
- []  k8s.io/apiserver
- []  k8s.io/kube-aggregator

[2018-04-06 20:07] mattfarina opened #62 "Define how to express uri and email forms (Renamed)"
Is there a way to specify validation for things just as email and URL/URI?

[2018-04-06 22:05] pwittrock commented on #62
@mattfarina Good question.  This is all done through the openAPI v3 validation supported by CRDs. Do you know what the CRD validation supports?  I may need to add an extra hook.

I am not totally clear from this document about what validation is supported by openAPI v3: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md.  It mentions uuid and email as formats but says they

[2018-04-06 22:52] pwittrock commented on #60
I think the steps are:
- Delete Gopkg.toml, Gopkg.lock and vendor/
- Copy over https://github.com/kubernetes/kubernetes/blob/release-1.9/Godeps/Godeps.json into Godeps/Godeps.json
- Run `dep init`
- Make sure Gopkg.toml and Gopkg.lock don't have deps for the cmd/ directory (e.g. don't have the code generation libraries)
- Add back to Gopkg.toml the kubebuilder override

Make a build using the buil

[2018-04-07 01:14] mengqiy commented on #60
A few comments:
- `Godeps/Godeps.json` doesn't specify the version for all the repos (e.g. client-go) under `/staging`. `dep` will decide what version to use for those repos. If they are not using the right version, pin it in `Gopkg.toml` and run `dep ensure -update <repo-name>`.
- `github.com/golang/glog` can be "naughty". Make sure don't vendor it multiple times at different places. `dep prune`

[2018-04-09 16:40] mattfarina commented on #62
@pwittrock Two things...

1. How do I specify a custom data type such as email? What's the right annotation? https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#data-types
2. What's the right annotation to set the pattern?

[2018-04-09 17:30] Liujingfang1 commented on #52
@pwittrock Does it have to be 1.10+? How about 1.9?

[2018-04-10 21:53] #22 closed

[2018-04-10 21:55] #55 closed

[2018-04-10 21:56] #52 closed

[2018-04-10 22:17] pwittrock commented on #62
@mattfarina

1. This may not be supported today, but should be possible to add with relatively little work if the CRD validation supports this use case.

2. Sorry about this.  I'll update the [godoc documentation](https://godoc.org/github.com/kubernetes-sigs/kubebuilder/pkg/gen/apis) to include Pattern and the other supported types.  For now this should work.  *Remember to run kubebuilder generate

[2018-04-10 22:19] pwittrock opened #67 "CRD Schema generation to support custom formats"
To fix #62.

Allow users to annotate fields with the format so they can specify "email" or "date" formats for strings.

[2018-04-11 13:29] mattfarina commented on #62
@pwittrock Thanks. You can consider my question answered. I'll leave this open in case you want to keep it open until you've updated the godocs. Or, you can close it if not.

[2018-04-12 16:18] fanzhangio commented on #60
`dep` is hanging on attempting `k8s.io/apiextensions-apiserver` with2 pkgs; 88 versions to try

  ✗ solving failed
Solver wall times by segment:
              b-gmal: 10h12m3.409638426s
         b-list-pkgs:       6.350136544s
     b-list-versions:       2.213366082s
            new-atom:         49.16701ms
             satisfy:        43.883156ms
         select-root:         4.687884ms

[2018-04-12 21:40] #56 closed

[2018-04-12 21:40] fanzhangio commented on #56
This PR change has been applied in another PR #55 which has been merged. So close it.

[2018-04-15 20:35] pwittrock commented on #67
Will be fixed in v1beta1.3

[2018-04-15 20:35] #67 closed

[2018-04-15 20:38] pwittrock opened #70 "Figure out canonical story for CRD generation from goidl"
The team working on apply is running into this same issue.  We should work together to make sure we solve it once in a canonical fashion.  Lets work with the folks building CRDs to come up with a design doc for the canonical way to generate CRDs from goidl.

- How to reference core API types without inlining / generating them
- How to deal with recursive types / self-referencing types (e.g. type h

[2018-04-16 17:58] Liujingfang1 commented on #70
A related feature request https://github.com/kubernetes/kubernetes/issues/54579

[2018-04-23 14:34] pwittrock opened #88 "(S) - Fix kubebuilder versioning"
- version is missing from `kubebuilder version`
- ~version name is inconsistent - sometimes the `v` is dropped~
- ~change versioning to be semantic - e.g. `0.1.5`~

[2018-04-24 20:18] wstrange opened #91 "Imports lowercased"
Same issue as code-generator:

https://github.com/kubernetes/code-generator/issues/20

I can work around it with a simple script that does a search/replace

[2018-04-25 18:05] briantkennedy commented on #59
+1 - this will also fix the issue tracked here https://github.com/kubernetes/kubernetes/pull/38320

[2018-04-26 23:12] droot opened #96 "Improve test coverage of WatchControllerOf method of GenericController"
We realized we have less than adequate test coverage of Generic Controller's watchControllerOf API. For ex. this fix uncovered a bug where we end up an infinite loop https://github.com/kubernetes-sigs/kubebuilder/commit/be1a28bed9fa4256f99d7ef423f0ad9f7e165ab3

[2018-04-30 18:04] pmorie opened #102 "Add support for kubectl categories"
Categories are groups of resources (example: `all` is a category). CRDs can be part of categories:

https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/#categories

It would be useful to drive the categories of a resource via a `kubebuilder:categories=foo,bar,zab` annotation.

[2018-05-01 05:36] pwittrock commented on #102
Added this for the next Sprint

[2018-05-01 05:37] pwittrock commented on #91
We need to see if it is possible to get rid of this code generation completely.

[2018-05-01 17:37] #53 closed

[2018-05-02 18:29] #102 closed

[2018-05-02 18:33] pmorie opened #119 "README is outdated wrt supported version of kubernetes"
...and we should find a way to clarify which version of kubernetes are supported. 1.10 definitely is.

[2018-05-02 19:58] perotinus opened #121 "Running "kubebuilder docs" fails with 0.1.7"
Steps to repro, in an empty directory in `$GOPATH/src`:

[code]

Failure:
[code]

[2018-05-03 12:40] pwittrock commented on #121
Looks like a regression.  I have started to dig into this.  Would be great if there was a quick fix while we come up with a more sustainable approach to generating the docs

[2018-05-03 22:29] Liujingfang1 commented on #121
I looked into the failure. The regression is due to the tag change I added in #66.
The resource file with tag `+kubebuilder:resource` is not recognized by apiregister-gen.
A quick fix would be to add support for the kubebuilder tag prefix in apiserver-builder as well.

[2018-05-04 00:45] droot commented on #121
Just submitted a PR with the fix.
https://github.com/kubernetes-incubator/apiserver-builder/pull/239

[2018-05-04 00:53] crimsonfaith91 opened #124 "generate e2e testing framework"
Kubebuilder generates integration testing framework in `pkg/controller/<some-controller-name>/controller_test.go`. It would be great if kubebuilder also generates e2e testing framework too.

/cc @droot @pwittrock

[2018-05-04 00:56] crimsonfaith91 commented on #124
As sync with @droot , there is an ongoing effort to make running e2e tests a seamless experience by uploading controller image to GKE and setting up test environment such as RBAC and required resources automatically.

[2018-05-07 14:37] pwittrock opened #127 "Release CHANGELOG publishes all changes since the first commit"
The change log for the most recent release includes the very first commit ever :P

[2018-05-07 14:38] pwittrock commented on #121
This should be fixed.

[2018-05-07 14:38] #121 closed

[2018-05-07 14:39] #88 closed

[2018-05-07 14:58] pwittrock opened #128 "Add more support for CRD validation"
We parse the following tags, but don't actually set them on the CRDs:

- Enum
- Format
- MinLength
- MaxLength
- UniqueItems
- MinItems
- MaxItems

[2018-05-07 14:58] pwittrock commented on #128
Also add a go e2e test for the CRD generation that takes the kubebuilder install repo as an argument.

[2018-05-07 15:00] pwittrock commented on #128
Should be done in [crd.go](https://github.com/kubernetes-sigs/kubebuilder/blob/2d1d976bd3ee55d25ddaf5039762b5be7782f97f/cmd/internal/codegen/parse/crd.go)

[2018-05-07 15:00] pwittrock commented on #128
Explanation of where tags should live:

https://datatracker.ietf.org/doc/draft-handrews-json-schema-validation/?include_text=1

[2018-05-07 15:01] pwittrock commented on #128
Also update the godoc documentation for pkg/gen/apis to include the new tags.

[2018-05-07 15:47] pwittrock opened #130 "Allow resources to be annotated with warnings and notes with `// +kubebuilder:docs`"
`kubebuilder docs` generates a `config.yaml` file that is used to control the table of contents for docs.  The config.yaml can also be used to set warnings and description notes on specific APIs, however since the file is generated, users shouldn't edit it directly.

Instead we should support the following annotations on resource structs:

- `// +kubebuilder:docs:warning`
- `// +kubebuilder:docs:n

[2018-05-07 15:55] pwittrock opened #131 "Create e2e testing for `kubebuilder docs`"
Right an e2e test that runs `kubebuilder docs` and verifies the output.

- Run and make sure the command exists successfully producing and index.html
- Verify the contents of the `docs/reference/includes/*`, `docs/reference/config.yaml` and `docs/reference/manifest.json` files since they are relatively stable.

[2018-05-08 00:29] perotinus opened #134 ""kubebuilder update vendor" should update the Gopkg files as well"
Currently, `kubebuilder update vendor` only updates the `vendor` directory, not the `Gopkg.lock` and `Gopkg.toml` files. This leaves them out-of-sync, which is not ideal for understanding the versions of dependencies in the repo.

Alternatively, `kubebuilder` could not initialize a project with the `Gopkg` files, and leave that to the project's discretion.

[2018-05-08 23:00] crimsonfaith91 opened #137 "AdditionalProperties CRD validation bug"
When running `kubebuilder create config` to generate a controller image, I encountered a CRD validation
bug that specifies `AdditionalConfiguration` field cannot be set to false.

For instance, I have the bug for `options` field in my `types.go` file:
[code]

In `zz_generated.kubebuilder.go` file, the `AdditionalConfiguration` field is initialized as follow:
[code]

@Liujingfang1

[2018-05-09 18:50] Liujingfang1 commented on #137
I've tested locally and confirmed that this is related to https://github.com/kubernetes/kubernetes/pull/62333
The PR was checked in at the beginning of April 2018. To fix the issue, please update kubernetes to the latest version.

[2018-05-09 19:41] pwittrock commented on #137
@Liujingfang1 I don't think that PR exists in any released Kubernetes version, and will be many months before it is available on GKE.  We should work around it.

[2018-05-09 19:49] Liujingfang1 commented on #137
@pwittrock Yep. I just discussed this with Sunil about this and we planned to add a flag to kubebuilder as a workaround. The default will skip `additionProperties` so that the crd can be created. If the flag is set, kubebuilder will generate this field so that we can do testing on our own.

[2018-05-10 04:17] #134 closed

[2018-05-10 04:21] pwittrock opened #139 "Keep descriptions and warnings in docs/reference config.yaml when regenerating"
We generate docs/reference/config.yaml from the resource types we find, however users may add notes and warnings to the config.yaml.  We should look for these when regenerating, and keep them.

[2018-05-10 04:22] #139 closed, assigned to nobody

[2018-05-11 02:20] pwittrock opened #143 "Test against multiple versions of Kubernetes."
- Use the environment variables to test against N-2 versions of Kubernetes.

[2018-05-11 02:20] #47 closed, assigned to droot

[2018-05-11 02:32] pwittrock commented on #54
@fanzhangio Re assigning to @lichuqiang since you have a few issues assigned to already

[2018-05-11 02:33] pwittrock commented on #130
@fanzhangio also reassigning this one

[2018-05-11 02:35] pwittrock commented on #130
@fanzhangio please comment on the issue if you have started any work on this.

[2018-05-11 02:39] pwittrock opened #144 "Write test to verify the go struct CRD and yaml config CRD are identical"
The go struct CRD generated in the versioned resource package should match the install.yaml CRDs from `create config`.  We should test this against some cases.  Got a report the map[string][string] fields are represented differently.

[2018-05-11 02:45] pwittrock commented on #57
Task is to verify the we generate for CRDs have the right types.  Double check and write a test to verify we generate the correct openapi v3 spec for:

- string
- numeric (int, float, etc)
- bool
- []string
- []int

This can be tested by looking at the output of `kubebuilder create config` or by running the controller so that it installs the CRDs and fetching the CRD definitions with `kubectl get

[2018-05-11 06:32] lichuqiang commented on #130
reached out to @fanzhangio , he has started the task.

/unassign @lichuqiang
/assign @fanzhangio

[2018-05-14 06:57] lichuqiang opened #149 "Some generated files are not well-formated"
When walking through the files generated through `kubebuilder`, I found codes in some files are not well-aligned, for example in `cmd/controller-manager/main.go`:
[code]

Of course a user can easily format the files via `go fmt`, but for better experience, I think we'd better
1. modify existing templates and the place to generate files, to ensure the generated codes are well-formated
2. or maybe w

[2018-05-14 16:29] Liujingfang1 commented on #149
@lichuqiang I found a recent comment #147 exec `go format` on the generated codes.

[2018-05-14 21:00] devdattakulkarni opened #151 "Getting started link is broken"
The following getting started link in the main README is broken.

http://book.kubebuilder.io/quick_start.html

[2018-05-14 21:25] perotinus opened #152 "kubebuilder resource creation fails when resource name is already its own plural"
When I try to create a resource with a name that's already it's own plural, the resource creation fails:

[code]

It looks like the code [here](https://github.com/kubernetes-sigs/kubebuilder/blob/f6d054862aeb05016b0b5c1c39d4f867d93dc944/cmd/kubebuilder/create/util/util.go#L47) is triggering this. Perhaps it would be useful to add a flag to bypass this check?

[2018-05-14 21:27] devdattakulkarni opened #153 "Incorrect pluralize when Kind name ends with an 's'"
I am getting following error when trying to create a resource with kind as 'Postgres'.

$ kubebuilder create resource --group group1 --version v1alpha1 --kind Postgres

2018/05/14 16:18:00 Client code generation expects singular --kind.

I think line 47 in https://github.com/kubernetes-sigs/kubebuilder/blob/f6d054862aeb05016b0b5c1c39d4f867d93dc944/cmd/kubebuilder/create/util/util.go needs to accom

[2018-05-14 21:28] pwittrock opened #154 "Add section to book about creating events for CRDs."

[2018-05-14 22:14] #41 closed

[2018-05-14 23:28] #152 closed

[2018-05-15 12:46] lichuqiang commented on #149
@Liujingfang1 Thanks!
Closing the issue since it's already fixed by #147

[2018-05-15 12:46] #149 closed

[2018-05-15 12:53] lichuqiang commented on #54
Trying to address the issue

[2018-05-15 18:35] pmorie opened #160 "Add boilerplate support for generation commands"
...so that we can generate artifacts with the correct boilerplate text for projects that require it.

Found while reviewing https://github.com/kubernetes/cluster-registry/pull/225.

cc @perotinus

[2018-05-15 18:44] pwittrock commented on #151
Try now.  I've been pushing changes by kill Pods :).  Guess it is time to start doing rolling updates :P.

[2018-05-15 18:44] #151 closed

[2018-05-15 18:50] fanzhangio commented on #130
Have done this issue with PR #156
@pwittrock @lichuqiang

[2018-05-15 18:58] devdattakulkarni opened #161 "Question about kubebuilder and apiserver-builder"
Following commit added example of memcached-api-server.

https://github.com/kubernetes-sigs/kubebuilder/commit/0724374cb7c03cad6807580497ae52520d32c977

Just so that I understand, this is an example of adding an add-on api server behind the kube api aggregator, correct?

If so, should kubebuilder be used for creating such apis or should we be using apiserver-builder for that?

https://github.com/k

[2018-05-15 19:16] pmorie commented on #160
Oh, nice

On Tue, May 15, 2018 at 2:46 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2018-05-15 19:59] pwittrock commented on #160
Updated the documentation:

http://book.kubebuilder.io/beyond_basics/boilerplate.html

[2018-05-15 19:59] #160 closed

[2018-05-15 20:00] pwittrock commented on #161
kubebuilder is CRD based.  Do you need AA or are CRDs sufficient?

[2018-05-15 20:00] #154 closed

[2018-05-15 22:40] pwittrock opened #164 "Support Reconcile for multiple object types"
- Include the GVK of the object in the key so that reconcile can work against multiple object types.  Useful for things like HPA.

[2018-05-15 22:42] #164 closed

[2018-05-15 22:46] pwittrock opened #165 "Create testing solution for existing "test" projects"
Make it so we can create "test" projects and run kubebuilder commands and go tests against them using the local kubebuilder code.

[2018-05-15 22:49] pwittrock opened #166 "e2e test for kubebuilder"
- building images
- creating config
- installing into a cluster
- creating resource object, making sure it gets reconciled
- controller creates other objects, verify RBAC rules are good
- controller listens to other objects, verify watches

[2018-05-16 03:40] lichuqiang commented on #166
Glad to work on the part.

btw, I noticed we have another issue https://github.com/kubernetes-sigs/kubebuilder/issues/124 about e2e framework, shall we have an unified umbrella issue for better tracking?

and is there any ongoing effort I can refer to/avoid duplication of work?

/assign

[2018-05-16 13:15] danp opened #168 "Generated controller fields have inconsistent casing"
In generated code such as this in the memcached example:

https://github.com/kubernetes-sigs/kubebuilder/blob/5ba5473b44dd6f6b16a5101afefe3f332794cbfc/samples/memcached-api-server/pkg/controller/memcached/controller.go#L104-L106

Lister is capitalized but client and recorder (missing here) are not.

Can submit a PR to fix around here but wanted to make sure this is not intentional:

https://github

[2018-05-16 15:11] devdattakulkarni opened #169 "Under the hood of kubebuilder"
I have written a post describing some of the under the hood details of kubebuilder.

https://medium.com/@cloudark/under-the-hood-of-kubebuilder-framework-ff6b38c10796

@pwittrock Let me know if this is correctly capturing kubebuilder's architecture and its interaction points with custom controllers.

[2018-05-16 15:13] n3wscott commented on #91
I am fixing here: https://github.com/kubernetes/kubernetes/pull/63892/commits

[2018-05-16 18:12] Liujingfang1 commented on #144
In my PR #170, I changed the code for parsing the maps like `map[string][string]`. One effect of the change is to fix the different representation in install.yaml and in go struct CRD.

[2018-05-16 18:47] perotinus opened #171 "Run `go vet` against generated files"
It would be helpful if `kubebuilder` would run a basic `go vet` against the generated code. Currently, projects have to do this themselves.

This might be covered by #147 which added support for formatting.

[2018-05-16 19:08] pwittrock opened #172 "Add Analytics to GitBook and Kubebuilder"
- Setup Google Analytics account for kubebuilder
- Add to README.md on kubebuilder repo
- Add to GitBook pages

[2018-05-16 19:09] pwittrock opened #173 "Update GitBook to tell folks to tweet and share using links in the GitBook"

[2018-05-16 19:09] pwittrock opened #174 "Add Link to googlegroup and slack channel to the README.md and GitBook"
- Create Google Group for kubebuilder
- Add link to group and slack to README.md
- Add link to group and slack to GitBook

[2018-05-16 19:25] pwittrock commented on #168
I don't think this is intentional.  Please file the PR to fix, and add a test to `test.sh`.

[2018-05-16 19:27] #54 closed

[2018-05-16 19:27] pwittrock commented on #54
Closing this for now

[2018-05-16 19:27] #161 closed

[2018-05-16 19:28] pwittrock commented on #161
Feel free to reach out on the slack channel (kubebuilder) and mention @droot to follow up.

[2018-05-16 19:29] pwittrock commented on #91
@n3wscott Awesome.  Will update the deps to use your change once it is merged if the code gen versions are compatible with 1.10.

[2018-05-16 21:46] #30 closed

[2018-05-16 21:46] #62 closed

[2018-05-16 21:46] #70 closed

[2018-05-16 21:47] #28 closed

[2018-05-16 23:10] droot commented on #165
Tasks:
  - Opinion on the structure of test projects
  - test methods for exec'ing KB with test dir
  - Root test runner and integrate with Travis test.

[2018-05-16 23:22] pmorie opened #176 "Extract CRD yaml generation into distinct tool"
After talking with some folks who work on kubebuilder and the operator SDK it was identified that one common element is to have a tool (possibly eventually living in kubernetes codegen) that generates the CRD yaml from a Go type. This issue is to refactor this projects current capabilities in that area into a distinct tool.

[2018-05-17 03:33] pwittrock commented on #176
@pmorie Feel free to re-assign

[2018-05-17 03:44] #29 closed

[2018-05-17 03:45] pwittrock commented on #165
@pmorie Yes, that is the goal

[2018-05-17 03:47] pwittrock opened #177 "Graph queue length as a prometheus metric from the congroller libraries"
- Export monitoring metrics to prometheus from the kubebuilder controller libraries
  - Reconcile queue length
  - Reconcile errors
  - Histogram of Reconcile time
- Label the metrics with the controller name

[2018-05-17 03:49] pwittrock commented on #177
Probably use this library: https://github.com/prometheus/client_golang to export the metrics

[2018-05-17 03:54] pwittrock commented on #177
Will want to update code in this file: https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/controller/controller.go#L85

Example of prometheus metrics:
https://github.com/prometheus/client_golang/blob/master/examples/random/main.go

[2018-05-17 04:54] pwittrock commented on #176
@pmorie Are you thinking as a library, separate binary, or both?  Should we generate both the go struct and yaml, or just the yaml?  We've been thinking of building a tool called `ktc` (kubernetes type compiler) that encapsulates the `*types.go` -> *generated files*.

- `ktc gen crds -o yaml`
- `ktc gen crds -o go`

[2018-05-17 18:53] pwittrock commented on #177
Also read this:
https://prometheus.io/docs/concepts/data_model/

[2018-05-17 23:07] liyinan926 opened #179 "Support for Application CRD"
Depending on the nature of the applications or workloads controller deal with, they may need to create multiple types of resources, e.g., StatefulSets, services, ConfigMaps, etc., to support the applications to run. Those resources comprise naturally an application that can be modeled using an [Application](https://github.com/kubernetes-sigs/application) object. Examples of such applications inclu

[2018-05-18 01:39] droot commented on #169
Thanks @devdattakulkarni . Just reviewed the post. Thanks for the write up, it correctly captures the architecture and interaction between various components.

[2018-05-18 01:41] #169 closed

[2018-05-18 17:05] Liujingfang1 opened #184 "(M) Test script for the sample project which does"
- kb generate
 - kb docs
 - kb create config
 - vendor update
 - tests

[2018-05-18 18:20] droot opened #185 "Enable Travis tests for Mac OSX"
Kubebuilder release includes binaries for Linux and OSX. However, CI test (test.sh) is enabled for linux only. I believe, there is a way to test it on OSX as well in travis. Enabling it for OSX is going to increase the test time in travis, but totally worth it I believe.

[2018-05-20 17:03] #185 closed

[2018-05-20 21:43] pwittrock opened #188 "Fix Darwin tests on Travis"
The travis tests don't pass for darwin.  Figure out why and fix the issue.

[2018-05-20 21:45] #130 closed

[2018-05-21 14:05] lichuqiang opened #189 "Generated controller test for core-type resources cannot work"
Most of the in-tree resources has extra validation, which can not be satisfied by the simple instance in the generated file "controller_test.go"

Take resource Deployment as an example, when running the test, I got error:
[code]

I tried with kubebuilder 0.1.9, not sure if it still an issue in the latest code.

[2018-05-21 14:26] lichuqiang opened #190 "Error when executing "create config" repeatly"
Seems when generating the config file (hack/install.yaml), kubebuilder will not check if the file already exist,
but overwrite the content in the file directly.

Thus, if I generate the config once (image the file is of 150 lines), and then modify something in the controller (say remove some handle logic of extra resources), and create config again, then the content is expected to be shorter then

[2018-05-21 14:37] lichuqiang opened #191 "Failed to start controller-manager with the built image"
The container of  controller-manager failed with error message:
[code]
Seems the controller tries to write log into /tmp path, which does not exist in the base image scratch.
I replaced the base image with ubuntu in Dockerfile, and rebuild the image, and the controller-manager pod can work normally.

I tried with kubebuilder 0.1.9, not sure if it still an issue in the latest code.

[2018-05-21 16:42] pwittrock opened #192 "Update GitBook docs for creating core controllers to warn that tests need to updated"
The generated tests for core types won't work out of the box because most core types don't have a valid empty values.

Update the GitBook documentation to communicate this.

[2018-05-21 16:43] pwittrock commented on #189
@lichuqiang This is working as intended.  The empty object isn't valid for a most core resource types.  File #192 to update the docs.

[2018-05-21 16:43] #189 closed

[2018-05-21 16:45] pwittrock commented on #190
@lichuqiang This is weird.  I would expect the file to be truncated.  Is this reproducible by hand?  Are tests being run in parallel?

[2018-05-21 16:46] pwittrock commented on #191
:( . Would you change the image back to ubuntu until we have sufficient e2e testing?

[2018-05-21 16:47] pwittrock commented on #191
@droot

[2018-05-21 17:36] pwittrock commented on #192
#193

[2018-05-21 19:30] #192 closed

[2018-05-21 21:05] #137 closed

[2018-05-21 21:49] pwittrock opened #194 "Run gofmt and govet as part of travis"
We should update travis to run govet and gofmt against the code in `pkg` and `cmd` on all PRs.

https://github.com/kubernetes-sigs/kubebuilder/blob/master/test.sh

[2018-05-21 23:52] perotinus opened #195 "kubebuilder generation commands could have a validation flag"
It would be helpful if `kubebuilder`'s generation commands had a flag that would allow them to be run in "validation" mode; i.e., running `kubebuilder generate --validate` would not touch any files, but would print out a diff and return error if the code in the repo does not match what it would be after a run `kubebuilder generate`. This could be made into a presubmit check on projects that use `k

[2018-05-22 02:05] font opened #197 "kubebuilder update vendor fails if Gopkg.toml doesn't exist"
A nice new option `--overwrite-dep-manifest` defaulted to `false` was introduced by #140 to make sure we preserve user dependencies if `Gopkg.toml` exists. However, this breaks the previous `kubebuilder` behavior if a project does not have a `Gopkg.toml` checked-in, because we assume we're updating the file and since the flag is defaulted to `false`, we fail with:

[code]

What should be the desir

[2018-05-22 02:48] pwittrock commented on #197
Probably *2.* with a message saying it is creating the Gopkg.toml because it is missing.

@font If you have any interest in filing a PR to fix, I would be happy to review it.  Should be around this line:

https://github.com/kubernetes-sigs/kubebuilder/blob/master/cmd/kubebuilder/initproject/vendor.go#L102

[2018-05-22 02:50] pwittrock commented on #195
The ideal way to do this would be by adding a validation flag to each of the code generators called by kubebuilder.

[2018-05-22 02:51] #57 closed

[2018-05-22 02:56] pwittrock commented on #190
That definitely isn't expected.  Would you be willing to take a look at why it might be doing this and submit a fix?

[2018-05-22 03:04] lichuqiang commented on #190
sure thing

[2018-05-22 03:31] #191 closed

[2018-05-22 11:42] kragniz commented on #188
Fixed by #196.

/close

[2018-05-22 11:43] kragniz commented on #188
@k8s-ci-robot  I forget this is a different org 🙃

[2018-05-22 17:30] #190 closed

[2018-05-22 17:54] droot commented on #197
Ideally, users should check-in `Gopkg.toml` and `Gopkg.lock` files to ensure reproducibility of the vendor dependencies. In a way, these files should be treated like any other files generated by KB.

About the desired behavior, second option seems to be the way to go because most of the users would invoke the second option anyways.

[2018-05-22 17:54] #188 closed

[2018-05-22 18:00] droot commented on #179
Implementing this will be lot more easier once we add support for dynamic k8s client in KB.

[2018-05-22 18:03] liyinan926 commented on #179
@droot What would you suggest we should do short-term? For now, I just manually add the informer to `InjectArgs`. Is there a better way of doing this?

[2018-05-22 19:29] fanzhangio opened #200 "(Bug) Can not convert go primitive type to JSON schema type"
#parsePrimitiveValidation()# is responsible for converting go primitive type to JSON schema type: like `int, int64, uint64 -> integer`, `bool -> boolean`

But the generated CRD yaml file does not apply these conversion.

[code]

[2018-05-22 19:55] perotinus opened #201 "kubebuilder docs doesn't necessarily work the first time"
The first time `kubebuilder docs` is run, it creates a `pkg/generated` directory with some OpenAPI generation code and tries to run this. If the project's vendor directory does not already include the dependencies that requires, the generation command fails.

The workaround is to run:
[code]

[2018-05-22 19:57] perotinus opened #202 ""kubebuilder docs" creates a "build" directory whose owner is root"
The owner should be the current user, not root. Currently, after running `kubebuilder docs`, I have to do a `chown` for that directory in order to be able to continue the workflow.

[2018-05-23 18:14] #184 closed

[2018-05-23 18:58] droot commented on #201
I am not able to reproduce the issue. Can you share the error that you are seeing ? Also it will help if you can share the steps you performed before running `kubebuilder docs` for the first time.

[2018-05-23 18:58] Liujingfang1 opened #207 "Add support for required field in parsing CRD validation"
For following struct, `Enabled` should be in the `Required` list.
[code]
However, currently we are missing that part in generated card
[code]
The correct one should be
[code]

[2018-05-24 01:11] #128 closed

[2018-05-24 01:13] pwittrock commented on #128
Fixed in #150

[2018-05-24 01:19] pwittrock commented on #200
Maybe the yaml should be created from serializing the go variable for the CRD with `yaml`

[2018-05-24 14:49] jessfraz opened #209 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 17:28] font commented on #197
@pwittrock Will do!

@droot Yes, I tend to agree.

[2018-05-24 18:18] perotinus commented on #201
Thank you, @droot! I'm able to reproduce this starting with k8s.io/cluster-registry at HEAD. This is with kubebuilder 0.1.9.

[code]

[2018-05-24 20:06] #165 closed

[2018-05-24 20:12] grodrigues3 opened #213 "(XS) Design version 2 for Controller libs."
After careful evaluation of other libraries in the OSS world, we have come up with a few ideas to simplify the controller libraries. V2 depends on the dynamic client for k8s.

[2018-05-24 20:14] grodrigues3 opened #214 "(M) - Design DynamicClient for K8s which supports CRUD operations for any K8s resource."
This will simplify the controller library drastically.

See proposed code structure here:

http://book-proposal.kubebuilder.io/basics/simple_controller.html

[2018-05-24 20:15] grodrigues3 opened #215 "(S) - As a k8s Webhook developer, I need a CertProvider pkg which I can use with the Webhook pkg provided by Kubebuilder or Independently."
Acceptance criterion:
 - API interface design with documentation
 - Example use cases demonstrating how to consume the APIs

[2018-05-24 20:16] grodrigues3 opened #216 "(M) - As a k8s Webhook developer, I need a WebHook Cert Provisioner pkg which can dynamically provision certs for my webhook."
Story: I need a way to get Certificates for my webserver that are written to the webhookConfiguration and secrets.

[2018-05-24 22:37] kragniz opened #218 "Ginkgo flags added to controller-manager"
When creating a new controller, lots of extra ginkgo related flags show up in `-h`, for example

[code]

This is from a fresh project start:

[code]

it seems like ginkgo's `init()` is getting called, which adds those flags.

[2018-05-25 00:47] perotinus opened #220 "Generated CRD validation spec is incorrect for byte arrays"
It looks like the generated OpenAPI schema for CRD validation turns a byte array (`[]byte`) into this:

[code]
This causes validation to fail when trying to create a resource:

[code]

To fix this, I have to replace `array` with `string` in the generated CRD definition, though I haven't read the OpenAPI spec in detail to understand if this is the correct fix. Can this be fixed upstream?

I found a

[2018-05-25 19:03] pwittrock commented on #218
Thanks.  Will pull this into the next Sprint starting Thursday.

[2018-05-25 19:07] #124 closed

[2018-05-25 19:09] pwittrock commented on #168
We are going to fix this another way by moving away from generated clients.

[2018-05-25 19:09] #168 closed

[2018-05-25 19:10] pwittrock commented on #91
Switching from code generation to dynamic clients should resolve this.

[2018-05-25 19:10] #91 closed

[2018-05-25 19:10] #31 closed

[2018-05-25 19:10] #96 closed

[2018-05-25 19:11] pwittrock commented on #144
We should just generate one thing and use it in 2 places.

[2018-05-25 19:11] #144 closed

[2018-05-25 19:11] #172 closed

[2018-05-25 19:11] pwittrock commented on #172
Done in #222

[2018-05-25 19:12] #195 closed

[2018-05-25 19:14] pwittrock commented on #201
This is probably because the docs generation introduces some new deps.  These should be added to the Gopkg.toml

[2018-05-25 19:17] #197 closed

[2018-05-25 20:05] jhernandezb opened #224 "Events are not re-enqueued"
The GenericController does not add an event back to the queue if the Reconciler function returns an error and its totally depending of the re-sync interval to reprocess an item which is not what I might expect to do.

[2018-05-25 20:21] pwittrock commented on #179
Adding the informer to the inject args seems like the way to go.  Be sure to start the informer in the inject package.

[2018-05-25 20:31] #174 closed

[2018-05-25 20:31] #173 closed

[2018-05-29 05:51] lichuqiang commented on #224
/assign @jhernandezb

[2018-05-30 02:46] #224 closed

[2018-05-30 16:19] kragniz opened #230 "Leader election"
It might be a good idea to support leader election by default, or document deployment patterns to avoid having multiple controllers active at a time.

[2018-05-30 18:32] perotinus opened #231 "Incorrect import paths in Go files in subdirectories of sample/ and test/"
When doing a recursive `go get` on the kubebuilder repo, there are some failures due to import paths that do not exist:

[code]

[2018-05-30 21:13] Liujingfang1 opened #233 "create controller for multiple types"
currently there is only one type added in the controller when calling
`kubebuilder create controller --group <group> --version <version> --kind <kind>`
If we want to create a controller which handles two types, we have to copy and paste imports, annotations and struct fields manually.  If `kubebuilder create controller` can accept multiple group/version/kind, then we can skip the manual copy/paste

[2018-05-30 21:35] Liujingfang1 commented on #231
Those unrecognized import paths are generated files. They are only available after we run `kubebuilder generate`

[2018-05-30 22:06] pwittrock commented on #233
I think this is an anti-pattern.  Controllers should only Reconcile 1 type, and events for objects of other types should be mapped to objects of that type.

[2018-05-30 22:06] #233 closed

[2018-05-30 22:08] #213 closed

[2018-05-30 22:23] pwittrock commented on #202
Use `--user` with Docker run.

[2018-05-30 23:06] pwittrock opened #234 "Implement CertProvider Controller / Library for generating Certs for Webhooks"

[2018-05-31 00:08] pwittrock commented on #201
@perotinus I think the problem is you need to run dep ensure after updating vendor.

[2018-05-31 00:10] pwittrock commented on #201
Wasn't able to reproduce.

[2018-05-31 00:10] #201 closed

[2018-05-31 00:34] crimsonfaith91 commented on #124
@droot @pwittrock
I am currently working on a `.md` file on how to run the e2e tests on remote clusters (e.g., GKE). I will send out the doc soon.

[2018-05-31 00:37] pwittrock commented on #218
Figured out the root cause.  This is due to the way we ensure dependencies are fetched by dep ensure.

[2018-05-31 00:38] pwittrock commented on #231
@perotinus What are you running go get for?  Is it to get the binaries or the libraries?

[2018-05-31 01:38] #209 closed

[2018-05-31 01:57] perotinus commented on #231
@pwittrock It is for the libraries. Unfortunately, the tool that I'm using to do the imports uses `go get $REPO/...`, which means that it cannot work as-is with kubebuilder.

@Liujingfang1 I see that the test imports are generated later; it looks like the example imports are assuming that the samplecontroller is directly in `$GOPATH/src`, which it is not.

[2018-05-31 11:18] lichuqiang commented on #234
sounds interesting, can you give some more details?

[2018-05-31 15:53] pwittrock opened #239 "Dep Ensure is run 2x when creating a new project"
Not sure why it is run twice.  Should only be run once.

[2018-05-31 15:55] pwittrock commented on #230
Closing this for now to keep the issue count from inflating with feature requests.  Will track through the milestone and project.

[2018-05-31 15:55] #230 closed

[2018-05-31 15:56] pwittrock commented on #143
Closing to keep issue count from inflating.  Will track through milestone and project

[2018-05-31 15:56] #143 closed

[2018-05-31 15:57] pwittrock commented on #171
Closing to keep issue count from inflating.  Will track through milestone and project.

[2018-05-31 15:57] #171 closed

[2018-05-31 15:58] pwittrock commented on #179
Closing to keep issue count from inflating.  Will track through milestone and project.

[2018-05-31 15:59] #179 closed

[2018-05-31 16:05] pwittrock commented on #234
@lichuqiang Mengqi has started working on this.  Perhaps you could review his PR?

@mengqiy Would you reach out to @lichuqiang and give the background?

[2018-05-31 16:10] pwittrock opened #240 "V2: Implement Predicates"
**Note**: Use the kubernetes-sigs/controller-platform repo

Port over the Predicates from [predicates](https://github.com/kubernetes-sigs/kubebuilder/tree/master/pkg/controller/predicates) to the [new predicate package](https://github.com/kubernetes-sigs/kubebuilder/tree/controller-platform/pkg/ctrl/predicate).

- [ ] Implement Predicates
- [ ] Implement unit tests
- [ ] Implement integration test

[2018-05-31 16:55] #166 closed

[2018-05-31 17:17] pwittrock commented on #177
cc @DirectXMan12

[2018-05-31 20:10] barney-s opened #242 "Exit Controller on certain Errors"
Using a script to create a ClusterRoleBinding and controller Deployment.

For some reason, the ClusterRoleBinding is not being applied or a race condition exists when the controller starts. As a result when the controller is starting, it throws an error registering informers for the CustomResources. But since the controller process did not exit, the controller pod was not restarted and ended up be

[2018-05-31 21:32] mengqiy commented on #234
Sure.

@lichuqiang let's sync over the slack.

[2018-06-01 14:54] #220 closed

[2018-06-01 15:03] #202 closed

[2018-06-01 16:27] pwittrock commented on #240
@lichuqiang Would you be interested in looking at various controllers from kubernetes and the example and coming up with a list of collection of standard Predicates?

[2018-06-01 17:04] #239 closed

[2018-06-01 17:57] lichuqiang commented on #240
sure :)

[2018-06-01 18:31] perotinus opened #249 "kubebuilder docs refers to pkg/controller even when a controller has not been generated"
See https://github.com/kubernetes-sigs/kubebuilder/blob/561e4da021cdee17759d74580829ab1e9a6eb6cb/cmd/kubebuilder/docs/gen.go#L25

If the code generation did not include a controller, it seems that this package should not be referenced when doing doc generation. Perhaps the search can optionally add this package if it exists?

[2018-06-01 19:02] #218 closed

[2018-06-01 20:29] mengqiy opened #250 "Controller test generator doesn't handle the cluster-scoped resources correctly"
The template is at:
https://github.com/kubernetes-sigs/kubebuilder/blob/83156c1279897cde2339eaacb024a9eb73d94836/cmd/kubebuilder/create/controller/controllertest.go#L164
The cause seems to be that we haven't set `NonNamespacedKind` anywhere, it is defaulted to `false`.

It currently generates
[code]
But it should generate
[code]

[2018-06-01 21:10] pwittrock commented on #231
@Liujingfang1 Can you take another look? when you have a moment?

[2018-06-01 21:53] Liujingfang1 commented on #231
@perotinus It seems like `samplecontroller` project was created under `$GOPATH/src` and moved into kubebuilder directory. Let me see if I can fix the problem

[2018-06-01 21:56] perotinus commented on #231
@Liujingfang1 Thank you very much!

Also, for the testing package, would it be possible either to move it into a `testdata` directory so that it doesn't get processed by the go tools, or store the generated code and have a preprocessing step of the test be to delete the generated code, or something else?

[2018-06-01 22:00] Liujingfang1 commented on #231
@perotinus For the testing package, I can add the generated file. Our test library already has some cleanup functions, adding the generated file won't affect the testing result.

[2018-06-01 22:09] perotinus commented on #231
@Liujingfang1 Thank you very much (again)!

[2018-06-01 23:32] #231 closed

[2018-06-04 20:47] kragniz opened #253 "Generating informers and rbac rules for rbac resources"
I can create rbac rules for rbac resources, for example with this comment:

[code]

However when I try and do the same with an informer:

[code]

I get the following confusing error message, which asks me to add the previous rbac rule:

[code]

Running generate with `--skip-rbac-validation` generates invalid code:

[code]

[2018-06-04 23:30] #207 closed

[2018-06-04 23:35] Liujingfang1 commented on #253
@kragniz Please change your annotations to
[code]

[2018-06-04 23:41] Liujingfang1 commented on #253
@philips We can add some instructions for annotation formats in the documentation. The informers annotation accepts singular while the rbac annotation accepts plural.

[2018-06-06 15:55] pwittrock opened #254 "V2: Implement ChannelSource"
**Note:** Use the kubernetes-sigs/controller-platform repo

- [ ] Implement the ChannelSource struct in `pkg/ctrl/source/source.go`.
- [ ] Implement unit tests in `pkg/ctrl/source/source_test.go`
- [ ] Implement integration tests in `pkg/ctrl/source/source_integration_test.go`

[2018-06-06 15:59] pwittrock opened #255 "V2: Implement InjectEventRecorder"
- [ ] Implement InjectEventRecorder in `pkg/ctrl/inject`
- [ ] Implement a solution for getting a new EventRecorder - maybe a factory function that returns an EventRecorder for a component name
  - Similar to [pkg/inject/args/args.go](https://github.com/kubernetes-sigs/kubebuilder/blob/b3c7b05e20745db8d2b1be82cbcb2ba08905a93a/pkg/inject/args/args.go#L56)
- [ ] Inject the EventRecorderFactory into

[2018-06-06 16:05] pwittrock opened #256 "V2: Implement solution for managing Schemes"
The current controller-platform libraries use the kubernetes client-go `schema.Scheme`.  Users should actually create their own and add the kubernetes scheme to the one they create.

[2018-06-06 20:47] #234 closed

[2018-06-06 22:19] mengqiy commented on #215
Closed by #245

[2018-06-06 22:19] #215 closed

[2018-06-06 22:29] pwittrock commented on #256
/lgtm

[2018-06-06 22:31] #214 closed

[2018-06-07 01:55] fanzhangio commented on #177
I am wondering what could be a better way for buckets and distribution of presenting `reconcile time`.
I implemented a simple one as below:
[code]

[2018-06-07 13:46] munnerz commented on #216
I have done some work on this using cert-manager, a PR is here: https://github.com/jetstack/cert-manager/pull/478

It is more complex in that PR ^ as I also perform some bootstrapping so that cert-manager can secure it's *own* webhook endpoints.

In short, you should be able to:

1. Generate a CA using openssl (this is until cert-manager supports a 'self signed' Issuer type, which should be very s

[2018-06-07 13:51] munnerz commented on #176
I for one would love to see a tool that simply spits out the CustomResourceDefinition YAML from my projects sources, preferably similar to how the docs generation works (i.e. not requiring a project be 'kubebuilder managed').

More generally, I think a less monolithic model for kubebuilder would be awesome if it were possible (i.e. kubebuilder becomes a wrapper around the many tools it is comprise

[2018-06-08 18:21] surbas opened #259 "Creating a resource named 'Run' is not possible as it collides with internals."
Not sure what best solution is but if you attempt to create a resource named Run it is impossible to build a working controller manager.

Steps to reproduce:
`kubebuilder init --domain foo.com`
`kubebuilder create resource --group core --version v1alpha1 --kind Run`
`GOBIN=${PWD}/bin go install ${PWD#$GOPATH/src/}/cmd/controller-manager`

OUTPUT:

[2018-06-08 18:44] Liujingfang1 commented on #259
The problem comes from the name `Run`. Can you change it to a different name?

[2018-06-08 19:27] surbas commented on #259
@Liujingfang1 already have :). Reporting this cause I think there may be a need to either blacklist certain names like `Run` or have kubebuilder mangle its internal namespace so naming collisions are harder. This of course may be the only name that causes this... so maybe a documentation fix is all that needed?

[2018-06-11 18:22] lionelvillard opened #261 "kubebuilder docs fails"
I follow the quick start API documentation instructions and I get this error:

[code]

I tried installing `pwittrock/brodocs` from dockerhub, but no luck.

[2018-06-12 22:22] grantr opened #262 "Generated informer import uses wrong repo"
I have two resources defined: Foo and Bar. Each one was generated by `kubebuilder create resource`.

My Foo controller needs to list Bar resources, so I want to give it a Bar informer. I used these annotations:

[code]

The import path for the Bar informer is in my repo, so I expect this to generate an import like this:

[code]

But instead the generated import is:

[code]

Am I holding it wrong?

[2018-06-12 22:54] grantr commented on #262
I just realized the informers for all generated controllers are automatically instantiated, so the example above is sort of moot since there's no need to declare an informer (though the docs should be updated to make this clearer).

However, this is still an issue when importing resource types from other repositories. In my case, I use CRDs from Istio. I don't need to define a controller for these

[2018-06-12 23:30] grantr opened #263 "init --controller-only clobbers my Gopkg.toml"
I want to add kubebuilder controllers to my existing project which already has a `Gopkg.toml` file. When I run `kubebuilder init --controller-only`, my `Gopkg.toml` is replaced by a new one generated by kubebuilder. Kubebuilder's `Gopkg.toml` doesn't include any of my dep directives. Now I have to carefully merge the two files (assuming I had committed the previous one).

Ideally this command woul

[2018-06-12 23:37] grantr opened #264 "Generated controllers don't match samples"
When I generate a controller with kubebuilder 0.1.11, I get this struct:

[code]

But the samples at https://github.com/kubernetes-sigs/kubebuilder/blob/10fc5c79a2a572b0d0898b1464708750f9d8dd8c/samples/full/controller/src/samplecontroller/pkg/controller/foo/controller.go and https://github.com/kubernetes-sigs/kubebuilder/blob/10fc5c79a2a572b0d0898b1464708750f9d8dd8c/samples/controller/controller.g

[2018-06-13 12:47] JoelSpeed opened #265 "Kubebuilder-gen generates wrong import for pkg/inject/zz_generated.kubebuilder.go"
Using v0.1.11 when running `kubebuilder generate` the generated file `pkg/inject/zz_generated.kubebuilder.go` tries to import `"github.com/kubernetes/apimachinery/pkg/runtime/schema"` where instead it should be importing `"k8s.io/apimachinery/pkg/runtime/schema"`

[2018-06-13 16:13] pwittrock commented on #265
@droot Would you TAL?

[2018-06-13 16:14] pwittrock commented on #265
@JoelSpeed We are making some changes that should make this obsolete.

[2018-06-13 16:16] pwittrock commented on #264
@grantr There was some feedback that the new format was simpler and required less editing of boilerplate.

[2018-06-13 16:17] pwittrock commented on #264
Will address this as part of integrating the https://github.com/kubernetes-sigs/controller-runtime libraries.

[2018-06-13 16:18] pwittrock commented on #263
@grantr If you just want the controller libraries, we are moving them out so they can be consumed separately from the tools: https://github.com/kubernetes-sigs/controller-runtime.  See https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg for docs.

[2018-06-13 16:29] pwittrock commented on #259
@surbas Thanks.  This should be addressed when we integrate the https://github.com/kubernetes-sigs/controller-runtime libraries.

[2018-06-13 16:34] pwittrock commented on #261
@lionelvillard looks like the image didn't get pushed.  I just pushed it and it should work now.  Re-open if there are any permissions issues.

[2018-06-13 16:34] #261 closed

[2018-06-13 16:34] #254 closed

[2018-06-13 16:35] pwittrock commented on #253
Closing.  This should be more clear when using the controller-runtime libraries.

[2018-06-13 16:35] #253 closed

[2018-06-13 16:36] #194 closed

[2018-06-13 16:37] pwittrock commented on #249
I think we can just remove the controller.  It shouldn't be required.  Feel free to file a PR to remove it, otherwise I can get to it later.

[2018-06-14 00:06] droot commented on #262
new `client` package in [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime/tree/master/pkg/client) makes it easy to use k8s API types, you just need to import the `type` package (core or non-core doesn't matter) and it sets up the informer etc for you. Re: RBAC, we are coming up with piece-wise tooling which will help to generate just RBAC, CRD or config yaml etc. without h

[2018-06-14 00:10] droot commented on #263
We thought about that as well. We wanted to pin the dependencies for Kubebuilder generated projects to ensure reproducibility of the deps in the generated project. Also, we have seen k8s dependencies don't play very well with the `dep` tool if you don't specify the `overrides` or `constraints` well.

[2018-06-14 00:11] droot commented on #265
@JoelSpeed yes, you are correct. It should be importing "k8s.io/apimachinery/pkg/runtime/schema"

[2018-06-14 00:32] perotinus commented on #249
@pwittrock Thank you! This seems easy enough, I'll push a PR out today.

[2018-06-14 03:07] pwittrock commented on #263
@grantr the reason we write the Gopkg.toml is so `dep` that all users are working with the same set of shared dependencies instead of a bespoke set that `dep` decided to grab.  On many occasions `dep` will not provide a set of dependencies that function together.

[2018-06-14 12:49] lichuqiang commented on #256
Wondering how it integrates with the existing code. I think it's the users that pass the scheme in.
So, maybe an independent function to help users construct scheme?

[2018-06-15 18:34] #249 closed

[2018-06-18 16:51] marun opened #267 "'create resource' with plural kind generates broken tests"
Steps to reproduce:

- `kubebuilder init --domain example.com`
- `kubebuilder create resource --group overrides --version v1alpha1 --kind Overrides --plural-kind`

Unexpected result:

Tests refer to `OverridesV1alpha1().Overrides("default")` instead of  `OverridesV1alpha1().Overrideses("default")`.  Also, 'Overrideses' is a surprising pluralization, and is still used even if `--resource overrides`

[2018-06-19 14:40] JoelSpeed commented on #265
So I've made a discovery, on the system I was building on when I found this bug, for some reason I had a copy of `kubernetes/apimachinery` checked out at `$GOPATH/src/github.com/kubernetes/apimachinery`, I've removed that and now I get the correct generated file.

I have no idea what was doing that resolution but making sure I don't have erroneous copies of the repo seems to have fixed the problem

[2018-06-19 17:01] droot commented on #265
I don't think so.

One edge case I can think of: if at any point, you saved the generated file in an editor and `goimports` got triggered and it might have resolved in this ?

[2018-06-20 14:17] cmoulliard opened #268 "Error parsing reference: "golang:1.9.3 as builder" is not a valid repository/tag: invalid reference format"
Kubebuilder version use : 0.1.11

During the process to build the `Dockerfile.controller`, then docker reports this error

[code]

Do we need to use a specific version of docker to perform this build ?

[2018-06-21 15:32] pmorie opened #272 "Categories are not created by controller-installed CRD"
Found this last night while experimenting; working on a fix now.

[2018-06-21 16:50] JoelSpeed commented on #265
Nope, this was happening without me even opening the file in any editor

[2018-06-21 18:11] pwittrock opened #273 "Better support for creating CRDs"
Improve support for creating crds from types.go by introducing a new command.  This is in preparation for integration the controller-tools and controller-runtime libraries.

[code]

Part 1:
- [x] don't require the // kubebuilder:resource tag, instead generating for any types under the input directories that have a TypeMeta and ObjectMeta file.
- [x] default input directory to ./pkg/apis/...
- [x]

[2018-06-21 18:13] pmorie opened #274 "CI should test kubebuilder-created repo against a rule kubernetes"
So that we can perform more detailed checks and real end-to-end test of, for example:

- That the generated crd.yaml matches the CRD the generated controller installs
- Controller functions correctly, or at least passes a basic smoke test of running against a real cluster

[2018-06-21 18:17] pmorie opened #275 "Asciinema blows through the last part"
The asciinema is great at showing the basic dev flow but blows through the part where the controller is deployed. We should add a pause to the end to give people a chance to absorb what's happening.

[2018-06-21 18:28] pwittrock opened #277 "Support kubebuilder v2 using controller-tools commands"
We want to switch kubebuilder to using controller-tools and controller-runtime libraries, but don't want to break existing users.

- [ ] On startup check if the PROJECT file exists and if the version is "2"
- [ ] If running `kubebuilder init project` default to using `controller-tools controller-scaffold/cmd.ProjectCmd`

- [ ] Otherwise check the project version - if the PROJECT file is found with

[2018-06-21 18:50] pwittrock opened #278 "Better support for creating docs"
Similar to #273 but for docs

- [ ] Don't require the `// kubebuilder:resource` tag, instead key off ObjectMeta and TypeMeta

[2018-06-21 19:56] #272 closed

[2018-06-21 22:25] pwittrock opened #280 "Create a simple command for downloading the apiserver + etcd binaries and running them"
`kubebuilder install`

- Install the apiserver and etcd binaries for the platform if they don't exist
- Check if binaries are latest version, if not ask the user if they want to update the versions
- Make sure the test framework libraries in controller-runtime will search the installed location without additional configuration
- Update controller-runtime to tell the user to install them with kubeb

[2018-06-21 23:15] pwittrock opened #281 "Better support for generating RBAC"
- [ ] Break out RBAC role and rolebinding generation as a separate command that can be called separately `kubebuilder generate rbac`
- [ ] Make sure it works even if Controllers aren't annotated - should work against any struct or function with the `// kubebuilder:rbac` annotation
- [ ] Create a separate file for each role + rolebinding pair with the name of the group - e.g. `apps_rbac.yaml`, `cor

[2018-06-22 20:55] abdennour opened #285 "GOPATH is a multi-value environment variable"
I see you catch an error by this message:

[code]

When `GOPATH=/Users/abd/go`, it works. and when `GOPATH=/Users/abd/v1/go:/Users/abd/v2/go`, it does not work.

I assume you didn't consider the multi-value aspect of `GOPATH`.

Indeed, you can append multiple values to `GOPATH` by separating them through `:`.

[2018-06-26 09:36] cmoulliard commented on #268
The error is due to the fact that multi-stage docker build is not supported by distribution of Centos/Fedora Docker which is a bit outdated (docker 1.13).

I can get rid of this issue by using the `imagebuilder` tool -> https://github.com/openshift/imagebuilder

[2018-06-27 23:56] mengqiy opened #294 "change import path from github.com/kubernetes-sigs/kubebuilder to sigs.k8s.io/kubebuilder"

[2018-06-29 18:32] surbas commented on #285
I ran into the same issue. I have taken a look at the code and I may be wrong but seems like an easy change to accommodate multiple directories in GOPATH. @pwittrock @Liujingfang1 would this be a valid issue to fix? Is there more to it? I would like to take it on myself.

[2018-06-29 18:33] abdennour commented on #285
Great @surbas ! Please go ahead.

[2018-07-01 22:58] gyliu513 opened #297 "kube-apiserver version is not right in 0.1.11 and 0.1.12"
Why did the apiserver version is as follows?

[code]
[code]

A normal apiserver should have following version.
[code]

[2018-07-02 16:35] jchesterpivotal opened #298 "`kubebuilder create resource --group concourse-ci.org` fails"
When I use `concourse-ci.org` as my `--group` param, I see:

`2018/07/02 12:06:21 --group must match regex ^[a-z]+$ but was (concourse-ci.org)`

I would expect this to succeed. The problem appears to be that [the validating regex](https://github.com/kubernetes-sigs/kubebuilder/blob/019fa3c8c8550e817a065cb82058fe790903ed1e/cmd/kubebuilder/create/util/util.go#L59) does not cover all legal domain nam

[2018-07-02 17:44] jchesterpivotal commented on #298
Actually, it seems to reject all domains, because `.` is also not in the regex `^[a-z]$`.

[2018-07-05 14:58] mattfarina opened #300 "Windows release?"
There are releases for both Mac and Linux (appears to be POSIX based). Would it be possible to cross-compile to Windows and have a Windows release as well?

[2018-07-05 17:43] ecordell opened #301 "Escape hatch for CRD validation"
It would be nice to have to a way to specify an arbitrary validation block for a key.

We have a resource that is parsed dynamically based on the value of an enum. For validation we use `oneOf` to [provide schemas for each option](https://github.com/operator-framework/operator-lifecycle-manager/blob/master/deploy/chart/templates/03-clusterserviceversion.crd.yaml#L319-L411). The backend type for th

[2018-07-09 21:41] jchesterpivotal commented on #298
Yes, I found that regex when I was investigating.

My report might better be phrased as "group regex incorrectly rejects permissible domain names".

[2018-07-10 01:10] pwittrock commented on #285
@surbas SGTM.  Please tae it on.

[2018-07-10 08:13] Gimi opened #303 "Add support for scale subresource"
Currently, kubebuilder only supports the "// +kubebuilder:subresource:status" status subresource comment directive. The scale subresource is missing.

Expect:
* Support "// +kubebuilder:subresource:scale" comment directive in apis/resource.

[2018-07-10 13:12] surbas commented on #285
Will do! Will try to have a pull by end of weekend.

On Mon, Jul 9, 2018 at 9:11 PM Phillip Wittrock <notifications@github.com>
wrote:

[2018-07-10 20:53] droot commented on #301
Since CRD schema supports Open API v3, so if Kubebuilder can support `oneOf` directive on the `Go` types (as a function of schema of other backend types you mentioned), this can be addressed I guess.

For custom validation, using ValidatingWebhooks will be more powerful though.

[2018-07-10 20:57] droot commented on #303
@Gimi just an FYI, Kubebuilder's new release (soon-ish) will be making use of https://github.com/kubernetes-sigs/controller-runtime libraries which removes the need for generated clientset. Subresource support is not in the first version of the client libraries there, but will be added in subsequent release.

[2018-07-10 20:58] droot commented on #303
@fanzhangio Can you investigate what all work will be required to add support for `Status` and `Scale` subresource on client library in https://github.com/kubernetes-sigs/controller-runtime

[2018-07-10 21:00] fanzhangio commented on #303
Sure. @droot

[2018-07-10 21:00] droot commented on #300
I think cross-compiling Kubebuilder binary itself should be easy because we use `GoReleaser` to generate the builds, packaging the dependencies for Windows is going to require some more work here. Happy to help if anyone wants to take this up.

[2018-07-11 23:44] fanzhangio commented on #285
@surbas. Thanks for your help. Please let me know if you need any help.

[2018-07-12 08:00] Gimi opened #307 "Generated CRD has error when subresources is used"
To reproduce the issue:
1. prepare a k8s cluster that supports custom resource subresource
2. create a resource use `kubebuilder` cli
3. in the resource type file `pkg/apis/<group>/<version>/<resource>_type.go`, add the status subresource comment directive `// +kubebuilder:subresource:status`
4. run `kubebuilder generate`
5. build the controller manager, and run it against the k8s cluster prepared

[2018-07-12 18:52] droot commented on #307
Can you also share the generated schema and expected schema highlighting the difference ?

[2018-07-12 18:56] droot opened #309 "Parallelize the tests"
Observed in travis that test.sh is taking close to 20~25 mins which is very slow.

I am sure there are some low hanging fruits to speed up the tests for ex. being able to run them in parallel. So this task is to investigate how we can speed up the tests and also remove invalid tests (if there are any).

[2018-07-12 20:04] droot commented on #309
cc @mengqiy

[2018-07-12 22:29] fanzhangio commented on #309
It seems like `init project with dep ensure` are executed multiple times, which is major overhead. It requires to have better scheduled.

[2018-07-12 22:29] mengqiy commented on #309
One thing we can do to get speeding up a lot is:
init the project (including dep ensure) once and then copy the project directory to all other tests.
Then other tests can run in parallel w/o `dep ensure`.

[2018-07-12 22:30] fanzhangio commented on #309
I am thinking if we can cache the dependencies in a static dir, and refer to reuse it.

[2018-07-12 23:21] mengqiy commented on #309
Yeah, that's another way to do that.

[2018-07-16 22:49] liyinan926 opened #313 "User-added rules in Gopkg.toml not retained when updating vendor"
I noticed that user-added rules in `Gopkg.toml` after the comment `# Users add deps lines here` were not retained after running `kubebuilder update vendor` as suggested in http://book.kubebuilder.io/beyond_basics/upgrading_kubebuilder.html. They seemed deleted from `Gopkg.toml`, although `Gopkg.lock` seemed to include them.  This causes IDE such as intellij idea (with the dep plugin) to complain a

[2018-07-17 17:08] droot commented on #313
Can you share an example Gopkg.toml file from your project ?

@fanzhangio can you pl. take a look at this one ?

[2018-07-17 17:10] droot commented on #309
We probably don't need this now. Closing it.

[2018-07-17 17:10] #309 closed

[2018-07-17 17:11] liyinan926 commented on #313
My `Gopkg.toml` looks like the following:

[code]

After running `kubebuilder update vendor`, the dependencies I added at the top are gone.

[2018-07-17 21:50] fanzhangio commented on #313
@liyinan926 Thanks for your feedback. I am looking into it. Quick question, may I know which version of kubebuilder you are using for this issue. We have v0, and v1 at this moment.

[2018-07-17 22:16] liyinan926 commented on #313
@fanzhangio I'm using v0.1.12 at https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v0.1.12.

[2018-07-18 04:37] bwarminski opened #316 "dep ensure error on fsnotify"
I was able to successfully init a project last night, but tonight for some reason the `dep ensure` step done upon init was failing with:

[code]

Based on Google searching kube dep ensure, I saw this issue: https://github.com/golang/dep/issues/1799, reran `dep ensure -v` and verified that it was erroring on
[code]

Adding this to Gopkg.toml resolved the issue:

[code]

[2018-07-18 04:40] bwarminski commented on #316
Looks like this will be resolved with https://github.com/kubernetes-sigs/kubebuilder/commit/50adf534b559f15683c54aa947d2bdd942d321b1. Can we backport to the most recent release?

[2018-07-18 06:21] liyinan926 commented on #313
@fanzhangio Adding the flag `--overwrite-dep-manifest` gave me the same behavior for both values of `true` and `false`.

[2018-07-19 15:48] 1ForA11 commented on #316
using `dep ensure -v` after adding the override then executing `kubebuilder init` works but I can see that the hack yamls are missing.

[2018-07-19 18:18] droot commented on #316
We will be doing a release today. Unfortunately, affected projects will have to use the workaround for now.

[2018-07-19 18:20] droot opened #319 "Go version check in project init does not work"
Kubebuilder requires Go version 1.10 or higher however the version check is broken (tried on Go 1.9 today).

Task is to use semver lib https://github.com/Masterminds/semver for version check.

[2018-07-19 18:20] droot commented on #319
cc @Liujingfang1

[2018-07-19 18:25] droot commented on #281
This has been addressed with controller-gen tool adding support for RBAC generation.

[2018-07-19 18:25] #281 closed

[2018-07-19 18:26] droot commented on #277
project-version support was added sometime back, so closing this issue.

[2018-07-19 18:26] #277 closed

[2018-07-20 00:19] bwarminski commented on #316
Can confirm, init works great on this release. Thanks.

[2018-07-20 00:19] #316 closed

[2018-07-20 00:34] bwarminski opened #321 "Omitting --version on api create puts project in broken state"
I made a boo boo when typing but it uncovered a bug:

Steps to reproduce
[code]

Output
[code]

Subsequent attempts to do anything, such as re-create the resource with the right flags, end up with:

[code]

I think I saw a validation check running around, but maybe it happens too late in the process and empty files were scaffolded. Happy to attempt a fix once I've gotten some comfort with the happ

[2018-07-20 01:35] bwarminski opened #322 "Non-namespaced resource CRD gets generated as scope: Namespaced"
Command Issued:

[code]

Resulting crd:
[code]

Expected `scope: Cluster`

[2018-07-20 16:35] adambkaplan opened #323 "JSONSchemaProps Not Generated If Key Contains Numbers"
Version: v1.0.0
OS: macOS 10.13.6 (High Sierra)

If an object's JSON key contains a number, kubebuilder does not generate the appropriate JSONSchemaProp entry.

**Expected behavior**
The objects generated `zz_generated.kubebuilder.go` contains JSONSchemaProps entries for all properties defined in the API struct.

**Actual Behavior**
Generated object does not contain entries for properties whose JS

[2018-07-20 17:14] droot commented on #321
@bwarminski will take a look. Happy to review the code if you do attempt to fix it.

[2018-07-20 17:16] droot commented on #323
@fanzhangio Can you pl. take a look.

[2018-07-20 17:19] droot commented on #322
@fanzhangio Can you pl. take a look this one ?

[2018-07-20 20:31] droot commented on #294
Unfortunately, this is a bit tricky because it is going to break the legacy generated projects because they reference using the old path. Closing this for now.

[2018-07-20 20:31] #294 closed

[2018-07-20 21:13] cflewis opened #326 "etcd should not be assumed to be in /usr/local/kubebuilder/bin/etcd"
I installed the Kubebuilder binaries in a personal folder:

[code]

Kubebuilder assumes that `etcd` is in `/usr/local/kubebuilder/bin/etcd`

[code]

My grepping found this:

[code]

As long as `etcd` is in the user's path, things should work. Is there a reason a full path was hardcoded?

[2018-07-23 17:40] droot commented on #313
@liyinan926 Thanks for the gopkg.toml file, I am able to reproduce it in my setup. Looking in to it.

@fanzhangio this is not related to `--overwrite-dep-manifest`. That flag is to override the Gopkg.toml file which is not the intent in this case.

[2018-07-23 21:04] fanzhangio commented on #323
@adambkaplan. Thanks for your feedback. I can reproduce it, looking into it.

[2018-07-23 21:43] #313 closed

[2018-07-23 21:45] droot commented on #313
@liyinan926 this should be available anytime for the release from master. You can follow instructions on this [page](http://book.kubebuilder.io/getting_started/installation_and_setup.html) for installing latest master release.

[2018-07-23 21:45] liyinan926 commented on #313
Awesome! Thanks, @droot!

[2018-07-23 22:04] droot commented on #169
@devdattakulkarni FYI, we released 1.0.0 last week (https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v1.0.0) which incorporates feedback from the previous versions. It addresses some of the concerns in your original post about new concept a user has to learn to use Kubebuilder. We have tried to reduce the abstractions a user has to work with or rather made those abstractions easier to g

[2018-07-23 22:40] devdattakulkarni commented on #169
Thanks for the heads up @droot

Will check out latest release of kubebuilder and also controller-runtime library.

[2018-07-24 04:41] droot commented on #275
The asciinema gif is updated. It covers the dev workflow with notes etc. I think its in good shape as far as Kubebuilder intro is concerned.

Closing this issue, Pl. re-open it if you think we need to improve it.

[2018-07-24 04:41] #275 closed

[2018-07-24 04:48] droot commented on #263
Correct workflow for this use-case would be to start with a new project (initialized with Kubebuilder) and then use user-managed-deps section in generated `Gopkg.toml` file for project specific dependencies.

Closing this issue. @grantr pl. re-open this issue if you think the suggested workflow doesn't address your use case.

[2018-07-24 04:48] #263 closed

[2018-07-24 04:49] droot commented on #256
This is addressed, so closing it.

[2018-07-24 04:49] #256 closed

[2018-07-24 14:04] calind opened #328 "CRD generation fails when spec contains a map"
__Steps to reproduce:__

[code]

Edit `pkg/apis/wordpress/v1alpha1/wordpress_types.go` and set `WordpressSpec` to:
[code]

Now run
[code]

It fails with:
[code]

__Versions:__
kubebuilder: `Version: version.Version{KubeBuilderVersion:"1.0.0", KubernetesVendor:"1.10", GitCommit:"9c4c6c213a8d17f8c21cf4f1aa9cefb99fbbf5ca", BuildDate:"2018-07-19T23:21:03Z", GoOs:"unknown", GoArch:"unknown"}`
go versio

[2018-07-24 14:06] calind commented on #328
As a workaround I've edited the `Makefile` and changed `manifests` target from
[code]
to:

[code]

[2018-07-24 16:50] grantr commented on #263
:+1: https://github.com/kubernetes-sigs/controller-runtime addresses this use case.

[2018-07-24 20:32] droot commented on #328
@calind Thanks for posting the workaround. I am impressed that you dig into the codebase to figure out the workaround :)

[2018-07-24 21:25] kuroneko25 opened #329 "Availability of admission controller"
Is there a timeline for when we can expect helpers for creating admission controllers (specifically mutating and validating webhooks) using kubebuilder?

[2018-07-25 01:16] pwittrock commented on #329
This is currently under development and should be released in 2-3 weeks

[2018-07-25 21:12] mengqiy opened #331 "samples are out of date"
samples under /samples are out of date from kb 1.0
We may want to delete it entirely.

[2018-07-25 21:13] Liujingfang1 commented on #331
How about migrate it to a v1 project?

[2018-07-26 12:25] jwierzbo opened #332 "Is it possible to use custom storage?"
I've build already extension api-server with separate etcd storage using apiserver-builder.
Is it possible to attach separate datastore (etcd) for my resources in kubebuilder (as I know CRD by design doesn't allow for external datasource)?

[2018-07-26 16:00] gyliu513 commented on #297
Can anyone show some comments for how to check version of `kube-apiserver` and `kubectl` in kubebuilder?

[2018-07-26 17:59] droot commented on #332
No, it is not.

[2018-07-26 17:59] #332 closed

[2018-07-26 18:01] droot commented on #328
This should be fixed now. Newer projects will automatically get the latest `controller-tools`.

@calind you can update the controller-tools deps by running `dep ensure -update sigs.k8s.io/controller-tools` and undo the workaround. Latest `controller-gen` tools have the fix. Pl. re-open if you the issue still persists.

[2018-07-26 18:01] #328 closed

[2018-07-26 18:04] droot commented on #319
Realized we need a way to check the Go version of the user's environment. Current approach is checking go-version of the Kubebuilder was built with.

[2018-07-26 20:18] droot commented on #265
Closing this. Pl. reopen it if you observe it with current builds of Kubebuilder.

[2018-07-26 20:18] #265 closed

[2018-07-26 20:47] medinatiger opened #333 "Kubebuilder fails to deal with slice type in resource definition."
Kubebuilder fails to generate test and/or sample for resource containing slide type.

xxxx.cloud.google.com "foo" is invalid: []: Invalid value: map[string]interface {}{
"kind":"VirtualMachine","apiVersion":"xxxx.cloud.google.com/v1alpha1", "metadata":map[string]interface {}{
"creationTimestamp":"2018-07-26T18:22:58Z", "generation":1, "uid":"ec1a0fbd-9100-11e8-ab65-a08cfdecd7cb", "selfLink":"", "c

[2018-07-27 13:44] sttts commented on #298
Why this restriction of `^[a-z]+$`? Apimachinery and the code generators support multi-segment domains and `-` as well.

[2018-07-27 17:02] sttts opened #335 "Create api command picks up equally named k8s.io/api group"
[code]

creates a healthcheckpolicy_controller.go which imports `k8s.io/api/policy/v1beta1` instead of the new types.

[2018-07-27 18:29] akanso opened #336 "install variable name discrepency"
## As a user:
When Installing kube-builder using this guide (https://book.kubebuilder.io/getting_started/installation_and_setup.html)

## Issue:

the variable name `version` is used differently later as `version_darwin_`

version=1.0.0 # latest stable version
arch=amd64

curl -L -O https://github.com/kubernetes-sigs/kubebuilder/releases/download/v$version/kubebuilder_$version_darwin_$arch.tar.gz

[2018-07-27 18:52] sttts opened #337 "With no CRDs installed, the controller fails with confusing error message"
[code]

There is no indication that this is due to missing installation of the CRD.

[2018-07-28 13:40] sttts opened #338 "Generated rbac rules lack API group domain"
I have generated a project with:

[code]

The generated rbac role is wrong (lacks the `k8s-go.openshift.org` domain):

[code]

[2018-07-30 08:04] gyliu513 opened #339 "Upgrade Kubernetes binaries to 1.11"
Kubernetes 1.11 has been release and it has some fix for crd resources, it is better to upgrade Kubernetes to 1.11 for kubebuilder to resolve those crd issues.

/cc @pmorie

[2018-07-30 21:02] droot commented on #338
I am able to reproduce it.
The reason is that the scaffolded controller `pkg/controller/healthcheckpolicy/healthcheckpolicy_controller.go` does not have `groups` part correct in the RBAC annotation. Pasting the content below. So instead of `groups=policy`, it should be `groups=policy.k8s-go.openshift.org`.

[code]
@fanzhangio would you like to take a look at the scaffolding code for the RBAC annot

[2018-07-30 21:28] droot commented on #339
@gyliu513 Are we talking about some critical fixes or nice-to-have here ? Info will help us prioritize this.

[2018-07-30 22:50] gyliu513 commented on #339
@droot The registration of CRDs with status in 1.10 does not work, which sort of works in 1.11.

Please checkout https://github.com/kubernetes/kubernetes/pull/63598 for detail.

[2018-08-01 03:51] interma opened #342 "cmd "kubebuilder create api" failed when hits "core" keyword"
Executed the following cmd:
[code]

refer myresource_controller.go, there is an error import:
[code]
This error import cause the following `go test` failed.

[2018-08-01 03:58] interma commented on #342
I refered controller-tools code:
https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/scaffold/controller/controller.go#L57
Looks like this line caused this error? **When choosing these keywords as api group**, this error happens.

I think give user a warning when they chose the "keyword" group is better, or fix this .

[2018-08-01 18:07] fanzhangio commented on #338
Yes, I have identified the cause of bug, will fix it in a PR.

[2018-08-01 20:29] droot commented on #342
Thanks for adding more details (especially pointing the code where bug exists :))
Yes, this is a duplicate of #335
We can improve the detection of the `core` types using full GVK  instead of just the group. @fanzhangio if you haven't started on the fix for #335 , I can work on it.

[2018-08-01 21:49] fanzhangio commented on #342
There should be a mechanism for coordinate `core group domain` and `user-defined domain` in scaffold controller. I identified the root cause in scaffold.

[2018-08-02 01:56] interma commented on #342
Thanks @droot @fanzhangio
Kubebuilder is a cool tool, glad to improve it.

[2018-08-02 06:36] fanzhangio commented on #322
I found the root cause. It's because `crd generator` in v1 mixed `internal/parser` in v0, which depends on `+genclient:nonNamespaced` annotationns, calling IsNonNamespaced() for validation.

This should be fixed by:
1) Workaround.
2) Refactor crd generator on the heritage codes

[2018-08-02 17:20] cflewis opened #344 "`kubebuilder create` doesn't generate files that compile, missing DeepCopyObject"
I can't seem to get Kubebuilder release 1.0.0 to actually create valid API files.

[code]

What's wrong here?

[2018-08-02 17:40] droot commented on #344
Looks like deepcopy-gen hasn't generated the file which implements the DeepCopy methods for the type.
Can you run `tree pkg/apis` and paste here to examine directory tree ?

[2018-08-02 18:08] cflewis commented on #344
I deleted everything and reinstalled following the instructions exactly (not doing #326 ) which seems to have fixed it.

Sorry for the noise 😞

[2018-08-02 18:08] #344 closed

[2018-08-03 00:08] fanzhangio commented on #322
@bwarminski Thanks for your feedback. Please use `--namespaced=false` instead.

[2018-08-03 00:56] joejulian opened #345 ""--owners" flag does not exist"
The example in `kubebuilder/docs/book/public/basics/project_creation_and_structure.html` shows
[code]
but the flag is actually `--owner`.

[2018-08-05 08:49] eastlondoner opened #347 "{resource)_controller_test.go doesn't fail when it should"
Using v1.0.0
When a controller is created the corresponding test includes this code:
[code]

The problem with that is it the test passes (logging a message and then returning is not a test failure).
In many cases the log is not visible (e.g. if you run `make test`).

This should simply be
[code]

I would submit a PR but I can't figure out where this test code is actually generated.

[2018-08-05 17:04] eastlondoner opened #348 "make docker-image doesn't work on mac"
The sed command in the makefile isn't valid for the bsd version of sed that ships with OSX:

[code]

[2018-08-06 20:03] droot commented on #348
@eastlondoner  Can you share tweaked version of this command that works ?

Happy to review the code and get it in if you would like to submit a PR for it.

[2018-08-06 20:04] droot commented on #348
Kubebuilder uses scaffolding tools from https://github.com/kubernetes-sigs/controller-tools this repo. So the fix needs to be made there and vendor deps needs to be updated in Kubebuilder.

[2018-08-06 20:47] droot opened #350 "Update Contributing Guide"
Contributing guide is out of date and mentions using container-builder-local for build steps etc. Task is to update the guide

- Describe the dependency on controller-runtime, controller-tools repos
- Steps to make changes in the codebase or dependencies and build and test it.
- Any special instructions about the pull-request etc.

[2018-08-06 22:00] droot commented on #342
This should be fixed with #343

[2018-08-06 22:00] #342 closed

[2018-08-06 22:01] droot commented on #338
This should be fixed with #343

[2018-08-06 22:01] #338 closed

[2018-08-06 22:01] droot commented on #335
This should get fixed with #343

[2018-08-06 22:01] #335 closed

[2018-08-07 20:34] droot opened #351 "CRD generation tool panics when a type references another type"
Reported by @jpeeler

The controller-tools parser doesn't seem to like referencing a vendored kubebuilder project: "panic: Found multiple apis directory paths: github.com/jpeeler/podpreset-crd/pkg/apis and github.com/jpeeler/podpresetbinding-crd/pkg/apis.  Do you have a +resource tag on a resource that is not in a version directory?"

The following project can be used to reproduce the issue:
https

[2018-08-07 21:36] eastlondoner commented on #348
thanks @droot I've made a PR there

[2018-08-08 07:42] interma commented on #350
@droot Yes, I build as the guide but failed. And I solved them, looks some steps need to be updated.
e.g.
[code]
If you don't mind, I will open a PR later to improve some parts of the guide, to solve the issues which I encountered.

Thanks.

[2018-08-08 23:55] surbas commented on #259
Verified this is not an issue any more in v1! Closing.

[2018-08-08 23:55] #259 closed

[2018-08-09 01:12] fanzhangio commented on #351
@droot  I have debugged this issue. This is a resource filter bug. I sent out a PR to fix it.

@jpeeler After the PR fix get merged, you have to add an annotation
[code]
before this line:
https://github.com/jpeeler/podpresetbinding-crd/blob/master/pkg/apis/podpreset/v1alpha1/podpresetbinding_types.go#L48

[2018-08-09 01:54] interma commented on #337
It's ok, thanks, I will open a PR later.

[2018-08-09 07:14] eastlondoner commented on #348
lol, realised I should check that changing the controller-tools repo has fixed this

[2018-08-09 15:44] droot commented on #348
We will have to update the controller-tools deps in kubebuilder repo to pick up the fixes in controller-tools.

Steps to update the controller-tools deps:
[code]

[2018-08-09 15:56] fanzhangio commented on #326
kubebuilder needs to be unzipped or linked to default directory which is ‘/usr/local/kubebuilder’ as instructed in document. Kubebuilder uses binaries from it

[2018-08-10 15:38] eastlondoner commented on #347
bump - this doesn't seem complicated, if someone can point me at where this code comes from I can make a PR

[2018-08-13 23:01] font opened #356 "Allow configuring memory and cpu resource requests and limits for generated pod template"
The pod template for the generated controller-manager specifies the following default resource requests and limits for CPU and memory:

https://github.com/kubernetes-sigs/kubebuilder/blob/581c0cb64b7e79a49708698ea6f0970edd52a2c6/cmd/kubebuilder/create/config/gen.go#L263-L272

Suggestions:
1. These requests and limits should be configurable when invoking kubebuilder.
2. They should be removed entir

[2018-08-13 23:49] droot commented on #356
@font This sort of customization is a good use case for using [`kustomize`](https://github.com/kubernetes-sigs/kustomize). In `v1` version of Kubebuilder, we scaffold a default [`kustomization.yaml`](https://github.com/kubernetes-sigs/controller-tools/blob/master/test/config/default/kustomization.yaml) file for the project. We patch the controller manager image using [patch](https://github.com/kub

[2018-08-13 23:49] #356 closed

[2018-08-14 02:09] font commented on #356
That would work, thanks @droot!

[2018-08-14 18:36] #351 closed

[2018-08-15 19:56] pwittrock commented on #347
@eastlondoner

Thanks for the offer.  This is the file that needs to be updated:

https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/scaffold/controller/controllertest.go

[2018-08-15 21:46] #321 closed

[2018-08-15 22:04] #273 closed

[2018-08-15 22:05] droot commented on #268
This should be fixed now. Pl. re-open if you run in to this issue with latest version of Kubebuilder.

[2018-08-15 22:05] #268 closed

[2018-08-15 22:06] droot commented on #262
This should no longer be an issue with the new version of Kubebuilder, so closing it.

[2018-08-15 22:06] #262 closed

[2018-08-16 00:35] fanzhangio commented on #322
@bwarminski Does it solve your issue? Please let me know if you need any help.

[2018-08-16 23:31] Liujingfang1 commented on #307
This is related to subresources for CRD.  Maybe running it on a 1.11 cluster?

[2018-08-16 23:50] droot commented on #319
This is done.

[2018-08-16 23:50] #319 closed

[2018-08-17 18:13] mheese opened #359 "No GOPATH environment variable breaks code generators"
**Problem**

If one uses the default gopath at `$HOME/go`, and therefore does not set a GOPATH environment variable, the deepcopy-gen will save its output files into the wrong destination path.

This is the output if one just tries to follow the quickstart without a defined GOPATH environment variable:
[code]

As one can see the output gets saved to `pkg/apis/ships/pkg/apis/ships`, so the relative

[2018-08-17 21:34] droot commented on #359
I like the option 2 that you suggested. Do you mind sharing the value for parameter for `-o` that works for you ?

If you are interested, this is where additional argument can be supplied to fix it. https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/scaffold/manager/apis.go#L41

[2018-08-19 02:15] fraenkel commented on #359
So the problem is that there are other go generate stanzas that are outside the control of kubebuiler.
When I tried without a GOPATH, I get the constant failure as shown by the CI on my closed PR.
The issue is in pkg/apis/apis.go, it has a go generate that will not work.

[2018-08-20 18:00] mheese commented on #359
@fraenkel, I don't understand from your explanation why you don't experience the problem without a GOPATH, however, there are also a couple of other things that I don't understand:

1. using `build.Default.GOPATH` sounds like a good idea to me, and would only break if the HOME environment variable is not set - which is unlikely. However, what about using relative paths instead?

2. kubebuilder shi

[2018-08-20 22:56] wstrange commented on #339
I think I hit this issue trying the kubebuilder quick start on 1.11.2.

The generated crd does not validate with the server:

``kubectl apply -f config/crds
error: error validating "config/crds/ds_v1beta1_directory.yaml": error validating data: [ValidationError(CustomResourceDefinition.status): missing required field "conditions" in io.k8s.apiextensions-apiserver.pkg.apis.apiextensions.v1beta1.Cus

[2018-08-21 16:46] mheese commented on #359
hmm... interesting

@fraenkel, I wonder what the difference is in our setups, I have the following things installed:
- go 1.10.3 at `/usr/local/go`
- kubebuilder 1.0.1 at `/usr/local/kubebuilder`
- my project is located `$HOME/go/src/ships`
- I run the commands with the current working directory at `$HOME/go/src/ships`
- my PATH has the following order (among other things) `...:/home/mheese/go/bin

[2018-08-21 17:30] droot commented on #322
closing this issue. pl. re-open if this is still an issue.

[2018-08-21 17:30] #322 closed

[2018-08-21 20:11] fanzhangio commented on #350
/close

[2018-08-21 20:11] #350 closed

[2018-08-21 20:15] jpeeler opened #362 "Controller test suite will not work with types from aggregated API server"
The documentation should be updated to make it clear that types provided via an aggregated api server (in this case service-catalog) is not expected to work. I discovered this when trying to get a resource and received a meta.NoKindMatchError. It'd be nice if in the future scaffolding could be provided to start an additional api server during tests so this scenario would be possible.

[2018-08-23 02:50] fraenkel commented on #359
Just tried it again.
Started with the code from master, wiped my /tmp/kubebuilder, rebuilt kubebuilder.
Untarred the dist tar.gz to /usr/local.
Unset my GOPATH
Created a directory under ~/go/src/ships. Changed my directory.
Invoked `kubebuilder init ships`, said yes to dep ensure.
Invoked `kubebuilder create api --group ships --kind Sloop --version v1beta1`, created the resource and controller.
Ev

[2018-08-23 22:53] jkev53 commented on #362
The solution that I have come up with is to add code to Register the types in the pkg/apis directory.
[code]
Also, you must create a config/crds/foo_customresource.yaml
[code]

With this done both `make test` and `make run` work

[2018-08-23 22:57] jkev53 commented on #362
Since the Register process and the CRD are only needed for testing, I will need to figure out how to not include those when doing `make run`

[2018-08-26 03:01] jkev53 commented on #362
If you don't add the CRD the NoKindMatch error will happen somewhere near here.
https://github.com/kubernetes-sigs/controller-runtime/blob/67e28744a963c78a34108c3b52aadbc5e02f4384/pkg/source/source.go#L81

[2018-08-27 17:24] StianOvrevage opened #364 "kubebuilder create api: Makefile:9: recipe for target 'test' failed"
I've been trying to scaffold a new project now for 2 days on 2 different machines both running Ubuntu on Windows Subsystem for Linux.

kubebuilder v1.0.0 darwin as per documentaton.

`go version go1.10 linux/amd64`

Clear the directory from previous failed attempts:
[code]

Initialize
[code]

Create
[code]

[2018-08-27 20:37] jkev53 commented on #362
This PR will make using an external cluster a snap.
https://github.com/kubernetes-sigs/controller-runtime/pull/122

[2018-08-27 20:39] jkev53 commented on #362
And this documentation
https://github.com/kubernetes-sigs/kubebuilder/pull/363/files

[2018-08-27 21:04] droot commented on #364
Looking at the failure, looks like it is not able to bring up etcd server. You mentioned that `Ubuntu on Windows Subsystem for Linux`, not sure if etcd binary shipped with Kubebuilder is compatible with that.

Can you run <path-to-kb>/bin/etcd and paste the output here ?

[2018-08-27 21:29] StianOvrevage commented on #364
Sure:

[code]

[2018-08-27 21:52] #348 closed

[2018-08-27 23:17] droot commented on #364
This confirms the `etcd` binary is not compatible with your env. You can build the two binaries (kube-apiserver, etcd) for your system and replace it manually under `/usr/local/kubebuilder/bin/` and retry.

Also, note that your project and code files are in good shape, its the test which are failing because tests bring up etcd and kube-apiserver to run against.

[2018-08-28 10:57] fanzhangio commented on #303
controller-tool now support ` subresource:scale` tags

https://github.com/kubernetes-sigs/controller-tools/pull/69

[2018-08-28 11:29] StianOvrevage commented on #364
Thanks for your reply. I (think I) tracked down the error to an unresolved issue with Windows Subsystem for Linux and BoltDB.

Is there a way to disable the tests or the etcd part to avoid creating these errors?

[2018-08-28 17:45] droot commented on #364
You can remove the `test` target as prerequisite in other targets in the project's Makefile.

Closing this issue since it doesn't require a fix in Kubebuilder.

[2018-08-28 17:45] #364 closed

[2018-08-28 17:45] #240 closed

[2018-08-31 02:45] interma commented on #337
The above controller-tools fix is not appropriate.

Opened a new fix in controller-runtime:
https://github.com/kubernetes-sigs/controller-runtime/pull/129

[2018-08-31 04:28] mheese commented on #339
I can confirm this, alternatively one can just remove the whole status section

[2018-08-31 04:34] mheese commented on #307
@droot , you have addressed this here if I see this correctly?

https://github.com/kubernetes-sigs/controller-tools/pull/72

[2018-08-31 05:54] mheese commented on #359
@fraenkel , I reproduced the issue on Ubuntu 18.04. Here is a `Vagrantfile` (NOTE: I'm using the libvirt provider, replace for whatever works for you):
[code]

And here is the last part of the provisioning output:
[code]

[2018-08-31 14:02] JoelSpeed opened #369 "Testing with external CRDs is difficult"
I was party to a conversation yesterday in the #kubebuilder channel on Slack which raised an interesting point.

If you are building a controller which interacts with other CRDs, it is not easy to add these (and under-documented as well) into the test environment without adding new `CRDDirectoryPaths`

[code]

Since the `Environment` struct can also take a list of `*apiextensions.CustomResourceDef

[2018-08-31 14:10] jkev53 commented on #369
Questions:
1. Would it autogenerate these files everytime it generates?
2. Would it be a flag on the `kubebuilder create api --generate-crd`?
3. Would it be a separate operation `kubebuilder generate-crd`?

[2018-08-31 14:37] JoelSpeed commented on #369
@jkev53 I had imagined it being run at the same time as the deepcopy generation (as a go generator) and being a default option (especially if it might be used for injecting CRDs into clusters later). But if you think it should be behind some flag then I'm sure that could be done.

I think at the moment you get the CRD manifests generated by default as well?

[2018-09-02 14:08] fraenkel commented on #359
That helped. The issue is I wasn't running make twice to see the actual error. If I run make once, the file is generated in the wrong location.
I haven't been able to detect when the GOPATH isn't set. If I unset my GOPATH and then check the environment variable inside kubebuilder, it is magically set. Either we go with always setting a -o or I need to find a way that will allow me to detect when i

[2018-09-02 18:27] nrshrivatsan opened #370 "knative example"
- Please provide a knative example for integrating kube-builder CI+CD.

[2018-09-03 02:26] fraenkel commented on #359
Due to a poor choice of dependencies in the controller-tools -> inflect -> gobuffalo, there is an init() method which sets the GOPATH when its missing. The only solution is to compute the relative path to the root of the correct GOPATH entry which would allow movement of the tree. The downside is that this will break if and when modules are supported.

[2018-09-03 16:55] osela opened #372 "Error when using Channel source"
When trying to use a Channel source in my controller using the following code:
[code]
I get the following error:
```must call InjectStop on Channel before calling Start```.

The reason is that the stop channel is set on `controllerManager` when `Start` is called, which is after a nil value was already injected as stop channel into the source.

[2018-09-04 15:43] fanzhangio commented on #369
/help-wanted

[2018-09-04 15:47] fanzhangio commented on #303
/close

[2018-09-04 15:47] #303 closed

[2018-09-04 17:00] mheese commented on #359
that's as far as I got with it by now as well :)

hm, it looks to me that we should consider two options:
1. we are very focused on determining the GOPATH, however, maybe there is another directory path that we could use. And maybe just generating relative paths for `-o` is already good enough
2. just go with my original proposed option (1) to document that the GOPATH needs to be set. `kubebuilder

[2018-09-04 18:14] fanzhangio commented on #369
/help wanted

[2018-09-04 18:28] DirectXMan12 opened #373 "Switch book publishing to GitHub pages"
We should switch the book publishing to GitHub pages to make it a bit easier for maintainers to administer.

Addtionally, we should consider the following:
- Netlify for previews
- Travis to publish a "book based on latest master" in addition a manually published "stable" book

[2018-09-04 22:09] coderanger opened #374 "dep ensure -update fails on fresh project"
Using Kubebuilder 1.0.3:

[code]

[2018-09-04 22:33] coderanger commented on #374
I was able to make dep happier by adding this to the Gopkg.toml:

[code]

[2018-09-04 22:50] coderanger commented on #374
Also getting lots of similar issues in my actual project, and the above wasn't enough to workaround it there.

[2018-09-05 02:04] fraenkel commented on #359
Actually using -o is pretty tricky. If you are outside your GOPATH, I am not entirely sure what it will determine the full path from the -o location should look like.
An alternative along a similar line is to modify the Makefile to just fail when its not set because that is the safest option given there is no way to determine the right answer if there is one.

[2018-09-05 03:03] droot commented on #374
@coderanger saw your update in slack. Pasting it here:

message from @coderanger on slack:

That explains maybe some of the more bizarre error messages
But I was finally able to get my upgrade to work
Rolled back to the 1.0.1 Gopkg, massaged that back into working with `dep ensure` (had to clear my cache and delete the `vendor.bak/`, then `kubebuilder update vendor`, then `dep ensure -v -update si

[2018-09-05 03:54] coderanger commented on #374
That update was specifically re: the non-fresh project.

[2018-09-05 06:52] huangjiasingle opened #377 "client.ListOption define the Raw field with lableSelector , it's doesn't get resource successful, it's get all resource of namespace"
when l use like this:
[code]

it's get the all service of namespace  request.Namespace

the source code of the list Func:

[code]

the opts.AsListOptions() func :
[code]

so l guess the bug of the list Func

[2018-09-05 15:40] #374 closed

[2018-09-05 18:34] droot commented on #176
This is implemented under controller-tools --> https://github.com/kubernetes-sigs/controller-tools/blob/master/cmd/controller-gen/main.go

Thats the approach we have taken. High level libs are moved to controller-runtime and independent tools exist in controller-tools now. Kubebuilder is just a distribution of these tools/libs.

Closing this issue, pl. reopen or create new issue if there is more t

[2018-09-05 18:34] #176 closed

[2018-09-05 18:36] droot commented on #250
@mengqiy Can you pl. confirm if this issue exist in recent versions ?

[2018-09-05 20:36] droot opened #378 "Document example/usage of status subresource"
Add a section under `beyond basic` in kubebuilder book describing the following:

- How to annotate types to generate status subresource section in CRD definition
- How to use method from `client` pkg for updating the status subresource. Preferably using an example code.

[2018-09-05 21:10] droot opened #379 "Document how to use finalizers with examples"
Add a section under `Beyond basics` in kubebuilder book describing details of `finalizers` and how to use them with example code.

Also investigate if we can do something during `scaffolding` steps and includes comments to guide users about it.

[2018-09-05 21:11] droot commented on #370
@nrshrivatsan Can you elaborate more on what should the example do ?

[2018-09-05 21:13] droot commented on #339
1.0.3 release ships with k8s 1.11 binaries and controller-runtime/tools have also moved to k8s 1.11. so closing this.

[2018-09-05 21:13] #339 closed

[2018-09-05 21:14] droot commented on #307
Yes, this should be fixed now, so closing this.

[2018-09-05 21:14] #307 closed

[2018-09-05 21:16] droot commented on #242
This should not happen with the recent build, so closing it. Pl. reopen if you observe this.

[2018-09-05 21:16] #242 closed

[2018-09-05 22:43] fanzhangio commented on #369
I think it is reasonable that generating a runtime objects CRD for controller tests. I think we can make it in `zz_generated_crd` files along with generated deep copy files in the same path. It is feasible to add a small effort in `crd/generator` since we have crds already.

[2018-09-06 07:59] gyliu513 commented on #297
@droot do you know why? Does this share same reason with https://github.com/awslabs/amazon-eks-ami/issues/3#issuecomment-406904816 ?

[2018-09-06 09:53] gyliu513 commented on #297
@droot thanks, will try to create a PR when have time later.

[2018-09-06 20:55] fanzhangio commented on #369
I added a crdGenerator for generating `zz_generated_crd.go` files. It will be executed along with creating crd manifest file. Currently, it supports `validation` and  `subresource` features of CRD, the versioned typed CRDs in this file are exported. We may add further functions as needed, something like `getCRD()`.

Open to discussion.

[2018-09-07 18:00] mengqiy opened #380 "Kubebuilder should uses controller-runtime logging lib instead of log"
Kubebuilder should generate project that uses logging library in controller-runtime instead of golang built-it `log` library.
This requires changes to the scaffolding code in `controller-tools`. For example, https://github.com/kubernetes-sigs/controller-tools/blob/110fef43ab12deecdf7b55c0977d58f824075b39/pkg/scaffold/manager/cmd.go#L46

[2018-09-07 18:01] mengqiy commented on #380
cc: @DirectXMan12 @droot

[2018-09-07 18:26] akanso opened #381 "kubebuilder version shows an older version than the binary (1.0.3)"
Showing version `1.0.0` instead of `1.0.3`
More importantly, it shows `KubernetesVendor:"1.10"`, while according to issue #339 it should be `k8s 1.11`

[code]

installation steps:
[code]

[2018-09-07 19:02] DirectXMan12 commented on #380
just noticed this the other day.  definitely :+1: from me.

[2018-09-07 19:07] cflewis opened #382 "`dep ensure` fails on a fresh initialization"
Not related to #374 as far as I can tell. I am running 1.0.3.

`kubebuilder init --domain google.com --license apache2 --owner "Google LLC" `

[code]

I can't figure out how to fix the TOML file to make this work. I have multiple team members with the same problem.

[2018-09-07 19:13] cflewis commented on #382
I tried

[code]
and `v0.1.2` as well, no change.

[2018-09-07 19:15] cflewis commented on #382
[code]

is somewhat interesting.

[2018-09-07 20:53] roberthbailey commented on #382
fwiw I just installed kubebuilder for the first time (1.0.3 and kustomize 1.0.6) and init finished successfully for me.

[2018-09-07 20:55] roberthbailey opened #384 "dep ensure can take a while; using -v makes it clear that it's doing something"
On project initialization, I'd prefer to see the dep ensure call pass the verbose option so that I can see that dep is making progress. I've had cases where dep seems to get stuck in a loop, and if it looks like the same solver text is scrolling by for 30 minutes you can decide to kill it. Without the verbose option, it's unclear how long to wait for it to run before deciding you think it has hung

[2018-09-07 21:00] pwittrock commented on #382
It should be getting 1.11 deps instead of 1.10 for 1.0.3.  I just downloaded and init'ed a new project, but can't reproduce the issue.  Can you try from an empty directory with no other projects in the GOPATH?

[2018-09-07 22:07] cflewis commented on #382
Here is me running from a fresh Go `src/`, trashing the `dep` cache, and rerunning to no effect :/
[code]
Still not sure what's going on :/

[2018-09-07 22:28] cflewis commented on #382
Urgh, it was that the kubebuilder version was behind. My attempt to do the 1.0.3 upgrade screwed up somehow, maybe put it in the wrong place. Jeez. I'm sorry for being a pain :( I'll tell me team members to upgrade too.

[2018-09-07 22:28] #382 closed

[2018-09-07 23:06] mengqiy opened #385 "`make deploy` is broken due to kustomize dropped support for glob"
Currently the generated `kustomization.yaml` looks like:
[code]
It won't work with the latest `kustomize` (v1.0.7).

A workaround is that manually change
[code]
to
[code]

The fix will be in next Monday and we will do a new kubebuilder release.

[2018-09-07 23:58] Liujingfang1 commented on #385
Glob support was added in Kustomize 1.0.3 and removed in version 1.0.6. The reason of removing this support is docuemnted https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#globs-in-kustomization-files

If your kustomize version is 1.0.3, 1.0.4 or 1.0.5, you should be fine. If you want to update to any version later than 1.0.6, make sure to change /*.yaml to the full

[2018-09-08 00:09] mengqiy opened #386 "Remove the kubebuilder v0 support after deprecating it since v1.0.0"

[2018-09-08 00:10] mengqiy commented on #386
cc @droot @Liujingfang1

[2018-09-08 00:10] mengqiy commented on #386
#250 is a bug in v0. It will be gone if we remove v0 support.

[2018-09-08 00:11] mengqiy commented on #250
I believe so. It's a bug in v0.

[2018-09-08 19:34] nrshrivatsan commented on #370
# Background
- CI + CD platforms are in plenty
- Jenkins, Travis , Circle CI and many more
- The tool chain for CI + CD is a simple [DAG](https://en.wikipedia.org/wiki/Directed_acyclic_graph) of processes Pipe-ing one after the other

# Proposal
- Kubernetes DAG jobs via kubebuilder - pipeline SHOULD become AND be the Cloud-Native way to build
- An Point-of-Refernece example of an End-to-End build

[2018-09-10 10:55] interma commented on #380
I will take this, thanks for code review.

[2018-09-10 12:50] gyliu513 opened #387 "Always adding `crd-install` annotation for CRD resources"
Helm 2.10 introduced a new hook as described here https://docs.helm.sh/developing_charts/#defining-a-crd-with-the-crd-install-hook , and this can make sure all CRDs can be installed first before install other resources and make chart CRD management more easy.

Most people are now trying to use helm to install applications, it is better to enable all of the CRDs generated by Kubebuilder include the

[2018-09-10 13:03] gyliu513 commented on #387
Related with Federation V2 helm chart https://github.com/kubernetes-sigs/federation-v2/pull/245

[2018-09-10 14:52] gyliu513 opened #388 ""kubebuilder create config" do not support only create sts/deployment"
Look at the help of `kubebuilder create config`:

[code]

There is no option for me to generate the YAML template for sts/deployment. The use case is that I want to generate the CRDs and sts/deployment templates separately so as to help me create a helm chart. Any suggestions for me to achieve this? Thanks.

/cc @pmorie

[2018-09-10 18:26] fanzhangio commented on #387
Thanks for your feedback. After editing type scheme, user has to run `make` for generating manifest. CRD yaml files can be found in `config/crds`, user can modify the yaml files as wish, including above annotations for helm.
I think it could not be necessary to force add helm annotations for all crds since there are still some use-case do not apply it.

[2018-09-10 18:33] fanzhangio commented on #386
It's better to add the deprecation announcement in Gitbook and README as well.

[2018-09-10 21:10] fanzhangio commented on #388
It should be mentioned that the `kubebuilder` in above issue comment is deprecating (v0 version).
https://github.com/kubernetes-sigs/kubebuilder/issues/386
Could you please download and reinstall the lastest kubebuilder ?

For your use case, could you provide more details information? Thanks.

[2018-09-11 02:52] gyliu513 commented on #388
Thanks @fanzhangio , this is related to https://github.com/kubernetes-sigs/federation-v2/pull/245

The background is as follows: I want to create a helm chart based on the file `hack/install.yaml` generated by kubebuilder, but the problem here is that kubebuilder is generating a whole YAML template and does not split the files to different files, like including CRD YAML, sts YAML, deployment YAML

[2018-09-11 02:59] gyliu513 commented on #387
@fanzhangio I would suggest we add this annotation, because:

1) It has no side effect to the CRD resources.
2) It can help facilitate the translation of YAML template to helm chart as helm chart is becoming the installation standard for Kubernetes resources.
3) It is not convenient for user to update the kubebuilder generated YAML template, as the user need to update the YAML template each time w

[2018-09-11 03:23] asdfsx opened #389 "can not init project, because of the error "subpackage k8s.io/client-go/restmapper is missing""
I init the project using the command
[code]
and receive the following error
[code]

[2018-09-11 20:57] #385 closed

[2018-09-11 21:18] mengqiy commented on #385
kubebuilder v1.0.4 has been released with the fix.

[2018-09-11 21:20] mengqiy commented on #389
It seems you are not using a relatively old version of kubebuilder. Can you please try with the latest one?

[2018-09-12 19:19] kenmaglio opened #391 "Utilizing Windows Linux Subsystem, the Linux release errors on Make"
We have tests we run against a new controller, and the tests work just fine on a Mac. However replicating the setup onto a windows machine running Ubuntu (WLS) the make command will fail because of the following error:

[code]

my WLS is not generating logs, so yeah there is that issue, however...

When I open a new bash window and attempt to start etcd ...

[code]

[2018-09-12 19:28] kenmaglio commented on #391
To add -- if I start etcd again:

2018-09-12 14:27:16.727498 I | etcdmain: etcd Version: 3.3.0+git
2018-09-12 14:27:16.727991 I | etcdmain: Git SHA: Not provided (use ./build instead of go build)
2018-09-12 14:27:16.728584 I | etcdmain: Go Version: go1.10.2
2018-09-12 14:27:16.729106 I | etcdmain: Go OS/Arch: linux/amd64
2018-09-12 14:27:16.729696 I | etcdmain: setting maximum number of CPUs to 8,

[2018-09-16 08:42] feloy commented on #333
Hi,

That sounds normal to me.

If you have for example a string field in the Spec, when you create the structure omitting to declare the value of this field, it is set with its zero value, which is an empty string, and this is a valid value for your custom resource.

But when you use a slice field, its zero value is nil, which is not a valid value for the Custom Resource.

A solution would be to

[2018-09-17 09:34] munnerz opened #395 "Removing dependence on kubebuilder repo for docs generation"
Currently the kubebuilder docs generation command creates a 'hidden' dependency on `sigs.k8s.io/kubebuilder`.

This comes about because of the 'swagger-gen' tool depends on `github.com/kubernetes-sigs/kubebuilder/pkg/docs` for the `WriteOpenAPI` function (see: https://github.com/kubernetes-sigs/kubebuilder/blob/1623901fc78e477a559e752ec055d892f80d84a9/cmd/kubebuilder/docs/docs.go#L208)

If someone

[2018-09-18 17:15] droot commented on #395
@munnerz Thanks for bringing this up. This makes sense. There is a big TODO to make `docs` work for v1 projects. I think you are referring about v0 version projects in this case which will be deprecated soon. So we can approach the docs-generation from fresh and probably can move it `https://github.com/kubernetes-sigs/controller-tools` repo so that it is available as independent tool. If this is s

[2018-09-18 17:18] droot commented on #391
I think this was reported earlier as well somewhere. The `etcd` binaries shipped with Kubebuilder are not supported on `Windows Linux Subsystem`. This is a known issue. For now I would suggest rebuilding etcd/kube-apiserver binaries for your system and replace them.

[2018-09-18 17:18] #391 closed

[2018-09-20 14:20] #372 closed

[2018-09-20 14:21] osela commented on #372
duplicate of https://github.com/kubernetes-sigs/controller-runtime/issues/149

[2018-09-20 16:54] mengqiy opened #399 "Update the kube-apiserver binary that included the fix for DeleteOptions"
We need to update the kube-apiserver binary shipped with kubebuilder to use the release that has the fix for `DeleteOptions` after https://github.com/kubernetes/kubernetes/pull/68873 merged.

[2018-09-20 22:08] foolusion commented on #326
This is definitely not ideal. Why should the installation directory matter.

[2018-09-21 06:46] fanzhangio commented on #389
@asdfsx Did you happen to the same issue again by [kubebuilder v1](https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v1.0.4)

[2018-09-21 07:07] fanzhangio commented on #387
Looks good to me. It should be good to consider supporting helm chart in kubebuilder. I think kubebuilder could have a flag in `controller-gen` for generating this stuff.
What do you think? @droot

[2018-09-21 19:01] mengqiy opened #400 "Come up with webhook developer workflow to test it locally"
There are at least 2 possible solutions:
- Have a minikube cluster running locally and also run the webhook server locally.
- Have a cluster running in the cloud and webhook server running locally. Put a proxy service between them. The proxy service can either in the cluster or provided by a 3rd party.

Document the dev workflow.

[2018-09-21 19:08] mengqiy commented on #400
example proxy servie https://serveo.net/ and https://ngrok.com/

[2018-09-21 19:53] droot commented on #369
I have one concern about generating the CRD definitions in Go file is that now we have two ways of generating the CRDs. We had that in the previous version of Kubebuilder and we observed it used go out-sync and cause bugs.

If the external project is also a Kubebuilder project, then it will have CRD manifests in its repo and if it is vendor'd in current project, then manifests path could be added

[2018-09-22 19:50] mengqiy opened #401 "Support generating Role from kubebuilder rbac annotation"
kubebuilder currently only support generating ClusterRole, but there are use cases that we may only want a Role which restrict the permission to certain namespace.

[2018-09-22 19:50] mengqiy commented on #401
cc: @droot @fanzhangio

[2018-09-24 23:53] droot opened #403 "kubebuilder should support generated clientset for types"
In `v1` version, we stopped generating clientset because controller-runtime provides `dynamic client` which works with any type. However, having capability to generate clientset will help migrating existing projects to Kubebuilder easier.

[2018-09-25 22:38] crimsonfaith91 opened #404 "support shortNames field for auto-generated CRDs"
The CRDs are auto-generated by running `make install`. However, the auto-generated CRDs do not have `shortNames` field. The CRD files are overwritten each time running `make install`, so manually changing the files is infeasible.

@droot

[2018-09-25 22:41] crimsonfaith91 opened #405 "[low priority] make install returns generic error message"
After making some changes to a `types.go` file, if some imports are left out, `make install` command throws a generic error message as follow:
[code]

It should throw a more specific error such as `missing import...` to faciliate debugging.

@droot

[2018-09-26 00:12] droot opened #406 "CRD generation should Types with fields with custom marshaller/unmarshaller"
If custom type uses fields with custom marshaller/unmarshaller such as `resource.Quantity` or `metav1.Duration`, the validation schema for the generated CRD will have `type: "object"`. Submitting a CR instance with string representation of those fields such as "10G" or "11s", throws an error
[code]

Type definition:

[code]

Task is figure out a solution for this use-case.

[2018-09-26 00:14] droot commented on #406
Current workaround:

Represent the field as `string` type and use the parse method such as `ParseDuration`, `ParseQuantity` to convert to a type and use it the implementation. Use `Pattern` annotation to validate the input.

[2018-09-26 22:13] droot opened #408 "test_existing_projects.sh tests seems to be flaky"
Have observed last few runs and found `test_existing_projects.sh` to be failing on random occasions.

Output from one of the failed runs:
==============================
		Random Seed: 1537421030
		Will run 1 of 1 specs

		2018/09/20 05:24:06 Creating CRD memcacheds.myapps.memcached.example.com
		2018/09/20 05:24:06 Finished installing.
		2018/09/20 05:24:07 got the pods names: []
		2018/09/20 05:2

[2018-09-26 22:14] droot commented on #408
Another datapoint: have observed the failure frequency has increased after moving to k8s 1.11 release.

[2018-09-28 13:55] d0lphis opened #411 "Error: unknown command "build" for "kubebuilder""
In https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/tools_user_guide.md

It mentioned:
[code]

But seeing below error actually:
[code]

From help, there is no build option at all:
[code]

The version used is 1.0.4.
[code]

How to generate executables by new version of kubebuilder?

[2018-09-28 21:36] grantr opened #412 "Can't run `kubebuilder init` with a non-official go release"
#353 added a Go version check that bails if it can't parse the version string:

https://github.com/fraenkel/kubebuilder/blob/8a8b76fb4a56c67e4f799fcf035ee22006e3011d/cmd/kubebuilder/initproject/init.go#L136-L139

This makes users with installed go versions like `1.11rc2` completely unable to create kubebuilder projects. I'm not sure if that was the intent or not, but regardless it's a blocker for

[2018-09-28 22:11] droot opened #413 "CRD generation should support validation schema for optional struct"
Kubebuilder generated validation schema in CRD doesn't support optional struct. It specifies the optional field with `type: object` that prevents the input manifest for a CR to omit it completely.

One of the ways to represent optional struct in validation schema would be:
[code]

refer: https://github.com/kubernetes/apiextensions-apiserver/issues/25

[2018-09-29 19:32] apelisse commented on #413
Alternatively, you could use oneOf, but it really doesn't make a difference.

[2018-09-30 15:46] archisgore commented on #359
I just faced this, and the other issues about paths being all weird (such as NEEDing to be under `/usr/local/kubebuilder/bin` (I had just copied them under my private `~/bin` directory.)

+1 for failing fast in the Makefile. As a pure user, and not contributor, I can and will fix everything you want in my environment, so long as I know what you want. :-) I just always want to know what the tool ne

[2018-10-01 02:05] AndrewLapin95 commented on #412
Can I work on the issue?

[2018-10-02 04:06] AndrewLapin95 commented on #412
Can I work on this?

[2018-10-03 15:37] #337 closed

[2018-10-03 17:00] droot opened #416 "Fix race condition in generated controller tests"
Travis reported the following failure. Its a race condition which happens when `t.Errorf` or `t.Fatalf` is being called after the test has exited. This can simply be fixed by waiting for manager to finish before we return from the Test fn (more details about the fix in the PR)

[code]

[2018-10-03 17:03] droot commented on #416
similar issue https://github.com/golang/go/issues/15976

[2018-10-03 17:37] droot commented on #416
If you are running in to this issue. Here are the steps to fix in your tests:

Edit pkg/controller/<kind>/<kind>_controller_suite_test.go and change the `StartTestManager` fn.
[code]

Edit pkg/controller/<kind>/<kind>_controller_test.go and edit `TestReconcile` function and replace the first `defer` statement with the following code (look for an actual diff in the PR linked above):

[code]

[2018-10-05 20:04] cbrgm commented on #404
I'd love to see this feature too!

[2018-10-07 08:58] alvaroaleman opened #419 "`kubebuilder update` generates Gopkg.toml with hardcoded versions"
The `kubebuilder update` command currently generates a `Gopkg.toml` with hardcoded versions:

https://github.com/kubernetes-sigs/kubebuilder/blob/0f8f2d8a45b96ea4ba1d094946b39ef7c60d9202/cmd/vendor/sigs.k8s.io/controller-tools/pkg/scaffold/project/gopkg.go#L147-L153

This is made worse by the fact that this is below a header `# STANZAS BELOW ARE GENERATED AND MAY BE WRITTEN - DO NOT MODIFY BELOW T

[2018-10-08 10:25] killwing opened #421 "PATCH method is missing from client"
in pkg/client/interfaces.go
[code]

[2018-10-08 17:49] droot commented on #419
@alvaroaleman Though the version in the dep stanza is `v0.1.1`, `dep` will pick the `v0.1.x` where x being the latest patch version on `v0.1.x` ([dep docs here](https://golang.github.io/dep/docs/Gopkg.toml.html#version)). This is intentional because we want newly created Kubebuilder project to pick the latest stable version on `0.1.x` of controller-runtime and controller-tools.

And if you want to

[2018-10-08 18:15] alvaroaleman commented on #419
@droot I see, thanks for the clarification. I find that a little unintuitive tbh but that is obviously something on `dep` side.

Maybe we can change the lines to `version=">=v0.1.1"` to make this more obvious?

[2018-10-09 12:15] errordeveloper commented on #326
Yes, I also find this  rather very surprising.

[2018-10-09 20:38] crimsonfaith91 opened #422 "Watcher does not support Unstructured objects"
I spent a full day working on getting the watcher works for `Unstructured` objects, but failed to do any progress, so I deduce the watcher does not work for `Unstructured` objects.

For example,
[code]

`.DeepCopyObject()` is a generated function returning a `runtime.Object`. When I modify an instance of `someUnstructuredResource`, the sync loop is not triggered.

To verify watcher does not work,

[2018-10-09 20:39] lblackstone commented on #389
I was seeing the same problem with `v1.0.1`, but it worked with `v1.0.4`.

FWIW, the code snippet in the [installation docs](https://book.kubebuilder.io/getting_started/installation_and_setup.html) has `1.0.1` listed, and I initially assumed that was automatically updated with the latest tag.

[2018-10-09 20:47] droot commented on #422
@shawn-hurley Can you pl. here since your are the most familiar with unstructured codebase.

[2018-10-09 20:57] shawn-hurley commented on #422
@droot will take a look either today or tomorrow.

I am personally using watches with unstructured objects right now. I wonder if you are setting the GVK for the unstructured object?

[2018-10-09 22:02] droot commented on #411
@d0lphis The documentation was out-of-date, so deleted it https://github.com/kubernetes-sigs/kubebuilder/pull/424

`make run` builds the manager binary and runs locally. You can use `make docker-build` and `make docker-push` to build and deploy image for the manager in a remote cluster.

Pl. refer to [kubebuilder book](http://book.kubebuilder.io) for detailed docs.

[2018-10-09 22:02] #411 closed

[2018-10-09 22:03] droot commented on #408
with `v0` support dropped, this is no longer relevant.

[2018-10-09 22:03] #408 closed

[2018-10-09 22:34] droot opened #426 "Book: Add documentation for generating RBAC rules"
Kubebuilder book should have a section under 'beyond basics' explaining how to use RBAC annotations in controller code to generate RBAC manifests.

[2018-10-09 22:47] droot commented on #388
@gyliu513 we have tried to split the generated manifests in separate YAML files for newer versions. So in newer version, manifests are grouped as follows under `config` directory:

- crds
- sample
- manager
- rbac

I think what you are looking for are the manifests under `config/manager`. You can see an example project here --> https://github.com/kubernetes-sigs/controller-tools/tree/master/test/c

[2018-10-09 22:47] #388 closed

[2018-10-09 22:48] droot commented on #379
We have a section on [`using finalizers`](https://book.kubebuilder.io/beyond_basics/using_finalizers.html) , so closing this.

[2018-10-09 22:55] droot commented on #387
@gyliu513 I was thinking more about it and realized that its a good usecase for using [`kustomize`](https://github.com/kubernetes-sigs/kustomize) for adding that annotation to the generated CRD.
Newer version of Kubebuilder generated default kustomization which a project owner can tweak to this use case. Let me know if you have any questions.

[2018-10-09 22:56] droot commented on #386
`v0` will be no longer supported with the new version `v1.0.5`, support already dropped on master, so closing it.

[2018-10-09 22:56] #386 closed

[2018-10-09 23:39] shawn-hurley commented on #422
So it sounds like you are attempting to call `controller.Watch` during an already started controller.

I am seeing the same blocking behavior if I use unstructured or `&v1.Pod{}` in a watch triggered inside a loop. This is because the start method of the controller takes the lock and does not let go until it is stopped.

This will not work for any scenario, unstructured or otherwise AFAIK. @droot

[2018-10-09 23:41] droot commented on #422
Correct. we just verified that from the code. Taking a deep look at it to see how we can support this use-case.

[2018-10-10 00:34] crimsonfaith91 commented on #422
@droot @shawn-hurley Sorry for not making it clearer in my previous comment.

I am aware of `Start` function of controller has a mutex lock too, so the mutex block should be a deadlock. However, this is not my main concern - I am only able to know about GVK of the unstructured object after controller starts. This means that I can only call `controller.Watch` dynamically in the sync loop (i.e., aft

[2018-10-10 04:54] gyliu513 commented on #387
@droot so how to add this annotation to the CRD? Any example command you can share with me with `kubebuilder`? How `kubebuilder` use `kustomize` to customize those CRD? Thanks.

[2018-10-10 23:42] mengqiy opened #431 "Document how to migrate an existing KB project to use webhook scaffolding"
KB can scaffold a fresh new project that supports webhook.
But it need a few manual steps to make an existing KB works with webhook scaffolding.
We can document it in gitbook

[2018-10-11 16:06] daviddyball commented on #298
Just wanted to chime in and say that this also prevents the usage of digits in the group name which seems unusual. Presumably the idea is to keep the group+domain within the DNS naming convention, but that should still allow for digits in the group or domain name.

[2018-10-11 18:18] mengqiy opened #434 "We should use pointer in the gitbhook example"
We should use a pointer. i.e. *int32 instead of int32.
~~https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/basics/simple_resource.md#containersetspec~~
~~Maybe same for the string field.~~

Using a pointer can avoid a lot of tricky problems, we should use that in our gitbhook example.

EDIT: It's in https://github.com/kubernetes-sigs/kubebuilder/blob/book-v1/docs/book/basics/sim

[2018-10-11 18:18] mengqiy commented on #434
cc: @droot

[2018-10-12 14:15] p-bakker commented on #300
If you want to run this on Windows, you could also enable the Windows Linux Subsystem and install for example Ubuntu from the Windows App store and just install and run the Linux version of Kubebuilder

https://github.com/michaeltreat/Windows-Subsystem-For-Linux-Setup-Guide

[2018-10-12 15:02] pmorie opened #437 "Add doc to book for resource generation annotations"
On this page: https://book.kubebuilder.io/basics/simple_resource.html

The link to the old, pre-v1 API package is broken: https://godoc.org/github.com/kubernetes-sigs/kubebuilder/pkg/gen/apis

We should probably just have a page in the book that documents and contextualizes what the different annotations do.

[2018-10-12 18:15] roberthbailey opened #439 "kubebuilder init fails when using release candidates of golang"
I'm not sure why kubebuilder cares what version of go I'm using, but it doesn't like the fact that I'm on a release candidate:

[code]

Since this is how golang releases are officially labeled (see https://groups.google.com/d/msg/golang-announce/zb6p0aFMBJM/Ol5Qj2YKDgAJ) the parser should be more lenient instead of crashing.

[2018-10-13 09:26] bells17 opened #441 "https://book.kubebuilder.io/ is not sync?"
https://book.kubebuilder.io/ is not sync?

Github html is below:
https://github.com/kubernetes-sigs/kubebuilder/blob/d1fc6f75e6bcc465d6ed57c5ceb9c85db551a2c0/docs/book/public/getting_started/installation_and_setup.html#L685

Gitbook site is below:
https://book.kubebuilder.io/getting_started/installation_and_setup.html
![installation_and_setup_ _the_kubebuilder_book](https://user-images.githubuserc

[2018-10-14 13:22] alvaroaleman opened #442 "Generated openapi validation does not properly handle intstr.IntOrString"
When executing `go run vendor/sigs.k8s.io/controller-tools/cmd/controller-gen/main.go crd ` on a CRD that has a field of type [`intstr.IntOrString`](https://github.com/kubernetes-sigs/cluster-api/blob/70dec6624df750599dbf25b206020dca640fc761/pkg/apis/cluster/v1alpha1/machinedeployment_types.go#L100), the generated openAPI validation for that field will declare it as  [`type: Object`](https://githu

[2018-10-14 14:55] roberthbailey commented on #442
/cc @droot @pwittrock

[2018-10-15 15:32] sohankunkerkar opened #443 "Having issues while renaming API type using Kubebuilder tool"
I was trying to modify the **pluralization** rule for one of the API type called `ServiceDNS`(which was created using Kubebuilder tool) by adding the following `// +kubebuilder:resource:path=servicednses` rule in the types.go file (Since the initial pluralization for `ServiceDNS` was incorrectly handled by the kubebuilder i.e `servicednss` instead of `servicednses`.

After I made that change in Se

[2018-10-15 18:30] droot commented on #441
Thanks for reporting it. This should be in sync now.

[2018-10-15 18:30] #441 closed

[2018-10-15 18:36] droot opened #444 "Travis tests fails occasionally due to "dep ensure" failures"
This bug tracks the travis failures due to "dep ensure" failures.

Here is one observed today:

[code]

[2018-10-15 18:57] #384 closed

[2018-10-16 20:57] #412 closed

[2018-10-17 04:18] magicsong opened #446 "kubebuilder init failed on a fresh project"
When I follow the step in doc, I failed in the first step. The following is the logs:
[code]

go version:
 go version go1.10.3 linux/amd64

[2018-10-17 12:45] deedubs opened #447 "Use annotations to control additional printer columns"
Using the same technique as [annotations](https://book.kubebuilder.io/beyond_basics/annotations.html) we should be able to allow specifying the attributes we want to include in the cli when [printing to console](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#additional-printer-columns)

Initially proposed [here](https://kubernetes.slack.com/arc

[2018-10-17 12:57] deedubs commented on #359
I agree with @archisgore, why not just abort early instead of all the mental gymnastics?

[2018-10-17 20:04] deedubs commented on #447
Looks like this will be done over in [controller-tools](https://github.com/kubernetes-sigs/controller-tools/blob/7726d5bd7fa827640c2d03742f85185a4f46fc1f/pkg/internal/codegen/parse/crd.go#L408-L516)

[2018-10-17 23:01] droot commented on #447
Yes, I will be super useful feature from UX perspective. Happy to review/guide if someone wants to make a PR for this.

[2018-10-18 00:04] deedubs commented on #447
@droot sign me up!!

[2018-10-18 03:59] deedubs commented on #447
I was thinking about a annotation format like:
`+kubebuilder:print:type=<type>,description=<desc>,JSONPath:<.spec.Name>?priority=<0|1>,?format=<format>`

[2018-10-18 17:56] droot commented on #447
Thanks for working on it.
Minor suggestion about the format:

- May be call the annotation `+kubebuilder:printcolumn` to make it more explicit
- Since each columns require 4 fields (name, spec, ...etc), it can get very verbose, so packing all columns in one line may not be great UX. So we should allow multiple lines with one line for each column.

[2018-10-18 18:17] droot commented on #439
This is fixed with 1.0.5 release

[2018-10-18 18:17] #439 closed

[2018-10-18 19:20] sohankunkerkar commented on #443
cc/ @droot @mengqiy Any updates on this issue?

[2018-10-18 21:02] droot commented on #443
I think we dropped the support for `resource` annotation when we migrated to newer project version. It shouldn't be very hard to re-introduce that. It needs to be added in https://github.com/kubernetes-sigs/controller-tools

We won't be able to get to it this week, but happy to review/guide the PR if you need before that.

[2018-10-18 21:24] #389 closed, assigned to nobody

[2018-10-18 21:32] sohankunkerkar commented on #443
Thanks, @droot for your clarification. I was under the impression that there's a bug in the kubebuilder tool. Having said that, we're not in a hurry, it's okay to get delayed this fix by a week o so.

[2018-10-19 05:05] roberthbailey commented on #439
Thanks!

[2018-10-19 07:26] cmoulliard opened #449 "Move code/cmd of ApiServer from api-builder project"
Is it planned to move the code of the `apiserver-boot [1]` part of the project `github.com/kubernetes-incubator/apiserver-builder` within kubebuilder ?

[1] https://github.com/kubernetes-incubator/apiserver-builder/blob/master/cmd/apiserver-boot/boot/run/local.go

[2018-10-19 13:36] chrigl commented on #326
With this commit https://github.com/kubernetes-sigs/controller-runtime/commit/c5e5439a4953c1a2cab7975cab74cedc0dde3da2 (which is included at least in 1.0.5) we can use the envvar `KUBEBUILDER_ASSETS` to pass the bin-directory explicitly.

[code]

Worked for me with the getting-started example (Except for struggling because of #359).

[2018-10-19 20:43] bbc88ks commented on #404
Would be nice to have. We had to use a kustomize hack to make it work.

[2018-10-22 19:30] fanzhangio opened #451 "Add version support for CRD in kubebuilder"
Kubebuilder needs to add version support of CRD
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/

[2018-10-22 23:00] liyinan926 opened #453 "Namespace inconsistency issue"
It seems that kustomize stopped appending the name prefix (as specified in `namePrefix`) to the namespace name where the manager gets installed. However, the generated `kustomization.yaml` still uses the prefixed namespace name as specified by `namespace`, e.g., `foo-system`. So when used with the kustomize installed from head, the namespace created is the default `system`, instead of the correct

[2018-10-23 12:43] eLco opened #454 "Separate kubernetes service account for controller manager"
Currently generated yaml for controller manager rely on default kubernetes service account that is created in namespace.
Maybe it is better to use separate Service Account for role binding.

[2018-10-23 13:49] kierendavies commented on #416
`wg.Add(1)` should be called before the goroutine. Otherwise, if `TestReconcile` has no tests after that `defer`, then it's possible that the `defer` finishes before the `StartTestManager` goroutine executes, and the panic happens like before. ([Relevant docs](https://golang.org/pkg/sync/#WaitGroup.Add).)

[2018-10-24 04:15] Kashomon opened #456 "book.kubebuilder.io out of date: kubebuilder create api"
I was going through http://book.kubebuilder.io, and came across numerous cases referring to `kubebuilder create api`. I think this has been replaced with `kubebuilder create resource` but it's rather confusing for getting started.

[2018-10-24 09:53] errordeveloper commented on #326
That sounds okay to me, shall we close?

On Fri, 19 Oct 2018, 2:36 pm Christoph Glaubitz, <notifications@github.com>
wrote:

[2018-10-24 17:33] droot commented on #456
`kubebuilder create api` is the right command. We should no longer we using `kubebuilder create resource` in the docs. Can you point the occurrences of `create resource` ?

[2018-10-24 17:38] droot commented on #453
@Liujingfang1 @mengqiy we need to be careful in introducing breaking changes to `kustomize`. Can we pl. fix this.

[2018-10-24 17:46] droot commented on #449
One way to model such operations would be as another resource say `ExportRequest` under the same group-version. `Status` field in `ExportRequest` can be used to track the progress of the operation.

[2018-10-24 17:46] droot commented on #446
I am not able to reproduce it. Are you still facing this issue ?

[2018-10-24 19:31] justinsb commented on #419
I would +1 to changing this.  I'm using go modules, and it's confusing to have a version specified in Gopkg.toml that isn't actually what you intend to use.

[2018-10-24 21:29] Liujingfang1 commented on #453
Recently Kustomize made two following change:
- stop adding nameprefix to namespace resources
- create namespace resource specified in `kustomization.yaml` if not found a matched one

This issue should only be seen in the period between the two changes.  After the two changes, kubebuilder projects will work with Kustomize head. The only impact is that kustomize will create an extra namespace resou

[2018-10-24 21:53] droot commented on #453
Thanks for clarification. so looks like @liyinan926 was unlucky and picked up the `Kustomize` in that window. @liyinan926 I would suggest using tagged `Kustomize` release instead of head to confirm if you are still facing this issue.

[2018-10-25 02:53] MagicSong commented on #446
Yes, I'm still struggling with it. My laptop is windows, I use WSL(windows subsystem for linux) to develop go program, and I use symbolic link in `GOPATH`(Because i need to map windows `GOPATH` to linux `GOPATH` so I can use IDE in windows and  build in linux). Everything is OK with other go program that not use 'go generate'。However it failed in kubebuilder, it seems `go generate` does not lookup

[2018-10-25 11:15] MagicSong commented on #164
Why this issue is closed? Is it best practice of k8s that one object one controller?
My resource need to create a `Job` and `Configmap`，and it will throw a error if I watch both objects.

[2018-10-26 08:22] quanguachong opened #459 "Can I change the key of workqueue"
I want to write a controller using kubebuilder.

Can I specify a interface as the key of workqueue instead of the `reconcile.Request`

[2018-10-26 21:45] Liujingfang1 commented on #453
@liyinan926 @mengqiy @droot Those two change causes more problems than the it solves. I'll revert both of them. We're not going to touch this part before we have a really good solution for all usage. Sorry for changing this back and forth.

[2018-10-26 21:59] Huang-Wei opened #460 "[feature] exponential backoff"
/kind feature

Right now, kubebuilder supports re-enqueuing current `reconcile.Request`, with a fixed time duration:

[code]

It would be sweet if exponential backoff can be provided, so that the re-enqueuing can happen in 1s, 2s, 4s, ... Until a condition is met and then aborted.

Similar implementation in k8s is sth. like this:

https://github.com/kubernetes/kubernetes/blob/1355e6b27713bbbdd3e59

[2018-10-27 18:59] ashish-amarnath opened #461 "`kubebuilder init` fails with code-generator compiler errors."
Following instructions from https://book.kubebuilder.io/quick_start.html I wasn't able to run
kubebuilder init --domain k8s.io --license apache2 --owner "The Kubernetes Authors"
The error was:
[code]

[2018-10-27 19:02] ashish-amarnath commented on #461
Entry for code-generator in the Gopkg.lock, as generated by `kubebuilder init`
[code]

[2018-10-27 19:13] ashish-amarnath commented on #461
[Gopkg.lock.txt](https://github.com/kubernetes-sigs/kubebuilder/files/2522133/Gopkg.lock.txt)

[2018-10-27 19:13] ashish-amarnath commented on #461
Attached the `Gopkg.lock` that was generated by `kubebuilder init`

[2018-10-27 21:03] pwittrock commented on #461
I wasn't able to reproduce.  Try adding this to your Gopkg.toml and running `dep ensure -v`

[code]

[2018-10-27 21:07] pwittrock commented on #461
Also, what version of dep are you using?  I am using version `v0.4.1` and it works.  Maybe the vendor isn't being flattened?  Can you make sure `vendor/k8s.io/code-generator/` does *not* exit.

[2018-10-27 21:19] pwittrock commented on #461
I just tried with v0.5.0 as well and it works:

dep:
 version     : v0.5.0
 build date  : 2018-07-26
 git hash    : 224a564
 go version  : go1.10.3
 go compiler : gc
 platform    : darwin/amd64
 features    : ImportDuringSolve=false

[2018-10-27 21:19] ashish-amarnath commented on #461
I am running `v0.5.0`.
So this is what I did
1. I nuked the dir that I was working in and recreated an empty one.
2. Ran `kubebuilder init` to get the problem again.
3. Edited the Gopkg.toml file to pin the version of `code-generator`
4. `$ rm -rf ./vendor/k8s.io/code-generator/`
5. Ran `dep ensure`
6. `$ go generate ./pkg/...`

I hit the same problem.

I am running dep version v`v0.5.0`. Let me s

[2018-10-27 21:59] ashish-amarnath commented on #461
The problem was that I had a conflicting library in `$GOPATH/pkg/darwin_amd64/k8s.io/code-generator/` which was being preferred over what `dep` had vendored in.
Removing that worked.
Thanks @pwittrock!

[2018-10-27 21:59] #461 closed

[2018-10-28 05:58] ashish-amarnath commented on #461
Doing the following helped in getting to the root cause.
[code]

[2018-10-28 06:03] ashish-amarnath commented on #461
PR with troubleshooting docs: https://github.com/kubernetes-sigs/kubebuilder/pull/462

[2018-10-29 09:24] MagicSong opened #464 "Docs about subresource like logs or exec"
I have a resource has a run function(which can be called by end uesr arbitrarily). How can i do that use kubebuilder.

[2018-10-29 18:10] droot commented on #444
Discovered another one today --> https://travis-ci.org/kubernetes-sigs/kubebuilder/jobs/447305177

[2018-11-01 05:47] #464 closed

[2018-11-01 15:17] surbas commented on #362
Hey Y'all. Running into this issue now. Just wondering whats the best way of handling this.

[2018-11-02 17:32] droot commented on #453
closing it now. @liyinan926 pl. reopen it if you are still running in to issues.

[2018-11-02 17:32] #453 closed

[2018-11-07 20:48] lionelvillard commented on #442
same problem when the field type is `*int64` (which gets translated into `type: number`) and `*runtime.RawExtension`

[2018-11-07 22:51] geoffmore opened #471 "'Dep is not installed' error with dep in $PATH"
I tried following the kubebuilder getting started guide at https://book.kubebuilder.io/quick_start.html, but
kubebuilder incorrectly shows the error "Dep is not installed. Follow steps at: https://golang.github.io/dep/docs/installation.html". dep was installed via the curl-to-shell method at https://github.com/golang/dep
My environment is:
[code]
What's strange is that installing dep via the offic

[2018-11-08 08:54] alvaroaleman opened #472 "How to test if individual calls were made?"
The testing infrastructure generated by kubebuilder allows using an ephemeral test etcd+apiserserver, which has many advantages. What is not possible anymore thought is to test the individual calls which were made like it was possible with a `fakeClientset.Actions()`.

What is the suggested path going forward to be able to test this? Is this something that has been considered already?

[2018-11-09 08:36] hidekazuna opened #473 "Controller Example code in gitbook does not work"
I developed ContainerSet by following gitbook, but Controller Example code does not work.
Working code is the following(I removed auto generated comments).

[code]

[2018-11-09 21:49] jsriram7 commented on #451
"Retweet" - Basically, when we add multiple versions, kubebuilder should render the crd definition something like
versions:
  - name: v1beta1
    # Each version can be enabled/disabled by Served flag.
    served: true
    # One and only one version must be marked as the storage version.
    storage: true
  - name: v1
    served: true
    storage: false

Reference - above documentation

Also, it wo

[2018-11-12 21:53] DirectXMan12 commented on #422
Pretty much any type you want to work with has to be registered with discovery.  If a given resource is not available in discovery, we can't work with it.  It doesn't necessarily need to be registered in the scheme, but if you can't find it at the `/apis` endpoint, then you will see that error

[2018-11-12 23:14] crimsonfaith91 commented on #422
@DirectXMan12 Oops, this problem has resolved. I will close it now.

To fix the problem, it requires adding the scheme dynamically apart from this [change](https://github.com/kubernetes-sigs/controller-runtime/pull/178).

[2018-11-12 23:14] #422 closed

[2018-11-12 23:23] erictune opened #476 "Document how to represent time and dates in types."
KRM convention for storing dates is to set`type: string` and `format: date` in the openAPI.

For date-times it is to use `type: string` and `format: date-time`.

This is RFC3339, and you can refer this reference: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#data-types.

Suggest putting this in the KubeBuilder book.  I didn't find the terms `date-time` or `RFC3339` whe

[2018-11-13 01:07] jaxxstorm opened #477 "Generation for core resources"
I'm attempting to make a controller for a core resource, deployment. I followed the docs [here](https://book.kubebuilder.io/beyond_basics/controllers_for_core_resources.html)

[code]

However, on creation of the API:

[code]

I suspect this is what the line:

Means in the documentation, but it's very unclear. I'm happy to improve the docs for core resources if I can get some help sorting this.

[2018-11-14 00:13] Liujingfang1 opened #479 "update doc and scaffold for optional fields"
We need to update the kubebuilder book for optional fields. Make sure that users add `omitempty` for that field.
We also need to update the scaffolding. When `omitempty` is seen on a field, add the // +optional as well to that field.

[2018-11-14 00:45] erictune commented on #479
Users who read core types may see that they do:
[code]

whereas the KubeBuilder book does:

[code]

In these examples, I think that `json: "omitempty"` and `//+optional mean the same thing.  But I wasn't sure.

I'm assuming the reason the core types don't need to say `json: "inline"` and `json:"metadata"` is that the core converters handle it magically?

[2018-11-14 00:52] erictune commented on #479
Never mind last comment: I was looking at the internal type not the versioned type.

[2018-11-14 02:14] FogDong commented on #285
Same issue😢, have you finished your PR? 😉@surbas

[2018-11-14 04:37] droot opened #481 "CRD documentation on kubernetes.io should refer Kubebuilder"
[CRD docs](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/) should refer to Kubebuilder describing it as an SDK  to extend kubernetes using CRD.

[2018-11-14 06:42] roberthbailey commented on #472
/cc @pwittrock @droot

This is something that we lost during the apiserver-builder --> kubebuilder transition and we'd really like to have some way to recreate this functionality to enhance our testing.

[2018-11-14 11:37] cmoulliard opened #482 "[Feature] Bash install script"
## Feature

I propose that we release a bash script in order to simplify the installation process of the kuberbuilder binary

Commands for macos
[code]

to be converted to something like this

[code]

[2018-11-14 12:08] cmoulliard opened #483 "kubernetes docs - coming soon"
## Doc issue

The documentation of kubebuilder details how to document the [API](https://book.kubebuilder.io/beyond_basics/generating_documentation.html) but unfortunately the command is not yet available

[code]

See code of the command : https://github.com/kubernetes-sigs/kubebuilder/blob/master/cmd/docs.go#L30

[2018-11-14 21:12] droot commented on #482
I like it. Can you pl. submit a PR for this script (may be as `install.sh` script under `scripts` dir in the repo) ?

[2018-11-15 10:17] cmoulliard opened #486 "Improve contributing guide - gloud-build-local part"
The existing contributing guide is incomplete as it does not explain that :

- A gcloud project is need
[code]

- The gcloud-build-local command should be executed within the kubebuilder go project
- A Gcloud account is needed or you must be authenticated
[code]
- Permissions are required
[code]

Questions :
- How can I fix this error `ERROR: (gcloud.projects.describe) User [cmoullia@redhat.com] d

[2018-11-16 16:18] sohankunkerkar commented on #447
@droot I can give it a shot.

[2018-11-16 16:22] droot commented on #447
Thanks for signing up. Assigning it to you soon, hack it away :) ping me on
slack if you need any help.

On Fri, Nov 16, 2018, 8:18 AM Sohan Kunkerkar <notifications@github.com
wrote:

[2018-11-16 18:32] droot commented on #447
/assign @sohankunkerkar

[2018-11-16 18:34] droot commented on #447
@sohankunkerkar consider this issue assigned to you. I am not able to assign you because of the reason mentioned in previous message by the bot.

[2018-11-16 22:20] #380 closed

[2018-11-16 23:31] sohankunkerkar commented on #447
yeah @droot

[2018-11-16 23:33] sohankunkerkar commented on #447
Sure thing!

[2018-11-17 17:56] tanweernoor commented on #297
@gyliu513 have you fixed this ? can you share spec file please ?

[2018-11-18 02:30] gyliu513 commented on #297
@tanweernoor not yet, as it is not priority now. You can probably create a PR if needed ;-)

[2018-11-18 02:35] tanweernoor commented on #297
i will be happy to do it if someone can explain me what needs to be done ?

There are various ways to fix this.
1) One way would be to fetch the pre-built binaries from the core kubernetes releases instead of building it from scratch.
2) what else ? 1) is not the fix :)

[2018-11-19 00:03] gyliu513 commented on #297
@tanweernoor  I think 1) is good enough for the fix, @droot , can you help confirm? Thanks.

[2018-11-19 17:36] mattfarina commented on #300
@p-bakker It's worth noting that ~50% of devs use Windows and most don't use the subsystem for Linux.

[2018-11-19 18:16] #473 closed

[2018-11-20 08:57] bells17 opened #488 "Could append task to Makefile what run a generate-groups.sh?"
Hi.  Could append task to Makefile what run a generate-groups.sh?
Because I created kubernetes operator with kubebuilder, but at first I didn't know generate-groups.sh command.
So I took a long time what investigate about kubernetes code generator.
I'm happy if add task to Makefile what run a generate-groups.sh.
I thought it would be nice if the following task were added to Makefile template:

[co

[2018-11-21 04:56] vivekzhere opened #490 "Resources fields with underscore in json tag is not added to the CRD definition"
[code]

is generating a spec like:

[code]

[2018-11-21 06:25] gerred opened #491 "CRDs cannot watch other CRDs"
I have a controller that is managing the lifecycle of other CRDs. Given the following code:

[code]

kubebuilder fails to register controllers for the manager with the following error:

[code]

I tried updating controller-runtime to 0.1.7 and controller-tools to 0.1.6 by hand, this didn't seem to help. The stack trace was a little unhelpful. Any pointers in tracking this down would be greatly appr

[2018-11-21 06:37] gerred commented on #491
^ Also getting bit by PropagationPolicy here. Going to close, I think I can solve this from an implementation side in a cleaner way.

[2018-11-21 06:37] #491 closed

[2018-11-22 07:02] Simon-Li commented on #486
I'm also wondering these questions and expect answers..

[2018-11-27 10:51] jimmidyson commented on #483
@pwittrock Any plans for this? What are your thoughts on how to implement this?

[2018-11-27 17:28] lionelvillard opened #494 "add an option to start kube garbage collector"
I don't know if that's possible but it'd be nice to have kube garbage collector enabled when using the testing framework.

[2018-11-27 19:33] droot commented on #488
@bells17 Thanks for sharing the instructions for generating client.

Do you mind sharing reasons for using the generated client over the one provided by controller-runtime ?

[2018-11-27 22:16] #486 closed

[2018-11-28 01:19] ahmetb opened #496 "book: many broken links"
Links like https://godoc.org/sigs.k8s.io/kubebuilder/pkg/gen are broken.

More: https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/kubernetes-sigs/kubebuilder%24+pkg/gen+-file:vendor

[2018-11-28 18:28] droot opened #497 "Add a script to test installation script"
This https://github.com/kubernetes-sigs/kubebuilder/pull/493 added install script which would become the default way to install kubebuilder soon. We should add a test (a script may be) that tests the installs script and enable it in travis.

At the very basic, script should invoke the `./scripts/install.sh` and then verify installation succeeded. We can enable the script for both OSX and Linux.

[2018-11-28 18:41] #482 closed

[2018-11-28 18:42] droot commented on #496
Thanks for reporting it. Fix is on the way.

[2018-11-28 18:43] nareshku commented on #374
This worked for me.

[2018-11-29 07:55] #496 closed

[2018-11-30 09:02] volume-ji opened #502 "kubebuilder init failure because "dep ensure" get error "go.uber.org/zap""
[code]
It seems that the url should be "godoc.org/go.uber.org/zap"

[2018-11-30 09:10] #502 closed

[2018-11-30 09:41] bells17 commented on #488
@droot Thanks for the reply. And sorry, I hadn't understood about controller-runtime client...
I fixed my operator to use the one provided by controller-runtime as below:
https://github.com/bells17/common-network-policy-operator/pull/8

[2018-11-30 18:34] droot commented on #442
@sohankunkerkar can you pl. investigate this ?

[2018-11-30 18:34] droot commented on #442
/assign @alvaroaleman

[2018-11-30 18:34] droot commented on #442
/assign @sohankunkerkar

[2018-11-30 18:37] droot commented on #404
/assign @sohankunkerkar

[2018-12-01 01:48] volume-ji opened #503 "dep ensure failure, "Solving failure: No versions of k8s.io/api met constraints""
I get a below error in using "kubebuilder init":
[code]

how can i resolve this error? appreciate for any reply.

[2018-12-01 01:54] volume-ji commented on #503
I use the latest version "v1.0.5"
[code]

[2018-12-03 10:22] FillZpp opened #505 "Get client.Client in webhook admission"
Now i create webhook admission using `kubebuilder alpha webhook ...`, and then find the webhook
handler generated like this:
[code]

The `Client` which i need in webhook validating or mutating has been commented.
How could i get client or informer in webhook admission?

[2018-12-03 21:57] #488 closed

[2018-12-03 22:00] droot commented on #503
@volume-ji This is `dep` related failure. You can try solutions for failures here https://golang.github.io/dep/docs/failure-modes.html#bad-local-cache-state and re-try running `dep ensure -v`

[2018-12-03 22:01] droot commented on #503
Also, I am assuming you are using stable release of `dep`.

[2018-12-03 23:00] kuroneko25 opened #506 "Support go modules"
now that https://github.com/golang/go/wiki/Modules is a thing do we plan to switch from `dep` to go modules?

[2018-12-04 00:59] volume-ji commented on #503
Thanks, I know that it relate with dep, but I do not how to resolve it. I will ask for the url you offer.
 I use "kubebuilder init --domain example.com --license apache2 --owner "volume-ji" --dep false --license apache2.0", then it works. "--dep false"
close the issue

[2018-12-04 18:18] mengqiy commented on #505
This is a documentation issue. I will update it.

I will use the [test project](https://github.com/kubernetes-sigs/kubebuilder/blob/master/test/project/) as an example to show you how to use a client:
1. Define a client by uncommenting https://github.com/kubernetes-sigs/kubebuilder/blob/master/test/project/pkg/webhook/default_server/frigate/validating/frigate_update_handler.go#L39
2. Enable the in

[2018-12-04 22:45] tamalsaha opened #507 "What is the process for supporting new version of Kubernetes?"
Kubernetes releases a new major client-go every 3 months. Usually every release has some breaking that needs updating any library that uses k8s.io packages to same release. We are interested in using kubebuilder. I would appreciate if you could answer the following questions:

- What are the usual technical steps for updating kubebuilder to support a new version of Kubernetes?

- Are there any pla

[2018-12-04 22:46] tamalsaha commented on #507
xref: https://github.com/kubernetes-sigs/cluster-api/issues/522#issuecomment-427553009

[2018-12-05 00:28] monopole opened #508 "Docs: upgrade process so simple that the documentation feels incomplete"
I have a  project which was "kubebuilder init"-ed at 1.0.1 (or so) and am
attempting to rebuild my controllers at kubebuilder 1.0.5

I'd like these instructions:   https://book.kubebuilder.io/beyond_basics/upgrading_kubebuilder.html
to be more explicit about me not having to change any code i wrote.

I understand that the libs are based on semver (so only changing minor version), but
1) perhaps ca

[2018-12-05 01:08] monopole opened #509 "kubebuilder what command"
I just came back to a kubebuilder managed project I haven't touched in months, and don't remember what all this stuff is and what steps i can take.

Would like to enter
[code]
and get some kind of status
* list of files i wrote and what for (e.g. i have a config dir, with subdirs crds, default, manager, rbac, samples, and would like a reminder about kubectl apply order)
* list of files that are pu

[2018-12-05 03:31] FillZpp commented on #505
Thanks a lot @mengqiy
I never noticed (2) before.

[2018-12-05 08:43] FillZpp opened #510 "[bug] mutating webhook admission failed because of wrong json patch"
## Take an example
1. Define a CRD, spec like this:
[code]

2. Generate a mutating webhook, the handler like this:
[code]

3. In mutatingMyResourceFn, i try to set value for baz:
[code]

4. After installing and deploying, i try to create a CR:
[code]

5. Create failed, error like this:
[code]

This is because my test.yaml has no bar in spec, but admission ask to add /spec/bar/baz.

## My opinion
`

[2018-12-05 21:33] sohankunkerkar commented on #490
@vivekzhere
Above case is not compliant with the kubernetes API guidelines. You can go through the following doc for more information.
https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md

[2018-12-05 23:16] mengqiy opened #511 "Pin the version of k8s.io/code-generator in scaffoldded Gopkg.toml"
`Controller-tools` seems don't have direct dependency on `k8s.io/code-generator`, dep will NOT respect the constrict in the `Gopkg.tom` in `controller-tools` to use a specific version. Instead, it will use the master branch of `k8s.io/code-generator`.
Why `dep` behave like that i documented in https://golang.github.io/dep/docs/the-solver.html#activated-constraints.

Using `k8s.io/code-generator` w

[2018-12-06 04:29] sohankunkerkar commented on #443
Closing this issue as it's solved by PR #106

[2018-12-06 04:29] #443 closed

[2018-12-06 14:15] #447 closed

[2018-12-06 23:11] #442 closed

[2018-12-07 19:16] mengqiy commented on #510
@FillZpp Thanks for your suggestion.
It looks very likely your suggested approach will work.

[2018-12-07 19:38] mohnishkodnani commented on #505
When I run the following command.
```kubebuilder alpha webhook --group core --version v1 --kind Pod --type=mutating --operations=create,update```

I get the following error :
[code]

[2018-12-08 00:52] mohnishkodnani commented on #400
I have a minikube running locally and i have mutating web hook to be before pod creation.
I get the error
 Internal error occurred: failed calling admission webhook
```https://webhook-server-service.default.svc:443/mutating-create-update-pods?timeout=30s: dial tcp 10.104.245.128:443: getsockopt: connection refused```
The IP listed is the clusterIP of the service.
I have the http server running in

[2018-12-08 02:16] mengqiy commented on #400
I guess this is how this happened:
You have webhook configuration already installed which mutates pod. You can run `kubectl get mutatingwebhookconfigurations.admissionregistration.k8s.io` to check.
When you want to bring up the webhook server, it tries to create pods which will be blocked by the admission webhook if the `FailurePolicy` field is `Fail` in mutatingwebhookconfigurations.

One thing y

[2018-12-08 23:36] mohnishkodnani commented on #400
Can you tell me where the hooks are for MutatingWebHookConfiguration object ?

[2018-12-09 19:57] yuzisun commented on #369
I got it working with a controller which interacts with other CRDs, but it took me quite sometime to figure out, at least document or examples are missing.

[2018-12-10 12:16] answer1991 opened #516 "Error when run "kubebuilder create api --group apps --version v1""
**What happened**:
Error when run "kubebuilder create api --group apps --version v1 --kind Foo"

**What you expected to happen**:
No error occur when run "kubebuilder create api --group apps --version v1 --kind Foo"

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
I will post PR to fix this issue

[2018-12-10 18:25] mengqiy commented on #400
https://github.com/kubernetes/api/blob/d04500c8c3dda9c980b668c57abc2ca61efcf5c4/admissionregistration/v1beta1/types.go#L113-L124

[2018-12-10 19:04] droot commented on #516
Can you try with `--example false` flag to suppress the example code as a workaround for now.

[2018-12-10 19:07] droot commented on #506
`Go modules` do look promising, but still experimental in Go 1.11, we will wait for them to become stable and default in Go 1.12 before switching over.

[2018-12-10 19:09] vikramk7 commented on #434
I can take this one.

[2018-12-10 19:10] #503 closed

[2018-12-10 19:43] vikramk7 commented on #434
/assign vikramk7

[2018-12-10 20:56] roberthbailey opened #518 "The kube-apiserver bundled with kubebuilder should print out a valid version string"
I was trying to troubleshoot an issue with the version of the kube-apiserver bundled with kubebuilder and wasn't able to see what version is being used.

[code]

This issue was present when I looked at 1.0.3 and 1.0.5, but may be present in other releases.

[2018-12-11 05:35] alexellis commented on #516
+1 I have this issue too

[code]

via:

[code]

[2018-12-11 17:46] dgoodwin opened #521 "Optional vs Omitempty"
We've been having quite a few issues with omitempty. As I understand it, if you do not want to be required to specify a field in a create/update, you mark it omitempty in the json tag. This causes the generated CRD to consider that field optional.

However this causes a couple problems, using status sub-resource as an example, I naturally would not want status to be required when creating an objec

[2018-12-11 18:11] Liujingfang1 commented on #521
related to #479

[2018-12-11 19:22] droot commented on #518
We are fixing this in next release. our current process builds all the binaries from the release-tag. Instead of building the binaries ourselves, we are going to just packages the binaries available on dl.k8s.io.

/cc @mengqiy who is working on it.

[2018-12-11 19:31] droot commented on #518
fixes #518

[2018-12-11 22:56] #518 closed

[2018-12-12 14:43] answer1991 commented on #516
@alexellis

Looks like not same issue. Maybe you delete the file *pkg/apis/functions/v1beta1/function_types.go*

[2018-12-12 14:59] alexellis commented on #516
Maybe I deleted the file? No.. I didn't delete it. I can delete the whole folder and reproduce this issue though with the command above. What do you think?

[2018-12-12 19:44] tamalsaha commented on #507
Thanks @droot !

Regarding timing, do you accept contributions on upgrading the runtime and tools? Or, things just stay in review until other downstream projects are ready to update?

In other words, if we send prs to upgrade these repos, will those be merged?

[2018-12-12 21:15] droot commented on #507
Yes, We accept contributions on upgrading and We don't wait for downstream projects to update. We do coordinate updating the deps in controller-runtime/tools at the same time because kubebuilder projects can't have the mix of tools and runtime depend on different k8s releases.

For last couple of releases upgrading k8s didn't introduce any breaking changes to the controller-runtime/tools API, so i

[2018-12-12 21:49] DirectXMan12 opened #526 "Generation doesn't work if GOPATH is unset"
Our code generation generation assumes `GOPATH` is set.  If `GOPATH` isn't set (i.e. the user is using the default of `~/go`), we'll generate at the wrong location, and fail to build.  We'll prob need to fix this in controller-tools, but I haven't had the chance to double check to make sure it's not something weird with how we're invoking controller-tools here instead.

Encountered this with a use

[2018-12-12 21:50] DirectXMan12 commented on #526
cc @anthonydahanne

[2018-12-12 21:51] DirectXMan12 commented on #526
/priority important-soon

[2018-12-12 23:08] fanzhangio commented on #483
I am going to implement this feature. 😄

[2018-12-13 08:06] fiftoine opened #528 "Add support for interface member"
Hi,

I have a resource type that has a interface{} type.

When running `go run vendor/sigs.k8s.io/controller-tools/cmd/controller-gen/main.go crd`I get an error :
[code]

Actually, This field could contain string or int or bool but I don't want to create a IntOrStringOrBool type. Is there a workaround or is it a bug?

Thanks

[2018-12-13 17:08] fanzhangio opened #530 "`Kubebuilder create example` should work."
`kubebuilder create example` is not supported but is required for generating docs.

[2018-12-13 19:31] fanzhangio commented on #483
#530

API document reference involves `create example` and `create resource` subcommand. Do we take these subcommand implementation into consideration with docs ?

@droot @pwittrock

[2018-12-13 19:33] #497 closed

[2018-12-13 20:13] fanzhangio commented on #526
If the `GOPATH` is not set particularly, or running `kubebuilder` in a different path other than `$GOPATH/src/<package>`, it will prompt the error message:

[code]

So user should either set up an `GOPATH` to align with current working directory or change the project to `default` path. I think we could add more illustration in the error message for this.

[2018-12-13 20:18] PaoloGallina opened #531 "`make generate` creates the deep-copy.go in two different folders"
Version: version.Version{KubeBuilderVersion:"1.0.5", KubernetesVendor:"1.11", GitCommit:"f15ca6865b192f9222882365f525d897564e6bc0", BuildDate:"2018-10-16T21:40:14Z", GoOs:"unknown", GoArch:"unknown"}

Running `make generate` from the main folder of the project:
 - `GOPATH/src/testexample`

 Two identical zz_generated.deepcopy.go are generated in the following folders:
 - pkg/apis/testexample/pkg/a

[2018-12-14 00:44] mengqiy commented on #505
@mohnishkodnani I guess the project was created by an older kubebuilder that doesn't support scaffolding webhook. It currently assume `webhook.go` was generated at `kubebuilder init` step, which may not be always true.

[2018-12-14 18:32] #505 closed

[2018-12-14 19:39] droot commented on #530
`create resource` is no longer required because it is the same as `create api`.

[2018-12-14 22:03] mengqiy commented on #507
@tamalsaha You are welcome to contribute.
https://github.com/kubernetes-sigs/controller-runtime/pull/221 is an example of upgrading k8s dependencies. You can see that even though there are breaking changes in `client-go`, there are no breaking changes at `controller-runtime` surface.

[2018-12-14 23:09] kuroneko25 opened #535 "Running controller manager as Deployment"
The doc seems to indicate it's undesirable to run more than one instance of the controller manager (thus using a Statefulset with a single instance or Deployment with replica = 1). What is the actual concern here? If you are implementing an admission webhook with `FailureType = Fail` wouldn't you want more than one instance so you don't fail the webhook if the pod serving the admission requests go

[2018-12-14 23:15] mengqiy commented on #516
@answer1991 Generally it is not recommended to define your CRD in the same group and version as the existing core APIs.

[2018-12-17 18:42] droot commented on #528
It should not error-out for `interface{}` type.
@sohankunkerkar can you pl. take a look at this ?

[2018-12-17 18:44] droot commented on #507
Closing this issue since there aren't any next steps.

[2018-12-17 18:44] #507 closed

[2018-12-17 18:44] #490 closed

[2018-12-17 18:51] DirectXMan12 commented on #526
it seemed to work fine *if* running under `$GOPATH/src/<package>` when $GOPATH was unset (meaning `go env` showed a gopath of `~/go`, but `$GOPATH` was empty)

[2018-12-17 19:40] mengqiy commented on #511
Fixed in #513

[2018-12-17 19:40] #511 closed

[2018-12-18 17:17] j-vizcaino commented on #506
FWIW `deepcopy-gen` seems to be facing issues generating files outside of `$GOPATH`: https://github.com/kubernetes/code-generator/issues/57

[2018-12-19 02:11] janetkuo opened #538 "Document the steps for registering external/vendor types"
@DirectXMan12

[2018-12-20 07:23] richardmarshall opened #539 "kubebuilder does not accept "Cat" as a valid Kind."
When creating an api type named `Cat` the `kubebuilder create api` sub-command rejects the name due to a failed camel case validation.

[code]

This seems to be due to the [inflect](https://github.com/markbates/inflect) package considering the word "cat" as an acronym and expecting the camelized version to be "CAT". I would consider this to be unexpected behavior as cats of the fluffy variety are

[2018-12-20 08:11] ringtail opened #540 "kubebuilder can not work with lower version kubernetes libs."
Is there any plan to support different k8s version. If we want to use a lib depends on lower version k8s.

[2018-12-21 00:22] DirectXMan12 commented on #538
Those instructions need some cleaning-up -- you don't necessarily need an extra controller, for example

[2018-12-25 11:06] erkanerol commented on #535
Does it mean there is no problem with deploying the operator as Deployment?

[2018-12-27 01:56] #531 closed

[2018-12-28 00:41] mohnishkodnani opened #547 "Field Selector spec.nodeName does not work"
[code]

This returns the error

```Index with name field:spec.nodeName does not exist```

I tried to trace through and see the following in cachedReader.

The indexName = field:spec.nodeName and indexKey = <ns>/minikube

In thread_safe_store.go

[code]

I see that the index is only on the namespace. How do i fix this or get around so that the index exists for the fields ?

[2018-12-30 10:54] HagaiBarel commented on #456
@droot you can find a reference here - https://book.kubebuilder.io/beyond_basics/generating_documentation.html at the code sample. It's outdated, afaik the docs don't work for kubebuilder 1.* but the section about documentation is still there.
Also, in `build/test.sh` there's a reference to `create resource`

[2019-01-02 01:41] coderanger commented on #547
The only index created by default is on `namespace`. While you can manually add additional indexers to the same cache, it is likely easier to use an uncached client for those specific requests.

[2019-01-03 18:57] narayanasamyr opened #549 "No way to get event recorder instance"
I could see Recorder instance set for sigs.k8s.io/controller-runtime/pkg/internal/controller in "sigs.k8s.io/controller-runtime/pkg/controller"  'New' method,
But there is no way to use that recorder instance in my controller because 'sigs.k8s.io/controller-runtime/pkg/internal/controller' is internal package which I could not import in my controller

Even though the recorder set for controller th

[2019-01-03 22:58] DirectXMan12 commented on #483
see also https://github.com/ahmetb/gen-knative-api-reference-docs (basic docs that has a similar goal).  We probably want to make sure that we support usecases that it supports (simple to run, can generate markdown, can generate links to main Kubernetes docs, etc)

[2019-01-03 22:59] DirectXMan12 commented on #483
we probably want to move some of the agnostic parts to controller-tools

[2019-01-04 20:42] fanzhangio opened #554 "[KEP] Modularized Annotation Pattern and Spec"
### Modularized Annotation Pattern and Spec

This KEP is about implement of generic annotation for kubebuilder following [Modularized Annotation Pattern](https://github.com/fanzhangio/go-annotation/blob/master/Modularized-Annotation-Pattern.md).

The goal of this KEP is to unify annotation spec and usages in `kubebuilder` project. In this way, all existing and future features (RBAC, Webhook, CRD,

[2019-01-04 20:49] fanzhangio commented on #554
@pwittrock @droot @mengqiy @DirectXMan12

[2019-01-07 19:35] mengqiy commented on #554
Having a unified annotation spec in kubebuilder is good.
But it seems it's not fully backward compatible. Please also discuss how to release it and migration plan if any. It seems we have to release it in controller-tools v0.2.0 or greater due to incompatibility.

[2019-01-08 00:56] fanzhangio commented on #554
Thanks @mengqiy
My plan is:
1. General Annotation Spec KEP approval.
2. Implement `annotation` interface as internal package of `controller-tool`
3. Refactor `RBAC` and `Webhook` by `new annotation` approach
4. Refactor `parseAPI` of `code-gen` by `new annotation` approach
5. Refactor and clean up heritage codes in `code-gen`
6. Update document and gitbook, add code examples
6. Implement new featu

[2019-01-08 01:59] mengqiy opened #557 "Action Required for upgrading from kubebuilder <=v1.0.7 to >= v1.0.8"
TL;DR: If you don't have a project generated by kubebuilder v1.0.7 or earlier, you can stop reading.

If you have a project generated by kubebuilder v1.0.7 or earlier and you want to upgrade you kubebuilder to v1.0.8 or later, you need to do the following:
1. Upgrade `controller-runtime` to version v0.1.9 or later and `controller-tools` to v0.1.8 or later.
[code]
1. Upgrade kubebuilder to v1.0.8 o

[2019-01-08 02:00] mengqiy commented on #557
This is not an actual issue.

[2019-01-08 02:13] s12chung opened #558 "Duplicate rbac roles"
when placing two different comments for the same resource, I get duplicate/overlaying rbac roles.

ex:
[code]

I get:
[code]

or if i duplicate the comment, I get two entries. I expect the entries to merge together

[2019-01-08 03:36] fanzhangio commented on #558
I might miss something, what is the particular reason why not merge the two RABC comments into one for the same resource in your case.

[2019-01-08 04:09] s12chung commented on #558
we have two controllers that watch the same resource, so i think it'd make sense to have a comment for each controller.

[2019-01-08 08:35] runzexia opened #559 "generate swagger.json from CRD"
Hi I want to ask about the 1.0 roadmap related to the kubebuilder docs function?
At v0.x, it seems to support kubebuilder docs. Currently, the related functions of v0.x version are no longer available, but v1.0 version does not provide this function.

I want to generate swagger.json from CRD and finally generate multi k8s language's client.
What should I do for my needs? Can you give me some advic

[2019-01-10 03:14] runzexia commented on #559
https://github.com/kubeflow-incubator/genspec
https://github.com/kubeflow-incubator/gen
Some useful examples

[2019-01-10 15:33] maguro opened #562 "Add ability to install via homebrew"
It would be nice if Homebrew could be used to install kubebuilder.

[2019-01-11 03:18] runzexia opened #565 "Unable to access book.kubebuilder.io via chrome"
![image](https://user-images.githubusercontent.com/31230341/51011145-4a737580-1592-11e9-8df9-ba231fe907d4.png)

[2019-01-11 14:02] runzexia commented on #559
I did some experiments and it seems that there are some problems. kubeflow uses the 1.9/1.10 version of apimachinery, while controller-runtime and controller-tools use 1.12.x and 1.13.x apimachinery, which are not compatible.

[2019-01-11 16:57] tantona commented on #528
So happy this issue is already open - I just ran into this myself!

Are there any workarounds? @fiftoine did you get this figured out?

[2019-01-12 12:18] abbi-gaurav commented on #326
Please consider adding the information to
[code]

in the kubebuilder book.

[2019-01-12 12:41] sohankunkerkar commented on #528
@tantona Could you please provide the test case that you're using here. It would help me in debugging this issue.

[2019-01-12 16:34] yanniszark opened #566 "Getting client-go to work is difficult and error-prone"
For my project, I need to use an uncached client for multiple reasons:
1. Dynamic client doesn't support patch
2. I don't want the overhead of the caching since I do very little reads.

* **What went wrong:**

I imported client-go into my project, ran `dep ensure -v` and got this weird error:
[code]

I then remembered that in many projects, versions of client-go and kubernetes components are pinne

[2019-01-14 19:35] droot commented on #565
Are you still running in to this issue ? because I am able to access `https` on chrome just fine. It might be broken last week because we were switching kubebuilder book hosting, but it should be stable now.

[2019-01-14 19:35] droot commented on #565
cc @mengqiy

[2019-01-14 20:08] droot commented on #558
Expectation is correct, It will be nice for the tool to de-dupe the RBAC roles. I think our current tooling just has a flat list, converting it to a map key'd by GVK can help with this.

For now, as a workaround, I would recommend having merged comment.

[2019-01-14 20:12] mengqiy commented on #565
That happened for a few hours during the migration.
I'm aware of that issue.
It should have be fixed last week :)
@runzexia Let know if you still see something strange.

[2019-01-14 20:12] #565 closed

[2019-01-14 22:34] andersjanmyr commented on #528
@sohankunkerkar Just declare a new type, like this:
[code]
This will lead to an error like this:
[code]

[2019-01-14 22:39] andersjanmyr commented on #528
Adding a type alias for `interface{}` changes the error
[code]
to this
[code]

[2019-01-14 22:47] andersjanmyr commented on #528
I think something like Mitchell Hashimoto's `copystructure` could be used to solve this.
https://godoc.org/github.com/mitchellh/copystructure

[2019-01-14 23:30] SKD-SKD opened #567 "make run -- Makefile:38: recipe for target 'vet' failed"
i disabled test,
make run is failing

[2019-01-14 23:30] SKD-SKD commented on #567
root@dm103:~/go/src/test# make run
go generate ./pkg/... ./cmd/...
go fmt ./pkg/... ./cmd/...
go vet ./pkg/... ./cmd/...
# test/pkg/apis/test/pkg/apis/ships/v1beta1
pkg/apis/test/pkg/apis/ships/v1beta1/zz_generated.deepcopy.go:26:11: undefined: Sloop
pkg/apis/test/pkg/apis/ships/v1beta1/zz_generated.deepcopy.go:36:11: undefined: Sloop
pkg/apis/test/pkg/apis/ships/v1beta1/zz_generated.deepcopy.go:4

[2019-01-14 23:34] SKD-SKD commented on #567
prevous steps and make install is fine
[code]

[2019-01-15 02:12] yanniszark opened #568 "Documentation for generated informers is wrong"
According to the documentation, adding a generated informer to the manager is done with:

[code]

However, that code will result in the manager immediately exiting. This is because `generatedInformers.Start` returns immediately. To work correctly we must block on the stop channel:

[code]

Many thanks to @DirectXMan12 for figuring that one out, I spent a day looking for the cause.
I have reproduce

[2019-01-15 02:53] runzexia commented on #565
No problem now.

[2019-01-15 05:05] sohankunkerkar commented on #528
@andersjanmyr Thanks for the detailed analysis. I understood what's the problem here. Let me go through it and will get back to you soon.

[2019-01-15 05:26] andersjanmyr commented on #528
@sohankunkerkar I looked at it some more and to be able to add this functionality the generator has to be altered. Here's an example that works (but is far from perfect). I need to add support to all interfaces and make sure that the `copystructure` package is included with dep.
https://github.com/kubernetes/gengo/compare/master...andersjanmyr:add_support_for_interface

[2019-01-15 06:05] sohankunkerkar commented on #528
@andersjanmyr That's awesome. I was planning to handle this condition in the controller-tools itself.
https://github.com/kubernetes-sigs/controller-tools/compare/master...sohankunkerkar:interface?expand=1
I did not change anything in `gengo` package

[2019-01-15 17:56] andersjanmyr commented on #528
@sohankunkerkar How does the generated copy code look? The `zz_generated.deepcopy.go` must make a deep copy using reflection for interfaces. I don't think you can get that to work without using reflection.

[2019-01-16 08:50] magicsong opened #569 "change the namespace"
the default namespace is `system`, and i tried to use `kustomize` to change the namespace by replace the the `namespace` value in `kustomization.yaml `. But nothing changed. What is the correct way to change the namespace?

[2019-01-16 09:12] #569 closed

[2019-01-17 23:37] verult opened #570 "Documentation for installing kubebuilder might be outdated?"
I followed the instructions here:
https://book.kubebuilder.io/getting_started/installation_and_setup.html

but running kubebuilder leads to these errors:
[code]

[2019-01-18 12:11] shaneutt opened #571 "Remove race condition in templated test code "StartTestManager" function."
Hello! When working with `kubebuilder` it was noticed that the templated testing code provided for a new project technically has a race condition in it, specifically it appears to be the `StartTestManager` function in `pkg/scaffold/controller/controllersuitetest.go`.

Here's a diff of my suggestion for a fix for this:

[code]
Here is a PR for this: https://github.com/kubernetes-sigs/kubebuilder/pu

[2019-01-23 19:57] #571 closed

[2019-01-24 18:55] #510 closed

[2019-01-25 03:11] kdada opened #575 "Proposal: Create APIs and ClientSets in a separate repository"
`kubebuilder` creates projects with APIs and clientset/informer/lister. This behavior causes  developers have to maintain APIs in different repos. When users needs to interact with these APIs,  they also need to import lots of clients. It's not easy to use!

In a company or an org, developers used to maintain APIs in one place. So I think kubebuilder can help developers to create a project for API

[2019-01-25 16:12] wanminny opened #577 "kubectl apply -f don't work"
[code]

[2019-01-26 12:59] runzexia commented on #577
If you can give the contents of `config/samples/ship_v1beta1_frigate.yaml` and `confg/crds/ship_v1beta1_frigate.yaml`, it will be helpful to find the problem.

[2019-01-29 15:26] angrosz opened #581 "How to generate a controller for two separate CRDs using kubebuilder"
Hi,

kubebuilder book describes how to generate a controller for a single CRD. My task is to create a controller which has to watch objects for 2 separate CRDs and implement custom logic for them. Is it possible to generate a controller for two separate CRDs using kubebuilder commands?

Your assistance in this matter would be greatly appreciated.

Best Regards,
Ania

[2019-01-29 17:17] luisdavim commented on #285
any updates on this one?

[2019-01-29 17:59] luisdavim commented on #285
This is actually covered in https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/crd/util/util.go maybe we can use that.

[2019-01-29 19:17] luisdavim commented on #285
I've opened a PR to address this issue, please let me know what you think.

[2019-01-30 14:56] wanminny commented on #577
@droot  sorry so late to response

a few days later ;it is ok ; stragely;you konw.
thanks all the same. :)

[root@node1 tt]# kubectl apply -f config/samples/ship_v1beta1_frigate.yaml
frigate.ship.k8s.io/frigate-sample unchanged

[root@node1 tt]# kubectl get pods
NAME                                         READY   STATUS             RESTARTS   AGE
frigate-sample-deployment-56b9ff4bbd-zwrqw   1/1

[2019-01-30 14:56] wanminny commented on #577
[code]

[2019-01-30 14:58] wanminny commented on #577
[code]

[2019-01-30 20:42] droot commented on #581
Best practice is to have one controller reconciling objects of one type. So a controller can watch objects of a type, generated objects for that type (or other arbitrary object) as long as all of these changes results in reconciliation of one type. The kubebuilder book explain that using containerset example where you can watch pod type (owned by containerset) and containerset types and you reconc

[2019-01-30 20:46] droot commented on #577
This can be explained. When you submit new CRD for a new type, that may take some time for it to be available in the list of available resources, so kubectl may have stale information about the available resource and can throw unrecognized-kind error.

[2019-01-30 20:48] droot commented on #577
Will close this issue. Pl. reopen it if you continue to see this issue.

[2019-01-30 20:48] #577 closed

[2019-01-30 20:51] droot commented on #570
@verult can you share the complete output ? `Current GOPATH` and `Current Directory` ? because kubebuilder expects to be run in a directory under subtree rooted at GOPATH.

[2019-01-31 13:58] luisdavim opened #583 "Add a Makefile"
Having a makefile in this repo would be nice.

[2019-01-31 21:22] #404 closed

[2019-02-01 09:09] j-vizcaino opened #585 "Support custom templates"
I'd like to be able to provide templates for API and controller code generation.
It seems the templates are hardcoded and there's no way to provide those from the command-line.

[2019-02-01 20:49] droot commented on #585
Can you share more context about the use-case ?

[2019-02-01 22:09] DirectXMan12 opened #588 "Convert scaffolding to use new builder"
controller-runtime has a nice builder pattern that simplifies a lot of the common cases, and is sufficiently expressive as to capture most cases.  This dramatically simplifies setting up (and reading) controller initialization and watch initialization code, so we should make use of it.

[2019-02-01 22:09] DirectXMan12 commented on #588
/priority important-soon
/kind feature

[2019-02-02 18:20] j-vizcaino commented on #585
Sure! Sorry about the lack of details.

I bootstrapped a manager using Kubebuilder and it gave me everything needed to start hacking: code for API type and its associated controller. Pleasant experience.

Now, in the same project, I need to bootstrap other API types and associated controllers but those need to leverage common logic and interfaces my generic engine provides. As a result, the defaul