[2019-11-22 15:32] ryandawsonuk commented on #1216
Actually turns out [I don't need to do this anyway](https://github.com/SeldonIO/seldon-core/pull/1118/commits/17520cc47faeec7eb6fe1248f57eb68d8346ae32#diff-e35f762db386aef706a8b20d09081fb9R65)

[2019-11-23 12:02] Adirio opened #1218 "[Umbrella issue] Scaffolding enhancements"
# Description

The following issue will group together all the different enhancements aimed to obtain a smoother file scaffolding system that improves redability, removes duplicate sections, avoids calling several methods multiple times, and centralizes functionality.

Some of the enhancements will be straight forward and will be directly implemented by a PR while others will have their own issue

[2019-11-24 03:22] yunkunrao commented on #1112
I have encoutered the same situation when developed crd. Does anybody know how to fix it?

[2019-11-24 12:30] KeisukeYamashita opened #1220 "Resource validation for webhooks"
## What

When I try to create API with invalid group name, it throws the error as expected.

[code]

But for the Webhook, it doesn't throw error.

[code]

Since this happens, sometimes I create webhooks with wrong group name.

I want to ask that is this the expected behavior? Thank you.

/triage support

[2019-11-25 07:01] rockmenjack commented on #1140
same here...changed to ```kustomize build config/crd | kubectl create -f -``` fixed the issue

[2019-11-25 09:13] camilamacedo86 commented on #1140
HI @rockmenjack and @champak,

Could you help us by letting us know the steps to reproduce it and/or sharing the link for the project where you are able to check it?

[2019-11-25 12:56] Vikash082 commented on #1206
Hi @camilamacedo86 . I reinstalled go. But the result is same.

[2019-11-25 16:01] Adirio commented on #1220
The problem is that the webhooks may be for resources that are not created by kubebuilder, like builtin reosurces, manually created CRDs, or even by other tools.

[2019-11-25 19:56] alexeldeib opened #1223 "e2e should handle docker image cleanup"
Prow will forcefully kill and cleanup any images our tests leave running, but after discussing with @BenTheElder we should really handle this cleanup ourselves in order to be good test-infra citizens and ensure we don't leave running containers around.

We should delete the kind cluster and trap on exit to make sure we always do it. ref:
- https://github.com/kubernetes-sigs/kind/blob/36eae75e06768

[2019-11-25 20:14] #1214 closed

[2019-11-25 21:16] #886 closed

[2019-11-25 22:58] mengqiy commented on #1213
Yes.
We currently doesn't scaffold webhooks for k8s native types.

[2019-11-26 04:01] quanguachong commented on #1213
Thanks

[2019-11-26 04:01] #1213 closed

[2019-11-26 05:03] gaocegege opened #1225 "[feature request] Support golang runtime or net/http pprof"
/kind feature

It will be nice if we could support net/http/pprof or runtime/pprof with kubebuilder.

Now I have such a workaround:

[code]

I think we can reuse the metrics-addr for pprof but now it is running on TCP, thus it cannot work with http pprof.

[2019-11-26 09:56] Adirio opened #1226 "[Scaffold enhancement] File interface"
# Context

## Current situation

The current `File` interface is as follows:

https://github.com/kubernetes-sigs/kubebuilder/blob/03f70fb1a0f7521f383a08e41562124021161baf/pkg/scaffold/input/input.go#L141-L145

The single method is not descriptive enough and does different tasks:
1. Sets default values
2. Returns a non-descriptive `Input` struct which contains:
    - Two fields needed to prepare th

[2019-11-26 10:43] Adirio commented on #1226
I did an example of the interface to make my point clearer in #1227. It is still using the old `GetInput` approach but the new interface is also present one of the files (`AuthProxyRole`) implements it.

[2019-11-26 16:17] gclawes commented on #1129
Is there a way to generate openapi specs for kubebuilder CRDs?  They are useful for generating client libraries in other languages (python, go, java, etc).

[2019-11-26 16:27] camilamacedo86 commented on #1129
Hi @gclawes,

Could you please raise a new issue to request this support with a summary and clear description of the uses cases which justify the kubebuilder support to generate openapi specs?

[2019-11-26 16:28] gclawes commented on #1129
Sure!

[2019-11-27 07:02] withlin opened #1228 "How to pod interceptor in kubebuilder webhook?"
i just want to interceptor k8s pod resource in kubebuilder webhook. so what should i do in kubebuilder?

[2019-11-27 14:29] champak commented on #1140
I think the root cause is that if we include a native k8 type like pod specs into the spec for a kubebuilder operator, the entire spec gets included which blows up the size.  I noted a couple of other issues that relate to this:  #962 and  #82292. @DirectXMan12 's comments seemed to indicate there is not a good way around this at present. Given that, could we consider replacing the kubectl apply w

[2019-11-27 14:52] camilamacedo86 commented on #1140
I am not sure. You are saying that the issue is faced because of `kustomize build config/crd | kubectl apply -f -` and was solved when you replace it by `kustomize build config/crd | kubectl create -f -`. Am I right?

However, note that the apply means that it will create/update the resources when the create will shows an error in the case of the resources be already created and is not able to upd

[2019-11-27 17:00] caarlos0 commented on #592
this still won't work in some cases, like when the default for a field is not its zero-value.

I end up doing the same thing @schweikert recommended.

[2019-11-27 18:10] camilamacedo86 commented on #1129
HI @gclawes could you raise the issue? If yes, could you please add the link here?

[2019-11-27 18:16] gclawes commented on #1129
Yes, I'll raise an issue.  Haven't had time to do a write-up yet.

[2019-11-27 22:41] champak commented on #1140
@camilamacedo86 I added a trivial example at : https://github.com/champak/kbuildercrdtoobig

The spec contains 3 pods (https://github.com/champak/kbuildercrdtoobig/blob/master/example/api/v1alpha1/toobig_types.go ) and the CRD gets too big to be installed via the  kustomize build config/crd | kubectl apply -f method. Hope that helps illustrates. Thanks for taking a look !

[2019-11-28 10:16] Adirio commented on #1228
1. `kubebuilder init --domain=XXXXXXXXXX`: use the rest of the flags as needed (e.g. `--license` or `--owner`).
2. `kubebuilder create api --resource=false --controller=false --group=Core --version=v1 --kind=Pod`: use the rest of the flags as needed.
3. `kubebuilder create webhook --group=Core --version=v1 --kind=Pod ...`: extra flags will be needed here

[2019-11-28 11:14] withlin commented on #1228
Hi @Adirio It does not work.
![image](https://user-images.githubusercontent.com/22409551/69801896-420c4380-1213-11ea-8af8-be3090d0bc02.png)
![image](https://user-images.githubusercontent.com/22409551/69801914-4b95ab80-1213-11ea-9bcf-5ba45baac944.png)

[2019-11-28 11:24] withlin commented on #1228
Ref [issue1213](https://github.com/kubernetes-sigs/kubebuilder/issues/1213)
Not support native types.
Kuberbuilder version: 2.0 latest

[2019-11-28 12:34] Adirio commented on #1228
I see, you should probably raise a feature request issue to support webhooks for builting types and close this one as the answer by now is: "It can't be done"

Maybe it is possible to scaffold a wrapper around Pod that implements the webhook iterfaces.

[2019-11-28 16:55] pires commented on #1216
If that's what you really want, why not change your `FirstMate` and add a `Client` attribute to its struct, so that then you can...
[code]

[2019-11-28 17:03] ryandawsonuk commented on #1216
Wouldn't the client then be an attribute on the custom resource ([FirstMate in this example case](https://github.com/kubernetes-sigs/kubebuilder/tree/04c2341643978399570ed565724c98a19ef7935c/testdata/project-v2/api/v1) and so be treated as part of the CRD and included in the generated CR definition?

[2019-11-28 17:26] pires commented on #1216
According to the snippet of code you pasted, `FirstMate` is the name of your controller/reconciler.

[2019-11-28 17:41] pires commented on #1216
Maybe something like...

[code]

[2019-11-28 17:43] pires commented on #1216
Do have in mind the `client` will need access to the scheme(s) of the type(s) you'll be interacting with.

[2019-11-28 18:09] ryandawsonuk commented on #1216
Yeah that approach works - https://github.com/SeldonIO/seldon-core/pull/1118/commits/0202671d8dec00a84b801151043576ba6a4bfdce#diff-e35f762db386aef706a8b20d09081fb9R99

[2019-11-28 19:50] Gsantomaggio opened #1230 "Failed to pull image "controller:latest":"
I followed the [documentation about the load image](https://book.kubebuilder.io/cronjob-tutorial/running-webhook.html#build-your-image) but I still have the problem.

What versions of software are you using?  Specifically, the following are often useful:
[code]
[code]

[code]

[code]

I can reproduce the issue by following the official documentation:

## Init

[code]

## Create api
[code]
## build

[2019-11-28 20:48] Adirio commented on #1230
It is trying to pull from docker.io instead of using your local image. I haven't worked with kind ever but does kind see the controller:latest? You could also push it to a docker.io registry (free) and modify the path in the Deployment yaml file.

[2019-11-29 10:22] Gsantomaggio commented on #1230
I restarted docker and  kind and it works now, sorry for the noise

[2019-11-29 10:22] #1230 closed

[2019-12-01 15:06] gclawes opened #1231 "Generate openapi spec for CRD objects"
Provide a way to generate OpenAPI specs for the CRDs generated by kubebuilder.  It would be useful to be able to generate API libraries for CRD objects in languages other than go.

A specific use case is where the controller for a CRD is written in go, but tools that generate Custom Resource configurations are written in other languages that OpenAPI can generate libraries for (Python, Java, Ruby,

[2019-12-01 15:07] gclawes commented on #1129
@camilamacedo86 opened #1231

[2019-12-03 13:31] Gsantomaggio commented on #1206
I think you have some problem on your go installation, I tried with the following enviroment and it works without problems:

[code]

Can you post the begining of the error?

[2019-12-03 14:17] camilamacedo86 commented on #1206
Looking at your error, I think it is some module which is broken in your local env. Could you please try do the following steps.

- Remove the bins in $GOPATH/bin
- Clean your go mod cache by:

[code]

- Re-install kubebuilder
- Try again.

[2019-12-03 22:03] champak commented on #1140
FWIW, here's what I did to get around the issue. Since we cannot always use replace:

(kustomize build config/crd | kubectl replace -f -) || (kustomize build config/crd | kubectl create -f -)

replace will fail if the CRD is not already in place, in which case create does the job.

This is merely a workaround. The root cause I think is the inclusion of the entire native spec(s) in the CRD spec. I

[2019-12-04 03:15] adrianludwin opened #1237 "Upgrade documentation to use recent version of cert-manager"
The current kubebuilder.io book uses cert-manager annotations with the group "certmanager.k8s.io", which strongly suggests an older version of cert-manager (v0.10.0 or older). In v0.11.0, the API group has changed to "cert-manager.io" and the version upgraded from v1alpha1 to v1alpha2.

In addition, I discovered a relatively subtle gotcha about the DNS names on the certificates - the cert created

[2019-12-04 07:59] iredelmeier opened #1238 "GuestbookStatus struct redeclared in quickstart sample code"
The `GuestbookStatus` struct is currently declared twice in the sample code of the [Quick Start's Press Options section](https://github.com/kubernetes-sigs/kubebuilder/blob/696e8274156173403a50d319a7af7d0feed8f2ba/docs/book/src/quick-start.md#press-options):

[code]

I'm guessing that one declaration (the first?) should be renamed `Guestbook`?

/kind documentation

[2019-12-04 13:39] draghuram commented on #1237
@adrianludwin, which version of kubebuilder did you try with? 2.1.0 does create certificate configuration correctly. Here is a sample I just generated:
[code]

[2019-12-04 14:20] adrianludwin commented on #1237
@draghuram Thanks! My version of kubebuilder must be out of date (mine was from September or so) - I'll get the newest one. However, the documentation still needs to be updated.

/kind documentation

[2019-12-04 16:42] camilamacedo86 commented on #1140
Hi @champak,

It happens because when we use the application it will add the annotation `last-applied-configuration` with all.

To know more about see here doc over it: https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/.

So, yes. The usage of `create` instead of `apply` flag is a valid workaround in this scenario. Also, IHMO it leads the need to re-check the CRD's sinc

[2019-12-04 22:32] Liujingfang1 commented on #1178
Yes, we can.

[2019-12-04 23:04] #1178 closed

[2019-12-04 23:48] gautamkmr opened #1239 "Do we have list of all operators built using kubebuilder ?"
Something like this https://github.com/operator-framework/awesome-operators which operator-sdk uses ?

[2019-12-05 03:32] rockmenjack commented on #1140
Well, in my case, bring in PodSpec makes CRD definition resemble what users usually do for defining a Pod, which provides a smooth experience on using the CRD.

[2019-12-05 10:54] camilamacedo86 commented on #1140
HI @rockmenjack,

I do not agree with this approach. IMHO the CRD should have specs attributes regards just to this domain in order to not hurt concepts such as encapsulation, single resposanbilty principle and almost for sure cohesion that may cause unexpected sides effects such difficulty to read, maintain/improve and extend, to mention a few.

See that in the CR we will pass the data of the spe

[2019-12-05 21:22] DirectXMan12 commented on #960
We have a logo now, just trying to extricate it from storage :-)

[2019-12-05 21:22] #960 closed

[2019-12-05 21:24] DirectXMan12 commented on #1231
That's what controller-tools *already* generates OpenAPI data for CRDs as part of generating the CRD validation schema.  Is that not sufficient?

[2019-12-05 21:26] DirectXMan12 commented on #1206
As @camilamacedo86 noted, this is generally caused by using a version of controller-tools that was not compiled with your go version.  Make sure to reinstall controller-tools after updating Go.

[2019-12-05 21:40] DirectXMan12 commented on #1239
there's not currently a list, no

[2019-12-05 21:41] DirectXMan12 commented on #1237
/help

If you're feeling up to it, can you file a PR to update the book?

[2019-12-05 21:50] draghuram commented on #1237
I will submit a PR for this change. There is just one place where the old group is being used.

[2019-12-05 21:54] DirectXMan12 commented on #1238
Something really weird is going on there.  It looks like a merge issue.  Indentation is also off.  Can you check the history and see when that got messed up?

The root guestbook should be something like (being a bit lazy here with the typing; and tabs):

[code]

[2019-12-05 21:54] DirectXMan12 commented on #1238
/kind bug

[2019-12-05 22:00] champak commented on #1140
@camilamacedo86  Could we consider adding a separate make target that allows large CRDs to get installed. I used a combination of replace and create but there may be a better way. Given the declarative verbose syntax, we could blow past the limits even without using Pod specs.

With regard to being able to add native k8 objects like Pods into CRDs, I think this is a very useful feature of kube-bui

[2019-12-05 22:17] iredelmeier commented on #1238
Looks like the only relevant commit is the [initial one](https://github.com/kubernetes-sigs/kubebuilder/commit/a9860545bb0e6bb56fc4973423eca7fb36d6e08d#diff-e7f384593803dbfd8186105c2163ede5R75-R137).

In any case, it should be a pretty quick fix (famous last words 😅). Happy to submit a PR!

[2019-12-05 22:26] DirectXMan12 commented on #1216
If you need to use a client, I'd reccomend using the lower-level webhook machinery in `pkg/admission/webhook`.

[2019-12-05 22:27] DirectXMan12 commented on #1216
e.g. https://github.com/kubernetes-sigs/controller-runtime/blob/master/examples/builtins/validatingwebhook.go

[2019-12-05 22:27] DirectXMan12 commented on #1216
we really need an FAQ item on this

[2019-12-05 22:28] DirectXMan12 opened #1241 "document when to use the high-level Defaulter/Validator interface vs the lower-level handler interfaces"
Namely, if you need to do anything with clients, need to configure things differently, etc, you prob want the lower-level interfaces.

/kind documentation
/help

[2019-12-05 22:29] DirectXMan12 commented on #1228
If you just want a webhook that intercepts pods, I'd reccomend just using controller-runtime directly -- see https://github.com/kubernetes-sigs/controller-runtime/blob/master/examples/builtins/validatingwebhook.go for an example

[2019-12-05 22:29] #1228 closed

[2019-12-05 22:30] DirectXMan12 commented on #476
/lifecycle frozen
/help

[2019-12-05 22:38] DirectXMan12 commented on #1223
/priority important-soon

[2019-12-05 22:41] DirectXMan12 commented on #1210
Yes, please report this to the homebrew maintainers -- we don't directly maintain the homebrew build.

[2019-12-05 22:41] #1210 closed

[2019-12-05 22:42] DirectXMan12 commented on #675
Make sure you have the latest version of KB, and then it should work on an empty go.mod file.

[2019-12-05 22:43] DirectXMan12 commented on #933
yes, defaulting requires the v1 CRD and a structural schema.  We could document this better in the defaulting marker docs and the book

[2019-12-05 22:43] #944 closed

[2019-12-05 22:44] DirectXMan12 commented on #944
I think this can be closed now that v0.2.x is more stable

[2019-12-05 22:44] DirectXMan12 commented on #1065
Yep, that's what we're doing in CT now

[2019-12-05 22:53] DirectXMan12 commented on #1140
it's pretty common to embed podspec in your CRD, that's definitely a feature we want to support.

the workaround is to not `kubectl apply` when installing OR to set `maxDescLen` on controller-tools when generating the CRD

[2019-12-05 22:53] DirectXMan12 commented on #1140
we introduced `maxDescLen` to work around this problem until we get rid of client-side apply

[2019-12-05 22:56] DirectXMan12 commented on #1155
In theory, `kubebuilder update` has been replaced with `go get -u sigs.k8s.io/controller-runtime` (and similar for controller-tools).  We could have `kb update` do that, but I'm kinda tempted to just say that we want to encourage users to understand how go modules work and just document that.

[2019-12-05 22:57] DirectXMan12 commented on #1196
If you're using multiple versions, you need to mark one as storage, as noted here: https://book.kubebuilder.io/multiversion-tutorial/api-changes.html#storage-versions

[2019-12-05 22:57] #1196 closed

[2019-12-05 22:58] DirectXMan12 commented on #1015
FYI, we don't recommend using resync period, and instead reccomend `RequeueAfter` in `reconcile.Result`

[2019-12-05 23:05] DirectXMan12 commented on #959
@camilamacedo86 it's just a writeup that covers the steps if you're using KB, so it belongs here :-)

[2019-12-05 23:05] #993 closed

[2019-12-05 23:08] DirectXMan12 commented on #1197
We generally don't update scaffolded files because we have no way to know if the user has significantly changed them.

[2019-12-05 23:08] #1197 closed

[2019-12-05 23:13] DirectXMan12 commented on #1170
closing since the above is merged

[2019-12-05 23:13] DirectXMan12 commented on #454
yeah

[2019-12-05 23:13] #454 closed

[2019-12-05 23:14] DirectXMan12 commented on #932
prob v3 (or in a plugin) if we decide to do it at all.

[2019-12-05 23:17] DirectXMan12 commented on #1152
I think @Ghostbaby means they need a Go client, not OLM-style dependency resolution, because other things need to operate on the types.

[2019-12-05 23:36] #1238 closed

[2019-12-05 23:48] DirectXMan12 commented on #1174
I think what you're looking for is CRD pruning, which is effectively required for CRD v1 (it's called `preserveUnknownFields`).

[2019-12-05 23:49] DirectXMan12 commented on #1202
we'll have to take this into account for multi-group setups

[2019-12-05 23:50] DirectXMan12 commented on #1202
but multi-group setups need a slightly different scaffolding anyway, so
/shrug

[2019-12-05 23:54] DirectXMan12 commented on #1128
Yeah, this is a bug straight up I think, I don't think it's just due to the rules changing (unless someone has more details).  @sttts do you have any idea what's going on here?

[2019-12-05 23:59] draghuram commented on #1237
Actually, I find the old group and version being used at several places.
[code]

Can I go ahead and change all these to "cert-manager.io" and "v1alpha2"?

[2019-12-06 00:03] DirectXMan12 commented on #1218
awesome!  thanks for working on this :-)

[2019-12-06 01:20] camilamacedo86 opened #1244 "Document Prometheus setup and usage to export metrics"
We change the previous set up in order to support the usage of Prometheus Operator, however, is missing doc it. All steps and information are in the PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1030.

[2019-12-06 01:27] camilamacedo86 commented on #1244
/assing @camilamacedo86

[2019-12-06 01:31] mengqiy commented on #1244
It seems these 2 pieces are no longer needed.
https://github.com/kubernetes-sigs/kubebuilder/blob/3ec07ea772fe1f392f37347b50c354d3b578f4bb/testdata/project-v2/config/default/kustomization.yaml#L29 and https://github.com/kubernetes-sigs/kubebuilder/blob/3ec07ea772fe1f392f37347b50c354d3b578f4bb/testdata/project-v2/config/default/kustomization.yaml#L35-L36

We need to cleanup comments in kustomizatio

[2019-12-06 01:36] camilamacedo86 commented on #1244
Thanks for point out the places @mengqiy

[2019-12-06 15:07] sttts commented on #1128
This was a bug in go-openapi. We fixed it in https://github.com/kubernetes/kubernetes/pull/85223. It happens in connection with `items` fields, very ugly. I wonder whether we can backport https://github.com/kubernetes/kubernetes/pull/85223. cc @liggitt wdyt?

[2019-12-06 15:08] sttts commented on #1128
I think the very case here from the issue was already fixed in https://github.com/kubernetes/kubernetes/pull/76124, which is part of 1.16.

[2019-12-06 15:13] liggitt commented on #1128
both kubernetes/kubernetes#85223 and kubernetes/kubernetes#76124 are larger than I would prefer to backport, especially for something that is not a regression (if I'm reading this correctly, this was broken in older releases and works in 1.16+?)

[2019-12-06 15:21] sttts commented on #1128
A regression long ago.

[2019-12-06 15:52] jgustie opened #1246 "Scaffold a dockerignore file"
I've noticed that Docker build context can be significantly larger then necessary; this isn't a huge problem but it can be noticeable at times. Scaffolding a `.dockerignore` file was [previously suggested](#1109), but in the context of eliminating `COPY` statements (which negatively impacts the build cache); this is more about just reducing the build context size.

I am currently using a `.dockeri

[2019-12-06 16:43] champak commented on #1140
@DirectXMan12 Thanks much for weighing in. Would it make sense to have a kubectl workaround as a make target ? I looked around and could not tell in what time-frame we can expect server-side apply to be available.

If you had a pointer on why we needed to include complete component specs into the CRD spec instead of indirect references please post. Thanks.

[2019-12-09 08:20] Adirio commented on #1218
@DirectXMan12 I would like to know your opinion on `Plural` and `Resource.Resource`. Do we need to keep these two separate or can we just use one for them? I can post a list of both usages if that helps with the discussion.

[2019-12-09 10:45] jsravn commented on #675
I had to blow away `go/pkg/mod`, then it worked. I don't understand go modules well enough to know why this worked though.

[2019-12-09 21:04] joelanford opened #1249 "Feature Request: Extensible CLI and scaffolding plugins"
## Overview
I would like for Kubebuilder to become more extensible, such that it could be imported and used as a library in other projects. Specifically, I'm looking for a way to use Kubebuilder's existing CLI and scaffolding for Go projects, but to also be able to augment Kubebuilder's project versions with other custom project versions so that I can support the Kubebuilder workflow with non-Go o

[2019-12-09 21:05] joelanford commented on #1249
/assign @DirectXMan12
/cc @estroz @hasbro17 @shawn-hurley

[2019-12-09 23:40] mengqiy commented on #1244
The code scoffolding `manager_prometheus_metrics_patch` won't be needed either.

[2019-12-10 01:23] DirectXMan12 commented on #1249
Haven't reviewed the actual prototype, will do that shortly.  Initial thoughts:

1. Can you put this in a design doc in a PR?  Slightly easier to comment on different sections with context (you can literally just copy-and-paste the the content from this issue into the design doc -- we don't enforce any particular structure besides having an example, which you already have :-) )

2.  How do you spe

[2019-12-10 02:27] joelanford commented on #1249
Closing in favor of #1250 to make review and commenting easier.

[2019-12-10 02:27] #1249 closed

[2019-12-10 10:22] camilamacedo86 opened #1251 "Review tutorial to ensure that it has not outdated code"
This task is tracked in order to follow up all tutorial steps and check if is all updated.
If something was changed then, we could update its steps.

[2019-12-10 16:50] camilamacedo86 opened #1253 "Unable to export prometheus metrics be following the steps provided"
, I followed instructions in #1030 but I saw the following error in Prometheus for the metrics service endpoint:

"Get http://172.17.0.15:8443/metrics: net/http: HTTP/1.x transport connection broken: malformed HTTP response "\x15\x03\x01\x00\x02\x02""

Note that Prometheus was using "http" to access the end point. So I added the following

    scheme: https
to "endpoints" of ServiceMonitor but the

[2019-12-10 17:03] camilamacedo86 commented on #1253
Hi @draghuram,

As we spoke in the PR I am unable to reproduce your scenario. Following the steps used to check it.

1. Install the Prometheus with Minikube. I am following the steps of https://github.com/coreos/kube-prometheus#quickstart. Following them:
- run `minikube delete && minikube start --kubernetes-version=v1.16.0 --memory=6g --bootstrapper=kubeadm --extra-config=kubelet.authentication-t

[2019-12-10 17:09] camilamacedo86 commented on #1253
Hi @draghuram,

As you can see all worked as expected. So, could you provide the following information?

1. Are you checking if the QuickStart or another project?
2. Could you please provide the link for the project used by you?
3. Could you please provide the kubebuilder version/ go version and minikube version used to test it?

[2019-12-10 17:18] camilamacedo86 commented on #1253
/assign @camilamacedo86

[2019-12-10 18:13] draghuram commented on #1253
Ok. May be there is some problem with the Prometheus operator as you suggested before. I will switch to kube-prometheus at some point but please proceed with the changes as they seem to work.

[2019-12-10 18:33] draghuram commented on #1253
I was following steps in #1030 except that I used Prometheus operator (https://github.com/coreos/prometheus-operator) instead of kube-prometheus.

I just realized that I used kubebuilder that I built locally few days ago from master branch. However, I have been using 2.1.0 for my other project. I will retest with this version and kube-prometheus. Note that I already had minikube v1.4.0 running pri

[2019-12-10 19:32] camilamacedo86 commented on #1253
Hi @draghuram,

Just one point of attention. See that if you use minikube to setup the Prometheus as described in the [doc](https://github.com/coreos/kube-prometheus#minikube) is required to:

`$ minikube delete && minikube start --kubernetes-version=v1.16.0 --memory=6g --bootstrapper=kubeadm --extra-config=kubelet.authentication-token-webhook=true --extra-config=kubelet.authorization-mode=Webhook

[2019-12-11 09:52] CamelCaseNotation commented on #611
@droot or @gaocegege can y'all point me to an example where I can provide flags to my controller like the OP mentioned?

[2019-12-11 11:08] albrechtsimon commented on #611
In my project I just used go flags like this:

[2019-12-11 11:28] dholbach commented on #1001
https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v2.2.0 has landed. :rocket:

[2019-12-11 17:15] functicons commented on #982
/close

[2019-12-11 17:15] #982 closed

[2019-12-11 20:48] champak opened #1256 "dynamically adaptable logging from kubebuilder"
Hi,
I am looking for a good pattern for logging from logic written into kubebuilder based opeators where we can change the logging level on the fly. Do not want to delve into the philosophical discussion on the number of log levels :) Lets assume there are a few and as is sometimes required for debugging production sw we may e.g. want to change the log level to "debug" without requiring a restart

[2019-12-11 22:31] #1001 closed

[2019-12-12 01:40] gaocegege commented on #611
@CamelCaseNotation You can define flags like https://github.com/gaocegege/ray-operator/blob/master/main.go#L50 and use them in your reconcile initialization.

[2019-12-12 09:19] LuyaoZhong opened #1257 "invalid validation marker in example in quick-start.md"
Example in quich-start.md is as following:
// GuestbookSpec defines the desired state of Guestbook
type GuestbookSpec struct {
	// INSERT ADDITIONAL SPEC FIELDS - desired state of cluster
	// Important: Run "make" to regenerate code after modifying this file

	// Quantity of instances
	// +kubebuilder:validation:Minimum=1
	// +kubebuilder:validation:Maximum=10
	Size int32 `json:"size"`

	// Name o

[2019-12-12 09:20] #1257 closed

[2019-12-12 09:42] LuyaoZhong opened #1258 "bug fix: Invalid validation marker in example in quick-start.md"
Example in quick-start.md is as following:

    // GuestbookSpec defines the desired state of Guestbook
    type GuestbookSpec struct {
        // INSERT ADDITIONAL SPEC FIELDS - desired state of cluster
        // Important: Run "make" to regenerate code after modifying this file

        // Quantity of instances
        // +kubebuilder:validation:Minimum=1
        // +kubebuilder:validation:Maxi

[2019-12-12 17:52] rishavcn opened #1259 "Not able to `go build` with kubebuilder v2.2"
/kind bug

I am getting
`
knative.dev/pkg/metrics
../../pkg/mod/knative.dev/pkg@v0.0.0-20191203221237-94a34e416c44/metrics/stackdriver_exporter.go:128:3: unknown field 'GetMetricPrefix' in struct literal of type stackdriver.Options`

error on `go build`

`
my
kubectl version - 1.14.8
go version - 1.13.4
`

This version comes preinstalled with kubebuilder, I tried specifying a different version in

[2019-12-13 00:41] mengqiy commented on #1202
@camilamacedo86 Modified the description a bit, so that `<group>` and `<kind>` can show up :)

[2019-12-13 00:49] #1170 closed

[2019-12-13 01:28] LuyaoZhong commented on #1258
/kind documentation
/kind bug

[2019-12-13 14:54] camilamacedo86 opened #1263 "Option provided in the create API cannot work"
If we run `kubebuilder create api --group webapp --version v1 --kind Guestbook`

NOTE: It will not work since the controller requires the resource in the scaffold. (it is a bug in the master which should not allow this option)

/kind bug

[2019-12-13 17:00] evalsocket commented on #1074
Would like to work on this. Can this be assigned to me ? @camilamacedo86

[2019-12-13 17:16] camilamacedo86 commented on #1074
Hi @evalsocket ,

Very cool. :-)  Just do the PR and put /assign @youruser in a comment in this issue that the bot will do that. You will see the instructions in the PR to assign it to a person. It is done here at the same way.

[2019-12-13 17:30] evalsocket commented on #1074
@camilamacedo86 where do you want that Recipe any specific place ?

[2019-12-13 21:17] camilamacedo86 commented on #1202
/assign @camilamacedo86

Solved this in the PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1198 with the solution suggested by @mengqiy

[2019-12-14 10:41] Adirio commented on #1263
As i said in the comment in 1198, this is not a bug if the resource already exists, either manual creation or previous command with same GVK and `--resource=true --controller=false`

[2019-12-14 12:41] camilamacedo86 commented on #1263
It is a bug because the option appears for the use and when we choose then an error is outputted. So, it is a problem regards usability and user POV. A possible solution is to handle the error and inform the user what and why and how instead of output its stack trace.

[2019-12-14 13:47] Adirio commented on #1263
You may want to get a controller without a resource for several reasons.

1- Builtin apis controllers. For example the `Namespace` controller that is being checked in the golden test. You do not need a resource as it is already defined in the k8s api.
2- You already scaffolded the resource with `--controller=false` but you then realize you do need a controller. The resource is already there so tha

[2019-12-16 09:04] Adirio opened #1264 "Split scaffold package"
## Feature

Split the scaffold package (`pkg/scaffold`) in two separate packages.

### Motivation

The scaffold package has most of the code of this project and is getting pretty hard to deal with. Splitting it into two separate packages could make development and maintaining easier. It currently contains both the scaffolding machinery and the files that will be generated (there are currently 73 i

[2019-12-16 13:12] Adirio opened #1267 "Golang-ci false duplicates"
The recently added Golang-ci is detecting false duplicates.

Travis builds that fail:
- #1227:
  - https://travis-ci.org/kubernetes-sigs/kubebuilder/builds/625623457?utm_medium=notification&utm_source=github_status
  - https://travis-ci.org/kubernetes-sigs/kubebuilder/builds/625665286?utm_medium=notification&utm_source=github_status

/kind bug

[2019-12-16 13:12] Adirio commented on #1267
/assign @camilamacedo86

[2019-12-16 21:30] jaypipes opened #1268 "Allow different directory structure (related: multigroup)"
I'd like to use `kubebuilder` for the new AWS Service Operator project. However, I'd like the following:

* Put the manager code in `cmd/aws-service-operator/main.go` instead of a main.go in the root project directory  (note: I'd like all command/binary code in a top-level `cmd` directory since that is a Golang best practice IIANM)
* Put the CRDs in `apis/{GROUP}/{VERSION}/{KIND}_types.go` file (s

[2019-12-16 23:50] jaypipes commented on #1268
For the request to put the manager main.go file in a `cmd/{PROJECT}/main.go` location, I note that the `kubebuilder init` CLI command actually infers that the main.go file will be put in a `cmd/manager/main.go` location:

https://github.com/kubernetes-sigs/kubebuilder/blob/19458ba88aa88a2fcc240cd9cf69bc88b4388d5b/cmd/init_project.go#L53

but that isn't accurate AFAICT

[2019-12-16 23:51] gclawes commented on #1231
I haven't been able to find any documentation on that, could you point me in the right direction?

[2019-12-17 00:29] jaypipes opened #1269 "Why two different log packages?"
I'm wondering why the manager's `main.go` uses the `sigs.k8s.io/controller-runtime/pkg/log/zap` library:

https://github.com/kubernetes-sigs/kubebuilder/blob/19458ba88aa88a2fcc240cd9cf69bc88b4388d5b/pkg/scaffold/v2/main.go#L139

the webhook generator uses the `sigs.k8s.io/controller-runtime/pkg/log` package as well:

https://github.com/kubernetes-sigs/kubebuilder/blob/19458ba88aa88a2fcc240cd9cf69b

[2019-12-17 02:37] adampl opened #1270 "docs: controllers and webhooks for existing resources?"
I'm going through the book, but it's all about CRDs so I feel a bit lost, because I don't need a CRD.

Is it actually possible to create a custom controller for an existing resource (like built-in Service or Pod) with Kubebuilder?
Is it a good idea to use Kubebuilder for this purpose?
How to do it the simple way?

I think a tutorial should be added covering this topic, or at least a short note ans

[2019-12-17 23:07] functicons opened #1271 "How do I provide configs to the operator?"
Say I have some configs for the operator, e.g., the number of retries or timeout for something, they can be customized by the user of the operator. How do I provide these configs?

[2019-12-18 14:25] gregsidelinger commented on #1270
I'm here because of the same thing. I was going to use kubebuilder 2.2.0 to create some mutating webhooks for Pods and Services.  I've done this before in v1 and came here after I could not even run make after initializing the project.  https://github.com/kubernetes-sigs/kubebuilder/issues/1213 states that native objects are not supported.

I would like to see support for native k8s objects added

[2019-12-18 21:45] mithuns commented on #829
I still get the same error

[code]

Other than installing from source, is there any other way ?

[2019-12-18 22:34] droot commented on #1271
One way to do this will be:

Expose those configs as commandline flags and document -- how users can specify those flags in the manifests (yaml) [container args in the operator deployment yaml] before running the operator.

Pl. close this issue if this answers your question.

[2019-12-18 22:45] droot commented on #1270
@adampl some answers to help you.

Yes absolutely. Only change would be: when you run `kubebuilder create api `, skip creating resource when it prompts you as shown below. This will skip scaffolding API definitions etc and only create scaffolding for the controller. Rest of the instructions should work.

[code]

Yes.

[2019-12-18 22:46] droot commented on #1270
@mengqiy Can you pl. help @gregsidelinger with the webhook query ?

[2019-12-18 23:01] droot commented on #1259
@rishavcn can you share more context here. How did you create this project ? for ex. what steps did you run to get this error ?

[2019-12-19 02:38] #1271 closed

[2019-12-19 03:29] withlin opened #1272 "How to get Rest Client by mgr instance?"
i want to use client-go do something,just like modify native statefulset. so it should use clientset.`I want to share mgr's client`
Can mgr instance  return a clientset?

[2019-12-19 03:39] withlin commented on #1272
/assign DirectXMan12

[2019-12-19 19:03] mithuns opened #1274 "kubebuilder init fails from the getting-started guide"
Just following the tutorial [here](https://book.kubebuilder.io/cronjob-tutorial/cronjob-tutorial.html)
Fails to generate scaffolding

[code]

* go version

go version go1.13.4 darwin/amd64

* kubebuilder version (`kubebuilder version`) and scaffolding version (check your `PROJECT` file)

Version: version.Version{KubeBuilderVersion:"2.2.0", KubernetesVendor:"1.15.5", GitCommit:"0824a139f59e109c9e41

[2019-12-20 10:36] StiviiK commented on #1274
The dots in your directory name are not allowed, as far i can see only alphanumeric characters are allowed.

[2019-12-21 00:53] #1274 closed

[2019-12-21 22:17] #880 closed

[2019-12-21 23:18] #881 closed

[2019-12-21 23:18] #890 closed

[2019-12-22 10:54] micnncim opened #1275 "Validation for relation of CRD fields"
Provide a way of validation for relation of CRD fields.

For example, this spec defines the validation: *The value of MaxNodes is greater than one of MinNodes*.

[code]

Another example is `// +kubebuilder:validation:lt`.

It should be useful to have such a validation.

/kind feature

[2019-12-23 07:50] camilamacedo86 commented on #1267
Hi @Adirio,

Please, first at all do NOT assign an issue raised by you to others. You have no right to decide what someone should or not to do and is or not responsible for. If you need help you can ping others but never assign tasks for someone.

Also, the lint is complaining and seen duplications in the changes made in your PR. See that it is NOT a bug at all. You should be able to solve the dup

[2019-12-23 08:00] camilamacedo86 commented on #1267
Hi @Adirio,

Please, first at all do NOT assign an issue raised by you to others. What someone should or not to do, is responsible or not is up to the person. If you need help or believes that some particular issue would be relevant to someone you can ping the person in a comment instead of. Note that when a task in assign for someone, others which could collab with will not as well.

Also, the li

[2019-12-24 10:38] keenJR commented on #1112
Hi boy, I have the same problem, How to solve the problem？

[2019-12-24 16:59] cheyang commented on #974
@eytan-avisror Is there any example of using `watches` ?

[2019-12-25 00:55] cheyang opened #1276 "Is there any example to use watches method?"
I want to observe the pod's status and my CRD change so I can update the CRD's status.

To do this, I think I need add

[code]

then how to handle in `Reconcile()` function? thanks.

/kind documentation

[2019-12-25 07:44] du86796922 commented on #1112
@functicons Hello Big Brother, Has this problem been solved after that?

[2019-12-27 10:59] withlin commented on #1272
/close

[2019-12-27 10:59] #1272 closed

[2019-12-31 20:51] DustinChaloupka commented on #1253
Same problem here, using Prometheus Operator instead of kube-prometheus.

https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint are the updated docs for `Endpoint` which, as @draghuram has mentioned, includes the `tlsConfig` field for various configuration to make the request over https through the proxy.

I couldn't find anything from a quick look at the proxy th

[2020-01-01 05:00] xm5646 commented on #1112
try set which you need the resource  ResourceVersion to a null string， the error was not found again.

[2020-01-01 05:06] xm5646 commented on #1112
i guess that，while you reconciling the resource，the resource was updated by other controller，the resource version was bigger than the version you got ，. Therefore, k8s will not apply an expired version.

[2020-01-02 23:19] droot commented on #1275
I am afraid this won't be supported by the Kubernetes API Server anytime soon. Here is the link to the upstream doc for CRD validation --> https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#validation

For now, such validation needs to be implemented using a custom validating admission webhook. Closing this for now.

[2020-01-02 23:19] #1275 closed

[2020-01-02 23:25] #1223 closed

[2020-01-03 03:06] #831 closed

[2020-01-03 03:21] mengqiy commented on #1270
@gregsidelinger Thanks for your feedback. Sorry for the late response.
We have improved our webhook library and tooling for CRD in v2. Now it's super easy for CRD.

At the moment, kubebuilder CLI doesn't provide much scaffolding for built-in types and you have to do it through the low-level library (controller-runtime). It's still doable. [Here](https://github.com/kubernetes-sigs/controller-runtim

[2020-01-03 03:22] mengqiy commented on #1270
We will need to add some document to at least make https://github.com/kubernetes-sigs/controller-runtime/tree/master/examples/builtins more discoverable.

[2020-01-03 06:37] Adirio commented on #1268
I started working towards this goal (for example with #1252) but the syntax I used was `"%[VARIABLE NAME]s"` following package `fmt` `"%[1]s"` format.

[2020-01-03 08:33] Adirio opened #1279 "Docs cleanup"
The book needs to be cleaned up.

- [ ] The files are not completely up-to-date and the tutorial should be followed step by step and checking the differences in the code as tracked in #1251
- [ ] Is the folder `/docs/book/src/migration/testdata` being used for anything? It should be removed if it isn't. Why should we have a `testdata` folder that is the one used by the golden script inside one of

[2020-01-03 09:42] Adirio opened #1280 "Update copyrights"
Some tests are failing due to newly generated files being generated with 2020 while the PR where commited in 2019.

/kind bug

[2020-01-03 09:45] Adirio opened #1281 "Missing copyrights"
Some files in the kubebuilder project are missing the copyright notice. Golang, Bash and Yaml files have been checked. The `**/testdata` directories have been skipped as they are autogenerated files.

<details><summary>Files missing copyright</summary>

- [ ] `/build/.goreleaser.yml`
- [ ] `/docs/book/install-and-build.sh`
- [ ] `/docs/book/litgo.sh`
- [ ] `/docs/book/markerdocs.sh`
- [ ] `/cmd/ut

[2020-01-03 14:17] adampl commented on #1270
Personally, this is the best example:
https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg/builder#example-Builder

[2020-01-03 17:44] RedbackThomson commented on #1231
I see the OpenAPI embedded as validation. Are you suggesting this is a fully functional OpenAPI spec itself? Is there any way to output these into its own spec file rather than having to extract it?

[2020-01-03 19:33] #1280 closed

[2020-01-06 13:58] camilamacedo86 commented on #1051
/remove-lifecycle stale

[2020-01-06 13:59] camilamacedo86 commented on #888
/remove-lifecycle stale

[2020-01-06 15:56] camilamacedo86 commented on #1263
Hi @Adirio,

I think has some misunderstand here.

Please, see the above description and try to reproduce the steps before contribute with. Note that if the user follow these steps an **ERROR** will be outputted. As described above, a valid solution in POV would handle the error and provide a msg to allow the user to knows how they should proceed.

[2020-01-07 00:20] DirectXMan12 commented on #1231
Yes, more or less.  The Kubernetes API server is free to change it in ways that we don't have control over/can't (e.g. it substitutes the top-level ObjectMeta for the current server's ObjectMeta), but the validation spec is a valid and (almost) complete OpenAPI spec.

As of now, there's no way to generate it into a separate file, but we could add that.  In the mean time (if this is really pressing

[2020-01-07 00:47] DirectXMan12 commented on #1281
/good-first-issue

[2020-01-07 00:47] DirectXMan12 commented on #1279
/good-first-issue

[2020-01-07 00:49] DirectXMan12 commented on #1064
/lifecycle frozen

/help

(for getting this into the right place)

[2020-01-07 00:51] DirectXMan12 commented on #833
/lifecycle frozen

[2020-01-07 00:51] DirectXMan12 commented on #1026
/lifecycle frozen

[2020-01-07 08:25] Adirio commented on #1263
If you run `kubebuilder create api ... --resource false --controller true` in an empty new project, it may yield an error. Haven't tried it. If it does, you should include the error message in the first message of these Issue.

But we can't prevent the use of `--resource false --controller true` together as it may be useful if the resource was somehow created previously. For example by a previous

[2020-01-07 09:32] camilamacedo86 commented on #1263
Hi @Adirio,

As described in the issue and in the above comments it is about the ERROR outputted and NOT to remove or/change the current possibilities.

[2020-01-07 10:56] Adirio commented on #1263
In your first comment you state:

which doesn't reflect the same as your following comments. Could you please improve the first message to reflect what you are saying now?
IMHO the first message should:
- Have the `--resource` and `--controller` flags in the block of code of the command. Having them below is confusing.
- Include the error that is being output when you run that.
- Explain why that

[2020-01-07 18:05] RedbackThomson commented on #1231
I could see this being a very valuable feature for operator clients who intend for others to consume their CRDs from third-party clients (or wrappers). It's not pressing for us at the moment, but would love to see this on the road map at some point.

We would like to consume it at compile-time and also to produce CRD documentation, so sadly this isn't an option.

[2020-01-07 18:11] gclawes commented on #1231
This is the use case I'm after.  Create CRDs and operators using kubebuilder, but generate client libraries in languages other than go.

[2020-01-07 21:04] DirectXMan12 commented on #1276
That sounds like `Owns`.  Please read the section in the book about this: https://book.kubebuilder.io/cronjob-tutorial/controller-implementation.html#setup

[2020-01-07 21:04] #1276 closed

[2020-01-07 21:06] DirectXMan12 commented on #1267
That's a weird lint.  I think we might just want to turn it off.

[2020-01-07 21:16] camilamacedo86 commented on #1267
Hi @DirectXMan12,

The lint is used in the controller-runtime and has been used successfully as well in the SDK. See: https://github.com/kubernetes-sigs/controller-runtime/blob/467c79f45d4fdf61525989b51a5ed5269a6f323a/hack/verify.sh#L43 .

It will show duplications in the code, which means, point out code implementations that probably could be centralized and encapsulated in a function for example

[2020-01-07 21:22] #1281 closed

[2020-01-07 21:25] DirectXMan12 commented on #1231
/help

[2020-01-07 21:29] DirectXMan12 commented on #1267
It's not clear to me what it thinks the issue is though -- lines 17-18 are

[code]

Wrapping an existing struct in a new one to customize particular pieces of functionality is pretty common, and forcing us to disable this lint just seems like weird noise.

[2020-01-07 21:30] DirectXMan12 commented on #903
oh, yeah, go ahead please.  The tools are on a separate branch.  Just look at the previous commit to see what you have to do.

[2020-01-07 21:34] DirectXMan12 commented on #1259
We don't depend on knative or stackdriver in KB, and it's not in any of our go.sum files AFAICT.  I don't think this is a kubebuilder problem.

[2020-01-07 21:34] #1259 closed

[2020-01-07 21:41] DirectXMan12 commented on #1269
`pkg/log/zap` is a helper for setting up logr with Zap.  Logr is a generic logging interface.  Zap is one concrete implementation.

`pkg/log` is a helper for cases where you haven't plumbed through a copy of `logr.Logger` and want a handle to a semi-global logger

That being said, it's actually using `pkg/runtime/log`, which is a deprecated path.  Not sure how that snuck into v2.  cc @mengqiy

Rig

[2020-01-07 21:41] DirectXMan12 commented on #1269
/good-first-issue

on the replacement of `pkg/runtime/log` for `pkg/log` in *just* the v2 scaffolding.

[2020-01-07 21:47] DirectXMan12 commented on #920
/remove-lifecycle stale

[2020-01-07 21:51] DirectXMan12 commented on #829
If you're not actually in a place that `go mod init` can autodiscover, you'll have to run `go mod init` first.  Please see the book for more information: https://book.kubebuilder.io/quick-start.html#create-a-project

[2020-01-07 22:04] #1183 closed

[2020-01-07 22:05] DirectXMan12 commented on #1256
It depends on the *implementation* of logr -- logr is just an interface.  Zap allows this, I believe (see the AtomicLevel type in Zap).  Construct a Zap logger directly, wrap it with `go-logr/zapr`, and call `SetLogger` with that.

[2020-01-07 22:05] #1256 closed

[2020-01-07 22:06] vincepri commented on #903
It's all done :) tools have been published and master updated as well

[2020-01-07 22:06] #1258 closed

[2020-01-07 22:08] DirectXMan12 commented on #1251
/good-first-issue

[2020-01-07 22:10] DirectXMan12 commented on #675
huh.  That's like the universal package manager trick: "when in doubt, clear the package cache".

[2020-01-07 22:15] DirectXMan12 commented on #1218
So, these are the names that exist according to CRDs:

- Resource Singular (.spec.names.singular, optional): singular resource name: `prometheus`.  Defaults to lowercase kind in the CRD object.
- Resource Plural (.spec.names.plural): plural resource name: `prometheis` (Prometheus has weird pluralization rules)
- Resource Kind: (.spec.names.kind): Prometheus

So, we should have an internal represen

[2020-01-07 22:16] DirectXMan12 commented on #1140
you can't use references in CRD validation.  It was an upstream decision.  They've gone back and forth on it.  I bring it up at meetings every once and a while.

[2020-01-07 22:17] DirectXMan12 commented on #1140
IIRC their logic was that it might cause objects to become unexpectedly valid or invalid, but it's been up for debate for a while now

[2020-01-07 22:19] DirectXMan12 commented on #1246
/help

Sounds like a good plan

[2020-01-07 22:20] DirectXMan12 commented on #1237
yes, that would be great.

[2020-01-07 22:21] DirectXMan12 commented on #903
ah, cool :-)

[2020-01-07 22:30] mithuns commented on #829
I think the problem was that the folder name had a period in it.

[2020-01-07 22:58] camilamacedo86 commented on #1140
Hi @DirectXMan12,

Sorry, still not clear for me what should be done in kubebuilder regards this scenario.

Reasons:

- The issue raised came from the k8s API (reason: https://github.com/kubernetes-sigs/kubebuilder/issues/1140#issuecomment-561729237 )
- The workaround solution would be to use the command created instead of.
- Users are able to customize the Makefile scaffolded in the projects to u

[2020-01-07 23:01] Adirio commented on #1267
I agree it is pretty weird. I just added some functions but most of the file is already very similar. Is there anywsy to lower the severity of this lint to warning us but not stopping the build. I mean obviously the 70~ file interface implementations look pretty similar to each other but, you know, they need to be there.

[2020-01-07 23:04] DirectXMan12 commented on #1267
There might be.  The golangci-lint YAML configuration file is pretty robust.  We'd have to switch to using the YAML file instead of flags, but that makes it easier to run by hand too.

[2020-01-08 15:22] jaypipes commented on #1269
Thanks very much for the background @DirectXMan12! :) I'll try to hop on this contribution early next week.

[2020-01-08 22:19] vaibhavk commented on #1279
Hi, I would like to work on it.
/assign

[2020-01-08 22:51] Adirio commented on #1279
@vaibhavk the first point should be pretty straightforward. Just follow the tutorial in a new project and doccument the differences in the file.

Second point requires to verify that the testdata directory is not used for anything, and remove it.

Third would require deep undestanding of the whole book creation process.

[2020-01-09 22:32] champak opened #1295 "Using base images other than the default distroless"
Hi folks,
I am interested in using images other than the default static distroless (gcr.io/distroless/static:nonroot) as the base image for a kubebuilder generated controller. I will likely use alpine or centos. This is of course not optimal but helps meet some environment requirements. Has anyone deployed in this mode ? I cannot think of obvious issues beyond bloat which in this case is a require

[2020-01-10 09:43] anemade opened #1298 "kubebuilder failed to build the manifest if there is no empty line between kubebuilder markers and user comments"
/kind bug

[2020-01-10 09:57] anemade opened #1299 "kubebuilder generates blank manifests if there is no empty line between kubebuilder markers and user comments"
I am trying to create the manifests using the kubebuilder markers. This is working fine but I noticed one tiny issue which might drive you crazy.

If we add the user comment or TODO comments immediately on the next line of the markers then manifests are not getting generated

For example,
[code]
Please notice that there is an empty line after the kubebuilder markers. This is working fine and manif

[2020-01-10 10:31] Adirio opened #1300 "Remove Approved label on code change events"
A code change in a non-merged PR removed `lgtm` label but kept the `approved` label.

This behavior is a bit dangerous as after the code change is made, a reviewer can add the `lgtm` label and the PR will be merged without the intervention of an approver.

Example: #1287 (the example is trivial and it should be merged, but the code change could potentially be anything)

[2020-01-10 10:32] Adirio commented on #1300
/assign @DirectXMan12 @droot

[2020-01-10 14:09] dionysius opened #1301 "Discussion: Define controller-gen (and kubebuilder) as a dev-dependency of the resulting project"
I provided a step ahead suggestion in #1289 which turned out to be worth discussing about. The change there is just a small step towards dependency flexibility, but we could make the resulting project full flexible about which controller-gen and kubebuilder version it wants to use, by allowing them to define it in the go.mod and the tooling around it looks it up from there (`go run` already does t

[2020-01-10 19:56] #923 closed

[2020-01-10 19:56] #1202 closed

[2020-01-10 23:14] mengqiy commented on #1269
@jaypipes That's a bug got snuck in.
Thanks for catching and trying to fix it! Feel free to assign me when you have the PR.

[2020-01-11 01:12] #925 closed

[2020-01-11 09:30] vijay-dcrust commented on #803
How did you use the RESTClientforGVK. How do you build the arguments to pass to it.

[2020-01-11 12:19] Adirio opened #1303 "Goimports error in Travis"
Travis is failing several PR due to a `goimports` linting error. The error message is:

Affected PR:
- #1186: [Travis](https://travis-ci.org/kubernetes-sigs/kubebuilder/jobs/635636861#L249-L255)
- #1248: [Travis](https://travis-ci.org/kubernetes-sigs/kubebuilder/jobs/635638061#L249-L255)
- #1252: [Travis](https://travis-ci.org/kubernetes-sigs/kubebuilder/jobs/635649415#L249-L255)
- #1265: [Travis]

[2020-01-11 12:28] Adirio commented on #1303
#1186 and #1252 do modify that file and #1186 doesn't even touch the import section. Additionally, #1248 and #1265 do not modify that file at all, so the error doesn't seem to be related to anything done in those PR.

The check has been introduced in #1292 and #1198 is the only thing that was merged into master between #1292 branch start and its merge. I have tried to run `gofmt` and `goimports` t

[2020-01-12 12:30] camilamacedo86 commented on #1303
@Adirio,

The error faced is:

![Uploading Screenshot 2020-01-12 at 12.11.41.png…]()

**Note that you can use the lint to fix it automatically by adding the flag fix as follows and the running the lint**

<img width="552" alt="Screenshot 2020-01-12 at 12 17 35" src="https://user-images.githubusercontent.com/7708031/72218833-47a9b880-3537-11ea-9576-61ae58bd0af6.png">

[2020-01-12 12:34] camilamacedo86 commented on #1303
It is fixed here: https://github.com/kubernetes-sigs/kubebuilder/pull/1293/files#diff-ec3d96c196a007869f26993a5a8a7492R26

[2020-01-12 13:19] Adirio commented on #1303
Why does it need to use `v2` as import alias if the package is already called v2?

[2020-01-12 13:59] camilamacedo86 commented on #1303
Hi @Adirio the lint checks are usually based in good practices. I understand that it is suggesting to add the alias in order to make implicit that it came from v2 and not another version. However, I did not check it further. Please, feel free to look for its explanation in its doc and implementation which is here: https://godoc.org/github.com/Go-zh/tools/cmd/goimports.

[2020-01-12 18:18] PradeepTammali opened #1306 "Loading kubeconfig throws flag redefined error"
Hi,
I am new to kubebuilder. I am trying to create secret by loading config file from .kube folder.
When I am trying to run controller it throws this Error.

`/tmp/go-build063008529/b001/exe/main flag redefined: kubeconfig                                                                                                             E0112 15:22:13.380492   13205 runtime.go:76] Observed a panic: /tmp/g

[2020-01-12 19:36] mazzy89 commented on #1015
In the case of Timer-based reconciliation, do you recommend to still watch resources?

[2020-01-13 09:07] #739 closed

[2020-01-13 13:41] #1182 closed

[2020-01-13 21:05] mcristina422 commented on #547
Following the logic in the book https://book.kubebuilder.io/cronjob-tutorial/controller-implementation.html#setup

Add this to your `SetupWithManager`
[code]

[2020-01-13 23:10] mengqiy opened #1308 "Update to use the latest kind v0.7.0+"
kubebuilder currently uses v0.6.0, we should update to use v0.7.0+

[2020-01-14 10:26] Adirio opened #1309 "[Umbrella Issue] GolangCI lint"
GolangCI uses [several different linters](https://github.com/golangci/golangci-lint#supported-linters) concurrently to asses the code quality of this repository.

This issue lists which ones are implemented in this project:

- [ ] [bodyclose](https://github.com/timakin/bodyclose)
- [x] [deadcode](https://github.com/remyoudompheng/go-misc/tree/master/deadcode): #1205
- [ ] [depguard](https://github

[2020-01-14 10:26] Adirio commented on #1309
Will provide more info soon

[2020-01-14 15:33] dionysius commented on #1269
Confirm that as well to move from `pkg/runtime/log`  to `pkg/log`

[code]

[2020-01-15 00:46] #1244 closed

[2020-01-15 21:23] champak commented on #1295
In case anyone else is doing this centos:7 worked OK AFAICT.  Closing.

[2020-01-15 21:23] #1295 closed

[2020-01-15 21:32] mengqiy commented on #1253
@camilamacedo86 I played a bit with the new `ServiceMonitoring` stuff.
I suspect we miss something regarding granting permissions to scrape the `/metrics` endpoints.
We probably should have some manifests or document about how to do it.
IMO we should scaffold the follow cluster role.
[code]
And asked the user to grant permissions to Prometheus by creating ClusterRoleBinding like the following.
[co

[2020-01-15 21:40] champak commented on #1140
@DirectXMan12 Regarding the maxDescLen workaround adding the option to CRD_OPTIONS ?= "crd:trivialVersions=true,maxDescLen=0" works;  Is this Makefile var CRD_OPTIONS a good place for the workaround ? Some controller-gen options go with the // + ,. syntax and so was wondering. I think limiting maxDescLen is better that the kubectl delete/recreate path since it allows for non-disruptive patching of

[2020-01-15 22:02] camilamacedo86 commented on #1140
Hi @champak,

IHMO what could be made here is doc the scenario, reason and possible solutions to avoid. However, I'd not change the makefile scaffolded.  WDYT @DirectXMan12?

[2020-01-15 22:07] camilamacedo86 commented on #1253
HI @mengqiy,

I think we can merge the PR for the docs and I will be working as soon as possible in this issue as well. We may need to add in the Roles:

[code]

[2020-01-15 23:17] mengqiy commented on #1253
[code]
Who will be using this permissions?

[2020-01-15 23:23] camilamacedo86 commented on #1253
Hi @mengqiy,

These permissions allow us to get and create the ServiceMonitor programmatically for the CR's as well. However, I agree that in the Kube we are not doing that so it is necessary. I will remove.

[2020-01-16 00:22] mengqiy commented on #1253
Prometheus Operator seems to be the only controller needs permissions to do CRUD on ServiceMonitor and it should already have the proper permission if using kube-prometheus.
Thus, IMO this piece is not very useful.

[2020-01-16 12:02] dionysius opened #1315 "`make deploy` doesn't work with the current defaults, suggested tools and suggested commands from the book"
The issue https://github.com/kubernetes-sigs/kubebuilder/issues/873 is not (anymore) resolved. Happened to me right now.

_**Depends if you want that kubebuilder to be used seamlessly with kind as suggested in the book.**_

Without modification the resulting deployment has the following output (which is part of `make deploy`):
[code]

But we have the following issues:
- imagePullPolicy is set to A

[2020-01-16 19:27] champak commented on #1140
@camilamacedo86 Thanks for your input. Can the maxDescLen be hinted to controller-gen by means other than passing it in directly as a cli option like the kubebuilder Makefile does ? Would have been nice if there was a way to skip descriptions for included stuff like PodSpecs but keep descriptions for the new attributes that we create but did not seem to be a way. In any case glad the workaround ex

[2020-01-16 22:11] jroper opened #1318 "Explain more about the domain field is in documentation"
One of the first things you have to do when getting started is to select a domain name. For a small project in a small organisation, this might be straight forward, but let's say you work for a large multinational that has 1000s of development teams, you don't just go using your companies domain name anywhere without first asking yourself "is this going to cause a conflict if we ever need to integ

[2020-01-16 22:15] camilamacedo86 commented on #1253
The above roles are just useful if we would create the ServiceMonitors programmatically, which is not the case in the kubebuilder. Really tks for your help with @mengqiy

[2020-01-16 22:15] camilamacedo86 commented on #1253
The PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1317 closes it.

[2020-01-16 22:53] apelisse commented on #1081
This was absolutely fixed by https://github.com/kubernetes-sigs/controller-tools/pull/347

[2020-01-16 22:53] #1081 closed

[2020-01-17 00:15] opetrushka-zendesk opened #1319 "Generated makefile controller-gen install errors on 1st run if you don't have either GOBIN or GOPATH set"
Generated makefile controller-gen install errors on 1st run if you don't have either GOBIN or GOPATH set
~

Generated the makefile and tried to run in 1st time without having controller-gen installed
[code]
I think this line should be amended
`CONTROLLER_GEN=$(GOBIN)/controller-gen`
https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/scaffold/v2/makefile.go#L123

Identification for both

[2020-01-17 06:36] Adirio commented on #1309
As suggested by @mengqiy in https://github.com/kubernetes-sigs/kubebuilder/pull/1310#discussion_r367616222, we should sort the lints in `verify.sh` so that tracking duplicates is easy.

[2020-01-17 17:18] #1181 closed

[2020-01-17 17:25] mengqiy commented on #1269
It seems no PR has been opened to fix the bug.
@camilamacedo86 Do you have bandwidth to fix this bug? It should be a straightforward one.

[2020-01-17 17:52] camilamacedo86 commented on #1269
/assign @camilamacedo86

[2020-01-17 20:27] #1269 closed

[2020-01-18 01:34] mengqiy commented on #1319
I'm not following. Can you please explain a bit?

[2020-01-18 01:43] mengqiy commented on #1315
`controller:latest` is not a default, but a placeholder.
I guess we need to change the command in tutorial to:
`make deploy IMG=<some-registry>/<project-name>:tag`

[2020-01-18 09:29] #1315 closed

[2020-01-18 12:32] bharaththiruveedula commented on #1308
@mengqiy can I work on it. But I can see kubebuilder already using v0.6.0 version of "kind" https://github.com/kubernetes-sigs/kubebuilder/blob/master/common.sh#L189

Do we need to update to v0.7.0?

[2020-01-20 00:19] opetrushka-zendesk commented on #1319
Sorry, I've made a mistake, this isn't really a bug.
It does has an assumption that is common but not 100% must be true, which is either GOBIN or GOPATH are set - which doesn't have to be true.
And even with these two unset, the `which` path can still work.
So I was trying to get it to just work out of the box without these assumptions.
Call it a 0.1% improvement.

As the main go install doc just

[2020-01-20 10:21] Adirio commented on #1218
Right now, `pkg/scaffold` includes very different concepts in a confussing way.
- Models: e.g., `pkg/scaffold/resource` subpackage is modelling resources.
- Configuration: spread all over the package, type defined in `pkg/scaffold/input`, methods defined in the middle of files and even duplicated (logic to save the configuration file is both in `pkg/scaffold/scaffold.go` and in `cmd/edit.go` packa

[2020-01-21 06:40] Adirio commented on #1308
I guess he may have seen the 0.5.1 in the latest release, as the line you link hasn't been released yet, it is still only in master.

[2020-01-21 09:11] Adirio opened #1328 "Book updated before feature release"
## Description
The book, which is the official documentation of `kubebuilder`, points to Master. This is an issue because when new features get added to Master, the book gets updated, while that feature isn't still in a released version of `kubebuilder`.

### Example
#1198 added multigroup support and updated the book accordingly. This merge has still not been released. The documentation change is

[2020-01-21 09:12] Adirio commented on #1328
@mengqiy @DirectXMan12 @droot

[2020-01-22 00:30] mengqiy commented on #1308
@bharaththiruveedula I somehow thought we are using an older version of kind. I updated the issue. We want kind to be the latest.

[2020-01-22 02:35] bharaththiruveedula commented on #1308
@mengqiy can I take it up the issue?

[2020-01-22 09:59] Adirio commented on #1308
`help wanted` and `good first issue` labels were set so feel free to work on this.

/assign @bharaththiruveedula

[2020-01-22 10:08] Adirio commented on #1246
Adding `!/apis` would be required for multi-group support.

Which should be the approach related to backwards compatibility? Previously scaffolded projects will not have this file. Are we ok with that? Would this have to wait for `v3`?
Should we target v2 only or also v1? The file would be slightly different.

[2020-01-22 18:47] mouradmourafiq commented on #994
@DirectXMan12 thanks for the support and sorry to revive this thread.

Is it possible to own: `.Owns(&unstructured.Unstructured{})`? if not what would be the right way to watch changes of `Unstructured` objects.

[2020-01-24 18:07] bowei commented on #1152
Is there an issue/doc to explain why the generated client was removed?

[2020-01-25 13:32] mazzy89 commented on #1216
https://github.com/kubernetes-sigs/controller-runtime/issues/780 - I get an error doing this.

[2020-01-26 15:37] stigsb commented on #1152
@Ghostbaby I have a super hacky workaround for generating client from another project that uses kubebuilder v2 at https://gitlab.com/zedge-oss/zeppa/taxman/blob/master/hack/update-client.sh

This approach also locks the version of the code generator.

[2020-01-26 16:12] mazzy89 commented on #1216
solved this. example in here https://github.com/kubernetes-sigs/controller-runtime/issues/780#issuecomment-578515689

[2020-01-26 17:32] skilxn-go opened #1331 "Wrong description of multi-group in book"
As described in https://book.kubebuilder.io/migration/multi-group.html:
![image](https://user-images.githubusercontent.com/8231208/73139060-c01a8880-40a4-11ea-84b3-3aa688abc4d8.png)
However, controllers are not created under pkg/controllers/\<group\>. They're created under controllers/\<group\>
/kind documentation

[2020-01-26 17:33] Adirio commented on #1331
/assign

[2020-01-26 18:19] #592 closed

[2020-01-27 15:44] dionysius commented on #1149
Since we're talking about making things better: I'd like to raise an open question regarding webhook-related-functions location, is `api/.../v1` the right package to define the validation and defaulting?

- Sure, it is nice tho that you can add Methods to your type directly
- But if you have some delegated validations, using helpers and/or external imports, it will bloat up the before pretty clean

[2020-01-27 16:14] dionysius opened #1333 "webhook marker path updatable or not?"
Markers are usually hints on for the generated code output, which is true here. Are markers meant to be to allow the developer to change the value?

I'm asking this because the [marker for webhooks](https://book.kubebuilder.io/reference/markers/webhook.html) `+kubebuilder:webhook:path` is actually not customizable, since [this path is hardcoded](https://github.com/kubernetes-sigs/controller-runtim

[2020-01-27 16:21] #1331 closed

[2020-01-27 16:49] #1308 closed

[2020-01-27 21:51] mengqiy commented on #1328
We can probably have a branch called `book-v2-staging` which maps to `book-v2-staging.book.kubebuilder.io`. This branch and subdomain is where our **unreleased** feature documents lives.
`book.kubebuilder.io` still points to `master` branch, which contains the released features.
When we release new kubebuilder, we create an PR to bulk merge new documents from `book-v2-staging` branch to `master`.

[2020-01-27 21:53] mengqiy commented on #1328
We are planning to release CR, CT and KB this week.
We can setup the new branch and start to use it after the KB release.

[2020-01-27 22:14] Adirio commented on #1328
If I understood you correctly, I want the exact opposite. Master is the one where unreleased feature live. The thing was having the book pointing to a frozen release branch so that it gets updated only when a new release happens.

[2020-01-27 22:38] mengqiy commented on #1328
Your approach makes more sense!
The branch name then probably should be called `book-v2`.

[2020-01-27 23:03] Adirio commented on #1328
What is easier, changing the target branch from releases or making a branch `book-v2` and moving it every release?

[2020-01-28 12:53] mjshariati98 opened #1336 "Testing with operator-sdk ??"
Is it possible to test an operator that weitten with kubebuilder, with oeprator-sdk framework for e2e testing ?

[2020-01-28 14:52] dionysius commented on #1301
If #1289 can't be merged because it "poisons" the scaffold projects modules, then this issue can be closed as well without discussion, as it relies on the same circumstances.

[2020-01-29 14:14] Adirio commented on #1218
I made a internal package dependency schema:
- It considers the state after #1330 gets merged.
- Packages `pkg/scaffold/v1` and `pkg/scaffold/v2` have been considered to be flat packages (no subpackages) to simplify the number of arrows.
- Dashed arrows mean that there is a test package (same name but with the `_test` suffix) at that path that has that import, but they do not incur in import loops

[2020-01-30 01:36] mengqiy commented on #1333
This is true if you are using the `Defaulter` and(or) `Validator` interfaces from controller-runtime for your CRD. In this case, we generate the path for you to avoid conflicts between webhook paths.

The path is customizable otherwise. e.g. Write a webhook for built-in types.

I'd like to hear more about your use case why customizing path is important for you.

[2020-01-30 10:49] dionysius commented on #1333
It's not important for me that it can't be changed, but it is important to me, that it is documented, that this shouldn't be changed or things break. That's all. The usual me expected a marker - after consulting the documentation of that marker - to be changeable.

[2020-01-30 11:03] #1333 closed

[2020-01-30 13:59] gregsidelinger commented on #1270
I've looked over the docs links.  I'm going to work on my validating hook one of these days to see how to do it in v2 of kubebuilder.  The part that really bugs me for existing objects is I need to do a bunch of extra work that I did not need to do in v1 back in the alpha days.  I have a co-worker who did a mutating webhook for nodes to add AWS tags as labels and he gave up on kubebuilder 2 and us

[2020-01-30 18:23] mengqiy commented on #1333
The document for the webhook marker has been updated in https://github.com/kubernetes-sigs/controller-tools/pull/353/files.

[2020-01-31 19:23] mengqiy opened #1342 "Cleanup go unit tests"
There are some go unit tests in kubebuilder to test the generated files match expected.
Given that we have the [golden files test](https://github.com/kubernetes-sigs/kubebuilder/blob/master/golden_test.sh), we can cleanup our go unit tests.
We can probably only keep the tests for testing the scaffolding machinery, but not for each generated file.
Maintaining go unit tests requires more efforts tha

[2020-01-31 20:33] mengqiy opened #1344 "Prow tests should be required for merge PR"
It seems we don't require prow tests to be passing before tide merging a PR.
Currently, travis seems to be the only required check.

[2020-01-31 20:33] mengqiy commented on #1344
@alexeldeib Do you have bandwidth to take a look at this?

[2020-01-31 20:49] alexeldeib commented on #1344
Yep! I think we just need to flip all of the `optional: true` fields to false, like here: https://github.com/kubernetes/test-infra/blob/ac16891f13cdcb390b9d603f6318831d6c5e7031/config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml#L6

While I'm at it, do you want to add tests against 1.17 or any of the newer patch versions?

[2020-01-31 21:15] mengqiy commented on #1344
Yes, that will be helpful. Please make this one optional, since we haven't test it against 1.17. It something isn't working, we don't want it to be very disruptive for kubebuilder contributors.

If they are trivial to update, then yes please. Otherwise, just keep it as is.

[2020-01-31 21:19] #962 closed

[2020-01-31 23:23] #1319 closed

[2020-02-02 02:31] hasbro17 commented on #1336
@mjshariati98 Not yet.

Besides the fact that SDK and Kubebuilder have different layouts for operator manifests, a Kubebuilder project's `config` directory has Kustomize bases and patches, unlike the SDK's deployment directory which has complete manifests scaffolded.
https://github.com/operator-framework/operator-sdk/blob/master/doc/test-framework/writing-e2e-tests.md#running-the-tests

So while i

[2020-02-02 02:37] hasbro17 opened #1346 "Generate CLI completions for bash/zsh"
The Kubebuilder CLI doesn't seem to provide bash or zsh completions similar to kubectl: `kubebuilder completion bash`
It should be straightforward enough to generate it via the cobra cmd helpers e.g [`GenBashCompletion()`](https://github.com/spf13/cobra/blob/89c7ffb5129bebd58cd68878c13af2144a5791f3/bash_completions.go#L528).

I can submit a PR to add this in unless there's reasons not to, e.g pote

[2020-02-02 02:37] hasbro17 commented on #1346
/cc @mengqiy

[2020-02-02 11:22] camilamacedo86 commented on #1342
HI @mengqiy,

The golden tests are e2e tests and have not the same purpose as the unit tests. See that the golden will not cover all scenarios cases as the unit does. IHMO they have different purposes and both should be kept. Also, unit tests are faster and allow us to check, debug and ensure specific points locally which is very helpful for the development purpose. And then, in POV we should add

[2020-02-02 11:49] Adirio commented on #1342
I think the name of unit tests brings a bit of confussion because they were really like e2e tests disguised as unit tests. They were basically creating a file in memory and checking it against the testdata folder. They were probably left-over code from before golden test was being used for this purpose. The discussion me and @mengqiy were having that brought up his issue was that these disguised t

[2020-02-02 17:56] camilamacedo86 commented on #1342
Hi @Adirio,

Thank you for the clarification.  I checked the tests removed at #1343 and they are like the same e2e done in the golden tests as you said. So, for one side make since removing the duplication in order to ensure the changes performed.

However, IMHO would be great we cover the project with unit tests at least since they will allow covering more scenarios cases. Also, tests implementin

[2020-02-03 06:51] Adirio commented on #1150
This bug was solved in #1330

[2020-02-03 06:51] #1150 closed

[2020-02-03 12:14] prafull11 opened #1347 "Controller not reconciling on the child's status subresource update"
/kind bug

[2020-02-03 12:19] prafull11 commented on #1347
I don't know why details did not came in the description. So posting the details here:

I have two controllers where first controller is a parent("owns") of second controller. Now I want to reconcile the first controller based on the subresource status update of second controller which is not happening. I can see no update event in the first reconciler.

However when I don't use subresource in sec

[2020-02-03 20:14] mengqiy commented on #1346
It's just because no one has asked for this and we have never prioritized it.
Feel free to submit a PR for bash/zsh completion support.

[2020-02-03 22:29] hasbro17 commented on #1346
Yep it's a pretty low priority feature but I've become somewhat used to autocomplete from some of the other CLI tools. I'll submit a PR hopefully soon.

[2020-02-04 02:42] alexeldeib commented on #1344
/assign

[2020-02-04 05:07] prafull11 commented on #1347
@DirectXMan12 Could you please let me know what I am trying to do is valid scenario. Or should I not use status subresource to get the reconcile of child's status update in parent's reconcile. Thanks for your time. :)

[2020-02-04 10:50] Adirio commented on #1091
@mariantalla should this be closed by #1133 which just got merged?

[2020-02-04 10:56] Adirio commented on #1025
/lifecycle freeze

[2020-02-04 10:57] Adirio commented on #1025
/remove-lifecycle stale

[2020-02-04 10:59] Adirio commented on #1025
/lifecycle fozen

[2020-02-04 11:13] Adirio commented on #1347
This is definetely not a kubebuilder issue, but controller-runtime's. Would you just create a PR there (linking this one if you want) with the description?

P.S.: If the description didn't appear in the first message, you may need to delete `` which are how you delimit comments in HTML. This is, anything written between those two symbols will not be shown in the page.

[2020-02-04 11:13] Adirio commented on #1347
/close

[2020-02-04 11:19] mariantalla commented on #1019
With https://github.com/kubernetes-sigs/kubebuilder/pull/1133 now merged, this should be fixed. Will close, please reopen if it's still a problem.

(PS: @camilamacedo86 I somehow missed your comment above, sorry about that 😕 )

/close

[2020-02-04 11:19] #1019 closed

[2020-02-04 11:21] mariantalla commented on #1091
Yep, with #1133 now merged, this should be fixed. `Kind`s are still expected to start with an uppercase character, but the error message should be clearer now.

/close

[2020-02-04 11:21] #1091 closed

[2020-02-04 11:30] Adirio commented on #1344
In PRs I'm only seeing `cla/linuxfoundation` marked as required but I guess you are talking about different requirements. I'm guessing the ones that GitHub marks as required are those required for manual merging, and that you are talking about the ones that @k8s-ci-robot requires before merging. Right? Where can I find this info?

Also, another related question, should we remove these tests from T

[2020-02-04 15:22] alexeldeib commented on #1344
Here's the blurb for required status in prow, not particularly comprehensive, but basically yes it's what you said: https://github.com/kubernetes/test-infra/blob/dd3ff6d1aa7e27d20546ea954e30e8295389c44f/prow/jobs.md#requiring-job-statuses

I see there's already a good discussion going on re: overlapping tests. I'm not 100% sure what the best answer is; I don't love that we have tests split because

[2020-02-04 21:59] DirectXMan12 commented on #1300
This is standard k8s behavior iirc.  The idea is that approval is "is the general idea sound", and so new code *probably* doesn't invalidate that as long as the reviewer signs off on it.  Auto-removing approval generally seems to create more busywork, IMO -- one of `/approve` or `/lgtm` needs to be sticky (and I think approval is probably the right choice here).

[2020-02-04 23:05] Adirio commented on #1300
Then closing this

[2020-02-04 23:05] #1300 closed

[2020-02-04 23:17] droot opened #1351 "Controller-gen lifecycle (install/update) enhancement proposal"
This issue proposes a new workflow for managing life-cycle of `controller-gen` for KubeBuilder projects. The ideas in the proposal are inspired from the discussion in [this PR](https://github.com/kubernetes-sigs/kubebuilder/pull/1289).

**Problem:**
In the current workflow of Kubebuilder projects, Makefile checks if `controller-gen` executable is available in the PATH, if not, it installs `control

[2020-02-04 23:39] Adirio commented on #1351
How will we keep the Makefile and the PROJECT configuration file synced? Will we parse the PROJECT file from the Makefile?

[2020-02-04 23:49] #1270 closed

[2020-02-05 01:39] dionysius commented on #1351
We could - as proposed - set `ControllerGenVersion` to the `PROJECT` file and additionally define a target to said file:

[code]

This way `make` will detect changes if the `PROJECT` file has changed, since the date of `PROJECT` is newer than `bin/controller-gen`.

There is a debug flag `-d` for make that can show us what it thinks of the dependent target, if it's current or not.

[2020-02-05 02:59] #1344 closed

[2020-02-05 09:49] storey247 opened #1352 "ServiceMonitor template seems to contain invalid spec for kubectl 1.17+"
Using latest version of kubectl (v1.17.2), to apply the generated yaml for the controller, the client side validation outputs the following error regarding the ServiceMonitor YAML that gets generated:

[code]

This isn't an issue pre v1.17 so i believe that while the `ServiceMonitor` works if the validation is disabled.

I am guessing that the template being used for the scaffold of the ServiceMon

[2020-02-05 10:33] Adirio commented on #301
@DirectXMan12 can we freeze the lifecycle of this PR, it will close again in a month.

[2020-02-05 11:32] Adirio commented on #1344
@alexeldeib @mengqiy  I think #1353 is the first case with the changes done in kubernetes/test-infra#16112. As you can see, `pull-kubebuilder-e2e-k8s-1-14-1`, `pull-kubebuilder-e2e-k8s-1-15-3`, `pull-kubebuilder-e2e-k8s-1-16-2` and `pull-kubebuilder-test` were marked as required by github. Does that mean that a mantainer is unable to merge the PR manually?

Also, I notices that there is no `pull-k

[2020-02-05 17:44] alexeldeib commented on #1344
The author in #1353 wasn't a kubernetes-sigs org member, so it required a manual "ok-to-test" for the tests to run. I can see now the 1.17 job was also triggered once the tests did start actually executing. If I had to guess, when the PR is blocked on merge, only the required tests are shown, and the optional one only gets triggered on the actual run -- feels like a github quirk more than anything

[2020-02-05 17:45] alexeldeib commented on #1344
No, this is even slightly backwards -- the benefit is that prow can automatically manage the merge queue for us once all required approvals have been met, but a maintainer can manually override this. The alternative is manually merging every PR.

[2020-02-05 18:30] droot commented on #1351
Yes, we will parse the PROJECT file from the Makefile. I don't expect parsing to be too complicated (just a grep should be enough).

I like @dionysius suggestion that leverages Makefile's feature to make the `bin/controller-gen` more efficient.

[2020-02-05 20:52] DirectXMan12 commented on #1270
@gregsidelinger can you clarify what you mean?  A v1 webhook should look more-or-less identical to a v2 low-level webhook:

compare https://book-v1.book.kubebuilder.io/beyond_basics/sample_webhook.html#implementing-webhook-handler

with

https://github.com/kubernetes-sigs/controller-runtime/blob/master/examples/builtins/mutatingwebhook.go

[2020-02-05 20:55] DirectXMan12 opened #1356 "We need docs for the low-level webhooks"
We're getting a lot of confusion around how to do webhooks for existing types.  The answer is that you need to use the lower-level machinery, which looks similar to the v1 webhooks, but folks don't know that exists and struggle to find it.  We should have, at the very least, some pointers to the CR examples directory.

/kind documentation

[2020-02-05 20:55] DirectXMan12 commented on #1356
/assign @mengqiy

[2020-02-05 21:54] droot commented on #1318
This fits use-case for a FAQ entry and `getting-started` can link to that FAQ entry.

[2020-02-06 03:33] hasbro17 commented on #1336
@mjshariati98 If that answers your question feel free to close the issue. If not, you can follow up on the SDK repo if it's more specifically about the test-framework.

[2020-02-06 03:58] hasbro17 commented on #1239
Just chiming in since I've stumbled across this issue. That list above is only a showcase of operator projects. It's not for operators scaffolded with the Operator SDK. Quite a few of them actually use Kubebuilder. E.g https://github.com/microsoft/azure-databricks-operator

Although I'm not aware of a good way to curate such a list and keep it updated. Or if that's even worth doing. Even in projec

[2020-02-06 11:09] mjshariati98 commented on #1336
@hasbro17 thanks for your answer.
Is there a good example or documentation for e2e test for an operator ?

[2020-02-06 19:38] hasbro17 commented on #1336
@mjshariati98 The envtest package might be a good place to start for operators using controller-runtime.
https://book.kubebuilder.io/reference/testing/envtest.html
Just be aware of the last section at the end that mentions that you're not testing against an actual cluster with envtest so there are some caveats.

And if it's a project scaffolded with the Operator SDK then you can take a look throug

[2020-02-06 22:37] #1264 closed

[2020-02-06 22:57] mengqiy commented on #1356
People trying to do webhooks for core types usually need to access the low-level webhook machinery, I recently added a [doc](https://book.kubebuilder.io/reference/webhook-for-core-types.html) for that.
We probably should have more doc.

[2020-02-06 23:00] mengqiy opened #1357 "More detailed contributor doc for how to test locally"
Given that kubeubilder currently have many different types of tests (linters, test.sh, e2e, golden, etc), we should have more detailed contributor doc for how to test locally in
https://github.com/kubernetes-sigs/kubebuilder/blob/master/CONTRIBUTING.md#how-to-test-kubebuilder-locally

[2020-02-07 07:57] Adirio opened #1358 "Template mixins"
# Current situation

`template.Input` struct is used to inject fields from the scaffolder to the templates such as the domain, the repository or the boilerplate. It is basically a mixin that, when embedded to a template, provides inject functionality.

Having a single mixin for all the fields is neither memory efficient, as most templates only need one or two of these fields, nor performant, as we

[2020-02-07 23:03] #972 closed

[2020-02-08 01:37] camilamacedo86 commented on #1042
hi @DirectXMan12,

When this issue was raised the project was not supporting go 1.13+ as described above. However, we made this update in the PR; https://github.com/kubernetes-sigs/kubebuilder/pull/1135

So, we can close this one :-) less -1.

[2020-02-08 01:37] camilamacedo86 commented on #1042
/assing @camilamacedo86

[2020-02-08 01:41] camilamacedo86 commented on #907
Hi @DirectXMan12,

By following your comments here shows that we should not move forward with. Am I right? If yes, could we close this one as not accepted/deferred?

Please, let me know if we should try to address this request.

[2020-02-08 01:46] camilamacedo86 commented on #1352
Hi @storey247,

If we add in the first comment of the PR Closes: #<issue-number> then, the issue is closed when it gets merged. However, since it was not made. Could you please close this now that the fix is merged?

[2020-02-08 01:48] camilamacedo86 commented on #1042
/close

[2020-02-08 01:48] #1042 closed

[2020-02-08 01:49] camilamacedo86 commented on #1352
Closing this one since the solution was merged.
Please, feel free to re-open if you see that it is required.
/close

[2020-02-08 01:49] #1352 closed

[2020-02-08 01:55] camilamacedo86 commented on #1347
Hi @prafull11,

Sorry, but I am not sure if properly understood your scenario. Could you please let us know if you still need help with? If yes, could you please answer the following template with pieces of the code and/r a link for your project in order to allow us to understand better what you are trying to achieve?

[2020-02-08 01:57] camilamacedo86 commented on #1303
Hi @Adirio,

It is fixed. Could we close this one? If not, what is missing to address here?

[2020-02-08 01:59] camilamacedo86 commented on #1299
HI @estroz @mengqiy,

WDYT about this one? Is not this the expected behaviour? Is it something that we should address?
Also, this implementation in the controller-tools. Am I right?

[2020-02-08 02:00] #1303 closed

[2020-02-08 02:00] camilamacedo86 commented on #1298
Duplicated of : https://github.com/kubernetes-sigs/kubebuilder/issues/1299
/close

[2020-02-08 02:00] #1298 closed

[2020-02-08 02:08] camilamacedo86 commented on #1267
HI @DirectXMan12,

In this scenario I see 2 options:

a) ignore the dupl lint when it points out false positives with the comment `/nolint: dupl`
b) remove the dupl check lint
c) try to update the lint version used to check if the false positives will no longer occurs. ( current version is `v1.21.0` and the latest one is `v1.23.3` ( the update is good to be done anyway, so I am doing a PR for it )

[2020-02-08 02:14] camilamacedo86 commented on #1267
Hi @Adirio,

The PR to upgrade the version is done : https://github.com/kubernetes-sigs/kubebuilder/pull/1361
Could you please check your scenario with?

[2020-02-08 02:16] camilamacedo86 commented on #1263
/good-first-issue

[2020-02-08 02:17] camilamacedo86 commented on #1263
/help-wanted

[2020-02-08 02:18] camilamacedo86 commented on #1263
**Proposal Solution**

- Note that if the user follows these steps an ERROR will be outputted. A valid solution in POV would handle the error and provide a msg to allow the user to knows how they should proceed.
- It is about the ERROR outputted and NOT to remove or/change the current possibilities.

[2020-02-08 02:23] camilamacedo86 commented on #1105
Hi @DirectXMan12,

I understand that the PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1116 solves this issue as well. Am I right?

[2020-02-08 02:32] camilamacedo86 commented on #933
/remove-lifecycle stale

[2020-02-08 02:43] camilamacedo86 commented on #790
Checked that the error still needs to be fixed.

**Steps to reproduce**
- Create project with domain: `kubebuilder init --domain kubebuilder_test`

**Possible Solution**
- use the k8s validations ( which are already in the project ) to check if the <domain> + "-system" is a valid name to allow scaffold.

[2020-02-08 02:44] camilamacedo86 commented on #790
/assing @camilamacedo86

[2020-02-08 02:45] camilamacedo86 commented on #790
/assign @camilamacedo86

[2020-02-08 14:12] camilamacedo86 commented on #969
/remove-lifecycle stale

[2020-02-08 19:48] Adirio commented on #1267
#1227 has been modifed since the whole scaffold package has evolved a lot since then. It is no longer detecting duplicates. However, updating Golang-CI should be fine

[2020-02-08 19:48] #1267 closed

[2020-02-08 19:50] Adirio commented on #1263
This would require to consider a lot more things, like core-resources who don't need the resource API or resources whose API was scaffolded before.

[2020-02-09 00:54] camilamacedo86 commented on #1267
HI @Adirio,

It is great to know. So, I understand that dupl lint is working well too.
Really tks for your reply.

[2020-02-09 01:06] camilamacedo86 commented on #1263
Hi @DirectXMan12, @mengqiy

I think we should NOT allow creating a Controller when the project has not its resource since it will break the scaffold. In this way. WDYT about we change the behaviour of `The command: `kubebuilder create API --group <group> --version <version> --kind <kind>` for:

- Check if has the resource if not it always will scaffold it
- Users can allow chosen between `[y/n]` t

[2020-02-09 01:06] camilamacedo86 commented on #1263
/remove-good-first-issue

[2020-02-09 01:54] Adirio commented on #1263
That's a backwards incompatible change so I think it would have to be considered for v3 but not for v2

[2020-02-09 03:11] camilamacedo86 commented on #1263
IHMO we can address in the V2 since it is a change in the tool only in order to solve a bug and make its behaviour coherent. I mean it will not change the scaffold/layout of files.

[2020-02-09 09:11] Adirio commented on #1263
But it will change the CLI. If you automated sending "y" twice the same way some of the tests do, this change will break it.

I think this is another example that proves that we need different versions for the scaffolding and kubebuilder itself, which was already discussed in the plugin implementation.

[2020-02-09 11:05] camilamacedo86 commented on #1263
/assign @camilamacedo86

[2020-02-09 11:09] camilamacedo86 commented on #1263
@droot @mengqiy @DirectXMan12
Provide a PR with my suggested solution #1362.

@Adirio,
I do not think that changes in the command without changes in the scaffold/layout has been a motivation to create a new version as V2 for example.  Please, @droot @mengqiy @DirectXMan12  let me know if I am wronng here.

[2020-02-09 11:14] camilamacedo86 opened #1363 "Ensure the kubebuilder works properly in the supported platform"
To ensure it, we could just ensure that the target `make generate` (golden) script can be executed successfully in mac and Linux. Then, my suggestion here would be doing this test in the CI.

[2020-02-09 11:17] camilamacedo86 opened #1364 "Allow contributors to test locally"
This task is just for we ensure that contributors are able to test their changes locally.

**Suggestion:**

- make target to run the tests
- properly doc it in the CONTRIBUTION.MD
- ensure that the test runs in any platform ( currently, they work just in the Linux. )

[2020-02-09 11:19] camilamacedo86 commented on #1363
WDYT @droot @mengqiy @DirectXMan12?

[2020-02-09 11:19] camilamacedo86 commented on #1364
WDYT @droot @mengqiy @DirectXMan12?

[2020-02-10 18:14] evalsocket commented on #1346
@hasbro17 It looks pretty much straightforward. I would like to work on this. Can this be assigned to me?

[2020-02-10 19:16] champak opened #1366 "Limiting operator role/binding permissions"
Hi folks,
The current behavior with the generated RBAC roles/rolebindings that we have seems to have the Operator end up with cluster scope CRUD permissions for any resources it owns. If these resources are native K8s like pods I think in effect it might mean a sw bug in an operator could affect any pod on the cluster; that would be something to avoid... Is there any pattern for limiting the opera

[2020-02-10 20:28] camilamacedo86 commented on #885
/remove-lifecycle stale

[2020-02-11 03:54] alexeldeib commented on #1152
This is in the migration guide, FWIW: https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/migration_guide.md#copy-and-update-reconcile-function

Is there a reason people want to generate typed clients over using the dynamic client provided by controller-runtime? I find it is much better to work with: https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client#example-Client--Update

[2020-02-11 08:28] keshin commented on #1112
I had ran into same situation, and I guess it because some cache issue when I return
`ctrl.Result{Requeue: true}` which put it in queue immediately, so I changed it to `ctrl.Result{RequeueAfter: time.Second}` and the issue is gone.

[2020-02-11 13:02] Adirio commented on #1366
Hi Champak,
Kubebuilder doesn't limit its resources to any namespace (wouldn't make any sense) so the RBAC roles/reolebindings are cluster scope as you said. I don't think there is any plan to change this behavior, as kubebuilder is opinionated, it doesn't try to offer one thousand flags to configure the scaffolded project to be exactly what you want. The idea is that those small tweaks should be

[2020-02-11 13:14] Adirio commented on #885
A pattern I really like about log levels is choosing a default log level (usually `Info`, `Warning` or `Error`) and then providing two flags (`-v` or `--verbose` and `-q` or `--quiet`) that increase/decrease the log level. These flags can be provided several times.

For example, if the default level is `Warning`:
- `kubebuilder -vv ...` will set the level to `Debug`
- `kubebuilder -q ...` will set

[2020-02-11 13:34] camilamacedo86 commented on #885
Hi @Adirio,

Sure. Feel free to contribute. It shows great 👍 . Just beware that we need to is as:

[2020-02-11 14:05] Adirio commented on #885
Do we need to use the flag names and behavior in that file? Or do we just need to provide all the functionality of those flags?

[2020-02-11 14:26] camilamacedo86 commented on #885
Hi @Adirio,

Note that we need to merge the PR https://github.com/kubernetes-sigs/kubebuilder/pull/1116 first.

Good question.  The reason this task is the integration with SDK. So, I would say that we should keep the same names. However, I think that I would also prefer the common usage as `-vv` as well. @estroz @hasbro17 wdyt?

[2020-02-11 17:48] bowei commented on #1152
Generated clients have static, compile-time types and are easier for the consumer-side to deal with.

[2020-02-11 18:11] alexeldeib commented on #1152
I'm not sure I understand the distinction you're making? You're basically just saying you want the go types to be known at compile time, which is equally true for what I'm suggesting people do? e.g.:

[code]

This is fairly similar with the generated code linked by @stigsb, except users no longer need a clientset per type. So if they are already using any sort of k8s client, they can just add the

[2020-02-12 09:05] Adirio opened #1367 "[Discussion] Use golangci.com for linting instead of running it in Travis"
GolangCI offers a SaaS platform to run linters. This issue aims to discuss the advantages and drawback of using such SaaS instead of running ourselves the test in Travis.

Note: this issue only focuses on linting tests, it is not related to any other test run in Travis.

Features:
1. Free for open source projects ([link](https://golangci.com/pricing)).
2. Configurable in ` .golangci.yaml` file ([l

[2020-02-12 09:20] Adirio commented on #1367
I think that moving from Travis towards golangci.com may be a good idea as it will add some useful features while not loosing anything:

Same behavior:
- Both options are free for Open Source projects, so no drawback there.
- Both options use `.golangci.yaml` file to configure which linters should be enabled (#1365). This file can be extended in `golangci.com` to configure how the test is run, whi

[2020-02-12 09:30] alexeldeib commented on #1367
Isn’t macOS and Windows support the real reason for Travis? If anything, I’d hope we can reduce our matrix (e.g if prow magically supported all three).

Maybe it’s worth doing something weird like configuring tide/all the merge goodies but using Travis for all of the actual tests? I wonder if we can link prow to Travis test results?

I heard some tell of changes to how the check system works, mayb

[2020-02-12 11:00] Adirio commented on #1367
@alexeldeib

This is just about the linting part. Linting is OS-agnostic.

[2020-02-12 13:39] camilamacedo86 commented on #1367
Hi @Adirio,

IMO the lint check needs to be done in order to allow or NOT the merge of a PR.

**WHY?**

- If we do the check and allow merge any way has no need to do it
- And then, we will allow in the 99% of the cases the introduction of a bad implementation which are notified by the lint check.

However, where the test will be done ( Travis or Prow ) I do not really care. According to @mengqiy

[2020-02-12 14:53] Adirio commented on #1367
I tried to set it up in my own repository. It was really trivial.

1. Visit https://golangci.com and login with GitHub.
2. Grant access to public repositories.
3. Press `Connect` button in the repository list.
4. Extra step: set up a rule that marks this test as `Required`.
    1. Go to `Settings` tab.
    2. Go to `Branches` menu option.
    3. Press `Add rule` button.
    4. Set `Branch name pat

[2020-02-12 14:56] Adirio commented on #1180
Solved by #1205

[2020-02-12 14:56] #1180 closed

[2020-02-12 15:02] #1188 closed

[2020-02-12 15:07] #1176 closed

[2020-02-12 16:13] djzager commented on #1071
/assign @djzager

[2020-02-12 18:28] alexeldeib commented on #1367
I know it’s about the linting, but we are increasing our tooling matrix for little reason imo. I really like the free golangci lint service, so maybe I’m just nitpicking, but it feels like it’s not really that much better than running the CLI in one of our two existing options.

[2020-02-12 18:30] djzager commented on #1071
Looking into the doc portion of this issue it appears that this is already laid out in [Generating CRDs](https://book.kubebuilder.io/reference/generating-crd.html). Specifically, the [section concerning validation](https://book.kubebuilder.io/reference/generating-crd.html#validation) shows the _correct_ way to do this (shortened for simplicity):

[code]

[2020-02-12 18:34] Adirio commented on #1367
I thought the same way at the start, but we are already going to be using `.golangci.yaml` as the configuration once #1365 gets merged so basically `golanci.com` service will mean we remove one script but we don't have to configure anything else, and we win the added benefit of the bot that helps reviewing process.

[2020-02-12 18:35] djzager commented on #1071
Maybe this hsould be an issue against https://github.com/kubernetes-sigs/controller-tools ? I don't see anything in kubebuilder related to that, but [searching for `allof` in controller-tools](https://github.com/kubernetes-sigs/controller-tools/search?q=allof&unscoped_q=allof) leads me to believe this should be addressed there.

@DirectXMan12 what do you think?

[2020-02-12 18:36] awgreene commented on #1251
I'll be trying out controller-gen later this week and will be using the tutorials as a starting point, happy to update the docs as I go.

/assign

[2020-02-13 10:22] Adirio commented on #885
The following list describes the flags in Operator SDK and how they can be implemented with controller-runtime@0.5.0:
- **`--zap-devel`**: development (true) or production (false) mode.
`sigs.k8s.io/controller-runtime/pkg/log/zap.UseDevMode`
- **`--zap-encoder`**: "json" (no spaces after `,` and `:`) or "console" (spaces after `,` and `:`).
`sigs.k8s.io/controller-runtime/pkg/log/zap.Encoder`
- **

[2020-02-13 15:23] champak commented on #1366
@Adirio Thanks for your response ! I had found it took more than just updating the pair of role/role-binding files kube-builder produces. For one it looked like if we are managing native objects like Pods/Services the "manager" needs to be able to do a list operation at cluster scope. I had seen complaints from reflector.go that went like

reflector.go:123] pkg/mod/k8s.io/client-go@v0.0.0-20190918

[2020-02-13 15:29] Adirio commented on #1366
If you are right with your assumption that the dependency comes from `For` and `Owns`, you can implement these two with `Watches` and providing your own handler, which may be able to solve the issue. But it may also be the cache the one that requires cluster scope permissions. You could always limit to list and get cluster scope and not prevent any modification but in the desired namespace.

[2020-02-13 19:58] gh67uyyghj opened #1369 "How to use Kubebuilder with multiple controller binaries in the same project?"
Thank you for creating this great project. I am still very new to it by as the title says I am not really sure how to create multiple binaries each having controller that watches the same GVR types. Do I just create resources and write controllers inside `/pkg` and `make` will take care of generating everything?

[2020-02-13 22:24] #834 closed

[2020-02-14 06:38] Adirio commented on #1369
Kubebuilder creates a single binary that contains all the controllers. You have 1 manager (that's how it is called) which contains all the controllers defined in that project. This enables performance enhancements such as only having one shared cache for all the controllers, reducing the number of requests to k8s API. If you want two controllers to be in separate binaries for a specific reason (ma

[2020-02-14 11:57] kris-nova opened #1371 "Missing Kustomize Dependency for `make install`"
Fresh linux system, trying to go through the getting started
[code]

Either docs that mention this, a check in `make install`, a better error message with a path forward, or including `kustomize` in the `build/bin/` directory of a release

/kind bug

[2020-02-14 13:19] gh67uyyghj commented on #1369
@Adirio thank you for the response! I have a project where I need daemonset controllers and also sidecard controllers for specific deployments. The problem here is that these controllers watch the same resources. These multiple binaries are inside the same project (e.g. istio). Does this mean the kubebuilder is not a good option for me?

[2020-02-14 13:37] Adirio commented on #1369
A single binary, the manager, will have both controllers, and that way they will use a shared cache reducing the amount of messages that you need to exchange with k8s apiserver. Why do you need to split those two controllers in two different binaries?

[2020-02-14 13:51] gh67uyyghj commented on #1369
@Adirio yes I have to, the daemonset controllers are running in host network and the sidecar controllers are running each in its pod. Also I need to mention that daemonset and sidecars are not actually watching each resource like it's generated by kubebuilder `main.go`. Some resources are watched by both but others are not. Does this mean I have to go back to https://github.com/kubernetes/code-gen

[2020-02-14 13:58] Adirio commented on #1369
Do you really mean controllers or the resources created by this controllers? Having controllers in each pod sounds a bit strange.

Eitherway, if you really need to have separate binaries, you can always use two different scaffold projects. If there is some shared types (files under `api` folder), they are being sported so your second project can import the types from the first project.

[2020-02-14 14:29] gh67uyyghj commented on #1369
@Adirio thank you for the quick response.  The architecture can be changed for example to instead of using a controller inside the sidecar, it can be used in a daemonset and then propagate the changes via some custom API to the sidecar. But in either case, I will also need more than one controller binary per project having access to the same CRD. Can kubebuilder be intialized in a project subdirec

[2020-02-14 17:44] mengqiy commented on #1367
The golangci bot looks really cool.
I don't have much concern as long as it meets the following:
- fast to start and fast to run
- stable
- enough visibility for contributors
- friendly enough to trigger re-run (at least should not worse than travis)

[2020-02-14 18:51] Adirio commented on #1367
The test I did in https://github.com/Adirio/kubebuilder/pull/2 was instantly started and fast to run. Anyway, it will be much faster than any other test we are running so it will never be the bottleneck.

The software layer will probably be more stable than any we can use as it will be updater more often. The SaaS layer stability is hard to measure without trying.

The report is exactly the same,

[2020-02-14 19:11] champak commented on #1366
Limiting to cluster scoped list and watch permissions had seemed to work. get did not seem to be required.
wrt Owns() I was going off this in controller.go::

// Owns defines types of Objects being *generated* by the ControllerManagedBy, and configures the ControllerManagedBy to respond to
// create / delete / update events by *reconciling the owner object*.  This is the equivalent of calling
// W

[2020-02-14 21:27] champak opened #1372 "CRD cleanup pattern"
Hi folks,
I have been looking around for a decent pattern for implementing CRD cleanup. A mechanism to cleanup CRDs no longer in use based on say time and optional logic examining status etc. would be nice. The TTL controller approach looked promising https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished but it is unclear if that will get extended beyond jobs to support custom

[2020-02-14 22:16] jeyaramashok opened #1373 "Generating API documentation"
The V1 documentation says there's a command to generate API documentation from code
https://book-v1.book.kubebuilder.io/beyond_basics/generating_documentation.html

Are there plans to implement this is in V2 ?

/kind feature

[2020-02-15 01:08] yeya24 commented on #1225
I am running into the same issue. Seems there is a PR for this now https://github.com/kubernetes-sigs/controller-runtime/pull/743.

[2020-02-17 21:57] #1000 closed

[2020-02-17 21:57] #1004 closed

[2020-02-18 14:23] TrsNium opened #1376 "How to define spec variable which is injectable by MutatingWebhookConfiguration"
Hello.

I recently make crd (https://github.com/TrsNium/digdag-worker-crd).
But I have a question, so let me ask you a question.

I try to overwrote the spec variable with MutatingWebhookConfiguration but it didn't work.
At that time, CRD and MutatingWebhookConfiguration are defined as following.

MutatingWebhookConfiguration
[code]

CRD
[code]

Please let me know if there is a reason why the abov

[2020-02-18 17:24] TrsNium commented on #1376
I'm sorry if the project that I should ask  is different.

[2020-02-19 01:13] gh67uyyghj commented on #1369
@Adirio ? Canis it possible to initialize kubebuilder inside a subdirectory?

[2020-02-19 09:56] Adirio commented on #1369
This is the way to go: https://github.com/kubernetes-sigs/kubebuilder/issues/1369#issuecomment-586298366

[2020-02-19 19:28] gh67uyyghj commented on #1369
@Adirio thank you but I hope you reconsider this in the future. For example, I think istio has multiple controller binaries watching the same resources and acting differently (i.e. one translates the specs to envoy config and the other controls the envoy authorization services). This can be done with the old way with the code generator, but kubebuilder is far more superior and cleaner especially w

[2020-02-19 19:28] #1369 closed

[2020-02-19 22:43] craigtracey commented on #1218
@DirectXMan12 with regard to pluralization, I agree on "weird pluralization rules." For instance, "Repo" would be another example. Currently that will pluralize as "Repoes."

Apart from these examples, the pluralization is currently based on English rules. It is certainly conceivable that users will have resource types that are not English words.

I have taken a look, and this particular change wi

[2020-02-20 00:59] estroz opened #1378 "Feature Request: Plugins Phase 2"
## Overview

Phase 1 of the proposed [scaffold plugin system](https://github.com/kubernetes-sigs/kubebuilder/blob/5187a15/designs/extensible-cli-and-scaffolding-plugins-phase-1.md) is being implemented (#1290) at the time of writing. Progress on phase 2, which adds support for chaining plugins together (more below), will begin shortly afterwards, starting with a proposal doc. Before writing that d

[2020-02-20 01:01] estroz commented on #1378
/cc @DirectXMan12 @mengqiy @Adirio @joelanford @hasbro17

[2020-02-20 07:07] Adirio commented on #1378
A few comments on `model.Universe`. I'm working on a couple PRs that end up modifying it a bit. Basically, the file models will be stored in a map with strings keys (their paths) so that they can be accessed without having to iterate over all of them:

[code]

One of the main goals behind those PRs is to have file update logic inside `Scaffold.Execute`. This is, updating a file will also be done i

[2020-02-20 14:09] ryandawsonuk opened #1379 "omit empty for yaml?"
The generated Go structs [set fields as optional by adding 'omit empty' to the json flags](https://github.com/kubernetes-sigs/kubebuilder/issues/521) next to the fields. But not yaml. We have a use-case where we're using a clientset and want to generate yaml from the structs. Should we be adding these flags ourselves or would it make sense for kubebuilder to do this or are there other ways?

[2020-02-20 14:51] Adirio commented on #1379
Only JSON tags are being set because the YAML parser used reads the JSON tags:

Source: https://pkg.go.dev/sigs.k8s.io/yaml?tab=overview

[2020-02-20 21:23] estroz commented on #1378
@Adirio great to hear that you're working on integrating file `Update` logic with `Scaffold.Execute`. I was doing something similar to test out some theories for (1ii).

Concerning out-of-execute file generation/updates: if we can figure out a general method of piping bytes from a binary into the Go runtime, sure. AFAIK that isn't possible for 2 reasons:
1. We don't know what external (arbitrary)

[2020-02-20 21:59] Adirio commented on #1378
@estroz feel free to take a look at #1375

[2020-02-20 23:53] #1226 closed

[2020-02-20 23:54] #1358 closed

[2020-02-21 06:44] chenwng opened #1381 "How to avoid duplicated sub resource"
Hi,

I have two controllers which work like daemonset controller and kubelet. In the parent controller, I need to create specific number of child resource. And I found sometimes after I create the child resource , another reconcile happens and the query result of child resource is empty or less than what I expect ( It looks like the local informer cache is not updated yet), so other child resource

[2020-02-21 07:04] Adirio opened #1382 "[V3] Multi-group controller import alias"
In v2, when multi-group is enabled, controllers are imported as `[GROUP]controller`:

https://github.com/kubernetes-sigs/kubebuilder/blob/5dc6055cae706f0b80b05484ffe2632d2de56dd3/testdata/project-v2-multigroup/main.go#L36-L39

However, any of those alias can contain multiple controllers:
1. `shipcontroller`:
    1. https://github.com/kubernetes-sigs/kubebuilder/blob/5dc6055cae706f0b80b05484ffe2632

[2020-02-21 07:13] Adirio opened #1383 "[V3] Multi-group log context"
In v2. when multi-group is enabled, each controller is provided with a logger adding it's kind as context:

https://github.com/kubernetes-sigs/kubebuilder/blob/5dc6055cae706f0b80b05484ffe2632d2de56dd3/testdata/project-v2-multigroup/main.go#L85-L92

However, multiple controllers in the same project can have the same Kind if they are in different groups. The group should also be provided qas context

[2020-02-21 07:23] Adirio opened #1384 "[V3] Marker pattern"
In v2, markers follow `// +kubebuilder:*` pattern.

In v3, we may want to remove the space (`//+kubebuilder:*`) as machine-readable comments should not have spaces by Go conventions.

Code to modify:

https://github.com/kubernetes-sigs/kubebuilder/blob/5dc6055cae706f0b80b05484ffe2632d2de56dd3/pkg/model/file/marker.go#L27-L29

/kind feature

[2020-02-21 23:20] #1105 closed

[2020-02-22 05:29] #1376 closed

[2020-02-22 12:25] ryandawsonuk commented on #1379
Thanks!

[2020-02-22 12:25] #1379 closed

[2020-02-23 13:55] DiveInto opened #1390 "why admission webhook is not working in the CronJob example from kubebuilder book"
I am following the CronJob example in KubeBuilder book: https://book.kubebuilder.io/cronjob-tutorial/cronjob-tutorial.html

I directly use the code from https://github.com/kubernetes-sigs/kubebuilder/tree/master/docs/book/src/cronjob-tutorial/testdata/project

after run `make run`, logs like this were shown:

[code]

From the log, it is easy to tell that both the controller and the admission webho

[2020-02-24 09:54] Adirio commented on #1381
I couldn't fully understand your issue. DaemonSet controller is just one, kubelet is not a controller. Can you please describe a bit more your CRD and controllers? No need to provide the full spec, only the relevant parts. That way we may be able to know what your controller is doing and how to solve it.

[2020-02-24 14:24] chenwng commented on #1381
@Adirio Thanks for your reply. Sorry for the confusion. Yes. kubelet is not a controller. Actually I mean I have CRDs working like daemonset/pod and controllers behind  them. The parent CRD  controller is responsible for spawn specific number child CRDs, and controller for child CRD is running on all nodes and responsible for fulfill the job defined in child CRD. In my case, the number of child CR

[2020-02-24 14:46] Adirio commented on #1381
Dodging the cache would be the way to go if you strictly need "fresh" information, but that's more of a controller-runtime related question than kubebuilder itself. Kubebuilder is basically the CLI tool that creates the files you see, the machinery used by the scaffolded files is controllers-runtime.

[2020-02-25 22:47] mengqiy commented on #1263
`--resource false --controller true` this is useful in the following 2 scenarios:
- Resources are already scaffolded before
- No need to scaffold resources for core types
IMO allowing `--resource false --controller true` is NOT a bug.

[2020-02-26 10:00] camilamacedo86 commented on #1263
Hi @mengqiy,

Will break the project and will not work successfully when the resource is not found.

However, I catcher the reason for you NOT consider it a BUG.

Closing this one.

[2020-02-26 10:00] #1263 closed

[2020-02-26 20:32] mengqiy commented on #1390
This is because your creation request never reaches the admission webhook.
If you haven't specified the `ValidatingWebhookConfiguration`, the creation request will not be route to the webhook. It gets through to the API server and then trigger a reconciliation loop. Then the controller complains.

[2020-02-26 21:12] mengqiy commented on #1390
Currently the most easiest way to try webhooks is to deploy it in a cluster (e.g. a local `kind` cluster).
https://book.kubebuilder.io/cronjob-tutorial/running-webhook.html

[2020-02-26 22:24] wfernandes opened #1392 "Incorrect example in kubebuilder book - multiversion deployment"
This is in the documentation regarding the multiversion example.
See: https://kubebuilder.io/multiversion-tutorial/deployment.html

OR

https://github.com/kubernetes-sigs/kubebuilder/blame/e79701eccab68cfad976c961422dc15f807a1ddc/docs/book/src/multiversion-tutorial/deployment.md#L78

We check the v1 version of the cronjob custom resource. But the output we've displayed is the v2 version.

/kind bu

[2020-02-26 23:05] #1392 closed

[2020-02-27 00:06] droot commented on #1371
[Kubebuilder book](https://book.kubebuilder.io/quick-start.html#prerequisites) mentions kustomize in prerequisites section in quick-start-guide.

Though better error message pointing to kustomize install page would be great help here.

[2020-02-27 18:42] EronWright opened #1397 "Homebrew formula should include kubebuilder assets"
While there is a homebrew formula for kubebuilder (#562), it lacks some assets that are generally included in the release tarball.  In particular, `kube-apiserver`, `etcd`, and `kubectl`, which are assumed to reside in `/usr/local/kubebuilder/bin` by the `envtest` package in `controller-runtime` project.

See [`pks/envtest/server.go`](https://github.com/kubernetes-sigs/controller-runtime/blob/v0.4

[2020-02-28 09:30] jpkrohling commented on #1140
@champak, I couldn't find any evidence in the code that would make it possible to give a hint to the operator-sdk and/or controller-gen to skip the descriptions. In the end, I just moved from using the operator-sdk to using controller-gen directly, as you can see in this PR: jaegertracing/jaeger-operator#932 .

[2020-02-28 09:35] Adirio commented on #1149
Plugins should be able to work around this, closing in favor of plugins

[2020-02-28 09:35] #1149 closed

[2020-02-28 09:36] Adirio commented on #1218
There are probably some other enhancements that can be done but the main scaffold refactoring has already been merged.

[2020-02-28 09:36] #1218 closed

[2020-02-28 18:57] awgreene commented on #1251
Working on this now!

[2020-02-28 20:12] #1062 closed

[2020-02-28 20:57] mengqiy commented on #1397
Ideally the 3 testing tools should be included in Homebrew.
Kubebuilder team doesn't officially maintain [Homebrew Formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/kubebuilder.rb).
They are maintained by hobby contributors. I guess you can go ahead and create PR to update it :)

[2020-02-28 21:04] mengqiy commented on #1328
I have created branch `book-v2` and used it as the production branch.

[2020-02-28 21:04] #1328 closed

[2020-02-29 12:02] benjaminhuo commented on #581
Thanks for the details @alegacy .
So this way, you can have 3 CRDs and 3 controllers for each CRD and all these 3 controllers could be managed by one single manager in main?

Thanks
Ben

[2020-02-29 12:11] alegacy commented on #581
@benjaminhuo Yes, exactly

[2020-02-29 12:32] benjaminhuo commented on #581
@alegacy Thanks.
So you still have to use one controller to reconcile one CRD, and it's not possible to reconcile multiple CRDs in one controller?

[2020-03-01 00:21] alegacy commented on #581
@benjaminhuo yes, a controller can only handle a single CRD.

[2020-03-02 15:17] Adirio commented on #1397
Closing as out of scope:

Feel free to reopen if not solved.
/close

[2020-03-02 15:17] #1397 closed

[2020-03-02 15:18] Adirio commented on #1366
@champak closing this as resolved, if any additional help is needed feel free to comment and reopen it.

/close

[2020-03-02 15:18] #1366 closed

[2020-03-02 15:21] Adirio commented on #1347
In any case this should be reported in controller-runtime as specified [here](https://github.com/kubernetes-sigs/kubebuilder/issues/1347#issuecomment-581859383), closing for house-keeping purposes.

/close

[2020-03-02 15:21] #1347 closed

[2020-03-02 18:49] Adirio opened #1401 "Build-related flags for executables built from source"
# Description

Currently, when `kubebuilder` is built from source, `kubebuilder version` yields:
[code]

These variables are set as part of the automated build process, but they are never stored in the release branch. they can be found in https://github.com/kubernetes-sigs/kubebuilder/blob/9552d129f7d12cc6c7072a1d323ed9f4b461d550/cmd/version/version.go#L27-L35

# Feature request

Set these flags a

[2020-03-02 18:53] Adirio commented on #1401
The last four variables could be set as part of the `make build` target.

[2020-03-03 00:30] mengqiy commented on #1401
`kubernetesVendorVersion` indicates the version of the testing tools (kube-apiserver and kubectl) shipped in a release.
It's not useful when building from source.

[2020-03-03 08:12] kcswag opened #1402 "Failed to parse the correct GOPATH within the Makefile"
`# Get the currently used golang install path (in GOPATH/bin, unless GOBIN is set)
ifeq (,$(shell go env GOBIN))
GOBIN=$(shell go env GOPATH)/bin
else
GOBIN=$(shell go env GOBIN)
endif`

It takes $GOPATH as the golang install path directly but fails to run controller-gen command if $GOPATH is made of multiple directories like "/usr/local/golang:/usr/local/gopath" which must be separated

[2020-03-03 15:18] Adirio commented on #1402
Hi kcswag:

First a piece of advice regarding style: using single backquotes (<code>`</code>) to wrap multi-line code fragments prints quite bad, use triple quotes <code>```</code> or even better, provide the perma link:

<details><summary>Triple backquote example:</summary>
<pre>
[code]
</pre>
would look like:

[code]

The `make` is just to specify the language and therefore GitHub will color it

[2020-03-03 15:20] Adirio commented on #1351
This approach will probably remove the need of `$GOPATH` in order to find `controller-gen`, but I wanted to mention that the linked issue detects a bug with the current behavior if a multi-path `$GOPATH` is set.

[2020-03-03 15:24] Adirio commented on #1301
/close

[2020-03-03 15:24] #1301 closed

[2020-03-03 15:29] Adirio commented on #1351
Question: as this would definetely change the scaffolded `Makefile` file, would this be for scaffolding version `3`?

[2020-03-03 21:03] mengqiy commented on #1351
This really depends on if it's backward compatible. If so, we can release it in v2.4.0+.

[2020-03-03 21:34] Adirio commented on #1351
If we are adding a `bin` directory with a `controller-gen` binary that should probably be done in the `kubebuilder init ...` command and that means extra dir and file, so backwards incompatible IMHO. We could add it backwards compatibility by creating an `kubebuilder alpha SOME_NAME` command that creates the directory, downloads the binary and modifies the `Makefile`, but we should probably have a

[2020-03-03 21:57] hypnoglow opened #1404 "Feature Request: support "empty" group for API resources, i.e. with group == domain"
I would like to see kubebuilder support creating APIs with empty groups. By that I mean that the actual `apiVersion` of CRD to be `domain/version` without additional group prefix.

I think this can be very helpful for controllers/operators with a very narrow scope and a small number of `Kind`-s fitting into single "root" group.

Consider popular examples, such as [cert-manager](https://github.com/

[2020-03-04 10:08] Adirio commented on #1404
@DirectXMan12 @mengqiy @droot @camilamacedo86 what do you think about this? Should we implement this feature.

[2020-03-04 10:21] Adirio commented on #1126
/lifecycle frozen

[2020-03-04 10:48] Adirio opened #1405 "[Umbrella] Windows compatibility"
# Description

Achieving full compatibility with Windows machines requires several changes that will be tracked in this issue. If any other compatibility fix needs to be provided, in order to achieve Windows compatibility, please comment here and they will be added to the task list

**Task list:**
- [ ] Document `make` dependency for windows: #1406
- [ ] Windows-compatible kubebuilder `Makefile`:

[2020-03-04 10:57] Adirio opened #1406 "[Windows] Document make dependency"
# Description

`make` is not installed in Windows. This dependency should be added to the book.

There are several methods to install `make`, providing some alternatives or a link to useful resources should be considered.

*Please, comment here before taking this task to coordinate development efforts.*

***Note:** this task is tracked in #1405*

[2020-03-04 11:02] Adirio opened #1407 "[Windows] Kubebuilder Makefile"
# Description

Kubebuilders `Makefile` is not compatible with windows as it uses unix-style paths, among other things. Update the Makefile to provide Windows compatibility without loosing Linux and Mac compatibility.

*Please, comment here before taking this task to coordinate development efforts.*

***Note:** this task is tracked in #1405*

[2020-03-04 11:05] Adirio opened #1408 "[Windows] Scaffolded Makefile"
# Description

Scaffolded `Makefile` is not compatible with windows as it uses unix-style paths, among other things. Update the Makefile scaffolding to provide Windows compatibility without loosing Linux and Mac compatibility.

This is a backwards incompatible change that will probably require a scaffold version increase to "3".

*Please, comment here before taking this task to coordinate developm

[2020-03-04 11:16] camilamacedo86 commented on #1404
Hi @hypnoglow,

Let's see if I understood your RFE.
Currently, we do:

Then, what you are requestioning here is the tool allows:

Which means that  `if len(group)` < 0 then `group= project domain`
Which in this example would be the same as we call the command:

Is that what you are requesting?

[2020-03-04 11:57] Adirio opened #1409 "[Windows] Tests"
# Description

Test should be runable in Windows systems.

**Additional info:**
- #300
- #1126

*Please, comment here before taking this task to coordinate development efforts.*

***Note:** this task is tracked in #1405*

[2020-03-04 11:58] Adirio commented on #1407
#1351 may help with this

[2020-03-04 11:58] Adirio commented on #1408
#1351 may help with this

[2020-03-04 12:55] Adirio commented on #1404
Regarding multi-group, we just would need to use a well-known directory name, such as "core" (following k8s). Would be nice if we could make `my.domain/v1` and `core.my.domain` be synonyms, but I'm not sure if this is feasible.

Regarding the GVK stored in the config file, I would just not store it as that will be clar enough and reading and writting will be easy to implement, just requiring a `js

[2020-03-04 13:02] Adirio commented on #1405
/assign

[2020-03-04 13:04] Adirio commented on #1405
@DirectXMan12 @droot @mengqiy @alexeldeib Did I miss any other point that needs to be tackled to achieve Windows compatibility?

[2020-03-04 14:11] Adirio opened #1410 "[0.2.3 in Windows] Unable to make a new API"
- `go version`: `go version go1.14 windows/amd64`
- `kubebuilder version`: `Version: version.Version{KubeBuilderVersion:"2.3.0", KubernetesVendor:"unknown", GitCommit:"800f63a7e41a6a8016d4cb9d583e1705b0812c9d", BuildDate:"2020-03-04T13:20:00Z", GoOs:"windows", GoArch:"amd64"}` (I modified it manually before compiling but those are the right values)
- scaffolding version: `"2"`
- controller-runtime

[2020-03-05 00:10] ryanzhang-oss commented on #907
It's actually a lot more involved than this, there are a bunch of Kustomize scripts to clean up and more. I guess it's ok as Kubebuilder is mostly a toy tool.

[2020-03-05 06:39] Adirio commented on #907
@ryanzhang-oss you are right that there are more files involved. But **toy** tool does not describe kubebuilder. It is an scaffolder, it is not a full code generator but an squeleton generator for you to shape to your needs.

[2020-03-05 06:47] Adirio commented on #1410
I think this may be due to the reason mentioned in https://github.com/kubernetes-sigs/kubebuilder/issues/1206#issuecomment-562325531

[2020-03-05 06:47] Adirio commented on #1241
/lifecycle frozen

[2020-03-05 06:56] Adirio commented on #932
/lifecycle frozen
/milestone scaffolding-v3

[2020-03-05 06:57] Adirio commented on #932
@DirectXMan12 @mengqiy @droot can any of you add this to "scaffolding-v3" milestone, it seems I can't do it

[2020-03-05 11:23] Adirio commented on #1410
Confirmed, this is due to a version mismatch. Had one compiled with 1.12 and then used with 1.14.

[2020-03-05 11:23] #1410 closed

[2020-03-05 14:53] caiges opened #1416 "undeclared name: envtest"
`kubebuilder create api` generates code with a missing import leading to vetting and build errors.

I've changed the names of the group and controller but in summary:
[code]

Scaffold code produced should build and run without errors.

go: `1.14`
kubebuilder: `2.3.0`
scaffolding version: `2`
controller-runtime: `v0.5.0`
kubernetes: `1.17`
kubectl: `1.16.4`

/kind bug

Adding `"sigs.k8s.io/controll

[2020-03-05 15:14] Adirio commented on #1416
You are right, envtest is not scaffolded but I'm not getting any error, the internal `goimports` used at scaffolding seeems to be including it in my case, do not know why yours isn't.

https://github.com/kubernetes-sigs/kubebuilder/blob/800f63a7e41a6a8016d4cb9d583e1705b0812c9d/pkg/scaffold/internal/templates/v2/controller/controller_suitetest.go#L106-L118

[2020-03-05 15:15] Adirio commented on #1416
/good-first-issue

[2020-03-05 19:49] ryanzhang-oss commented on #907
Can you imagine using a scaffolding tool that generates tons of human unfriendly files in your production environment that you know every resource you created can't be easily removed later? Not sure what else can I call such a tool, a POC?

[2020-03-05 20:49] djzager opened #1418 "Bump kube-apiserver version bundled with kubebuilder"
For reference https://github.com/kubernetes-sigs/controller-tools/issues/227.

I was investigating https://github.com/kubernetes-sigs/controller-tools/issues/227 and in so doing I found where other issues across kube that made me believe the issue should have been fixed already (as early as `v1.16.0`). That lead me to check which version of `kube-apiserver` was included in kubebuilder release `v2.

[2020-03-06 02:31] djzager commented on #1418
Digging into this a little bit I think I checked the `kube-apiserver --version` before having downloaded the latest release `v2.3.0`. Strangely though, based on what I see in common.sh https://github.com/kubernetes-sigs/kubebuilder/blob/59108627b06130208383a159465b68d5875e0f52/common.sh#L69, I would think kube-apiserver should be `v1.16.4` instead of:

[code]

[2020-03-06 09:09] #1416 closed

[2020-03-06 09:31] Adirio commented on #1416
/remove-help-wanted

[2020-03-06 09:32] Adirio commented on #1416
/remove help-wanted

[2020-03-06 09:32] Adirio commented on #1416
/remove-good-first-issue

[2020-03-06 09:32] Adirio commented on #1416
/remove good-first-issue

[2020-03-06 13:36] djzager commented on #618
Just as a note. You don't necessarily need custom predicate functions. There are a couple in [controller-runtime's `predicate` pkg](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/predicate) that may be useful. Specifically, the [`GenerationChangedPredicate`](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/predicate#GenerationChangedPredicate) may be what you want.

This seems like the b

[2020-03-06 14:11] djzager commented on #1418
:tada: it was all my fault. Ignore me :sunglasses:

[2020-03-06 14:11] #1418 closed

[2020-03-06 19:03] bharathi-tenneti commented on #1371
/assign

[2020-03-06 23:30] bharathi-tenneti commented on #1371
@droot
Did you mean the check to be done in [this](https://github.com/kubernetes-sigs/kubebuilder/blob/master/Makefile) file?

[2020-03-07 03:45] fanux commented on #907
@ryanzhang-oss kubebuilder solved many problems but not all, it let us more efficiency，a toy tool is inappropriate I think.  But we really hope kubebuilder better.

[2020-03-08 07:14] chenrui333 opened #1421 "brew formula 2.3.0 upgrade issue"
relates to https://github.com/Homebrew/homebrew-core/pull/51004

build failure:

[code]

/kind bug

[2020-03-08 07:14] chenrui333 commented on #1421
/kind bug

[2020-03-08 18:56] ndrpnt commented on #1421
Hi, not sure what to look for, here is more info.

This runs fine (v2.2.0):
[code]

This fails (v2.3.0):
[code]

This runs fine too (in docker):
[code]

[2020-03-09 15:43] toonsevrin opened #1422 "Kubebuilder book: Why create a custom metadata field "controller" in job instead of just ownerReferences"
I was going through the tutorial in the book for Cronjobs. On [this page](https://book.kubebuilder.io/cronjob-tutorial/controller-implementation.html#2-list-all-active-jobs-and-update-the-status) the concept of a `jobOwnerKey` field is introduced:

[code]

I don't completely understand why we cannot just rely on the build-in ownerReferences type? Is this because it is not indexable by the cache Fi

[2020-03-09 19:10] camilamacedo86 commented on #1371
HI @bharathi-tenneti,

It is not regarded the makefile of the kubebuilder project. The makefile in the kubebuilder project are targets which are helpful for who will contribute with the project.

In this scenario,  the user says `Fresh linux system, trying to go through the getting started` which means that he is following the the [Quick Started](https://book.kubebuilder.io/quick-start.html) and t

[2020-03-10 07:17] Adirio commented on #1421
Could you please add the following information to each of the cases:

- go version
- kubebuilder version (`kubebuilder version`)
- scaffolding version (check your `PROJECT` file)
- controller-runtime version (check your `go.mod` file)
- controller-tools version
- Kubernetes & kubectl versions (just run `kubectl version` against your API server)

[2020-03-10 08:20] Adirio commented on #1422
Hi toonsevrin:

I agree with you that better documentation in this sense would help.

If you search for that specific variable you will find it used in two places:

1. To get a filtered list of jobs: [book](https://book.kubebuilder.io/cronjob-tutorial/controller-implementation.html#2-list-all-active-jobs-and-update-the-status)
https://github.com/kubernetes-sigs/kubebuilder/blob/0317c63acfc2fb55a61

[2020-03-10 12:55] Adirio commented on #1371
I agree with @camilamacedo86 that checking the dependency could be done. I don't think there is any other easy way to improve the error message, as it is a OS error not one we are printing, so we need to check for it before running any kustomize command.

[2020-03-10 15:18] toonsevrin commented on #1422
@Adirio thank you for the very thorough and well-documented answer.

If I understand correctly (and correct me if I'm wrong), the index is only created locally, and not on the API?  Would it then not make more sense to use `.local.metadata.controller` or perhaps `.virtual.metadata.controller` as field, ensuring that this field would never ever exist on the server (thus preventing the shadowing beh

[2020-03-10 15:29] toonsevrin commented on #1422
Regarding the documentation update, please confirm that this addition is fine:

The reconciler fetches all jobs owned by the cronjob to delete old jobs. For a more efficient lookup, these jobs will be indexed locally by the controller's name. To do this, a `jobOwnerKey` field is added to the cached job objects, which references the owning controller.

Please feel free to propose something differen

[2020-03-10 16:19] Adirio commented on #1422
I would have to confirm that indexes are not part of kubernetes API to be 100% certain but I'm almost sure that they are not part of k8s.

The text without context is difficult to judge. I would probably modify the comment that can be found the first time it appears as we already mention some of those things:

[2020-03-10 19:52] toonsevrin commented on #1422
@Adirio I've created PR #1424 for this. I'll close this issue now (we can edit the documentation there).

[2020-03-10 19:52] #1422 closed

[2020-03-11 13:39] jgustie commented on #1253
I'm not sure if I have a different version of the Prometheus operator, but for me the endpoint scheme does not default to `https` which mismatches the port (i.e. out of the box, Prometheus ends up sending an HTTP request to the HTTPS port). I also had the problem with certificate verification. In the end I was able to get Prometheus to scrape metrics through the RBAC proxy using the following endp

[2020-03-11 13:57] camilamacedo86 commented on #1253
Hi @jgustie.

You have another scenario. Could you please raise a new issue and also add all info required for we reproduce your scenario?

PS. This issue should be closed with  #1317.

[2020-03-11 13:57] #1253 closed

[2020-03-11 14:25] toonsevrin opened #1426 "Remove external kustomize dependency"
As kustomize is integrated in kubectl nowadays (without an external dependency), I recommend kubebuilder does the same.

I propose that kustomize becomes an internal go dependency and will provide some documentation here for one of the developers to implement this.

[Here](https://github.com/kubernetes-sigs/kustomize/blob/master/functions/examples/template-go-nginx/) is a simple example of using k

[2020-03-11 15:24] Adirio commented on #1426
Kustomize dependency is due to the scaffolded Makefile which has some targets that use `kustomize ...` commands. How would you suggest to do this?

P.S.: modifying the scaffolded `Makefile` is definetely a backwards incopatible change that will require a major version bump.

[2020-03-11 15:40] toonsevrin commented on #1426
I see, I didn't know it was used in the Makefile itself (but makes sense).

I just took a look at the makefile and why is kustomize not injected like the controller-gen?

Perhaps this is a good first step? :) Don't understand why this would break any makefile behavior though

[2020-03-11 17:19] bharathi-tenneti commented on #1371
@Adirio I agree that checking dependency can be done for kustomize.
However, if we go down the path, Should we go ahead an check for other [pre-reqs](https://book.kubebuilder.io/quick-start.html#prerequisites) as well?
Do we want to do that ?

[2020-03-11 18:40] camilamacedo86 commented on #1371
Hi @bharathi-tenneti,

To solve the scenario raise here (close this issue) I would just to do the check for the kustomzie one since it will raise an issue that is not intuitive at all. Also, I do not think that this would be the case of docker and/or kubetcl as well.

However, after doing this one if you wish I'd recommend do a test without docker and see if is clear or not the msg and then check

[2020-03-11 19:26] camilamacedo86 commented on #1371
@bharathi-tenneti,

Feel free to do. the. other checks if you see that would be nice.  To close this one IHMO doing it for kustomize only would be enough.

[2020-03-11 19:32] Adirio commented on #1371
I was working on this, but don't have the PR ready yet.
I also wanted to move this check out of `kubebuilder init` just to any `kubebuilder` command so that when you git clone an already init project you still get this check done for you.

[2020-03-11 19:36] Adirio commented on #1426
I couldn't look the links you provided, if you still have access to `kustomize` command from the `Makefile` it will be backwards compatible, just wanted to note that if you had to modify it it will be for v3.

[2020-03-11 19:57] toonsevrin commented on #1426
@Adirio all right, please provide me with:
- The location of the Makefile template (so I can update it to add this logic)
- The version of kustomize you would like to use (It should be pinned to a version for consistency and checksum security)

And I'll update the Makefile template, keeping backwards compatibility in mind.

[2020-03-11 20:51] Adirio commented on #1426
The Makefile template is under `pkg/scaffold/internal/templates/v2/makefile.go`, but do you need to modify it? If you modify it, then this won't be doable for v2.

[2020-03-11 20:51] shawn-hurley commented on #885
https://github.com/kubernetes-sigs/controller-runtime/pull/767/files

this PR has merged will the current flags being:

`zap-devel`
`zap-encoder`
`zap-log-level`
`zap-stacktrace-level`

I believe that these names are important to have the `zap` prefix to make sure that we describe what we are manipulating. There are many systems that one could use behind `logr` interface, and we are using zap and

[2020-03-11 21:43] toonsevrin commented on #1426
Hm, can you explain why modifying this will require a major release? As long as the signatures and behaviors stay the same, I don't see the problem?On 11 Mar 2020 21:51, Adrián <notifications@github.com> wrote:
The Makefile template is under pkg/scaffold/internal/templates/v2/makefile.go, but do you need to modify it? If you modify it, then this won't be doable for v2.

—You are receiving this bec

[2020-03-11 22:24] Adirio commented on #1426
A project initialized (`kubebuilder init`) will kubebuilder version 2.3.0 (and thus have the old Makefile) should be able to update kubebuilder to 2.4.0 and still behave the same.

[2020-03-12 05:52] dmizelle commented on #1371
Eek. I didn't realize this was assigned to someone else (its 2AM here and I'm unable to sleep)

Didn't mean to step on someone else that was interested in doing this. I ran into this issue tonight as I just rely on `kustomize` built into `kubectl` usually. If you've already done this (or are working on it) just feel free to close my PR. :)

[2020-03-12 10:10] toonsevrin commented on #1426
Hm, I see, @Adirio. Note that the old happy path won't change at all (due to the `which kustomize` check).

Anyways, if you feel that this is for v3 nonetheless, then we can simply add this issue to the roadmap.

[2020-03-12 10:20] Adirio commented on #1426
If the path doesn't change we won't need an update. It was just a comment, do not take it into account, push a PR and we will be able to eval if it needs a major version bump.

[2020-03-12 10:29] toonsevrin commented on #1426
All right, the only path that changes is in case kustomize is not installed in your environment (In this case it will be loaded in).

[2020-03-12 10:45] toonsevrin opened #1429 "scaffolded controller-gen dependency is not checksummed"
I'm not sure what the security requirements for this project are but the scaffolded controller-gen dependency is not checksummed. This makes the project vulnerable to for example sigs.k8s.io being compromised or inconsistencies when someone forces a new commit on the `{{ .ControllerToolsVersion }}` tag.

[pkg/scaffold/internal/templates/v2/makefile.go#L128](https://github.com/kubernetes-sigs/kubeb

[2020-03-12 14:18] toonsevrin commented on #1426
This issue should be closed once #1430 (resolves this) merges.

[2020-03-12 18:21] camilamacedo86 commented on #1074
Hi @evalsocket,

I do not know. Would be required check in the docs where it would fit better.

[2020-03-12 20:57] bharathi-tenneti commented on #1371
@dmizelle no worries, I have not got around to it yet, so go ahead.

[2020-03-12 21:27] Adirio commented on #1371
He made a proposal on #1427 and I made mine in #1428.

[2020-03-13 12:24] toonsevrin commented on #1371
Once #1430 is merged, kustomize will be installed automatically when not present in PATH.

[2020-03-13 13:24] toonsevrin commented on #1367
It seems like this golangci requires the bot account to have admin privileges on the repository. Is this not a concern?

[2020-03-13 23:22] DirectXMan12 commented on #1246
it's generally safe to introduce new files in an existing version if they're scaffolded on initial scaffold, I think.  We just can't later assume that file will always be there.  Not sure if that's sane from maintainability, but I think its safe compat-wise.

Could we do `**/*.go`?  That covers most things, and then if people have Go in a hack directory, they can always edit this?

This kinda thin

[2020-03-13 23:28] DirectXMan12 commented on #969
Considering that this has no movement in a while and my above comments, I'm gonna close this.  controller-runtime's godoc has more specific info on what certs go where now (https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/manager?tab=doc#Options), and otherwise KubeBuilder is supposed to be opinionated.

[2020-03-13 23:28] #969 closed

[2020-03-13 23:29] DirectXMan12 commented on #1363
Travis was previously doing this, at least.  Not sure how we'd do OSX on Prow -- IIRC there's no way w/o something like Travis.

[2020-03-13 23:30] DirectXMan12 commented on #1364
seems like a good thing to have.  Do you have concrete steps that are missing?

[2020-03-13 23:47] DirectXMan12 commented on #1404
/approve on what @Adirio said

[2020-03-13 23:49] DirectXMan12 commented on #1405
That seems reasonable -- I don't know of any others off the top of my head.  That said, I'm not sure we'll know the full list until it stops exploding :-P

[2020-03-13 23:49] DirectXMan12 commented on #1241
cc @mengqiy

[2020-03-13 23:50] DirectXMan12 commented on #932
done

[2020-03-13 23:51] DirectXMan12 commented on #932
you need to be a maintainer to use `/milestone` at the moment, which is a weird designation that we carried over from Kubernetes but didn't actually want to use.  Someone needs to fix the permissions so that reviewers & approvers can `/milestone` too, or something.  The current permission set is *weird*.

[2020-03-13 23:51] DirectXMan12 commented on #301
/lifecycle frozen

[2020-03-13 23:52] DirectXMan12 commented on #301
don't know why you can't do that.  What mortal knows the mind of the CI bot?

[2020-03-14 00:04] DirectXMan12 commented on #907
So, I'm sympathetic with the "I don't know which kustomize files to delete" argument.  Those are a bit easier to remove.  We can perhaps try to find some way to make that easier.  However, under our current setup, undoing code changes is not particularly feasible.  Perhaps this'll change in the future.  For now, please try not to be antagonistic.

[2020-03-14 09:46] camilamacedo86 commented on #1364
Hi @DirectXMan12,

The PR  https://github.com/kubernetes-sigs/kubebuilder/pull/1432 covers this one.

Then, we need a specific issue for:
- To allow contributors to run the e2e tests (test-e2e.sh) locally (makefile target and fix required setup for Linux and OSX)

PS.: Over the win platform, I have no clue how it works and what is missing. However, I think that may @Adirio uses win and could help

[2020-03-14 10:12] camilamacedo86 commented on #1363
HI @DirectXMan12,

Travis was just running test.sh, which just check v1. IHMO, run the golden script with OSX would be enough to check it since it will scaffold the projects and use all common commands.  WDYT? Any objection?

[2020-03-14 10:33] camilamacedo86 commented on #1363
/assing @camilamacedo86

[2020-03-14 10:35] camilamacedo86 commented on #1363
/assign @camilamacedo86

[2020-03-14 10:36] camilamacedo86 commented on #1364
/assign @camilamacedo86

[2020-03-14 11:21] camilamacedo86 opened #1434 "update the annotation for cert-manager's latest version"
This issue is for we are able to verify the annotation used for  cert-manager's and then, upgrade this to use the latest version.

According to the docs the value `certmanager.k8s.io` should be replaced by`cert-manager.io/inject-ca-from`. See: https://github.com/jetstack/cert-manager/blob/release-0.13/design/release-notes/release-0.11/draft-release-notes.md

In this way, in order to perform this c

[2020-03-14 11:34] Adirio commented on #1367
Write permissions should be perfectly fine. I mean, it needs to write the code suggestions and report so write is needed.

[2020-03-14 11:37] Adirio commented on #1404
I don't know about the feasability of the `core.my.domain` and `my.domain` being the same though. Any clue on that?

[2020-03-14 11:39] camilamacedo86 commented on #1367
Hi @Adirio,

Besides it is a good idea, not that:

<img width="754" alt="Screenshot 2020-03-14 at 11 37 41" src="https://user-images.githubusercontent.com/7708031/76681199-4bfe5a80-65e8-11ea-9eff-bd3dfe737ffc.png">

See: https://medium.com/golangci/golangci-com-is-closing-d1fc1bd30e0e

So, I understand that we can close this one since it will no longer be possible.

[2020-03-14 11:40] Adirio commented on #301
I wasn't a reviewer by that time.

[2020-03-14 11:44] Adirio commented on #1371
So we could either install or just check for the dependency. Both aproaches are being used currently: go version is checked while controller-gen is installed if not present. I'm not sure which of them feels better.

@camilamacedo86 @mengqiy @droot @DirectXMan12 what approach do you prefer?

[2020-03-14 11:54] camilamacedo86 commented on #1371
Hi @Adirio,

I think that go is a pre-requirement that could not be changed. However, doing it by the Makefile allows the user to customize it which shows more appropriate in this case. So, I am inclined to say for we forward with  #1430.

[2020-03-14 12:12] Adirio commented on #1367
Yeah, I just received an email from them :( Sad to hear it.

[2020-03-14 12:12] #1367 closed

[2020-03-14 12:20] camilamacedo86 opened #1435 "allow contributors to run the e2e tests (test-e2e.sh) locally"
**Story**

I am as Kubebuilder contributor, would like to be able to check the e2e tests (test-e2e.sh) used to verify the PR in the CI via Prow locally.

**Acceptance Criteria**
- The target needs work for OSX and Linux

**Eng Notes**
- before running the script is required to export the env var with the k8s version. See: https://github.com/kubernetes-sigs/kubebuilder/blob/master/test_e2e.sh#L33 (

[2020-03-14 12:24] toonsevrin commented on #1367
90% certain you don't need write permission for this. So if anyone is ambitious, they can still write a simple bot for this (instead of using golangci), kubebuilder would just have to add a webhook :)

[2020-03-14 12:54] camilamacedo86 commented on #1363
You are right @DirectXMan12,

I checked it. better and the test.sh has ben executed for both platforms which shows enough.
c/c @Adirio

/close

[2020-03-14 12:54] #1363 closed

[2020-03-14 13:58] toonsevrin commented on #1371
I've commented this on #1430, but ideally the dependencies like controller-gen and kustomize should only be installed locally (eg. local to the project). This could be in `${PROJECT_DIR}/bin` for example.

As they are internal dependencies in my opinion, they should not change the external environment (and ideally not be influenced by it either, all though that would break backwards compatibility)

[2020-03-15 01:50] bharathi-tenneti commented on #1346
/assign

[2020-03-15 19:02] Adirio commented on #1371
I do agree that having a `bin` folder with local dependencies sounds better than globally installed. But until we opt into thta approach, I would not install things for users, I would just check if they are installed. Basically because we are changing their global system and not just our local directory.

[2020-03-15 23:40] camilamacedo86 commented on #1371
IHMO, the kustomize is a requirement dependence such as the controller-gen and the solution #1430  make it easier for the users and bring better experience, and address the issue raised here and still allowing users customize it according to their needs since the implementation is in the makefile. Then, I cannot see any reason why not move forward with #1430.

@mengqiy wdyt ?

[2020-03-16 20:28] bharathi-tenneti commented on #1346
working in this.

[2020-03-16 21:53] #1095 closed

[2020-03-17 19:34] theishshah commented on #888
Hi, I'd like to work on this if no one has a current assignment for it.

[2020-03-17 21:18] ryanzhang-oss commented on #1299
FWIW, for someone like me, that has no previous in-depth Kubernetes experience, this is pretty much a hack. I don't know what makes people think that "an empty line is significant" is acceptable.  Again, this is an absolute anti-pattern in my 10+ years of professional software development.  I know I will take this type of convention for granted after a few more months working in this eco-system bu

[2020-03-17 21:59] ryanzhang-oss opened #1436 "Webhook path is half hardcoded and half generated"
Kubebuilder is heavily templated and given that there are next to none documentation around, the only place I can find for official help is the so called kubebuilder book.  [Here](https://book.kubebuilder.io/reference/markers/webhook.html) is what it says about the webhook.

However, in reality, the path is a trap.  In the controller-runtime (v0.4.0) pkg/builder/webhook.go:163, the path is auto-ge

[2020-03-18 23:58] #1364 closed

[2020-03-19 07:51] ndrpnt commented on #1421
In order:

[code]

[code]

[code]

It seems that `--fetch-deps=false` is ignored with version `v2.3.0` which is breaking homebrew's tests

[2020-03-20 06:24] vincent-pli opened #1438 "Any reason not set status as subresource by default"
I wonder to know the reason behind that: not set `status` as subresource by default.
The `operator-sdk` set it after add new api.

I struggle it for several hours when I try to use client.status().update in `reconscile`, until I found `status` 's subresource is not enable, thanks.

/triage support

[2020-03-20 18:32] champak commented on #1372
For anyone looking at similar issues, I did not locate an established pattern. For now I guess its DIY.

[2020-03-20 18:32] #1372 closed

[2020-03-22 23:52] devigned commented on #1436
I ran into the same problem and lost a fair amount of time.

^ 💯

[2020-03-23 07:45] Adirio commented on #1371
@droot @mengqiy @DirectXMan12 would you mind answering the poll raised in this https://github.com/kubernetes-sigs/kubebuilder/issues/1371#issuecomment-599045994?

[2020-03-23 19:02] gregsheremeta commented on #268
had the same issue, didn't realize that `dnf install docker` on Fedora 30 installs an ancient version. https://docs.docker.com/install/linux/docker-ce/fedora/ fixed me up.

[2020-03-23 19:08] RoeeShlomo commented on #1351
Any opinion on the way this is done in https://github.com/kubernetes-sigs/application/blob/master/Makefile? seems simple and avoids the problems described here

[2020-03-24 07:14] surajssd opened #1446 "Ship only kubebuilder binary"
## What broke

I downloaded the release ~binary~ package with the instructions mentioned in: https://book.kubebuilder.io/quick-start.html#installation

And the release package ships with it following binaries:

[code]

When I just want to download `kubebuilder` binary.

## What did you expect to happen?  What do you think went wrong?

I would like to have a way to just download `kubebuilder` binar

[2020-03-25 16:17] tiraboschi commented on #1074
Hi,
please notice that according to bullet #1 in https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190425-structural-openapi.md#metadata
only `name` and `generateName` metadata properties can be restricted but not the `namespace` so enforcing this kind of restriction will result in a CRD with NonStructuralSchema condition:
[code]

[2020-03-27 00:22] chenrui333 commented on #1421
Bump the PR to the latest release, v2.3.1
https://github.com/Homebrew/homebrew-core/pull/52196

[2020-03-27 10:54] angrosz commented on #581
@alegacy

[2020-03-27 11:25] angrosz commented on #581
@alegacy
I have 4 CRDs and 4 controllers for each CRD and all these 4 controllers are managed by one single manager in main using _SetupWithManager_ function. Now I have to change the names of all 4 CRDs and I need to have a new version of CONTROLLER that manages both sets of custom resources: the old ones and the new ones. It is important to stress that 4 new CRDs will do exactly the same what th

[2020-03-29 05:41] #827 closed

[2020-03-30 02:12] LinuxSuRen opened #1452 "[HELP] Got error when try to build base on v1.0.8"
I need an arm64 package of v1.0.8. I try to build it. But got the following errors:
[code]

Anyone could give a hint about this? I guess my goreleaser version is wrong.

/triage support

[2020-03-30 07:08] angrosz commented on #581
@droot
I have 4 CRDs and 4 controllers for each CRD and all these 4 controllers are managed by one single manager in main using SetupWithManager function. Now I have to change the names of all 4 CRDs and I need to have a new version of CONTROLLER that manages both sets of custom resources: the old ones and the new ones. It is important to stress that 4 new CRDs will do exactly the same what the ex

[2020-03-31 13:10] #1434 closed

[2020-04-01 14:45] #1346 closed

[2020-04-01 18:03] camilamacedo86 opened #1457 "GitHub is not getting the result of the Travis"
**Problem**
When we check the CI jobs. in the Travis, all finished successfully.  However, we are unable to merge since the GB is showing that it still pending.

NOTE: It happens with a few PR's. We can use #1454 as an example.

[2020-04-01 18:04] camilamacedo86 commented on #1457
c/c @estroz @mengqiy @DirectXMan12 @Adirio

[2020-04-02 06:56] Adirio commented on #1457
It used to happen before but it seems to have increased the number of times we see this error. It usually gets solved with a simple close and re-open. Let's see if this is just a transient problem.

[2020-04-02 11:53] camilamacedo86 commented on #1457
Hi @Adirio,

Many PR's are facing that and yes, I already tried close and re-open as re-tests. Another example is: https://github.com/kubernetes-sigs/kubebuilder/pull/1449

Hi @mengqiy and @DirectXMan12,

See that the suggested solution to solve it is to revoke the access and authorising it again.
- https://travis-ci.community/t/github-pr-is-being-built-but-result-is-not-shown/7025/2

Let's try it

[2020-04-02 11:53] camilamacedo86 commented on #1457
/bug

[2020-04-02 23:31] #863 closed

[2020-04-03 14:06] camilamacedo86 commented on #888
/assign @camilamacedo86

[2020-04-04 03:59] #882 closed

[2020-04-04 21:25] sarweshsuman commented on #1438
Hi @vincent-pli , i am facing same issue. How did you enabled status as subresource ?

[2020-04-04 23:30] vincent-pli commented on #1438
@sarweshsuman
Add comment:
`// +kubebuilder:subresource:status`
to your api difinition like this:
[code]

[2020-04-07 06:51] DiveInto commented on #1390
thanks for the link, the doc on webhook is much clearer now

[2020-04-07 06:51] #1390 closed

[2020-04-07 08:08] jabbrwcky opened #1463 "Testsuite fails to start up control plane"
I am currently using kubebuilder 2.2.0 and the controller test_suite does run into timeouts when starting the control-plane most of the time (dev running on OSX Catalina FWIW).

I had issues with running out of file descriptors (OSX Catalina defaults to 256 soft limt), which I could raise and resolve this.

Still the control-plane startup runs for some time and eventually stops working, without an

[2020-04-07 08:39] jabbrwcky commented on #1463
Somehow the go.mod file had a different apimachinery version than the one generated by vanilla kubebuilder 2.2.0 - resetting this mostly fixed it - I got one failure since.

Could specifying `"--bind-address=127.0.0.1"` have an impact on this?

[2020-04-07 12:27] jabbrwcky commented on #1463
Ok, I did some testing.

The default configuration fails for me reproducably and the test runs into timeouts.

[code]

Specifiying a binding address explicitly makes the tests run reproducibly:

[code]

[2020-04-08 09:18] chenyg0911 opened #1466 "CronJob make install failed."
follow the qiuck start book to build CronJob, when run `make install `, It failed with:
[code]

[code]

[2020-04-09 04:33] chenyg0911 commented on #1466
switch test it on k8s v1.16.7. it worked. the error is under k8s v1.18.

[2020-04-09 04:33] #1466 closed

[2020-04-09 05:52] fengye87 opened #1468 "API extension support?"
I've tried out webhooks both with & without kubebuilder. It's amazing how kubebuilder can make it so simple and easy to implement webhooks. Since I'm also using [K8s API extension mechanism](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/) to add some custom API endpoints beyond classic CRUD, I'm wondering if kubebuilder can help in this area too, just li

[2020-04-11 16:17] alexppg commented on #920
/remove-lifecycle stale

[2020-04-12 17:21] #1012 closed

[2020-04-12 19:23] #1071 closed

[2020-04-13 18:48] johanneswuerbach commented on #1468
While not in kubebuilder directly, there is already  https://github.com/kubernetes-sigs/apiserver-builder-alpha

[2020-04-13 20:49] evadnoob commented on #1276
It's unfortunate that the linked references `Owns()`, there is a `Watches()` function and the original request was about Watches. `Owns()` is not the same as `Watches`, one might want to watch but not own.

[2020-04-13 23:12] estroz opened #1472 "pkg/scaffold: move machinery and filesystem out of internal"
Move machinery and filesystem packages out of internal. These packages are useful to [plugin](https://github.com/kubernetes-sigs/kubebuilder/blob/master/designs/extensible-cli-and-scaffolding-plugins-phase-1.md) authors writing plugins that scaffold code.

If this change is acceptable I will make a PR.

/kind feature

[2020-04-13 23:42] estroz commented on #1472
/cc @DirectXMan12 @mengqiy @joelanford

[2020-04-14 02:17] #1426 closed

[2020-04-14 10:15] camilamacedo86 commented on #1371
/close

It was solved with https://github.com/kubernetes-sigs/kubebuilder/pull/1430

[2020-04-14 10:15] #1371 closed

[2020-04-14 15:21] akanso commented on #549
this link is dead: https://book.kubebuilder.io/beyond_basics/creating_events.html

but here's an example of creating events:

first in your project directory, go to  `/controllers/yourKind_controller.go` and add the `recorder` to your `Reconciler` struct:

[code]

in the `SetupWithManager` method, make sure to set the `recorder`

[code]

then, to create events use:

[code]

where `core` and `recor

[2020-04-14 15:34] joelanford commented on #1472
This definitely seems like it would be helpful for developing custom plugins. One possible concern I see would be that we would expose `model.Plugin` in the function signatures. (e.g. [`NewScaffold()`](https://github.com/kubernetes-sigs/kubebuilder/blob/abb49b494e5da4f84c90146edeac5393422f514c/pkg/scaffold/internal/machinery/scaffold.go#L58))

As part of the plugin phase 2 work, will we be re-work

[2020-04-14 17:15] estroz commented on #1472
I expect `model.Plugin` to implement `plugin.Base` in phase 2, although the point at which they have access to project state may change. This depends on whether project state is passed during or after scaffolding: #1378.

[2020-04-15 12:35] wallrj opened #1473 "leader-election-role role refers to non-existent configmaps/status resource"
In https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/scaffold/internal/templates/v2/leaderelectionrole.go#L63 we noticed that the generated leader-election-role refers to a resource `configmaps/status`, but configmaps do not have a status.

See https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#configmap-v1-core

[2020-04-15 12:57] wallrj opened #1474 "leader-election-role does not allow patch verb on events"
It was my understanding that the eventrecorder  patches existing events to help reduce the number of event objects that are stored to etcd.

But the leader-election-role, generated by kubebuilder only allows the create verb on events.
 * https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/scaffold/internal/templates/v2/leaderelectionrole.go#L69

The v1 Kubebuilder book also documented t

[2020-04-15 20:08] dark-shade commented on #1276
return ctrl.NewControllerManagedBy(mgr).
        For(&batch.CronJob{}).
        Owns(&kbatch.Job{}).
	Watches(&source.Kind{Type: &corev1.Node{}}, &handler.EnqueueRequestForObject{}).
        Complete(r)

Note: In the above case, when Reconcile is called due to change in Node then the request.NamespacedName will contain /node-name. You can add namespace/name to request using the EnqueueRequestForOb

[2020-04-16 06:54] hendrikmaus opened #1475 "Let's create a cookbook with useful patterns"
Hey everyone, I would like to get some feedback from the community on an idea I had, which is to start a cookbook with useful patterns for operator development.

What I immediately appreciated about the kubebuilder project was the git book - fantastic effort. Makes the entry into the operator realm very smooth and creates a good understanding of the basics.
Now, correct me if I am wrong, often eno

[2020-04-16 16:24] sethp-nr opened #1476 "Kubebuilder scaffolding for "external" webhooks"
We have a few small controllers that operate exclusively over types defined in other projects:

- A webhook-only system that decorates corev1 Service objects with TLS certificate annotations
- A reconciler for a cluster-api Machine that decorates the associated Node with information from the Machine object
- A webhook & reconciler combo that looks for PDBs associated with Deployments and provides

[2020-04-17 22:22] alexeldeib commented on #1475
Dynamically adding new controllers at runtime would be a good cookbook example, as well as showcasing alternative structures for projects as they grow.

I'm happy to help write some samples if we develop a list of desired recipes 🙂

[2020-04-17 22:23] otakumike commented on #1475
I think this is a fantastic idea. I've been writing operators for a little while now and even though the git book is very helpful, it leaves me wondering if I'm following best practices and designing my controllers well. Having a resource I can look to for examples of real-world scenarios would be a great help I think

[2020-04-17 22:24] alexeldeib commented on #1475
As far as implementation, I think this can _probably_  be as simple as adding a top level section (maybe near reference) to https://book.kubebuilder.io/ and adding full source code back in github

[2020-04-18 16:59] hendrikmaus commented on #1475
Ok, initial PR is opened. Should we continue to collect recipes in this issue for now?
I'd also be happy to write some samples.

[2020-04-19 19:06] alexeldeib commented on #400
/reopen

[2020-04-20 14:49] liggitt commented on #1065
/remove-lifecycle rotten
/lifecycle frozen

[2020-04-20 14:50] liggitt commented on #1065
Is there a plan/timeframe in place for this?

[2020-04-20 20:49] DirectXMan12 commented on #1065
@liggitt can you clarify what, specifically, you're looking for here?

[2020-04-20 20:50] DirectXMan12 commented on #1065
AFAIK, all the pieces are in place.  There's a couple of switches that need to be flipped manually atm to use GA vs beta, but otherwise this is pretty much done

[2020-04-20 20:51] liggitt commented on #1065
I couldn't tell whether kubebuilder could generate new v1 CRDs, or regenerate existing APIs as v1 CRDs. If that's mostly done, that's good news.

[2020-04-20 21:23] Skarlso commented on #1002
so this still happened with go and kubebuilder. What did you do to fix it? I tried deleting and reinstalling things, but I'm getting the same problem @derailed?

[2020-04-20 21:36] DirectXMan12 commented on #1065
yep -- `controller-tools crd:crdVersion=v1` will do it for you :-)

[2020-04-20 21:38] DirectXMan12 commented on #1065
IIRC, we don't generate it by default because most folks still support (or supported at the time) kubernetes versions that didn't have v1 yet.

[2020-04-20 21:58] DirectXMan12 commented on #1457
we'd need a github admin for that, I think.  Can't at-mention the github admins team here b/c it's defined in the kubernetes org.  Let me figure out a person to ping.

[2020-04-20 22:01] DirectXMan12 commented on #1457
cc @mrbobbytables

[2020-04-20 22:12] mrbobbytables commented on #1457
/assign
I'll see what I can do 👍

[2020-04-20 22:21] DirectXMan12 commented on #1436
Ok, so, I'm going to lay out the problem here.  I recognize this might not seem particularly reasonable from a pure end-user perspective, but I want folks to understand what's going on here, and why fixing it is trickier than it seems.

The main problem is that these projects are intentionally somewhat loosely coupled.  It's supposed to be possible to use controller-runtime without controller-tool

[2020-04-20 22:22] DirectXMan12 commented on #1436
And, FWIW, I agree that the DX is frustrating here, I just don't see a good path to fix it.

[2020-04-20 22:42] DirectXMan12 commented on #903
I think we can close this now -- everything is done afaik

[2020-04-20 22:42] #903 closed

[2020-04-21 00:28] DirectXMan12 commented on #1404
`␀.my.domain` clearly is the superior answer, with `∅.my.domain` being a close second

[2020-04-21 12:26] mrbobbytables commented on #1457
Okay, there definitely was something funky going on. The webhooks were in place, but there was no app enabled for the repo (or authorized for the org itself...). I've re-authorized it for kubebuilder. Let me know if there continues to be a problem. 👍

[2020-04-21 12:28] camilamacedo86 commented on #1457
Really tks @mrbobbytables.
I think is safe we close this one. if the same scenario issue started to be faced again we can re-opening it.

[2020-04-21 12:28] #1457 closed

[2020-04-21 15:06] StevenACoffman commented on #1068
/remove-lifecycle stale

[2020-04-21 15:56] liggitt commented on #1065
makes sense. is there a plan to default to v1, once 1.15 is out of support?

[2020-04-21 17:11] drpaneas commented on #1475
+1 -- I think at least one example would be great for the beginning, so to establish what kind of contributions are expected in some sort of way.

[2020-04-21 21:11] camilamacedo86 commented on #1065
I think would make sense we do it now for the V3.
/assing @camilamacedo86

[2020-04-22 06:53] Adirio commented on #1279
/lifecycle frozen

[2020-04-22 22:01] drpaneas opened #1479 "How to contribute"
There are no contribution docs for kubebuilder. I think we could this as a new section to the https://book.kubebuilder.io which could potential include two sub-sections:

* How to contribute to the book
* How to contribute to the code

/kind documentation

[2020-04-23 09:56] ycwdaaaa opened #1480 "expected pointer, but got nil"
when I use r.Get(ctx, req.NamespacedName, chaosTest);   it return errors like：

2020-04-23T17:54:02.852+0800	ERROR	controllers.ChaosTest	unable to fetch stableTest	{"chaostest": "default/chaostest-sample", "error": "expected pointer, but got nil"}
github.com/go-logr/zapr.(*zapLogger).Error
	/Users/sungaofei/go-workspace/pkg/mod/github.com/go-logr/zapr@v0.1.0/zapr.go:128
test-operator/controllers.(

[2020-04-23 11:35] ycwdaaaa commented on #1480
I got it， it was due to my code
I
 use var stableTest chaosv1.StableTest instead of var stableTest *chaosv1.StableTest
it will work

[2020-04-23 11:35] #1480 closed

[2020-04-23 16:16] camilamacedo86 commented on #1065
Solly in SDK we solve it by adding a flag in order to allow to keep the backwards compatibility. So, it means that by default the resources are scaffold using the latest version but users still able to use the flag in the commands to choose the old one. Do you think that it would be required here? Also, I think this would be a good change to get done now in the V3. WDYT?

[2020-04-23 16:34] estroz commented on #1065
The SDK needs a flag because it calls controller-gen libraries directly, i.e. you cannot set `crdVersion=<version>` manually. Since controller-gen is being called via `make` recipe in kubebuilder, docs should be sufficient. I didn't see anything discussing CRD API versions in the docs, so I can take this on if we agree it's just a docs issue.

[2020-04-23 16:46] camilamacedo86 commented on #1065
Hi @estroz,

IHMO we need here to change the project as well to start to the scaffold by default all using the V1 not just for CRD's but for webhooks as well. Also, if we do not follow up with the flag ( which I also would not like to), we can just add the steps in the docs for the user how to gen for the old version if required.

[2020-04-23 16:52] camilamacedo86 commented on #1065
Hi @estroz,

IHMO we need to address here:

- Change the project to the scaffold CRD's and Webhooks using the V1 by default
- update the docs and etc

Then, we will have to address the backwards compatibility scenario:

a)  if possible we could address the steps to manually gen the CRDs and Webhooks in the old version.

OR

b) solve it as SDK by creating a flag which allows users to choose if woul

[2020-04-23 17:38] #1220 closed

[2020-04-24 19:15] camilamacedo86 commented on #1051
I opened it when I started to have contact with the project. I think that the config name make more sense for me now since we have the kustomization files for example.
Also, IHMO any nomenclature change would be more. assertive after the integration if required.
Closing it so..

[2020-04-24 19:15] #1051 closed

[2020-04-24 19:17] camilamacedo86 commented on #1025
I opened it when I started to have contact with the project. Also, IHMO any nomenclature change if/when required would be more assertively made after the integration after we have more feedbacks as well. So, closing it..

[2020-04-24 19:17] #1025 closed

[2020-04-24 19:51] camilamacedo86 commented on #790
It was solved here: https://github.com/kubernetes-sigs/kubebuilder/pull/1173/files

/close

[2020-04-24 19:51] #790 closed

[2020-04-25 00:04] mengqiy commented on #400
With https://github.com/kubernetes-sigs/controller-runtime/pull/787 released, it should be easier to achieve it now.

[2020-04-25 00:27] alexeldeib commented on #400
I tried option 2 you suggested above using inlets. It worked pretty well, but I didn’t have a chance yet to try to generalize/automate an example if possible.

[2020-04-25 23:46] mengqiy commented on #1299
An empty line should not matter here. There may be a bug somewhere in controller-gen.

/help

[2020-04-27 11:10] camilamacedo86 commented on #1479
HI @drpaneas,

The contribution guideline is defined in the [Contribution.md](https://github.com/kubernetes-sigs/kubebuilder/blob/master/CONTRIBUTING.md) in the repo.

The `CONTRIBUTING.md` is a standard in the opensource projects in order to keep this information. However, please, feel free to open a pull request with a proposal to add it in the https://book.kubebuilder.io or to improve it. WDYT?

[2020-04-27 11:19] drpaneas commented on #1479
Good idea. I will work on it ;)

[2020-04-27 11:34] camilamacedo86 commented on #1452
This version is very old. See that if you are using it then, you must be using 1.11 version as well and vendors instead of modules to work with. Also, `the v1 is deprecated since Feb 1, 2020. See how to upgrade your project to v2: https://book.kubebuilder.io/migration/guide.html.`

So, I think we should close this one. Please, feel free to re-open if you think that it still required. However, if y

[2020-04-27 11:34] #1452 closed

[2020-04-27 11:38] camilamacedo86 commented on #1446
I am not sure if I understood what occurs. Could you please provide the following info for we are able to check the steps executed and why/where you are saying that when you download the kubebuilder binary it will download other as well?

[2020-04-27 11:58] camilamacedo86 commented on #1438
Note. that according to its docs:

Ref: https://book.kubebuilder.io/reference/generating-crd.html#subresources

So, I agree with you that by default we could scaffold the recommendation. Doing PR for it. Let's see what the others think about.

[2020-04-27 11:59] camilamacedo86 commented on #1438
/assing @camilamacedo86

[2020-04-27 12:00] camilamacedo86 commented on #1438
/assign  @camilamacedo86

[2020-04-27 12:00] camilamacedo86 commented on #1438
/assign @camilamacedo86

[2020-04-27 12:15] camilamacedo86 commented on #1421
I did the test to check it with the latest version. Following the steps.
- rm -rf the local bin
- use brew to install it `brew install kubebuilder`
- then, run  brew test kubebuilder -v

All worked successfully with kubebuilder 2.3.1. So, I am closing this one. However, feel to re-open if you see that something still required to get done here.

/close

[2020-04-27 12:15] #1421 closed

[2020-04-27 12:24] camilamacedo86 commented on #1381
HI @chenwng,

As described above by @Adirio, you need to get the "fresh" info. So, according to your description shows that your implementation is not idempotent. In this way, you are creating duplicate objects because you are not verifying if the resource is or not create before performing the operation.

I believe the detailed explanation made in https://github.com/operator-framework/operator-sd

[2020-04-27 12:24] #1381 closed

[2020-04-27 21:45] DirectXMan12 commented on #1065
This is totally something we could do in a new `layout` version in v3, and then switch that to the default once 1.15 is out of support.

[2020-04-28 09:39] surajssd commented on #1446
I am sorry if I was not very clear before. I wanted to reduce the steps since they are already in the docs. But anyway these are the exact steps to recreate the issue.

I downloaded the release package(tar) with the instructions mentioned in: https://book.kubebuilder.io/quick-start.html#installation. Which were as follows:

[code]

I saw multiple unrelated binaries(etcd, kube-apiserver, kubectl) s

[2020-04-29 21:05] sophieliu15 opened #1486 "Verifications for resource.Quantity"
I have a field of type `resource.Quantity` in my CRD. I am trying to validate the value in case resource.Quantity#UnmarshalJSON fails on a persisted value. However, I did not find any related [verification markers](https://book.kubebuilder.io/reference/markers/crd-validation.html) for `resource.Quantity`.

Do we need to verify the value is valid? Is there a best practice for how we should verify t

[2020-04-30 10:55] camilamacedo86 commented on #879
/reopen

[2020-04-30 10:56] camilamacedo86 commented on #879
It still a need.

[2020-04-30 16:12] camilamacedo86 commented on #879
Addressed with the implementation of the plugin.
We can close this one.

/close

[2020-05-01 07:27] dmvolod commented on #1299
Yes, it's a problem with the last marker comment block inside the controller-tools/pkg/markers/collect.go implementation

/assign @dmvolod

[2020-05-01 10:47] camilamacedo86 commented on #1299
HI @dmvolod,

The issue should be raised and fix in the controller-tools. Then, when it has a newly released then when it be released we can get it in kubebuilder. since you already move forward by raising the issue in the project and shows working with, could we agree to close this one here?

[2020-05-01 11:34] dmvolod commented on #1299
Hi @camilamacedo86,
Yes, you are right. But we can keep it open until the new version controller-tools has been released.
Just for tracking purpose only.

[2020-05-01 15:52] AKarbas opened #1487 "Documentation needed for `+kubebuilder:scaffold` markers"
Hi!

Please add documentation about the `+kubebuilder:scaffold` markers.

I came across this in the `main.go` generated file of a project I'm currently working on, where there's this line in the imports section, which apparently helps Kubebuilder put import statements there when you create new api-versions.
[code]

Possible landing spots in [CronJob tutorial](https://book.kubebuilder.io/cronjob-tu

[2020-05-01 16:34] estroz commented on #1487
/remove-kind feature
/assign

[2020-05-03 12:30] camilamacedo86 opened #1488 "upgrade the project to use controller-runtime v0.6.0"
**Description**
- upgrade the project to use controller-runtime v0.6.0 and k8s api v0.18.2
NOTES: Has breaking changes. See: https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.6.0
- Currently, it will face broke the addon projects. See:

[code]

Shows that we need to upgrade first the https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/master/go.mod

[2020-05-03 12:37] camilamacedo86 commented on #1476
Hi @sethp-nr,

I am not sure if I understood properly your issue. However, note that you are able to customize the path where the CRD's and webhook will be generated and the commands as you wish in the Makefile created for your project. See:

Is it that you are looking for? If not, could you please provide the info as follows? I think it will make easier understand what is your scenario and what y

[2020-05-03 23:38] #1206 closed

[2020-05-04 00:39] #959 closed

[2020-05-04 00:39] #1155 closed

[2020-05-04 09:59] apasrini opened #1491 "Is there a binary release available for zlinux s390 ?"
Wanted to know if there is a release specific for s390 zlinux platform ?

Release page does not have a s390x build https://github.com/kubernetes-sigs/kubebuilder/releases

[2020-05-04 14:51] drpaneas commented on #1479
I read the contributing docs and it's pretty straight-forwards. I don't think it makes sense to duplicate this information to the book. I just added a link -- which is what I was missing basically, since it explains everything.

https://github.com/kubernetes-sigs/kubebuilder/pull/1494

[2020-05-04 16:55] #1128 closed

[2020-05-04 18:37] camilamacedo86 commented on #888
/close

We decided not to move forward with.

[2020-05-04 18:37] #888 closed

[2020-05-04 19:24] #1479 closed

[2020-05-06 00:21] sethp-nr commented on #1476
I think I'm asking a slightly different question: where do you feel use-cases like [webhooks for core types](https://book.kubebuilder.io/reference/webhook-for-core-types.html) falls in terms of kubebuilder's responsibility? As it stands, it is possible to use kubebuilder to make a process that intercepts core types, but there's definitely a feeling of "fighting the tool."

Put another way:

[code]

[2020-05-06 19:47] camilamacedo86 opened #1496 "RBCA has not been changing to namespace when the marker is updated"
**What did you do?**
- Follow up quick start
- Updated the controller as follows and then, run `make`

[code]

**What did you expect to see?**
All RBCA roles replaced to Namespace permissions.

**What did you see instead? Under which circumstances?**
Just the role.ymal was updated and note the role_binding.yaml. See:
[code]

**NOTES:**

I am as a user I'd like to be able to update all scaffolds fi

[2020-05-06 19:59] camilamacedo86 commented on #1496
HI @joelanford, @estroz, @hasbro17,

Am I missing something here?

[2020-05-07 10:57] zuiurs commented on #1466
I have the same problem.
From Kubernetes 1.18, it seems to come to validate `x-kubernetes-list-type`.
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#other-api-changes

Can any CRD including CronJob work on Kubernetes 1.18?

[2020-05-07 16:31] DirectXMan12 commented on #932
This seems like a decent candidate to use as a test for plugins phase 2 -- it's mostly a matter of preference, and *should* be something that's easily doable under our general deisgn currently.

[2020-05-07 18:53] camilamacedo86 commented on #1488
We will be able to accomplished it when the https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/93 be merged.

c/c @joelanford @estroz

[2020-05-07 18:54] camilamacedo86 commented on #1488
/assing @camilamacedo86

[2020-05-07 18:54] camilamacedo86 commented on #1488
/assign @camilamacedo86

[2020-05-07 22:27] camilamacedo86 commented on #909
Hi folks,

I understand that intentionally we use a specific dep version which was tested. However, if users would like they are able to customize the Makefile as their wish and in this way change the version used by default.

So, I am not sure if has something that we. should or still missing to address here. IHMO I think we can close this one. @DirectXMan12 @mengqiy has any reason for still keep

[2020-05-07 22:35] camilamacedo86 commented on #1429
HI @toonsevrin,

Go 1.13+ setup by default its proxies and the modules are download from there usually. IHMO add a checksum as you suggested is a little overwhelming. However, users are able to customize their Makefile as they wish and then. So, if they think that would be beneficial and required for the work and develop their project check the checksum as you suggested they are able to do it. WDY

[2020-05-07 22:56] camilamacedo86 commented on #1491
HI @apasrini,

The available one for kubebuilder is in https://github.com/kubernetes-sigs/kubebuilder/releases.
IHMO would be ok add supportability for other archs. @DirectXMan12 @mengqiy wdyt? Could we accepted as RFE improve the release script to gen an s390x as well?

Also, if you would like to check SDK has been gen a binary for x390x. See: https://github.com/operator-framework/operator-sdk/re

[2020-05-07 22:56] camilamacedo86 commented on #1491
/kind feature

Add support to gen x390x bin in the release.

[2020-05-07 23:19] camilamacedo86 commented on #1268
HI @DirectXMan12 and @mengqiy,
WDYT about it? What they are requesting here is not how it was in the V1 layout?

c/c @joelanford @estroz @hasbro17

[2020-05-07 23:22] toonsevrin commented on #1429
Yep :) and checksummed against sum.golang.org or something (so an attacker would have to take over sum.golang.org and proxy.golang.org).

And I guess so, I believe checksumming dependencies should be the standard, especially in open-source projects. But as this is an ideological belief (see the note above about this being quite secure), I won't argue you further :)

[2020-05-07 23:28] camilamacedo86 commented on #1279
Hi @Adirio,

Following a few comments inline.

It shows a duplicate of #1251 so I think that can be removed from the scope of this issue. I mean the repo has another issue already to address the same. Also, the PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1492/files probably address it.

The `/docs/book/src/migration/testdata` is used just in the migration guide to help users move forwa

[2020-05-07 23:29] camilamacedo86 commented on #1279
HI @mengqiy @droot,

Do you think that we could remove the V1 to V2 migration guide as a solution to close this one?

[2020-05-07 23:32] camilamacedo86 commented on #1309
HI @Adirio,

I am not sure if we need to use all checks.  regards the missing ones, do you think that all would be really valid to be added or could we close this one?

[2020-05-07 23:34] estroz commented on #1268
Relates to #932. Possible solution:

/lifecycle frozen

[2020-05-07 23:36] camilamacedo86 commented on #1351
HI @droot,

I am ok with the suggestion to add the version in the PROJECT file. Shows very reasonable for me and appears that would simplified the makefile as well. Also, I think if we move forward here we need to add the kustomize version as well.

[2020-05-08 00:06] camilamacedo86 commented on #1382
/assign @camilamacedo86

[2020-05-08 01:07] camilamacedo86 commented on #1383
/assing @camilamacedo86

[2020-05-08 01:07] camilamacedo86 commented on #1383
/assign @camilamacedo86

[2020-05-08 01:31] camilamacedo86 opened #1500 "Build is not working for multi-group"
The Dockerfile is scaffolded with

<img width="438" alt="Screenshot 2020-05-08 at 02 25 07" src="https://user-images.githubusercontent.com/7708031/81360305-6712b580-90d3-11ea-8a3d-b97303572411.png">

And then, for the multigroup structure, we have apis/ instead of api/.

[2020-05-08 01:31] camilamacedo86 commented on #1500
/kind bug

[2020-05-08 01:31] camilamacedo86 commented on #1500
c/c @estroz

[2020-05-08 01:40] camilamacedo86 opened #1501 "Error `/tmp/k8s-webhook-server/serving-certs/tls.crt: no such file or directory"` has been faced"
Error:

[code]

[2020-05-08 01:40] camilamacedo86 commented on #1501
/kind bug

[2020-05-08 01:41] camilamacedo86 commented on #1501
c/c @estroz

[2020-05-08 02:11] camilamacedo86 commented on #1501
Shows that it was already addressed before: https://github.com/kubernetes-sigs/controller-runtime/issues/491

/assing @camilamacedo86

I will keep it open in order to check and see if has anything else that should be addressed here.

[2020-05-08 02:11] camilamacedo86 commented on #1501
/assign @camilamacedo86

[2020-05-08 02:24] camilamacedo86 opened #1503 "Add `make check-testdata` to the prow CI"
This task is for we add in the prow the test which checks if the testdata is updated. The reason for that is avoid broke the CI for the master branch. Following a scenario as an example.

The mod `kubebuilder-declarative-pattern` is added when the testdata add-on project is gen, if it changes after the PR be pushed and the CI finished then, the boot will merge the PR in the master because it will

[2020-05-08 02:24] camilamacedo86 commented on #1503
c/c @mengqiy @alexeldeib

[2020-05-08 02:41] camilamacedo86 commented on #1384
/assign @camilamacedo86

[2020-05-08 02:43] camilamacedo86 commented on #1246
/assign @camilamacedo86

[2020-05-08 07:06] Adirio commented on #1309
I don't think we need them all, but this list will keep them tracked to know which ones we have and which we don't.
I think there is no issue with keeping this Issue opened for that reason.

[2020-05-08 09:54] feloy commented on #592
I also have the problem using reflect.DeepEqual or equality.Semantic.DeepEqual because some fields are set with default non-zero values by some controller (like ImagePullPolicy, RestartPolicy, and so on) if these fields are not set by the operator.

I found this utility function that makes the job for me: it compares only fields that are non-zero in the expected struct:

[code]

[2020-05-08 10:07] camilamacedo86 commented on #1309
Sorry, I am not sure if I understood. So, what is missing to address here for we are able to close tthis issue?

[2020-05-08 10:17] camilamacedo86 commented on #933
/assing @camilamacedo86

c/c @estroz

[2020-05-08 10:23] Adirio commented on #1309
The question is, do we really need to close this? If we do we can probably create a tag or any other way to group this kind of issues that track changes so that we can search them easily when needed even if they are closed.

[2020-05-08 10:36] camilamacedo86 commented on #1309
The tasks represent the needs/requirements that need to be addressed. So, if it has nothing more that should be done because is obsoleted or referred, for example, then the next step would be close it and describe why. See that any task that has no activity for a while will also be closed by the boot.

So, why you would like to keep this open? What is missing to be done here?

[2020-05-08 11:25] camilamacedo86 commented on #1500
/assign @camilamacedo86

[2020-05-08 14:29] camilamacedo86 opened #1508 "Create a doc with the migration steps from V2 to V3"
With the plugin the new project Verison V3 layout was introduced then, IHMO we should before release the final/stable v3 version provide a doc with the migration steps as it was done for V1 to V2.

[2020-05-08 14:30] camilamacedo86 commented on #1508
c/c @estroz @joelanford

[2020-05-08 14:30] camilamacedo86 commented on #1508
/kind documentation

[2020-05-08 15:01] estroz commented on #1508
/assign

[2020-05-08 15:55] feloy opened #1509 "Operator configuration"
When an operator creates resources, for example a Deployment, some fields of the Deployment specs come from the CRD and others are "fixed" values provided by the operator.

It would be nice that kubebuilder provides a placeholder for a configmap or some generic tool that would contain the configuration for the operator.

/kind feature

[2020-05-08 17:46] camilamacedo86 commented on #1402
IHMO the best way we solved it is by doing as suggested here: https://github.com/kubernetes-sigs/kubebuilder/issues/1351

[2020-05-08 17:49] #1488 closed

[2020-05-08 18:21] camilamacedo86 commented on #1126
HI @Adirio,

I have not a Windows system. However, the problem shows that would be solved if we add as pre-requirement use the https://www.cygwin.com/ to work within the windows.

c/c @joelanford @estroz

[2020-05-08 23:20] camilamacedo86 commented on #1509
Hi @feloy,

I am not sure if I could understand your question/request. Kubebuilder will scaffold the project and apis, however, the CRD specs are implemented by you in its *_type.go. Also, any resource/object that you may like to manage via your project/controllers is implemented by you in the reconcile.

In this way, you have full control over what and how it should be done. You can find more inf

[2020-05-09 00:33] camilamacedo86 commented on #1446
HI @surajssd,

Really tks for the info provided. I checked in the code which gen the releases [here](https://github.com/kubernetes-sigs/kubebuilder/blob/master/build/thirdparty/linux/Dockerfile) and then, they are added.

@DirectXMan12 @mengqiy @droot  do you know if has any reason for them be added in the bin?

[2020-05-09 01:16] camilamacedo86 commented on #1474
It shows reasonable for me to allow the verb patch by default as well.  Let's if someone has some reason for we do not move forward with. Done a PR:

[2020-05-09 08:10] feloy commented on #1509
As an example of what I would like to do, you can explore this repo: https://github.com/feloy/website-operator .

Especially, when the operator creates a Deployment, it uses some hardcoded values for resources requests/limits (see https://github.com/feloy/website-operator/blob/master/operator/controllers/static_deployment.go#L133). For separation of concerns reasons, I would like these values to b

[2020-05-09 09:50] camilamacedo86 commented on #1509
HI @feloy,

So, you can define in the API the specs that you wish and then, add the values in the CRs which are instances of the CRDs. In the reconcile you will get these values from the spec of the CR which will be reconciled.

The following are pieces of code as an example to do the exacly the same for you check how you can do it. I mean, for the same Deployment attributes indeed I am using valu

[2020-05-09 09:57] feloy commented on #1509
Hi @camilamacedo86,

I effectively do this for some fields of the Deployment (here for example: https://github.com/feloy/website-operator/blob/master/operator/controllers/static_deployment.go#L115), but I would like to use *two* different sources of information for the values used to create resources (deployments, etc):

- values from the final user, through the CR, different for each CR,
- values

[2020-05-09 10:12] camilamacedo86 commented on #1473
/assign @camilamacedo86

[2020-05-09 10:12] camilamacedo86 commented on #1474
/assign @camilamacedo86

[2020-05-09 10:30] camilamacedo86 commented on #1509
HI @feloy,

Following the comments inline.

Yes, each CR is instead of a CRD. The reconcile will get the values applied in the specific CR that it is reconciling. So, for example, if you apply in the namespace A the CR with values X the Deployment will be created with X. Then, if you apply in the namespace B another CR of the same CRD with values Y then the Deployment will be created with Y.

In t

[2020-05-09 10:32] camilamacedo86 commented on #1509
/assign @camilamacedo86

[2020-05-09 10:32] camilamacedo86 commented on #1509
/kind feature cancel
/kind support

[2020-05-09 10:35] camilamacedo86 commented on #1509
/triage support

[2020-05-09 10:47] camilamacedo86 commented on #1446
HI @surajssd,

By looking in the open issues I found: https://github.com/kubernetes-sigs/kubebuilder/issues/686
then it means that this RFE has been planned as well. I will add this issue therefor we know that +1 is looking for it.

However, shows quite safe we close this one since we have another task for it. I will be closing, but please feel free to re-open if you see that would be required for